@model RevenuePlanner.Models.ResetPasswordModel
@using RevenuePlanner.Helpers
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_ForgotPasswordLayout.cshtml";
}

<div id="ResetPasswordRequirements" class="alert password-requirement-box messagewidth">
    <strong>Password Requirements</strong> <br>
    <span id="spanMessageSuccess">
        Password should contain  minimum 8 characters and  at least one lower case, one upper case, one digit and one special character
    </span>
</div>

@using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post, new { id = "frmResetPassword", @class = "form-forgot-password", name = "reset-password" }))
{
    <div class="cf inputs-aligned-horizontal reset_password" style="position:relative;">
        @*modified by Rahul Shah on 15/09/2015 for PL #1577*@
        <h2 class="primary-title source-sans-prosemibold">Reset Password</h2>
        @Html.HiddenFor(p => p.IsSuccess)
        @if (Model.IsSuccess == false)
        {
            <p class="source-sans-prosemibold" style="float:none;margin-left:auto;width:auto;font-weight:normal;">
                Please enter a new password.
            </p>
            @Html.HiddenFor(p => p.RequestId, new { id = "hdnRequestId" })
            <span class="field-validation-error" id="isCurrentPasswordOk"></span>
            @Html.TextBoxFor(model => model.NewPassword, new { maxlength = "50", @class = "input-block-level conv_helveticaltstd-light", placeholder = "New Password", type = "password" })
            <span id="result"></span>
            @Html.ValidationMessageFor(model => model.NewPassword)

            @Html.TextBoxFor(model => model.ConfirmNewPassword, new { maxlength = "50", @class = "input-block-level conv_helveticaltstd-light", placeholder = "Confirm Password", type = "password" })
            <span id="match"></span>
            @Html.ValidationMessageFor(model => model.ConfirmNewPassword)

            <button id="btnSubmit" class="btn btn-large conv-proximanova-light" type="submit" value="Submit">Update</button>
        }
        else
        {
            <p class="source-sans-prosemibold new-reset" style="font-weight:normal;">
                Password successfully changed. Please sign in to continue.
            </p>
            <a href="@Url.Action("Index", "Login")" class="btn btn-large conv-proximanova-light signin-button" id="SignIn">Sign In</a>
        }
    </div>
}


<script type="text/javascript">

    $(document).ready(function () {
        //Added By Maitri Gandhi on 13/4/2016
        if ('@ViewBag.Expired' != null && '@ViewBag.Expired' != '') {
            setErrorMessage('@ViewBag.Expired');
        }

        $("#ReturnToSignIn").css("display", "none");

        if ($('#cErrors').html() == '') {
            $("#errorMessage").slideUp(400);
        }
        else {
            $("#errorMessage").slideDown(400);
        }

        $('#btnSubmit').click(function () {
            //Modified by Maitri: No to redirect on Login while null values in textboxes
            var nullValues = false;
            $('.forgot-password-wrapper :input[type="password"]').each(function () {
                var input = $(this).val();
                if (input == '') {
                    $(this).addClass("error");
                    setErrorMessage('@Common.objCached.HilightedFieldRequire');
                    showErrorMessage();
                    nullValues = true;
                } else {
                    $(this).removeClass("error");
                    setErrorMessage('');
                    showErrorMessage();
                }
            });
            if (nullValues == true) {
                nullValues = false;
                return false;
            }
            //if ($("#NewPassword").val().length < 8 || $("#ConfirmNewPassword").val().length < 8) {
            //    //$('#result').removeClass();
            //    $("#ConfirmNewPassword").addClass("error");
            //    $("#NewPassword").addClass("error");
            //    return false;
            //}

            //Added By Maitri Gandhi on 8/4/2016 for #2105
            if ($('#result').text() != '' && $('#result').text().toLowerCase() == 'too short') {
                $('#result').removeClass();
                $('#result').addClass('check-icon-red');
                $('#result').prop('title', 'Minimum 8 characters required');
                $('#NewPassword').prop('title', 'Minimum 8 characters required');
                $("#NewPassword").addClass("error");
                return false;
            }

            if ($('#result').text() != '' && $('#result').text().toLowerCase() == 'weak') {
                $('#result').removeClass();
                $('#result').addClass('check-icon-red');
                $('#result').prop('title', 'Password should contain at least one lower case, one upper case, one digit and one special character');
                $('#NewPassword').prop('title', 'Password should contain at least one lower case, one upper case, one digit and one special character');
                $("#NewPassword").addClass("error");
                return false;
            }

            //check whether or not new password is same as of confirm new password
            var connewpwd = $('#ConfirmNewPassword').val();
            var newpwd = $('#NewPassword').val();
            if (connewpwd != newpwd) {
                //$('#result').removeClass()
                //$('#result').html()
                //$('#result').addClass('field-validation-error')
                //$('#isCurrentPasswordOk').html('New and confirm new password must be same.')
                setErrorMessage('@Common.objCached.ValidatePaswordMustSameAsConfirm');
                showErrorMessage();

                return false;
            }
        });

        //function to add or remove class ERROR when inputs text are empty.
        $('input').blur(function () {
            if ($(this).val() == '') {
                $(this).addClass("error");
            } else {
                $(this).removeClass("error");
            }

        });
        /*close x event on message*/
        $(".close").click(function (e) {
            e.stopPropagation();
            e.preventDefault();
            $(this).closest(".alert").slideUp(400);
        });

        if ($('#SuccMsg').val() == null || $('#SuccMsg').val() == '') {
            $("#successMessage").slideUp(400);
        }
        else {
            $("#successMessage").slideDown(1200);
            $("#successMessage").slideUp(3000);
        }
    });

    $('#NewPassword').blur(function () {
        $('#isCurrentPasswordOk').html('');
        if (this.value != null && this.value != '') {
            var UserId = $("#hdnRequestId").val();
            $.ajax(
            {
                type: "GET",
                cache: false,
                url: '@Url.Action("CheckCurrentPassword", "Login")',//Modified by Komal Rawal to solve elmah error on reset password for #2163
                //  url: 'CheckCurrentPassword',
                data: {
                    currentPassword: this.value,
                    requestId: UserId
                },
                dataType: "json",
                success: function (data) {
                    if (data.serviceUnavailable != 'undefined' && data.serviceUnavailable == '#') {
                        //// Function to redirect to login page on unavailability of web service.
                        //// Added By: Maninder Singh Wadhva on 11/24/2014.
                        //// Ticket: 942 Exception handeling in Gameplan.
                        window.location = '@Url.Content(Common.RedirectOnServiceUnavailibilityPage)';
                    }
                    else {
                        if (data == '0') {
                            //$('#isCurrentPasswordOk').html('New password should not be same as old password.');
                            setErrorMessage('@Common.objCached.ValidatePasswordCannotSameAsOld');
                            showErrorMessage();
                            $("#NewPassword").addClass("error");
                        }
                        else if (data == '2') {
                            setErrorMessage('@Common.objCached.InValidRequestIdMessage');
                            showErrorMessage();
                            $("#NewPassword").addClass("error");
                        }
                        else {
                            //$('#isCurrentPasswordOk').html('');
                            setErrorMessage('');
                            showErrorMessage();
                        }
                    }
                },
                error: function () {
                    setErrorMessage('');
                    showErrorMessage();
                    //$('#isCurrentPasswordOk').html('');

                }
            });
        }
    });

    $('#NewPassword').keyup(function (event) {
        $('#result').removeClass()
        $('#result').html('')
        if ($('#NewPassword').val() != '') {
            $('#result').html(checkStrength($('#NewPassword').val()))
        }
    });

    //Added By Maitri Gandhi on 26/4/2016 for #2131
    $('#NewPassword').focusout(function () {
        var result = checkStrength($('#NewPassword').val());
        if (result == "Too short") {
            $("#cErrors").text('Minimum 8 characters required.');
            $("#errorMessage").slideDown(400);
            return false;
        }
        else if (result == "Strong") {
            $("#cErrors").text('');
            $("#errorMessage").slideUp(400);
        }
        else if (result == "Good") {
            $("#cErrors").text('');
            $("#errorMessage").slideUp(400);
        }
        else if (result == "Weak") {
            $("#cErrors").text('Password should contain at least one lower case, one upper case, one digit and one special character.');
            $("#errorMessage").slideDown(400);
            return false;
        }
    });

    function checkCurrentNew() {
        var currpwd = $('#CurrentPassword').val();
        var newpwd = $('#NewPassword').val();
        if (currpwd == newpwd) {
            $('#result').removeClass()
            $('#result').html()
            $('#result').addClass('field-validation-error')
            return "@Common.objCached.ValidatePassowordCannotSameAsCurrent";
        }
    }

    $('#ConfirmNewPassword').keyup(function (event) {
        $('#match').removeClass()
        $('#match').html('')
        if (($('#ConfirmNewPassword').val() != '') && ($('#NewPassword').val() != ''))
            $('#match').html(checkMatch($('#ConfirmNewPassword').val(), $('#NewPassword').val()))
    });

    function checkMatch(password1, password2) {
        $('#match').removeClass()
        if (password1 == password2) {
            $('#match').addClass('check-icon-green')
            return "Match";
        } else {
            $('#match').addClass('check-icon-red')
            return "Don't match";
        }
    }

    function setErrorMessage(msg) {
        if (msg == '') {
            $("#cErrors").html('');
        }
        else {
            $("#cErrors").html('<div class="validation-summary-errors"><ul><li>' + msg + '</li></ul></div>');
        }
    }

    function showErrorMessage() {
        if ($('#cErrors').html() == '') {
            $("#errorMessage").slideUp(400);
        }
        else {
            $("#errorMessage").slideDown(400);
        }
    }

    function checkStrength(password) {

        //initial strength
        var strength = 0

        //check if current password & new password are same or not
        //if ($('#CurrentPassword').val() != '' && password != '') {
        //    if ($('#CurrentPassword').val() == password) {
        //        $('#result').removeClass()
        //        $('#result').addClass('check-icon-red')
        //        return 'Same as current password'
        //    }
        //}

        //Modified By Maitri Gandhi on 8/4/2016 for #2105
        //if the password length is less than 6, return message.
        if (password.length < 8) {
            $('#result').removeClass()
            $('#result').addClass('check-icon-red');
            $('#result').prop('title', 'Minimum 8 characters required');
            $('#NewPassword').prop('title', 'Minimum 8 characters required');
            return 'Too short'
        }
        //Added By Maitri Gandhi on 4/7/2016
        if (password.match(/([a-z])/) && password.match(/([A-Z])/) && password.match(/([0-9])/) && password.match(/([@@,#,$,%,^,&,*,_,+,|,~,!,?,.,\-,=,\\,`,:,\",;,',(,),{,},\],\[,<,>,\/])/)) {
            if (password.match(/(.*[@@,#,$,%,^,&,*,_,+,|,~,!,?,.,\-,=,\\,`,:,",;,',(,),{,},\],\[,<,>,\/].*[@@,#,$,%,^,&,*,_,+,|,~,!,?,.,\-,=,\\,`,:,\",;,',(,),{,},\],\[,<,>,\/])/)) {
                $('#result').removeClass()
                $('#result').addClass('check-icon-green')//strong
                $('#result').prop('title', '');
                $('#NewPassword').prop('title', '');
                return 'Strong'
            }
            $('#result').removeClass()
            $('#result').addClass('check-icon-green')//good)
            $('#result').prop('title', '');
            $('#NewPassword').prop('title', '');
            return 'Good'
        }
        else {
            $('#result').removeClass()
            $('#result').addClass('check-icon-red')//weak
            $('#result').prop('title', 'Password should contain at least one lower case, one upper case, one digit and one special character');
            $('#NewPassword').prop('title', 'Password should contain at least one lower case, one upper case, one digit and one special character');
            return 'Weak'
        }
    }

</script>

