@model RevenuePlanner.Models.ResetPasswordModel

@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_ForgotPasswordLayout.cshtml";
}

@using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post, new { id = "frmResetPassword", @class = "form-forgot-password", name = "reset-password" }))
{
    <div class="cf inputs-aligned-horizontal">
        <h2 class="primary-title source-sans-prosemibold">Reset Password</h2>
        @Html.HiddenFor(p => p.IsSuccess)
        @if (Model.IsSuccess == false)
        {
            @Html.HiddenFor(p => p.UserId, new { id = "hdnUserId" })
            <span class="field-validation-error" id="isCurrentPasswordOk"></span>
            @Html.TextBoxFor(model => model.NewPassword, new { @class = "input-block-level conv_helveticaltstd-light", placeholder = "New Password", type = "password" })
            <span id="result"></span>
            @Html.ValidationMessageFor(model => model.NewPassword)

            @Html.TextBoxFor(model => model.ConfirmNewPassword, new { @class = "input-block-level conv_helveticaltstd-light", placeholder = "Confirm Password", type = "password" })
            <span id="match"></span>
            @Html.ValidationMessageFor(model => model.ConfirmNewPassword)

            <button id="btnSubmit" class="btn btn-large conv-proximanova-light" type="submit" value="Submit">Submit</button>
        }
        else
        {
            <p class="conv-proximanova-light new-reset">
                Password successfully changed. Please sign in to continue.
            </p>
            <a href="@Url.Action("Index", "Login")" class="btn btn-large conv-proximanova-light signin-button" id="SignIn">Sign In</a>
        }
    </div>
}


<script type="text/javascript">

    $(document).ready(function () {

        $("#ReturnToSignIn").css("display", "none");

        if ($('#cErrors').html() == '') {
            $("#errorMessage").slideUp(400);
        }
        else {
            $("#errorMessage").slideDown(400);
        }

        $('#btnSubmit').click(function () {
            $('#content :input').each(function () {
                var input = $(this).val();
                if (input == '') {
                    $(this).addClass("error");
                } else {
                    $(this).removeClass("error");
                }
            });

            if ($("#NewPassword").val().length < 8 || $("#ConfirmNewPassword").val().length < 8) {
                //$('#result').removeClass();
                $("#ConfirmNewPassword").addClass("error");
                $("#NewPassword").addClass("error");
                return false;
            }

            //check whether or not new password is same as of confirm new password
            var connewpwd = $('#ConfirmNewPassword').val();
            var newpwd = $('#NewPassword').val();
            if (connewpwd != newpwd) {
                //$('#result').removeClass()
                //$('#result').html()
                //$('#result').addClass('field-validation-error')
                $('#isCurrentPasswordOk').html('New and confirm new password must be same.')
                return false;
            }
        });

        //function to add or remove class ERROR when inputs text are empty.
        $('input').blur(function () {
            if ($(this).val() == '') {
                $(this).addClass("error");
            } else {
                $(this).removeClass("error");
            }

        });
        /*close x event on message*/
        $(".close").click(function (e) {
            e.stopPropagation();
            e.preventDefault();
            $(this).closest(".alert").slideUp(400);
        });

        if ($('#SuccMsg').val() == null || $('#SuccMsg').val() == '') {
            $("#successMessage").slideUp(400);
        }
        else {
            $("#successMessage").slideDown(1200);
            $("#successMessage").slideUp(3000);
        }
    });

    $('#NewPassword').blur(function () {
        $('#isCurrentPasswordOk').html('');
        if (this.value != null && this.value != '') {
            var UserId = $("#hdnUserId").val();
            $.ajax(
            {
                type: "GET",
                cache: false,
                url: 'CheckCurrentPassword',
                data: {
                    currentPassword: this.value,
                    userId: UserId
                },
                dataType: "json",
                success: function (data) {
                    if (data == '0') {
                        $('#isCurrentPasswordOk').html('New password should not be same as old password.');
                        $("#NewPassword").addClass("error");
                    }
                    else {
                        $('#isCurrentPasswordOk').html('');
                    }
                },
                error: function () {
                    $('#isCurrentPasswordOk').html('');
                    //GoToLogin();
                }
            });
        }
    });

    $('#NewPassword').keyup(function (event) {
        $('#result').removeClass()
        $('#result').html('')
        if ($('#NewPassword').val() != '') {
            $('#result').html(checkStrength($('#NewPassword').val()))
        }
    });

    function checkCurrentNew() {
        var currpwd = $('#CurrentPassword').val();
        var newpwd = $('#NewPassword').val();
        if (currpwd == newpwd) {
            $('#result').removeClass()
            $('#result').html()
            $('#result').addClass('field-validation-error')
            return "New and current password cannot be same.";
        }
    }

    $('#ConfirmNewPassword').keyup(function (event) {
        $('#match').removeClass()
        $('#match').html('')
        if (($('#ConfirmNewPassword').val() != '') && ($('#NewPassword').val() != ''))
            $('#match').html(checkMatch($('#ConfirmNewPassword').val(), $('#NewPassword').val()))
    });

    function checkMatch(password1, password2) {
        $('#match').removeClass()
        if (password1 == password2) {
            $('#match').addClass('check-icon-green')
            return "Match";
        } else {
            $('#match').addClass('check-icon-red')
            return "Don't match";
        }
    }

    function checkStrength(password) {

        //initial strength
        var strength = 0

        //check if current password & new password are same or not
        //if ($('#CurrentPassword').val() != '' && password != '') {
        //    if ($('#CurrentPassword').val() == password) {
        //        $('#result').removeClass()
        //        $('#result').addClass('check-icon-red')
        //        return 'Same as current password'
        //    }
        //}

        //if the password length is less than 6, return message.
        if (password.length < 8) {
            $('#result').removeClass()
            $('#result').addClass('check-icon-red')
            return 'Too short'
        }

        //length is ok, lets continue.

        //if length is 8 characters or more, increase strength value
        if (password.length > 7) strength += 1

        //if password contains both lower and uppercase characters, increase strength value
        if (password.match(/([a-z].*[A-Z])|([A-Z].*[a-z])/)) strength += 1

        //if it has numbers and characters, increase strength value
        if (password.match(/([a-zA-Z])/) && password.match(/([0-9])/)) strength += 1

        //if it has one special character, increase strength value
        if (password.match(/([!,%,&,@@,#,$,^,*,?,_,~])/)) strength += 1

        //if it has two special characters, increase strength value
        if (password.match(/(.*[!,%,&,@@,#,$,^,*,?,_,~].*[!,",%,&,@@,#,$,^,*,?,_,~])/)) strength += 1

        //now we have calculated strength value, we can return messages

        //if value is less than 2
        if (strength < 2) {
            $('#result').removeClass()
            $('#result').addClass('check-icon-red')//weak
            return 'Weak'
        } else if (strength == 2) {
            $('#result').removeClass()
            $('#result').addClass('check-icon-green')//good)
            return 'Good'
        } else {
            $('#result').removeClass()
            $('#result').addClass('check-icon-green')//strong
            return 'Strong'
        }
    }

</script>

