@using RevenuePlanner.Helpers;
@{
    var popupvalue = (string)ViewBag.InspectPopup;
}
@Html.Hidden("hdnPopup", popupvalue, new { id = "hdnInspectPopup" })
@Html.Display(popupvalue)
<buttom class="close-x-icon" data-dismiss="modal" aria-hidden="true"></buttom>
@{
    var campaignMaster = (RevenuePlanner.Models.InspectModel)ViewBag.CampaignDetail;
}
@Html.Hidden("hdnPlanCampaignId", campaignMaster.PlanCampaignId, new { id = "hdnPlanCampaignId" })
@Html.Hidden("hdnCampaignStatus", campaignMaster.Status, new { id = "hdnCampaignStatus" })
<div>
    <span class="icon-flag bg-purple" style="background-color:#@campaignMaster.ColorCode !important;"></span>
    <h2 class="title-simple source-sans-prolight">@campaignMaster.CampaignTitle
    @Html.ActionLink(" ", "Assortment", "Plan", new { campaignId = campaignMaster.PlanCampaignId, programId = 0 , tacticId = 0, EditObject = "Campaign", ismsg = "" }, new { @class = "edit-icon"})</h2>
</div>
<div>

    <ul class="nav nav-tabs new-margin" id="InspectTab">
        <li class="active pull-left" id="liSetup">
            <a>Setup</a>
        </li>
        <li class="pull-left" id="liReview">
            <a>Review</a>
        </li>
        <li id="status-option" class="source-sans-pro pull-right">
            <p class="status-option-title hide" style="display: block;">Status: </p>
           @*    added by uday for PL #509*@
            @if (campaignMaster.Status == Enums.TacticStatusValues.Single(tacticStatus => tacticStatus.Key.Equals(Enums.TacticStatus.Submitted.ToString())).Value)
            {
                <span class="status-option statussubmitted">@campaignMaster.Status</span>
            }
            else if (campaignMaster.Status == Enums.TacticStatusValues.Single(tacticStatus => tacticStatus.Key.Equals(Enums.TacticStatus.Decline.ToString())).Value)
            {
                <span class="status-option statusrejected">@campaignMaster.Status</span>
            }
            else if (campaignMaster.Status == Enums.TacticStatusValues.Single(tacticStatus => tacticStatus.Key.Equals(Enums.TacticStatus.Complete.ToString())).Value ||
                     campaignMaster.Status == Enums.TacticStatusValues.Single(tacticStatus => tacticStatus.Key.Equals(Enums.TacticStatus.InProgress.ToString())).Value ||
                     campaignMaster.Status == Enums.TacticStatusValues.Single(tacticStatus => tacticStatus.Key.Equals(Enums.TacticStatus.Approved.ToString())).Value)
            {
                <span class="status-option statusapproved">@campaignMaster.Status</span>
            }
            else if (campaignMaster.Status == Enums.TacticStatusValues.Single(tacticStatus => tacticStatus.Key.Equals(Enums.TacticStatus.Created.ToString())).Value)
            {
                <span class="status-option statuscreated">@campaignMaster.Status</span>
            }
        </li>
    </ul>
    <div id="divTab">
    </div>
</div>

<script type="text/javascript">

    var divPartial = "#divPartial";
    var TabSetup = "Setup";
    var TabReview = "Review";

    var divTab = "#divTab";

    $(document).ready(
      function () {

          var InspectValue = $("#hdnInspectPopup").val();
          var planCampaignId = $("#hdnPlanCampaignId").val();
          // Call Remove Tabclass
          RemoveTabClass();

          $("#li" + InspectValue).removeClass("pull-left");
          $("#li" + InspectValue).addClass("active pull-left");
          var tabtext = ($("#li" + InspectValue).children('a').text());
          $('#div' + tabtext).css({ display: "block" });

          loadReview(planCampaignId, tabtext);

          // Click on Tab Partialview Refresh Based On Selected Tab
          $(".pull-left").on("click", function () {
              RemoveTabClass();
              $(this).removeClass("pull-left");
              $(this).addClass("active pull-left");
              $("#errorMessage").css("display", "none");
              $("#successMessage").css("display", "none");
              /*Changed by Nirav Shah for Inspect pop-up screen : CSS changes as per new HTML on 13 feb 2014*/
              var topsize = $(document).scrollTop();
              $("#modal-container-186470").css("top", topsize + "px");/*end changes*/
              var tabtext = ($(this).children('a').text());
              var planTacticId = $("#hdnPlanTacticId").val();
              loadReview(planCampaignId, tabtext);

          });

          // Close event for Error Message & Success Message Close button 
          $(".alert").find(".close").on("click", function (e) {
              e.stopPropagation();
              e.preventDefault();
              $(this).closest(".alert").css("display", "none");
              /*Changed by Nirav Shah for Inspect pop-up screen : CSS changes as per new HTML on 13 feb 2014*/
              var topsize = $(document).scrollTop();
              $("#modal-container-186470").css("top", topsize + "px");
          });

      });

    function RemoveTabClass() {
        $('#InspectTab').children().each(function () {
            if ($(this).hasClass('active pull-left')) {
                $(this).removeClass("active pull-left");
                $(this).addClass("pull-left");
            }
        });
    }

    function loadReview(id, tabValue) {


        $.ajaxSetup({ cache: false });
        var url;
        if (tabValue == TabSetup) {
            url = '@Url.Content("~/Home/LoadSetupCampaign/")';
        }
        if (tabValue == TabReview) {
            url = '@Url.Content("~/Home/LoadReviewCampaign/")';
          }


          RemoveTabClass();
          $("#li" + tabValue).removeClass("pull-left");
          $("#li" + tabValue).addClass("active pull-left");
          $('#div' + tabValue).css({ display: "block" });

          $("#divTab").empty();

          $("#divTab").load(url + '?id=' + id);
      }

</script>
