@model RevenuePlanner.Models.HomePlan
@using RevenuePlanner.Helpers;

<ul class="nav nav-tabs home-content-header" style="margin-left:24px;">
    <li class="title-header source-sans-proregular bold font-size25px" style="padding-top:5px;">
      @* @if (Model.plans != null && Model.plans.Count > 0)
       {
        <form id="nl-form2" class="nl-form-plan-title without-margin plantitle" style="display:none;">

            <select id="dropdown-plan-title" data-default="0%" class="" maxlength="40" style="display:none;" >
                <script>
                    var plan = @Html.Raw(Json.Encode(Model.plans))
                    populateNF(plan, "dropdown-plan-title");
                </script>
            </select>
            <div class="nl-overlay"></div>
            <script>
                var nlform = new NLForm(document.getElementById('nl-form2'));
            </script>

        </form>
       }*@
        @*<h2 id="lblMarkringActivitiestitle" style="font-size: 23px;display:none;">Marketing Activities</h2>*@
    </li>
   
    @*Modified by Komal Rawal for 2013 Home/Plan Layout changes*@
    <li style="padding-top:5px;" id="liplanrequest">
        <div class="request-icons hide" id="BtnTabIcons">

            <div class="request-icon-block" id="divPlanButton" title="Calendar View"><a href="#" class="new-btn-plan request-btn-active"><i class="fa fa-calendar"></i></a></div>
            <div class="request-icon-block" id="divPlanEditButtonHome" title="Grid View"><a href="#" class="request-icon-link" id="btngrid"><i class="fa fa-table"></i></a></div>
            <div class="request-icon-block" id="BudgetIcon" title="View Budget and Cost" style="display:none" onclick="CallBudget()"><a href=" #" class="request-icon-link"><i class="fa fa-money"></i></a></div>

            <div class="request-icon-block" id="RequestTab"><a href="#" class="request" title="Requests"><i class="fa fa-thumbs-o-up"></i><span class="counter badge"></a></span></div>
	    </div>
    </li>
    
    <div style="float: right;margin-bottom: 10px; margin-right: -15px" id="divupcomingact">
                @Html.Label("Time Frame:", new { id = "lblUpcoming_Activies" })    @* Modified by : Sohel Pathan on 29/10/2014 for PL ticket #899 *@
            <span class="selectBox" id="ddlUpComingActivitesSelectBox" style="width: 127px;">
                @*Modified by nishant sheth : to avoid double server trip and to select dfault range for time frame option*@
                @Html.DropDownList("ddlUpComingActivites", ((System.Collections.IEnumerable)ViewBag.ViewUpComingActivity) as List<SelectListItem>, new { @class = "hide" }) 
            </span>
            @Html.Label("View By:", new { id = "lblViewBy" })
            @Html.DropDownList("ddlTabViewBy", new SelectList((System.Collections.IEnumerable)ViewBag.ViewByTab, "Value", "Text", @RevenuePlanner.Helpers.PlanGanttTypes.Tactic.ToString()), new { @class = "hide" })
        </div>
</ul>
@*<script src="~/Scripts/js/scripts.js"></script>*@
<script type="text/javascript">
    $(document).ready(function () {
        $(".selectBox select").selectbox();
        $("#ddlTabViewBy").multiselect({
            multiple: false,
            noneSelectedText: "Please Select",
            selectedList: 1,
            CustomCampaignName: "@Common.CampaignCustomTitle",
            CustomProgramName: "@Common.ProgramCustomTitle",
            CustomTacticName: "@Common.TacticCustomTitle",
            classes: 'custom-right-pos', // Added by Sohel Pathan on 11/11/2014 for PL ticket #934, NOTE : Please don't change class name, it is used in js.
            IsTacticSection: "TACTIC SECTION"
        }).multiselectfilter({
            CustomCampaignName: "@Common.CampaignCustomTitle",
            CustomProgramName: "@Common.ProgramCustomTitle",
            CustomTacticName: "@Common.TacticCustomTitle",
        });
        filters.SelectedPlans = [];
        $('#ulSelectedPlans').find("input[type=checkbox]").each(function () {
            if ($(this).attr('checked') == 'checked') {
                var chkid = $(this).attr("id");
                if (chkid != undefined && chkid != 'undefined') {
                    filters.SelectedPlans.push(chkid);
                }
            }
        });

        if (filters.SelectedPlans.length == 1) {
            CurrentPlanId = filters.SelectedPlans[0].toString();
            $("#CurrentPlanId").val(filters.SelectedPlans[0].toString());

        }
        var SelectedPlans = filters.SelectedPlans.toString();
       
        //Modified by komal rawal for #1750
        // Commented by Nishant Sheth
        // Desc : To Avoid double server trip and select default range of year
        @*if (activeMenu == '@Enums.ActiveMenu.Home.ToString().ToLower()') {
            //BindUpcomingActivites(SelectedPlans);
        }*@
        
        Currenttime = $('#ddlUpComingActivites').val();
        isQuater = Currenttime;
        //End
        onClickPlanTitle();
        SetAttributeData();

        var Tabid = 'liCalender';
        if ($('#IsGridView').val() == "True") {
            $("#CalenderView").hide();
            $('#btngrid').addClass('request-btn-active');
            $('.new-btn-plan').removeClass('request-btn-active');
            Tabid = 'liGrid';// Add By Nishant Sheth Desc header value wrong with plan tab
        }
        else {
            RefreshCurrentTab();
        }

        //Modified by Komal Rawal for 2013 Home/Plan Layout changes
        if (activeMenu == '@Enums.ActiveMenu.Plan.ToString().ToLower()') {
            if ($('#IsGridView').val() != "True") {
                GetCollaborators(CurrentPlanId);
            }
            else
            {
                $("#RequestTab").hide();
            }
          //  $("#lblMarkringActivitiestitle").show();
           // $("#nl-form2").show();
            $("#BudgetIcon").show();
            $("#BtnTabIcons").addClass("bdrRadius");
        }
        else {
          //  $("#nl-form2").hide();
            $("#BudgetIcon").hide();
          
        }
        $('.request-icons').show();
        //Added for the case of "Select All" custom field By Maitri Gandhi on 26/2/2016
        var CheckedCounter = 0, AllCounter = 0, id = null;
        $("#divCustomFieldsFilter").find("div.accordion").each(function () {
            if ($(this).find("input[type=checkbox]") != null || $(this).find("input[type=checkbox]") != "") {
                AllCounter = $(this).find("input[type=checkbox]").length;
                CheckedCounter = $(this).find("input[type=checkbox]:checked").length;
                if (AllCounter == CheckedCounter) {
                    id = this.id;
                    if (id != null && id != "" && id.indexOf("-") > -1) {
                        id = this.id.split("-")[1];
                    }
                    var i = 0, customfieldid;
                    for (i = 0; i < filters.customFieldIds.length; i++) {
                        if (filters.customFieldIds[i].indexOf("_") > -1) {
                            customfieldid = filters.customFieldIds[i].split("_")[0];
                            if (id == customfieldid) {
                                filters.customFieldIds.splice(i, 1);
                                i--;
                            }
                        }
                    }
                }
            }
        });        ////End
        GetHealderData(SelectedPlans, filters.customFieldIds, filters.OwnerIds, filters.TacticTypeids, filters.StatusIds, Tabid);// Modified By Nishant Sheth Desc header value wrong with plan tab
        GetNumberOfActivityPerMonByPlanId(SelectedPlans, Currenttime, filters.customFieldIds, filters.OwnerIds, filters.TacticTypeids, filters.StatusIds);
    });

    $("#ddlTabViewBy").change(function () {
        ExportSelectedIds = {
            TaskID: [],
            Title: [],
            ColorCode: [],
            OwnerName: [],
            TacticType: [],
            PlanFlag: []
        };

        requestPlanActiveTab(false);
        RefreshCurrentTab();
    });
    $('.new-btn-plan').click(function () {

        //Modified by Komal Rawal for 2013 Home/Plan Layout changes
        $("#RequestTab").show();
        if ($('#IsGridView').val() == "True") {
            ChangeTabView(CalendarId);
            requestPlanActiveTab(false);
        }
        else {
        isRequest = false;
        $("#ddlTabViewBy").find("option[value= @PlanGanttTypes.Tactic.ToString()]").prop("selected", "selected");
        $("#ddlTabViewBy").multiselect('refresh');
        $("#ddlTabViewBy").trigger('change');
        requestPlanActiveTab(false);
        //Modified by komal rawal for #1283
        $(".sidebar-section #ulTacticType").find(' li .TacticNumber').each(function () {
            var oldvalue = $(this).attr("Previousvalue");
            var setvalue = $(this).html(oldvalue);
    });
        }
    });
    $('.request').click(function () {
        ExportSelectedIds = {
            TaskID: [],
            Title: [],
            ColorCode: [],
            OwnerName: [],
            TacticType: [],
            PlanFlag: []
        };
        isRequest = true;
        requestPlanActiveTab(isRequest);
        getViewByList = true;
        RefreshCurrentTab();
        //Modified by komal rawal for #1283
        $(".sidebar-section #ulTacticType").find(' li .TacticNumber').each(function () {
            var setvalue = $(this).html("0");
        });
    });


    $("#ddlUpComingActivites").change(function () {
        filters.SelectedPlans = [];
        $('#ulSelectedPlans').find("input[type=checkbox]").each(function () {
            if ($(this).attr('checked') == 'checked') {
                var chkid = $(this).attr("id");
                if (chkid != undefined && chkid != 'undefined') {
                    filters.SelectedPlans.push(chkid);
                }
            }
        });
        if (filters.SelectedPlans.length == 1) {
            CurrentPlanId = filters.SelectedPlans[0].toString();
            $("#CurrentPlanId").val(filters.SelectedPlans[0].toString());

        }
        var TempPlanIds;
        if (activeMenu == '@Enums.ActiveMenu.Plan.ToString().ToLower()') {
            TempPlanIds = CurrentPlanId;
        }
        else {
            TempPlanIds = filters.SelectedPlans.toString();
        }
        
            Currenttime = $('#ddlUpComingActivites').val();
            isQuater = Currenttime;
            RefreshCurrentTab();
            GetHealderData(TempPlanIds,filters.customFieldIds,filters.OwnerIds,filters.TacticTypeids, filters.StatusIds);
            GetNumberOfActivityPerMonByPlanId(TempPlanIds, Currenttime, filters.customFieldIds, filters.OwnerIds, filters.TacticTypeids, filters.StatusIds);
    });

    $('.sbHolder').click(function () {
        $("#ddlTabViewBy").multiselect("close");//"Close" is function in multiselect.js which close the multiselect menu 
    });

    // Start - Added by Sohel Pathan on 06/11/2014 for PL ticket #934
    $('.selectBox').click(function () {
        $('#ddlTabViewBy').multiselect("close");
    });
    // End - Added by Sohel Pathan on 06/11/2014 for PL ticket #934
    function requestPlanActiveTab(isRequestTab) {
        if (isRequestTab) {
            $('.new-btn-plan').removeClass('request-btn-active');
            $('.request').addClass('request-btn-active');
            $('#btngrid').removeClass('request-btn-active');
        }
        else {
            $('.new-btn-plan').addClass('request-btn-active');
            $('.request').removeClass('request-btn-active');
            $('#btngrid').removeClass('request-btn-active');
        }
    }
    //Added by Komal Rawal for 2013 Home/Plan Layout changes
    $('#divPlanEditButtonHome').click(function () {
        $("#divupcomingact").hide();
        $("#RequestTab").hide();
        $("#BudgetIcon").show();
        $("#BtnTabIcons").addClass("bdrRadius");
        $('.new-btn-plan').removeClass('request-btn-active');
        $('.request').removeClass('request-btn-active');
        $('#btngrid').addClass('request-btn-active');
        if (activeMenu == '@Enums.ActiveMenu.Home.ToString().ToLower()') {
            EditPlanHome();
        }
        else
        {
            ChangeTabView(GridId);
        }
    });
    //End
</script>

