@model RevenuePlanner.Models.HomePlan
@using RevenuePlanner.Helpers;

<ul class="nav nav-tabs" style="margin-top:25px;">
    <li class="title-header source-sans-proregular bold font-size25px">

        <form id="nl-form2" class="nl-form-plan-title without-margin plantitle" style="display:none;">

            <select id="dropdown-plan-title" data-default="0%" class="" maxlength="40">
                <script>
                    var plan = @Html.Raw(Json.Encode(Model.plans))
                    populateNF(plan, "dropdown-plan-title");
                </script>
            </select>
            <div class="nl-overlay"></div>
            <!--<div class="nl-overlay"></div>-->
            <script>
                var nlform = new NLForm(document.getElementById('nl-form2'));
            </script>

        </form>
        <h2 id="lblMarkringActivitiesTitle" style="font-size: 29.5px;display:none;">Marketing Activities</h2>
    </li>
    <li>
        <div class="request-icons">
		     <div class="request-icon-block"><a href="#"><img src="~/Images/icon-2.png" /></a><span class="counter"></span></div>
	    </div>
    </li>
    @*<li>*@
         <div style="float: right;margin-bottom: 10px;">
                 @Html.Label("Time Frame:", new { id = "lblUpcoming_Activies" })    @* Modified by : Sohel Pathan on 29/10/2014 for PL ticket #899 *@
                <span class="selectBox" id="ddlUpComingActivitesSelectBox" style="width: 158px;">
                    @Html.DropDownList("ddlUpComingActivites", new SelectList((System.Collections.IEnumerable)ViewBag.ViewUpComingActivity, "Value", "Text",DateTime.Now.Year.ToString()))
                </span>
                @Html.Label("View By:", new { id = "lblViewBy" })
                @*<span class="selectBox" id="ddlTabSelectBox" style="width: 158px;">*@
                    @Html.DropDownList("ddlTabViewBy", new SelectList((System.Collections.IEnumerable)ViewBag.ViewByTab, "Value", "Text", @RevenuePlanner.Helpers.PlanGanttTypes.Tactic.ToString()))
                @*</span>*@
            </div>
    @*</li>*@
    @*<li class="active pull-right">
        <a id="ATactics" href="#">Tactics</a>
    </li>
    <li class=" pull-right">
        <a id="AVertical" href="#">Vertical</a>
    </li>
    <li class=" pull-right">
        <a id="AStage" href="#">Stage</a>
    </li>
    <li class=" pull-right">
        <a id="AAudience" href="#">@Html.CustomLabelFor(Enums.CustomLabelCode.Audience)</a>
    </li>
    @if (Model.IsManager) 
    {
        <li class=" pull-right">
            <a id="ABusinessUnit" href="#">Business Unit</a>
        </li>
        <li class=" pull-right">
            <a id="ARequest" href="#">Requests
			<span id="RequestCount" class="label label-important"></span>
            </a>
        </li>
    }*@
</ul>
<script src="~/Scripts/js/scripts.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".selectBox select").selectbox();
        $("#ddlTabViewBy").multiselect({
            multiple: false,
            noneSelectedText: "Please Select",
            selectedList: 1,
            CustomName: '@Common.CustomTitle'
         }).multiselectfilter();
        var Currenttime = $('#ddlUpComingActivites').val();
        isQuater = Currenttime;
        onClickPlanTitle();
        SetAttributeData();
        RefreshCurrentTab();
        if (activeMenu == '@Enums.ActiveMenu.Plan.ToString().ToLower()') {
            GetCollaborators(CurrentPlanId);
            $("#nl-form2").show();
        }
        else {
            $("#nl-form2").hide();
            $("#lblMarkringActivitiesTitle").show();
        }
        var SelectedPlans = filters.SelectedPlans.toString();
        GetHealderData(SelectedPlans);
        GetNumberOfActivityPerMonByPlanId(SelectedPlans, Currenttime);
    });

    $("#ddlTabViewBy").change(function () {
        RefreshCurrentTab();
    });

    $('.request-icons').click(function () {
        $('#ddlTabViewBy').val('@PlanGanttTypes.Request.ToString()');
        getViewByList = true;
        RefreshCurrentTab();
    });


    $("#ddlUpComingActivites").change(function () {
        var TempPlanIds ;
        if (activeMenu == '@Enums.ActiveMenu.Plan.ToString().ToLower()') {
            TempPlanIds = CurrentPlanId;
        }
        else {
            TempPlanIds = filters.SelectedPlans.toString();
        }
        
            Currenttime = $('#ddlUpComingActivites').val();
            isQuater = Currenttime;
            RefreshCurrentTab();
            GetHealderData(TempPlanIds);
            GetNumberOfActivityPerMonByPlanId(TempPlanIds, Currenttime);
    });
    $('.sbHolder').click(function () {
        
        $("#ddlTabViewBy").multiselect("close");//"Close" is function in multiselect.js which close the multiselect menu 
        
    });

</script>

