@model RevenuePlanner.Models.HomePlan
@using RevenuePlanner.Helpers;

<ul class="nav nav-tabs home-content-header" style="margin-left:24px;">
    <li class="title-header source-sans-proregular bold font-size25px" style="padding-top:5px;">
      @* @if (Model.plans != null && Model.plans.Count > 0)
       {
        <form id="nl-form2" class="nl-form-plan-title without-margin plantitle" style="display:none;">

            <select id="dropdown-plan-title" data-default="0%" class="" maxlength="40" style="display:none;" >
                <script>
                    var plan = @Html.Raw(Json.Encode(Model.plans))
                    populateNF(plan, "dropdown-plan-title");
                </script>
            </select>
            <div class="nl-overlay"></div>
            <script>
                var nlform = new NLForm(document.getElementById('nl-form2'));
            </script>

        </form>
       }*@
        @*<h2 id="lblMarkringActivitiestitle" style="font-size: 23px;display:none;">Marketing Activities</h2>*@
    </li>
   
    @*Modified by Komal Rawal for 2013 Home/Plan Layout changes*@
    <li id="liplanrequest" style="padding-top:5px;width:50%">
        <div class="request-icons hide" id="BtnTabIcons" style="display:inline-block">

            <div class="request-icon-block" id="divPlanButton" title="Calendar View"><a href="#" class="new-btn-plan request-btn-active"><i class="fa fa-calendar"></i></a></div>
            <div class="request-icon-block" id="divPlanEditButtonHome" title="Grid View"><a href="#" class="request-icon-link" id="btngrid"><i class="fa fa-table"></i></a></div>
            <div class="request-icon-block" id="BudgetIcon" title="View Budget and Cost" style="display:none" onclick="CallBudget()"><a href=" #" class="request-icon-link"><i class="fa fa-money"></i></a></div>

            <div class="request-icon-block" id="RequestTab"><a href="#" class="request" title="Requests"><i class="fa fa-thumbs-o-up"></i><span class="counter badge"></a></span></div>


            @*<div class="request-icon-block" id="RequestTab"><span>Search</span><input type="text"  name="filter" id="tSearch"/></div>
                <div class="request-icon-block" id="divSearch" title="Serch Button" onclick="onSearchCal()"><a href=" #"><i class="fa fa-calendar"></i></a></div>*@
	    </div>
        @*  ==== Searchbox new feature start - #2269 ====  *@
        <div class="search-wrap">
            <div id=" exp-serach" class="Exp-serach">

            <span class="ExpIcon" id="ExpSearch"><i class="fa fa-search"></i></span>
            <span class="ExpIconClose" id="ExpClose" style="display:none"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
            <span class="search-loader" id="ExpLoading" style="display:none">
                <img src="~/Content/images/select2-spinner.gif" /></span>    
                <div class="input-group ExpInput">
                    <div class="input-group-btn">
                        
                        <button id="searchCriteria" type="button" class="btn btn-blue dropdown-toggle" data-toggle="dropdown" value="Name Only">
                            N
                        </button>                        
                        <div class="dropdown-menu ">
                            <ul role="menu" aria-labelledby="dropdownMenu">
                                @*<li><a tabindex="-1" href="#">All</a></li>*@
                                <li><a tabindex="-1" href="#">Name Only</a></li>
                                <li><a tabindex="-1" href="#">Machine Name</a></li>
                                
                            </ul>
                        </div>
                    </div>
                    <input id="txtGlobalSearch" type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Name Only">
                </div>


            </div>

                @*<div class="input-group">
                        <div class="input-group-btn">
                            @*<button class="btn">Please Select From List</button> @
                            <button id="searchCriteria" type="button" class="btn btn-blue dropdown-toggle" data-toggle="dropdown" value="All">All
                                <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu">
                                <ul role="menu" aria-labelledby="dropdownMenu">
                                    <li><a tabindex="-1" href="#">All</a></li>
                                    <li><a tabindex="-1" href="#">Name Only</a></li>
                                    <li><a tabindex="-1" href="#">Machine Name</a></li>
                                    <li class="divider"></li>
                                </ul>
                            </div>
                        </div>
                        <input id="txtSearch" type="text" class="form-control" aria-label="Text input with dropdown button">

                    </div>
                <button id="btnSearch" class="btn btn-blue text-shadow-blue source-sans-proregular" type="button" onclick="onSearchCal()" style="min-width:5%">
                    search
                </button>*@
        </div>

    </li>
    
    <div style="float: right;margin-bottom: 10px; margin-right: -15px" id="divupcomingact">
                @Html.Label("Time Frame:", new { id = "lblUpcoming_Activies" })    @* Modified by : Sohel Pathan on 29/10/2014 for PL ticket #899 *@
            <span class="selectBox" id="ddlUpComingActivitesSelectBox" style="width: 127px;">
                @*Modified by nishant sheth : to avoid double server trip and to select dfault range for time frame option*@
                @Html.DropDownList("ddlUpComingActivites", ((System.Collections.IEnumerable)ViewBag.ViewUpComingActivity) as List<SelectListItem>, new { @class = "hide" }) 
            </span>
            @Html.Label("View By:", new { id = "lblViewBy" })
            @Html.DropDownList("ddlTabViewBy", new SelectList((System.Collections.IEnumerable)ViewBag.ViewByTab, "Value", "Text", @RevenuePlanner.Helpers.PlanGanttTypes.Tactic.ToString()), new { @class = "hide" })
        </div>
</ul>
@*<script src="~/Scripts/js/scripts.js"></script>*@
<script type="text/javascript">
    $(document).ready(function () {       
        $(".selectBox select").selectbox();
        $("#ddlTabViewBy").multiselect({
            multiple: false,
            noneSelectedText: "Please Select",
            selectedList: 1,
            CustomCampaignName: "@Common.CampaignCustomTitle",
            CustomProgramName: "@Common.ProgramCustomTitle",
            CustomTacticName: "@Common.TacticCustomTitle",
            classes: 'custom-right-pos', // Added by Sohel Pathan on 11/11/2014 for PL ticket #934, NOTE : Please don't change class name, it is used in js.
            IsTacticSection: "TACTIC SECTION"
        }).multiselectfilter({
            CustomCampaignName: "@Common.CampaignCustomTitle",
            CustomProgramName: "@Common.ProgramCustomTitle",
            CustomTacticName: "@Common.TacticCustomTitle",
        });
        filters.SelectedPlans = [];
        $('#ulSelectedPlans').find("input[type=checkbox]").each(function () {
            if ($(this).attr('checked') == 'checked') {
                var chkid = $(this).attr("id");
                if (chkid != undefined && chkid != 'undefined') {
                    filters.SelectedPlans.push(chkid);
                }
            }
        });

        if (filters.SelectedPlans.length == 1) {
            CurrentPlanId = filters.SelectedPlans[0].toString();
            $("#CurrentPlanId").val(filters.SelectedPlans[0].toString());

        }
        var SelectedPlans = filters.SelectedPlans.toString();
       
        //Modified by komal rawal for #1750
        // Commented by Nishant Sheth
        // Desc : To Avoid double server trip and select default range of year
        @*if (activeMenu == '@Enums.ActiveMenu.Home.ToString().ToLower()') {
            //BindUpcomingActivites(SelectedPlans);
        }*@
        
        Currenttime = $('#ddlUpComingActivites').val();
        isQuater = Currenttime;
        //End
        onClickPlanTitle();
        SetAttributeData();

        var Tabid = 'liCalender';
        if ($('#IsGridView').val() == "True") {
            $("#divupcomingact").hide();
            $("#RequestTab").hide();
            $("#CalenderView").hide();
            $('#btngrid').addClass('request-btn-active');
            $('.new-btn-plan').removeClass('request-btn-active');
            Tabid = 'liGrid';// Add By Nishant Sheth Desc header value wrong with plan tab
        }
        else {
            RefreshCurrentTab();
        }

        //Modified by Komal Rawal for 2013 Home/Plan Layout changes
        if (activeMenu == '@Enums.ActiveMenu.Plan.ToString().ToLower()') {
            if ($('#IsGridView').val() != "True") {
                GetCollaborators(CurrentPlanId);
            }
            else
            {
                $("#RequestTab").hide();
            }
          //  $("#lblMarkringActivitiestitle").show();
           // $("#nl-form2").show();
            $("#BudgetIcon").show();
            $("#BtnTabIcons").addClass("bdrRadius");
        }
        else {
          //  $("#nl-form2").hide();
            $("#BudgetIcon").hide();
          
        }
        $('.request-icons').show();
        //Added for the case of "Select All" custom field By Maitri Gandhi on 26/2/2016
        var CheckedCounter = 0, AllCounter = 0, id = null, UncheckedCounter = 0;
        $("#divCustomFieldsFilter").find("div.accordion").each(function () {
            if ($(this).find("input[type=checkbox]") != null || $(this).find("input[type=checkbox]") != "") {
                AllCounter = $(this).find("input[type=checkbox]").length;
                CheckedCounter = $(this).find("input[type=checkbox]:checked").length;
                UncheckedCounter = AllCounter - CheckedCounter;
                if (AllCounter == UncheckedCounter) {
                    var Id = $(this).attr("id");
                    if (Id.indexOf("-") >= 0) {
                        Id = Id.split('-')[1];
                        var CustomId = Id + "_null";
                        filters.customFieldIds.push(CustomId);

                    }
                }
                else if (AllCounter == CheckedCounter) {
                    id = this.id;
                    if (id != null && id != "" && id.indexOf("-") > -1) {
                        id = this.id.split("-")[1];
                    }
                    var i = 0, customfieldid;
                    for (i = 0; i < filters.customFieldIds.length; i++) {
                        if (filters.customFieldIds[i].indexOf("_") > -1) {
                            customfieldid = filters.customFieldIds[i].split("_")[0];
                            if (id == customfieldid) {
                                filters.customFieldIds.splice(i, 1);
                                i--;
                            }
                        }
                    }
                }
            }
        });        ////End
        // Commented by nishant sheth
        // Desc :: For performace avoid multiple db trip for same results
        //GetHealderData(SelectedPlans, filters.customFieldIds, filters.OwnerIds, filters.TacticTypeids, filters.StatusIds, Tabid);// Modified By Nishant Sheth Desc header value wrong with plan tab
        //GetNumberOfActivityPerMonByPlanIdPer(SelectedPlans, Currenttime, filters.customFieldIds, filters.OwnerIds, filters.TacticTypeids, filters.StatusIds);

     
    });
    var IsViewBy = false;
    var isOpen = false;   
    $("#ddlTabViewBy").change(function () {
        ExportSelectedIds = {
            TaskID: [],
            Title: [],
            ColorCode: [],
            OwnerName: [],
            TacticType: [],
            PlanFlag: [],
            CsvId:[]
        };
        IsViewBy = true;
        requestPlanActiveTab(false);
        RefreshCurrentTab();
    });
    $('.new-btn-plan').click(function () {     
        //Modified by Komal Rawal for 2013 Home/Plan Layout changes
        $("#RequestTab").show();
        if ($('#IsGridView').val() == "True") {            
            $('#txtGlobalSearch').val("");
            $('#searchCriteria').val("Name Only");
            $('#searchCriteria').text("N");
            $("#txtGlobalSearch").attr('Placeholder', "Name Only")
            $('.Exp-serach').removeClass('Exp-serach-open');
            $('#ExpClose').css('display', 'none');
            $('.ExpIcon').css('display', 'block');
            isOpen = false;
            
            ChangeTabView(CalendarId);
            requestPlanActiveTab(false);
        }
        else {
        isRequest = false;
        $("#ddlTabViewBy").find("option[value= @PlanGanttTypes.Tactic.ToString()]").prop("selected", "selected");
        $("#ddlTabViewBy").multiselect('refresh');
        $("#ddlTabViewBy").trigger('change');
        requestPlanActiveTab(false);
        //Modified by komal rawal for #1283
        $(".sidebar-section #ulTacticType").find(' li .TacticNumber').each(function () {
            var oldvalue = $(this).attr("Previousvalue");
            var setvalue = $(this).html(oldvalue);
    });
        }
    });
    $('.request').click(function () {
        ExportSelectedIds = {
            TaskID: [],
            Title: [],
            ColorCode: [],
            OwnerName: [],
            TacticType: [],
            PlanFlag: [],
            CsvId:[]
        };
        isRequest = true;
        requestPlanActiveTab(isRequest);
        getViewByList = true;
        RefreshCurrentTab();
        //Modified by komal rawal for #1283
        $(".sidebar-section #ulTacticType").find(' li .TacticNumber').each(function () {
            var setvalue = $(this).html("0");
        });
    });


    $("#ddlUpComingActivites").change(function () {
        filters.SelectedPlans = [];
        $('#ulSelectedPlans').find("input[type=checkbox]").each(function () {
            if ($(this).attr('checked') == 'checked') {
                var chkid = $(this).attr("id");
                if (chkid != undefined && chkid != 'undefined') {
                    filters.SelectedPlans.push(chkid);
                }
            }
        });
        if (filters.SelectedPlans.length == 1) {
            CurrentPlanId = filters.SelectedPlans[0].toString();
            $("#CurrentPlanId").val(filters.SelectedPlans[0].toString());

        }
        var TempPlanIds;
        if (activeMenu == '@Enums.ActiveMenu.Plan.ToString().ToLower()') {
            TempPlanIds = CurrentPlanId;
        }
        else {
            TempPlanIds = filters.SelectedPlans.toString();
        }
        
            Currenttime = $('#ddlUpComingActivites').val();
            isQuater = Currenttime;
            RefreshCurrentTab();
        // Commented By Nishant Sheth
        // Desc :: For performance issue
            //GetHealderData(TempPlanIds,filters.customFieldIds,filters.OwnerIds,filters.TacticTypeids, filters.StatusIds);
      //  GetNumberOfActivityPerMonByPlanIdPer(TempPlanIds, Currenttime, filters.customFieldIds, filters.OwnerIds, filters.TacticTypeids, filters.StatusIds);
    });

    $('.sbHolder').click(function () {
        $("#ddlTabViewBy").multiselect("close");//"Close" is function in multiselect.js which close the multiselect menu 
    });

    // Start - Added by Sohel Pathan on 06/11/2014 for PL ticket #934
    $('.selectBox').click(function () {
        $('#ddlTabViewBy').multiselect("close");
    });
    // End - Added by Sohel Pathan on 06/11/2014 for PL ticket #934
    function requestPlanActiveTab(isRequestTab) {       
        if (isRequestTab) {
            $('.new-btn-plan').removeClass('request-btn-active');
            $('.request').addClass('request-btn-active');
            $('#btngrid').removeClass('request-btn-active');
        }
        else {
            //Modified by Maitri Gandhi to maintain tab focus on 4/3/2016
            if ($('#IsGridView').val() == "True")
            {
                $('#btngrid').addClass('request-btn-active');
                $('.new-btn-plan').removeClass('request-btn-active');
            }
            else {
                $('.new-btn-plan').addClass('request-btn-active');
                $('#btngrid').removeClass('request-btn-active');
            }
            $('.request').removeClass('request-btn-active');
          
            //if ($('#IsGridView').val() == "True") {
            //    alert(10);
            //    $('#txtGlobalSearch').val("");
            //    $('#searchCriteria').val("Name Only");
            //    $('#searchCriteria').text("N");
            //    $('.Exp-serach').removeClass('Exp-serach-open');
            //    $('#ExpClose').css('display', 'none');
            //    $('.ExpIcon').css('display', 'block');
            //    isOpen = false;
            //}
        }
    }
    //Added by Komal Rawal for 2013 Home/Plan Layout changes
    $('#divPlanEditButtonHome').click(function () {
       
        $("#divupcomingact").hide();
        $("#RequestTab").hide();
        $("#BudgetIcon").show();
        $("#BtnTabIcons").addClass("bdrRadius");
        $('.new-btn-plan').removeClass('request-btn-active');
        $('.request').removeClass('request-btn-active');
        $('#btngrid').addClass('request-btn-active');
        if (activeMenu == '@Enums.ActiveMenu.Home.ToString().ToLower()') {
            EditPlanHome();
        }
        else
        {
            ChangeTabView(GridId);
        }
      
        $('#txtGlobalSearch').val("");
        $('#searchCriteria').val("Name Only");
        $('#searchCriteria').text("N");
        $("#txtGlobalSearch").attr('Placeholder', "Name Only");
        $('.Exp-serach').removeClass('Exp-serach-open');
        $('#ExpClose').css('display', 'none');
        $('.ExpIcon').css('display', 'block');
        isOpen = false;
    });
    $(".dropdown-menu li a").click(function () {
        $("#searchCriteria").text($(this).text()[0]);
        $("#searchCriteria").val($(this).text());
        $("#txtGlobalSearch").attr('Placeholder', $(this).text())
    });
    //Searchbox JS Start - Bhumika  
    $('#ExpSearch').click(function () {

        if (isOpen == false) {
            $('#ExpClose').css('display', 'none');
            $('.Exp-serach').addClass('Exp-serach-open');
            isOpen = true;
        }
        else {
            if ($('#txtGlobalSearch').val().trim() != undefined && $('#txtGlobalSearch').val().trim() != "" && $('#txtGlobalSearch').val().trim() != null) {
                $('#ExpSearch').css('display', 'none');
                GlobalSearch();
                $('#ExpClose').css('display', 'block');
                
            }
            else {
                $('.Exp-serach').removeClass('Exp-serach-open');
                isOpen = false;
            }
        }
    });
    $('#ExpClose').click(function () {
        
        $('#txtGlobalSearch').val("");
        $('#searchCriteria').val("Name Only");
        $('#searchCriteria').text("N");
        $("#txtGlobalSearch").attr('Placeholder', "Name Only");
        $('#ExpClose').css('display', 'none');
        GlobalSearch();
        $('.ExpIcon').css('display', 'block');
        
    });
    //$("#txtGlobalSearch").focusout(function () {     
    //    if ($("#txtGlobalSearch").val().length <= 0) {
    //        $('#ExpClose').css('display', 'none');
    //        $('.ExpIcon').css('display', 'block');
    //    }
    //});
    $('#txtGlobalSearch').on('keypress', function (event) {
        if (event.which === 13) {
            $('#ExpSearch').click();            
        }
    });

    $('#txtGlobalSearch').keyup(function (event) {
        if ($("#txtGlobalSearch").val().length <= 0) {            
            $('#ExpClose').click();            
        }
    });
</script>

