@using RevenuePlanner.Helpers
@{
    var campaignReview = (RevenuePlanner.Models.InspectModel)ViewBag.CampaignDetail;
    var db = new RevenuePlanner.Models.MRPEntities();
    bool IsCampaignEditable = (bool)ViewBag.IsCampaignEditable;
}
<div class="span5 width360" id="inspect-modal-right-div" style="width:420px !important;">
    <div class="font-size18">Overview</div>
    <div class="cf source-sans-proregular padding-top32">
        <div class="chart-gray pull-left size65x38 without-padding">
            <div class="padding-top16"><span id="startDay-id" class="font_size30" style="line-height:24px;">@campaignReview.StartDate.ToString("dd")</span></div>   @* Modified By :- Sohel Pathan on 21/05/2014 for PL ticket #483. *@
            <span id="startMonth-id" class="font_size16">@campaignReview.StartDate.ToString("MMM")</span>
            <div class="margin-top16">Start</div>      @* Modified By :- Sohel Pathan on 21/05/2014 for PL ticket #483. *@
        </div>
        <div class="chart-gray pull-left size65x38 without-padding">
            <div class="padding-top16"><span id="endDay-id" class="font_size30" style="line-height:24px;">@campaignReview.EndDate.ToString("dd")</span></div>   @* Modified By :- Sohel Pathan on 21/05/2014 for PL ticket #483. *@
            <span id="endMonth-id" class="font_size16">@campaignReview.EndDate.ToString("MMM")</span>
            <div class="margin-top16">End</div> @* Modified By :- Sohel Pathan on 21/05/2014 for PL ticket #483. *@
        </div>
        @* Commented by Dharmraj for ticlet #440 *@
        @*<div class="chart-gray pull-left size65x38 without-padding">
            <div class="padding-top16"><span id="inq-id" class="font_size30" style="line-height:24px;">@campaignReview.INQs</span></div>*@    @* Modified By :- Sohel Pathan on 21/05/2014 for PL ticket #483. *@
            @*<span class="font_size16">@Html.LabelForINQ("INQ")</span>
            <div class="margin-top16">Goal</div>*@    @* Modified By :- Sohel Pathan on 21/05/2014 for PL ticket #483. *@
        @*</div>*@
        <div class="chart-gray pull-left size65x38 without-padding">
            <div class="padding-top16"><span id="mqls-id" class="font_size30" style="line-height:24px;">@campaignReview.MQLs</span></div>   @* Modified By :- Sohel Pathan on 21/05/2014 for PL ticket #483. *@
            <span class="font_size16" title="@Html.LabelForMQL("MQL")">@Html.LabelForMQL("MQL")</span>
            <div class="margin-top16">Goal</div>    @* Modified By :- Sohel Pathan on 21/05/2014 for PL ticket #483. *@
        </div>
    </div>
    <div class="cf margin-top40 textalign-mozcenter">
        <div class="pull-left size65x38 ">
            <div class="busunit"></div>
            <div>Bus. Unit</div>
            <!-- remove bold class by kapil - 100614 - #509 -->
            <span id="busunit-id" class="blue-text" title="@ViewBag.BudinessUnitTitle">@ViewBag.BudinessUnitTitle</span>
        </div>
        <div class="pull-left size65x38  margin-left20">
            <div class="owner"></div>
            <div>Owner</div>
            <!-- remove bold class by kapil - 100614 - #509 -->
            <span id="owner-id" class="blue-text" title="@campaignReview.Owner">@campaignReview.Owner</span>
        </div>
@*        <div class="pull-left size65x38 margin-left20">
            <div class="vertical"></div>
            <div>Vertical</div>
            <span id="vertical-id" class="blue-text bold">@campaignReview.VerticalTitle</span>
        </div>
        <div class="pull-left size65x38 margin-left20">
            <div class="audience-review"></div>
            <div>
                <label id="audience">Audience</label>
            </div>
            <span id="audience-id" class="blue-text bold">@campaignReview.AudiencTitle</span>
        </div>*@
        <div class="pull-left size65x38 margin-left20">
            <div class="integration-review"></div>
            <div>
                <label id="integration">Integration</label></div>
                <!-- remove bold class by kapil - 100614 - #509 -->
                <span id="integration-id" class="blue-text" title="@campaignReview.IntegrationType">@campaignReview.IntegrationType</span>
            </div>
        </div>
    </div>

<div class="span2 width50" id="inspect-modal-left-column2">
    @if ((bool)ViewBag.IsCommentsViewEditAuthorized)    // Added by Sohel Pathan on 19/06/2014 for PL ticket #519 to implement user permission Logic
    {
    <div>Notes</div>

    <div id="divComment" class="chat-div" style="overflow: auto;">
        <div id="divInnerComment">
            @foreach (var item in ViewBag.ReviewModel)
            {
                <div class="post-div" style="clear: both; width: 100%; border-bottom: solid 1px #A8A8A8;">
                    <div style="float: left; width: 10%;">
                        <img class="avatar-user" src="@Url.Action("LoadUserImage", "User", new { id = item.CreatedBy })" alt="User avatar" />
                    </div>
                    <div style="float: left; width: 90%;">
                        <span class="bold">@item.CommentedBy</span>
                        <span>@item.Comment</span><br />
                        <span class="font_size10" style="clear: both;">@item.CommentDate.ToString("MMM dd") at @item.CommentDate.ToString("hh:mmtt")</span>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                                        
            }
        </div>
        <div></div>
    </div>
    <div class="padding-top10 border-bottom-div">

        <img class="avatar-user vertical-aligntop" src="@Url.Action("LoadUserImage", "User", new { id = RevenuePlanner.Helpers.Sessions.User.UserId })" alt="User avatar" />
        @Html.TextArea("txtAreaComment", new { id = "txtAreaComment", @class = "new-comment" })
         @if (IsCampaignEditable)
         {
        <button id="btnComment" class="btn btn-blue text-shadow-blue source-sans-proregular new-comment-buttom " type="button">Comment</button>
         }
    </div>
    @* Start - Added by Sohel Pathan on 19/06/2014 for PL ticket #519 to implement user permission Logic*@
    }
    else
    {
        <div class="unauthorized-comment-section">
            <span>@Html.Raw(HttpUtility.HtmlDecode((string)ViewBag.UnauthorizedCommentSection))</span>
        </div>
    }        
    @* End - Added by Sohel Pathan on 19/06/2014 for PL ticket #519 to implement user permission Logic*@
    <div class="cf pull-left">
         @if (IsCampaignEditable)
     {
        <div style="float: right; margin-top: 10px;">
            <button class="btn btn-blue text-shadow-blue source-sans-proregular  button-inspect-result-modal pull-right  resize-button margin-left20 btn-blue share-tactic-icon" id="BtnShareTactic" type="button" style="width:80px;"><span class="flag-icon"></span>Share </button>
        </div>

        
            string Submit = "Submit for Approval";
            string Approve = "Approve";
            string Reject = "Reject";
            List<string> aryStatus = new List<string>();
            bool isVisibleStatus = true;

            var countNotCreatedTactic = 0;
            var countNotCreatedProgram = 0;
            var countNotApprovedTactic = 0;
            var countNotSubmittedTactic = 0;
            var countNotApprovedProgram = 0;
            var countNotSubmittedProgram = 0;
            var countNotDeclineTactic = 0;
            var countNotDeclineProgram = 0;

            string statuscreate = RevenuePlanner.Helpers.Enums.TacticStatusValues[RevenuePlanner.Helpers.Enums.TacticStatus.Created.ToString()].ToString();
            string statussubmit = RevenuePlanner.Helpers.Enums.TacticStatusValues[RevenuePlanner.Helpers.Enums.TacticStatus.Submitted.ToString()].ToString();
            string statusapprve = RevenuePlanner.Helpers.Enums.TacticStatusValues[RevenuePlanner.Helpers.Enums.TacticStatus.Approved.ToString()].ToString();
            string statusinprogress = RevenuePlanner.Helpers.Enums.TacticStatusValues[RevenuePlanner.Helpers.Enums.TacticStatus.InProgress.ToString()].ToString();
            string statuscomplete = RevenuePlanner.Helpers.Enums.TacticStatusValues[RevenuePlanner.Helpers.Enums.TacticStatus.Complete.ToString()].ToString();
            string statusdecline = RevenuePlanner.Helpers.Enums.TacticStatusValues[RevenuePlanner.Helpers.Enums.TacticStatus.Decline.ToString()].ToString();

            var tacticList = db.Plan_Campaign_Program_Tactic.Where(p => p.Plan_Campaign_Program.PlanCampaignId == campaignReview.PlanCampaignId && p.IsDeleted == false).ToList();
            countNotCreatedTactic = tacticList.Where(p => !p.Status.Equals(statuscreate)).Count();
            countNotApprovedTactic = tacticList.Where(p => !p.Status.Equals(statusapprve) && !p.Status.Equals(statusinprogress) && !p.Status.Equals(statuscomplete)).Count();
            countNotSubmittedTactic = tacticList.Where(p => !p.Status.Equals(statussubmit)).Count();
            countNotDeclineTactic = tacticList.Where(p => !p.Status.Equals(statusdecline)).Count();

            countNotCreatedTactic = db.Plan_Campaign_Program_Tactic.Where(p => p.Plan_Campaign_Program.PlanCampaignId == campaignReview.PlanCampaignId && p.IsDeleted == false && !p.Status.Equals(statuscreate)).Count();
            countNotApprovedTactic = db.Plan_Campaign_Program_Tactic.Where(p => p.Plan_Campaign_Program.PlanCampaignId == campaignReview.PlanCampaignId && p.IsDeleted == false && (!p.Status.Equals(statusapprve) && !p.Status.Equals(statusinprogress) && !p.Status.Equals(statuscomplete))).Count();
            countNotSubmittedTactic = db.Plan_Campaign_Program_Tactic.Where(p => p.Plan_Campaign_Program.PlanCampaignId == campaignReview.PlanCampaignId && p.IsDeleted == false && !p.Status.Equals(statussubmit)).Count();
            countNotDeclineTactic = db.Plan_Campaign_Program_Tactic.Where(p => p.Plan_Campaign_Program.PlanCampaignId == campaignReview.PlanCampaignId && p.IsDeleted == false && !p.Status.Equals(statusdecline)).Count();

            var programList = db.Plan_Campaign_Program.Where(p => p.PlanCampaignId == campaignReview.PlanCampaignId && p.IsDeleted == false).ToList();
            countNotCreatedProgram = programList.Where(p => !p.Status.Equals(statuscreate)).Count();
            countNotApprovedProgram = programList.Where(p => !p.Status.Equals(statusapprve) && !p.Status.Equals(statusinprogress) && !p.Status.Equals(statuscomplete)).Count();
            countNotSubmittedProgram = programList.Where(p => !p.Status.Equals(statussubmit)).Count();
            countNotDeclineProgram = programList.Where(p => !p.Status.Equals(statusdecline)).Count();

            if (campaignReview.Status.Equals(RevenuePlanner.Helpers.Enums.TacticStatusValues[RevenuePlanner.Helpers.Enums.TacticStatus.Created.ToString()].ToString()))
            {

                if ((bool)ViewBag.IsValidOwner)
                {

                    if (countNotSubmittedTactic == 0 && countNotSubmittedProgram == 0)
                    {
                        aryStatus.Add(Submit);
                    }
                    else if (countNotCreatedTactic == 0 && countNotCreatedProgram == 0)
                    {
                        aryStatus.Add(Submit);
                    }
                }
                else
                {
                    isVisibleStatus = false;
                }
            }
            else if (campaignReview.Status.Equals(RevenuePlanner.Helpers.Enums.TacticStatusValues[RevenuePlanner.Helpers.Enums.TacticStatus.Submitted.ToString()].ToString()))
            {
                if ((bool)ViewBag.IsValidManagerUser)//if ((bool)ViewBag.isValidDirectorUser)
                {
                    if (countNotApprovedTactic != 0 && countNotApprovedProgram != 0)
                    {
                        aryStatus.Add(Approve);
                        aryStatus.Add(Reject);
                    }
                    else
                    {
                        isVisibleStatus = false;
                    }
                }
                else
                {
                    isVisibleStatus = false;
                }
            }
            else if (campaignReview.Status.Equals(RevenuePlanner.Helpers.Enums.TacticStatusValues[RevenuePlanner.Helpers.Enums.TacticStatus.Approved.ToString()].ToString()))
            {
                if ((bool)ViewBag.IsValidManagerUser)//if ((bool)ViewBag.isValidDirectorUser)
                {
                    aryStatus.Add(Reject);
                }
                else
                {
                    isVisibleStatus = false;
                }
            }
            else if (campaignReview.Status.Equals(RevenuePlanner.Helpers.Enums.TacticStatusValues[RevenuePlanner.Helpers.Enums.TacticStatus.Decline.ToString()].ToString()))
            {
                if ((bool)ViewBag.IsValidManagerUser)//if ((bool)ViewBag.isValidDirectorUser)
                {
                    if ((bool)ViewBag.IsValidOwner)
                    {
                        if (countNotDeclineProgram == 0 && countNotDeclineTactic == 0)
                        {
                            aryStatus.Add(Submit);
                        }
                    }
                    else
                    {
                        if (countNotDeclineProgram == 0 && countNotDeclineTactic == 0)
                        {
                            aryStatus.Add(Approve);
                        }
                    }
                }
                else
                {
                    if ((bool)ViewBag.IsValidOwner)
                    {
                        if (countNotDeclineProgram == 0 && countNotDeclineTactic == 0)
                        {
                            aryStatus.Add(Submit);
                        }
                    }
                    else
                    {
                        isVisibleStatus = false;
                    }
                }
            }
            else
            {
                if ((bool)ViewBag.IsValidManagerUser)//if ((bool)ViewBag.isValidDirectorUser)
                {
                    aryStatus.Add(Reject);
                }
                else
                {
                    isVisibleStatus = false;
                }
            }



            if (isVisibleStatus)
            {
                int len = aryStatus.Count;
                if (len > 0)
                {
                    string firstStatus = aryStatus[0];
               
            <div class="margin-top10" style="float: right;">
                <div id="btn_change_status" class="btn-group dropup">
                    <button id="btnApproved" data-toggle="dropdown" class="btn buttom-width resize-drop-button without-border-buttom displayinherit  btn-blue text-shadow-blue source-sans-proregular margin-left20" style="width:125px;">
                        <span class="flag-icon approve-icon-dropdown"></span>
                        <span id="spanTactic">@firstStatus</span>
                    </button>
                    @Html.Hidden("hdnStatusValue", firstStatus, new { id = "hdnStatusValue" });
                    @if (len >= 2)
                    {   
                        <button data-toggle="dropdown" class="btn dropdown-toggle height25 btn-blue displayinherit">
                            <span class="caret "></span>
                        </button>
                                              
                        <ul class="dropdown-menu " id="uldiv">
                            @foreach (string s in aryStatus)
                            {
                                <li>
                                    <a>@s</a>
                                </li>
                            }
                        </ul>
                        
                        <script type="text/javascript">
                            $("#btnApproved").css("width", "90px");
                        </script>
                        
                    }
                    else
                    {
                        <script type="text/javascript">
                            $("#btnApproved").css("border-radius", "4px");
                        </script>
                    }

                </div>

            </div> 
                }
            }


            if ((bool)ViewBag.IsModelDeploy)
            {
                <div class="margin-top10" style="float: right;">
                <div id="btn_sync_status" class="btn-group dropup">
                    <button id="btnSync" data-toggle="dropdown" class="btn buttom-width resize-drop-button without-border-buttom displayinherit  btn-blue text-shadow-blue source-sans-proregular" style="width:65px;">
                        <span class="flag-icon sync-icon-dropdown"></span>
                        <span id="spanSyncStatus">
                            @if (campaignReview.IsDeployedToIntegration)
                            {
                                @Html.Raw("Sync")
                            }
                            else
                            {
                                @Html.Raw("Don't Sync") 
                            }

                        </span>
                    </button>
                     @if (campaignReview.IsDeployedToIntegration)
                     {
                        @Html.Hidden("hdnSyncStatusValue", "Sync", new { id = "hdnSyncStatusValue" });
                     }
                     else
                     {
                        @Html.Hidden("hdnSyncStatusValue", "Don't Sync", new { id = "hdnSyncStatusValue" });
                     }
                        <button data-toggle="dropdown" class="btn dropdown-toggle height25 btn-blue displayinherit">
                            <span class="caret "></span>
                        </button>                
                        <ul class="dropdown-menu " id="uldivSync">
                            <li>
                                <a id="aSync">Sync</a>
                            </li>
                            <li>
                                <a id="aNotSync">Don't Sync</a>
                            </li>
                        </ul>
                </div>
            </div> 
            }   
            
            }
    </div>
</div>
<div id="DivPartialShareTactic">
</div>
<script type="text/javascript">
    $(document).ready(
      function () {

          SetFormatForLabel("#inq-id", 5);
          SetFormatForLabel("#mqls-id", 5);
          $("#BtnShareTactic").click(function () {
              $("#DivPartialShareTactic").empty();
              var url = '@Url.Content("~/Home/ShowShareTactic/")';
              $("#DivPartialShareTactic").load(url + '?planTacticId=' + $('#hdnPlanCampaignId').val() + '&section=campaign');
          });

          $("#uldiv li a").click(function () {
              $("#spanTactic").html($(this).text());
              $("#hdnStatusValue").val($(this).text());
          });

          $("#btnSync").click(function () {
              var IsDeployedToIntegration = false;
              var spanSyncStatus = $("#hdnSyncStatusValue").val();
              if (spanSyncStatus == 'Sync') {
                  IsDeployedToIntegration = true;
              }
              var PlanCampaignId = $('#hdnPlanCampaignId').val();

              $.ajax({
                  type: 'POST',
                  url: '@Url.Content("~/Home/SaveSyncToIntegration/")',
                  data: {
                      id: PlanCampaignId,
                      section: "@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.Campaign).ToLower()", //section parameter added to save tactic comment
                      IsDeployedToIntegration: IsDeployedToIntegration
                  },
                  success: function (data) {
                      if (data.result) {
                          $("#successMessage").css("display", "block");
                          var topsize = $(document).scrollTop() + 41;
                          $("#modal-container-186470").css("top", topsize + "px");
                          $("#spanMessageSuccess").empty();
                          $("#spanMessageSuccess").text(data.msg);
                      }
                  },
                  error: function () {
                      $("#errorMessage").css("display", "block");
                      var topsize = $(document).scrollTop() + 41;
                      $("#modal-container-186470").css("top", topsize + "px");
                      $("#spanMessageError").empty();
                      GoToLogin();
                      return false;
                  }
              });
          });

          $("#uldivSync li a").click(function () {
              $("#spanSyncStatus").html($(this).text());
              $("#hdnSyncStatusValue").val($(this).text());

          });


          var divheight = $("#divInnerComment").height();
          $("#divComment").scrollTop(divheight);

          // On Comment Button Save Commnet
          $("#btnComment").click(function () {
              $("#successMessage").css("display", "none");
              $("#errorMessage").css("display", "none");
              /*Changed by Nirav Shah for Inspect pop-up screen : CSS changes as per new HTML on 13 feb 2014*/
              var topsize = $(document).scrollTop();
              $("#modal-container-186470").css("top", topsize + "px");/*end*/
              var commentText = $('#txtAreaComment').val();
              if (commentText == '') {
                  var msgspan = "Make sure all fields are filled and valid,try again.";
                  $("#errorMessage").css("display", "block");
                  var topsize = $(document).scrollTop() + 41;/*Changed by Nirav Shah for Inspect pop-up screen : CSS changes as per new HTML on 13 feb 2014*/
                  $("#modal-container-186470").css("top", topsize + "px");
                  /*end*/
                  $("#txtAreaComment").addClass("error");
                  $("#spanMessageError").text(msgspan);
                  return false;
              }
              else {
                  //if (/[!@@#$%\^&*(){}[\]<>?/|\-]/.test(commentText)) {
                  //    var msgspan = "Special character are not allowed, try again.";
                  //    $("#errorMessage").css("display", "block");
                  //    /*Changed by Nirav Shah for Inspect pop-up screen : CSS changes as per new HTML on 13 feb 2014*/
                  //    var topsize = $(document).scrollTop() + 41;
                  //    $("#modal-container-186470").css("top", topsize + "px");
                  //    /*end*/
                  //    $("#txtAreaComment").addClass("error");
                  //    $("#spanMessageError").text(msgspan);
                  //    return false;
                  //}
                  $("#txtAreaComment").removeClass("error");
              }

              var PlanTacticId = $('#hdnPlanCampaignId').val();
              $.ajax({
                  type: 'POST',
                  url: '@Url.Content("~/Home/SaveComment/")',
                  data: {
                      comment: commentText,
                      planTacticId: PlanTacticId,
                      section: "@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.Campaign).ToLower()"
                  },
                  success: function (data) {
                      if (data != 'undefined') {
                          if (data.id != 0) {
                              $("#successMessage").css("display", "block");
                              /*Changed by Nirav Shah for Inspect pop-up screen : CSS changes as per new HTML on 13 feb 2014*/
                              var topsize = $(document).scrollTop() + 41;
                              $("#modal-container-186470").css("top", topsize + "px");
                              /*end*/
                              $("#spanMessageSuccess").empty();
                              $("#spanMessageSuccess").text(data.msg);
                              loadInspectPopup(data.id, "@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.Campaign).ToLower()", data.TabValue);
                          }
                          else {
                              $("#errorMessage").css("display", "block");
                              var topsize = $(document).scrollTop() + 41;
                              $("#modal-container-186470").css("top", topsize + "px");

                              $("#spanMessageError").empty();
                              $("#spanMessageError").text("@RevenuePlanner.Helpers.Common.objCached.InvalidError");
                          }
                      }
                  },
                  error: function () {
                      $("#errorMessage").css("display", "block");
                      /*Changed by Nirav Shah for Inspect pop-up screen : CSS changes as per new HTML on 13 feb 2014*/
                      var topsize = $(document).scrollTop() + 41;
                      $("#modal-container-186470").css("top", topsize + "px");
                      /*end*/
                      $("#spanMessageError").empty();
                      GoToLogin();
                      return false;
                  }
              });
          });

          // Click on Approved Button Save Comment & Change Status
          $("#btnApproved").click(function () {
              $("#successMessage").css("display", "none");
              $("#errorMessage").css("display", "none");
              /*Changed by Nirav Shah for Inspect pop-up screen : CSS changes as per new HTML on 13 feb 2014*/
              var topsize = $(document).scrollTop();
              $("#modal-container-186470").css("top", topsize + "px");
              statusValue = $("#hdnStatusValue").val();
              var PlanTacticId = $('#hdnPlanCampaignId').val();
              var stat = "@RevenuePlanner.Helpers.Enums.TacticStatusValues[RevenuePlanner.Helpers.Enums.TacticStatus.Approved.ToString()].ToString()";
              if (statusValue == "Submit for Approval") {
                  stat = "@RevenuePlanner.Helpers.Enums.TacticStatusValues[RevenuePlanner.Helpers.Enums.TacticStatus.Submitted.ToString()].ToString()";
              }
              else if (statusValue == "Approve") {
                  stat = "@RevenuePlanner.Helpers.Enums.TacticStatusValues[RevenuePlanner.Helpers.Enums.TacticStatus.Approved.ToString()].ToString()";
              }
              else if (statusValue == "Reject") {
                  stat = "@RevenuePlanner.Helpers.Enums.TacticStatusValues[RevenuePlanner.Helpers.Enums.TacticStatus.Decline.ToString()].ToString()";
              }
              $.ajax({
                  type: 'POST',
                  url: '@Url.Content("~/Home/ApprovedTactic/")',
                  data: {
                      status: stat,
                      planTacticId: PlanTacticId,
                      section: "@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.Campaign).ToLower()"
                  },
                  success: function (data) {
                      if (data != 'undefined') {
                          if (data.id != 0) {
                              $("#successMessage").css("display", "block");
                              /*Changed by Nirav Shah for Inspect pop-up screen : CSS changes as per new HTML on 13 feb 2014*/
                              var topsize = $(document).scrollTop() + 41;
                              $("#modal-container-186470").css("top", topsize + "px");

                              $("#spanMessageSuccess").empty();
                              $("#spanMessageSuccess").text(data.msg);
                              loadInspectPopup(data.id, "@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.Campaign).ToLower()", data.TabValue);
                          }
                          else {
                              $("#errorMessage").css("display", "block");
                              /*Changed by Nirav Shah for Inspect pop-up screen : CSS changes as per new HTML on 13 feb 2014*/
                              var topsize = $(document).scrollTop() + 41;
                              $("#modal-container-186470").css("top", topsize + "px");

                              $("#spanMessageError").empty();
                              $("#spanMessageError").text("@RevenuePlanner.Helpers.Common.objCached.InvalidError");
                          }

                          // Added by Dharmraj to refresh current tab for PL #364,#365,#366
                          RefreshCurrentTab();
                      }
                  },
                  error: function () {
                      $("#errorMessage").css("display", "block");
                      /*Changed by Nirav Shah for Inspect pop-up screen : CSS changes as per new HTML on 13 feb 2014*/
                      var topsize = $(document).scrollTop() + 41;
                      $("#modal-container-186470").css("top", topsize + "px");

                      $("#spanMessageError").empty();
                      GoToLogin();
                      return false;
                  }
              });
          });


      });
</script>
