@model RevenuePlanner.Models.InspectModel
@{
    var tactic = (RevenuePlanner.Models.InspectModel)ViewBag.TacticDetail;
    var deployStatus = Model.IsDeployedToIntegration == true ? "Yes" : "No";
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PlanTacticId)
    <div class="span7" id="inspect-modal-right-div">
        <div id="nl-form" class="nl-form nl-form-modal">
            I'm running 
                <span id="tactic-type" class="color5693B3">@tactic.TacticTypeTitle</span>
            improvement tactic called 
                <span id="tactic-name" class="color5693B3">@tactic.TacticTitle</span>
            with an effective date starting
                <span id="start-date" class="color5693B3">@tactic.StartDate.ToShortDateString()</span>
            .
                                          <br>
            The status is: 
                <span id="status" class="color5693B3">@tactic.Status</span>
            <div class="nl-overlay"></div>
        </div>
    </div>
                                       
    <div class="span2" id="inspect-modal-left-column1">
        <p>Parent Campaign</p>
            @Html.TextBox("txtCampaign", tactic.CampaignTitle, new { @class = "span12 input-small truncate", style = "background:#F2F2F2;", @readonly = "true", title = tactic.CampaignTitle })
     @*   <p>Parent Program</p>
            @Html.TextBox("txtProgram", tactic.ProgramTitle, new { @class = "span12 input-small truncate", style = "background:#F2F2F2;", @readonly = "true", title = tactic.ProgramTitle })*@
        <p>Description</p>
            @Html.TextAreaFor(model => model.Description, new { @class = "span12 text-area-size truncate", style = "background:#F2F2F2;height:93px;", @readonly = "true" })
        <p style="width:110%;">Deployed to Integration</p>
            @Html.TextBox("txtDeployStatus",deployStatus,new {@class = "span12 input-small truncate", style = "background:#F2F2F2;", id = "txtDeployStatus", @readonly = "true"})
        <div style="clear: both; width: 250%;">
            <label style="color: #808080">This improvement tactics boosts @ViewBag.NoOfTacticBoosts activities.</label> 
            <label style="color: #808080" id="last-synced" class="pull-left">@ViewBag.LastSync</label>
            <br />
            <br />
        </div>
    </div>
    <div class="span2" id="inspect-modal-left-column2">
        <p>Owner</p>
        @Html.TextBoxFor(model => model.Owner, new { @class = "span12 input-small truncate", style = "background:#F2F2F2;", @readonly = "true", title = tactic.Owner })
        <p>Effective Date</p>
            @Html.TextBoxFor(model => model.StartDate, new { @class = "span12 input-small truncate", style = "background:#F2F2F2;", id = "txtDate", @readonly = "true" })
        <p>Business Unit</p>
        @Html.TextBox("txtBusinessUnit", (string)ViewBag.BudinessUnitTitle, new { @class = "span12 input-small truncate", style = "background:#F2F2F2;", @readonly = "true", title = (string)ViewBag.BudinessUnitTitle })
        <p>Cost</p>
            @Html.TextBoxFor(model => model.Cost, new { @class = "span12 input-small truncate", style = "background:#F2F2F2;", id = "txtCost", @readonly = "true" })
    </div>
                                        
    <span class="flag-icon"></span>
}

<script type="text/javascript">
    $(document).ready(
      function () {
          $('#txtCost').priceFormat({ prefix: '$', centsSeparator: '', thousandsSeparator: ',', centsLimit: 0 });
          $('#txtCost').attr("title", $('#txtCost').val()); //added by uday for internal point 2-7-2014
          $('#txtDate').val($('#txtDate').val().split(" ")[0].toString());
      });
</script>
