@model RevenuePlanner.Models.InspectModel
@{
    var program = (RevenuePlanner.Models.InspectModel)ViewBag.ProgramDetail;
}

@using (Html.BeginForm("SaveTactic", "Inspect", FormMethod.Post, new { @name = "SaveTacticForm" }))
{
    @Html.HiddenFor(model => model.PlanProgramId)
    <div class="span7" id="inspect-modal-right-div">
        <div id="nl-form" class="nl-form nl-form-modal">
            @Html.Raw("I'm running program called") 
            <span id="tactic-name" class="color5693B3">@program.ProgramTitle</span>
            @Html.Raw("from")
           <span id="start-date" class="color5693B3">@program.StartDate.ToShortDateString()</span>
            @Html.Raw("to")
            <span id="end-date" class="color5693B3">@program.EndDate.ToShortDateString()</span>
            @Html.Raw("for the")
            <span id="vertical" class="color5693B3">@program.VerticalTitle</span>
            @Html.Raw("vertical.")
            
                                          <br>
            @Html.Raw("The status is:") 
            <span id="status" class="color5693B3">@program.Status</span>
            <div class="nl-overlay"></div>

        </div>
        <!--To call js for forms animations-->
        <script src="@Url.Content("~/Scripts/js/NaturalLanguageForm/nlform.js")"></script>
        <script>
            var nlform2 = new NLForm(document.getElementById('nl-form'));
        </script>
    </div>
                                       
    <div class="span2" id="inspect-modal-left-column1">
        <p>@Html.Raw("Parent Campaign")</p>
         @Html.TextBox("txtCampaign", program.CampaignTitle, new { @class = "span12 input-small truncate", style = "background:#F2F2F2;", @readonly = "true", title = program.CampaignTitle })
         <p>@Html.Raw("Description")</p>
         @Html.TextAreaFor(model => model.Description, new { @class = "span12 text-area-size truncate", style = "background:#F2F2F2;", @readonly = "true" })
    </div>
    <div class="span2" id="inspect-modal-left-column2">
        <p>@Html.Raw("Owner")</p>
        @Html.TextBoxFor(model => model.Owner, new { @class = "span12 input-small truncate", style = "background:#F2F2F2;", @readonly = "true", title = program.Owner })
        <p>@Html.Raw("Audience")</p>
        @Html.TextBox("txtAudience", (string)ViewBag.Audience, new { @class = "span12 input-small", style = "background:#F2F2F2;", @readonly = "true", title = (string)ViewBag.Audience })
        <p>@Html.Raw("Business Unit")</p>
        @Html.TextBox("txtBusinessUnit", (string)ViewBag.BudinessUnitTitle, new { @class = "span12 input-small truncate", style = "background:#F2F2F2;", @readonly = "true", title = (string)ViewBag.BudinessUnitTitle })
        <p>@Html.Raw("Cost")</p>
        @Html.TextBoxFor(model => model.Cost, new { @class = "span12 input-small truncate", style = "background:#F2F2F2;", id = "txtCost", @readonly = "true", title = program.Cost })
       
    </div>
                                        
    <span class="flag-icon"></span>
    <input type="button" class="btn btn-blue text-shadow-blue source-sans-proregular gear-icon button-inspect-review-modal pull-right"
        id="button-review-tactic" name="button-save" value="Review Tactic" style="display: none;"></input>
}

@*<script type="text/javascript">
    $(document).ready(
      function () {
          // Click of Camaign Dropdown Event Change , Fill Data Of Program Dropdown using Json
          $('#ddlCampaign').change(function () {
              var CampaignId = $(this).val();
              $.ajax({
                  type: 'POST',
                  url: '@Url.Content("~/Home/LoadProgram")',
                  data: { campaignId: CampaignId },
                  success: function (data) {
                      $("#ddlProgram").empty();
                      $("#ddlProgram").append("<option value='Please Select'>Please Select</option>");
                      $.each(data, function (index, optionData) {
                          $("#ddlProgram").append("<option value='" + optionData.PlanProgramId + "'>" + optionData.Title + "</option>");
                      });
                  },
                  error: function () {
                      $("#ddlProgram").empty();
                      $("#ddlProgram").append("<option value='Please Select'>Please Select</option>");
                  }
              });
          });

          $('#txtCost').priceFormat({ prefix: '$', centsSeparator: '', thousandsSeparator: ',', centsLimit: 0 });

          // Click On Button in Setup Tab check validation of Empty field, Dropdown Value Selected or Not & Date Format
          $("#button-review-tactic").click(function () {
              var isError = true;
              $('.nl-field').each(function () {
                  var isvalidate = true;
                  if ($(this).next().attr('datadefault') == 'date') {
                      var sdate = $(this).children('a').text().trim();
                      isvalidate = isDate(sdate);
                  }

                  if ($(this).children('a').text() == '' || $(this).children('a').text() == 'Please Select' || isvalidate == false) {
                      $(this).children('a').addClass("error-form");
                      isError = false;
                  }
                  else {
                      $(this).children('a').removeClass("error-form");
                  }
              });

              // Display Error Message Div Panel
              if (isError == false) {
                  $("#errorMessage").css("display", "block");    // Show the Alert
                  $("#spanMessageError").empty();
                  $("#spanMessageError").text("Make sure all fields are filled and try again.");
              }
              else {
                  $("#errorMessage").css("display", "none");
              }
              $("#txtCost").val(ReplaceCC($("#txtCost").val()));
              // There is validate form Than Save Tactic Details
              if (isError) {
                  $.ajax({
                      type: 'POST',
                      url: '@Url.Content("~/Home/SaveTactic")',
                      data: $("form[name=SaveTacticForm]").serialize(),
                      success: function (data) {
                          if (data != 'undefined') {
                              loadInspectPopup(data.id, "tactic", data.TabValue);
                          }
                      },
                      error: function () {
                          alert('error');
                      }
                  });
              }

              return isError;
          });

          

      });
</script>*@
