@model RevenuePlanner.Models.Inspect_Popup_Plan_Campaign_Program_TacticModel
@using RevenuePlanner.Helpers;

@using (Html.BeginForm())
{
    <script src="~/Scripts/js/bootstrap-datepicker.js"></script> 
 
    bool ExtIntService = (bool)ViewBag.ExtIntService;  
 @Html.HiddenFor(model => model.PlanProgramId, new { id = "hdnPlanProgramId" })
 @Html.HiddenFor(model => model.PlanTacticId, new { id = "hdnPlanTacticId" })
 @Html.HiddenFor(model => model.PStartDate, new { id = "hdnPStartDate" })
 @Html.HiddenFor(model => model.PEndDate, new { id = "hdnPEndDate" })
 @Html.HiddenFor(model => model.CStartDate, new { id = "hdnCStartDate" })
 @Html.HiddenFor(model => model.CEndDate, new { id = "hdnCEndDate" })
 @Html.HiddenFor(model => model.IsDeployedToIntegration, new { id = "hdnIsDeployedToIntegration" })
 @Html.HiddenFor(model => model.StageId, new { id = "hdnStageId" })
 @Html.HiddenFor(model => model.BusinessUnitId, new { id = "hdnBusinessUnitId" })
 @Html.HiddenFor(model => model.TacticTitle, new { id = "hdnPlanTacticTitle" })
 @Html.HiddenFor(model => model.Description, new { id = "hdnDescription" })
     
    <div class="inspect-column-parent source-sans-proregular remove-bottom-border">
        <div class="span6" id="inspect-modal-left-column1">
            <p>Parent Campaign</p>
            @Html.TextBoxFor(model => model.CampaignTitle, new { @class = "span12 input-small truncate", id = "txtCampaign", @readonly = "true", style = "background:#F2F2F2;" })
            <p>Parent Program</p>
            @Html.TextBoxFor(model => model.ProgramTitle, new { @class = "span12 input-small truncate", id = "txtProgram", @readonly = "true", style = "background:#F2F2F2;" })
            <p>Description</p>
            @Html.TextAreaFor(model => model.Description, new { @class = "span12 text-area-size", id = "Description", maxlength = "4000" })
        </div>
        <div class="span3" id="inspect-modal-left-column2">
            <p>Tactic Type</p>
            <span class="verticalIdSelectBox" style="margin-left: -2px;">
                @Html.DropDownListFor(model => model.TacticTypeId, new SelectList((System.Collections.IEnumerable)ViewBag.Tactics, "TacticTypeId", "Title"), "Please Select", new { @class = "ddlStyle resubmission", require = "true", Id = "ddlTacticType", label = "Tactic_Type" })
            </span>
            <p style="margin-top: 10px;">Cost</p>
            @Html.TextBoxFor(model => model.Cost, new { @class = "input-small truncate currency_dollar", id = "TacticCost", maxlength = @RevenuePlanner.Helpers.Common.maxLengthDollar })
            <p>Start Date</p>
            <div class="dp datepicker input-append date without-margin calendar-width sidebar-datepicker" id="dp_start" data-date="@Model.StartDate.ToShortDateString()" data-date-format="@RevenuePlanner.Helpers.Common.DateFormatDatePicker">
                @Html.TextBoxFor(model => model.StartDate, new { @class = "input-small resubmission", id = "t_startdate", label = "Start_Date" })
                <span class="add-on">
                    <img src="~/Content/images/gray-calendar-icon.png"></span>
            </div>
            <br />
            <br />
            <p>End Date</p>
            <div class="dp datepicker input-append date without-margin calendar-width sidebar-datepicker" id="dp_end" data-date="@Model.EndDate.ToShortDateString()" data-date-format="@RevenuePlanner.Helpers.Common.DateFormatDatePicker">
                @Html.TextBoxFor(model => model.EndDate, new { @class = "input-small resubmission", id = "t_enddate", label = "End_Date" })
                <span class="add-on">
                    <img src="~/Content/images/gray-calendar-icon.png"></span>
            </div>
        </div>
        <div class="span3" id="inspect-modal-left-column3">
            <p>Owner</p>
            @Html.TextBoxFor(model => model.Owner, new { @class = "span12 input-small truncate", style = "background:#F2F2F2;", @readonly = "true", title = Model.Owner })

            @if (ExtIntService)
            {                 

                <p style="width: 110%;">Deployed to Integration</p>
                if (Model.IsDeployedToIntegration)
                {
                <input id="t_integration_status" name="t_status" type="text" class="icon-check-blue margin-top10" placeholder="Sync to Integration" style="margin-top: 0px ! important;" maxlength="18" readonly />
                }
                else
                {
                <input id="t_integration_status" name="t_status" type="text" class="icon-check-gray margin-top10" placeholder="Not Sync to Integration" style="margin-top: 0px ! important;" maxlength="18" readonly />
                }
            }

            <div class="cf width100" style="width: 244px;">
                <div class="margin-right10 pull-left" style="width: 47%">
                    <label id="lblStageTitle" title="@Model.StageTitle">@Model.StageTitle &nbsp;

                        @if (ViewBag.IsDiffrentStageType == true)
                        {
                            <span>
                                <img id="diffrentStageIcon" src="~/Content/images/flag-icon.png" title="Please note that the stage information at plan level is different than that at the model level" /></span>
                              
                        }</label>
                    @Html.TextBoxFor(model => model.ProjectedStageValue, new { placeholder = "0", id = "txtProjectedStageValue", @class = "priceValue resubmission", label = @Model.StageTitle, maxlength = @RevenuePlanner.Helpers.Common.maxLengthPriceValue })
                </div>

                <div class="pull-left" style="width: 47%">
                    <label title="@Html.LabelForMQL("MQL")">@Html.LabelForMQL("MQL")</label>
                    <input type="text" value="@Model.MQLs" readonly="true" id = "txtmql" />
                </div>

                <div class="pull-left" style="width: 47%">
                    <label title="Revenue">Revenue</label>
                    @Html.TextBoxFor(model => model.Revenue, new { placeholder = "$0", id = "txtRevenue", @readonly = "true", maxlength = @RevenuePlanner.Helpers.Common.maxLengthDollar })
                </div>
            </div>
        </div>
    </div>
    
    <ul class="nav nav-tabs new-margin padding-bottom10 clear border-bottom-div" id="InspectTab">
        <li class="pull-right">
            <h3 class="modal-popup-innertitle source-sans-proregular">Attributes</h3>
        </li>
    </ul>

    <div class="inspect-column-parent source-sans-proregular remove-bottom-border margin-bottom0">
        <div class="span3 margin-top10" style="clear: both;">
            <p class="ellipsis" title="@Html.CustomLabelFor(Enums.CustomLabelCode.Audience)">@Html.CustomLabelFor(Enums.CustomLabelCode.Audience)</p>
            <span class="verticalIdSelectBox" style="margin-left: -2px;">
                @Html.DropDownListFor(model => model.AudienceId, new SelectList((System.Collections.IEnumerable)ViewBag.Audience, "AudienceId", "Title"), "Please Select", new { @class = "ddlStyle resubmission", label = "Audience", require = "true" })
            </span>
        </div>
        <div class="span3 margin-top10 paddingleft25px">
            <p>Business Unit</p>
            @Html.TextBox("txtBusinessUnit", (string)ViewBag.BudinessUnitTitle, new { @class = "span12 input-small truncate", style = "background:#F2F2F2;", @readonly = "true", title = (string)ViewBag.BudinessUnitTitle })
        </div>
        <div class="span3 margin-top10 paddingleft25px">
            <p>Vertical</p>
            <span class="verticalIdSelectBox" style="margin-left: -2px;">
                @Html.DropDownListFor(model => model.VerticalId, new SelectList((System.Collections.IEnumerable)ViewBag.Verticals, "VerticalId", "Title"), "Please Select", new { @class = "ddlStyle resubmission", require = "true", label = "Vertical" })
            </span>
        </div>
        <div class="span3 margin-top10 paddingleft25px">
            <p>Geography</p>
            <span class="verticalIdSelectBox" style="margin-left: -2px;">
                @Html.DropDownListFor(model => model.GeographyId, new SelectList((System.Collections.IEnumerable)ViewBag.Geography, "GeographyId", "Title"), "Please Select", new { @class = "ddlStyle resubmission", require = "true", label = "Geography" })
            </span>
        </div>
        @HtmlHelpers.GenerateCustomFieldsForInspectPopup(Model.PlanTacticId, Enums.EntityType.Tactic.ToString(), 4, "addEdit")
    </div>   

    <div style="width: 100%; display: none; clear: both" id="divTacticSaveCancel" class="wraper-btns cf border-top-div ">
        <div class="span2 btn-save" style="width: 122px">
            <button id="btnUploadResult" class="btn btn-blue text-shadow-blue source-sans-proregular margin-top23" type="button">Save & Continue</button>
        </div>
        <div class="span2">
            <button id="btnCancel" class="close-form btn-link source-sans-proregular" style="float: left; margin-left: 20px; margin-top: 30px !important" type="button">Cancel</button>
        </div>
    </div>
}

<script type="text/javascript">
    var hdnYear;

    $(document).ready(
      function () {
          $(this).scrollTop(0);
          $(".verticalIdSelectBox select").selectbox();
          $('#txtTacticTitle').css('display', 'block');
          $('#lblTacticTitle').css('display', 'none');
          $('#divTacticSaveCancel').css('display', 'block');
          $('#EditForm').css('display', 'none');          
          $('#txtCost').priceFormat({ prefix: '$', centsSeparator: '', thousandsSeparator: ',', centsLimit: 0 });
          $('#txtCost').attr("title", $('#txtCost').val());
          $(".selectBox select").selectbox();

          $("#t_startdate").val($("#t_startdate").val().split(' ')[0]);
          $("#t_enddate").val($("#t_enddate").val().split(' ')[0]);

          //// Assign default values to controls having classname = .resubmission
          assignDefaultValue(".resubmission");

          $("#txtRevenue").val('$' + number_format($("#txtRevenue").val().toString(), 0, 0, ','));
          $('.currency_dollar').priceFormat({ prefix: '$', centsSeparator: '', thousandsSeparator: ',', centsLimit: 0 });
          $('.priceValue').priceFormat({ prefix: '', centsSeparator: '', thousandsSeparator: ',', centsLimit: 0 });

          if (($("#hdnInspectMode").val() == '@Enums.InspectPopupMode.Add.ToString()')) {
              $("#liSetup,#liReview,#liBudget,#liActuals").unbind("click");
          }

          $('.dp').datepicker({
              format: "@RevenuePlanner.Helpers.Common.DateFormatDatePicker",
              autoclose: true,
          }).on('changeDate', function (ev) {
              $(this).datepicker('hide');
          });;

          /*hide the other datepicker in input onclick*/

          $("#t_integration_status").click(function () {
              if ($(this).hasClass("icon-check-blue")) {
                  $(this).val("Not Sync to integration");
                  $(this).addClass("icon-check-gray");
                  $(this).removeClass("icon-check-blue");
                  $("#hdnIsDeployedToIntegration").val(false);
              }
              else {
                  $(this).val("Sync to integration");
                  $(this).addClass("icon-check-blue");
                  $(this).removeClass("icon-check-gray");
                  $("#hdnIsDeployedToIntegration").val(true);
              }
          });

          if ('@TempData["TacticMQL"]' == "N/A") {
              $("#txtmql").removeClass("priceValue");
              $("#txtmql").val("N/A");
              $("#txtmql").attr('title', 'N/A');
          }
          else {
              var mqlValue = FormatCommas($("#txtmql").val(), false);
              $("#txtmql").val(mqlValue);
              $("#txtmql").attr('title', mqlValue);
          }


          $('#t_startdate').click(function () {
              $('#dp_end').datepicker('hide');
          })

          $('#t_enddate').click(function () {
              $('#dp_start').datepicker('hide');
          })

          //hide the other datepicker in add-on onclick
          $('#dp_start .add-on').click(function () {
              $('#dp_start').datepicker('show');
              $('#dp_end').datepicker('hide');
              $(".dropdown-menu").css("z-index", "25001");
          })

          $('#dp_end .add-on').click(function () {
              $('#dp_start').datepicker('hide');
              $('#dp_end').datepicker('show');
              $(".dropdown-menu").css("z-index", "25001");
          })

          var arLineitem = [];
          var arrClosedTaskString = null;
          var _customFieldValues = [];
          var _resubmissionLabelValues = [];
          hdnYear = @ViewBag.Year


          $("#btnCancel").on("click", function (e) {
              var activeTab = $("#InspectTab li.active a").text()
              var planTacticId = $("#hdnPlanTacticId").val();
              $('#txtTacticTitle').css('display', 'none');
              $('#lblTacticTitle').css('display', 'block');
              $("#lblTacticTitle").removeAttr("style");
              $('#divDeleteTactic').css('display', 'block');
              $("#errorMessage").css("display", "none");
              $("#successMessage").css("display", "none");
              $('#divTacticSaveCancel').css('display', 'none');
              $('#EditForm').css('display', 'block');
              $("#hdnTacticBudgetAllocationOpt").val("View");
              $("#AddForm").css("display", "block");
              if (!($("#hdnInspectMode").val() == '@Enums.InspectPopupMode.Add.ToString()')) {
                  loadReview(planTacticId, activeTab);
              }
              else {
                  $('#modal-container-186470').modal("hide");
              }
          });

      });

      $("#btnUploadResult").on("click", function (e) {          
          document.getElementById("txtCampaign").value = htmlEncode($('#txtCampaign').val());
          document.getElementById("txtProgram").value = htmlEncode($('#txtProgram').val());
          document.getElementById("hdnDescription").value = htmlEncode($('#Description').val());
          document.getElementById("hdnPlanTacticTitle").value = htmlEncode($('#txtTacticTitle').val());
          
          var isLowBudgeted = false;
          var errorMsgForLowBudget = "@RevenuePlanner.Helpers.Common.objCached.CannotAllocateLessThanPlanned for ";
          var lowBudgetedMonths = "";
          var removeLength = 0;

          var iserror = false;
          $('form').find('input[type=text], select, textarea').each(function () {
              if ($(this).attr('require') == 'true') {
                  if ($(this).val() == '') {
                      $(this).addClass("error");
                      iserror = true;
                  }
                  else {
                      $(this).removeClass("error");
                  }
              }
          });

          //sbSelector
          $('form').find('.sbSelector').each(function () {
              if ($(this).parent().prev().attr('require') == 'true') {
                  if ($(this).text() == 'Please Select') {
                      $(this).addClass("error");
                      iserror = true;
                  }
                  else {
                      $(this).removeClass("error");
                  }
              }
          });

          if (iserror) {
              ShowError("@RevenuePlanner.Helpers.Common.objCached.ValidateForEmptyField");
              return false;
          }

          var sdate = $('#t_startdate').val();
          var edate = $('#t_enddate').val();
          if (!isDate(sdate)) {
              alert('@Common.objCached.ValidateStartDate');
              return false;
          }
          if (!isDate(edate)) {
              alert('@Common.objCached.ValidateEndDate');
              return false;
          }


          if (!CheckDateYear(sdate, hdnYear, "@RevenuePlanner.Helpers.Common.objCached.StartDateCurrentYear")) return false;
          if (!CheckDateYear(edate, hdnYear, "@RevenuePlanner.Helpers.Common.objCached.EndDateCurrentYear")) return false;

          $("#txtProjectedStageValue").val(ReplaceCC($("#txtProjectedStageValue").val()));
          if ($("#txtmql").val() == 'N/A') {
              $("#txtmql").val(0);
              $("#txtmql").attr("title", "0");
          }
          else {
              var mqlValue = ReplaceCC($("#txtmql").val());
              $("#txtmql").val(mqlValue);
              $("#txtmql").attr("title", mqlValue);
          }

          $("#TacticCost").val(ReplaceCC($("#TacticCost").val()));

          arrClosedTaskString = null;
          if (typeof arrClosedTask != 'undefined') {
              arrClosedTaskString = arrClosedTask.toString();
          }

          arLineitem = [];
          var _Lineitems = $("#frm_campaigns #c_tactics select");
          for (var l = 0; l < _Lineitems.length; l++) {
              var typeid = $(_Lineitems[l]).val();
              arLineitem[l] = typeid;
          }

          ////creating object which contains value of custom fields
          _customFieldValues = [];
          $('form').find('input[type=text], select').each(function () {
              if ($(this).attr('cf_id') != '' && typeof $(this).attr('cf_id') != 'undefined' && $(this).val() != '') {
                  _customFieldValues.push({
                      Key: $(this).attr('cf_id').toString(),
                      Value: htmlEncode($(this).val().toString())
                  });
              }
          });

          _customFieldValues = JSON.stringify(_customFieldValues);
          var isAssortment = true;
          
          _resubmissionLabelValues = [];

          if ((checkChangeValue(".resubmission", true)) && ($("#hdnIsResubmitableStatus").val().toString().toLowerCase() == "true")) {
              url = '@Url.Content("~/Home/LoadResubmission")';
              $("#divResubmission").load(url + '?redirectionType=' + "@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.Tactic)" + '&labelValues=' + _resubmissionLabelValues);
          } else {
              saveTactic();
          }
      });

      function saveTactic() {

          var uId = $(window).attr('name');

          $.ajax({
              type: 'POST',
              url: '@Url.Content("~/Home/SetupSaveTactic")',
            data: $("form").serialize() + '&lineitems=' + arLineitem + '&closedTask=' + arrClosedTaskString + '&UserId=' + uId + '&customFieldInputs=' + escape(_customFieldValues),
            success: function (data) {
                if (data.returnURL != 'undefined' && data.returnURL == '#') {
                    window.location = '@Url.Content("~/Login/Index")';
                }
                else {
                    if (!data.IsDuplicate) {

                        if (data.redirect) {
                            var activeTab = $("#InspectTab li.active a").text()
                            var planTacticId = data.planTacticId;                            
                            $('#txtTacticTitle').css('display', 'none');
                            $('#lblTacticTitle').css('display', 'block');
                            $("#lblTacticTitle").removeAttr("style");
                            $('#divTacticSaveCancel').css('display', 'none');
                            $('#EditForm').css('display', 'block');
                            $("#successMessage").css("display", "block");
                            $("#spanMessageSuccess").empty();
                            $("#spanMessageSuccess").text(data.Msg);
                            $("#errorMessage").css("display", "none");
                            loadInspectPopup(planTacticId, "@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.Tactic).ToLower()", activeTab, "@Enums.InspectPopupMode.ReadOnly.ToString()");
                            $("#liSetup,#liReview,#liBudget,#liActuals").bind("click");
                            RefreshCurrentTab();    //// Added by Sohel Pathan on 29/10/2014 for Internal Review Points
                            return;
                        }
                    }
                    else {
                        ShowError(data.Msg);
                        $("#divBudgetError").slideUp(30);
                        return;
                    }
                }
            }
        });
    }

    function ShowError(value) {
        $("#modal-container-186470").scrollTop(0);
        $("#errorMessage").css("display", "block");
        $("#errorMessage").slideDown(400);
        $("#spanMessageError").empty();
        $("#spanMessageError").text(value);
    }

    function assignDefaultValue(classname) {
        $('form').find(classname).each(function () {
            $(this).attr("oldValue", $(this).val());
        });
    }

    function checkChangeValue(classname, withResubmissionLabel) {
        var resubmit = false;
        if (withResubmissionLabel) {
            $('form').find(classname).each(function () {
                var oldValue = $(this).attr("oldValue");
                var value = $(this).val();
                if (oldValue != value) {
                    _resubmissionLabelValues.push({
                        Key: htmlEncode($(this).attr("label").toString()),
                        Value: htmlEncode($(this).attr("label").toString())
                    });

                    resubmit = true;
                }
            });
            _resubmissionLabelValues = JSON.stringify(_resubmissionLabelValues);
            return resubmit;
        }
        else {
            $('form').find(classname).each(function () {
                var oldValue = $(this).attr("oldValue");
                var value = $(this).val();
                if (oldValue != value) {
                    return resubmit = true;
                }
            });
        }
    }

    $('#ddlTacticType').change(function () {
        var tacticTypeId = $(this).val();
        var pmql = 0;
        var pcost = 0;
        var projectedStageValue = 0;
        if (tacticTypeId != '') {
            if (parseInt($('#hdnPrevTacticTypeId').val()) != parseInt($('#ddlTacticType').val())) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Content("~/Plan/LoadTacticTypeValue")',
                    data: { tacticTypeId: tacticTypeId },
                    success: function (data) {
                        pcost = data.revenue;
                        projectedStageValue = data.projectedStageValue;
                        $("#lblStageTitle").text(data.stageTitle);
                        $("#hdnStageId").val(data.stageId);
                        $("#txtProjectedStageValue").val(projectedStageValue);
                        GetConversionRate(projectedStageValue, true);
                        $("#TacticCost").val(pcost);

                        $('.currency_dollar').priceFormat({ prefix: '$', centsSeparator: '', thousandsSeparator: ',', centsLimit: 0 });
                        $('.priceValue').priceFormat({ prefix: '', centsSeparator: '', thousandsSeparator: ',', centsLimit: 0 });

                        if (data.IsDeployedToIntegration) {
                            $("#t_integration_status").val("Sync to integration");
                            $("#t_integration_status").addClass("icon-check-blue");
                            $("#t_integration_status").removeClass("icon-check-gray");
                            $("#hdnIsDeployedToIntegration").val(true);
                        }
                        else {
                            $("#t_integration_status").val("Not Sync to integration");
                            $("#t_integration_status").addClass("icon-check-gray");
                            $("#t_integration_status").removeClass("icon-check-blue");
                            $("#hdnIsDeployedToIntegration").val(false);
                        }
                        $('#hdnPrevTacticTypeId').val($('#ddlTacticType').val());
                    }
                });
            }
        }
        else {
            $("#txtProjectedStageValue").val(projectedStageValue);
            $("#txtmql").val(pmql);
            $("#txtRevenue").val('0');

            $("#TacticCost").val('0');
            $('.currency_dollar').priceFormat({ prefix: '$', centsSeparator: '', thousandsSeparator: ',', centsLimit: 0 });
            $('.priceValue').priceFormat({ prefix: '', centsSeparator: '', thousandsSeparator: ',', centsLimit: 0 });
            $("#lblStageTitle").text("Stage");
            $("#hdnStageId").val("0");
            var newRemainingBudget = parseInt($("#hdnTotalPlanBudget").val());
            $('#hdnPrevTacticTypeId').val('0');
        }

        $('#ddlTacticType').next().find('.sbSelector').focus();
    });

    function FormatRemainingBudget() {
        if (parseInt(ReplaceCC($("#txtRemainingBudget").val())) < 0) {
            $("#txtRemainingBudget").addClass('error-text');
        }
        else {
            $("#txtRemainingBudget").removeClass('error-text');
        }
    }

    var txtCampaignValue = '';
    var txtProgramValue = '';
    var txtTacticValue = '';
    var txtDescriptionValue = '';

    $("#txtProjectedStageValue").focusout(function () {
        txtCampaignValue = $("#txtCampaign").val();
        txtProgramValue = $("#txtProgram").val();
        txtTacticValue = $("#txtTacticTitle").val();
        txtDescriptionValue = $("#Description").val();

        document.getElementById("txtCampaign").value = htmlEncode($('#txtCampaign').val());
        document.getElementById("txtProgram").value = htmlEncode($('#txtProgram').val());
        document.getElementById("hdnDescription").value = htmlEncode($('#Description').val());
        document.getElementById("hdnPlanTacticTitle").value = htmlEncode($('#txtTacticTitle').val());
        var projectedStageValue = ReplaceCC($("#txtProjectedStageValue").val());
        $("#txtProjectedStageValue").val(ReplaceCC($("#txtProjectedStageValue").val()));
        GetConversionRate(projectedStageValue, false);
        $("#txtProjectedStageValue").val(FormatCommas($("#txtProjectedStageValue").val(), false));
    });

    var isAssortment = true;
    var mqlConversion = 0;
    function GetConversionRate(projectedStageValue, isTacticTypeChange) {
        if ($('#ddlTacticType').val() != '') {
            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/Home/CalculateMQL")',
                    data: $("form").serialize() + '&projectedStageValue=' + projectedStageValue + '&RedirectType=' + isAssortment + '&isTacticTypeChange=' + isTacticTypeChange,
                    success: function (data) {
                        if (data.mql == 'N/A') {
                            $("#txtmql").val(data.mql);
                            $("#txtmql").attr("title", data.mql);
                            $("#txtmql").removeClass('priceValue');
                        }
                        else {
                            mqlConversion = data.mql;
                            var mqlValue = FormatCommas(mqlConversion.toString(), false);
                            $("#txtmql").val(mqlValue);
                            $("#txtmql").attr("title", mqlValue);
                        }

                        $("#txtRevenue").val('$' + number_format(data.revenue.toString(), 0, 0, ','));
                        $("#txtRevenue").attr("title", $("#txtRevenue").val());

                        $("#txtCampaign").val(txtCampaignValue);
                        $("#txtProgram").val(txtProgramValue);
                        $("#txtTacticTitle").val(txtTacticValue);
                        $("#Description").val(txtDescriptionValue);
                    }
                });
            }
        }

</script>
