@*@model System.Web.Mvc.JsonResult*@
@model RevenuePlanner.Models.BudgetDHTMLXGridModel
@using RevenuePlanner.Models
@using RevenuePlanner.Helpers
@*@model List<BudgetDHTMLXGridDataModel>*@

@{
    string AllocatedBy = ViewBag.AllocatedBy;
    string Tab = ViewBag.Tab;
    bool isPlanTab = true;
    if (Tab != ReportTabType.Plan.ToString())
    {
        isPlanTab = false;
    }
    //BudgetModelReport main = Model.Where(p => p.ActivityType == ActivityType.ActivityMain).SingleOrDefault();
    string strDefault = Enums.PlanAllocatedByList[Enums.PlanAllocatedBy.defaults.ToString()].ToString().ToLower();
    string strMonths = Enums.PlanAllocatedByList[Enums.PlanAllocatedBy.months.ToString()].ToString().ToLower();
    string strQuarters = Enums.PlanAllocatedByList[Enums.PlanAllocatedBy.quarters.ToString()].ToString().ToLower();
    BudgetMonth PercAllocated = ViewBag.PercAllocated;
    double MainTotalActual = ViewBag.MainTotalActual;
    double MainTotalAllocated = ViewBag.MainTotalAllocated;
    double planAllocation = (MainTotalActual == 0 && MainTotalAllocated == 0) ? 0 : (MainTotalActual > 0 && MainTotalAllocated == 0) ? 101 : MainTotalActual / MainTotalAllocated * 100;
    string CurrentQuarter = ViewBag.CurrentQuarter;
    string TodayDate = ViewBag.TodayDate;
    bool isData = true;
    //string SortingId = ViewBag.SortingId; 
}
<link href="@Url.Content("~/Content/css/DHTMLX/dhtmlxtreegrid2_min.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="@Url.Content("~/Scripts/js/DHTMLX/dhtmlxtreegrid_min.js")"></script>
<style>
    div.gridbox_dhx_skyblue.gridbox table.hdr td div.hdrcell
    {
        text-align: center;
        padding-left: 0px !important;
    }

    div.gridbox_dhx_skyblue.gridbox div.xhdr table.hdr
    {
        width: 100% !important;
    }

        div.gridbox_dhx_skyblue.gridbox div.xhdr table.hdr tr
        {
            color: black;
        }

    div.gridbox_dhx_skyblue.gridbox div.objbox table.row20px
    {
        width: 100% !important;
    }

        div.gridbox_dhx_skyblue.gridbox div.objbox table.row20px tr
        {
            color: black;
        }

            div.gridbox_dhx_skyblue.gridbox div.objbox table.row20px tr td div.treegrid_cell
            {
                text-align: left !important;
            }

            div.gridbox_dhx_skyblue.gridbox div.objbox table.row20px tr td div
            {
                text-align: center;
            }

        div.gridbox_dhx_skyblue.gridbox div.objbox table.row20px .progressBar.budgetError
        {
            background: #ff1e26 none repeat scroll 0 0;
        }

        div.gridbox_dhx_skyblue.gridbox div.objbox table.row20px .progressBar
        {
            background: #3fa9f5 none repeat scroll 0 0;
            bottom: 0;
            height: 2px !important;
            left: 0;
            margin: 0;
            max-width: 100%;
            padding: 0;
            position: absolute;
        }

        div.gridbox_dhx_skyblue.gridbox div.objbox table.row20px tr td div.budgetError, span.budgetError
        {
            color: #ff1e26;
        }

    #gridbox.gridbox_dhx_skyblue.gridbox div.objbox table.row20px tr td
    {
        position: relative;
    }

    .dhxgrid_sort_asc, .dhxgrid_sort_desc
    {
        background-repeat: no-repeat;
        height: 26px;
        top: 44px !important;
        width: 15px;
    }
</style>
<div id="gridbox" style="background-color: white; width: 100%;" class="financeReportGrid"></div>

<script type="text/javascript">

    AddTipsy();
    SetHeader();
    @*if ('@SortingId' != '') {
        var sortid = '#' + '@SortingId';
        if ($(sortid).hasClass('UpperArrowReport')) {
            $(sortid).removeClass('UpperArrowReport');
            $(sortid).addClass('UpperArrowReportBlue');
        }
        else if ($(sortid).hasClass('DownArrowReport')) {
            $(sortid).removeClass('DownArrowReport');
            $(sortid).addClass('DownArrowReportBlue');
        }
        else if ($(sortid).hasClass('UpperArrowReportBlue')) {
        }
        else if ($(sortid).hasClass('DownArrowReportBlue')) {
        }
    }*@

    LoadBudgetSortingEvent();
    $(document).ready(function () {

        BindBudgetGrid();
        @if (Model.Grid.rows.Count() == 1)
        {
            //Model.Where(p => p.ActivityType == ActivityType.ActivityTactic).Count() == 0
            isData = false;
        }
        if ('@isData' == 'False') {
            $('.gridbox').empty();
            $('#divTabData').html('<div class="NoDataFound">No data found for selected active filters.</div>');
        }

        $.fn.hasScrollBar = function () {
            return this.get(0).scrollWidth > this.width();
        }

        $("#monthContainer").mCustomScrollbar({
            scrollButtons: {
                enable: true
            },
            horizontalScroll: true,
            advanced: { autoExpandHorizontalScroll: true, updateOnContentResize: true }
        });
    });


    $('.accordionClick').on('click', function () {
        var accordionId = $(this).parent().attr('id');
        $('table').find(".sub[data-parent='" + accordionId + "']").fadeToggle(100);
        $(this).toggleClass('collapse');

        if ($(".sub[data-parent='" + accordionId + "']").show()) {
            $(".sub[data-parent='" + accordionId + "']").prev('#' + accordionId).toggleClass('open');
        }

        //Added By : Kalpesh Sharma : #739 Adding additional views to Budget Planning screen
        var data = $(".column1").get(0);
        $(".budget-table .column1 > tr").each(function () {
            $(this).width(data.scrollWidth);
        });

    });

    function AddTipsy() {
        $("div[Allocated]").each(function () {
            bootstrapetitle($(this), 'Allocated : ' + CurrencySybmol + '' + $(this).attr('Allocated'), "tipsy-innerWhite");
        });

        $("div[Remaining]").each(function () {
            bootstrapetitle($(this), 'Remaining : ' + CurrencySybmol + '' + $(this).attr('Remaining'), "tipsy-innerWhite");
        });

        $("div[OverBudget]").each(function () {
            bootstrapetitle($(this), 'Over Budget by : ' + CurrencySybmol + '' + $(this).attr('OverBudget'), "tipsy-innerRed");
        });
    }

    var HomeGrid;
    var editidonOpenEnd = 0;
    function BindBudgetGrid() {

        var JsonModel = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Grid))';
        HomeGrid = new dhtmlXGridObject('gridbox');
        var imgpath = '@Url.Content("~/codebase/imgs/")';
        HomeGrid.setImagePath(imgpath);
        HomeGrid.setImageSize(1, 1);
        HomeGrid.setHeader('@Model.SetHeader');
        HomeGrid.attachHeader(@Html.Raw(Json.Encode(Model.AttachHeader)));
        HomeGrid.setColTypes('@Model.ColType');
        HomeGrid.setInitWidths('@Model.Width');
        HomeGrid.setColSorting('@Model.ColSorting');
        HomeGrid.enableAutoHeight(true);
        HomeGrid.enableAutoWidth(false);
        HomeGrid.setEditable(false);
        HomeGrid.init();
        setTimeout(function () {
            HomeGrid.setSizes();
        }, 200);


        HomeGrid.enableDistributedParsing(true, 10, 0.1);

        var mainGridData = JsonModel;
        mainGridData = $('<textarea/>').html(mainGridData.toString().replace(/[\\]/g, "\\\\")).text(); // Decode Html content.
        var GridDataHomeGrid = (mainGridData.toString().replace(/&amp;/g, '&'));

        HomeGrid.parse(GridDataHomeGrid, "json");
        HomeGrid.setColumnHidden(0, true);
        AddTipsy();
    }
    if (editidonOpenEnd != 0) {
        HomeGrid.detachEvent(editidonOpenEnd);
    }
    editidonOpenEnd = HomeGrid.attachEvent("onOpenEnd", function (rowid) {
        AddTipsy();
    });

    function SetHeader() {
        $('#divViewBy').show();
        if ('@AllocatedBy' != '@strDefault') {

            var sumMonth = number_format('@MainTotalActual', 0, '.', ',');
            var allocated = number_format('@MainTotalAllocated', 0, '.', ',');
            $('#SpanTotalSpend').prop('title', CurrencySybmol + sumMonth);
            $('#SpanTotalSpend').popover('destroy');
            bootstrapetitle("#SpanTotalSpend", CurrencySybmol + sumMonth, "tipsy-innerWhite");

            $('#SpanTotalBudgeted').prop('title', CurrencySybmol + allocated);
            $('#SpanTotalBudgeted').popover('destroy');
            bootstrapetitle("#SpanTotalBudgeted", CurrencySybmol + allocated, "tipsy-innerWhite");

            $('#SpanCurrentQuarter').html('@CurrentQuarter');
            $('#SpanTodayDate').html('@TodayDate');

            sumMonth = FormatNumber('@MainTotalActual', false);
            allocated = FormatNumber('@MainTotalAllocated', false);
            $('#SpanTotalSpend').html(sumMonth);
            $('#SpanTotalBudgeted').html(allocated);
            if ('@planAllocation' > 100) {
                $('#SpanTotalSpend').css("color", "#ff1e26");
            }
            else {
                $('#SpanTotalSpend').css("color", "#3fa9f5");
            }
            if ('@isPlanTab' == 'True')
                $('#monthCompareTitle').html('Actual vs Budgeted');
            else
                $('#monthCompareTitle').html('Actuals vs Planned');
        }
        var strMonthHTML = '';
        if ('@AllocatedBy' == '@strMonths') {
            for (var i = 1; i <= 12; i++) {
                strMonthHTML += '<div class="budgetMonth">';
                if (i == 1) {
                    strMonthHTML += '<span class="title source-sans-proregular">JAN</span>';
                    if ('@PercAllocated.BudgetY1' <= 100)
                        strMonthHTML += '<div title="@PercAllocated.BudgetY1%"><span style="width:@PercAllocated.BudgetY1%;"></span></div>';
                    else
                        strMonthHTML += '<div title="@PercAllocated.BudgetY1%"><span style="width:@PercAllocated.BudgetY1%;" class="error"></span></div>';
                }
                else if (i == 2) {
                    strMonthHTML += '<span class="title source-sans-proregular">FEB</span>';
                    if ('@PercAllocated.BudgetY2' <= 100)
                        strMonthHTML += '<div title="@PercAllocated.BudgetY2%"><span style="width:@PercAllocated.BudgetY2%;"></span></div>';
                    else
                        strMonthHTML += '<div title="@PercAllocated.BudgetY2%"><span style="width:@PercAllocated.BudgetY2%;" class="error"></span></div>';
                }
                else if (i == 3) {
                    strMonthHTML += '<span class="title source-sans-proregular">MAR</span>';
                    if ('@PercAllocated.BudgetY3' <= 100)
                        strMonthHTML += '<div title="@PercAllocated.BudgetY3%"><span style="width:@PercAllocated.BudgetY3%;"></span></div>';
                    else
                        strMonthHTML += '<div title="@PercAllocated.BudgetY3%"><span style="width:@PercAllocated.BudgetY3%;" class="error"></span></div>';
                }
                else if (i == 4) {
                    strMonthHTML += '<span class="title source-sans-proregular">APR</span>';
                    if ('@PercAllocated.BudgetY4' <= 100)
                        strMonthHTML += '<div title="@PercAllocated.BudgetY4%"><span style="width:@PercAllocated.BudgetY4%;"></span></div>';
                    else
                        strMonthHTML += '<div title="@PercAllocated.BudgetY4%"><span style="width:@PercAllocated.BudgetY4%;" class="error"></span></div>';
                }
                else if (i == 5) {
                    strMonthHTML += '<span class="title source-sans-proregular">MAY</span>';
                    if ('@PercAllocated.BudgetY5' <= 100)
                        strMonthHTML += '<div title="@PercAllocated.BudgetY5%"><span style="width:@PercAllocated.BudgetY5%;"></span></div>';
                    else
                        strMonthHTML += '<div title="@PercAllocated.BudgetY5%"><span style="width:@PercAllocated.BudgetY5%;" class="error"></span></div>';
                }
                else if (i == 6) {
                    strMonthHTML += '<span class="title source-sans-proregular">JUN</span>';
                    if ('@PercAllocated.BudgetY6' <= 100)
                        strMonthHTML += '<div title="@PercAllocated.BudgetY6%"><span style="width:@PercAllocated.BudgetY6%;"></span></div>';
                    else
                        strMonthHTML += '<div title="@PercAllocated.BudgetY6%"><span style="width:@PercAllocated.BudgetY6%;" class="error"></span></div>';
                }
                else if (i == 7) {
                    strMonthHTML += '<span class="title source-sans-proregular">JUL</span>';
                    if ('@PercAllocated.BudgetY7' <= 100)
                        strMonthHTML += '<div title="@PercAllocated.BudgetY7%"><span style="width:@PercAllocated.BudgetY7%;"></span></div>';
                    else
                        strMonthHTML += '<div title="@PercAllocated.BudgetY7%"><span style="width:@PercAllocated.BudgetY7%;" class="error"></span></div>';
                }
                else if (i == 8) {
                    strMonthHTML += '<span class="title source-sans-proregular">AUG</span>';
                    if ('@PercAllocated.BudgetY8' <= 100)
                        strMonthHTML += '<div title="@PercAllocated.BudgetY8%"><span style="width:@PercAllocated.BudgetY8%;"></span></div>';
                    else
                        strMonthHTML += '<div title="@PercAllocated.BudgetY8%"><span style="width:@PercAllocated.BudgetY8%;" class="error"></span></div>';
                }
                else if (i == 9) {
                    strMonthHTML += '<span class="title source-sans-proregular">SEP</span>';
                    if ('@PercAllocated.BudgetY9' <= 100)
                        strMonthHTML += '<div title="@PercAllocated.BudgetY9%"><span style="width:@PercAllocated.BudgetY9%;"></span></div>';
                    else
                        strMonthHTML += '<div title="@PercAllocated.BudgetY9%"><span style="width:@PercAllocated.BudgetY9%;" class="error"></span></div>';
                }
                else if (i == 10) {
                    strMonthHTML += '<span class="title source-sans-proregular">OCT</span>';
                    if ('@PercAllocated.BudgetY10' <= 100)
                        strMonthHTML += '<div title="@PercAllocated.BudgetY10%"><span style="width:@PercAllocated.BudgetY10%;"></span></div>';
                    else
                        strMonthHTML += '<div title="@PercAllocated.BudgetY10%"><span style="width:@PercAllocated.BudgetY10%;" class="error"></span></div>';
                }
                else if (i == 11) {
                    strMonthHTML += '<span class="title source-sans-proregular">NOV</span>';
                    if ('@PercAllocated.BudgetY11' <= 100)
                        strMonthHTML += '<div title="@PercAllocated.BudgetY11%"><span style="width:@PercAllocated.BudgetY11%;"></span></div>';
                    else
                        strMonthHTML += '<div title="@PercAllocated.BudgetY11%"><span style="width:@PercAllocated.BudgetY11%;" class="error"></span></div>';
                }
                else if (i == 12) {
                    strMonthHTML += '<span class="title source-sans-proregular">DEC</span>';
                    if ('@PercAllocated.BudgetY12' <= 100)
                        strMonthHTML += '<div title="@PercAllocated.BudgetY12%"><span style="width:@PercAllocated.BudgetY12%;"></span></div>';
                    else
                        strMonthHTML += '<div title="@PercAllocated.BudgetY12%"><span style="width:@PercAllocated.BudgetY12%;" class="error"></span></div>';
                }
                strMonthHTML += '</div>';
            }
        }
        else if ('@AllocatedBy' == '@strQuarters') {
            for (var i = 1; i <= 4; i++) {
                strMonthHTML += '<div class="budgetMonth">';
                if (i == 1) {
                    strMonthHTML += '<span class="title source-sans-proregular">Q1</span>';
                    if ('@PercAllocated.BudgetY1' <= 100)
                        strMonthHTML += '<div title="@PercAllocated.BudgetY1%"><span style="width:@PercAllocated.BudgetY1%;"></span></div>';
                    else
                        strMonthHTML += '<div title="@PercAllocated.BudgetY1%"><span style="width:@PercAllocated.BudgetY1%;" class="error"></span></div>';
                }
                else if (i == 2) {
                    strMonthHTML += '<span class="title source-sans-proregular">Q2</span>';
                    if ('@PercAllocated.BudgetY4' <= 100)
                        strMonthHTML += '<div title="@PercAllocated.BudgetY4%"><span style="width:@PercAllocated.BudgetY4%;"></span></div>';
                    else
                        strMonthHTML += '<div title="@PercAllocated.BudgetY4%"><span style="width:@PercAllocated.BudgetY4%;" class="error"></span></div>';
                }
                else if (i == 3) {
                    strMonthHTML += '<span class="title source-sans-proregular">Q3</span>';
                    if ('@PercAllocated.BudgetY7' <= 100)
                        strMonthHTML += '<div title="@PercAllocated.BudgetY7%"><span style="width:@PercAllocated.BudgetY7%;"></span></div>';
                    else
                        strMonthHTML += '<div title="@PercAllocated.BudgetY7%"><span style="width:@PercAllocated.BudgetY7%;" class="error"></span></div>';
                }
                else if (i == 4) {
                    strMonthHTML += '<span class="title source-sans-proregular">Q4</span>';
                    if ('@PercAllocated.BudgetY10' <= 100)
                        strMonthHTML += '<div title="@PercAllocated.BudgetY10%"><span style="width:@PercAllocated.BudgetY10%;"></span></div>';
                    else
                        strMonthHTML += '<div title="@PercAllocated.BudgetY10%"><span style="width:@PercAllocated.BudgetY10%;" class="error"></span></div>';
                }
                strMonthHTML += '</div>';
            }
        }

        $('#monthContainer').html(strMonthHTML);

    }
</script>
