@using RevenuePlanner.Models
@using RevenuePlanner.Helpers
@model RevenuePlanner.Models.Custom_Dashboard

@{
    string ReportDBConnString = Convert.ToString(ViewBag.ReportDBConnString);
    string AuthorizedReportAPIUserName = Convert.ToString(ViewBag.AuthorizedReportAPIUserName);
    string AuthorizedReportAPIPassword = Convert.ToString(ViewBag.AuthorizedReportAPIPassword);
    string ApiUrl = Convert.ToString(ViewBag.ApiUrl);
    string ClientDimensionId = string.Empty;
    string ClientDimensionValueId = string.Empty;
    if (Convert.ToString(ViewBag.ClientDimensionId) != RevenuePlanner.Helpers.Common.objCached.ClientDimenisionNotSet)
    {
        ClientDimensionId = Convert.ToString(ViewBag.ClientDimensionId);
        ClientDimensionValueId = Convert.ToString(ViewBag.ClientDimensionValueId);
    }
    else
    {
        ClientDimensionId = Convert.ToString(ViewBag.ClientDimensionId);
    }
}
@* Edited for #2264 - Bhumika Report Design *@
<div class="report-wrap clearfix">
    @if (Model.DashboardContent.Count > 0)
    {
        int componentCount = 0;
        int componentCountRow = 0;

        foreach (var ReportGraph in Model.DashboardContent)
        {
            if (componentCount % Model.Columns == 0)
            {
                componentCountRow = 0;
                @Html.Raw("<div class=\"main-row clearfix\"  \">")
            }
            string cssHeight = @ReportGraph.Height.ToString() + "px";
            string cssWidth = @ReportGraph.Width.ToString() + "%";
            string cssWidthMinus = "21px";
            string cssClass = "component";
            string RepdivId = "divChart" + @ReportGraph.DashboardContentId;

            <div class="@cssClass" style="height:@cssHeight; width:calc(@cssWidth - @cssWidthMinus); float:left; ">
                <div class="tab-head">@ReportGraph.DisplayName</div>
                <div id=@RepdivId style="width: 100%; height:100%" reportgraphid='@ReportGraph.ReportID' dashboardcontentid='@ReportGraph.DashboardContentId'></div>
            </div>

            componentCount++;
            componentCountRow++;
            if (componentCountRow == Model.Columns)
            {
                @Html.Raw("</div>")
            }
        }
    }
</div>
@if (Model.DashboardContent.Count == 0)
{
    <div class="noreportsfound" style="padding:25px">
        <p>"@RevenuePlanner.Helpers.Common.objCached.ReportNotConfigured"</p>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        LoadAllReports();
    });

    // Add By Nishant Sheth
    // Crearte Common function for load reports
    var ViewBy;
    function LoadAllReports() {
        if ('@ClientDimensionId' != "@RevenuePlanner.Helpers.Common.objCached.ClientDimenisionNotSet") {
            ViewBy = $('#ddlCustomAllocatedBySelectBox .sbHolder .sbSelector').html();

            if ($('#ddlCustomAllocatedBySelectBox .sbHolder .sbSelector').html() == 'Yearly') {
                ViewBy = 'Y';
            }
            else if ($('#ddlCustomAllocatedBySelectBox .sbHolder .sbSelector').html() == 'Quarterly') {
                ViewBy = 'Q';
            }
            else if ($('#ddlCustomAllocatedBySelectBox .sbHolder .sbSelector').html() == 'Monthly') {
                ViewBy = 'M';
            }

            $('div[id^=divChart]').each(function () {
                LoadReport(this, ViewBy);
            });
        }
        else {
            $('#mainContent').html("@RevenuePlanner.Helpers.Common.objCached.ClientDimenisionNotSet");
            $('#mainContent').css('padding-left', '25px', 'padding-top', '25px');
        }
    }

    function LoadReport(obj, ViewBy) {
        var id = $(obj).attr('ReportGraphId');
        var PlanDate = $('#lstYearActive').html();
        if (PlanDate == 'All') {
            PlanDate = $('#ulSelectedYear li').first().attr('yearvalue');
            PlanDate = PlanDate + "," + $('#ulSelectedYear li').last().attr('yearvalue');
        }
        else if (PlanDate == 'None') {
            PlanDate = '2100';
        }
        var ArrPlanDt = [];
        ArrPlanDt = PlanDate.split(',');
        ArrPlanDt.sort(function (a, b) { return a - b });
        var NoOfyrs = ArrPlanDt.length;
        var StartDate = '';
        var EndDate = '';
        if (NoOfyrs > 0 && ArrPlanDt[0] != 'None') {
            StartDate = "1/1/" + ArrPlanDt[0];
            EndDate = "12/31/" + ArrPlanDt[NoOfyrs - 1];
        }

        var URL;
        if ('@ApiUrl'.slice(-1) == '/') {
            URL = '@ApiUrl' + 'api/Report/Chart';
        }
        else {
            URL = '@ApiUrl' + '/api/Report/Chart';
        }

        if ('@ApiUrl' == '') {
            $(obj).html("@RevenuePlanner.Helpers.Common.objCached.ApiUrlNotConfigured");
        }
        else {
            //var URL = 'http://localhost:54371/api/Report/Chart';
            var _ElqFieldMapping = [];
            _ElqFieldMapping.push(
                '@ClientDimensionId' + ":" + '@ClientDimensionValueId'
            );

            //$("#divCustomFieldsFilter").find("input[type=checkbox]").each(function () {
            $("#divCustomFieldsFilter").find("div.accordion").each(function () {
                if ($(this).find("input[type=checkbox]") != null || $(this).find("input[type=checkbox]") != "") {
                    var CheckedCounter = 0, AllCounter = 0, UncheckedCounter = 0;
                    AllCounter = $(this).find("input[type=checkbox]").length;
                    CheckedCounter = $(this).find("input[type=checkbox]:checked").length;
                    UncheckedCounter = AllCounter - CheckedCounter;
                    if (UncheckedCounter == AllCounter) {
                        $(this).find("input[type=checkbox]").each(function () {
                            if ($(this).attr('dimensionid')) {
                                var DimId = $(this).attr('dimensionid').substr(0, $(this).attr('dimensionid').indexOf('_'));
                                var DimValId = '0';
                                _ElqFieldMapping.push(
                                    DimId + ":" + DimValId
                                );
                                return false;
                            }
                        });
                    }
                    else {
                        $(this).find("input[type=checkbox]").each(function () {
                            if ($(this).is(":checked")) {
                                if ($(this).attr('dimensionid')) {
                                    var DimId = $(this).attr('dimensionid').substr(0, $(this).attr('dimensionid').indexOf('_'));
                                    var DimValId = $(this).attr('dimensionid').substr($(this).attr('dimensionid').indexOf('_') + 1);
                                    _ElqFieldMapping.push(
                                        DimId + ":" + DimValId
                                    );
                                }
                            }
                        });
                    }
                }
            });

            var CheckedCounterOwner = 0, AllCounterOwner = 0, UncheckedCounterOwner = 0;
            AllCounterOwner = $("#accordion-element-Owner ul li").find("input[type=checkbox]").length;
            CheckedCounterOwner = $("#accordion-element-Owner ul li").find("input[type=checkbox]:checked").length;
            UncheckedCounterOwner = AllCounterOwner - CheckedCounterOwner;
            if (UncheckedCounterOwner == AllCounterOwner) {
                $("#accordion-Owner").find("input[type=checkbox]").each(function () {
                    if ($(this).attr('dimensionid')) {
                        var DimId = $(this).attr('dimensionid').substr(0, $(this).attr('dimensionid').indexOf('_'));
                        var DimValId = '0';
                        _ElqFieldMapping.push(
                            DimId + ":" + DimValId
                        );
                        return false;
                    }
                });
            }
            else {
                $("#accordion-Owner").find("input[type=checkbox]").each(function () {
                    if ($(this).is(":checked")) {
                        if ($(this).attr('dimensionid')) {
                            var DimId = $(this).attr('dimensionid').substr(0, $(this).attr('dimensionid').indexOf('_'));
                            var DimValId = $(this).attr('dimensionid').substr($(this).attr('dimensionid').indexOf('_') + 1);
                            _ElqFieldMapping.push(
                                DimId + ":" + DimValId
                            );
                        }
                    }
                });
            }
            

            var CheckedCounterTacTyp = 0, AllCounterTacTyp = 0, UncheckedCounterTacTypn = 0;
            AllCounterTacTyp = $("#accordion-element-TacticType ul li").find("input[type=checkbox]").length;
            CheckedCounterTacTyp = $("#accordion-element-TacticType ul li").find("input[type=checkbox]:checked").length;
            UncheckedCounterTacTypn = AllCounterTacTyp - CheckedCounterTacTyp;
            if (UncheckedCounterTacTypn == AllCounterTacTyp) {
                $("#accordion-TacticType").find("input[type=checkbox]").each(function () {
                    if ($(this).attr('dimensionid')) {
                        var DimId = $(this).attr('dimensionid').substr(0, $(this).attr('dimensionid').indexOf('_'));
                        var DimValId = '0';
                        _ElqFieldMapping.push(
                            DimId + ":" + DimValId
                        );
                        return false;
                    }
                });
            }
            else {
                $("#accordion-TacticType").find("input[type=checkbox]").each(function () {
                    if ($(this).is(":checked")) {
                        if ($(this).attr('dimensionid')) {
                            var DimId = $(this).attr('dimensionid').substr(0, $(this).attr('dimensionid').indexOf('_'));
                            var DimValId = $(this).attr('dimensionid').substr($(this).attr('dimensionid').indexOf('_') + 1);
                            _ElqFieldMapping.push(
                                DimId + ":" + DimValId
                            );
                        }
                    }
                });
            }



            var CheckedCounterPlan = 0, AllCounterPlan = 0, UncheckedCounterPlan = 0;
            AllCounterPlan = $("#accordion-element-Plan ul li").find("input[type=checkbox]").length;
            CheckedCounterPlan = $("#accordion-element-Plan ul li").find("input[type=checkbox]:checked").length;
            UncheckedCounterPlan = AllCounterPlan - CheckedCounterPlan;
            if (UncheckedCounterPlan == AllCounterPlan) {
                $("#accordion-element-Plan").find("input[type=checkbox]").each(function () {
                    if ($(this).attr('dimensionid')) {
                        var DimId = $(this).attr('dimensionid').substr(0, $(this).attr('dimensionid').indexOf('_'));
                        var DimValId = '0';
                        _ElqFieldMapping.push(
                            DimId + ":" + DimValId
                        );
                        return false;
                    }
                });
            }
            else {
                $("#accordion-element-Plan").find("input[type=checkbox]").each(function () {
                    if ($(this).is(":checked")) {
                        if ($(this).attr('dimensionid')) {
                            var DimId = $(this).attr('dimensionid').substr(0, $(this).attr('dimensionid').indexOf('_'));
                            var DimValId = $(this).attr('dimensionid').substr($(this).attr('dimensionid').indexOf('_') + 1);
                            _ElqFieldMapping.push(
                                DimId + ":" + DimValId
                            );
                        }
                    }
                });
            }

            var params = {};
            params.Id = id;
            params.ConnectionString = '@ReportDBConnString';
            params.Container = $(obj).attr('id');
            params.SDV = _ElqFieldMapping;
            params.TopOnly = 'True';
            params.ViewBy = ViewBy;
            params.StartDate = StartDate;
            params.EndDate = EndDate;
            params.UserName = '@AuthorizedReportAPIUserName';
            params.Password = '@AuthorizedReportAPIPassword';

            $.ajax({
                url: URL,
                async: true,
                traditional: true,
                data: $.param(params, true),
                dataType: "json",
                success: function (data) {
                    eval(data);
                },
                error: function (err) {
                    $(obj).html("@RevenuePlanner.Helpers.Common.objCached.ErrorInWebApi");
                }
            });
        }
    }
</script>