@model RevenuePlanner.Models.ReportModel
@using RevenuePlanner.Helpers
@using Newtonsoft.Json;
@{
    //var linechartdata = Model.RevenueLineChartModel != null ? JsonConvert.SerializeObject(Model.RevenueLineChartModel) : string.Empty;
    var revenue_Projected_Goal = Model.RevenueHeaderModel != null ? Model.RevenueHeaderModel : new RevenuePlanner.Models.Projected_Goal();
    var revenue_to_planModel = Model.RevenueToPlanModel != null ? Model.RevenueToPlanModel : new RevenuePlanner.Models.RevenueToPlanModel();
    //var revenue_barchartModel = Model.RevenueToPlanBarChartModel != null ? JsonConvert.SerializeObject(Model.RevenueToPlanBarChartModel) : string.Empty;
    //var revenue_datatableModel = Model.RevenueToPlanDataModel != null ? JsonConvert.SerializeObject(Model.RevenueToPlanDataModel) : string.Empty;
}
<style type="text/css">
    .redLabel {
    color:#ff0000 !important;
    }
    .greenLabel {
    color:#009E26 !important;
    }
    .revenue-to-plan-graph
    {
        padding:20px;
    }
</style>
<section class="report-overview-wraper">

    <div class="marketing-revenue-report">
        <div class="dropdown-marketing">
            <h2>Marketing Revenue </h2>
            <div class="geography-dropdown">
                <h5>View By:</h5>
                <div class="revenue-summary-custom">
                    @Html.DropDownList("ddlParentRevenueSummery", new SelectList((System.Collections.IEnumerable)ViewBag.parentRevenueSummery, "Value", "Text"))
                </div>
            </div>
        </div>
        <div class="projected">
            <span>Projected</span>
            <span id="revActual_Projected">$1.58M</span>
            <span id="revPercentage"></span>
        </div>
        <div class="projected disable-gray">
            <span>Goal</span>
            <span id="revGoal"></span>
            <span>Revenue</span>
        </div>
        <div class="time-frame">
            <div class="geography-dropdown">
                <div class="revenue-summary-custom ddlQuarter">
                    <span class="selectBox" id="ddlTimeFrameSelectBox" style="width: 158px; line-height: 1.1;">
                            @Html.DropDownList("ddlRevenueTimeFrame", new SelectList((System.Collections.IEnumerable)ViewBag.ViewByAllocated, "Value", "Text", (string)ViewBag.SelectedTimeFrame), new { @class = "ddlStyleReport hide" })
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="revenue-to-plan report-revenue">
        <div class="geography-dropdown report-revenue-summary" style="line-height:34px;">
            <h5>Summary</h5>
            <div class="revenue-summary-custom">
                <div id="CustomFieldChildDDL" style="display:none;">
                    <span>
                        @Html.DropDownList("ddlChildRevenueToPlan",new SelectList((System.Collections.IEnumerable)ViewBag.ChildTabListRevenueToPlan, "Value", "Text"))
                    </span>
                </div>
                <div id="CampaignChildDDL">
                    <span>
                        @Html.DropDownList("ddlCampaignRevenueToPlan",new SelectList((System.Collections.IEnumerable)ViewBag.CampaignDropdownList, "PlanCampaignId", "Title"))
                    </span>
                    <span>
                        @Html.DropDownList("ddlProgramRevenueToPlan",new SelectList((System.Collections.IEnumerable)ViewBag.ProgramDropdownList, "PlanProgramId", "Title"))
                    </span>
                    <span>
                        @Html.DropDownList("ddlTacticRevenueToPlan",new SelectList((System.Collections.IEnumerable)ViewBag.TacticDropdownList, "PlanTacticId", "Title"))
                    </span>
                </div>
            </div>
        </div>
        <div id="dvRevenueToPlan">
            @Html.Partial("_RevenueToPlan",revenue_to_planModel)
        </div>
    </div>
    @*<div class="total-revenue">
        <div class="total-revenue-title">
            <h5>Total Revenue</h5>
        </div>
        <div class="toal-revenue-graph">
            <div id="RevenueLineChart" style="height: 100%;">
            </div>
        </div>
    </div>*@
    @*<div class="revenue-filter">
        <div class="sorting">
            <div class="geography-dropdown">
                <h5>Sort By</h5>
                <div class="select-sortby">
                    <select name="custmDDL_Revenue" id="custmDDL_Revenue" class="revCustomFieldDDL" chartdivid="dvtable-sparkline_Revenue" style="display: none;">
                        <option value="TacticCustom71">revenue</option>
                    </select>
                    <button id="btnMultiselect_custmDDL_Revenue" type="button" class="ui-multiselect ui-widget ui-state-default ui-corner-all" aria-haspopup="true" title="Audience"><span>revenue</span><span class="ui-icon ui-icon-triangle-1-s"></span></button>
                </div>
            </div>
            <div class="geography-dropdown">
                <h5>Items Per Page</h5>
                <div class="select-item">
                    <select name="custmDDL_Revenue" id="custmDDL_Revenue" class="revCustomFieldDDL" chartdivid="dvtable-sparkline_Revenue" style="display: none;">
                        <option value="TacticCustom71">5</option>
                    </select>
                    <button id="btnMultiselect_custmDDL_Revenue" type="button" class="ui-multiselect ui-widget ui-state-default ui-corner-all" aria-haspopup="true" title="Audience"><span>1</span><span class="ui-icon ui-icon-triangle-1-s"></span></button>
                </div>
            </div>

        </div>
        <div class="paging">
            <ul>
                <li><a href="#">«</a></li>
                <li class="active"><a>1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">...</a></li>
                <li>»</li>
            </ul>
        </div>
        <div class="search">
            <input />

            <button class="search-btn">search</button>
        </div>

    </div>
    <div class="region-content">
        <div id="conversionPartial">
            <div class="report-btn-group">
                <div>
                    <p class="revanue-p">North America</p>
                    <button id="" class="btn btn-blue text-shadow-blue source-sans-proregular" name="">Details</button>
                    <a id="" class="btn  source-sans-proregular report-grey-btn hideReport" name=""><span>
                        <img src="/Content/images/export.png"></span>Export</a>
                </div>
                <div>
                    <p class="revanue-p-right">
                        <input type="checkbox" /><label> Add to Compare</label>
                    </p>
                    <button id="" class="btn btn-blue text-shadow-blue source-sans-proregular report-blue-btn hideReport" name="">Add Widget</button>
                </div>
            </div>
            <div class="region-data">
                <div class="data">
                    <span class="title">Revenue</span>
                    <p class="value">$28.5M<span class="sub-value">/$25.5M</span></p>
                    <span class="data-green">+11.8% </span>
                </div>
                <div class="data">
                    <span class="title">Revenue</span>
                    <p class="value">$28.5M<span class="sub-value">/$25.5M</span></p>
                    <span class="data-green">+11.8% </span>
                </div>
                <div class="data">
                    <span class="title">Revenue</span>
                    <p class="value">$28.5M<span class="sub-value">/$25.5M</span></p>
                    <span class="data-green">+11.8% </span>
                </div>

                <div id="dvNorthAmericaGraph1" class="region-graph">
                </div>

            </div>
        </div>



    </div>
    <div class="region-content">
        <div id="conversionPartial">
            <div class="report-btn-group">
                <div>
                    <p class="revanue-p">North America</p>
                    <button name="" class="btn btn-blue text-shadow-blue source-sans-proregular" id="">Details</button>
                    <a name="" class="btn  source-sans-proregular report-grey-btn hideReport" id=""><span>
                        <img src="/Content/images/export.png"></span>Export</a>
                </div>
                <div>
                    <p class="revanue-p-right">
                        <input type="checkbox"><label> Add to Compare</label>
                    </p>
                    <button name="" class="btn btn-blue text-shadow-blue source-sans-proregular report-blue-btn hideReport" id="">Add Widget</button>
                </div>
            </div>
            <div class="region-data">
                <div class="data">
                    <span class="title">Revenue</span>
                    <p class="value">$28.5M<span class="sub-value">/$25.5M</span></p>
                    <span class="data-green">+11.8% </span>
                </div>
                <div class="data">
                    <span class="title">Revenue</span>
                    <p class="value">$28.5M<span class="sub-value">/$25.5M</span></p>
                    <span class="data-green">+11.8% </span>
                </div>
                <div class="data">
                    <span class="title">Revenue</span>
                    <p class="value">$28.5M<span class="sub-value">/$25.5M</span></p>
                    <span class="data-green">+11.8% </span>
                </div>

                <div id="dvNorthAmericaGraph2" class="region-graph">
                </div>

            </div>
        </div>



    </div>
    <div class="region-content">
        <div id="conversionPartial">
            <div class="report-btn-group">

                <div>
                    <p class="revanue-p">North America</p>
                    <button name="" class="btn btn-blue text-shadow-blue source-sans-proregular" id="">Details</button>
                    <a name="" class="btn  source-sans-proregular report-grey-btn hideReport" id=""><span>
                        <img src="/Content/images/export.png"></span>Export</a>
                </div>
                <div>
                    <p class="revanue-p-right">
                        <input type="checkbox" id="x"><label for="x"> Add to Compare</label>
                    </p>
                    <button name="" class="btn btn-blue text-shadow-blue source-sans-proregular report-blue-btn hideReport" id="">Add Widget</button>
                </div>
            </div>
            <div class="region-data">
                <div class="data">
                    <span class="title">Revenue</span>
                    <p class="value">$28.5M<span class="sub-value">/$25.5M</span></p>
                    <span class="data-green">+11.8% </span>
                </div>
                <div class="data">
                    <span class="title">Revenue</span>
                    <p class="value">$28.5M<span class="sub-value">/$25.5M</span></p>
                    <span class="data-green">+11.8% </span>
                </div>
                <div class="data">
                    <span class="title">Revenue</span>
                    <p class="value">$28.5M<span class="sub-value">/$25.5M</span></p>
                    <span class="data-green">+11.8% </span>
                </div>

                <div id="dvNorthAmericaGraph3" class="region-graph">
                </div>

            </div>
        </div>
    </div>
    <div class="paging bottom-paging">
        <ul>
            <li><a href="#">«</a></li>
            <li class="active"><a>1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">...</a></li>
            <li>»</li>
        </ul>
    </div>*@
</section>


<script type="text/javascript">
    $(function () {
        var options = {

            title: {
                text: '',
                x: -20 //center
            },
            subtitle: {
                text: '',
                x: -20
            },
            xAxis: {
                categories: ['Q1', 'Q2', 'Q3', 'Q4']
            },
            yAxis: {
                title: {
                    text: ''
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: '°C'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'Goal',
                data: [15, 32, 45, 58]
            }, {
                name: 'Projected',
                data: [12, 35, 48, 55]
            }]
        }
        //$('#dvTotalRevenueGraph').highcharts(options);
        $('#dvNorthAmericaGraph1').highcharts(options);
        $('#dvNorthAmericaGraph2').highcharts(options);
        $('#dvNorthAmericaGraph3').highcharts(options);
    });

    var _childRevenueToPlanDDLId = "ddlChildRevenueToPlan";
    var campaignId = $('#ddlCampaignRevenueToPlan').val();
    var programId = $('#ddlProgramRevenueToPlan').val();
    $(document).ready(function () {
       

        $("#ddlParentRevenueSummery,#ddlChildRevenueToPlan,#ddlCampaignRevenueToPlan,#ddlProgramRevenueToPlan,#ddlTacticRevenueToPlan").multiselect({
            multiple: false,
            noneSelectedText: "Please Select",
            selectedList: 1,
            CustomCampaignName: "@Common.CampaignCustomTitle",
        CustomProgramName: "@Common.ProgramCustomTitle",
        CustomTacticName: "@Common.TacticCustomTitle"
    }).multiselectfilter({
        CustomCampaignName: "@Common.CampaignCustomTitle",
        CustomProgramName: "@Common.ProgramCustomTitle",
        CustomTacticName: "@Common.TacticCustomTitle"
    });

        var _campaignLabel = '@Common.RevenueCampaign';
        
        $('#ddlParentRevenueSummery').bind('change', function () {
            var _parentValue = $(this).val();
            // ParentValue selected Campaign label then dispaly Campaigns,Programs,Tactics dropdownlist else single CustomfieldOption dropdownlist.
            if (_parentValue == _campaignLabel) {
                $("#CustomFieldChildDDL").css('display', 'none');
                $("#CampaignChildDDL").css('display', 'block');

                /*Start: Refresh Campaign, Program, Tactic dropdowns*/
                $("#ddlCampaignRevenueToPlan").val("0");
                $("#ddlProgramRevenueToPlan").val("0");
                $("#ddlTacticRevenueToPlan").val("0");
                $("#ddlCampaignRevenueToPlan,#ddlProgramRevenueToPlan,#ddlTacticRevenueToPlan").multiselect({
                    multiple: false,
                    noneSelectedText: "Please Select",
                    selectedList: 1,
                    CustomCampaignName: "@Common.CampaignCustomTitle",
                    CustomProgramName: "@Common.ProgramCustomTitle",
                    CustomTacticName: "@Common.TacticCustomTitle"
                }).multiselectfilter({
                    CustomCampaignName: "@Common.CampaignCustomTitle",
                    CustomProgramName: "@Common.ProgramCustomTitle",
                    CustomTacticName: "@Common.TacticCustomTitle"
                });
                //$("#ddlCampaignRevenueToPlan").multiselect('refresh');
                /*End: Refresh Campaign, Program, Tactic dropdowns*/
                
            }
            else {
                $("#CampaignChildDDL").css('display', 'none');
                $("#CustomFieldChildDDL").css('display', 'block');
                loadChildListData(_parentValue, _childRevenueToPlanDDLId);
            } 
        });

        var _revGoal = '@revenue_Projected_Goal.Goal';
        var _revActual_Projected = '@revenue_Projected_Goal.Actual_Projected';
        var _revPercentage = '@revenue_Projected_Goal.Percentage';
        var _isNegativePercentage = '@revenue_Projected_Goal.IsnegativePercentage';
        var _formtPercentage = "0";
        setBootstrapTooltip("#revActual_Projected", _revActual_Projected, 5, true);
        setBootstrapTooltip("#revGoal", _revGoal, 5, true);
        if (_revPercentage == null || _revPercentage == 'undefined' || _revPercentage == '' || _revPercentage == 'NaN' || _revPercentage == '-NaN') {
            _formtPercentage = "0";
            $("#revPercentage").removeClass("greenLabel").removeClass("redLabel");
        }
        else {
            if (_isNegativePercentage.toLowerCase() == 'true') {
                _formtPercentage = '-' + FormatNumber(Math.abs(parseFloat(_revPercentage)), true);
                $("#revPercentage").removeClass("greenLabel").addClass("redLabel");
            }
            else {
                _formtPercentage = '+' + FormatNumber(Math.abs(parseFloat(_revPercentage)), true);
                $("#revPercentage").removeClass("redLabel").addClass("greenLabel");
            }
        }
        $("#revPercentage").html(_formtPercentage);

        @*// Start:- Revenue To Plan BarChart script 
        var _barchartdata = "@revenue_barchartModel";
        var _BarChartdata = (_barchartdata.toString().replace(/&quot;/g, '"'));
        _BarChartdata = JSON.parse(_BarChartdata);
        var barchartDivId = "#dvRevenuePlanBarChart";

        BindRevenueBarChartData(_BarChartdata.categories, _BarChartdata.series, barchartDivId);
        // End:- Revenue To Plan BarChart script  

        // Start:- Revenue To Plan DataTable script  
        BindRevenueToPlanDataTable();
        formatDataTableValues();
        formatPercentageValue();
        formatROIValue();
        // End:- Revenue To Plan DataTable script  *@

        // Start:- Revenue_LineChart script 
        @*var _lineardata = "@linechartdata";
        var chartdata = (_lineardata.toString().replace(/&quot;/g, '"'));
        chartdata = JSON.parse(chartdata);
        var linechartDivId = "#RevenueLineChart";

        BindLineChartRevenue(chartdata.categories, chartdata.todayValue, chartdata.isDisplay, chartdata.series, linechartDivId, 220, false);*@
        // End:- Revenue_LineChart script 
    });

    $("#ddlTimeFrameSelectBox select").selectbox();
    $("#ddlRevenueTimeFrame").change(function () {
        AllocatedBy = $('#ddlRevenueTimeFrame option:selected').text();
        Qurt_Month = AllocatedBy;
        LoadRevenueData();
    });
   
   function loadChildListData(parentOption, id) {
       $.ajax({
           type: 'POST',
           url: '@Url.Content("~/Report/GetChildLabelData/")',
                data: {
                    ParentLabel: parentOption,
                    selectOption: OptionMain,////This variable globally declare in parent view "Index"
                    IsAllInclude:true
                },
                success: function (r) {
                    PopulateRevenueToPlanChildDDL(r, id);
                }    
      });
   }
   function PopulateRevenueToPlanChildDDL(items, id) {
       var $dropdown = $("#" + id);
       $dropdown.empty();
       var $html = '';
       if (items.length > 0) {

           $.each(items, function (index, planobj) {

               $html += '<option value="' + planobj.Value + '">' + planobj.Text + '</option>';

           });
           $('#btnMultiselect_' + id).attr('style', 'display:block;');
           if ($('#btnMultiselect_' + id).parent().parent().hasClass('margin-rigthminus20px')) {
               $('#btnMultiselect_' + id).parent().parent().removeClass('margin-rigthminus20px');
           }
       }
       else {
           $('#btnMultiselect_' + id).attr('style', 'display:none;');
           $('#btnMultiselect_' + id).parent().parent().addClass('margin-rigthminus20px');
       }
       $dropdown.append($html);

       //start Added by Mitesh Vaishnav for PL ticket #727
       //update multiselect box as its related dropdownlist's option will be changed
       // var updatedOption = $("#ddlPlan").find('option');

       //End Added by Mitesh Vaishnav for PL ticket #727
       $("#multipleselect_" + id).find("input[type='search']").val('');
       $('#' + id).multiselect("refresh");
   }

   $('#ddlCampaignRevenueToPlan').change(function () {
       $("#ddlProgramRevenueToPlan").empty();
       $('#ddlTacticRevenueToPlan').empty();
       fillProgramDropdown();
   });
   $('#ddlProgramRevenueToPlan').change(function () {
       $('#ddlTacticRevenueToPlan').empty();
       fillTacticDropdown();
   });
   $('#ddlTacticRevenueToPlan').change(function () {
       LoadDataRevenueToPlanByCampaign();
   });
   $('#ddlParentRevenueSummery').change(function () {
       var _childValue = '0';
       ReloadRevenueToPlanByCustomField(_childValue);
   });
   $('#ddlChildRevenueToPlan').change(function () {
       var _childValue = $("#ddlChildRevenueToPlan").val();
       ReloadRevenueToPlanByCustomField(_childValue);
   });
   function ReloadRevenueToPlanByCustomField(_childvalue) {
       var parentlabel = $("#ddlParentRevenueSummery").val();
       var Type = '';
       var id = '';
       id = _childvalue;

       var _url = "@Url.Content("~/Report/GetRevenueToPlanByFilter/")" + "?ParentLabel=" + parentlabel + "&childlabelType=" + Type + "&childId=" + id + "&option=" + OptionMain + "&IsQuarterly=" + Qurt_Month;
       $("#dvRevenueToPlan").load(_url);
   }
    function LoadDataRevenueToPlanByCampaign() {
        var id = '';
        var Type = '';
        var tacticId = $("#ddlTacticRevenueToPlan").val();
        var parentlabel = $("#ddlParentRevenueSummery").val();
        if (tacticId > 0) {
            id = tacticId;
            Type = "@RevenuePlanner.Helpers.Common.RevenueTactic"
            }
            else if (programId > 0) {
                Type = "@RevenuePlanner.Helpers.Common.RevenueProgram"
                id = programId.toString();
            }
            else if (campaignId > 0) {
                Type = "@RevenuePlanner.Helpers.Common.RevenueCampaign"
                    id = campaignId.toString();
            }
        var _url = "@Url.Content("~/Report/GetRevenueToPlanByFilter/")" + "?ParentLabel="+parentlabel +"&childlabelType="+Type+"&childId="+id+"&option="+OptionMain+"&IsQuarterly="+Qurt_Month;
        $("#dvRevenueToPlan").load(_url);
    }

   function fillProgramDropdown() {
       var id = '';
       campaignId = $('#ddlCampaignRevenueToPlan').val();
       if (campaignId > 0) {
           id = campaignId.toString();
       }
       $.ajax({
           type: 'POST',
           url: '@Url.Content("~/Report/LoadProgramDropDown/")',
                data: {
                    id: id,
                    selectOption: OptionMain
                },
                success: function (data) {
                    $("#ddlProgramRevenueToPlan").empty();
                    $("#ddlProgramRevenueToPlan").append("<option value='0'>All Programs</option>");
                    $.each(data, function (index, optionData) {
                        $("#ddlProgramRevenueToPlan").append("<option value='" + optionData.PlanProgramId + "'>" + optionData.Title + "</option>");
                    });
                    fillTacticDropdown();
                    $('#ddlProgramRevenueToPlan').multiselect("refresh");
                },
                error: function () {
                    $("#ddlProgramRevenueToPlan").empty();
                    $("#ddlProgramRevenueToPlan").append("<option value='0'>All Programs</option>");
                    fillTacticDropdown();
                    $('#ddlProgramRevenueToPlan').multiselect("refresh");
                    GoToLogin();
                }
            });
   }

        function fillTacticDropdown() {
            var id = '';
            var Type = '';
            programId = $('#ddlProgramRevenueToPlan').val();
            if (programId > 0) {
                Type = '';
                id = programId.toString();
            }
            else if (campaignId > 0) {
                Type = "@RevenuePlanner.Helpers.Common.RevenueCampaign"
                    id = campaignId.toString();
                }

            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/Report/LoadTacticDropDown/")',
                data: {
                    id: id,
                    type: Type,
                    selectOption: OptionMain
                },
                success: function (data) {
                    $("#ddlTacticRevenueToPlan").empty();
                    $("#ddlTacticRevenueToPlan").append("<option value='0'>All Tactics</option>");
                    $.each(data, function (index, optionData) {
                        $("#ddlTacticRevenueToPlan").append("<option value='" + optionData.PlanTacticId + "'>" + optionData.Title + "</option>");
                    });
                    $('#ddlTacticRevenueToPlan').multiselect("refresh");
                    //alert('call function!');
                    LoadDataRevenueToPlanByCampaign();
                    //LoadDataRevenueRealization();
                    myApp.hidePleaseWait();
                },
                error: function () {
                    $("#ddlTacticRevenueToPlan").empty();
                    $("#ddlTacticRevenueToPlan").append("<option value='0'>All Tactics</option>");
                    $('#ddlTacticRevenueToPlan').multiselect("refresh");
                    //alert('call function!');
                    LoadDataRevenueToPlanByCampaign();
                    //LoadDataRevenueRealization();
                    GoToLogin();
                }
            });

        }

</script>






















