@model List<RevenuePlanner.Models.sparkLineCharts>
@using RevenuePlanner.Models;


<script type="text/javascript">
    $(function () {
        formatCurrency();
        $(".revCustomFieldDDL").change(function (e) {
            var _sparklineurl = "@Url.Content("~/Report/LoadSparkLineChartPartial")";
            var ddlId = $(this).attr('id');
            var div = "#"+$(this).attr('ChartDivId');
            var _selectedCustomFieldValue = $(this).val();
            var _timeframeoption = getYearSelectedValue(false);
            var _revenueType = ddlId.split('custmDDL_')[1];
            //alert(ddlId + ":" + _revenueType);
            _sparklineurl = _sparklineurl + "?strCutomfield=" + _selectedCustomFieldValue + "&timeFrameOption=" + _timeframeoption + "&strRevenueType=" + _revenueType;
            $(div).load(_sparklineurl, function () {
                BindSparkLineChart();
                doChunk();
                formatCurrency(div);
            });
        });
    });
    function formatCurrency(_divId) {
        var _revTypeColAttr = ".revCurrencyVal";
        var _revTypeCol ;
        if (_divId != null && _divId != 'undefined' && _divId != '') // if formating to any specific div currency value.
            _revTypeColAttr = _divId + " " + _revTypeColAttr;

        _revTypeCol = $(_revTypeColAttr);
        var _tdId = '',revTypeColText ='';
        $.each(_revTypeCol, function (key, _td) {
            revTypeColText = $(_td).attr('orig-val');
            _tdId = "#" + $(_td).attr('id');
            if (revTypeColText != null && revTypeColText != 'undefined' && revTypeColText != 'NaN') {
                $(_td).html(FormatNumber(Math.abs(parseFloat($(_td).html())), false));
                setBootstrapTooltip(_tdId, revTypeColText, 3, true);
            }
        });
    }
</script>
@foreach (sparkLineCharts _objmodel in Model)
{
    string classnobordr, classheader, classTotal;
    classnobordr = classheader = classTotal = string.Empty;
    if (!_objmodel.IsOddSequence)
    {
        classnobordr = "top-cost noborder";
        classheader = "top-cost-header";
    }
    else
    {
        classnobordr = "top-revenue";
        classheader = "top-revenue-header";
    }

        <div class="@classnobordr">
            <div class="@classheader">
                <h5>@_objmodel.ChartHeader</h5>
                <div class="revenue-summary-custom">
                    @Html.DropDownList(_objmodel.CustomfieldDDLId, new SelectList((System.Collections.IEnumerable)ViewBag.SummaryCustomFieldList, "Value", "Text"), new { @class="revCustomFieldDDL", @ChartDivId ="dv"+_objmodel.sparklinechartId })
                </div>
                <span id="btnWeight" name="btnWeight" class="viewfullscreen hideReport">
                    <img src="~/Content/images/view-fullscreen.png" /></span>
            </div>
            <div id="dv@_objmodel.sparklinechartId">
            @Html.Partial("_SparkLineChartTable", _objmodel)
            </div>
        </div>
}
