@model RevenuePlanner.Models.sparkLineCharts
@using RevenuePlanner.Models;
@{
    string classnobordr, classheader, classTotal;
    classnobordr = classheader = classTotal = string.Empty;
    int _recordCount = Model != null && Model.sparklinechartdata != null ? Model.sparklinechartdata.Count : 0;
    int _colCount = Model != null && Model.RevenueTypeColumns != null ? Model.RevenueTypeColumns.Count : 0;
    if (!Model.IsOddSequence)
    {
        classnobordr = "top-cost noborder";
        classheader = "top-cost-header";
    }
    else
    {
        classnobordr = "top-revenue";
        classheader = "top-revenue-header";
    }
}
<style type="text/css">
    .tdWidth {
        width: 30%;
    }
</style>

<div class="top-revenue-table">
    <table id="@Model.sparklinechartId">
        <thead>
            <tr>
                @foreach (string _col in Model.RevenueTypeColumns)
                {
                    <th style="width:30%;">@_col</th>
                }
            </tr>
        </thead>
        <tbody>
            @if (_recordCount > 0)
            {
                int indx =1;
                string tdId = string.Empty, tdWidth = string.Empty;
                foreach (sparklineData item in Model.sparklinechartdata)
                {
                    if (indx.Equals(1))
                    {
                        tdWidth = "tdWidth";
                    }
                    tdId = "td_" + indx.ToString() + "_" + Model.sparklinechartId;
                    classTotal = "nobold";
                    if (item.IsTotal)
                    {
                        classTotal = "lastraw";
                    }
                    <tr>
                        <th class="@classTotal rpttipsytitle @tdWidth ">@item.Name</th>
                        @if (item.Is_Pos_Neg_Status)
                        {
                            if (item.IsPositive)
                            {
                            <td class="above">@item.RevenueTypeValue</td>
                            }
                            else
                            {
                            <td class="below">@item.RevenueTypeValue</td>
                            }
                        }
                        else
                        {
                            <td class="revCurrencyVal @classTotal" orig-val="@item.RevenueTypeValue" id="@tdId">@item.RevenueTypeValue</td>
                        }
                        <td data-sparkline="@item.Trend" class="dvsparkline"></td>
                    </tr>
                    indx++;
                }
            }
            else
            {
                <tr> <td colspan="@_colCount" class="gray" style="text-align:left;"> No saved reports to display.</td></tr>
            }
        </tbody>
    </table>
</div>

