@using RevenuePlanner.Helpers
@{
    //string AudienceLabel = Common.CustomLabelFor(Enums.CustomLabelCode.Audience);
    //string AudienceLabelTitle = string.Empty;
    //if (AudienceLabel.Length > 10)
    //{
    //    AudienceLabelTitle = AudienceLabel;
    //    AudienceLabel = AudienceLabel.Substring(0, 10) + "...";
    //}
}
<div class="budgetReport">
    <div style="margin-left: 18px; margin-right: 20px; margin-bottom: 10px; width: 97%; float: left;">
        <div class="title-header source-sans-proregular bold budget-title">
            <div style="float: right;">
                @Html.Label("View By:", new { id = "lblViewBy" })
               
                    @Html.DropDownList("ddlTabViewBy", new SelectList((System.Collections.IEnumerable)ViewBag.ViewByTab, "Value", "Text", @RevenuePlanner.Helpers.ReportTabType.Plan.ToString()), new { @class = "ddlStyleReport" })
               
               
                    @Html.DropDownList("ddlAllocateViewBy", new SelectList((System.Collections.IEnumerable)ViewBag.ViewByAllocated, "Value", "Text", @RevenuePlanner.Helpers.Enums.PlanAllocatedBy.quarters.ToString()), new { @class = "ddlStyleReport" })
               
            </div>
            <h2>Budget Summary</h2>
        </div>

    </div>

    <div id="divTabData" style="margin-top: 20px;margin-bottom: 30px; clear: left;"></div>
</div>
<script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery-ui.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.multiselect.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.multiselect.filter.js")"></script>
<link href="@Url.Content("~/Content/css/jquery.multiselect.css")" rel="stylesheet" type="text/css" />
<script>

    var PlanIds = '';
    var VerticalIds = '';
    var GeographyIds = '';
    var BusinessUnitIds = '';
    var AudienceIds = '';
    var Year = $('#ddlYear').val();
    var AllocatedBy = '@RevenuePlanner.Helpers.Enums.PlanAllocatedBy.quarters.ToString()';
    var Tab = '@RevenuePlanner.Helpers.ReportTabType.Plan.ToString()';
    var SortingId = '';
    var isByAllocated = true;
        var viewByDisplay = true;
        var monthvalue = '@RevenuePlanner.Helpers.Enums.PlanAllocatedByList[RevenuePlanner.Helpers.Enums.PlanAllocatedBy.months.ToString()].ToString()';
        var Quartervalue = '@RevenuePlanner.Helpers.Enums.PlanAllocatedByList[RevenuePlanner.Helpers.Enums.PlanAllocatedBy.quarters.ToString()].ToString()';

    $(document).ready(function () {
        

        $(".budgetCompareInner").mCustomScrollbar({
            scrollButtons: {
                enable: true
            },
            horizontalScroll: true,
            advanced: { autoExpandHorizontalScroll: true, updateOnContentResize: true }
        });
        GenerateCustomizeMultiselect('ddlTabViewBy', true, true, false);
        GenerateCustomizeMultiselect('ddlAllocateViewBy', false, false, false);
        $(".sbSelector").click(function () {
            $(".ui-multiselect-menu").each(function () {
                $(this).css("display", "none");
            });
        });


        @*$("#ddlViewAudience").next().attr('title', '@AudienceLabelTitle');*@

       
       

        PlanIds = GetFilterIdForPlan(multiselectPlanId);
        VerticalIds = GetFilterId(ddlViewVertical);
        GeographyIds = GetFilterId(ddlViewGeography);
        BusinessUnitIds = GetFilterId(ddlViewBusinessUnit);
        AudienceIds = GetFilterId(ddlViewAudience);
        CheckAllocatedBy();

        LoadBudgetData();

            });

    // <--- End document.ready Event --->

    function LoadBudgetSortingEvent() {

        $('.UpperArrowReport').click(function () {
            SortingId = $(this).attr('id');
            LoadBudgetData();
        });

        $('.DownArrowReport').click(function () {
            SortingId = $(this).attr('id');
            LoadBudgetData();
        });

        $('.UpperArrowReportBlue').click(function () {

        });

        $('.DownArrowReportBlue').click(function () {

        });
    }

    @*function LoadBudgetData() {
        if (isByAllocated) {
            $('#divTabData').load('@Url.Action("GetReportBudgetData", "Report")' + '?GeographyIds=' + GeographyIds + '&VerticalIds=' + VerticalIds + '&AudienceIds=' + AudienceIds + '&Year=' + Year + '&AllocatedBy=' + AllocatedBy + '&Tab=' + Tab + '&SortingId=' + SortingId);
        }
    }*@

    function DisableViewByAllocated() {
        $('#ddlAllocatedBySelectBox').find("li").each(function () {
            var innerlivalue = $(this).find("a").attr("rel");
            if (innerlivalue == monthvalue) {
                $(this).css("display", "none");
                AllocatedBy = '@RevenuePlanner.Helpers.Enums.PlanAllocatedBy.quarters.ToString()';
                }
                else if (innerlivalue == Quartervalue) {
                    isByAllocated = false;
                    $(this).find("a").click();
                    isByAllocated = true;
                }
            });
        }
        function EnableViewByAllocated() {
            $('#ddlAllocatedBySelectBox').find("li").each(function () {
                $(this).css("display", "block");
            });
        }
        function CheckAllocatedBy() {
            viewByDisplay = true;
            $('#multipleselect_ddlPlan').find("input[type='checkbox']").each(function () {
                if (this.checked) {
                    var getAllocatedBy = $(this).val().split("_");
                    if (getAllocatedBy[1] == Quartervalue && viewByDisplay == true) {
                        viewByDisplay = false;
                    }
                }
            });
            if (viewByDisplay == false) {
                DisableViewByAllocated();
            }
            else {
                EnableViewByAllocated();
            }


        }
        $("#ddlTabViewBy").change(function () {
            Tab = $('#ddlTabViewBy').val();
            SortingId = '';
            LoadBudgetData();
        });
        $("#ddlAllocateViewBy").change(function () {
            AllocatedBy = $('#ddlAllocateViewBy').val();
            SortingId = '';
            LoadBudgetData();
        });
</script>
