@using RevenuePlanner.Helpers
@{
    var ViewPlanSelectedValue = (List<SelectListItem>)ViewBag.ViewPlan;
    var ViewGeographySelectedValue = (List<SelectListItem>)ViewBag.ViewGeography;
    var ViewBusinessUnitSelectedValue = (List<SelectListItem>)ViewBag.ViewBusinessUnit;
    var ViewVerticalSelectedValue = (List<SelectListItem>)ViewBag.ViewVertical;
    var ViewAudienceSelectedValue = (List<SelectListItem>)ViewBag.ViewAudience;
    string SelectedYear = ViewBag.SelectedYear;
    string AudienceLabel = Common.CustomLabelFor(Enums.CustomLabelCode.Audience);
    string AudienceLabelTitle = string.Empty;
    if(AudienceLabel.Length > 10)
    {
        AudienceLabelTitle = AudienceLabel;
        AudienceLabel = AudienceLabel.Substring(0, 10) + "...";
    }
}
<div class="budgetReport">
    <div class="budgetColums budgetReporting">
        <div class="plannedCost">
            <h3 class="source-sans-proregular">Today is <span id="SpanTodayDate">08/15/2014</span>. You are in <span id="SpanCurrentQuarter">Q3</span>.<br>
                So far, you've spent <span id="SpanTotalSpend">$2.5M</span> out of <span id="SpanTotalBudgeted">$4.8M</span>.</h3>
            <div style="clear: both;"></div>
        </div>
        <div class="budgetCompare">
            <h3 class="source-sans-proregular" id="monthCompareTitle"></h3>
            <div class="budgetCompareInner" id="monthContainer">
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>

    <!-- Budget Reporting Filter area -->
    <div class="budgetReportFilter-area clearfix">
        <div class="budgetReportFilter-area-left">
            
            <!--Start modified by Mitesh Vaishnav for PL ticket #727 - Added "noneselectedvalue" attribute to dropdownlist.-->
            <div class="multiselection-area">
                <span class="selectBox" id="ddlYearSpan" style="width: 115px; line-height: 2.5; padding-right: 7px;">
                    @Html.DropDownList("ddlYear", new SelectList((System.Collections.IEnumerable)ViewBag.ViewYear, "Value", "Text",SelectedYear), new { @class = "ddlStyleReport" })
                </span>
                @Html.DropDownList("ddlViewBusinessUnit", new MultiSelectList((System.Collections.IEnumerable)ViewBag.ViewBusinessUnit, "Value", "Text", ViewBusinessUnitSelectedValue.Where(b => b.Selected).Select(b => b.Value)), new { @class = "multiselection-select", multiple = "multiple", id = "ddlViewBusinessUnit", noneselectedvalue = "Business Units", style = "display:none" })
                @Html.DropDownList("ddlPlan", new MultiSelectList((System.Collections.IEnumerable)ViewBag.ViewPlan, "Value", "Text", ViewPlanSelectedValue.Where(p => p.Selected).Select(p => p.Value)), new { @class = "multiselection-select", multiple = "multiple", id = "ddlPlan", noneselectedvalue = "Plans", style = "display:none" })
                @Html.DropDownList("ddlViewGeography", new MultiSelectList((System.Collections.IEnumerable)ViewBag.ViewGeography, "Value", "Text", ViewGeographySelectedValue.Where(g => g.Selected).Select(g => g.Value)), new { @class = "multiselection-select", multiple = "multiple", id = "ddlViewGeography", noneselectedvalue = "Geography", style = "display:none" })
                @Html.DropDownList("ddlViewVertical", new MultiSelectList((System.Collections.IEnumerable)ViewBag.ViewVertical, "Value", "Text", ViewVerticalSelectedValue.Where(v => v.Selected).Select(v => v.Value)), new { @class = "multiselection-select", multiple = "multiple", id = "ddlViewVertical", noneselectedvalue = "Verticals", style = "display:none" })
                @Html.DropDownList("ddlViewAudience", new MultiSelectList((System.Collections.IEnumerable)ViewBag.ViewAudience, "Value", "Text", ViewAudienceSelectedValue.Where(a => a.Selected).Select(a => a.Value)), new { @class = "multiselection-select", multiple = "multiple", id = "ddlViewAudience", noneselectedvalue = @AudienceLabel, style = "display:none" })

            </div>
            <!--End modified by Mitesh Vaishnav for PL ticket #727 - Added "noneselectedvalue" attribute to dropdownlist.-->
            <div class="filter-detail">
                    <label>Year:</label>
                    <div class="details" id="yeardetail"></div>
                    <label>Business Units:</label>
                    <div class="details" id="businessunitdetail">All</div>
                    <label>Plans:</label>
                    <div class="details" id="plandetail"></div>
                    <label>Geography:</label>
                    <div class="details" id="geographydetail">All</div>
                    <label>Verticals:</label>
                    <div class="details" id="verticaldetail">All</div>
                    <label>@Html.CustomLabelFor(Enums.CustomLabelCode.Audience):</label>
                    <div class="details" id="audiencedetail">All</div>
            </div>
        </div>
        <div class="budgetReportFilter-area-right">
            <button id="button-save" class="btn btn-blue btn-large text-shadow-blue source-sans-proregular" name="button-save">Update</button>
        </div>
    </div>
    <!-- Budget Reporting Filter area -->
    <div style="margin-left: 18px; margin-right: 20px; margin-bottom: 10px; width: 97%; float: left;">
        <div class="title-header source-sans-proregular bold budget-title">
            <div style="float: right;">
                @Html.Label("View By:", new { id = "lblViewBy" })
                <span class="selectBox" id="ddlTabSelectBox" style="width: 158px;">
                    @Html.DropDownList("ddlTabViewBy", new SelectList((System.Collections.IEnumerable)ViewBag.ViewByTab, "Value", "Text", @RevenuePlanner.Helpers.ReportTabType.Plan.ToString()), new { @class = "ddlStyleReport" })
                </span>
                <span class="selectBox" id="ddlAllocatedBySelectBox" style="width: 158px;">
                    @Html.DropDownList("ddlAllocateViewBy", new SelectList((System.Collections.IEnumerable)ViewBag.ViewByAllocated, "Value", "Text", @RevenuePlanner.Helpers.Enums.PlanAllocatedBy.quarters.ToString()), new { @class = "ddlStyleReport" })
                </span>
            </div>
            <h2>Budget Summary</h2>
        </div>

    </div>

    <div id="divTabData" style="margin-top: 20px; clear: left;"></div>
</div>
<script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery-ui.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.multiselect.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.multiselect.filter.js")"></script>
<link href="@Url.Content("~/Content/css/jquery.multiselect.css")" rel="stylesheet" type="text/css" />
<script>

    var PlanIds = '';
    var VerticalIds = '';
    var GeographyIds = '';
    var BusinessUnitIds = '';
    var AudienceIds = '';
    var Year = $('#ddlYear').val();
    var AllocatedBy = '@RevenuePlanner.Helpers.Enums.PlanAllocatedBy.quarters.ToString()';
    var Tab = '@RevenuePlanner.Helpers.ReportTabType.Plan.ToString()';
    var SortingId = '';
    var isByAllocated = true;

    $(document).ready(function () {
        var viewByDisplay = true;
        var monthvalue = '@RevenuePlanner.Helpers.Enums.PlanAllocatedByList[RevenuePlanner.Helpers.Enums.PlanAllocatedBy.months.ToString()].ToString()';
        var Quartervalue = '@RevenuePlanner.Helpers.Enums.PlanAllocatedByList[RevenuePlanner.Helpers.Enums.PlanAllocatedBy.quarters.ToString()].ToString()';

        $(".budgetCompareInner").mCustomScrollbar({
            scrollButtons: {
                enable: true
            },
            horizontalScroll: true,
            advanced: { autoExpandHorizontalScroll: true, updateOnContentResize: true }
        });

        //$(".budgetReportFilter-area select").multiselect().multiselectfilter();

        $(".selectBox select").selectbox();

        ///Start Modified by Mitesh Vaishnav for PL ticket #727
        $(".budgetReportFilter-area").find(".multiselection-select").each(function () {
            $(this).multiselect({ noneSelectedText: $(this).attr('noneselectedvalue') }).multiselectfilter();
        });

        $("#ddlViewAudience").next().attr('title', '@AudienceLabelTitle');

        $(".sbSelector").css("color", "#6D6D6D");

        var multiselectPlanId = "ddlPlan";
        var filterPlanid = "#plandetail";
        var ddlViewAudience = "ddlViewAudience";
        var ddlViewVertical = "ddlViewVertical"
        var ddlViewBusinessUnit = "ddlViewBusinessUnit";
        var ddlViewGeography = "ddlViewGeography";

        var audiencedetail = "#audiencedetail";
        var verticaldetail = "#verticaldetail";
        var businessunitdetail = "#businessunitdetail";
        var geographydetail = "#geographydetail";

        LoadCheckBoxValueForPlan(multiselectPlanId, filterPlanid);
        LoadCheckBoxValue(ddlViewAudience, audiencedetail);
        LoadCheckBoxValue(ddlViewVertical, verticaldetail);
        LoadCheckBoxValue(ddlViewBusinessUnit, businessunitdetail);
        LoadCheckBoxValue(ddlViewGeography, geographydetail);

        LoadMultiselectFilterPlan(multiselectPlanId, filterPlanid);
        LoadMultiselectFilter(ddlViewAudience, audiencedetail);
        LoadMultiselectFilter(ddlViewVertical, verticaldetail);
        LoadMultiselectFilter(ddlViewBusinessUnit, businessunitdetail);
        LoadMultiselectFilter(ddlViewGeography, geographydetail);

        function LoadCheckBoxValue(multiselectId, filterid) {
            var finalValue = "";
            var isAll = true;
            $('#multipleselect_' + multiselectId).find("input[type='checkbox']").each(function () {
                if (this.checked) {
                    finalValue += $(this).parent().find('span').eq(0).html() + ",  ";
                }
                else {
                    isAll = false;
                }
            });
            finalValue = finalValue.slice(0, -3);
            if (finalValue == '') {
                finalValue = 'None';
            }
            if (isAll) {
                finalValue = 'All';
            }
            $(filterid).html(finalValue);
        }

        function LoadMultiselectFilter(multiselectId, filterid) {
            $('#multipleselect_' + multiselectId).find("input[type='checkbox']").each(function () {
                $(this).change(function (e) {
                    LoadCheckBoxValue(multiselectId, filterid);
                });
            });

            $('#selectAll_' + multiselectId).click(function () {
                //var finalValue = "";
                //$("#multipleselect_" + multiselectId).find("li").each(function () {
                //    if ($(this).css('display') == 'list-item') {
                //        $(this).find("input[type='checkbox']").each(function () {
                //            if (!this.checked) {
                //                finalValue += $(this).parent().find('span').eq(0).html() + ",  ";
                //            }
                //        });
                //    }
                //});
                var delay = 50;//1 seconds
                setTimeout(function () {
                    LoadCheckBoxValue(multiselectId, filterid);
                }, delay);
            });

            $('#deselectAll_' + multiselectId).click(function () {
                var delay = 50;//1 seconds
                setTimeout(function () {
                    LoadCheckBoxValue(multiselectId, filterid);
                }, delay);
            });
        }

        function LoadCheckBoxValueForPlan(multiselectId, filterid) {
            viewByDisplay = true;
            var isAll = true;
            var finalValue = "";
            $('#multipleselect_' + multiselectId).find("input[type='checkbox']").each(function () {
                if (this.checked) {
                    finalValue += $(this).parent().find('span').eq(0).html() + ",";
                    var getAllocatedBy = $(this).val().split("_");
                    if (getAllocatedBy[1] == Quartervalue && viewByDisplay == true) {
                        viewByDisplay = false;
                    }
                }
                else {
                    isAll = false;
                }
            });
            finalValue = finalValue.slice(0, -3);
            if (finalValue == '') {
                finalValue = 'None';
            }
            if (isAll) {
                finalValue = 'All';
            }
            $(filterid).html(finalValue);
           
            if (viewByDisplay == false) {
                DisableViewByAllocated();
            }
            else {
                EnableViewByAllocated();
            }
        }

        function LoadMultiselectFilterPlan(multiselectId, filterid) {
            
            $('#multipleselect_' + multiselectId).find("input[type='checkbox']").each(function () {
                $(this).change(function (e) {
                    LoadCheckBoxValueForPlan(multiselectId, filterid);
                });
            });

            $('#selectAll_' + multiselectId).click(function () {
                var delay = 50;//1 seconds
                setTimeout(function () {
                    LoadCheckBoxValueForPlan(multiselectId, filterid);
                }, delay);
            });

            $('#deselectAll_' + multiselectId).click(function () {
                var delay = 50;//1 seconds
                setTimeout(function () {
                    LoadCheckBoxValueForPlan(multiselectId, filterid);
                    //your code to be executed after 1 seconds
                }, delay);
            });
        }

        function DisableViewByAllocated() {
            $('#ddlAllocatedBySelectBox').find("li").each(function () {
                var innerlivalue = $(this).find("a").attr("rel");
                if (innerlivalue == monthvalue) {
                    $(this).css("display", "none");
                }
                else if (innerlivalue == Quartervalue) {
                    isByAllocated = false;
                    $(this).find("a").click();
                    isByAllocated = true;
                }
            });
        }
        function EnableViewByAllocated() {
            $('#ddlAllocatedBySelectBox').find("li").each(function () {
                $(this).css("display", "block");
            });
        }

        function GetFilterIdForPlan(multiselectId) {
            var finalValue = "";
            $('#multipleselect_' + multiselectId).find("input[type='checkbox']").each(function () {
                if (this.checked) {
                    var splitvalue = $(this).val().split("_");
                    finalValue += splitvalue[0] + ",";
                }
            });

            finalValue = finalValue.slice(0, -1);
            if (finalValue == '') {
                finalValue = '';
            }
            return finalValue;

        }

        function GetFilterId(multiselectId) {
            var finalValue = "";
            $('#multipleselect_' + multiselectId).find("input[type='checkbox']").each(function () {
                if (this.checked) {
                    finalValue += $(this).val() + ",";
                }
            });
            
            finalValue = finalValue.slice(0, -1);
            if (finalValue == '') {
                finalValue = '';
            }
            return finalValue;
         
        }

        $("#yeardetail").html("FY " + $('#ddlYear').val());
        $('#button-save').click(function () {
            PlanIds = GetFilterIdForPlan(multiselectPlanId);
            VerticalIds = GetFilterId(ddlViewVertical);
            GeographyIds = GetFilterId(ddlViewGeography);
            BusinessUnitIds = GetFilterId(ddlViewBusinessUnit);
            AudienceIds = GetFilterId(ddlViewAudience);
            SortingId = '';
            LoadBudgetData();
        });

        $("#ddlYear").change(function () {
            Year = $('#ddlYear').val();
            $("#yeardetail").html("FY " + $('#ddlYear').val());
            LoadPlanData();
        });
        function LoadPlanData() {
            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/Report/GetBudgetPlanBasedOnYear/")',
            data: {
                Year: Year
            },
            success: function (r) {
                //   alert(JSON.stringify(r));
                populatePlan(r, "ddlPlan");

            }
        });
    }

        function populatePlan(items, id) {
            var $dropdown = $("#" + id);
            $dropdown.empty();
            var $html = '';
            if (items.length > 0) {
              
                $.each(items, function (index, planobj) {
                    if (planobj.Selected) {
                        $html += '<option value="' + planobj.Value + '" selected>' + planobj.Text + '</option>';
                        OptionMain = planobj.Value;
                    } else {
                        $html += '<option value="' + planobj.Value + '">' + planobj.Text + '</option>';
                    }
                });
            }
            // alert($html);
            $dropdown.append($html);

            //start Added by Mitesh Vaishnav for PL ticket #727
            //update multiselect box as its related dropdownlist's option will be changed
            var updatedOption = $("#ddlPlan").find('option');
            $('#ddlPlan').multiselect("refresh", updatedOption);
            //End Added by Mitesh Vaishnav for PL ticket #727
            $("#multipleselect_ddlPlan").find("input[type='search']").val('');
            LoadCheckBoxValueForPlan(multiselectPlanId, filterPlanid);
            LoadMultiselectFilterPlan(multiselectPlanId, filterPlanid);
            
            //$('#multipleselect_ddlPlan').empty();
            //$dropdown.next().find('.ui-multiselect').empty();
            //$dropdown.multiselect({ noneSelectedText: $dropdown.attr('noneselectedvalue') }).multiselectfilter();
        }

       
        $("#ddlTabViewBy").change(function () {
            Tab = $('#ddlTabViewBy').val();
            SortingId = '';
            LoadBudgetData();
        });
        $("#ddlAllocateViewBy").change(function () {
            AllocatedBy = $('#ddlAllocateViewBy').val();
            SortingId = '';
            LoadBudgetData();
        });

        PlanIds = GetFilterIdForPlan(multiselectPlanId);
        VerticalIds = GetFilterId(ddlViewVertical);
        GeographyIds = GetFilterId(ddlViewGeography);
        BusinessUnitIds = GetFilterId(ddlViewBusinessUnit);
        AudienceIds = GetFilterId(ddlViewAudience);
        LoadBudgetData();
        //, function () { LoadBudgetData(); });
    
    });

    function LoadBudgetSortingEvent() {

        $('.UpperArrowReport').click(function () {
            SortingId = $(this).attr('id');
            LoadBudgetData();
        });

        $('.DownArrowReport').click(function () {
            SortingId = $(this).attr('id');
            LoadBudgetData();
        });

        $('.UpperArrowReportBlue').click(function () {

        });

        $('.DownArrowReportBlue').click(function () {

        });
    }

        function LoadBudgetData() {
         if(isByAllocated)
         {
             $('#divTabData').load('@Url.Action("GetReportBudgetData", "Report")' + '?PlanIds=' + PlanIds + '&GeographyIds=' + GeographyIds + '&BusinessUnitIds=' + BusinessUnitIds + '&VerticalIds=' + VerticalIds + '&AudienceIds=' + AudienceIds + '&Year=' + Year + '&AllocatedBy=' + AllocatedBy + '&Tab=' + Tab + '&SortingId=' + SortingId);
         }
        }
</script>
