@model RevenuePlanner.Models.FilterDropdownValues

@{
    ViewBag.Title = "Report Summaries";
    ViewBag.ActiveMenu = RevenuePlanner.Helpers.Enums.ActiveMenu.Report;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Nl form JS files -->
<link rel="stylesheet" href="@Url.Content("~/Content/css/NaturalLanguageForm/default.css")" type="text/css" />
<link rel="stylesheet" href="@Url.Content("~/Content/css/NaturalLanguageForm/component.css")" type="text/css" />
<script type="text/javascript" src="@Url.Content("~/Scripts/js/NaturalLanguageForm/modernizr.custom.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/js/NaturalLanguageForm/nlform.js")"></script>

@*Reason: To remove chart canvas border and unwanted icon Refered to original css of dhtmlxchart Added By: Maninder Singh on 1/28/2014*@
<link href="@Url.Content("~/Content/css/dhtmlxchart.css")" rel="stylesheet" type="text/css" />

@section Sidebar
{
    <div class="padding-content padding-bottom0">
        <h4 class="text-shadow-black source-sans-prolight">Reports</h4>
        <form id="nl-formAct" class="nl-form-plan-title without-margin report-summry">
            <span class="report-summry-select" id="nl-ReportSummry">
                <select id="reportSummry" data-default="0%" class="">
                </select>
                <div class="nl-overlay"></div>
            </span>

            <span class="report-summry-plans" id="nl-ReportSummry2">
                <select id="reportSummry2" data-default="0%" class="">
                </select>
                <div class="nl-overlay"></div>
            </span>
        </form> 
        <div class="wraper-btns cf">
            <div class="span6">
                @if (RevenuePlanner.Helpers.Sessions.PlanId != 0)
                {
                    <button id="BtnAddActual" class="btn btn-blue text-shadow-blue source-sans-proregular" type="button" onclick="window.location.href='@Url.Action("AddActual", "Home")'">Add Actuals</button>    
                }
                else
                {
                    <button class="btn btn-blue-disable text-shadow-blue source-sans-proregular" disabled="disabled" type="button">Add Actuals</button>
                }
            </div>
            <div class="span6">
                <button class="btn btn-blue text-shadow-blue source-sans-proregular" type="button" id="BtnShareReport">Share Report</button>
            </div>
        </div>
    </div>
    <ul class="nav nav-list nav-gray-reports">
        <li class="item active">
            <a class="source-sans-probold summary" href="#"><span></span>SUMMARY</a>
        </li>
        <li class="item">
            <a class="source-sans-probold revenue" onclick="window.location.href='@Url.Action("Revenue", "Report")'"><span></span>REVENUE</a>
        </li>
        <li class="item">
            <a class="source-sans-probold conversion" onclick="window.location.href='@Url.Action("Conversion", "Report")'"><span></span>CONVERSION</a>
        </li>
    </ul>
}

<ul class="nav nav-tabs" style="border-bottom: 0px;">
    <li class="source-sans-proregular">
        <h2 class="title-header plan" id="h2PlanTitle">@ViewBag.PlanTitle</h2>
    </li>
</ul>

<ul id="ulNav" class="nav nav-tabs">
    <li class="source-sans-proregular">
        <h2 class="title-header">Report Summaries</h2>
    </li>
</ul>

<div id="htmlContent" class="padding-content cf source-sans-proregular">
  
    <div id="DivSummary"></div>
    <div id="DivNoPlanToShowReport" style="display: none;">
        <span class="pull-left margin_t30 bold">No saved plans to display report summary.</span>
    </div>
</div>
<div id="DivShareReport">
</div>

<script type="text/javascript">
    $(document).ready(function () {
        ///// Filters logic /////
        var BU = @Html.Raw(Json.Encode(Model.lstBusinessUnit))
        populateBU(BU, "reportSummry");
        function populateBU(items, id) {
            var $dropdown = $("#" + id);
            var $html = '';
            $html += '<option value=' + 0 + ' selected>' + "All Business Units" + '</option>';
            if (items.length > 0) {
                $.each(items, function (index, BU) {

                    if (BU.Selected) {
                        $html += '<option value="' + BU.Value + '" selected>' + BU.Text + '</option>';
                        CurrentBU = BU.Value;
                    } else {
                        $html += '<option value="' + BU.Value + '">' + BU.Text + '</option>';
                    }
                });
            }
            $dropdown.append($html);
            nlform = new NLForm(document.getElementById('nl-ReportSummry'));
            LoadSummaryDataForPlan("@RevenuePlanner.Helpers.Sessions.BusinessUnitId", "@RevenuePlanner.Helpers.Sessions.ReportPlanId" ); // Load data for all Business Unit for the first time
        }

       var plans = @Html.Raw(Json.Encode(Model.lstAllPlans))
       populateNF(plans, "reportSummry2");

        function populateNF(items, id) {
            var $dropdown = $("#" + id);
            $('#nl-ReportSummry2 > div[class="nl-field nl-dd"]').children().empty();
            $('#reportSummry2').empty();
            var $html = '';
            $html += '<option value=' + 0 + ' selected>' + "All Plans" + '</option>';
            if (items.length > 0) {
                $.each(items, function (index, Plan) {

                    if (Plan.Selected) {
                        $html += '<option value="' + Plan.Value + '" selected>' + Plan.Text + '</option>';
                        CurrentBU = Plan.Value;
                    } else {
                        $html += '<option value="' + Plan.Value + '">' + Plan.Text + '</option>';
                    }
                });
            }
            $dropdown.append($html);
            nlform = new NLForm(document.getElementById('nl-ReportSummry2'));
        }

        onClickActivity();

        function onClickActivity() {
            $('#nl-ReportSummry > div[class="nl-field nl-dd"]').find('li').click(function (e) {
                var Title = $(this).text();
                var option = $.grep($('#reportSummry option'), function (value) { return $(value).text() == Title; })
                SelectedBUId = $(option[0]).val();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Content("~/Report/GetPlansListFromBusinessUnitId/")',
                    data: {
                        BusinessUnitId: SelectedBUId,
                    },
                    success: function (r) {
                        populateNF(r.lstPlan, "reportSummry2");
                        LoadSummaryDataForBU(SelectedBUId);
                        $('#h2PlanTitle').html('All Plans');
                        $('#nl-ReportSummry2 > .nl-field:not(:last)').remove(); // code to remove extra blocks for Plan dropdown
                    }
                });

            });

            $('#nl-ReportSummry2').on('click', 'div[class="nl-field nl-dd"] li', function (e) {
                var BUTitle = $('#nl-ReportSummry .nl-field-toggle').text();
                var BUOption = $.grep($('#reportSummry option'), function (value) { return $(value).text() == BUTitle; });
                SelectedBUId = $(BUOption[0]).val();

                var PlanTitle = $(this).text();
                var PlanOption = $.grep($('#reportSummry2 option'), function (value) { return $(value).text() == PlanTitle; });
                SelectedPlanId = $(PlanOption[0]).val();
                $('#h2PlanTitle').html(PlanTitle);
                LoadSummaryDataForPlan(SelectedBUId, SelectedPlanId);
            });
        }

        // This function will load the data for Business Unit
        function LoadSummaryDataForPlan(SelectedBUId, SelectedPlanId) {
            var url = '@Url.Content("~/Report/GetSummaryData/")';
            $('#DivSummary').load(url + '?BusinessUnitId=' + SelectedBUId + '&PlanId=' + SelectedPlanId);
            myApp.hidePleaseWait();
        }

        // This function will load the data for Plan
        function LoadSummaryDataForBU(SelectedBUId) {
            var url = '@Url.Content("~/Report/GetSummaryData/")';
            $('#DivSummary').load(url + '?BusinessUnitId=' + SelectedBUId);
            myApp.hidePleaseWait();
        }

        $("#DivShareReport").hide();

        $("#BtnShareReport").click(function () {
            ShowShareReport();
        });

        function ShowShareReport() {
            var url = '@Url.Content("~/Report/ShowShareReport/")';
            $("#DivShareReport").empty()
                                       .load(url.concat('?reportType=') + '@RevenuePlanner.Helpers.Enums.ReportType.Summary.ToString()')
                                       .show();
        }

    });
</script>
