@using RevenuePlanner.Helpers
 <div class="light-blue-chart cf">
    <div class="white-chart" style="display:none;">
        <p class="source-sans-probold">@Html.LabelForMQL("MQL") Trend</p>
        <div class="graph">
            <p class="value source-sans-prolight" id="mqlTrend"></p>
            <h5 id="mqlTrendPercentage"></h5>
        </div>
    </div>
     @*When Require to display RevenueTrend Then uncommnet All code related to Trend.*@
    <div class="white-chart" style="display:none;">
        <p class="source-sans-probold">Trend</p>
        <p class="value source-sans-prolight" id="revenueTrend"></p>
        <h5 id="revenueTrendPercentage"></h5>
    </div>
    <div class="white-chart">
        <p class="source-sans-probold">Actual</p>
        <p class="value source-sans-prolight" id="revenueActual"></p>
        <h5 id="revenueActualPercentage"></h5>
    </div>
    <div class="white-chart">
        <p class="source-sans-probold">Projected</p>
        <p class="value source-sans-prolight" id="revenueProjected"></p>
        <a class="ellipsis-block">Revenue</a>
    </div>
    <div class="wraper-title">
        <h3 class="source-sans-prolight timeframe ">Marketing Revenue
        <br /></h3>
    <form id="nl-formAct" class="nl-form-plan-title without-margin">
        <select id="drpthisyear" data-default="0%" class="">
        </select>
        <div class="nl-overlay"></div>
    </form>
    </div>
</div>
<script type="text/javascript">
    var OptionMain = "@ViewBag.SelectOption"

    $(document).ready(function () {
        var time = @Html.Raw(Json.Encode(ViewBag.UpcomingActivity))
        populateNFActivity(time, "drpthisyear");

        function populateNFActivity(items, id) {
            var $dropdown = $("#" + id);
            var $html = '';
            if (items.length > 0) {
                $.each(items, function (index, time) {
                    if (time.Value == OptionMain) {
                        $html += '<option value="' + time.Value + '" selected>' + time.Text + '</option>';
                    } else {
                    $html += '<option value="' + time.Value + '">' + time.Text + '</option>';
                     }
                });
            }
            $dropdown.append($html);
           nlform = new NLForm(document.getElementById('nl-formAct'));
           onClickActivity();
           LoadHeaderData();
        }

        function onClickActivity() {
            $('#nl-formAct > div[class="nl-field nl-dd"]').find('li').click(function (e) {
                    var Title = $(this).text();
                    var option = $.grep($('#drpthisyear option'), function (value) { return $(value).text() == Title; })
                    Currenttime = $(option[0]).val();
                    OptionMain = Currenttime;
                    var url = '@Url.Content("~/Report/Revenue")';
                window.location.href = url + '?id=' + OptionMain;
            });
        }

        function LoadHeaderData() {
            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/Report/GetReportRevenueHeader/")',
                data: {
                    option: OptionMain,
                    isRevenue: true
                },
                success: function (data) {
                    if (data != undefined) {
                        setLabel(data);
                    }
                }
            });
        }

        function setLabel(data) {
            setBootstrapTooltip("#revenueProjected", data.ProjectedRevenueValue, 5, true);
            setBootstrapTooltip("#revenueActual", data.ActualRevenueValue, 5, true);
            var revenuePercentage = 0, revenueTrendPercentage = 0, mqlTrendPercentage = 0;
            if (parseFloat(data.ProjectedRevenueValue) > 0) {
                revenuePercentage = (((parseFloat(data.ActualRevenueValue) - parseFloat(data.ProjectedRevenueValue)) / parseFloat(data.ProjectedRevenueValue)) * 100);
            }
            setPercentage("#revenueActualPercentage", revenuePercentage);
        }

        function setPercentage(id, value) {
            var absValue = FormatNumber(Math.abs(parseFloat(value)), true);
            var isNegative = parseFloat(value) < 0;
            if (isNegative) {
                $(id).addClass("red-value");
                $(id).removeClass("green-value");
                $(id).text("-" + absValue);
            }
            else {
                $(id).removeClass("red-value");
                $(id).addClass("green-value");
                $(id).text("+" + absValue);
            }
            
        }

    });

</script>