@{
    string reportType = Convert.ToString(ViewBag.ReportType);
    //// Flag to indicate unavailability of web service.
    //// Added By: Maninder Singh Wadhva on 11/24/2014.
    //// Ticket: 942 Exception handeling in Gameplan.
    bool isServiceUnavailable = Convert.ToBoolean(ViewBag.IsServiceUnavailable);
}

<link href="@Url.Content("~/Content/css/Select2/select2.css")" rel="stylesheet" />
<script src="~/Scripts/js/Select2/select2.js"></script>
<div class="row-fluid calc-height" id="DivShareReportContainer">
    <div class="span12">
        @*Modified by Sohel on 28th March to remove fixed height of pop-up. height-auto class has been added*@
        <div id="modal-container-sharereport" class="form-inspect-share hide fade height-auto" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            @*Modified by Sohel on 3rd April 2014 for PL# 398 to display error message on the top of sharing pop-up, below div has been place inside from outside of main div *@
            <div id="errorMessageShareReportPopup" class="alert alert-error hide error-over-modal">
                <a class="close">×</a>
                <strong>Error! </strong><span id="spanMessageErrorShareReportPopup"></span>
            </div>
            @**@
            <div class="login-wrapper">
                <form name="share-report">
                    <h2 class="primary-title source-sans-prosemibold">Share Report</h2>
                    <label>All fields required.</label>
                    <input id="select2Email" type="hidden" name="select2Email" class="input-block-level" style="margin-bottom: 10px;" />
                    <textarea rows="3" placeholder="Add Optional Message" id="TxtOptionalMessage" maxlength="255"></textarea>
                    <span class="attach-icon"></span>
                    <label id="shareReport">@reportType</label>
                    <button class="form-inspect-share-button btn btn-large bottom-margin-popups" type="submit" value="Submit">Share</button>
                    <button id="cancel-share-report-button" class="btn-link Cancel-button-center-popups" type="button">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid calc-height" id="DivShareReportConfirmationContainer">
    <div class="span12">
        @*Modified by Sohel on 28th March to remove fixed height of pop-up. height-auto class has been added*@
        <div id="modal-container-confirmation" class="form-inspect-share-confirmation hide fade height-auto" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="login-wrapper">
                <form name="login-register">
                    <h2 class="primary-title source-sans-prosemibold">
                        Report Successfully<br />
                        Shared With
                    </h2>
                    <label id="email-confirmation"></label>
                    @*Modified by Sohel on 1st April 2014 for BTS ticket #153, solved reset data issue on confirmation button click event*@
                    <button class="form-inspect-share-button btn btn-large" id="BtnCloseConfirmation" type="button">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //// Function to redirect to login page on unavailability of web service.
    //// Added By: Maninder Singh Wadhva on 11/24/2014.
    //// Ticket: 942 Exception handeling in Gameplan.
    function redirectOnServiceUnavailibility() {
        if ('@Html.Raw(Json.Encode(isServiceUnavailable))' == 'true') {
            window.location = '@Url.Content(RevenuePlanner.Helpers.Common.RedirectOnServiceUnavailibilityPage)';
        }
    }


    var select2EmailData = [];

    $(document).ready(function () {
        //// Call function to redirect on service unavailibility.
        //// Added By: Maninder Singh Wadhva on 11/24/2014.
        //// Ticket: 942 Exception handeling in Gameplan.
        redirectOnServiceUnavailibility();


        //// Hide parent div container when popup is closed.
        $("#modal-container-sharereport").on("hide", function (e) { $("#DivShareReport").hide(); });

        $('#modal-container-confirmation').on("hide", function (e) { $("#DivShareReport").hide(); });
        $('#modal-container-confirmation').on("show", function (e) { $("#DivShareReport").show(); });

        //// Show popup.
        $("#modal-container-sharereport").modal('show');

        //// Close popup and error message.
        $('#cancel-share-report-button').on("click", function () {
            $('#modal-container-sharereport').modal("hide");
            $(".alert").find(".close").click();
        });

        //// Close error message.
        $(".alert").find(".close").on("click", function (e) {
            e.stopPropagation();
            e.preventDefault();
            $(this).closest(".alert").slideUp(400);
        });

        //// Populating email id.
        var emails = @Html.Raw(Json.Encode(@ViewBag.EmailIds));
        if (emails != null) {
            $.each(emails, function (index, email) {
                select2EmailData.push({id: email, text: email});
            });
        }

        //// Adding data to select2
        $("#select2Email").select2({
            placeholder: "Email",
            multiple: true,
            data: select2EmailData
        });

        //// Valdiate and Send mail on click of share button of share report popup.
        $('form[name="share-report"]').on("submit", function (e) {
          
            if ($("#select2Email").select2("val") == "") {
                var msgspan = "@RevenuePlanner.Helpers.Common.objCached.ValidateEmailAtleastone";
                $("#errorMessageShareReportPopup").css("display", "block");
                $(".input-block-level").addClass("error");
                //// Added by Sohel on 2nd April for PL#398 to display validation error properly
                $(".select2-choices").css("background-image", "none");
                $(".select2-choices").addClass("error-background");
                ////
                $("#spanMessageErrorShareReportPopup").text(msgspan);
            }
            else {
                $(".input-block-level").removeClass("error");
                $(".select2-choices").removeClass("error-background");
                $("#errorMessageShareReportPopup").css("display", "none");
                // Send mail and show confirmation popup.
                ShareReport($("#select2Email").select2("val").toString(), $("#TxtOptionalMessage").val());
            }

            return false;
        });

        //Start Share Report
        function ShareReport(email, optionalMessage) {
           
            var reportType = '@reportType';
            var htmlOfCurrentView = GetHTML(reportType);
            
            var originurl = document.location.origin;
            var mypathurl = document.location.pathname.split('/')[1];
            //var urlpdf = originurl + "/" + mypathurl ; // This line use for stage servers.
            var urlpdf = originurl;// This line uncomment for production version and uncomment above line
            
            //// Added by Sohel on 2nd April for PL#398 to encode the text insert in Optional Message Textbox

            $("#modal-container-sharereport").css('z-index', '2000');
            optionalMessage = escape(optionalMessage);
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '@Url.Content("~/Report/ShareReport/")',
                data: {
                    reportType: reportType,
                    toEmailIds: email,
                    optionalMessage: optionalMessage,
                    htmlOfCurrentView : htmlOfCurrentView,
                    url:urlpdf
                },
                success: function (data) {
                    if (data != 'undefined' && data != false) {
                       
                        ////Added by Sohel on 28th March 2014 for Wrapping the emaild ids.
                        email = email.replace(/,/g, ", ");
                        ////
                        ShowConfirmation(email);
                        return false;
                    }
                    else {
                        var msgspan = '@RevenuePlanner.Helpers.Common.objCached.ErrorOccured';
                        $("#modal-container-sharereport").css('z-index', '2500');
                        $("#errorMessageShareReportPopup").css("display", "block");
                        $("#spanMessageErrorShareReportPopup").text(msgspan);
                    }
                }
            });
        }

        function GetHTML(reportType)
        {
            if (reportType == '@RevenuePlanner.Helpers.Enums.ReportType.Summary.ToString()') {
                return GetHTMLSummary()
            }else if (reportType == '@RevenuePlanner.Helpers.Enums.ReportType.Revenue.ToString()') {
                return GetHTMLRevenue();
            }else if (reportType == '@RevenuePlanner.Helpers.Enums.ReportType.Waterfall.ToString()') {
                return GetHTMLConversion();
            }
            else {
                return false;
            }
        }

        /*Modified By Maninder Singh Wadhva on  10/21/2014 for ticket #865 	Custom fields & Report filter - Review changes on reports PDF*/
        function GetHTMLConversion()
        {

            //.nextAll(".portlet-content:first")
            //var filterHTML = $('.revenue-filter').html();
            //Made changes for PL #2458 to resolve share report issue
            var filterHTML = $('#divMainReportPart').parent().html();
            //var filterHTML = $('#dvRevenueCardSection').html();
            var html  = '';

            //html += '<div style="margin-left: 100px;"> ' + $htmlgraph + filterHTML + '</div>';
            html += '<div style="margin-left: 100px;">' + filterHTML + '</div>';
            var $html = $(html);
           
            //revenue-to-plan-graph
            //Made changes for PL #2458 to resolve share report issue
            //$html.find('div[class="report-heder-tab"]').empty();
            //$html.find('div').removeClass("report-heder-tab");
            $html.find('#dvConversionCombineChart').css('height','');
            //$html.find("div[id^='dvline_']").css('height','');
            $html.find("button[id^='buttonDtls_']").remove();
            $html.find("#divMainReportPart").removeClass('margin_top20');
            $html.find('.slimScrollRail').css('height','');
            $html.find('.highcharts-container').css('width','100%');
            $html.find("#txtSearch").val($html.find("#txtSearch").val());
            //$("div[id^='dvline_']").css('height','');
            //$html.find('div[class="budgetReportFilter-area clearfix"]').empty();
            //$html.find('div').removeClass("budgetReportFilter-area clearfix");
            $html.find('#AViewDetailReportRevenue').remove();
            $html.find('#AViewDetailReportConversion').remove();
            $html.find('.multiselection-area').remove();
            //$html.find('.budgetReportFilter-area-right').remove();
            //$html.find('div').removeClass("budgetReportFilter-area-left");
            $html.find('#DivShareReportContainer').remove();
            $html.find('#DivShareReportCoknfirmationContainer').remove();
            $html.find("#page_navigation").children("ul").children("li").removeAttr('onclick');
            $html.find("#page_navigation").children("ul").children("li").children("a").removeAttr("href");
            $html.find('.sbHolder').children('a').removeAttr('href');
            var InqPer = $html.find("span[id^='Inq_percentage_']");
            for(var i=0;i<InqPer.length;i++){
                $html.find("#"+InqPer[i].id).text($html.find("#"+InqPer[i].id).text().replace(/[+]/g,"%2B"));
            }
            var TqlPer = $html.find("span[id^='Tql_percentage_']");
            for(var i=0;i<TqlPer.length;i++){
                $html.find("#"+TqlPer[i].id).text($html.find("#"+TqlPer[i].id).text().replace(/[+]/g,"%2B"));
            }
            var CWPer = $html.find("span[id^='Cw_percentage_']");
            for(var i=0;i<CWPer.length;i++){
                $html.find("#"+CWPer[i].id).text($html.find("#"+CWPer[i].id).text().replace(/[+]/g,"%2B"));
            }
            var TablePerformance = $html.find("span[id^='Performance_']");
            for(var i=0;i<TablePerformance.length;i++){
                $html.find("#"+TablePerformance[i].id).text($html.find("#"+TablePerformance[i].id).text().replace(/[+]/g,"%2B"));
            }
            //alert($html.html());
            html = $html.html();
            //alert(html);           
            return escape(html);
        }

        //// Function replace multiselect by label in conversion summary report section.
        //// Added By Maninder Singh Wadhva on  10/17/2014 for ticket #865 	Custom fields & Report filter - Review changes on reports PDF
        function ReplaceMultiselectByLabelConversionSummary($html) {
            parentValue = $html.find('#btnMultiselect_ddlParentConversionSummery').attr("title");
            $html.find('#DivSummaryButtonsConversionSummary').css("float","right");
            $html.find('#DivSummaryButtonsConversionSummary').css("width","70%");

            $html.find('#DivSummaryButtonsConversionSummary').empty();
            $html.find('#DivSummaryButtonsConversionSummary').append("<div class='filter-detail'>\
                                                                    <div>\
                                                                        <div style='max-width: 80%; float: right;  white-space: normal; overflow: hidden; text-overflow: ellipsis;margin-top:5px;'>"+ parentValue +"</div>\
                                                                    </div>\
                                                                    <p style='float: right;'>View By:</p>\
                                                                    </div>");

            return $html;
        }

        //// Function replace multiselect by label in conversion plan section.
        //// Added By Maninder Singh Wadhva on  10/17/2014 for ticket #865 	Custom fields & Report filter - Review changes on reports PDF
        function ReplaceMultiselectByLableConversionPlan($html) {
            var parentValue = $html.find('#btnMultiselect_ddlParentConversionPlan').attr("title");
            var childValue = $html.find('#btnMultiselect_ddlChildConversionPlan').attr("title");
            $html.find('#ParentULMQLConversion').addClass("margin-top10");
            $html.find('#DivSummaryButtonsConversionPlan').css("float","right");
            $html.find('#DivSummaryButtonsConversionPlan').css("width","74%");

            $html.find('#DivSummaryButtonsConversionPlan').empty();
            $html.find('#DivSummaryButtonsConversionPlan').append("<div class='filter-detail'>\
                                                                    <div>\
                                                                        <div style='max-width: 40%; float: right; border-left: 1px solid rgb(128, 128, 128); margin-left: 9px; margin-top:5px; padding-left: 12px; padding-right: 3px; white-space: normal; overflow: hidden; text-overflow: ellipsis;'>" + childValue + "</div>\
                                                                        <div style='max-width: 40%; float: right; white-space: normal; overflow: hidden; text-overflow: ellipsis;margin-top:5px;'>"+ parentValue +"</div>\
                                                                    </div>\
                                                                    <p style='float: right;'>View By:</p>\
                                                                    </div>");

            return $html;
        }

        //// Function replace multiselect by label in mql performance section.
        //// Added By Maninder Singh Wadhva on  10/17/2014 for ticket #865 	Custom fields & Report filter - Review changes on reports PDF
        function ReplaceMultiselectByLableMQLPerformance($html)
        {
            parentValue = $html.find('#btnMultiselect_ddlParentConversionPerformance').attr("title");
            $html.find('#MQLPerformance').addClass("margin-top10");
            $html.find('#DivSummaryButtonsMQLPerformance').css("float","right");
            $html.find('#DivSummaryButtonsMQLPerformance').css("width","70%");
            $html.find('#DivSummaryButtonsMQLPerformance').empty();
            $html.find('#DivSummaryButtonsMQLPerformance').append("<div class='filter-detail'>\
                                                                    <div>\
                                                                        <div style='max-width: 80%; float: right;  white-space: normal; overflow: hidden; text-overflow: ellipsis;margin-top:5px;'>"+ parentValue +"</div>\
                                                                    </div>\
                                                                    <p style='float: right;'>View By:</p>\
                                                                    </div>");

            return $html;
        }

        /*Modified By Maninder Singh Wadhva on  10/17/2014 for ticket #865 	Custom fields & Report filter - Review changes on reports PDF*/
        //function GetHTMLRevenue()
        //{
        //    var filterHTML = $('.report-heder-tab').parent().html();

        //    var html = filterHTML;
        //    var $html = $('<div id="content_wraper" class="span10 all-height" style="width:100%">' + html + '</div>');

        //    alert($html.find(".graph-table").html());
        //    $html.find("#table_reports4").before('<div style="width:100%;height:20px;"></div>');
        //    $html.find("#table_reports2 thead tr th:nth-child(1)").removeClass("width96px").css("width","60px");
        //    $html.find("#table_reports2 tbody tr td").each(function () {
        //        $(this).css("width","60px");
        //    });

        //    $html.find("li.disabled > a").each(function(){
        //        $(this).parent().removeClass("disabled");
        //        $(this).css("background-color","#E0DFDF");
        //    });

        //    $html.find("a").each(function(){
        //        $(this).removeAttr("href");
        //    });

        //    $html.find('div[id="chartDiv3"]').empty();
        //    $html.find('div[id="chartDiv4"]').empty();
        //    $html.find('div[id="chartDiv5"]').empty();
        //    $html.find('div[id="chartDiv6"]').empty();
        //    $html.find('div[class="report-heder-tab"]').empty();
        //    $html.find('div').removeClass("report-heder-tab");
        //    //$html.find('div[class="budgetReportFilter-area clearfix"]').empty();
        //    //$html.find('div').removeClass("budgetReportFilter-area clearfix");
        //    $html.find('.multiselection-area').remove();
        //    //$html.find('.budgetReportFilter-area-right').remove();
        //    //$html.find('div').removeClass("budgetReportFilter-area-left");
        //    $html.find('#DivShareReportContainer').remove();
        //    $html.find('#DivShareReportCoknfirmationContainer').remove();

        //    ReplaceMultiselectByLableRevenueSummary($html);
        //    ReplaceMultiselectByLableRevenueToPlan($html);
        //    ReplaceMultiselectByLableRevenueRealization($html);
        //    ReplaceMultiselectByLableRevenueContribution($html);

        //    html = $html.wrap('<p/>').parent().html();
        //    return escape(html);
        //}

        //// Function replace multiselect by label in revenue summary section.
        //// Added By Maninder Singh Wadhva on  10/17/2014 for ticket #865 	Custom fields & Report filter - Review changes on reports PDF
        function ReplaceMultiselectByLableRevenueSummary($html) {
            var parentValue = $html.find('#btnMultiselect_ddlParentRevenueSummery').attr("title");
            var childValue = $html.find('#btnMultiselect_ddlChildRevenueSummery').attr("title");
            $html.find('#DivSummaryButtonsRevenueSummary').css("float","right");
            $html.find('#DivSummaryButtonsRevenueSummary').css("width","74%");

            $html.find('#DivSummaryButtonsRevenueSummary').empty();
            $html.find('#DivSummaryButtonsRevenueSummary').append("<div class='filter-detail'>\
                                                                    <div>\
                                                                        <div style='max-width: 40%; float: right; border-left: 1px solid rgb(128, 128, 128); margin-left: 9px; margin-top:5px; padding-left: 12px; padding-right: 3px; white-space: normal; overflow: hidden; text-overflow: ellipsis;'>" + childValue + "</div>\
                                                                        <div style='max-width: 40%; float: right; white-space: normal; overflow: hidden; text-overflow: ellipsis;margin-top:5px;'>"+ parentValue +"</div>\
                                                                    </div>\
                                                                    <p style='float: right;'>View By:</p>\
                                                                    </div>");

            return $html;
        }

        //// Function replace multiselect by label in revenue to plan section.
        //// Added By Maninder Singh Wadhva on  10/17/2014 for ticket #865 	Custom fields & Report filter - Review changes on reports PDF
        function ReplaceMultiselectByLableRevenueToPlan($html) {
            parentValue = $html.find('#btnMultiselect_ddlParentRevenueToPlan').attr("title");
            childValue = $html.find('#btnMultiselect_ddlChildRevenueToPlan').attr("title");
            $html.find('#ParentULRevenueToPlan').addClass("margin-top10");
            $html.find('#DivSummaryButtonsRevenueToPlan').css("float","right");
            $html.find('#DivSummaryButtonsRevenueToPlan').css("width","74%");

            $html.find('#DivSummaryButtonsRevenueToPlan').empty();
            $html.find('#DivSummaryButtonsRevenueToPlan').append("<div class='filter-detail'>\
                                                                    <div>\
                                                                        <div style='max-width: 40%; float: right; border-left: 1px solid rgb(128, 128, 128); margin-left: 9px; margin-top:5px; padding-left: 12px; padding-right: 3px; white-space: normal; overflow: hidden; text-overflow: ellipsis;'>" + childValue + "</div>\
                                                                        <div style='max-width: 40%; float: right; white-space: normal; overflow: hidden; text-overflow: ellipsis;margin-top:5px;'>"+ parentValue +"</div>\
                                                                    </div>\
                                                                    <p style='float: right;'>View By:</p>\
                                                                    </div>");
            return $html;
        }

        //// Function replace multiselect by label in revenue realization section.
        //// Added By Maninder Singh Wadhva on  10/17/2014 for ticket #865 	Custom fields & Report filter - Review changes on reports PDF
        function ReplaceMultiselectByLableRevenueRealization($html) {
            var campaign = $html.find('#btnMultiselect_ddlCampaign').attr("title");
            var program = $html.find('#btnMultiselect_ddlProgram').attr("title");
            var tactic = $html.find('#btnMultiselect_ddlTactic').attr("title");

            $html.find('#DivSummaryButtonsRevenueRealization').css("float","right");
            $html.find('#DivSummaryButtonsRevenueRealization').css("width","74%");

            $html.find('#DivSummaryButtonsRevenueRealization').empty();
            $html.find('#DivSummaryButtonsRevenueRealization').append("<div class='filter-detail'>\
                                                                    <div>\
                                                                        <div style='max-width: 20%; float: right; border-left: 1px solid rgb(128, 128, 128); margin-left: 9px; margin-top:5px; padding-left: 12px; padding-right: 3px; white-space: normal; overflow: hidden; text-overflow: ellipsis;'>" + tactic + "</div>\
                                                                        <div style='max-width: 20%; float: right; border-left: 1px solid rgb(128, 128, 128); margin-left: 9px; margin-top:5px; padding-left: 12px; padding-right: 3px; white-space: normal; overflow: hidden; text-overflow: ellipsis;'>" + program + "</div>\
                                                                        <div style='max-width: 20%; float: right; border-left: 1px solid rgb(128, 128, 128); margin-left: 9px; margin-top:5px; padding-left: 12px; padding-right: 3px; white-space: normal; overflow: hidden; text-overflow: ellipsis;'>" + campaign + "</div>\
                                                                    </div>\
                                                                    </div>");

            return $html;
        }

        //// Function replace multiselect by label in revenue contribution section.
        //// Added By Maninder Singh Wadhva on  10/17/2014 for ticket #865 	Custom fields & Report filter - Review changes on reports PDF
        function ReplaceMultiselectByLableRevenueContribution($html) {
            parentValue = $html.find('#btnMultiselect_ddlParentRevenueContribution').attr("title");
            $html.find('#ParentULRevenueContribution').addClass("margin-top10");
            $html.find('#DivSummaryButtonsRevenueContribution').css("float","right");
            $html.find('#DivSummaryButtonsRevenueContribution').css("width","74%");

            $html.find('#DivSummaryButtonsRevenueContribution').empty();
            $html.find('#DivSummaryButtonsRevenueContribution').append("<div class='filter-detail'>\
                                                                    <div>\
                                                                        <div style='max-width: 80%; float: right;  white-space: normal; overflow: hidden; text-overflow: ellipsis;margin-top:5px;'>"+ parentValue +"</div>\
                                                                    </div>\
                                                                    <p style='float: right;'>View By:</p>\
                                                                    </div>");

            return $html;
        }

        /*Modified By Maninder Singh Wadhva on  10/17/2014 for ticket #865 	Custom fields & Report filter - Review changes on reports PDF*/
        function GetHTMLSummary(){
            //Made changes for PL #2458 to resolve share report issue
            var filterHTML = $('#divMainReportPart').parent().html()
            var html  = '';

            html += '<div style="margin-left: 100px;"></br>' + filterHTML + '</div>';
            var $html = $(html);


            $html.find('button[id="btnRevenueDetails"]').hide();
            $html.find('button[id="btnConversionDetails"]').hide();
            $html.find('button[id="btnFinancialDetails"]').hide();
            //$html.find('div[id="RevenueLineChart"]').empty();


            // loadChart();
            //$html.find('div[id="RevenueLineChart"]').html();
            //Made changes for PL #2458 to resolve share report issue
            //$html.find('div[class="report-heder-tab"]').empty();
            //$html.find('div').removeClass("report-heder-tab");
            //$html.find('div[class="budgetReportFilter-area clearfix"]').empty();
            //$html.find('div').removeClass("budgetReportFilter-area clearfix");
            $html.find('#AViewDetailReportRevenue').remove();
            $html.find('#AViewDetailReportConversion').remove();
            $html.find('.multiselection-area').remove();
            //$html.find('.budgetReportFilter-area-right').remove();
            //$html.find('div').removeClass("budgetReportFilter-area-left");
            $html.find('#DivShareReportContainer').remove();
            $html.find('#DivShareReportCoknfirmationContainer').remove();
            $html.find('.sbHolder').children('a').removeAttr('href');
            var a =$html.find("#BottomBarchartData").children("tr");
            var TableColumn = a.length;
            if(TableColumn==12) 
            {
                $html.find("td.tdbottomChartData").css("line-height","18px");
            }
            
            //alert($html.html());
            html = $html.html();
            //alert(html);
            return escape(html);
        }

        function GetHTMLRevenue()
        {

            var search = $("input#txtSearch").val();
            //alert(search);
            //.nextAll(".portlet-content:first")
            //var filterHTML = $('.revenue-filter').html();
            //Made changes for PL #2458 to resolve share report issue 
            var filterHTML = $('#divMainReportPart').parent().html();
            //var filterHTML = $('#dvRevenueCardSection').html();
            var html  = '';

            //html += '<div style="margin-left: 100px;"> ' + $htmlgraph + filterHTML + '</div>';
            html += '<div style="margin-left: 100px;" style="width:1250px;">' + filterHTML + '</div>';
            var $html = $(html);

            //revenue-to-plan-graph
            //$html.find("input#txtSearch").val(search);
            //Made changes for PL #2458 to resolve share report issue
            //$html.find('div[class="report-heder-tab"]').empty();
            //$html.find('div').removeClass("report-heder-tab");
            $html.find('#dvRevenuePlanBarChart').css('height','');
            $html.find("div[id^='dvline_']").css('height','');
            $html.find("button[id^='buttonDtls_']").remove();
            $html.find("#divMainReportPart").removeClass('margin_top20');
            $html.find('.slimScrollRail').css('height','');
            $html.find('.highcharts-container').css('width','100%');
            //$("div[id^='dvline_']").css('height','');
            //$html.find('div[class="budgetReportFilter-area clearfix"]').empty();
            //$html.find('div').removeClass("budgetReportFilter-area clearfix");
            $html.find('#AViewDetailReportRevenue').remove();
            $html.find('#AViewDetailReportConversion').remove();
            $html.find('.multiselection-area').remove();
            //$html.find('.budgetReportFilter-area-right').remove();
            //$html.find('div').removeClass("budgetReportFilter-area-left");
            //$.each($html.find("span[id^='ROI_act_']"),function(){
            //    var spanid=this.id;
            //    $html.find("#"+spanid).text($(html.find("#"+spanid).text().replace(/[+]/g,"%2B")));
            //});
            //$html.find("span[id^='ROI_act_']").text($html.find("span[id^='ROI_act_']").text().replace(/[+]/g,"%2B"));
            var ROISPAN = $html.find("span[id^='ROI_act_']");
            for(var i=0;i<ROISPAN.length;i++){
                $html.find("#"+ROISPAN[i].id).text($html.find("#"+ROISPAN[i].id).text().replace(/[+]/g,"%2B"));
            }
            var RevPer = $html.find("span[id^='Revenue_percentage_']");
            for(var i=0;i<RevPer.length;i++){
                $html.find("#"+RevPer[i].id).text($html.find("#"+RevPer[i].id).text().replace(/[+]/g,"%2B"));
            }
            var CostPer = $html.find("span[id^='Cost_percentage_']");
            for(var i=0;i<CostPer.length;i++){
                $html.find("#"+CostPer[i].id).text($html.find("#"+CostPer[i].id).text().replace(/[+]/g,"%2B"));
            }
            var ROIPer = $html.find("span[id^='ROI_percentage_']");
            for(var i=0;i<ROIPer.length;i++){
                $html.find("#"+ROIPer[i].id).text($html.find("#"+ROIPer[i].id).text().replace(/[+]/g,"%2B"));
            }
            $html.find('#DivShareReportContainer').remove();
            $html.find('#DivShareReportCoknfirmationContainer').remove();
            $html.find("#page_navigation").children("ul").children("li").removeAttr('onclick');
            $html.find("#page_navigation").children("ul").children("li").children("a").removeAttr("href");
            $html.find('.sbHolder').children('a').removeAttr('href');
            //alert($html.html());
            html = $html.html();
            //alert(html);
            return escape(html);
        }

        function loadChart()
        {
            var linechartDivId = "#RevenueLineChart";
            BindLineChart(para1, para2, para3, para4, linechartDivId, 260, false);
        }
        //// Close popup and error message.
        $('#BtnCloseConfirmation').on("click", function () {
            $('#modal-container-confirmation').modal("hide");
            $(".alert").find(".close").click();
        });

        $('#modal-container-confirmation').hide();
        function ShowConfirmation(email) {
            $('#modal-container-sharereport').modal("hide");
            $(".alert").find(".close").click();
            $('#email-confirmation').html(email);
            $('#modal-container-confirmation').modal('show');
        }
    });
</script>
