@using RevenuePlanner.Helpers

<!DOCTYPE html>
@{
    var srcval = (string)ViewBag.SourceValue;
}
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @if (ViewBag.PageTitle == "Edit")
    {
         if (!string.IsNullOrWhiteSpace(srcval) && srcval.ToLower() == "myteam")
        {
            <div class="span2 content-colum-left content-img-user">
                <img src="@Url.Action("LoadUserImage", "User", new { id = Model.UserId, width = 60, height = 60 })" class="img-user" style="height:140px; width:140px;">
            </div>
        }
        else if (!string.IsNullOrWhiteSpace(srcval) && srcval.ToLower() == "myaccount")
        {
            <div class="span2 myaccount-colum">
                <div class="padding-right70">
                    <ul class="nav nav-pills nav-stacked width216">
                        <li class="active"><a href="@Url.Action("Edit", "User", new { usrid = Model.UserId, src = "myaccount" })">Account</a></li>
                        <li><a href="@Url.Action("Index", "User")">Team Members</a></li>
                        <li><a href="@Url.Action("Notifications", "User")">Notifications</a></li>
                        <li><a href="@Url.Action("SecurityQuestion", "User")">Security Question</a></li>
                        <li><a href="@Url.Action("ChangePassword", "User")">Change Password</a></li>
                    </ul>
                </div>
            </div>
        }
    }
    else if (ViewBag.PageTitle == "TeamMember")
    {
         <div class="span2 content-colum-left">
            <div class="padding-right70">
                <ul class="nav nav-pills nav-stacked width216">
                    <li>
                        <a  href="@Url.Action("Edit", "User", new { src = "myaccount" })">Account</a>
                    </li>
                    <li class="active"><a href="@Url.Action("Index", "User")">Team Members</a></li>
                    <li><a href="@Url.Action("Notifications", "User")">Notifications</a></li>
                    <li><a href="@Url.Action("SecurityQuestion", "User")">Security Question</a></li>
                    <li><a href="@Url.Action("ChangePassword", "User")">Change Password</a></li>
                </ul>
            </div>
        </div>
    }
    else if (ViewBag.PageTitle == "Notifications")
    {
          <div class="span2 width216">
            <div class="padding-right70">
                <ul class="nav nav-pills nav-stacked width216">
                    <li>
                        <a href="@Url.Action("Edit", "User", new { src = "myaccount" })">Account</a>
                    </li>
                    <li><a href="@Url.Action("Index", "User")">Team Members</a></li>
                    <li class="active"><a href="@Url.Action("Notifications", "User")">Notifications</a></li>
                    <li><a href="@Url.Action("SecurityQuestion", "User")">Security Question</a></li>
                    <li><a href="@Url.Action("ChangePassword", "User")">Change Password</a></li>
                </ul>
            </div>
        </div>
    }
    else if (ViewBag.PageTitle == "SecurityQuestion")
    {
          <div class="span2 width216">
            <div class="padding-right70">
                <ul class="nav nav-pills nav-stacked width216">
                    <li>
                        <a href="@Url.Action("Edit", "User", new { src = "myaccount" })">Account</a>
                    </li>
                    <li><a href="@Url.Action("Index", "User")">Team Members</a></li>
                    <li><a href="@Url.Action("Notifications", "User")">Notifications</a></li>
                    <li class="active"><a href="@Url.Action("SecurityQuestion", "User")">Security Question</a></li>
                    <li><a href="@Url.Action("ChangePassword", "User")">Change Password</a></li>
                </ul>
            </div>
        </div>
    }
    else if (ViewBag.PageTitle == "ChangePassword")
    {
        <div class="span2 width216">
            <div class="padding-right70">
                <ul class="nav nav-pills nav-stacked width216">
                    <li>
                        <a href="@Url.Action("Edit", "User", new { src = "myaccount" })">Account</a>
                    </li>
                    <li><a href="@Url.Action("Index", "User")">Team Members</a></li>
                    <li><a href="@Url.Action("Notifications", "User")">Notifications</a></li>
                    <li><a href="@Url.Action("SecurityQuestion", "User")">Security Question</a></li>
                    <li class="active"><a href="@Url.Action("ChangePassword", "User")">Change Password</a></li>
                </ul>
            </div>
        </div>
    }
    </body>