@using RevenuePlanner.Helpers

<!DOCTYPE html>
@{
    var srcval = (string)ViewBag.SourceValue;
    if (srcval == null)
    {
        srcval = string.Empty;
    }
}
<html>

<body>
    @if (!string.IsNullOrWhiteSpace(srcval) && srcval.ToLower() == "myteam")
        {
            <div class="span2 content-colum-left content-img-user">
                <img src="@Url.Action("LoadUserImage", "User", new { id = Model.UserId, width = 60, height = 60 })" class="img-user" style="height:140px; width:140px;">
            </div>
        }
    else 
        {
            <div class="span2 myaccount-colum">
                <div class="padding-right70">
                    <ul class="nav nav-pills nav-stacked width216">
                    @if (@ViewBag.PageTitle == "Edit")
                    {
                        <li id="account"><a href="@Url.Action("Edit", "User")">Account</a></li> @* Modified by Viral Kadiya on 11/04/2014 for PL Ticket #917*@
                    }
                    else
                    {
                        <li id="account">
                            <a  href="@Url.Action("Edit", "User")">Account</a> @* Modified by Viral Kadiya on 11/04/2014 for PL Ticket #917*@
                        </li>
                    }
                    @*@if (Sessions.IsAlertPermission) //added by devanshi #2476 : client permission for Alert
                    {*@
                    <li id="alert"><a href="@Url.Action("Alerts", "User")">Alerts</a></li>
                    @*}*@
                    @*<li id="Tmember"><a href="@Url.Action("Index", "User")">Team Members</a></li>*@  @*Commented by Rahul Shah on 03/09/2015 fo PL Ticket #1112*@
                    <li id="notification"><a href="@Url.Action("Notifications", "User")">Notifications</a></li>
                    @*<li id="Squestion"><a href="@Url.Action("SecurityQuestion", "User")">Security Question</a></li> Commented By Komal Rawal for #1457*@
                    <li id="Cpassword"><a href="@Url.Action("ChangePassword", "User")">Change Password</a></li>
                    </ul>
                </div>
            </div>
        }

    </body>
</html>
<script>
    $(document).ready(
        function () {
            var srcval = '@srcval.ToLower()';
            if (srcval != 'myteam') {
                $('.nav nav-pills nav-stacked width216 li').each(function () {
                    $(this).removeClass('active');
                });
                    if ('@ViewBag.PageTitle' == 'Edit') {

                        if (!$('#account').hasClass('active')) {
                            $('#account').addClass('active');
                            
                        }
                    }
                    else if ('@ViewBag.PageTitle' == 'TeamMember') {
                        if (!$('#Tmember').hasClass('active')) {
                            $('#Tmember').addClass('active');
                            
                        }
                    }
                    else if ('@ViewBag.PageTitle' == 'Notifications') {
                        if (!$('#notification').hasClass('active')) {
                            $('#notification').addClass('active');
                            
                        }
                    }
                    @*else if ('@ViewBag.PageTitle' == 'SecurityQuestion') {
                        if (!$('#Squestion').hasClass('active')) {
                            $('#Squestion').addClass('active');
                            
                        }
                    }*@
                    else if ('@ViewBag.PageTitle' == 'ChangePassword') {
                        if (!$('#Cpassword').hasClass('active')) {
                            $('#Cpassword').addClass('active');

                    }
                }
                else if ('@ViewBag.PageTitle' == 'Alerts') {
                    if (!$('#alert').hasClass('active')) {
                        $('#alert').addClass('active');
                            
                        }
                    }
    }
            }
            );
</script>
