@model RevenuePlanner.Models.UserModel
@using RevenuePlanner.Helpers

<script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>

@{
    var srcval = (string)ViewBag.SourceValue;
    var currentUserId = (string)ViewBag.CurrentUserId;

    if (!string.IsNullOrWhiteSpace(srcval) && srcval.ToLower() == "myteam")
    {
        ViewBag.Title = "Edit User";
    }
    else if (!string.IsNullOrWhiteSpace(srcval) && srcval.ToLower() == "myaccount")
    {
        ViewBag.Title = "My Account";
    }

    ViewBag.PageTitle = "Edit";
    ViewBag.ActiveMenu = RevenuePlanner.Helpers.Enums.ActiveMenu.Pref; 
    Layout = "~/Views/Shared/_Layout.cshtml";
    //string isViewOnly = ViewBag.IsViewOnly;
    ViewBag.ModuleTitle = "MyProfile";//Added by Mitesh Vaishnav on 10-07-2014 for functional review point 49
                                                        
}

@*@Html.Hidden("IsViewOnly", isViewOnly)*@
@Html.Hidden("SuccMsg", TempData["SuccessMessage"])
@Html.Hidden("ErrMsg", TempData["ErrorMessage"])

@section Sidebar {
    @Html.Partial("~/Views/shared/_preferences.cshtml")
}

@if (TempData["SuccessMessage"] != null)
{
    if (!Convert.ToString(TempData["SuccessMessage"]).ToLower().Contains("model"))
    {
    <!--success message-->
    <div id="successMessage" class="alert hide alert-success message-position">
        <a class="close">×</a>
        <strong>Success.</strong> @Html.Raw(HttpUtility.HtmlDecode((string)TempData["SuccessMessage"]))
    </div>
    <!--success message-->
        TempData["SuccessMessage"] = "";
    }
}

@if (TempData["ErrorMessage"] != null)
{
    if (!Convert.ToString(TempData["ErrorMessage"]).ToLower().Contains("model"))
    {
    <!--error message-->
    <div id="errorMessage" class="alert hide alert-error message-position">
        <a class="close">×</a>
        <strong>Error!</strong> @Html.Raw(HttpUtility.HtmlDecode((string)TempData["ErrorMessage"]))
    </div>
    <!--error message-->
        TempData["ErrorMessage"] = "";
    }
}

@if (!string.IsNullOrWhiteSpace(srcval) && srcval.ToLower() == "myteam")
{
    <ul class="nav nav-tabs margin-bottom0">
        <li class="source-sans-proregular">
            <h2 class="title-header">Edit User</h2>
        </li>
    </ul>    
    <a class="link-gray" href="@Url.Action("Index", "User")">« BACK TO LIST</a>
}
else if (!string.IsNullOrWhiteSpace(srcval) && srcval.ToLower() == "myaccount")
{
    <ul class="nav nav-tabs">
        <li class="source-sans-proregular">
            <h2 class="title-header">My Account</h2>
        </li>
    </ul>
}

<div class="padding-content cf source-sans-proregular" id="content">
    <div class="row">
        @Html.Partial("~/Views/User/_myprofile.cshtml")
        @Html.Partial("~/Views/User/_UpdateUserDetails.cshtml",Model)   @* Modified by Viral Kadiya on 11/05/2014 for PL ticket #917 to Edit UserDetails load _UpdateUserDetails.cshtml partialview*@
                </div>
                </div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
