@using RevenuePlanner.Helpers;

@{
    var currentUserId = Sessions.User.ID;
    ViewBag.Title = "My Account";
    ViewBag.PageTitle = "Edit";
    ViewBag.ActiveMenu = RevenuePlanner.Helpers.Enums.ActiveMenu.Pref;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ModuleTitle = "MyProfile";//Added by Mitesh Vaishnav on 10-07-2014 for functional review point 49
    string SiteKey = Common.SiteKeyRecaptcha;
}

@Html.Hidden("SuccMsg", TempData["SuccessMessage"])
@Html.Hidden("ErrMsg", TempData["ErrorMessage"])

@section Sidebar {
    @Html.Partial("~/Views/shared/_preferences.cshtml")
}

@if (TempData["SuccessMessage"] != null && TempData["SuccessMessage"] != "")
{
    if (!Convert.ToString(TempData["SuccessMessage"]).ToLower().Contains("model"))
    {

    <!--success message-->

    <div id="successMessage" class="alert hide alert-success">
        <a class="close">×</a>
        <strong>Success.</strong> @Html.Raw(HttpUtility.HtmlDecode((string)TempData["SuccessMessage"]))
    </div>

    <!--success message-->
        TempData["SuccessMessage"] = "";
    }
}

@if (TempData["ErrorMessage"] != null)
{
    if (!Convert.ToString(TempData["ErrorMessage"]).ToLower().Contains("model"))
    {

    <!--error message-->

    <div id="errorMessage" class="alert hide alert-error message-position">
        <a class="close">×</a>
        <strong>Error!</strong> @Html.Raw(HttpUtility.HtmlDecode((string)TempData["ErrorMessage"]))
    </div>

    <!--error message-->
        TempData["ErrorMessage"] = "";
    }
}
<div class="title-header source-sans-proregular margin-bottom25 padding-top40">
    <h2>My Account</h2>
</div> @*#2312*@
    @*<ul class="nav nav-tabs no-btm-bdr"> 
        <li class="source-sans-proregular">
            <h2 class="title-header">My Account</h2>
        </li>
    </ul>*@ 

<div class="padding-content cf source-sans-proregular" id="content">
    <div class="row">
        @Html.Partial("~/Views/User/_myprofile.cshtml")
        <div id="dvEditUserDetails"></div>
        @* Modified by Viral Kadiya on 11/05/2014 for PL ticket #917 to Edit UserDetails load _UpdateUserDetails.cshtml partialview*@
                </div>
                </div>
<script type="text/javascript">
    $(document).ready(function () {
        //Added by Viral Kadiya on 11/06/2014 for PL ticket #917
        // On document load page retrieve user details for editing purpose.
        var url = "@Url.Action("EditUserDetails", "User")" + "?UserGuid=" + '@Sessions.User.UserId';
        $("#dvEditUserDetails").load(url, function (response, status, xhr) {
            if (response == '{"serviceUnavailable":"~/Login/ServiceUnavailable"}') {
                //// Call function to redirect on service unavailibility.
                //// Added By: Maninder Singh Wadhva on 11/24/2014.
                //// Ticket: 942 Exception handeling in Gameplan.
                window.location = '@Url.Content(Common.RedirectOnServiceUnavailibilityPage)';
            }
            else if (response == '{"redirectto":"organization"}') {
                window.location = '@Url.Content("~/Organization/OrganizationHierarchy")';
            }
            else if (response == '{"redirectto":"index"}') {
                window.location = '@Url.Content("~/User/Index")';
            }

            var widgetId;
            widgetId = grecaptcha.render('dvEditUserRecaptcha', {
                'sitekey': '@SiteKey',
                'theme': 'light'
            });

        });
    });
    $('#btn-close').click(function () {
        $('#divpartialsharetactic1').addClass('hide');
    });
</script>

<script src="//www.google.com/recaptcha/api.js" async defer></script>