@model IEnumerable<RevenuePlanner.Models.UserModel>
@using RevenuePlanner.Helpers

<script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>

@{
    ViewBag.Title = "My Team";
    ViewBag.ActiveMenu = RevenuePlanner.Helpers.Enums.ActiveMenu.Pref;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PageTitle = "TeamMember";
    ViewBag.ModuleTitle = "MyProfile";
    //string isViewOnly = ViewBag.IsViewOnly;
    //var isAdmin = (string)ViewBag.IsAdmin;
    //var permRoleCodesForDel = (string)ViewBag.PermRoleCodesForDel;
}

@*@Html.Hidden("IsViewOnly", isViewOnly)*@
@Html.Hidden("SuccMsg", TempData["SuccessMessage"])
@Html.Hidden("ErrMsg", TempData["ErrorMessage"])

@section Sidebar {
    @Html.Partial("~/Views/shared/_preferences.cshtml")
}

<!--success message-->
<div id="successMessage" class="alert hide alert-success message-position">
    <a class="close">×</a>
    <strong>Success.</strong> @Html.Raw(HttpUtility.HtmlDecode((string)TempData["SuccessMessage"]))
</div>
<!--success message-->
<!--error message-->
<div id="errorMessage" class="alert hide alert-error message-position">
    <a class="close">×</a>
    <strong>Error!</strong> @Html.Raw(HttpUtility.HtmlDecode((string)TempData["ErrorMessage"]))
</div>
<!--error message-->

<ul class="nav nav-tabs">
    <li class="source-sans-proregular">
        <h2 class="title-header">My Team</h2>
    </li>
</ul>
<div class="padding-content cf source-sans-proregular">
    <div class="row">
       @Html.Partial("~/Views/User/_myprofile.cshtml")
        <div class="span10 content-colum-right">
            <table class="table table-striped table-hover myteam" id="userTable">
                <thead>
                    <tr>
                        <th title="First Name">First Name
                        </th>
                        <th title="Last Name">Last Name
                        </th>
                        <th title="Business Unit">Business Unit
                        </th>
                        <th title="Role">Role
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="@item.UserId" class="userRow">
                            <td title="@item.FirstName">
                                @Html.DisplayFor(model => item.FirstName)
                            </td>
                            <td title="@item.LastName" >
                                @Html.DisplayFor(model => item.LastName)
                            </td>
                            <td title="@item.BusinessUnit">
                                @Html.DisplayFor(model => item.BusinessUnit)
                            </td>
                            <td title="@item.RoleTitle">
                                @Html.DisplayFor(model => item.RoleTitle)
                            </td>
                            @if((bool)ViewBag.IsUserAdminAuthorized) //@if (permRoleCodesForDel != null)
                            {
                                //if (permRoleCodesForDel.Contains(item.RoleCode))
                                //{
                                //    if ((bool)ViewBag.IsUserAdminAuthorized) //if (isViewOnly != "true")
                                //    {
                                <td class="userDelete">
                                    @if (item.IsManager == false)    // Added by Sohel Pathan on 26/06/2014 for PL ticket #517
                                    {
                                        <a href="@Url.Action("Delete", "User", new { id = item.UserId })" onclick="return confirm('Are you sure you want to delete this Member?');" >
                                            <span class="x-icon hide pull-right" title="Delete Member"></span>
                                        </a>
                                    }
                                    @* Start -- Added by Sohel Pathan on 26/06/2014 for PL ticket #517 *@
                                    else
                                    {
                                        <a onclick="DeleteOnEdit('@item.UserId.ToString()');" >
                                            <span class="x-icon hide pull-right" title="Delete Member"></span>
                                        </a>
                                    }
                                    @* End - Added by Sohel Pathan on 26/06/2014 for PL ticket #517 *@
                                </td>@*
                                    }
                                    else
                                    {
                                <td class="userDelete">
                                    <span></span>
                                </td>
                                    }*@
                                }
                                else
                                {
                                <td class="userDelete">
                                    <span></span>
                                </td>
                                }
                            @*}*@
                        </tr>
                    }
                </tbody>
            </table>
            @if ((bool)ViewBag.IsUserAdminAuthorized)   // Added by Sohel Pathan on 19/06/2014 for PL ticket #519 to implement user permission Logic
            {
                <p>
                    <a id="lnkAddUser" href="@Url.Action("Create", "User")" class="link-blue">Add New User</a>
                </p>
            }
        </div>
        @* Start - Added by Sohel Pathan on 10/07/2014 for PL ticket #586 *@
        @if ((bool)ViewBag.IsUserAdminAuthorized)
        {
            <div class="span2 myaccount-colum"></div>   // Modified by Sohel Pathan on 16/07/2014 for Internal Functional Review Points #62
            <div class="span10 content-colum-right">
                @if ((List<RevenuePlanner.BDSService.User>)ViewBag.OtherUsers != null)
                {
                    if (((List<RevenuePlanner.BDSService.User>)ViewBag.OtherUsers).Count > 0)
                    {
                    <table class="table table-striped table-hover myteam">
                        <thead>
                            <tr>
                                <th colspan="4">
                                    <h4>Following users are not available in Gameplan, please assign to Gameplan by selecting role and assign link </h4>
                                </th>
                            </tr>
                            <tr>
                                <th title="First Name">First Name</th>
                                <th title="Last Name">Last Name</th>
                                <th title="Role">Role</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in (List<RevenuePlanner.BDSService.User>)ViewBag.OtherUsers)
                            {
                                <tr id="@item.UserId">
                                    <td class="Inactive OtherUserList" title="@item.FirstName">
                                        @Html.DisplayFor(model => item.FirstName)
                                    </td>
                                    <td class="Inactive OtherUserList border-r" title="@item.LastName" >
                                        @Html.DisplayFor(model => item.LastName)
                                    </td>
                                    <td class="Inactive OtherUserList">
                                        <div class="selectBox" id="ddlAssignRole">
                                            @Html.DropDownListFor(model => item.RoleId, new SelectList((System.Collections.IEnumerable)ViewData["Roles"], "RoleId", "Title"), "Please Select")
                                        </div>
                                    </td>
                                    <td class="Inactive" id="tdAssign ">
                                        <a class="assignUser"><span>Assign</span></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    }
                }
            </div>
        }
        @* End- Added by Sohel Pathan on 10/07/2014 for PL ticket #586 *@
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $(".selectBox select").selectbox(); @* Added by Sohel Pathan on 10/07/2014 for PL ticket #586 *@

        $("#content_wraper").removeClass("span10 all-height").addClass("span10 padding-top40");

        //if ($('#IsViewOnly').val() != '') {
        //    $('#lnkAddUser').remove();
        //    //$("#userTable:input").attr("disabled", true);
        //}

        /*close x event on message*/
        $(".close").click(function (e) {
            e.stopPropagation();
            e.preventDefault();
            $(this).closest(".alert").slideUp(400);
        });

        if ($('#SuccMsg').val() == null || $('#SuccMsg').val() == '') {
            $("#successMessage").slideUp(400);
        }
        else {
            $("#successMessage").slideDown(1200);
           // $("#successMessage").slideUp(3000);
        }
        if ($('#ErrMsg').val() == null || $('#ErrMsg').val() == '') {
            $("#errorMessage").slideUp(400);
        }
        else {
            $("#errorMessage").slideDown(400);
            $("html, body").animate({ scrollTop: 0 }, 1000);
        }

        $('.myteam td').click(function () {
            //if ($('#IsViewOnly').val() != '') {
            //    return false;
            //}
            var tdClass = this.getAttribute('class');
            var userId = $(this).closest('tr').attr('id');
            if (tdClass == null || tdClass == '') {
                if (userId != null) {
                    window.location.href = "@Url.Content("~/user/edit?usrid=")" + userId + "&src=myteam";
        }
    }
    else {
                if (tdClass.toString().toLowerCase() == 'userdelete' || tdClass.toString().toLowerCase() == 'Inactive') {   @* Modified by Sohel Pathan on 10/07/2014 for PL ticket #586 *@
            return;
        }
    }
        });
    });

    // Added by Sohel Pathan on 26/06/2014 for PL ticket #517
    function DeleteOnEdit(userId)
    {
        alert('@ViewBag.NotifyBeforManagerDeletion');
        window.location.href = "@Url.Content("~/user/edit?usrid=")" + userId + "&src=myteam&isForDelete=true";
    }



    @* Start - Added by Sohel Pathan on 10/07/2014 for PL ticket #586 *@
    $('.assignUser').click(function () {

        $('.sbHolder').each(function () {
            if ($(this).hasClass("selectBoxError")) {
                $(this).removeClass("selectBoxError");
            }
        });

        var row = $(this).parent().parent();
        var UserId = row.attr('id'); //row.find('#item_UserId').val();
        var ddlRoleId = row.find('#item_RoleId').val();
        if (ddlRoleId == '') {
            row.find('.sbHolder').addClass("selectBoxError");
            return false;
        }
        else {
            row.find('.sbHolder').removeClass("selectBoxError");
        }

        $.ajax(
        {
            type: "GET",
            cache: false,
            url: '@Url.Content("~/User/AssignUser")',
            data: { UserId: UserId, RoleId: ddlRoleId },
            success: function (data) {
                if (data == 'success') {
                    window.location.reload(true);
                }
                else {
                    alert(data);
                }
            }
        });
    });
    @* End - Added by Sohel Pathan on 10/07/2014 for PL ticket #586 *@
</script>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@