@model RevenuePlanner.Models.SecurityQuestionListModel
@using RevenuePlanner.Helpers

<script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>

@{
    ViewBag.Title = "Security Question";
    ViewBag.ActiveMenu = RevenuePlanner.Helpers.Enums.ActiveMenu.Pref;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PageTitle = "SecurityQuestion";//Added by Mitesh Vaishnav on 10-07-2014 for functional review point 49
    ViewBag.ModuleTitle = "MyProfile";//Added by Mitesh Vaishnav on 10-07-2014 for functional review point 49
}

@Html.Hidden("SuccMsg", TempData["SuccessMessage"])
@Html.Hidden("ErrMsg", TempData["ErrorMessage"])

@section Sidebar {
    @Html.Partial("~/Views/shared/_preferences.cshtml")
}

<!--success message-->
<div id="successMessage" class="alert hide alert-success message-position">
    <a class="close">×</a>
    <strong>Success.</strong> @Html.Raw(HttpUtility.HtmlDecode((string)TempData["SuccessMessage"]))
</div>
<!--success message-->
<!--error message-->
<div id="errorMessage" class="alert hide alert-error message-position">
    <a class="close">×</a>
    <strong>Error!</strong> @Html.Raw(HttpUtility.HtmlDecode((string)TempData["ErrorMessage"]))
</div>
<!--error message-->

<div class="title-header source-sans-proregular margin-bottom25">
    <h2>Security Question</h2>
</div> @*#2312*@
@*<ul class="nav nav-tabs">
    <li class="source-sans-proregular">
        <h2 class="title-header">Security Question</h2>
    </li>
</ul>*@

<div class="padding-content cf source-sans-proregular" id="content">
    <div class="row">
      @Html.Partial("~/Views/User/_myprofile.cshtml")
        <div class="span10 content-colum-right">
            @using (Html.BeginForm())
            {
                var strValidation = "^(?:|^[^<>~%^;/|]+)$";
                
                @Html.ValidationSummary(true)

                <div class="cf inputs-aligned-horizontal">
                    @Html.LabelFor(model => model.SecurityQuestionList)
                    
                    <div class="selectBox UserProfile" id="ddlSecurityQuestionSelectBox1">
                        @Html.DropDownListFor(f => f.SecurityQuestionId, new SelectList(Model.SecurityQuestionList, "Value", "Text", Model.SecurityQuestionId), "Select Security Question", new { pattern = strValidation, @required = "required", @class="hide" })
                    </div>
                </div>

                <div class="cf inputs-aligned-horizontal">
                    @Html.LabelFor(model => model.Answer)

                    @Html.TextBoxFor(f => f.Answer, new { maxlength = "255", placeholder = "Answer", required = "required", type = "password" })
                    
                    @Html.ValidationMessageFor(model => model.Answer)
                </div>
                
                <div class="cf inputs-aligned-horizontal">
                    <label></label>     @* Added by Sohel Pathan on 10/07/2014 for PL ticket #586 *@
                    <div class="container-button">
                        <input id="btnSubmit" type="submit" style="margin-left:20px;" value="Update" title="Update" class="btn btn-blue btn-save text-shadow-blue source-sans-proregular" />   @* Modified by Sohel Pathan on 10/07/2014 for PL ticket #586 *@
                    </div>
                </div>
                }
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $(".selectBox select").selectbox();
        $("#content_wraper").removeClass("span10 all-height").addClass("span10 padding-top40");

        if ($('#SuccMsg').val() == null || $('#SuccMsg').val() == '') {
            $("#successMessage").slideUp(400);
        }
        else {
            $("#successMessage").slideDown(1200);
        }
        if ($('#ErrMsg').val() == null || $('#ErrMsg').val() == '') {
            $("#errorMessage").slideUp(400);
        }
        else {
            $("#errorMessage").slideDown(400);
            $("html, body").animate({ scrollTop: 0 }, 1000);
        }


        $('#btnSubmit').click(function () {
            /* Modified by Mitesh Vaishnav on 26-06-2014 for internal issue "Change dropdown styling"*/
            var isValid = true;
            if (($("#SecurityQuestionId option").eq(0).val() == "" && $("#SecurityQuestionId").val() == "")) {
                $("#ddlSecurityQuestionSelectBox1 .sbHolder").addClass("selectBoxError");
                isValid = false;
                return isValid;
            }
            else {
                $("#ddlSecurityQuestionSelectBox1 .sbHolder").removeClass("selectBoxError");
            }
            /*End: Modified by Mitesh Vaishnav on 26-06-2014 for internal issue "Change dropdown styling"*/
            $('#content :input').each(function () {
                if ($(this).attr('type') == 'text' || $(this).attr('type') == 'select' || $(this).attr('type') == 'password') {
                    var input = $(this).val();
                    if (input == '') {
                        $(this).addClass("error");
                    } else {
                        $(this).removeClass("error");
                    }
                }
            });
        });

        $("#Answer").keyup(function () {
            var v = $(this).val();
            if ($(this).attr("type") != 'text') {
                $(this).attr("type", "text");
                $(this).val(v);
                this.setSelectionRange(this.value.length, this.value.length);
                this.scrollLeft = this.scrollWidth;
            }
        });
    });
</script>
