@model RevenuePlanner.Models.FinanceModel
@using RevenuePlanner.Helpers;
@{
    ViewBag.Title = "Finance";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var MainGridData = Model.DhtmlXGridRowModelObj != null ? Model.DhtmlXGridRowModelObj : new RevenuePlanner.Models.DhtmlXGridRowModel();
    var HeaderDataModel = Model.DhtmlXGridRowModelObj.FinanemodelheaderObj != null ? Model.DhtmlXGridRowModelObj.FinanemodelheaderObj : new RevenuePlanner.Models.FinanceModelHeaders();

}
<link href="@Url.Content("~/Content/css/DHTMLX/dhtmlxgrid.css")" rel="stylesheet" type="text/css" />
@*<script type="text/javascript" src="@Url.Content("~/Scripts/js/DHTMLX/dhtmlxgrid.js")">*@
<script src="@Url.Content("~/Scripts/js/DHTMLX/dhtmlxtreegrid.js")"></script>

<style>
    /*.grid_add:hover:after {
        background: #333;
        background: rgba(0,0,0,.8);
        border-radius: 5px;
        bottom: 0px;
        color: #fff;
        content: attr(data-title);
        left: 10px;
        position: relative;
        cursor: pointer;
        z-index: 98;
        width: 55px;
    }*/
</style>
@section PlanHeader{
    <div id="headerValue">
        @Html.Partial("~/Views/Shared/_financeheader.cshtml", HeaderDataModel)
    </div>

}

@Html.Hidden("hdn_row_parentId", "", new { id = "hdn_row_parentId", name = "hdn_row_parentId", value = "" })
@Html.Hidden("hdn_BudgetId", "", new { id = "hdn_BudgetId", name = "hdn_BudgetId", value = "" })
@*<div style="width: 100%;">*@
<div style="width: 97.05%; padding:20px;">
    <div style="width:auto;height:50px;display:block;">
        <div style="float:left;margin-top:10px;margin-bottom:10px;margin-left:0px;width:auto;">
            <div style="float:left;" id="drpParentMain">
                @Html.DropDownList("ddlParentFinanceMain", new SelectList((System.Collections.IEnumerable)ViewBag.budgetlist, "Value", "Text"))
            </div>
            <div style="float:left; margin-right:15px;" id="divAddnew">
                <input type="button" id="btnAddNewBudget" name="btnAddNewBudget" value="Add New Budget" class="btn btn-blue text-shadow-blue source-sans-proregular" style="height: 30px !important;" />
            </div>
            <div style="float:left;" id="drpParent">
                @Html.DropDownList("ddlParentFinance", new SelectList((System.Collections.IEnumerable)ViewBag.parentbudgetlist, "Value", "Text"))
            </div>
            <div style="float:left;" id="drpChild">
                @Html.DropDownList("ddlChildFinance", new SelectList((System.Collections.IEnumerable)ViewBag.childbudgetlist, "Value", "Text"))
            </div>
             <div id="divSetttings" style="width:40px;float:left;position: relative;margin-right: 10px;">
                @*<button class="setting-icon btn btn-blue text-shadow-blue source-sans-proregular" type="button" style="min-width:30%;height: 30px !important;" id="btnSettings"></button>*@
                 <span class="btn-Settings btn-blue btn-large" style="display: block; cursor: pointer; margin-right: 10px; height: 30px !important;" id="AddSettings"></span>
                <div class="btn-dropdwn" style="display: none; position: absolute; top: 40px;z-index:1;" id="btnSettings">
                    <ul style="margin: 0;">
                        <li  id="delSection" onclick="DeleteSelected()">Delete Selected</li>
                    </ul>
                </div>
            </div>
            <div id="divExpandCollapse" style="width:120px;float:left;">
                <button class="btn btn-blue text-shadow-blue source-sans-proregular" type="button" style="min-width:100%;height: 30px !important;" id="btnExpandCollapse" onclick="javasript: ExpanCollapse();">
                    Collapse/Expand All
                </button>
            </div>
           
        </div>

        <div style="float:right;margin-top:10px;margin-bottom:10px;text-align: right;">
            <div id="divCheckbox" style="width:300px;float:left;line-height: 22px;">
                <div id="divBudget" style="float:left;margin-right:10px;"><input type="checkbox" value="Budget" id="chkBudget" onchange="ShowHideColumns(this)" checked="checked" style="display: inline-block;vertical-align: middle;" /><label style="display: inline-block;vertical-align: sub; padding-left: 4px;">Budget</label></div>
                <div id="divforecast" style="float:left;margin-right:10px;"><input type="checkbox" value="ForeCast" id="chkForeCast" onchange="ShowHideColumns(this)" checked="checked" style="display: inline-block;vertical-align: middle;" /><label style="display: inline-block;vertical-align: sub; padding-left: 4px;">Forecast</label></div>
                <div id="divPlan" style="float:left;margin-right:10px;"><input type="checkbox" value="Plan" id="chkPlan" onchange="ShowHideColumns(this)" style="display: inline-block;vertical-align: middle;" /><label style="display: inline-block;vertical-align: sub; padding-left: 4px;">Planned</label></div>
                <div id="divActual" style="float:left;margin-right:10px;"><input type="checkbox" value="Actual" id="chkActual" onchange="ShowHideColumns(this)" style="display: inline-block;vertical-align: middle;" /><label style="display: inline-block;vertical-align: sub; padding-left: 4px;">Actual</label></div>
            </div>
            <span class="selectBox" id="ddlTimeFrameSelectBox" style="width: 158px; line-height: 1.1;margin-right:0px">
                @Html.DropDownList("ddlRevenueTimeFrame", new SelectList((System.Collections.IEnumerable)ViewBag.ViewByAllocated, "Value", "Text", (string)ViewBag.SelectedTimeFrame), new { @class = "ddlStyleReport hide quarterly_btn" })
            </span>
            <span class="selectBox" id="ddlMainTimeFrameSelectBox" style="width: 158px; line-height: 1.1;margin-right:0px">
                @Html.DropDownList("ddlMainGridTimeFrame", new SelectList((System.Collections.IEnumerable)ViewBag.ViewByMainGridAllocated, "Value", "Text", (string)ViewBag.SelectedTimeFrame), new { @class = "ddlStyleReport hide quarterly_btn" })
            </span>
        </div>
    </div>
    @*<input type="button" id="btnRefreshMainGrid" name="btnRefreshMainGrid" value="Refresh MainGrid" />*@
    @*<div id="divGridView" style="width:98%;display:block;margin-left:10px;margin-right:10px;">*@
    <div id="divGridView" style="width: 100%; clear: both;">
        @Html.Partial("_MainGrid", MainGridData)
    </div>
    <div id="dvNoData" style="width: 100%; clear: both; display:none; font-weight:bold;">
        No data found.
    </div>

</div>
<script type="text/javascript">
    var pageName = "MainGrid";
    var GlobalLevel = "";
    var CollapseExpand = true;
    var backBudgetid = '';
    var _mainTimeFrame = '';
    $('#AddSettings').click(function () {
        $('#errorMsg').css('display', 'none');
        $('#SuccessMsg').css('display', 'none');
        if ($('#btnSettings').css('display') == 'none') {
            $('#btnSettings').css('display', 'block')
        }
        else {
            $('#btnSettings').css('display', 'none')
        }
    });
    $(document).click(function (event) {
        if ($(event.target).closest("#AddSettings").get(0) == null) {
            $('#btnSettings').css('display', 'none')
        }
    });
    $(document).ready(function () {
        $("#sidebar").css("display", "none");
        $("#content_wraper").css("width", "100%");
        $("#ddlParentFinance,#ddlRevenueTimeFrame,#ddlChildFinance,#ddlParentFinanceMain,#ddlMainGridTimeFrame").multiselect({
            multiple: false,
            noneSelectedText: "Please Select",
            selectedList: 1
        }).multiselectfilter({
        });

        var _budgetId = $('#ddlParentFinance').val();
        var _budgetIdMain = $('#ddlParentFinanceMain').val();
        _mainTimeFrame = $('#ddlMainGridTimeFrame').val();

        $('#hdn_BudgetId').val(_budgetIdMain);
        @*$("#btnRefreshMainGrid").click(function () {
            var _budgetId = $('#ddlParentFinance').val();
            var url = '@Url.Content("~/Finance/RefreshMainGridData/")';
            $('#divGridView').load(url + '?budgetId=' + _budgetId);
        });*@
        @*$("#ddlParentFinance").change(function () {
            var budgetId = $('#ddlParentFinance').val();
            var url = '@Url.Content("~/Finance/RefreshMainGridData/")';
            $('#divGridView').load(url + '?budgetId=' + budgetId);
        });*@
        $("#btnAddNewBudget").click(function () {
            $('#errorMsg').css('display', 'none');
            $('#SuccessMsg').css('display', 'none');
            $("#divGridView").show();
            $("#dvNoData").hide();
            var url = '@Url.Content("~/Finance/LoadnewBudget/")';
            $('#divGridView').load(url);
            RefreshBudgetDropdown(true);
            GetFinanceHeaderValue(0,true);
        });
        //var testitem = "option[text=Budget3]";
        //$("#ddlParentFinance").find(testitem).attr("selected", "selected");
        //var budgetID = $("#ddlParentFinance").val();
        RefreshMainGridData(_budgetIdMain);
        GetFinanceHeaderValue(_budgetIdMain, true);
        // GetFinanceHeaderValue(_budgetId);
        //BindChildBudgetDrp(_budgetId);
        // EditBudget(21);
        ShowHideControls("MainGrid");
        var txtval = $("#btnMultiselect_ddlParentFinanceMain").find("span").text();
        $("#btnMultiselect_ddlParentFinanceMain").find("span").text('');
        $("#btnMultiselect_ddlParentFinanceMain").find("span").text(htmlDecode(txtval));
    });



    function DeleteSelected() {
        if (RowIDs.IDs.length > 0) {
            if (confirm('Are you sure you want to delete this Budget item ?')) {
        for (var i = 0; i < RowIDs.IDs.length; i++) {
            myTreeGrid.deleteRow(RowIDs.IDs[i]);
        }

        var AllocatedBy = $('#ddlRevenueTimeFrame option:selected').val();
        var mainTimeFrame = $('#ddlMainGridTimeFrame option:selected').val();
        if (mainTimeFrame.toLowerCase() == "yearly") {
            AllocatedBy = "@Enums.PlanAllocatedBy.quarters.ToString()";
        } else {
            AllocatedBy = mainTimeFrame;
        }

        if (pageName == "EditBudget") {
                    var budgetID = $("#ddlChildFinance").val();
            LoadBudgetGrid(AllocatedBy);
            GetFinanceHeaderValue(0, false);
                    BindParentBudgetDrp(parseInt(budgetID));
                    BindChildBudgetDrp(parseInt(budgetID));
        }
        else {
            var budgetIDMain = $("#ddlParentFinanceMain").val();
            RefreshMainGridData(budgetIDMain);
            GetFinanceHeaderValue(budgetIDMain, true, mainTimeFrame);  
 RefreshBudgetDropdown(false);
        }

        ShowMessage(false, '@Common.objCached.PlanEntityDeleted'.replace('{0}', "Budget Item"), 1200);
               
            }
            else {
                return false;
            }
        }
        else {
            ShowMessage(true, "Please Select a record to delete", 1200);
        }
    }

    function RefreshMainGridData(BudgetId) {
        $("#divGridView").show();
        $("#dvNoData").hide();
        //debugger;
        //var budgetID = $("#ddlParentFinance").val();
        _SelectedValues = [];
        if (RowIDs.IDs.length != 0) {
            for (var i = 0; i < RowIDs.IDs.length; i++) {
                _SelectedValues.push({
                    Id: RowIDs.IDs[i],
                });
            }
        }
        _SelectedValues = JSON.stringify(_SelectedValues);
        var url = '@Url.Content("~/Finance/RefreshMainGridData/")';
        $('#divGridView').load(url + '?budgetId=' + BudgetId + '&mainTimeFrame=' + _mainTimeFrame + '&SelectedRowIDs=' + _SelectedValues);
    }

    function BindTimeFrameForChild(Period) {

        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/Finance/GetChildTimeFrame/")',
            dataType: "json",
            async: false,
            success: function (data) {

                $("#ddlRevenueTimeFrame").html("");

                for (var i = 0; i < data.length; i++) {

                    var opt = new Option(data[i].Text, data[i].Value);
                    $('#ddlRevenueTimeFrame').append(opt);
                }
                
                if (Period != null && Period != '') {
                    $("#ddlRevenueTimeFrame option[value='" + Period + "']").attr("selected", "selected");
                }
            }
        });
        $("#ddlRevenueTimeFrame").multiselect({
            multiple: false,
            //noneSelectedText: "Please Select",
            selectedList: 1
        }).multiselectfilter({
        });
    }

    $("#ddlParentFinance").change(function () {
        $('#errorMsg').css('display', 'none');
        $('#SuccessMsg').css('display', 'none');
        var budgetID = $("#ddlParentFinance").val();
        //RefreshMainGridData(budgetID);
        if (pageName == "EditBudget") {
            GetFinanceHeaderValue(budgetID);
            EditBudget(budgetID, false);
        }
        //myApp.hidePleaseWait();

        var txtval = $("#btnMultiselect_ddlParentFinance").find("span").text();
        $("#btnMultiselect_ddlParentFinance").find("span").text('');
        $("#btnMultiselect_ddlParentFinance").find("span").text(htmlDecode(txtval));
    });
    $("#ddlParentFinanceMain").change(function () {
        $('#errorMsg').css('display', 'none');
        $('#SuccessMsg').css('display', 'none');
        $("#divGridView").show();
        $("#dvNoData").hide();
        var budgetIDMain = $("#ddlParentFinanceMain").val();
        $('#hdn_BudgetId').val(budgetIDMain);
        if (budgetIDMain != null && budgetIDMain != 'undefined' && budgetIDMain != '0') {
            RefreshMainGridData(budgetIDMain);
            GetFinanceHeaderValue(budgetIDMain, true);
        }
        else {
            $("#divGridView").hide();
            $("#dvNoData").show();
        }
        //if (pageName == "EditBudget") {
        //    GetFinanceHeaderValue(budgetID);
        //    EditBudget(budgetID, false);
        //}
        //myApp.hidePleaseWait();

        var txtval = $("#btnMultiselect_ddlParentFinanceMain").find("span").text();
        $("#btnMultiselect_ddlParentFinanceMain").find("span").text('');
        $("#btnMultiselect_ddlParentFinanceMain").find("span").text(htmlDecode(txtval));
    });
    $("#ddlChildFinance").change(function () {
        $('#errorMsg').css('display', 'none');
        $('#SuccessMsg').css('display', 'none');
        myApp.showPleaseWait();
        var budgetID = $("#ddlChildFinance").val();
        var parentid = $("#ddlParentFinance").val();
        if (pageName == "EditBudget") {
            if (budgetID > 0) {
                
                EditBudget(budgetID, true);
                GetFinanceHeaderValue(budgetID);
            } else {
                
                EditBudget(parentid, true);
                GetFinanceHeaderValue(parentid);
            }
        }
        //myApp.hidePleaseWait();
        // $("#btnMultiselect_ddlChildFinance").find("span").text(htmlDecode($("#btnMultiselect_ddlChildFinance").find("span").text()));
        var txtval = $("#btnMultiselect_ddlChildFinance").find("span").text();
        $("#btnMultiselect_ddlChildFinance").find("span").text('');
        $("#btnMultiselect_ddlChildFinance").find("span").text(htmlDecode(txtval));
    });

    function GetFinanceHeaderValue(_budgetId, Ismain, mainTimeFrame) {

        var ismainGird = false;
        if (Ismain != null && Ismain != undefined) {
            ismainGird = Ismain
        }
        var url = '@Url.Content("~/Finance/GetFinanceHeaderValue/")';
        $('#headerValue').load(url + '?budgetId=' + _budgetId + '&isQuarterly=monthly&timeFrameOption=2015&IsMain=' + ismainGird + '&mainTimeFrame=' + mainTimeFrame);

    }
    function BindChildBudgetDrp(_budgetId) {
        //debugger;
        var ChildID = $("#ddlChildFinance").val();
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/Finance/GetChildBudget/")',
            dataType: "json",
            async: false,
            data: { budgetId: _budgetId },
            success: function (data) {
                $("#ddlChildFinance").html("");
                $('#ddlChildFinance').append($('<option></option>').attr('value', '0').text('Please Select'));
                for (var i = 0; i < data.length; i++) {

                    var opt = new Option(data[i].Text, data[i].Value);
                    $('#ddlChildFinance').append(opt);
                }
                if (ChildID > 0) {
                    $("#ddlChildFinance option[value='" + ChildID + "']").attr("selected", "selected");
                }
            }
        });
        $("#ddlChildFinance").multiselect({
            multiple: false,
            //noneSelectedText: "Please Select",
            selectedList: 1
        }).multiselectfilter({
        });
    }
    function BindParentBudgetDrp(_budgetId) {

        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/Finance/GetParentBudget/")',
            dataType: "json",
            async: false,
            data: { budgetId: _budgetId },
            success: function (data) {
                $("#ddlParentFinance").html("");
                for (var i = 0; i < data.length; i++) {

                    var opt = new Option(data[i].Text, data[i].Value);
                    $('#ddlParentFinance').append(opt);
                }

            }
        });
        $("#ddlParentFinance").val(_budgetId);
        $("#ddlParentFinance").multiselect({
            multiple: false,
            noneSelectedText: "Please Select",
            selectedList: 1
        }).multiselectfilter({
        });

    }
    function EditBudget(BudgetId, childChange, level) {
        $('#btnSettings').css('display', 'none')
        $('#errorMsg').css('display', 'none');
        $('#SuccessMsg').css('display', 'none');

        //backBudgetid = BudgetId;
        var budgetIDMain = $("#ddlParentFinanceMain").val();
        backBudgetid = budgetIDMain;

        //  GetFinanceHeaderValue(BudgetId);
        if (level != undefined && level != '') {
            GlobalLevel = level;
        }

        myApp.showPleaseWait();
        var AllocatedBy = $('#ddlRevenueTimeFrame option:selected').val();
        var mainTimeFrame = $('#ddlMainGridTimeFrame option:selected').val();
        if (mainTimeFrame.toLowerCase() == "yearly") {
            AllocatedBy = "@Enums.PlanAllocatedBy.quarters.ToString()";
        } else {
            AllocatedBy = mainTimeFrame;
        }
        //if (AllocatedBy == 'quarters') {
        //    AllocatedBy = true;
        //}
        //else {
        //    AllocatedBy = false;
        //}
        if (BudgetId == null || BudgetId == '') {
            BudgetId = 0;
        }

        if (childChange == false) {
            BindParentBudgetDrp(parseInt(BudgetId));
            BindChildBudgetDrp(parseInt(BudgetId));
        }
        BindTimeFrameForChild(AllocatedBy);
        var url = '@Url.Content("~/Finance/EditBudget/")';
        $('#divGridView').load(url + '?BudgetId=' + BudgetId + '&IsQuaterly=' + AllocatedBy + '&level=' + GlobalLevel);

    }

    function ExpanCollapse() {
        $('#errorMsg').css('display', 'none');
        $('#SuccessMsg').css('display', 'none');
        if (CollapseExpand) {
            CollapseExpand = false;
            myTreeGrid.collapseAll();
        }
        else {
            CollapseExpand = true;
            myTreeGrid.expandAll();
        }
        var tableheight = $(".objbox").find("table").height();

        $("#gridbox").css("height", tableheight + 100);
        myTreeGrid.setSizes();

        var GridWidth = $("#gridbox").width();

        $("#gridbox").find("table").css("width", GridWidth);
    }
    function ShowHideColumns(chekbox) {
        $('#errorMsg').css('display', 'none');
        $('#SuccessMsg').css('display', 'none');
        var GridWidth = $("#gridbox").width();
        var checkName = chekbox.value;
        var IsChecked = chekbox.checked;
        var Count = 0;
        var LoopLength = 0;
        var AllocatedBy = $('#ddlRevenueTimeFrame option:selected').val();
        if (AllocatedBy == "@Enums.PlanAllocatedBy.quarters.ToString()") {
            LoopLength = 5;
        }
        else if (AllocatedBy == "@Enums.PlanAllocatedBy.months.ToString()") {
            LoopLength = 13;
        }
        else {
            LoopLength = 4;
        }

        if (checkName == "Budget") {
            Count = 4;
        }
        else if (checkName == "ForeCast") {
            Count = 5;
        }
        else if (checkName == "Plan") {
            Count = 6;
        }
        else if (checkName == "Actual") {
            Count = 7;
        }
        var visibility = "false,";
        //mygrid.setColumnsVisibility("true,false,false,false,false");
        //for (var s = 1; s <= 24; s++) {
        //    myTreeGrid.setColumnHidden(s, false);
        //}

        //debugger;



        if (IsChecked) {
            for (var i = 0; i < LoopLength; i++) {
                myTreeGrid.setColumnHidden(Count, false);
                Count = Count + 4;
            }
        }

        if (!IsChecked) {
            for (var i = 0; i < LoopLength; i++) {
                myTreeGrid.setColumnHidden(Count, true);
                Count = Count + 4;
            }
        }
        //visibility += visibility.slice(0, -1);
        // myTreeGrid.enableAutoWidth(true, GridWidth, GridWidth);
        $("#gridbox").find("table").css("width", "100%");

        //var BorderLength = 4;
        //var ChkPlan = $("#chkPlan");
        //var ChkBudget = $("#chkBudget");
        //var ChkForeCast = $("#chkForeCast");
        //var ChkActual = $("#chkActual");

        //if (!ChkBudget[0].checked) {
        //    BorderLength = BorderLength - 1;
        //}
        //if (!ChkForeCast[0].checked) {
        //    BorderLength = BorderLength - 1;
        //}
        //if (!ChkPlan[0].checked) {
        //    BorderLength = BorderLength - 1;
        //}
        //if (!ChkActual[0].checked) {
        //    BorderLength = BorderLength - 1;
        //}
        ////$('.gridbox .xhdr .hdr td').css('border-color', '#e7f1ff #a4bed4 #a4bed4 #e7f1ff');
        ////$('.gridbox .xhdr .hdr td').css('border-width', '1px 1px 1px 1px');

        //var BorderCount = 3;
        //var loopChange = 0;
        //$('.gridbox .xhdr .hdr td').css("border-right", "");
        //$('.gridbox .objbox td').css("border-right", "");
        //for (var j = 1; j <= 23; j++) {
        //    //debugger;
        //    if (BorderCount == j) {
        //        var check = $('.gridbox .xhdr .hdr td:nth-child(' + j + ')').css("display");
        //        if (check == "none") {
        //            if (BorderLength == 2) {
        //                if (ChkBudget[0].checked && ChkActual[0].checked) {
        //                    BorderCount = BorderCount + 2;
        //                }
        //                else {
        //                    BorderCount = BorderCount + 1;
        //                }
        //            }
        //            else {
        //                BorderCount = BorderCount + 1;
        //            }
        //        }
        //        $('.gridbox .xhdr .hdr td:nth-child(' + parseInt(BorderCount) + ')').css("border-right", "2px Solid #808080");
        //        $('.gridbox .objbox td:nth-child(' + parseInt(BorderCount) + ')').css("border-right", "2px Solid #808080");
        //    BorderCount += BorderLength;

        //    } else {
        //        var check = $('.gridbox .xhdr .hdr td:nth-child(' + j + ')').css("display");
        //        if (check == "none") {
        //            if (BorderLength == 2) {
        //                if (ChkBudget[0].checked && ChkActual[0].checked) {
        //                } else {
        //                    BorderCount = BorderCount + 1;
        //                }
        //            } else {
        //                BorderCount = BorderCount + 1;
        //            }
        //        }
        //    }
        //}
        //myTreeGrid.setColumnsVisibility(visibility);
        //myTreeGrid.init();
    }
    function ShowHideControls(Page) {
        if (Page == "MainGrid") {
            $("#drpParentMain").css("display", "block");
            $("#drpParent").css("display", "none");
            //$("#divExpandCollapse").css("display", "none");
            $("#divCheckbox").css("display", "none");
            $("#ddlTimeFrameSelectBox").css("display", "none");
            $("#ddlMainTimeFrameSelectBox").css("display", "block");
            $("#drpChild").css("display", "none");
            $("#divFinanceBack").css("display", "none");
            $("#divAddnew").css("display", "block");
        }
        if (Page == "EditBudget") {
            $("#drpParentMain").css("display", "none");
            $("#drpParent").css("display", "block");
            $("#divExpandCollapse").css("display", "");
            $("#divCheckbox").css("display", "");
            $("#ddlTimeFrameSelectBox").css("display", "");
            $("#ddlMainTimeFrameSelectBox").css("display", "none");
            $("#drpChild").css("display", "block");
            $("#divFinanceBack").css("display", "block");
            $("#divAddnew").css("display", "none");
        }
    }

    window.onload = function () {
        ShowHideControls('MainGrid');
    }

    function RefreshBudgetDropdown(IsAddNew) {
        //debugger;
        var _budgetId = $("#hdn_BudgetId").val();
        var $dropdown = $("#ddlParentFinanceMain");
        $dropdown.empty();
        var $html = '';
        if (IsAddNew != undefined && IsAddNew != null) {
            if (IsAddNew == true) {
                $html = '<option value="0">Please Select</option>';
            }
        }
        //else {
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/Finance/RefreshBudgetList/")',
            data: {},
            async: false,
            success: function (result) {

                if (result.length > 0) {
                    $.each(result, function (index, item) {

                        $html += '<option value="' + item.Value + '">' + item.Text + '</option>';

                    });
                }
            }
        });
        //}
        $dropdown.append($html);

        $dropdown.multiselect("refresh");
        if (IsAddNew != undefined && IsAddNew != null && IsAddNew == true) {
            $dropdown.val(0);
            $dropdown.find("input[type='search']").val(0);
            var spanSelectedItem = $("#multipleselect_ddlParentFinanceMain").find("input[value='" + 0 + "']").next('span').html();
            $('#btnMultiselect_ddlParentFinanceMain span:first-child').html(spanSelectedItem);
        }
        else {
            $dropdown.val(_budgetId);
            $dropdown.find("input[type='search']").val(_budgetId);
            var spanSelectedItem = $("#multipleselect_ddlParentFinanceMain").find("input[value='" + _budgetId + "']").next('span').html();
            $('#btnMultiselect_ddlParentFinanceMain span:first-child').html(spanSelectedItem);
        }
    }

    //$.ajaxSetup({
    //    beforeSend: function () {
    //        //console.log('test');
    //        myApp.showPleaseWait();
    //    },
    //    complete: function () {
    //        //            myApp.hidePleaseWait();
    //    }
    //});
    $("#ddlMainGridTimeFrame").change(function () {
        $('#errorMsg').css('display', 'none');
        $('#SuccessMsg').css('display', 'none');
        _mainTimeFrame = $('#ddlMainGridTimeFrame').val();
        var _budgetIdMain = $('#ddlParentFinanceMain').val();
        RefreshMainGridData(_budgetIdMain);
        GetFinanceHeaderValue(_budgetIdMain, true, _mainTimeFrame);
    });
    $("#ddlRevenueTimeFrame").change(function () {
        $('#errorMsg').css('display', 'none');
        $('#SuccessMsg').css('display', 'none');
        // debugger;
        // myApp.showPleaseWait();
        var AllocatedBy = $('#ddlRevenueTimeFrame option:selected').val();
        //if (AllocatedBy == 'quarters') {
        //    AllocatedBy = true;
        //}
        //else {
        //    AllocatedBy = false;
        //}
        LoadBudgetGrid(AllocatedBy);
        GetFinanceHeaderValue(0, false);
        var BudgetColumns = $("#chkBudget");
        var ForeCastColumns = $("#chkForeCast");
        var PlanColumns = $("#chkPlan");
        var ActualColumns = $("#chkActual");
        BudgetColumns.change();
        ForeCastColumns.change();
        PlanColumns.change();
        ActualColumns.change();
        // myApp.showPleaseWait();
    });
</script>
