@model RevenuePlanner.Models.FinanceModel
@using RevenuePlanner.Helpers;
@{
    ViewBag.Title = "Finance";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var MainGridData = Model.DhtmlXGridRowModelObj != null ? Model.DhtmlXGridRowModelObj : new RevenuePlanner.Models.DhtmlXGridRowModel();
    var HeaderDataModel = Model.DhtmlXGridRowModelObj.FinanemodelheaderObj != null ? Model.DhtmlXGridRowModelObj.FinanemodelheaderObj : new RevenuePlanner.Models.FinanceModelHeaders();

}
<link href="@Url.Content("~/Content/css/DHTMLX/dhtmlxgrid.css")" rel="stylesheet" type="text/css" />
@*<script type="text/javascript" src="@Url.Content("~/Scripts/js/DHTMLX/dhtmlxgrid.js")">*@
<script src="@Url.Content("~/Scripts/js/DHTMLX/dhtmlxtreegrid.js")"></script>

<style>
    /*.grid_add:hover:after {
        background: #333;
        background: rgba(0,0,0,.8);
        border-radius: 5px;
        bottom: 0px;
        color: #fff;
        content: attr(data-title);
        left: 10px;
        position: relative;
        cursor: pointer;
        z-index: 98;
        width: 55px;
    }*/
</style>
@section PlanHeader{
    <div id="headerValue">
        @Html.Partial("~/Views/Shared/_financeheader.cshtml", HeaderDataModel)
    </div>

}
@*Added by Rahul Shah on 13/10/2015 for PL#1667*@
@section nlFormContent{
    <link rel="stylesheet" href="@Url.Content("~/Content/css/NaturalLanguageForm/default.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/NaturalLanguageForm/component.css")" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/NaturalLanguageForm/modernizr.custom.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/NaturalLanguageForm/nlform.js?n=")@DateTime.Now"></script>
}


@Html.Hidden("hdn_row_parentId", "", new { id = "hdn_row_parentId", name = "hdn_row_parentId", value = "" })
@Html.Hidden("hdn_BudgetId", "", new { id = "hdn_BudgetId", name = "hdn_BudgetId", value = "" })
@*<div style="width: 100%;">*@
<div style="width: 97.05%; padding:20px;">
    <div style="width:auto;height:50px;display:block;">
        <div style="float:left;margin-top:10px;margin-bottom:10px;margin-left:0px;width:auto;">
            <div style="float:left;" id="drpParentMain">
                <div id="nl-formParentFinanceMain" class="nl-form-plan-title without-margin plantitle financetitle">
                    @Html.DropDownList("ddlParentFinanceMain", new SelectList((System.Collections.IEnumerable)ViewBag.budgetlist, "Value", "Text"))
                    <div class="nl-overlay"></div>
                </div>
                </div>
            <div style="float:left; margin-right:15px;margin-left:15px;" id="divAddnew">
                <input type="button" id="btnAddNewBudget" name="btnAddNewBudget" value="Add New Budget" class="btn btn-blue text-shadow-blue source-sans-proregular" style="height: 30px !important;" />
            </div>
            <div style="float:left;" id="drpParent">
                <div id="nl-formParentFinance" class="nl-form-plan-title without-margin plantitle financetitle">
                    @Html.DropDownList("ddlParentFinance", new SelectList((System.Collections.IEnumerable)ViewBag.parentbudgetlist, "Value", "Text"))
                    <div class="nl-overlay"></div>
                </div>
                </div>
            <div style="float:left;margin-left:15px;margin-right:15px;" id="drpChild">
                <div id="nl-formChildFinance" class="nl-form-plan-title without-margin plantitle financetitle">
                    @Html.DropDownList("ddlChildFinance", new SelectList((System.Collections.IEnumerable)ViewBag.childbudgetlist, "Value", "Text"))
                    <div class="nl-overlay"></div>
                </div>
                </div>
            @*<div id="divSetttings" style="width:40px;float:left;position: relative;margin-right: 10px;">*@
                @*<button class="setting-icon btn btn-blue text-shadow-blue source-sans-proregular" type="button" style="min-width:30%;height: 30px !important;" id="btnSettings"></button>*@
            @*<span class="btn-Settings btn-blue btn-large" style="display: block; cursor: pointer; margin-right: 10px; height: 30px !important;" id="AddSettings"></span>
                <div class="btn-dropdwn" style="display: none; position: absolute; top: 40px;z-index:1;" id="btnSettings">
                    <ul style="margin: 0;">
                        <li id="delSection" onclick="DeleteSelected()">Delete Selected</li>
                    </ul>
                </div>
                </div>*@
            @*<div id="divExpandCollapse" style="width:120px;float:left;">
                <button class="btn btn-blue text-shadow-blue source-sans-proregular" type="button" style="min-width:100%;height: 30px !important;" id="btnExpandCollapse" onclick="javasript: ExpanCollapse();">
                    Collapse/Expand All
                </button>
                </div>*@

        </div>

        <div style="float:right;margin-top:10px;margin-bottom:10px;text-align: right;">
            <div id="divCheckbox" style="width:300px;float:left;line-height: 22px;">
                <div id="divBudget" style="float:left;margin-right:10px;"><input type="checkbox" value="Budget" id="chkBudget" onchange="ShowHideColumns(this)" checked="checked" style="display: inline-block;vertical-align: middle;" /><label style="display: inline-block;vertical-align: sub; padding-left: 4px;">Budget</label></div>
                <div id="divforecast" style="float:left;margin-right:10px;"><input type="checkbox" value="ForeCast" id="chkForeCast" onchange="ShowHideColumns(this)" checked="checked" style="display: inline-block;vertical-align: middle;" /><label style="display: inline-block;vertical-align: sub; padding-left: 4px;">Forecast</label></div>
                <div id="divPlan" style="float:left;margin-right:10px;"><input type="checkbox" value="Plan" id="chkPlan" onchange="ShowHideColumns(this)" style="display: inline-block;vertical-align: middle;" /><label style="display: inline-block;vertical-align: sub; padding-left: 4px;">Planned</label></div>
                <div id="divActual" style="float:left;margin-right:10px;"><input type="checkbox" value="Actual" id="chkActual" onchange="ShowHideColumns(this)" style="display: inline-block;vertical-align: middle;" /><label style="display: inline-block;vertical-align: sub; padding-left: 4px;">Actual</label></div>
            </div>
            <span class="selectBox" id="ddlTimeFrameSelectBox" style="width: 158px; line-height: 1.1;margin-right:0px">
                @Html.DropDownList("ddlRevenueTimeFrame", new SelectList((System.Collections.IEnumerable)ViewBag.ViewByAllocated, "Value", "Text", (string)ViewBag.SelectedTimeFrame), new { @class = "ddlStyleReport hide quarterly_btn" })
            </span>
            <span class="selectBox" id="ddlMainTimeFrameSelectBox" style="width: 158px; line-height: 1.1;margin-right:0px">
                @Html.DropDownList("ddlMainGridTimeFrame", new SelectList((System.Collections.IEnumerable)ViewBag.ViewByMainGridAllocated, "Value", "Text", (string)ViewBag.SelectedTimeFrame), new { @class = "ddlStyleReport hide quarterly_btn" })
            </span>
        </div>
    </div>
    @*<input type="button" id="btnRefreshMainGrid" name="btnRefreshMainGrid" value="Refresh MainGrid" />*@
    @*<div id="divGridView" style="width:98%;display:block;margin-left:10px;margin-right:10px;">*@
    <div id="divGridView" style="width: 100%; clear: both;">
        @Html.Partial("_MainGrid", MainGridData)
    </div>
    <div id="dvNoData" style="width: 100%; clear: both; display:none; font-weight:bold;">
        No data found.
    </div>
    <div class="market-activity-main">
        <div class="btn-dropdwn" style="display: none; position: absolute; top: 40px; z-index: 1;" id="popupType">
        </div>
    </div>
    <div class="row-fluid calc-height">
        <div class="span12">
            <div id="divDeletePopup" class="form-inspect-share hide fade height-auto popup-block margin_top0" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div>
                    <form>

                        <h2 class="primary-title source-sans-prosemibold resubmission_header">Deleting an item</h2>
                        <label style="text-align: center; width: 100%;" class="resubmission_content">You are about to delete </label>


                        <label id="lipname" style="text-align: center; width: 100%; font-weight:800;" class="resubmission_content"></label>
                        <label style="text-align: center; width: 100%;" class="resubmission_content">Do you want to proceed?</label>
                        <input type="hidden" id="hdnsourceid" />
                        <input type="hidden" id="hdndestid" />
                        <button class="form-inspect-share-button btn btn-large bottom-margin-popups" type="button" id="proceed-button_DeleteItem">Proceed</button>
                        <button id="cancel-button_DeleteItem" class="btn-link Cancel-button-center-popups" style="margin-left: 10.5%" type="button">Cancel</button>
                    </form>
</div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    var pageName = "MainGrid";
    var GlobalLevel = "";
    var CollapseExpand = true;
    var backBudgetid = '';
    var _mainTimeFrame = '';
    var GlobalEditLevel = '';
    var GlobalBudgetId = '';
    //$('#AddSettings').click(function () {
    //    $('#errorMsg').css('display', 'none');
    //    $('#SuccessMsg').css('display', 'none');
    //    if ($('#btnSettings').css('display') == 'none') {
    //        $('#btnSettings').css('display', 'block')
    //    }
    //    else {
    //        $('#btnSettings').css('display', 'none')
    //    }
    //});
    //$(document).click(function (event) {
    //    if ($(event.target).closest("#AddSettings").get(0) == null) {
    //        $('#btnSettings').css('display', 'none')
    //    }
    //});
    $(document).ready(function () {
        //// Proceed to save data.
        $('#proceed-button_DeleteItem').on("click", function () {
            DeleteSelected();
            $('#divDeletePopup').modal("hide");
        });
        $("#sidebar").css("display", "none");
        $("#content_wraper").css("width", "100%");
        //Coomented by Rahul shah on 13/10/2015 for Pl#1667
        //$("#ddlParentFinance,#ddlRevenueTimeFrame,#ddlChildFinance,#ddlParentFinanceMain,#ddlMainGridTimeFrame").multiselect({
        //    multiple: false,
        //    noneSelectedText: "Please Select",
        //    selectedList: 1
        //}).multiselectfilter({
        //});

        var _budgetId = $('#ddlParentFinance').val();
        var _budgetIdMain = $('#ddlParentFinanceMain').val();
        _mainTimeFrame = $('#ddlMainGridTimeFrame').val();

        $('#hdn_BudgetId').val(_budgetIdMain);
        @*$("#btnRefreshMainGrid").click(function () {
            var _budgetId = $('#ddlParentFinance').val();
            var url = '@Url.Content("~/Finance/RefreshMainGridData/")';
            $('#divGridView').load(url + '?budgetId=' + _budgetId);
        });*@
        @*$("#ddlParentFinance").change(function () {
            var budgetId = $('#ddlParentFinance').val();
            var url = '@Url.Content("~/Finance/RefreshMainGridData/")';
            $('#divGridView').load(url + '?budgetId=' + budgetId);
        });*@
        $("#btnAddNewBudget").click(function () {
            $('#errorMsg').css('display', 'none');
            $('#SuccessMsg').css('display', 'none');
            $("#divGridView").show();
            $("#dvNoData").hide();
            var url = '@Url.Content("~/Finance/LoadnewBudget/")';
            $('#divGridView').load(url);
            RefreshBudgetDropdown(true);
            GetFinanceHeaderValue(0, true);
        });
        //var testitem = "option[text=Budget3]";
        //$("#ddlParentFinance").find(testitem).attr("selected", "selected");
        //var budgetID = $("#ddlParentFinance").val();
        RefreshMainGridData(_budgetIdMain);
        
        GetFinanceHeaderValue(_budgetIdMain, true, _mainTimeFrame);
        // GetFinanceHeaderValue(_budgetId);
        //BindChildBudgetDrp(_budgetId);
        // EditBudget(21);
        ShowHideControls("MainGrid");
        //Added by Rahul Shah on 13/10/2015 for PL#1667
        var nlformParentFinanceMain = new NLForm(document.getElementById('nl-formParentFinanceMain'));
        $('#nl-formParentFinanceMain > div[class="nl-field nl-dd"]').find('li').click(function (e) {
            $('#errorMsg').css('display', 'none');
            $('#SuccessMsg').css('display', 'none');
            $("#divGridView").show();
            $("#dvNoData").hide();
            var budgetIDMain = $(this).attr('value');
            $('#hdn_BudgetId').val(budgetIDMain);
            if (budgetIDMain != null && budgetIDMain != 'undefined' && budgetIDMain != '0') {
                RefreshMainGridData(budgetIDMain);
                GetFinanceHeaderValue(budgetIDMain, true, _mainTimeFrame);
            }
            else {
                $("#divGridView").hide();
                $("#dvNoData").show();
            }

        });
        var txtval = $("#btnMultiselect_ddlParentFinanceMain").find("span").text();
        $("#btnMultiselect_ddlParentFinanceMain").find("span").text('');
        $("#btnMultiselect_ddlParentFinanceMain").find("span").text(htmlDecode(txtval));
    });



    function DeleteSelected() {

        //  if (RowIDs.IDs.length > 0) {
        //if (confirm('Are you sure you want to delete this Budget item ?')) {
                for (var i = 0; i < RowIDs.IDs.length; i++) {
                    myTreeGrid.deleteRow(RowIDs.IDs[i]);
                }

                var AllocatedBy = $('#ddlRevenueTimeFrame option:selected').val();
                var mainTimeFrame = $('#ddlMainGridTimeFrame option:selected').val();
                if (mainTimeFrame.toLowerCase() == "yearly") {
                    AllocatedBy = "@Enums.PlanAllocatedBy.quarters.ToString()";
                } else {
                    AllocatedBy = mainTimeFrame;
                }

            var selectedValues = [];
            if (RowIDs.IDs.length != 0) {
                for (var i = 0; i < RowIDs.IDs.length; i++) {
                    //alert(budgetIDMain + ":" + RowIDs.IDs[i]);
                    selectedValues.push({
                        Id: RowIDs.IDs[i],
                    });
                }
            }
            selectedValues = JSON.stringify(selectedValues);

        if (pageName == "EditBudget") {
            var budgetID = 0;
            var budgetChildID = $("#ddlChildFinance").val();
            var budgetParentID = $("#ddlParentFinance").val();
            if (budgetChildID > 0) {
                budgetID = budgetChildID;
            }
            else {
                budgetID = budgetParentID;
            }

            // var EditLevel = GlobalEditLevel;
            //LoadBudgetGrid(AllocatedBy);
            //GetFinanceHeaderValue(0, false);
            //BindParentBudgetDrp(parseInt(budgetID));
            //BindChildBudgetDrp(parseInt(budgetID));

            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/Finance/DeleteBudgetForecastData/")',
                dataType: "json",
                //   async: false,
                data: {
                    SelectedRowIDs: selectedValues,
                },
                success: function (data) {
                    var ActId = RowIDs.IDs[0];
                    var ParentOptions = {
                        text: [],
                        values: []
                    }
                    var ChildOptions = {
                        text: [],
                        values: []
                    };
                    $.each($("#ddlParentFinance").find("option"), function () {
                        ParentOptions.text.push($(this).text());
                        ParentOptions.values.push($(this).val())
                    });
                    $.each($("#ddlChildFinance").find("option"), function () {
                        ChildOptions.text.push($(this).text());
                        ChildOptions.values.push($(this).val())
                    });

                    var Childindex = ChildOptions.values.indexOf(ActId);
                    if (Childindex >= 0) {
                        ChildOptions.values.splice(Childindex, 1);
                        ChildOptions.text.splice(Childindex, 1);
                        BindChildBudgetDrp(parseInt(budgetParentID));
                        $("#ddlChildFinance").multiselect({
                            multiple: false,
                            //noneSelectedText: "Please Select",
                            selectedList: 1
                        }).multiselectfilter({
                        });
                        //$("select[id='ddlChildFinance'] option:selected").index();
                        GlobalBudgetId = $('#ddlChildFinance').val();
                        if (budgetParentID > 0 && GlobalBudgetId == 0)
                        {
                            GlobalBudgetId = budgetParentID;
                        }
                    }

                    var Parentindex = ParentOptions.values.indexOf(ActId);
                    if (Parentindex >= 0) {
                        ParentOptions.values.splice(Parentindex, 1);
                        ParentOptions.text.splice(Parentindex, 1);
                        $("#ddlParentFinance").html("");
                        if (ParentOptions.values.length > 0) {
                            
                            for (var i = 0; i < ParentOptions.values.length ; i++) {
                                var opt = new Option(ParentOptions.text[i], ParentOptions.values[i]);
                                $('#ddlParentFinance').append(opt);
                            }
                        }
                        $("#ddlParentFinance").multiselect({
                            multiple: false,
                            //noneSelectedText: "Please Select",
                            selectedList: 1
                        }).multiselectfilter({
                        });
                        //$("select[id='ddlParentFinance'] option:selected").index();
                        GlobalBudgetId = $('#ddlParentFinance').val();
                        if (GlobalBudgetId == 0 || GlobalBudgetId == null)
                        {
                            RefreshBudgetDropdown(false);
                            var newbudgetID = $("#ddlParentFinanceMain").val();
                            RefreshMainGridData(newbudgetID);
                            GetFinanceHeaderValue(newbudgetID, true, mainTimeFrame);
                            //BindParentBudgetDrp(parseInt(backBudgetid));
                        }
                        BindChildBudgetDrp(parseInt(GlobalBudgetId));
                    }
                   
                    LoadBudgetGrid(AllocatedBy);
                    GetFinanceHeaderValue(0, false);
                }
            });
        }
        else {
            var curntBudgetId = $("#ddlParentFinanceMain").val();
            var url = '@Url.Content("~/Finance/DeleteMainGrid/")';
                    $('#divGridView').load(url + '?SelectedRowIDs=' + selectedValues + '&mainTimeFrame=' + mainTimeFrame + '&curntBudgetId=' + curntBudgetId, function () { RefreshBudgetDropdown(false); var newbudgetID = $("#ddlParentFinanceMain").val(); GetFinanceHeaderValue(newbudgetID, true, mainTimeFrame); });
 
                }

                ShowMessage(false, '@Common.objCached.PlanEntityDeleted'.replace('{0}', "Budget Item"), 1200);

            }

    function RefreshMainGridData(BudgetId) {
        
        $("#divGridView").show();
        $("#dvNoData").hide();
        var url = '@Url.Content("~/Finance/RefreshMainGridData/")';
        $('#divGridView').load(url + '?budgetId=' + BudgetId + '&mainTimeFrame=' + _mainTimeFrame);
    }

    function BindTimeFrameForChild(Period) {

        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/Finance/GetChildTimeFrame/")',
            dataType: "json",
            async: false,
            success: function (data) {

                $("#ddlRevenueTimeFrame").html("");

                for (var i = 0; i < data.length; i++) {

                    var opt = new Option(data[i].Text, data[i].Value);
                    $('#ddlRevenueTimeFrame').append(opt);
                }

                if (Period != null && Period != '') {
                    $("#ddlRevenueTimeFrame option[value='" + Period + "']").attr("selected", "selected");
                }
            }
        });
        $("#ddlRevenueTimeFrame").multiselect({
            multiple: false,
            //noneSelectedText: "Please Select",
            selectedList: 1
        }).multiselectfilter({
        });
    }
    //commented by Rahul shah on 12/10/2015 for PL #1667
    //$("#ddlParentFinance").change(function () {
    //    $('#errorMsg').css('display', 'none');
    //    $('#SuccessMsg').css('display', 'none');
    //    var budgetID = $("#ddlParentFinance").val();
    //    //RefreshMainGridData(budgetID);
    //    if (pageName == "EditBudget") {
    //        GetFinanceHeaderValue(budgetID);
    //        EditBudget(budgetID, false);
    //    }
    //    //myApp.hidePleaseWait();

    //    var txtval = $("#btnMultiselect_ddlParentFinance").find("span").text();
    //    $("#btnMultiselect_ddlParentFinance").find("span").text('');
    //    $("#btnMultiselect_ddlParentFinance").find("span").text(htmlDecode(txtval));
    //});
    //$("#ddlParentFinanceMain").change(function () {
    //    $('#errorMsg').css('display', 'none');
    //    $('#SuccessMsg').css('display', 'none');
    //    $("#divGridView").show();
    //    $("#dvNoData").hide();
    //    var budgetIDMain = $("#ddlParentFinanceMain").val();
    //    $('#hdn_BudgetId').val(budgetIDMain);
    //    if (budgetIDMain != null && budgetIDMain != 'undefined' && budgetIDMain != '0') {
    //        RefreshMainGridData(budgetIDMain);
    //        GetFinanceHeaderValue(budgetIDMain, true, _mainTimeFrame);
    //    }
    //    else {
    //        $("#divGridView").hide();
    //        $("#dvNoData").show();
    //    }
    //    //if (pageName == "EditBudget") {
    //    //    GetFinanceHeaderValue(budgetID);
    //    //    EditBudget(budgetID, false);
    //    //}
    //    //myApp.hidePleaseWait();

    //    var txtval = $("#btnMultiselect_ddlParentFinanceMain").find("span").text();
    //    $("#btnMultiselect_ddlParentFinanceMain").find("span").text('');
    //    $("#btnMultiselect_ddlParentFinanceMain").find("span").text(htmlDecode(txtval));
    //});
    //$("#ddlChildFinance").change(function () {
    //    $('#errorMsg').css('display', 'none');
    //    $('#SuccessMsg').css('display', 'none');
    //    myApp.showPleaseWait();
    //    var budgetID = $("#ddlChildFinance").val();
    //    var parentid = $("#ddlParentFinance").val();
    //    if (pageName == "EditBudget") {
    //        if (budgetID > 0) {

    //            EditBudget(budgetID, true);
    //            GetFinanceHeaderValue(budgetID);
    //        } else {

    //            EditBudget(parentid, true);
    //            GetFinanceHeaderValue(parentid);
    //        }
    //    }
    //    //myApp.hidePleaseWait();
    //    // $("#btnMultiselect_ddlChildFinance").find("span").text(htmlDecode($("#btnMultiselect_ddlChildFinance").find("span").text()));
    //    var txtval = $("#btnMultiselect_ddlChildFinance").find("span").text();
    //    $("#btnMultiselect_ddlChildFinance").find("span").text('');
    //    $("#btnMultiselect_ddlChildFinance").find("span").text(htmlDecode(txtval));
    //});

    function GetFinanceHeaderValue(_budgetId, Ismain, mainTimeFrame) {

        var ismainGird = false;
        if (Ismain != null && Ismain != undefined) {
            ismainGird = Ismain
        }
        var url = '@Url.Content("~/Finance/GetFinanceHeaderValue/")';
        $('#headerValue').load(url + '?budgetId=' + _budgetId + '&isQuarterly=monthly&timeFrameOption=2015&IsMain=' + ismainGird + '&mainTimeFrame=' + mainTimeFrame);

    }
    function BindChildBudgetDrp(_budgetId) {
        //debugger;
        var ChildID = $("#ddlChildFinance").val();
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/Finance/GetChildBudget/")',
            dataType: "json",
            async: false,
            data: { budgetId: _budgetId },
            success: function (data) {
                $("#ddlChildFinance").html("");
                $('#ddlChildFinance').append($('<option></option>').attr('value', '0').text('Please Select'));
                for (var i = 0; i < data.length; i++) {

                    var opt = new Option(data[i].Text, data[i].Value);
                    $('#ddlChildFinance').append(opt);
                }
                if (ChildID > 0) {
                    $("#ddlChildFinance option[value='" + ChildID + "']").attr("selected", "selected");
                }
            }
        });
        //Added by Rahul Shah on 13/10/2015 for PL#1667
        $('#nl-formChildFinance div').remove('');
        new NLForm(document.getElementById('nl-formChildFinance'));
        $('#nl-formChildFinance > div[class="nl-field nl-dd"]').find('li').click(function (e) {
            debugger;

            $('#errorMsg').css('display', 'none');
            $('#SuccessMsg').css('display', 'none');
            $("#divGridView").show();
            $("#dvNoData").hide();

            var ChildbudgetID = $(this).attr('value');
            var parentid = $('#nl-formParentFinance .nl-dd-checked ').attr('value');

            if (pageName == "EditBudget") {
                if (ChildbudgetID > 0) {

                    EditBudget(ChildbudgetID, true);
                    GetFinanceHeaderValue(ChildbudgetID);
                } else {

                    EditBudget(parentid, true);
                    GetFinanceHeaderValue(parentid);
                }
            }

        });
        //Commented by Rahul shah on 13/10/2015 for PL#1667
        //$("#ddlChildFinance").multiselect({
        //    multiple: false,
        //    //noneSelectedText: "Please Select",
        //    selectedList: 1
        //}).multiselectfilter({
        //});
    }
    function BindParentBudgetDrp(_budgetId) {

        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/Finance/GetParentBudget/")',
            dataType: "json",
            async: false,
            data: { budgetId: _budgetId },
            success: function (data) {
                $("#ddlParentFinance").html("");
                for (var i = 0; i < data.length; i++) {

                    var opt = new Option(data[i].Text, data[i].Value);
                    $('#ddlParentFinance').append(opt);
                }

            }
        });
        $("#ddlParentFinance").val(_budgetId);
        //Added by Rahul Shah on 13/10/2015 for PL#1667
        $('#nl-formParentFinance div').remove('');
        new NLForm(document.getElementById('nl-formParentFinance'));

        $('#nl-formParentFinance > div[class="nl-field nl-dd"]').find('li').click(function (e) {
            debugger;
            $('#errorMsg').css('display', 'none');
            $('#SuccessMsg').css('display', 'none');
            $("#divGridView").show();
            $("#dvNoData").hide();
            var budgetID = $(this).attr('value');
            if (pageName == "EditBudget") {
                GetFinanceHeaderValue(budgetID);
                EditBudget(budgetID, false);
            }

        });
        //Commented by Rahul shah on 13/10/2015 for PL#1667
        //$("#ddlParentFinance").multiselect({
        //    multiple: false,
        //    noneSelectedText: "Please Select",
        //    selectedList: 1
        //}).multiselectfilter({
        //});

    }
    function EditBudget(BudgetId, childChange, level) {
        $('#btnSettings').css('display', 'none')
        $('#errorMsg').css('display', 'none');
        $('#SuccessMsg').css('display', 'none');

        //backBudgetid = BudgetId;
        var budgetIDMain = $("#ddlParentFinanceMain").val();
        backBudgetid = budgetIDMain;

        //  GetFinanceHeaderValue(BudgetId);
        if (level != undefined && level != '') {
            GlobalLevel = level;
        }

        myApp.showPleaseWait();
        var AllocatedBy = $('#ddlRevenueTimeFrame option:selected').val();
        var mainTimeFrame = $('#ddlMainGridTimeFrame option:selected').val();
        if (mainTimeFrame.toLowerCase() == "yearly") {
            AllocatedBy = "@Enums.PlanAllocatedBy.quarters.ToString()";
        } else {
            AllocatedBy = mainTimeFrame;
        }
        //if (AllocatedBy == 'quarters') {
        //    AllocatedBy = true;
        //}
        //else {
        //    AllocatedBy = false;
        //}
        if (BudgetId == null || BudgetId == '') {
            BudgetId = 0;
        }

        if (childChange == false) {
            BindParentBudgetDrp(parseInt(BudgetId));
            BindChildBudgetDrp(parseInt(BudgetId));
        }
        BindTimeFrameForChild(AllocatedBy);
        var url = '@Url.Content("~/Finance/EditBudget/")';
        $('#divGridView').load(url + '?BudgetId=' + BudgetId + '&IsQuaterly=' + AllocatedBy + '&level=' + GlobalLevel);

    }

    function ExpanCollapse() {
        $('#errorMsg').css('display', 'none');
        $('#SuccessMsg').css('display', 'none');
        if (CollapseExpand) {
            CollapseExpand = false;
            myTreeGrid.collapseAll();
        }
        else {
            CollapseExpand = true;
            myTreeGrid.expandAll();
        }
        var tableheight = $(".objbox").find("table").height();

        $("#gridbox").css("height", tableheight + 100);
        myTreeGrid.setSizes();

        var GridWidth = $("#gridbox").width();

        $("#gridbox").find("table").css("width", GridWidth);
    }
    function ShowHideColumns(chekbox) {
        $('#errorMsg').css('display', 'none');
        $('#SuccessMsg').css('display', 'none');
        var GridWidth = $("#gridbox").width();
        var checkName = chekbox.value;
        var IsChecked = chekbox.checked;
        var Count = 0;
        var LoopLength = 0;
        var AllocatedBy = $('#ddlRevenueTimeFrame option:selected').val();
        if (AllocatedBy == "@Enums.PlanAllocatedBy.quarters.ToString()") {
            LoopLength = 5;
        }
        else if (AllocatedBy == "@Enums.PlanAllocatedBy.months.ToString()") {
            LoopLength = 13;
        }
        else {
            LoopLength = 4;
        }
        if (checkName == "Budget") {
            Count = 3;
        }
        else if (checkName == "ForeCast") {
            Count = 4;
        }
        else if (checkName == "Plan") {
            Count = 5;
        }
        else if (checkName == "Actual") {
            Count = 6;
        }
        var visibility = "false,";
        //mygrid.setColumnsVisibility("true,false,false,false,false");
        //for (var s = 1; s <= 24; s++) {
        //    myTreeGrid.setColumnHidden(s, false);
        //}

        //debugger;



        if (IsChecked) {
            for (var i = 0; i < LoopLength; i++) {
                myTreeGrid.setColumnHidden(Count, false);
                Count = Count + 4;
            }
        }

        if (!IsChecked) {
            for (var i = 0; i < LoopLength; i++) {
                myTreeGrid.setColumnHidden(Count, true);
                Count = Count + 4;
            }
        }
        //visibility += visibility.slice(0, -1);
        // myTreeGrid.enableAutoWidth(true, GridWidth, GridWidth);
        $("#gridbox").find("table").css("width", "100%");

        //var BorderLength = 4;
        //var ChkPlan = $("#chkPlan");
        //var ChkBudget = $("#chkBudget");
        //var ChkForeCast = $("#chkForeCast");
        //var ChkActual = $("#chkActual");

        //if (!ChkBudget[0].checked) {
        //    BorderLength = BorderLength - 1;
        //}
        //if (!ChkForeCast[0].checked) {
        //    BorderLength = BorderLength - 1;
        //}
        //if (!ChkPlan[0].checked) {
        //    BorderLength = BorderLength - 1;
        //}
        //if (!ChkActual[0].checked) {
        //    BorderLength = BorderLength - 1;
        //}
        ////$('.gridbox .xhdr .hdr td').css('border-color', '#e7f1ff #a4bed4 #a4bed4 #e7f1ff');
        ////$('.gridbox .xhdr .hdr td').css('border-width', '1px 1px 1px 1px');

        //var BorderCount = 3;
        //var loopChange = 0;
        //$('.gridbox .xhdr .hdr td').css("border-right", "");
        //$('.gridbox .objbox td').css("border-right", "");
        //for (var j = 1; j <= 23; j++) {
        //    //debugger;
        //    if (BorderCount == j) {
        //        var check = $('.gridbox .xhdr .hdr td:nth-child(' + j + ')').css("display");
        //        if (check == "none") {
        //            if (BorderLength == 2) {
        //                if (ChkBudget[0].checked && ChkActual[0].checked) {
        //                    BorderCount = BorderCount + 2;
        //                }
        //                else {
        //                    BorderCount = BorderCount + 1;
        //                }
        //            }
        //            else {
        //                BorderCount = BorderCount + 1;
        //            }
        //        }
        //        $('.gridbox .xhdr .hdr td:nth-child(' + parseInt(BorderCount) + ')').css("border-right", "2px Solid #808080");
        //        $('.gridbox .objbox td:nth-child(' + parseInt(BorderCount) + ')').css("border-right", "2px Solid #808080");
        //    BorderCount += BorderLength;

        //    } else {
        //        var check = $('.gridbox .xhdr .hdr td:nth-child(' + j + ')').css("display");
        //        if (check == "none") {
        //            if (BorderLength == 2) {
        //                if (ChkBudget[0].checked && ChkActual[0].checked) {
        //                } else {
        //                    BorderCount = BorderCount + 1;
        //                }
        //            } else {
        //                BorderCount = BorderCount + 1;
        //            }
        //        }
        //    }
        //}
        //myTreeGrid.setColumnsVisibility(visibility);
        //myTreeGrid.init();
    }
    function ShowHideControls(Page) {
        if (Page == "MainGrid") {
            $("#drpParentMain").css("display", "block");
            $("#drpParent").css("display", "none");
            //$("#divExpandCollapse").css("display", "none");
            $("#divCheckbox").css("display", "none");
            $("#ddlTimeFrameSelectBox").css("display", "none");
            $("#ddlMainTimeFrameSelectBox").css("display", "block");
            $("#drpChild").css("display", "none");
            $("#divFinanceBack").css("display", "none");
            $("#divAddnew").css("display", "block");
        }
        if (Page == "EditBudget") {
            $("#drpParentMain").css("display", "none");
            $("#drpParent").css("display", "block");
            $("#divExpandCollapse").css("display", "");
            $("#divCheckbox").css("display", "");
            $("#ddlTimeFrameSelectBox").css("display", "");
            $("#ddlMainTimeFrameSelectBox").css("display", "none");
            $("#drpChild").css("display", "block");
            $("#divFinanceBack").css("display", "block");
            $("#divAddnew").css("display", "none");
        }
    }

    window.onload = function () {
        ShowHideControls('MainGrid');
    }

    function RefreshBudgetDropdown(IsAddNew) {
        //debugger;
        var _budgetId = $("#hdn_BudgetId").val();
        var $dropdown = $("#ddlParentFinanceMain");
        $dropdown.empty();
        var $html = '';
        if (IsAddNew != undefined && IsAddNew != null) {
            if (IsAddNew == true) {
                $html = '<option value="0">Please Select</option>';
            }
        }
        //else {
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/Finance/RefreshBudgetList/")',
            data: {},
            async: false,
            success: function (result) {

                if (result.length > 0) {
                    $.each(result, function (index, item) {

                        $html += '<option value="' + item.Value + '">' + item.Text + '</option>';

                    });
                }
            }
        });
        //}
        $dropdown.append($html);

        $dropdown.multiselect("refresh");
        if (IsAddNew != undefined && IsAddNew != null && IsAddNew == true) {
            $dropdown.val(0);
            $dropdown.find("input[type='search']").val(0);
            //Commented by Rahul shah on 13/10/2015 for PL#1667
            //var spanSelectedItem = $("#multipleselect_ddlParentFinanceMain").find("input[value='" + 0 + "']").next('span').html();
            //$('#btnMultiselect_ddlParentFinanceMain span:first-child').html(spanSelectedItem);
        }
        else {
            $dropdown.val(_budgetId);
            $dropdown.find("input[type='search']").val(_budgetId);
            //Commented by Rahul shah on 13/10/2015 for PL#1667
            //var spanSelectedItem = $("#multipleselect_ddlParentFinanceMain").find("input[value='" + _budgetId + "']").next('span').html();
            //$('#btnMultiselect_ddlParentFinanceMain span:first-child').html(spanSelectedItem);
        }
        //Addded by Rahul Shah on 13/10/2015 for PL #1667
        $('#nl-formParentFinanceMain div').remove('');
        new NLForm(document.getElementById('nl-formParentFinanceMain'));
        $('#nl-formParentFinanceMain > div[class="nl-field nl-dd"]').find('li').click(function (e) {
            $('#errorMsg').css('display', 'none');
            $('#SuccessMsg').css('display', 'none');
            $("#divGridView").show();
            $("#dvNoData").hide();
            var budgetIDMain = $(this).attr('value');
            $('#hdn_BudgetId').val(budgetIDMain);
            if (budgetIDMain != null && budgetIDMain != 'undefined' && budgetIDMain != '0') {
                RefreshMainGridData(budgetIDMain);
                GetFinanceHeaderValue(budgetIDMain, true, _mainTimeFrame);
            }
            else {
                $("#divGridView").hide();
                $("#dvNoData").show();
            }

        });
    }

    //$.ajaxSetup({
    //    beforeSend: function () {
    //        //console.log('test');
    //        myApp.showPleaseWait();
    //    },
    //    complete: function () {
    //        //            myApp.hidePleaseWait();
    //    }
    //});
    $("#ddlMainGridTimeFrame").change(function () {
        $('#errorMsg').css('display', 'none');
        $('#SuccessMsg').css('display', 'none');
        _mainTimeFrame = $('#ddlMainGridTimeFrame').val();
        var _budgetIdMain = $('#ddlParentFinanceMain').val();
        RefreshMainGridData(_budgetIdMain);
        GetFinanceHeaderValue(_budgetIdMain, true, _mainTimeFrame);
    });
    $("#ddlRevenueTimeFrame").change(function () {
        $('#errorMsg').css('display', 'none');
        $('#SuccessMsg').css('display', 'none');
        // debugger;
        // myApp.showPleaseWait();
        var AllocatedBy = $('#ddlRevenueTimeFrame option:selected').val();
        //if (AllocatedBy == 'quarters') {
        //    AllocatedBy = true;
        //}
        //else {
        //    AllocatedBy = false;
        //}
        LoadBudgetGrid(AllocatedBy);
        GetFinanceHeaderValue(0, false);
        var BudgetColumns = $("#chkBudget");
        var ForeCastColumns = $("#chkForeCast");
        var PlanColumns = $("#chkPlan");
        var ActualColumns = $("#chkActual");
        BudgetColumns.change();
        ForeCastColumns.change();
        PlanColumns.change();
        ActualColumns.change();
        // myApp.showPleaseWait();
    });
    function DisplayPopUpMenu(addControl) {
        var ul;
        ul = "<ul style='margin: 0;'>  <li class='new-finance' id='newFinanceItem' itemType='parallelitem'>New Item</li> <li class='new-finance' id='newFinacneChildItem' itemType='childitem'>New Child Item</li>  </ul>";
        $('#popupType').css('display', 'block');
        $('#popupType').html(ul);
        var left = $(addControl).position().left + 45;//e.pageX;
        //var target = $(addControl);
        //debugger;
        var targetOffset = $(addControl).offset().top;
        var scrollPosition = $(window).scrollTop();

        if ($('#popupType').css('display') != 'none') {
            if (scrollPosition <= targetOffset) {
                $('#popupType').css({
                    //'display': 'block',
                    'top': targetOffset,
                    'left': left,
                });
            }
            else {
                var targetHeight = target.height();
                var contentHeight = $('#popupType').outerHeight();
                var targetBottomOffset = targetOffset + targetHeight - contentHeight;
                $('#popupType').css({
                    // 'display': 'block',
                    'top': targetBottomOffset,
                    'left': left,
                });
            }
        }
        //e.stopPropagation();
        
        $('.new-finance').click(function () {
            var itemtype = $(this).attr('itemType');
            AddNewRowbyType(itemtype, addControl);
            $('#popupType').css('display', 'none');
        });
    }
    $(document).click(function () {
        $('#popupType').css('display', 'none');
    });

    $(document).mouseup(function (e) {
        $('#popupType').css("display", "none");
    });
</script>
