@model RevenuePlanner.Models.BudgetDHTMLXGridModel
@using RevenuePlanner.Models
@using RevenuePlanner.Helpers

@{
    //string AllocatedBy = ViewBag.AllocatedBy;
    //string strQuarters = Enums.PlanAllocatedByList[Enums.PlanAllocatedBy.quarters.ToString()].ToString().ToLower();
    bool isquarter = false;
    //if (AllocatedBy.ToLower() == strQuarters)
    //{
    //    isquarter = true;
    //}
}
<link href="@Url.Content("~/Content/css/DHTMLX/dhtmlxtreegrid2_min.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="@Url.Content("~/Scripts/js/DHTMLX/dhtmlxtreegrid_min.js")"></script>
@*Added Following js and css for fileuload control*@
<script src="@Url.Content("~/Scripts/js/fileinput.js")"></script>
@Styles.Render("~/Content/css/GetCSSBudget")
<div id="gridbox" style="background-color: white; width: 100%;" class="financeReportGrid"></div>
@*Insertation start for #2623 popup for import multiple plan*@
<div id="ImportModal" class="modal hide fade import-popover">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4> Import Data  </h4>
    </div>
    <div class="modal-body">
        <ul>
            @*
                updation start 14/09/2016 #2543 kausha (current plan data will be downlded as per export and label is changed)
            *@
            @*<li><strong>Download file format  <a href="~/Content/Common/grid sample.xls" onclick="return ExportToExcel(); ">here</a></strong></li>*@
            <li><strong>Download file  <a onclick="return ExportToExcel();">here</a></strong></li>

            <li>
                <strong>Make any necessary changes</strong><br />
                <span>Note: Any additional rows or columns added will not appear after imported</span>
            </li>
            <li>
                <strong>Import the file</strong><br />
                <span>Note:The file format must match the file format of sample file.</span>
            </li>
        </ul>
        <input id="input-43" name="input43[]" type="file" class="file-loading select-file">
        <div id="errorBlock" class="help-block file-error-message"></div>
    </div>


</div>
@*Insertation end for #2623 popup for import multiple plan*@
<script type="text/javascript">
    var HomeGrid;
    gridname = "budget";
    var gridheader;
    var colType;
    var budgetWidth;
    var colSorting;
    var ColumnIds;
    var attachHeader;
    var eventidonedit = 0;
    $(document).ready(function () {
        var JsonModel = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Grid))';
        exportgridData = JsonModel;
        HomeGrid = new dhtmlXGridObject('gridbox');
        var imgpath = '@Url.Content("~/codebase/imgs/")';
        HomeGrid.setImagePath(imgpath);
        HomeGrid.setImageSize(1, 1);
        gridheader = '@Model.SetHeader';
        ColumnIds = '@Model.ColumnIds';
         colType = '@Model.ColType';
         colSorting = '@Model.ColSorting';
        budgetWidth = '@Model.Width';
        HomeGrid.setHeader('@Model.SetHeader');
        attachHeader = '@Newtonsoft.Json.JsonConvert.SerializeObject(Model.AttachHeader)';
        attachHeader = $('<div/>').html(attachHeader.toString().replace(/[\\]/g, "\\\\")).text(); // Decode Html content.
        attachHeader = (attachHeader.toString().replace(/&amp;/g, '&'));
        HomeGrid.attachHeader(JSON.parse(attachHeader));
        HomeGrid.setColTypes('@Model.ColType');
        HomeGrid.setInitWidths('@Model.Width');
        HomeGrid.setColSorting('@Model.ColSorting');
        HomeGrid.setColumnIds('@Model.ColumnIds');
        HomeGrid.enableAutoHeight(true);
        HomeGrid.enableAutoWidth(false);
        HomeGrid.setEditable(true);
        HomeGrid.init();
        setTimeout(function () {
            HomeGrid.loadOpenStates();
        }, 500);
        setTimeout(function () {
            HomeGrid.setSizes();
        }, 200);
        var mainGridData = JsonModel;
        mainGridData = $('<textarea/>').html(mainGridData.toString().replace(/[\\]/g, "\\\\")).text(); // Decode Html content.
        var GridDataHomeGrid = (mainGridData.toString().replace(/&amp;/g, '&'));
        
        HomeGrid.parse(GridDataHomeGrid, "json");

        HomeGrid.attachEvent("onOpenEnd", function (id, state) {
            $(".grid_Search").off("click");
            $(".grid_Search").click(function (e) {
                inspectCloseFocus = $(this).position().top;
                var EntityIdWithSection = $(this).parent().parent().find('td:first').html().split(';');
                var id = EntityIdWithSection[0];
                var type = $(this).attr('id');
                gridSearchFlag = 1;
                DisplayEditablePopup(id, type);
            });
        });
        var machineNameindex = HomeGrid.getColIndexById("machineName");
        var ActivityIdindex = HomeGrid.getColIndexById("ActivityId");
        var colTypeIndex = HomeGrid.getColIndexById("Type");
        HomeGrid.setColumnHidden(ActivityIdindex, true);
        HomeGrid.setColumnHidden(machineNameindex, true);
        HomeGrid.setColumnHidden(colTypeIndex, true);
        var ColumnsToView = '@Model.HiddenTab';
        var selectedTab = ColumnsToView.split(',');
        for (var i = 0; i < selectedTab.length; i++)
        {
            var sTab = selectedTab[i];
            if (sTab!='' && sTab!=null)
            {
                for (var j=0;j<HomeGrid.getColumnsNum();j++)
                {
                    var ColumnId = HomeGrid.getColumnId(j);
                    var YearlyTab = sTab + "Cost";
                    if (ColumnId == sTab || ColumnId == YearlyTab)
                    {
                        HomeGrid.setColumnHidden(j, true);
                    }
                }
            }
        }
        LoadAfterParsing();
    });

    function LoadAfterParsing() {
        if (eventidonedit != 0) {
            HomeGrid.detachEvent(eventidonedit);
        }
        eventidonedit = HomeGrid.attachEvent("onEditCell", doOnEditCell);
    }

    function doOnEditCell(stage, rowId, cellInd, nValue, oValue) {
        if (stage == 0) { // Stage == 0 Means Click on Cell

            var locked = HomeGrid.cells(rowId, cellInd).getAttribute("locked");
            if ((locked != null && locked != "") && locked == "1")
                return false;

        }
        //if (stage == 1) { } // Stage == 1 - Means Perform Event on Cell -  Keydown, etc. This is currently not used but if required we can use this flag.
        if (stage == 2) { // Stage == 2 - Means perform focus out event
            var EntityIdWithSection = HomeGrid.cells(rowId, 0).cell.innerText.split(';');
            var EntityId = EntityIdWithSection[0];
            var Section = EntityIdWithSection[1];
            var Month = '';
            var YearCost;
            var MonthCost;
            var Tab = HomeGrid.getColLabel(cellInd, 1);

            if (Tab.toLowerCase() == 'actual' || Tab.toLowerCase() == 'planned' || Tab.toLowerCase() == 'budget') {
                if (HomeGrid.getColLabel(cellInd) == "") {
                    if (HomeGrid.getColLabel(cellInd - 1) == "") {
                        Month = HomeGrid.getColLabel(cellInd - 2);
                    }
                    else {
                        Month = HomeGrid.getColLabel(cellInd - 1);
                    }
                }
                else {
                    Month = HomeGrid.getColLabel(cellInd);
                }
            }
            if (Tab.toLowerCase() == 'actual') {
                var ActualCostColIndex = HomeGrid.getColIndexById("ActualCost");
                YearCost = HomeGrid.cells(rowId, ActualCostColIndex).cell.innerText;
                MonthCost = nValue;
            }
            else if (Tab.toLowerCase() == 'planned') {
                var PlannedCostColIndex = HomeGrid.getColIndexById("plannedcost");
                YearCost = HomeGrid.cells(rowId, PlannedCostColIndex).cell.innerText;
                MonthCost = nValue;
            }
            else if (Tab.toLowerCase() == 'budget') {
                var BudgetCostColIndex = HomeGrid.getColIndexById("BudgetCost");
                YearCost = HomeGrid.cells(rowId, BudgetCostColIndex).cell.innerText;
                MonthCost = nValue;
            }
            else if (Tab.toLowerCase() == 'total actual') {
                Tab = "Actual";
                MonthCost = '';
                YearCost = nValue;
            }
            else if (Tab.toLowerCase() == 'planned cost') {
                Tab = "Planned";
                MonthCost = '';
                YearCost = nValue;
            }
            else if (Tab.toLowerCase() == 'total budget') {
                Tab = "Budget";
                MonthCost = '';
                YearCost = nValue;
            }
            SaveValues(EntityId, Section, Month, Tab, MonthCost, YearCost);
        }
    }

    function SaveValues(EntityId, Section, Month, Tab, MonthCost, YearCost) {
        var entityId = EntityId;
        var section = Section;
        var month = Month;
        var tab = Tab;
        var isquarter = false;
        if ('@isquarter'.toLowerCase() == 'true') {
            isquarter = true;
        }
        var inputArr = [];
        if (MonthCost != null && MonthCost != '') {
            inputArr.push({
                key: 'CostYear',
                Value: SetValueByExchangeRate(YearCost.replace(/,/g, ""))
            });
            inputArr.push({
                key: 'CostMonth',
                Value: SetValueByExchangeRate(MonthCost.replace(/,/g, ""))
            });
        }
        else {
            inputArr.push({
                key: 'BudgetYear',
                Value: SetValueByExchangeRate(YearCost.replace(/,/g, ""))
            });
        }

        var jsonInputs = JSON.stringify(inputArr);
        var URL;
        if (Tab.toLowerCase() == 'budget') {
            URL = '@Url.Content("~/Plan/SaveBudgetCell/")';
        }
        else {
            URL = '@Url.Content("~/Plan/SavePlannedCell/")';
        }
        $.ajax({
            type: 'POST',
            url: URL,
            dataType: "json",
            data: 'entityId=' + entityId + '&section=' + section + '&month=' + month + '&inputs=' + jsonInputs + '&tab=' + tab + '&isquarter=' + isquarter,
            success: function (data) {

                if (data.isSuccess == true) {
                    section = section.toLowerCase();
                    $("#hdnBudgetingIsSave").val("true");
                    if (tab.toLowerCase() == 'actual' || tab.toLowerCase() == 'budget') {
                        $("#hdnBudgetingExpandId").val(section + entityId);
                    }
                    else {
                        var sectionIntializer = section == "tactic" ? "cpt" : section == "program" ? "cp" : section == "campaign" ? "c" : "";
                        $("#hdnBudgetingExpandId").val(section + sectionIntializer + '_' + entityId);
                    }
                }
                else {
                    $('#cErrorDuplicatePlan').html('<strong>Error! </strong> ' + data.errormsg);
                    $('#errorMessageDuplicatePlan').slideDown(700);

                }
            }
        });
    }

    $(".grid_Search").off("click");
    $(".grid_Search").click(function (e) {
        inspectCloseFocus = $(this).position().top;
        var EntityIdWithSection = $(this).parent().parent().find('td:first').html().split(';');
        var id = EntityIdWithSection[0];
        var type = $(this).attr('id');
        gridSearchFlag = 1;
        DisplayEditablePopup(id, type);
    });
    function showModal() {
        LoadFileInputModelBox();
        $('#ImportModal').modal('show');
    }
</script>