@model RevenuePlanner.Models.Plan_Campaign_Program_Tactic_LineItemModel
@using RevenuePlanner.Helpers
@{
    
    string campaignTitle = Convert.ToString(ViewBag.CampaignTitle);
    string programTitle = Convert.ToString(ViewBag.ProgramTitle);
    string tacticTitle = Convert.ToString(ViewBag.TacticTitle);
    string owner = Convert.ToString(ViewBag.Owner);
    bool isOtherLineitem = false;
    if (Model!=null)
    {
        isOtherLineitem = Model.IsOtherLineItem;
    }

    //// Flag to indicate unavailability of web service.
    //// Added By: Maninder Singh Wadhva on 11/24/2014.
    //// Ticket: 942 Exception handeling in Gameplan.
    bool isServiceUnavailable = Convert.ToBoolean(ViewBag.IsServiceUnavailable);
}

<script src="~/Scripts/js/bootstrap-datepicker.js"></script>
<style type="text/css">
    #btnCancel {
        color: gray;
        margin-top: 6px;
    }
    #divPartial .simpleSelectBox .sbHolder {
            background: url(@Url.Content("~/Content/images/button-arrow.png")) no-repeat scroll right 8px center #dff0f8 !important;
            box-shadow: 1px -8px 13px #dff0f8 inset, 0 1px 2px #ededed;
            margin-bottom: 0;
            z-index: auto;
    }
    #divPartial .ui-multiselect {
         background: none repeat scroll 0 0 #dff0f8 !important;
     }
    #divPartial .sbToggle {
        border-top: 4px solid #6d6d6d !important;
    }
    #divPartial .sbHolder {
        background-color: #dff0f8 !important;
        background-image:none;
    }
     #multipleselect_LineItemTypeId {
        left: 0 !important;
        top: 20px !important;
        min-width:205px;
    }
</style>
@using (Html.BeginForm())
{
    
    @Html.HiddenFor(model => model.PlanLineItemId, new { id = "PlanLineItemId" })
    @Html.HiddenFor(model => model.PlanTacticId, new { id = "PlanTacticId" })
     @Html.HiddenFor(model => model.IsOtherLineItem, new { id = "hdnIsOtherLineItem" })
    @Html.HiddenFor(model => model.Description, new { id = "hdnDescription" })
    <div class="inspect-column-parent source-sans-proregular remove-bottom-border inspect-column-parent-reformatting" style="margin-bottom:0px;">

        <div class="span6" id="inspect-modal-left-column1">
            <p>@Html.Raw("Parent Campaign")</p>
            @Html.TextBox("txtCamapignTitle", HttpUtility.HtmlDecode(campaignTitle), new { @class = "input-small truncate", style = "background:#F2F2F2;", @readonly = "true", title = campaignTitle })
            <p>@Html.Raw("Parent Program")</p>
            @Html.TextBox("txtProgramTitle", HttpUtility.HtmlDecode(programTitle), new { @class = "input-small truncate", style = "background:#F2F2F2;", @readonly = "true", title = programTitle })

            <p>@Html.Raw("Description")</p>
            @Html.TextArea("Description", Model.Description, new { id = "txtDescription", @class = "span12 text-area-size input-setup", style = "height:92px;" })     @*Modified by Viral Kadiya on 11/15/2014 to resolve issue for PL ticket #794*@
            <div style="clear: both; width: 250%;">
                <label style="color: #808080" id="last-synced" class="pull-left">@ViewBag.LastSync</label>
            </div>
        </div>
        <div class="span3" id="inspect-modal-left-column2" style="margin-left: 10px;">
            <p>@Html.Raw("Parent Tactic")</p>
            @Html.TextBox("txtTacticTitle", HttpUtility.HtmlDecode(tacticTitle), new { @class = "input-small truncate", style = "background:#F2F2F2;", @readonly = "true", title = tacticTitle })
              <p id="lblType">Type <span class="required-asterisk">*</span></p>
            <span style="min-width: 100%; position: relative;">
                @Html.DropDownListFor(model => model.LineItemTypeId, new SelectList((System.Collections.IEnumerable)ViewBag.lineItemTypes, "LineItemTypeId", "Title"), "Please Select", new { @class = "ddlStyle resubmission hide", require = "true", label = "Type" })
            </span>


        </div>
        <div class="span3" id="inspect-modal-left-column3">
            <p>@Html.Raw("Owner")</p>
            @Html.TextBox("txtOwner", owner, new { @class = "span12 input-small truncate", style = "background:#F2F2F2;", @readonly = "true" })
            <p>@Html.Raw("Line Item Cost")</p>
            @Html.TextBoxFor(model => model.Cost, new { @class = "span12 input-small currency_dollar truncate input-setup", id = "txtLineItemCost" })

        </div>
    </div>
          
    @*<div style="width: 100%; clear: both" class="wraper-btns cf border-top-div ">
        <div class="span2 btn-save" style="width: 80px;">
            <button id="save_LineItem" class="btn btn-blue text-shadow-blue source-sans-proregular margin-top23 popup_button_save" type="button">Save </button>
        </div>
        <div class="span2">
            <button id="btnCancel" class="close-form btn-link source-sans-proregular popup_button_cancel" style="float: left; margin-top: 30px !important" type="button">Cancel</button>
        </div>
    </div>*@
    
}
<script type="text/javascript">
    //// Function to redirect to login page on unavailability of web service.
    //// Added By: Maninder Singh Wadhva on 11/24/2014.
    //// Ticket: 942 Exception handeling in Gameplan.
    function redirectOnServiceUnavailibility() {
        if ('@Html.Raw(Json.Encode(isServiceUnavailable))' == 'true') {
            window.location = '@Url.Content(Common.RedirectOnServiceUnavailibilityPage)';
        }
    }

    $(document).ready(function () {
        //// Call function to redirect on service unavailibility.
        //// Added By: Maninder Singh Wadhva on 11/24/2014.
        //// Ticket: 942 Exception handeling in Gameplan.
        redirectOnServiceUnavailibility();

        $("#successMessageViewLineItem").slideUp(50);
        $("#errorMessageEditLineitem").slideUp(50);
        $('.currency_dollar').priceFormat({ prefix: '$', centsSeparator: '', thousandsSeparator: ',', centsLimit: 0 });
        //$(".simpleSelectBox select").selectbox();
        $('#LineItemTypeId').multiselect({
            multiple: false,
            noneSelectedText: "Please Select",
            selectedList: 1,
            CustomName: '@Common.CustomTitle'
         }).multiselectfilter();

        $('#LineItemTypeId').next().css('width', '95%');
        $('#LineItemTypeId').next().css('min-height', '30px');

        var spanLineItemType = $('#multipleselect_LineItemTypeId');
        $('#btnMultiselect_LineItemTypeId').after(spanLineItemType);
       
        if ('@isOtherLineitem.ToString().ToLower()' == 'true') {
            $("#lblType").css("display", "none");
            $("#ddlTypeArea").css("display", "none");
            $('#txtLineItemCost').attr('readonly', true);
            $("#lblLineitemTitle").css('display', 'block');
            $("#txtTitle").css('display', 'none');
        }
        //Start - Added by Viral Kadiya on 17/11/2014 to resolve PL ticket #947.
        $('.input-setup').addClass('light-blue-background');
        $('.ddlStyle .ui-multiselect.ui-widget.ui-state-default.ui-corner-all').addClass('light-blue-background');
        //End - Added by Viral Kadiya on 17/11/2014 to resolve PL ticket #947.

    });


    //<--- End Document.ready event  --->

    $("#btnCancel").click(function () {
        if ($('#PlanLineItemId').val() != '0') {
            CancelEvent();
            $("#successMessageViewLineItem").slideUp(50);
            $("#errorMessageEditLineitem").slideUp(50);
            $('#txtTitle').val($('#lblLineitemTitle').text());
        }
        else {
            $('.close-x-big-icon').trigger('click');
        }
    });

    function CancelEvent() {
        $("#hdnLineitemOpt").val("View");
        loadReview('@Model.PlanLineItemId', "Setup");
        $("#btnEditlineItem").css("display", "block");
        $("#AddForm").css("display", "block");
        $("#divDeleteProgram").css("display", "block");
        $('#txtTitle').css('display', 'none');
        $('#lblLineitemTitle').css('display', 'block');
        $("#lblLineitemTitle").removeAttr("style");
    }
    $(".alert").find(".close").on("click", function (e) {
        e.stopPropagation();
        e.preventDefault();
        $(this).closest(".alert").slideUp(300);/*SlideUp value change 400 to 300 by Mitesh Vaishnav on 04 july 2014*/
    });
    function ShowError(value) {
        $("#modal-container-186470").scrollTop(0);
        $("#successMessageViewLineItem").slideUp(400);
        $("#spanSuccessMessageViewLineitem").empty();
        $("#errorMessageEditLineitem").slideDown(400);
        $("#spanMessageEditLineitem").empty();
        $("#spanMessageEditLineitem").html(value);
    }
    $("#txtLineItemCost").keyup(function () {
        var LineItemBudgetValue = ReplaceCC($("#txtLineItemCost").val());
        if (LineItemBudgetValue == '' || typeof LineItemBudgetValue == 'undefined') {
            $("#txtLineItemCost").val('$0')
        }
    });
    function SetupSaveLineitem() {
       
        var returnparameter = false;
      //  $("#save_LineItem").click(function () {
        var iserror = false;
        var lineItemTitle = htmlEncode($('#txtTitle').val());

        if ($('#txtTitle').val().toString().toLowerCase().trim() == '@Common.DefaultLineItemTitle.ToLower()' && $('#lblLineitemTitle').css('display') != 'block') {
            var errorMsg = "You can't use 'Other' as title.";
            ShowError(errorMsg);
            return false;
        }
        if ($('#txtTitle').val().toString().toLowerCase().trim() != '@Common.DefaultLineItemTitle.ToLower()') {
        $('form').find('input[type=text], select, textarea').each(function () {
            if ($(this).attr('require') == 'true') {
                if ($(this).val() == '') {
                    $(this).addClass("error");
                    iserror = true;
                }
                else {
                    $(this).removeClass("error");
                }
            }
        });

        //$('form').find('.sbSelector').each(function () {
        //    if ($(this).parent().prev().attr('require') == 'true') {
        //        if ($(this).text() == 'Please Select') {
        //            $(this).addClass("error");
        //            iserror = true;
        //        }
        //        else {
        //            $(this).removeClass("error");
        //        }
        //    }
            //});
        if (!($("#hdnInspectMode").val() == '@Enums.InspectPopupMode.Add.ToString()')) {
            var LineItemTypeValue = $('#LineItemTypeId').val();
            if (LineItemTypeValue == "") {
                $('#btnMultiselect_LineItemTypeId').addClass("error");
            }
            else {
                $('#btnMultiselect_LineItemTypeId').removeClass("error");
            }
        }
        }

        if (iserror) {
            ShowError("@RevenuePlanner.Helpers.Common.objCached.ValidateForEmptyField");
            return false;
        }

        var regex = /(>|<)/m;

        var descriptionvalue = $("#txtDescription").val();
        if (descriptionvalue.search(regex) >= 0) {
            ShowError("@RevenuePlanner.Helpers.Common.objCached.InvalidCharacterofDescription");
            $("#txtDescription").addClass("error");
            return false;
        }

        $("#txtLineItemCost").val(ReplaceCC($("#txtLineItemCost").val()));
        document.getElementById("txtDescription").value = htmlEncode($('#txtDescription').val());
        var uId = $(window).attr('name');

        document.getElementById("hdnDescription").value = htmlEncode($('#txtDescription').val());
        $.ajax({
            type: 'POST',
                async: false,
            url: '@Url.Content("~/Inspect/SaveLineitem")',
            data: $("form").serialize() + '&title='+escape(lineItemTitle)+'&tacticId=@Model.PlanTacticId'+'&UserId='+uId,
            success: function (data) {
                if (data.returnURL != 'undefined' && data.returnURL == '#') {
                    window.location = '@Url.Content("~/Login/Index")';
                }
                else {
                    if (data.isSaved) {
                        var activeTab = $("#InspectTab li.active a").text()
                        var planLineItemId = $("#PlanLineItemId").val();
                        $("#successMessage").css("display", "block");
                        $("#spanMessageSuccess").empty();
                        $("#spanMessageSuccess").text(data.msg);
                        $("#errorMessage").css("display", "none");
                        var requestedModule = $("#hdnRedirectType").val();
                        var plancampaignId = 0;
                        var planProgramId = 0;
                        var planTacticId = 0;
                        $("#liActuals,#liBudget,#liSetup").bind('click');
                        if (planLineItemId == '0') {
                            planLineItemId = data.planLineitemID;
                        }
                        plancampaignId = data.planCampaignID;
                        planProgramId = data.planProgramID;
                        planTacticId = data.planTacticID;
                        $('#lblLineitemTitle').text(lineItemTitle);
                        if (inspectMode == '@Enums.InspectPopupMode.Add.ToString()') {
                                var ChangedTab = "Setup";
                                if (tabtext != "") {
                                    ChangedTab = tabtext;
                                }
                                var inspectPopupMode = '@Enums.InspectPopupMode.Edit.ToString()';
                                if (ChangedTab == "Setup") {
                                    inspectPopupMode = '@Enums.InspectPopupMode.ReadOnly.ToString()';
                                }
                            loadInspectPopup(planLineItemId, "@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.LineItem).ToLower()", ChangedTab, inspectPopupMode, 0, requestedModule);
                            RefreshCurrentTab(requestedModule, plancampaignId, planProgramId, planTacticId);
                            }
                            else{
                        //   loadInspectPopup(planLineItemId, "@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.LineItem).ToLower()", activeTab, "@Enums.InspectPopupMode.ReadOnly.ToString()", 0, requestedModule);

                        if ("@Enums.InspectPopupRequestedModules.Budgeting.ToString()" == requestedModule) {
                            $("#hdnBudgetingExpandId").val("lineitem" + planLineItemId);
                            $("#hdnBudgetingIsSave").val("true");
                        }
                        else {
                            RefreshCurrentTab(requestedModule, plancampaignId, planProgramId, planTacticId);    //// Added by Sohel Pathan on 29/10/2014 for Internal Review Points
                        }
                        returnparameter = true;
                    }
                    }
                    else {
                        ShowError(data.msg);
                            returnparameter = false;
                    }
                }
            }
        });
        //   });
        return returnparameter;
    }
</script>
