@model RevenuePlanner.Models.InspectModel
@using RevenuePlanner.Helpers;
@{
    RevenuePlanner.Models.InspectModel planDetails = null;
    if(Model != null)
    {
        planDetails = Model;
    }

    var popupvalue = (string)planDetails.InspectPopup;
    var InspectMode = planDetails.InspectMode != null ? (string)planDetails.InspectMode : string.Empty;

    bool IsPlanEditable = (bool)planDetails.IsPlanEditable;
    bool IsPlanCreateAuthorized = (bool)ViewBag.IsPlanCreateAuthorized;
    string RequestedModule = planDetails.RedirectType != null ? planDetails.RedirectType : "";
    var RedirectTypeMode = (bool)(!string.IsNullOrEmpty(RequestedModule) ? (RequestedModule == Enums.InspectPopupRequestedModules.ApplyToCalendar.ToString() ? true : false) : false);
    bool isIndex = (bool)(!string.IsNullOrEmpty(RequestedModule) ? (RequestedModule == Enums.InspectPopupRequestedModules.Index.ToString() ? true : false) : true);
    var CalledFromBudget = (!string.IsNullOrEmpty(RequestedModule) ? (RequestedModule == Enums.InspectPopupRequestedModules.Budgeting.ToString() ? "Budegting" : "") : "");
    
    if (planDetails.PlanId != 0)
    {
        TempData["PlanModel"] = planDetails;

    }
    
}

@Html.Hidden("hdnPopup", popupvalue, new { id = "hdnInspectPopup" })
@Html.Hidden("hdnPlanId", planDetails.PlanId, new { id = "hdnPlanId" })
@Html.Hidden("hdnRequestedModule", RequestedModule, new { id = "hdnRequestedModule" })

<div id="successMessagePlan" class="alert hide alert-success messagewidth ">
    <a class="close">×</a>
    <strong>Success.</strong>
    <span id="spanSuccMessagePlan"></span>
</div>

<div id="errorMessagePlan" class="alert alert-error hide messagewidth ">
    <a class="close">×</a>
    <strong>Error!</strong>
    <span id="spanErrMessagePlan"></span>
</div>
<div id="divErrLessBudget" class="alert alert-error hide messagewidth">
    <a class="close">×</a>
    <strong>Error!</strong> <span>@Common.objCached.ErrMsgLessPlanBudget</span>
</div>
<div id="divBudgetError" class="alert alert-error hide messagewidth">
    <a class="close">×</a>
    <strong>Error! </strong><span id="BudgetErrorMessage">You cannot allocate more than budgeted for Jan and May .</span>
</div>

<div class="headerfix-wraper">
    @*Modified for Design changes ticket #1318*@
    <div class="headefix">

        <h2 class="title-simple source-sans-prolight">


            <span>
                @if (IsPlanEditable)
                {
                    <div id="divDeletePlan" style="float: right;" class="delete-btn-tab">
                        <button type="button" id="deletePlan" class="delete-btn-gray">Delete</button>
                    </div>
                }

                   @if (IsPlanCreateAuthorized)
                            {
                <div style="float: right; position: relative;">
                    <span id="AddForm" style="display: block; cursor: pointer; margin-right: 10px;z-index:1;" class="add-icon-white btn-blue btn-large"></span>
                    <div id="popupnewplan" style="display: none; position: absolute; top: 35px;" class="btn-dropdwn">
                        <ul style="margin: 0;">
                            @*Modified by Rahul Shah on 12/04/2016 for PL #2038*@
                            <li id="NewPlanfromPopup" class="new-prog">New Plan</li>
                            <li id="ClonePlan" class="copy-camp">Copy Plan</li>
                            <li id="NewCampaign" class="new-prog">New Campaign</li>
                         
                                
                            
                        </ul>
                    </div>
                </div>
                   }
                @if (IsPlanEditable)
                {
                    <div style="float: right; position: relative;">
                        @{
                    string classbutton = "edit-icon-white";
                    if (InspectMode == Enums.InspectPopupMode.Edit.ToString())
                    {
                        classbutton = "Save-icon-white";
                    }
                    <span id="EditForm" style="display: block; cursor: pointer; margin-right: 10px;z-index:1;" class="@classbutton btn-blue btn-large SpanDisable"></span>
                        }
                        <div id="popupeditplan" style="display: none; position: absolute; top: 35px;z-index:1;width:154px;" class="btn-dropdwn">
                            <ul style="margin: 0;">
                                <li id="lnkEdit" class="new-edit">Edit Details</li>
                                <li id="EditDefination" class="new-edit">Edit Plan Definition</li>
                            </ul>
                        </div>
                    </div>
                }


            </span>



            <button class="close-x-big-icon" data-dismiss="modal" aria-hidden="true"></button> @*Modified by Bhumika #2003 from "buttom" to "button"  *@

        </h2>

    </div>
</div>
<div class="pop-body-wraper">
    <div class="PopupDiv">
        <form>
            <div class="modal-popup-title">
                <span class="icon-flag bg-purple" style="background-color:#@planDetails.ColorCode !important;"></span>
                <h2 class="title-simple source-sans-prolight">
                    @if (InspectMode == Enums.InspectPopupMode.Edit.ToString())
                    {
                        @Html.TextBox("txtTitle", HttpUtility.HtmlDecode(planDetails.Title), new { placeholder = "Required", require = "true", maxlength = "255", @class = "span12 input-small font20 light-blue-background", style = "width: 95%; height: 28px;", title = planDetails.Title })
                        @Html.TextBox("txtTitle1", "", new { @style = "display:none", id = "txtTitle1" })
                    }
                    else
                    {
                        <span class="tipsyclassTitle ConcatTextlength" title="@Html.Raw(planDetails.Title)">@Html.Raw(planDetails.Title)</span>
                        <div style="float: right; position: relative;">
                            <button id="BtnPlan" class="GoToPlan-icon btn-Green btn-large" style="display: block; cursor: pointer; margin-right: 10px;z-index:1;" type="button" onclick="window.location.href=' @Url.Action("Index", "Home",new{activemenu = Enums.ActiveMenu.Plan,currentPlanId = planDetails.PlanId}) '"></button>
                        </div>
                    }

                </h2>

            </div>
</form>
<div>
    <ul class="nav nav-tabs new-margin no-position SpanDisable" id="InspectTab">
        <li class="active pull-left" id="liSetup">
            <a>Setup</a>
        </li>
        @*Commented by Arpita Soni for Ticket #2236 on 06/20/2016*@
        @*@if(!Sessions.IsBudgetShow)
        {
            <li class="pull-left" id="liBudget">
                <a>Budget</a>
            </li>
        }*@
    </ul>
    <div id="divTab">
    </div>
</div>
    </div>
</div>

<script type="text/javascript">

    var divPartial = "#divPartial";
    var TabSetup = "Setup";
    // Commented by Arpita Soni for Ticket #2236 on 06/20/2016
    //var TabBudget = "Budget";
    var divTab = "#divTab";

    $(document).ready(function () {
        var modelHeight = $(window).height();
        var headerHeight = $('.headerfix-wraper').height();
        var bodyWrapperMaxHeight = modelHeight - headerHeight - 100;
        //$('.pop-body-wraper').css('height', '92%');
        CloseIconClick();
        NumberFormatterTipsyTitle(".tipsyclassTitle", 55);
        var InspectValue = $("#hdnInspectPopup").val();
        var planId = $("#hdnPlanId").val();
        // Call Remove Tabclass
        RemoveTabClass();

        $("#li" + InspectValue).removeClass("pull-left");
        $("#li" + InspectValue).addClass("active pull-left");
        var tabtext = ($("#li" + InspectValue).children('a').text());
        $('#div' + tabtext).css({ display: "block" });
        loadInnerTabs(planId, tabtext);
    });

    function RemoveTabClass() {
        $('#InspectTab').children().each(function () {
            if ($(this).hasClass('active pull-left')) {
                $(this).removeClass("active pull-left");
                $(this).addClass("pull-left");
            }
        });
    }

    function loadInnerTabs(id, tabValue) {
        $("#hdnInspectPopup").val(tabValue);
        $.ajaxSetup({ cache: false });
        var url;
        if (tabValue == TabSetup) {
            url = '@Url.Content("~/Inspect/LoadPlanSetup/")';
        }
        // Commented by Arpita Soni for Ticket #2236 on 06/20/2016
        @*else if (tabValue == TabBudget) {
            url = '@Url.Content("~/Inspect/LoadPlanBudget/")';
        }*@

        RemoveTabClass();
        $("#li" + tabValue).removeClass("pull-left");
        $("#li" + tabValue).addClass("active pull-left");
        $('#div' + tabValue).css({ display: "block" });

        $("#divTab").empty();
        $("#divTab").load(url + '?id=' + id + '&InspectPopupMode=' + '@InspectMode', function (response, status, xhr) {
            if (response == '{"serviceUnavailable":"~/Login/ServiceUnavailable"}') {
                //// Call function to redirect on service unavailibility.
                //// Added By: Maninder Singh Wadhva on 11/24/2014.
                //// Ticket: 942 Exception handeling in Gameplan.
                window.location = '@Url.Content(Common.RedirectOnServiceUnavailibilityPage)';
            }
            // Modified by Komal Rawal for #2165 clicking on tabs or button before loading gets complete gives elmah error.
            $('#InspectTab').removeClass('SpanDisable');
        });
    }

    // Click on Tab Partialview Refresh Based On Selected Tab
    $("#liSetup").on("click", function () {
        // Modified by Komal Rawal for #2165 clicking on tabs or button before loading gets complete gives elmah error.
        if ($('#InspectTab').hasClass('SpanDisable') == false) {
            $('#EditForm').removeClass('SpanDisable');
            $('#InspectTab').addClass('SpanDisable');
            var activeTab = $("#InspectTab li.active a").text();
            var tabtext = ($(this).children('a').text());
            var planId = $("#hdnPlanId").val();
            // If condition added by bhavesh, if same tab click then don't require to save data. Date : 10-jan-2015.Ticket: #1823
            var returnpara = true;
            if (tabtext != activeTab) {
                var returnpara = SaveAllData(activeTab);   //Added By Komal Rawal for #1327
            }
            if (returnpara) {
                RemoveTabClass();
                $(this).removeClass("pull-left");
                $(this).addClass("active pull-left");
                HideAllMessages();
                loadInnerTabs(planId, tabtext);
            }
        }
    });


    //Added By Komal Rawal for #1327
    function SaveAllData(activeTab) {
        $('.btn-dropdwn').hide();
        if ('@InspectMode' == '@Enums.InspectPopupMode.Edit.ToString()') {
            if (activeTab == TabSetup) {
                var ReturnParameter = SetupPlanSave();
                if (ReturnParameter == false) {
                    $('#InspectTab').removeClass('SpanDisable');
                    return false;
                }
            }
            // Commented by Arpita Soni for Ticket #2236 on 06/20/2016
            //else if (activeTab == TabBudget) {
            //    var ReturnParameter = SavePlanBudget();
            //    if (ReturnParameter == false) {
            //        $('#InspectTab').removeClass('SpanDisable');
            //        return false;
            //    }
            //}
        }
        return true

          }
          //End

    // Close event for Error Message & Success Message Close button 
    $(".alert").find(".close").on("click", function (e) {
        e.stopPropagation();
        e.preventDefault();
        $(this).closest(".alert").css("display", "none");
    });

    function HideAllMessages() {
        $("#successMessagePlan").css("display", "none");
        $("#spanSuccMessagePlan").empty();
        $("#errorMessagePlan").css("display", "none");
        $("#spanErrMessagePlan").empty();
        $("#successMessage").css("display", "none");
        $("#spanMessageSuccess").empty();
        $("#errorMessage").css("display", "none");
        $("#spanMessageError").empty();
    }

    $('#EditForm').click(function () {
        // Modified by Komal Rawal for #2165 clicking on tabs or button before loading gets complete gives elmah error.
        if ($(this).hasClass('SpanDisable') == false) {
            var activeTab = $("#InspectTab li.active a").text();
            var planId = $("#hdnPlanId").val();
            //  var requestedModule = $("#hdnRequestedModule").val();
            if ($('#EditForm').hasClass('edit-icon-white')) {
                if ($('#popupeditplan').css('display') == 'none') {
                    $('#popupeditplan').css('display', 'block');
                }
                else {
                    $('#popupeditplan').css('display', 'none');
                }
            }
            else {      //Modified for #1327 to save the data on save button
                $('#popupeditplan').css('display', 'none');
                if (activeTab == TabSetup) {
                    var ReturnParameter = SetupPlanSave();
                    if (ReturnParameter == false) {
                        return false;
                    }
                    else {
                        $('.close-x-big-icon').trigger('click');


                    }
                }
                // Commented by Arpita Soni for Ticket #2236 on 06/20/2016
                //else if (activeTab == TabBudget) {
                //    var ReturnParameter = SavePlanBudget();
                //    if (ReturnParameter == false) {
                //        return false;
                //    }
                //    else {
                //        $('.close-x-big-icon').trigger('click');

                //    }
                //}

            }
            updatePlanNameDrp();
        }
    });

    function updatePlanNameDrp() {
        $('#nl-form2 > div[class="nl-field nl-dd"]').find('li').each(function (e) {
          var planid = $(this).val().toString();
            if (planid == '@planDetails.PlanId') {
                var updatedPlantext = $("#txtTitle").val();
                $(this).attr('originalvalue', updatedPlantext);
                $(this).text('');
                $(this).text(updatedPlantext);
                $(this).parent().parent().find('a').text(updatedPlantext)
            }
        });
    }

    $('#AddForm').click(function () {
        if ($('#popupnewplan').css('display') == 'none') {
            $('#popupnewplan').css('display', 'block')
        }
        else {
            $('#popupnewplan').css('display', 'none')
        }
    });

    $(document).mouseup(function (e) {
        var popup = $('#popupnewplan');
        var button = $('#AddForm');
        if (!popup.is(e.target) && popup.has(e.target).length === 0 && popup.css('display') == 'block' && !button.is(e.target) && button.has(e.target).length === 0) {
            $('#popupnewplan').css("display", "none");
        }

        var editpopup = $('#popupeditplan');
        var editbutton = $('#EditForm');
        if (!editpopup.is(e.target) && editpopup.has(e.target).length === 0 && editpopup.css('display') == 'block' && !editbutton.is(e.target) && editbutton.has(e.target).length === 0) {
            $('#popupeditplan').css("display", "none");
        }
    });

    $('#EditDefination').click(function () {
        var pid = $("#hdnPlanId").val();
        var url = '@Url.Content("~/Plan/CreatePlan?id=")' + pid;
        window.location.href = url;
    });

    $('#NewCampaign').click(function () {
        //Modified by Rahul Shah for PL #2031 on 22/03/2016
        var returnpara = true;
        var activeTab = $("#InspectTab li.active a").text();
        if (activeTab != null && activeTab != undefined && activeTab != '') {
            returnpara = SaveAllData(activeTab);
        }
        if (returnpara) {
            var planId = $("#hdnPlanId").val();
            loadInspectPopup('0', "@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.Campaign).ToLower()", "Setup", "@Enums.InspectPopupMode.Add.ToString()", planId, '@RequestedModule');
        }
    });

    $('#ClonePlan').click(function () {
        //Modified by Rahul Shah for PL #2031 on 22/03/2016
        var returnpara = true;        
        var activeTab = $("#InspectTab li.active a").text();
        if (activeTab != null && activeTab != undefined && activeTab != '') {
            returnpara = SaveAllData(activeTab);
        }
        if (returnpara) {
            var planId = $("#hdnPlanId").val();
            if (parseInt(planId) > 0) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Content("~/Plan/Clone")',
                    data: {
                        CloneType: '@Enums.DuplicationModule.Plan',
                        Id: '@Model.PlanId',
                        title: ''
                    },
                    success: function (data) {
                        if (data.returnURL != 'undefined' && data.returnURL == '#') {
                            window.location = '@Url.Content("~/Login/Index")';
                        }
                        else {
                            if (data.redirect) {
                                var currentTab = "Setup";
                                // Commented by Arpita Soni for Ticket #2236 on 06/20/2016
                                @*if ('@RequestedModule' == "@Enums.InspectPopupRequestedModules.Budgeting.ToString()") {
                                    currentTab = "Budget";
                                }*@

                                var planId = data.Id;
                                var expandplanProgramId = data.expand;
                                var planCampaignId = "";
                                var planProgramId = "";
                                //loadInspectPopup(planId, "@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.Plan).ToLower()", currentTab, "@Enums.InspectPopupMode.ReadOnly.ToString()", 0, '@RequestedModule');

                                if ("@Enums.InspectPopupRequestedModules.Budgeting.ToString()" == '@RequestedModule') {
                                    $("#hdnBudgetingExpandId").val(expandplanProgramId);
                                    $("#hdnBudgetingIsSave").val("true");
                                    $("#hdnBudgetingCurrentTab").val("aAllocated")
                                    $("#hdnBudgetingCurrentPlanId").val(planId)
                                }
                                else {
                                    RefreshCurrentTab('@RequestedModule', planCampaignId, planProgramId, 0);
                                }

                                $("#successMessage").css("display", "block");
                                $("#spanMessageSuccess").empty();
                                $("#spanMessageSuccess").text(data.msg);
                                return;
                            }
                            if (data.errormsg != '') {
                                $('#cErrorDuplicatePlan').html('<strong>Error! </strong> ' + $('#cErrorDuplicatePlan').html());
                                return;
                            }
                        }
                    }
                });
            }
        }
    });

    $('#lnkEdit').click(function () {
        isDataModified = true;
        var InspectValue = $("#hdnInspectPopup").val();
        var tabtext = ($("#li" + InspectValue).children('a').text());
        var planId = $("#hdnPlanId").val();
        HideAllMessages();
        var url = '@Url.Content("~/Inspect/LoadInspectPopup")';
        $("#divPartial").empty();
        $("#divPartial").load(url + '?id=' + planId + '&Section=' + "@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.Plan).ToLower()" + '&TabValue=' + tabtext + '&InspectPopupMode=' + "@Enums.InspectPopupMode.Edit.ToString()" + '&RequestedModule=' + '@RequestedModule', function (response, status, xhr) {
                $('#EditForm').removeClass('edit-icon-white');//Modified for #1318 by Komal Rawal
                $('#EditForm').addClass('Save-icon-white');
            if (response == '{"serviceUnavailable":"~/Login/ServiceUnavailable"}') {
                //// Call function to redirect on service unavailibility.
                //// Added By: Maninder Singh Wadhva on 11/24/2014.
                //// Ticket: 942 Exception handeling in Gameplan.
                window.location = '@Url.Content(Common.RedirectOnServiceUnavailibilityPage)';
            }
        });

       
        
    });

    $("#deletePlan").click(function () {
        if (confirm('@Common.objCached.PlanDeleteConfirmMessage')) {
            var planId = $("#hdnPlanId").val();
            var uId = $(window).attr('name');
            var arrClosedTaskString = null;
            if (typeof arrClosedTask != 'undefined') {
                arrClosedTaskString = arrClosedTask.toString();
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/Inspect/DeleteSection")',
                data: {
                    ID: planId,
                    DeleteType: '@Enums.DuplicationModule.Plan',
                    UserId: uId,
                    closedTask: arrClosedTaskString,
                    CalledFromBudget: '@CalledFromBudget',
                    IsIndex: '@isIndex',
                    RedirectType: '@RedirectTypeMode'
                },
                success: function (data) {
                    if (data.returnURL != 'undefined' && data.returnURL == '#') {
                        window.location = '@Url.Content("~/Login/Index")';
                    }
                    else {
                        if (data.IsSuccess && data.opt != 'undefined') {
                            if (data.opt == '@Enums.InspectPopupRequestedModules.Index.ToString()') {
                                $('#cSuccessDuplicatePlan').html('<strong>Success. </strong> ' + data.msg);
                                var url = '@Url.Content("~/Home/Index?ActiveMenu=")' + $('#ActiveMenu').val();
                                window.location.href = url;
                             }
                             else {
                                 window.location.href = data.redirect;
                                 return;
                             }
                         }
                         else {
                            $("#successMessagePlan").slideUp(50);
                             $("#errorMessagePlan").slideDown(400);
                             $("#spanErrMessagePlan").empty();
                             $("#spanErrMessagePlan").val(data.msg);
                             return false;
                         }
                     }
                }
            });
         }
    });
    //Added by Rahul Shah on 12/04/2016 for PL #2038
    $("#NewPlanfromPopup").click(function (e) {
        var returnpara = true;
        var activeTab = $("#InspectTab li.active a").text();
        if (activeTab != null && activeTab != undefined && activeTab != '') {
            returnpara = SaveAllData(activeTab);
        }
        if (returnpara) { 
            var url = '@Url.Action("CreatePlan", "Plan")';
            displayconfirm(url);
        }
    });

</script>
