@model RevenuePlanner.Models.InspectModel
@using RevenuePlanner.Helpers;
@{
    RevenuePlanner.Models.InspectModel campaignMaster = null;
    if (Model != null)
    {
        campaignMaster = Model;
    }
    var RedirectType = (string)campaignMaster.RedirectType;
    var RedirectTypeMode = (bool)(!string.IsNullOrEmpty(RedirectType) ? (RedirectType == Enums.InspectPopupRequestedModules.ApplyToCalendar.ToString() ? true : false) : false);
    bool isIndex = (bool)(!string.IsNullOrEmpty(RedirectType) ? (RedirectType == Enums.InspectPopupRequestedModules.Index.ToString() ? true : false) : true);
    var CalledFromBudget = (!string.IsNullOrEmpty(RedirectType) ? (RedirectType == Enums.InspectPopupRequestedModules.Budgeting.ToString() ? "Budegting" : "") : "");


    var planCampaignId = 0;
    var campaignStatus = "";
    string colorCode = "C6EBF3";
    string planId = Convert.ToString(campaignMaster.PlanId);
    string campaignTitle = "";



    string InspectMode = string.Empty;
    bool IsPlanEditable = false;
    bool IsPlanCreateAll = false;
    var popupvalue = string.Empty;
    if (campaignMaster != null)
    {
        //TempData["CampaignModel"] = campaignMaster;
        planCampaignId = campaignMaster.PlanCampaignId;
        campaignStatus = campaignMaster.Status;
        colorCode = campaignMaster.ColorCode;
        campaignTitle = campaignMaster.CampaignTitle;
        IsPlanEditable = (bool)campaignMaster.IsPlanEditable;
        IsPlanCreateAll = (bool)campaignMaster.IsPlanCreateAll;
        InspectMode = campaignMaster.InspectMode;
        popupvalue = (string)campaignMaster.InspectPopup;
    }
    //Added by Rahul Shah on 12/04/2016 for PL #2038
    var EntityId = planId + "_" + planCampaignId;

    //Added By komal Rawal For #1324 - To maintain the mode on tab change after review
    string Campaignopt = "";
    if (InspectMode == Enums.InspectPopupMode.ReadOnly.ToString())
    {
        Campaignopt = "View";
    }
    else
    {
        Campaignopt = "Edit";
    }

    //End
}

@Html.Hidden("hdnPopup", popupvalue, new { id = "hdnInspectPopup" })
@Html.Hidden("hdnPlanCampaignId", planCampaignId, new { id = "hdnPlanCampaignId" })
@Html.Hidden("hdnCampaignStatus", campaignStatus, new { id = "hdnCampaignStatus" })
@Html.Hidden("hdnCampaignOpt", Campaignopt, new { id = "hdnCampaignOpt" })   @* Modified By komal Rawal For #1324*@
@Html.Hidden("hdnCampaignTitle", HttpUtility.HtmlDecode(campaignTitle), new { id = "hdnCampaignTitle" })
@Html.Hidden("hdnRedirectType", RedirectType, new { id = "hdnRedirectType" })
@Html.Hidden("hdnIsPlanEditable", IsPlanEditable)
@Html.Hidden("hdnInspectMode", InspectMode, new { id = "hdnInspectMode" })
@Html.Hidden("hdnOwner", "", new { id = "hdnOwner" })

<style type="text/css">
    #successMessageViewCampaign, #errorMessageEditCampaign {
        margin-bottom: 15px !important;
    }
</style>

<div id="successMessageViewCampaign" class="alert hide alert-success messagewidth">
    <a class="close">×</a>
    <strong>Success.</strong>
    <span id="spanSuccessMessageViewCampaign"></span>
</div>

<div id="errorMessageEditCampaign" class="alert alert-error hide messagewidth ">
    <a class="close">×</a>
    <strong>Error!</strong>
    <span id="spanMessageEditCampaign"></span>
</div>
<div class="headerfix-wraper">
    @*Modified for Design changes ticket #1318*@
    <div class="headefix">

        <h2 class="title-simple source-sans-prolight">
            @if (campaignMaster.PlanCampaignId != 0)
            {

                <span>
                    @if (IsPlanEditable)
                    {
                        <div class="delete-btn-tab" style="float: right;" id="divDeleteCampaign">
                            <button class="delete-btn-gray" id="deleteCampaign" type="button">Delete</button>
                        </div>
                    }

                    @if (IsPlanCreateAll)
                    {
                        <div style="float: right; position: relative;">
                            <span class="add-icon-white btn-blue btn-large" style="display: block; cursor: pointer; margin-right: 10px;" id="AddForm"></span>
                            <div class="btn-dropdwn" style="display: none; position: absolute; top: 40px;z-index:1;" id="popupnewprogram">
                                <ul style="margin: 0;">
                                    @*Modified by Rahul Shah on 12/04/2016 for PL #2038*@
                                    <li class="new-prog" id="NewCampaignfromPopup">New Campaign</li>
                                    <li class="copy-camp" id="CloneCampaign">Copy Campaign</li>
                                    <li class="new-prog" id="NewProgram">New Program</li>
                                    <li class="new-prog" entityid=@EntityId sectiontype="Campaign" id="copyToCampaign" onclick="OpentCopyPopup(this)" popuptype="Copying" redirecttype=@RedirectType>Copy To</li>
                                </ul>
                            </div>
                        </div>
                    }
                    @if (IsPlanEditable)
                    {
                        <span class="edit-icon-white btn-blue btn-large SpanDisable" href="#" id="btnEditCampaign" style="margin-right: 15px; cursor: pointer;"></span>
                    }


                </span>


            }

            @if (campaignMaster.PlanCampaignId == 0)
            {
                <span class="Save-icon-white btn-blue btn-large SpanDisable" href="#" id="btnEditCampaign" style="margin-right: 15px;"></span>
            }

            <button class="close-x-big-icon" data-dismiss="modal" aria-hidden="true"></button> @*Modified by Bhumika #2003 from "buttom" to "button"  *@

        </h2>

    </div>
</div>
<div class="pop-body-wraper">
    <div class="PopupDiv">
        <form>
            <div class="modal-popup-title">
                <span class="icon-flag bg-purple" style="background-color:#@colorCode !important;"></span>
                <h2 class="title-simple source-sans-prolight">
                    <span>
                        <span id="lblCampaignTitle" class="tipsyclassTitle ConcatTextlength" title="@HttpUtility.HtmlDecode(campaignTitle)">@HttpUtility.HtmlDecode(campaignTitle)</span>
                    </span>
                    @Html.TextBox("txtTitle", HttpUtility.HtmlDecode(campaignTitle), new { placeholder = "Campaign name goes here", require = "true", maxlength = "255", @class = "span12 input-small light-blue-background", @style = "width: 95%; height: 28px;display:none;font-family:'source_sans_prolight', Arial, 'sans-serif';font-size:27px;color:#4d4d4d;line-height: normal;", title = HttpUtility.HtmlDecode(campaignTitle), id = "txtTitle" })
                    @Html.TextBox("txtTitle1", "", new { @style = "display:none", id = "txtTitle" })
                </h2>
            </div>
        </form>

        @if (campaignMaster.PlanCampaignId != 0)
        {
            <div class="modal-popup-summary" id="campaignSummary">
                <div id="nl-form" class="nl-form nl-form-modal source-sans-prolight" style="margin-bottom: 0px;">
                    <p class="modal-status">
                        Status:
                        @if (campaignMaster.Status == Enums.TacticStatusValues.Single(tacticStatus => tacticStatus.Key.Equals(Enums.TacticStatus.Submitted.ToString())).Value)
                        {
                            <span id="status" class="source-sans-prosemibold statussubmitted">@campaignMaster.Status</span>
                        }
                        else if (campaignMaster.Status == Enums.TacticStatusValues.Single(tacticStatus => tacticStatus.Key.Equals(Enums.TacticStatus.Decline.ToString())).Value)
                        {
                            <span id="status" class="source-sans-prosemibold statusrejected">@campaignMaster.Status</span>
                        }
                        else if (campaignMaster.Status == Enums.TacticStatusValues.Single(tacticStatus => tacticStatus.Key.Equals(Enums.TacticStatus.Complete.ToString())).Value ||
                                 campaignMaster.Status == Enums.TacticStatusValues.Single(tacticStatus => tacticStatus.Key.Equals(Enums.TacticStatus.InProgress.ToString())).Value ||
                                 campaignMaster.Status == Enums.TacticStatusValues.Single(tacticStatus => tacticStatus.Key.Equals(Enums.TacticStatus.Approved.ToString())).Value)
                        {
                            <span id="status" class="source-sans-prosemibold statusapproved">@campaignMaster.Status</span>
                        }
                        else if (campaignMaster.Status == Enums.TacticStatusValues.Single(tacticStatus => tacticStatus.Key.Equals(Enums.TacticStatus.Created.ToString())).Value)
                        {
                            <span id="status" class="source-sans-prosemibold statuscreated">@campaignMaster.Status</span>
                        }
                    </p>
                </div>
            </div>
        }
        <div>
            <ul class="nav nav-tabs new-margin no-position SpanDisable" id="InspectTab">
                <li class="active pull-left" id="liSetup">
                    <a>Setup</a>
                </li>
                <li class="pull-left" id="liReview">
                    <a>Review</a>
                </li>
		<!--  Commented by Arpita Soni for Ticket #2236 on 06/14/2016 -->
                @*@if (!Sessions.IsBudgetShow)
                {
                    <li class="pull-left" id="liBudget">
                        <a>Budget</a>
                    </li>
                }*@
            </ul>
            <div id="divTab">
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">

    var divPartial = "#divPartial";
    var TabSetup = "Setup";
    var TabReview = "Review";
    // Commented by Arpita Soni for Ticket #2236 on 06/14/2016
    //var TabBudget = "Budget";
    var divTab = "#divTab";
    var tabtext = "";
    $(document).ready(
      function () {
          //Bhumika - #2236 For equal width of li
          var evenWidth = ($("#InspectTab").width() / $("#InspectTab li").length) - 2;
          $("#InspectTab li").css("width", evenWidth);

          evenWidth = 0;
          var modelHeight = $(window).height();
          var headerHeight = $('.headerfix-wraper').height();
          var bodyWrapperMaxHeight = modelHeight - headerHeight - 100;
          //$('.pop-body-wraper').css('height', '92%');
          CloseIconClick();
          $("#btnEditCampaign").css("display", "block");
          $("#AddForm").css("display", "block");
          NumberFormatterTipsyTitle(".tipsyclassTitle", 55);
          var InspectValue = $("#hdnInspectPopup").val();
          var planCampaignId = $("#hdnPlanCampaignId").val();
          // Call Remove Tabclass
          RemoveTabClass();

          $("#li" + InspectValue).removeClass("pull-left");
          $("#li" + InspectValue).addClass("active pull-left");
          tabtext = ($("#li" + InspectValue).children('a').text());
          $('#div' + tabtext).css({ display: "block" });

          // Click on Tab Partialview Refresh Based On Selected Tab
	  // Commented by Arpita Soni for Ticket #2236 on 06/14/2016
          $("#liSetup,#liReview").on("click", function () {
              //added by devanshi for PL ticket #2276
              if (CheckHtmlTag($("#txtTitle").val()) == false) {
                  ShowError("@RevenuePlanner.Helpers.Common.objCached.TitleContainHTMLString");
                  $("#txtTitle").addClass("error");
                  return false;
              }
              //end
          //$("#liSetup,#liReview,#liBudget").on("click", function () {
              // Modified by Komal Rawal for #2165 clicking on tabs or button before loading gets complete gives elmah error.
              if($('#InspectTab').hasClass('SpanDisable') == false)
              {
                  $('#btnEditCampaign').removeClass('SpanDisable');
                  $('#InspectTab').addClass('SpanDisable');
                  var activeTab = $("#InspectTab li.active a").text();
                  tabtext = ($(this).children('a').text());
                  // If condition added by bhavesh, if same tab click then don't require to save data. Date : 10-jan-2015.Ticket: #1823
                  var returnpara = true;
                  if (tabtext != activeTab) {
                      var returnpara = SaveAllData(activeTab);   //Added By Komal Rawal for #1324
                  }

                  // If condition for campaign id , added by komal rawal for blank setup page on click of setup tab when we create new campaign . Date : 29-jan-2016.Ticket: #1938
                  var campaignId = $("#hdnPlanCampaignId").val();
                  if (campaignId != 0 || tabtext != activeTab) {
                      if (returnpara) {

                          //$("#successMessageViewCampaign").slideUp(50);
                          //$("#errorMessageEditCampaign").slideUp(50);
                          RemoveTabClass();
                          $(this).removeClass("pull-left");
                          $(this).addClass("active pull-left");
                          $("#errorMessage").css("display", "none");
                          $("#successMessage").css("display", "none");
                          $("#successMessageViewCampaign").css("display", "none");
                          $("#errorMessageEditCampaign").css("display", "none");
                          /*Changed by Nirav Shah for Inspect pop-up screen : CSS changes as per new HTML on 13 feb 2014*/

                          loadReview(campaignId, tabtext);
                      }
                  }
                  else {
                      loadAddSetup();
                  }
              }
          });


          //Added By Komal Rawal for #1324

          //End
          if (planCampaignId != 0) {
              if ($('#btnEditCampaign').hasClass('edit-icon-white') && $("#hdnCampaignOpt").val() == '@Enums.InspectPopupMode.Edit.ToString()') {
                  $('#btnEditCampaign').removeClass('edit-icon-white');//Modified for #1318 by Komal Rawal
                  $('#btnEditCampaign').addClass('Save-icon-white');
                  $("#errorMessageEditCampaign").css("display", "none");
                  $("#successMessageViewCampaign").css("display", "none");
                  $("#txtTitle").removeClass("error");
              }
              loadReview(planCampaignId, tabtext);
          }
          else {
              // $("#liReview ,#liBudget,#liSetup").unbind('click');
              loadAddSetup();
          }
          $("#btnEditCampaign").on("click", function () {
              //added by devanshi for PL ticket #2276
              if (CheckHtmlTag($("#txtTitle").val()) == false) {
                  ShowError("@RevenuePlanner.Helpers.Common.objCached.TitleContainHTMLString");
                  $("#txtTitle").addClass("error");
                  return false;
              }
              //end
              // Modified by Komal Rawal for #2165 clicking on tabs or button before loading gets complete gives elmah error.
              if($(this).hasClass('SpanDisable') == false)
              {
                  isDataModified = true;
                  var activeTab = $("#InspectTab li.active a").text();
                  if ($('#btnEditCampaign').hasClass('edit-icon-white')) {
                      $('#btnEditCampaign').removeClass('edit-icon-white');//Modified for #1318 by Komal Rawal
                      $('#btnEditCampaign').addClass('Save-icon-white');
                      $("#errorMessage").css("display", "none");
                      $("#successMessage").css("display", "none");
                      $("#hdnCampaignOpt").val("Edit");
                      var InspectValue = $("#hdnInspectPopup").val();
                      var tabtext = ($("#li" + InspectValue).children('a').text());

                      if (tabtext == "Setup") {
                          url = '@Url.Content("~/Inspect/LoadEditSetupCampaign/")';
                          $("#divTab").empty();
                          $("#divTab").load(url + '?id=' + planCampaignId
        , function (response, status, xhr) {
            if (response == '{"serviceUnavailable":"~/Login/ServiceUnavailable"}') {
                //// Call function to redirect on service unavailibility.
                //// Added By: Maninder Singh Wadhva on 11/24/2014.
                //// Ticket: 942 Exception handeling in Gameplan.
                window.location = '@Url.Content(Common.RedirectOnServiceUnavailibilityPage)';
            }
        });

                      }
		      // Commented by Arpita Soni for Ticket #2236 on 06/14/2016
                     @* else if (tabtext == "Budget") {
                          url = '@Url.Content("~/Inspect/LoadCampaignBudgetAllocation/")';
                          $("#divTab").empty();
                          $("#divTab").load(url + '?id=' + planCampaignId);
                      }*@
                      else if (tabtext == "Review") {
                          url = '@Url.Content("~/Inspect/LoadEditSetupCampaign/")';
                          $("#divTab").empty();
                          $("#divTab").load(url + '?id=' + planCampaignId
        , function (response, status, xhr) {
            if (response == '{"serviceUnavailable":"~/Login/ServiceUnavailable"}') {
                //// Call function to redirect on service unavailibility.
                //// Added By: Maninder Singh Wadhva on 11/24/2014.
                //// Ticket: 942 Exception handeling in Gameplan.
                window.location = '@Url.Content(Common.RedirectOnServiceUnavailibilityPage)';
            }
        });

                          RemoveTabClass();
                          $("#liSetup").removeClass('pull-left');
                          $("#liSetup").addClass('active pull-left');

                      }

                      //   $("#btnEditCampaign").css("display", "none");
                      //  $("#AddForm").css("display", "none");
                      $('#txtTitle').css('display', 'block');
                      $('#lblCampaignTitle').css('display', 'none');
                      $("#txtTitle").prop('readonly', false);
                      //  $('#divDeleteCampaign').css('display', 'none');
                      return false;
                  }
                      //Added by komal Rawal for #1324 - To save the Active Tab on Save Button
                  else {

                      if (activeTab == TabSetup) {
                          var ReturnParameter = SetupCampaignSave();
                          if (ReturnParameter == false) {
                              return false;
                          }
                          else {
                              $('.close-x-big-icon').trigger('click');


                          }
                      }
			// Commented by Arpita Soni for Ticket #2236 on 06/14/2016
                      //else if (activeTab == TabBudget) {
                      //    var ReturnParameter = BudgetCampaignSave();
                      //    if (ReturnParameter == false) {
                      //        return false;
                      //    }
                      //    else {
                      //        $('.close-x-big-icon').trigger('click');


                      //    }
                      //}

                      else if (activeTab == TabReview) {
                          var ReturnParameter = SaveTitle();
                          if (ReturnParameter == false) {
                              return false;
                          }
                          else {
                              $('.close-x-big-icon').trigger('click');

                          }

                      }

                  }
              }

          });

          $("#btnAddCampaign").on("click", function () {
              loadInspectPopup('0', "@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.Program).ToLower()", "Setup", '@Enums.InspectPopupMode.Add.ToString()', '@planCampaignId', $("#hdnRedirectType").val());
          });
          $('#NewProgram').click(function () {
              //Modified by Rahul Shah for PL #2031 on 22/03/2016
              var returnpara = true;
              var activeTab = $("#InspectTab li.active a").text();
              if (activeTab != null && activeTab != undefined && activeTab != '') {
                  returnpara = SaveAllData(activeTab);
              }
              if(returnpara){
                  loadInspectPopup('0', "@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.Program).ToLower()", "Setup", '@Enums.InspectPopupMode.Add.ToString()', $('#hdnPlanCampaignId').val(), $("#hdnRedirectType").val());
              }
          });

          // Close event for Error Message & Success Message Close button
          $(".alert").find(".close").on("click", function (e) {
              e.stopPropagation();
              e.preventDefault();
              $(this).closest(".alert").css("display", "none");
              /*Changed by Nirav Shah for Inspect pop-up screen : CSS changes as per new HTML on 13 feb 2014*/
          });
          $('#CloneCampaign').click(function () {
              var returnpara = true;
              var activeTab = $("#InspectTab li.active a").text();
              if (activeTab != null && activeTab != undefined && activeTab != '') {
                  returnpara = SaveAllData(activeTab);
              }
              if(returnpara) {
                  isDataModified = true;
                  var idPlanCamaign = $("#hdnPlanCampaignId").val();
                  var Title = $("#lblCampaignTitle").html();
                  $.ajax({
                      type: 'POST',
                      url: '@Url.Content("~/Inspect/Clone")',
                      data: {
                          CloneType: '@Enums.DuplicationModule.Campaign',
                          Id: idPlanCamaign,
                          title: Title,
                          CalledFromBudget: '@CalledFromBudget',
                          RequsetedModule: '@RedirectType',
                          planId: '@planId'
                      },
                      success: function (data) {
                          if (data.IsSuccess != 'undefined' && data.IsSuccess == '#') {
                              window.location = '@Url.Content("~/Login/Index")';
                          }
                          else if (data.IsSuccess) {

                              var currentTab = "Setup";
			      // Commented by Arpita Soni for Ticket #2236 on 06/14/2016
                             @* if ('@RedirectType' == "@Enums.InspectPopupRequestedModules.Budgeting.ToString()") {
                                  currentTab = "Budget";
                              }*@
                              var planCampaignId = data.Id;
                              var expandplanCampaignId = data.expand;
                              var planProgramId = "";

                              loadInspectPopup(planCampaignId, "@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.Campaign).ToLower()", currentTab, "@Enums.InspectPopupMode.ReadOnly.ToString()", 0, '@RedirectType');

                              if ("@Enums.InspectPopupRequestedModules.Budgeting.ToString()" == '@RedirectType') {
                                  $("#hdnBudgetingExpandId").val(expandplanCampaignId);
                                  $("#hdnBudgetingIsSave").val("true");
                              }

                              $("#successMessage").css("display", "block");
                              $("#spanMessageSuccess").empty();
                              $("#spanMessageSuccess").text(data.msg);
                              $("#errorMessage").css("display", "none");
                              $("#hdnIsCreate_Clone").val(true); //// Hidden value used in _plan.cshmtl page to check that page require to refresh or not.
                              RefershPlanHeaderCalc();   //Modified By Komal Rawal on 04-03-16 to get proper value in header according to filter on add or copy Campaign.
                              return;

                          }
                          else {
                              $("#successMessageViewCampaign").slideUp(50);
                              $("#errorMessageEditCampaign").slideDown(400);
                              $("#spanMessageEditCampaign").empty();
                              $("#spanMessageEditCampaign").val(data.msg);
                              return false;
                          }
                      }
                  });
              }
          });


      });

    function SaveAllData(activeTab) {
        var CampaignOpt = $("#hdnCampaignOpt").val();
        $('.btn-dropdwn').hide();
        if (CampaignOpt == '@Enums.InspectPopupMode.Edit.ToString()') {
            if (activeTab == TabSetup) {
                var ReturnParameter = SetupCampaignSave();
                if (ReturnParameter == false) {
                    $('#InspectTab').removeClass('SpanDisable');
                    return false;
                }
            }
		// Commented by Arpita Soni for Ticket #2236 on 06/14/2016
            //else if (activeTab == TabBudget) {
            //    var ReturnParameter = BudgetCampaignSave();
            //    if (ReturnParameter == false) {
            //        $('#InspectTab').removeClass('SpanDisable');
            //        return false;
            //    }
            //}

            else if (activeTab = TabReview) {

                var ReturnParameter = SaveTitle();
                if (ReturnParameter == false) {
                    $('#InspectTab').removeClass('SpanDisable');
                    return false;
                }
            }


        }

        return true;
    }
    //End

    //Added By komal rawal for saving the Tactictitle in actual tab of Edit Mode
    function SaveTitle() {
        var returnparameter = false;
        var campaignTitle = htmlEncode($('#txtTitle').val());
        var campaignId = $("#hdnPlanCampaignId").val()
        var iserror = false;

        if (campaignTitle == "") {
            $('#txtTitle').addClass("error");
            iserror = true;
        }
        else {
            $('#txtTitle').removeClass("error");
        }
        if (iserror) {
            ShowError("@RevenuePlanner.Helpers.Common.objCached.ValidateForEmptyField");
            $('#InspectTab').removeClass('SpanDisable');
            return false;
        }
        $.ajax({
            async: false,
            type: 'POST',
            url: '@Url.Content("~/Inspect/SaveTitle/")',
            data: { title: campaignTitle, Id: campaignId, ActivePopup: "Campaign" },
            success: function (data) {
                if (!data.IsDuplicate) {
                    var requestedModule = $("#hdnRequestedModule").val();
                    $('#lblCampaignTitle').text(campaignTitle);
                    $("#successMessage").css("display", "block");
                    $("#spanMessageSuccess").empty();
                    $("#spanMessageSuccess").text(data.msg);
                    $("#errorMessage").css("display", "none");
                    // Comment By Bhavesh Date: 6-jan-2015, Ticket #1793
                    // RefreshCurrentTab(requestedModule, 0, 0, 0);
                    returnparameter = true
                }
                else {
                    ShowError(data.msg);
                    returnparameter = false;
                }
            }
        });
        return returnparameter;
    }
    function RemoveTabClass() {
        $('#InspectTab').children().each(function () {
            if ($(this).hasClass('active pull-left')) {
                $(this).removeClass("active pull-left");
                $(this).addClass("pull-left");
            }
        });
    }

    function loadReview(id, tabValue) {
        $("#hdnInspectPopup").val(tabValue);
        $.ajaxSetup({ cache: false });
        var url;

        var CampaignOpt = $("#hdnCampaignOpt").val();
        if (tabValue == TabSetup) {

            if (CampaignOpt == "Edit") {
                // BudgetCampaignSave();
                $('#txtTitle').css('display', 'block');
                $('#lblCampaignTitle').css('display', 'none');
                url = '@Url.Content("~/Inspect/LoadEditSetupCampaign/")';
            }
            else {
                url = '@Url.Content("~/Inspect/LoadSetupCampaign/")';
            }
        }
        if (tabValue == TabReview) {
            if (CampaignOpt == "Edit") {
                $('#txtTitle').css('display', 'block');
                $('#lblCampaignTitle').css('display', 'none');
            }
            url = '@Url.Content("~/Inspect/LoadReviewCampaign/")';
        }
	// Commented by Arpita Soni for Ticket #2236 on 06/14/2016
       @* if (tabValue == TabBudget) {

            if (CampaignOpt == "Edit") {
                $('#txtTitle').css('display', 'block');
                $('#lblCampaignTitle').css('display', 'none');
                // SetupCampaignSave();
            }
            url = '@Url.Content("~/Inspect/LoadCampaignBudgetAllocation/")';
        }*@

        RemoveTabClass();
        $("#li" + tabValue).removeClass("pull-left");
        $("#li" + tabValue).addClass("active pull-left");
        $('#div' + tabValue).css({ display: "block" });

        $("#divTab").empty();

        $("#divTab").load(url + '?id=' + id, function (response, status, xhr) {
            if (response == '{"serviceUnavailable":"~/Login/ServiceUnavailable"}') {
                //// Call function to redirect on service unavailibility.
                //// Added By: Maninder Singh Wadhva on 11/24/2014.
                //// Ticket: 942 Exception handeling in Gameplan.
                window.location = '@Url.Content(Common.RedirectOnServiceUnavailibilityPage)';
            }

            $('#InspectTab').removeClass('SpanDisable');
        });
    }
    function loadAddSetup() {
        $("#errorMessage").css("display", "none");
        $("#successMessage").css("display", "none");
        $("#hdnCampaignOpt").val("Edit");
        var InspectValue = $("#hdnInspectPopup").val();
        var tabtext = ($("#li" + InspectValue).children('a').text());
        var planId = '@planId';
        if (tabtext == "Setup") {
            url = '@Url.Content("~/Inspect/CreateCampaign/")';
            $("#divTab").empty();
            $("#divTab").load(url + '?id=' +planId.toString());
        }
        // $("#btnEditCampaign").css("display", "none");
        //  $("#AddForm").css("display", "none");
        //$(".btn-group").css("display", "none");
        $('#btnEditCampaign').removeClass('edit-icon-white');//Modified for #1318 by Komal Rawal
        $('#btnEditCampaign').addClass('Save-icon-white');
        $('#txtTitle').css('display', 'block');
        $('#txtTitle').text('');
        $('#lblCampaignTitle').css('display', 'none');
        return false;
    }
    $('#AddForm').click(function () {
        if ($('#popupnewprogram').css('display') == 'none') {
            $('#popupnewprogram').css('display', 'block')
        }
        else {
            $('#popupnewprogram').css('display', 'none')
        }
    });

    $(document).mouseup(function (e) {
        var popup = $('#popupnewprogram');
        var button = $('#AddForm');
        if (!popup.is(e.target) && popup.has(e.target).length === 0 && popup.css('display') == 'block' && !button.is(e.target) && button.has(e.target).length === 0) {
            $('#popupnewprogram').css("display", "none");
        }
    });


    function SaveMessageOnParent(value) {
        $("#modal-container-186470").modal('hide');
        $("#errorMessageDuplicatePlan").slideUp(50);
        $("#successMessageDuplicatePlan").slideDown(400);
        $("#cSuccessDuplicatePlan").empty();
        $("#cSuccessDuplicatePlan").text(htmlDecode(value));
        $("#successMessageDuplicatePlan").removeClass("message-position");
        $("#successMessageDuplicatePlan").addClass("successMessage-InspectPopUpSections");

    }

    $("#deleteCampaign").click(function () {
        if (confirm('@Common.objCached.ConfirmationForDeleteCampaign')) {
            isDataModified = true;
            var campaignId = $("#hdnPlanCampaignId").val();
            var uId = $(window).attr('name');
            var arrClosedTaskString = null;
            if (typeof arrClosedTask != 'undefined') {
                arrClosedTaskString = arrClosedTask.toString();
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/Inspect/DeleteSection")',
                data: {
                    ID: campaignId
                    , DeleteType: '@Enums.DuplicationModule.Campaign'
                     , UserId: uId
                     , closedTask: arrClosedTaskString
                     , CalledFromBudget: '@CalledFromBudget'
                        , IsIndex: '@isIndex'
                        , RedirectType: '@RedirectTypeMode'
                },
                success: function (data) {
                    if (data.returnURL != 'undefined' && data.returnURL == '#') {
                        window.location = '@Url.Content("~/Login/Index")';
                    }
                    else {
                        if (data.IsSuccess && data.opt != 'undefined') {
                            if (data.opt == '@Enums.InspectPopupRequestedModules.Index.ToString()') {

                                // Added by Arpita Soni for Ticket #2354 on 07/14/2016
                                RemoveAllHoneyCombData();

                                SaveMessageOnParent(data.msg);
                                RefershPlanHeaderCalc();
                                //Added By : Kalpesh Sharma Internal review points 18/11/2014
                                if ($('#IsGridView').val().toLowerCase() == "true") { //Modified by Komal Rawal for 2013 Home/Plan Layout changes
                                    LoadPlanGrid();
                                    gridSearchFlag = 0;
                                }
                                else {
                                    RefreshCurrentTab();
                                }
                                addDefaultModalPopupBackgroungColor();
                                $("#modal-container-186470").addClass("transition-close");
                                $("#modal-container-186470").removeClass("transition_y");
                                $('body').removeClass('bodyOverflow');
                            }
                            else {
                                window.location.href = data.redirect;
                                return;
                            }
                        }
                        else {
                            $("#successMessageViewCampaign").slideUp(50);
                            $("#errorMessageEditCampaign").slideDown(400);
                            $("#spanMessageEditCampaign").empty();
                            $("#spanMessageEditCampaign").val(data.msg);
                            return false;
                        }
                    }
                }
            });
        }
    });
    //Added by Rahul Shah on 12/04/2016 for PL #2038
    $('#NewCampaignfromPopup').click(function () {
        var returnpara = true;
        var activeTab = $("#InspectTab li.active a").text();
        if (activeTab != null && activeTab != undefined && activeTab != '') {
            returnpara = SaveAllData(activeTab);
        }
        var planId = '@planId';
        isCopyTactic = planId;
        if(returnpara){
            ShowModels("@Enums.InspectPopupMode.Add.ToString()", "@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.Campaign).ToLower()", 0, planId, '@RedirectType');
        }
        //$('.taskpopup').css('display', 'none');
    });
</script>
