@{
    var redirectionType = (string)ViewBag.RedirectionType;
}
<link href="@Url.Content("~/Content/css/Select2/select2.css")" rel="stylesheet" />
<script src="~/Scripts/js/Select2/select2.js"></script>

<div class="row-fluid calc-height">
    <div class="span12">
        <div id="divResubmissionPopup" class="form-inspect-share hide fade height-auto popup-block margin_top0" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div>
                <form>
                    @if (@redirectionType == @Convert.ToString(RevenuePlanner.Helpers.Enums.Section.Tactic))
                    {
                        <h2 class="primary-title source-sans-prosemibold resubmission_header">Tactic Submission</h2>
                        <label style="text-align: center; width: 100%;" class="resubmission_content">You changed the following attributes that will require this tactic to be resubmitted for approval.</label>
                    }
                    else
                    {
                        <h2 class="primary-title source-sans-prosemibold resubmission_header">Improvement Tactic Submission</h2>
                        <label style="text-align: center; width: 100%;" class="resubmission_content">You changed the following attributes that will require this improvement tactic to be resubmitted for approval.</label>
                    }

                    <div style="color: white !important;margin:0 auto;" class="resubmission_list">
                        <ul>
                            @foreach (var item in ViewBag.resubmissionValues)
                            { 
                               <li class="tipsyclassTitle resubmission_textwrapping">@item</li>
                            }
                        </ul>
                    </div>
                    <button class="form-inspect-share-button btn btn-large bottom-margin-popups" type="button" id="proceed-button">Proceed</button>
                    <button id="cancel-button" class="btn-link Cancel-button-center-popups" style="margin-left: 10.5%" type="button">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        NumberFormatterTipsyTitle(".tipsyclassTitle", 55);
        //// Hide parent div container when popup is closed.
        $("#divResubmissionPopup").on("hide", function (e) { $("#divResubmission").hide(); });
        $('#divResubmissionPopup').on("show", function (e) { $("#divResubmission").show(); });

        //// Show popup.
        $("#divResubmissionPopup").modal('show');
        $('#divBackground').attr('style', 'display: block !important;z-index: 2502 !important');

        //// Close popup.
        $('#cancel-button').on("click", function () {
            $('#divResubmissionPopup').modal("hide");
            $("#divBackground").fadeOut("slow", function () {
                $('#divBackground').attr('style', 'display: none !important;');
            });

            if ('@redirectionType' == '@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.Tactic)') {
                $("#TacticCost").val(FormatCurrency(($("#TacticCost").val()).toString(), false));
                $("#txtProjectedStageValue").val(FormatCommas($("#txtProjectedStageValue").val(), false));
            }
            else {
                $("#txtCost").val(FormatCurrency(($("#txtCost").val()).toString(), false));
            }
            isInspectWin = false;
            isInspectNewLineItem = false;
        });

        //// Proceed to save data.
        var isResubmissionProceedClick = false;
        $('#proceed-button').on("click", function () {
            isResubmissionProceedClick = true;
            $('#divResubmissionPopup').modal("hide");
            $("#divBackground").fadeOut("slow", function () {
                $('#divBackground').attr('style', 'display: none !important;');
            });
            // Change By Bhavesh Date: 6-jan-2015, Ticket #1793, after click on proceed popup should be close
            //// Check from where it opens.
            if ('@redirectionType' == '@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.Tactic)') {
                //// Save to Tactic
                
                if (isInspectWin) {
                    var ReturnParameter = SetupSavetactic(true);
                    CopyTactNew();
                }
                else if (isInspectNewLineItem) {
                    var ReturnParameter = SetupSavetactic(true);
                    loadInspectPopup('0', "@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.LineItem).ToLower()", "Setup", '@RevenuePlanner.Helpers.Enums.InspectPopupMode.Add.ToString()', $('#hdnPlanTacticId').val(), $("#hdnRequestedModule").val());
                }
                else if (isLoadcopied) {                    
                    var ReturnParameter = SetupSavetactic(true);
                    OpentCopyPopuponProceed(cloneObj);
                }
                else {
                    var ReturnParameter = saveTactic(true);
                }
                if (ReturnParameter == false) {
                    return false;
                }
                else {
                    ReloadSavedTactic();
                    //if (!isclickfrompopup) {
                    //    $('.close-x-big-icon').trigger('click');
                    //}
                }
            }
            else {
                //// Save to Improvement Tactic
                var ReturnParameter = SaveImprovementTactic();
                if (ReturnParameter == false) {
                    return false;
                }
                else {
                    if (!isclickfrompopup) {
                        $('.close-x-big-icon').trigger('click');
                    }
                }
            }

            // UnComment By Bhavesh Date: 8-jan-2015, Ticket #1793
            if (isclickfrompopup) {
                if (tabtext == "Setup") {
                    InspectMode = "@RevenuePlanner.Helpers.Enums.InspectPopupMode.Edit.ToString()";
                }
                setTacticStatus($('#hdnTacticStatus').val());
                var activeTabResubmission = $("#InspectTab li.active a").text();
                if (tabtext == activeTabResubmission) {
                    $("#hdnTacticBudgetAllocationOpt").val("View");

                    $('#EditForm').removeClass('Save-icon-white');
                    $('#EditForm').addClass('edit-icon-white');
                    $('#txtTacticTitle').css('display', 'none');
                    $('#lblTacticTitle').css('display', 'block');
                    $("#lblTacticTitle").removeAttr("style");
                }
                isclickfrompopup = false;
                loadReview($("#hdnPlanTacticId").val(), tabtext);
            }
        });
    });
</script>
