@model RevenuePlanner.Models.InspectModel
@using RevenuePlanner.Helpers;
@{
    var program = (RevenuePlanner.Models.InspectModel)ViewBag.ProgramDetail;
    var deployStatus = Model.IsDeployedToIntegration == true ? "Yes" : "No";
    deployStatus = program.IsIntegrationInstanceExist == "N/A" ? "Plan not Integrated" : deployStatus;////Modified by Mitesh Vaishnav for PL ticket #690 Model Interface - Integration
    string programBudget = Convert.ToString(ViewBag.ProgramBudget);
    string cost = Convert.ToString(ViewBag.Cost);
    string MQLs = Convert.ToString(ViewBag.MQLs);
    string revenue = Convert.ToString(ViewBag.Revenue);
    var _editdescription = Common.GenerateHTMLDescription(Model.Description);   // Added by Viral Kadiya on 11/21/2014 for PL ticket #794.
    string CurrencySymbol = Sessions.PlanCurrencySymbol; // Add By Rahul Shah #2511
}
<style type="text/css">
    .inspect-column-parent input, .inspect-column-parent textarea {
    min-height: 22px !important;
    width: calc(100% - 12px) !important;
}
    .calendar-width {
    width: calc(100% - 30px) !important;
}
</style>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PlanProgramId)
    <div class="inspect-column-parent source-sans-proregular remove-bottom-border inspect_attribute_parent" style="padding-top:15px;margin-bottom:0px;">
        <div class="span6" id="inspect-modal-left-column1">
            <p>@Html.Raw("Parent Campaign")</p>
            @Html.TextBox("txtCampaign", HttpUtility.HtmlDecode(program.CampaignTitle), new { @class = "span12 input-small truncate", style = "background:#F2F2F2;", @readonly = "true", title = program.CampaignTitle })
            <p>@Html.Raw("Description")</p>
             @*Modified by Viral Kadiya on 11/15/2014 to resolve issue for PL ticket #794*@
            <div class="description-content">
                <div class="description-content-area">
                        @Html.Raw(HttpUtility.HtmlDecode(_editdescription))
                </div>
            </div>
            <div style="clear: both; width: 250%;">
                <label style="color: #808080" id="last-synced" class="pull-left">@ViewBag.LastSync</label>
            </div>
        </div>
        <div class="span3" id="inspect-modal-left-column2 no_margin_top" style="margin-left:10px;">
            <p>@Html.Raw("Owner")</p>
            @Html.TextBoxFor(model => model.Owner, new { @class = "span12 input-small truncate", style = "background:#F2F2F2;", @readonly = "true", title = program.Owner })
            <p>Start Date</p>
            @Html.TextBoxFor(model => model.StartDate, new { @class = "span12 input-small truncate", @readonly = "true", @Value = Model.StartDate.ToString(@RevenuePlanner.Helpers.Common.DateFormat) })
             <p>End Date</p>
            @Html.TextBoxFor(model => model.EndDate, new { @class = "span12 input-small truncate", @readonly = "true", @Value = Model.EndDate.ToString(@RevenuePlanner.Helpers.Common.DateFormat)  })
             <p style="width: 110%;">@Html.Raw("Deployed to Integration")</p>
            @Html.TextBox("txtDeployStatus", deployStatus, new { @class = "span12 input-small truncate", style = "background:#F2F2F2;", id = "txtDeployStatus", @readonly = "true" })
  
        </div>

        <div class="span3" id="inspect-modal-left-column3">
             <p>@Html.Raw("Program Budget")</p>
            @Html.TextBox("txtprogramBudget",programBudget, new { @class = "span12 input-small truncate", style = "background:#F2F2F2;", id = "txtCost", @readonly = "true" })
           
             <div class="content dark inline-ellipsis">
                       
                            <div class="cf width100">
                                <div class="width65px margin-right20 pull-left" style="width:45%;">
                                    <p title="@Html.LabelForMQL("MQL")">@Html.LabelForMQL("MQL")</p>
                                    @Html.TextBox("txtMQLs",MQLs, new { placeholder = "0", id = "txtmql", @class = "priceValue", @readonly = "true", maxlength = @RevenuePlanner.Helpers.Common.maxLengthPriceValue })
                                </div>

                                <div class="width65px pull-left" style="width:45%;">
                                    <p title="Cost">Cost</p>
                                    @Html.TextBox("txtCost",cost, new { placeholder = CurrencySymbol + "0", id = "txtCost", @class = "currency_dollar", @readonly = "true", maxlength = @RevenuePlanner.Helpers.Common.maxLengthDollar })
                                </div>
                                </div>
                 <div class="cf width100">
                                <div class="width65px pull-left" style="width:45%;">
                                    <p title="Revenue">Revenue</p>
                                    @Html.TextBox("txtRevenue",revenue, new { placeholder = CurrencySymbol + "0", id = "txtRevenue", @class = "currency_dollar", @readonly = "true", maxlength = @RevenuePlanner.Helpers.Common.maxLengthDollar })
                                </div>
                            </div>
                       
                    </div>
        </div>
    </div>                        
    //Start - Added by Mitesh Vaishnav for PL ticket #844 Inspect popup screen - Add custom field section
      <ul id="CustomAttributeheading" class="nav nav-tabs new-margin padding-bottom10 clear border-bottom-div">
        <li class="pull-left">
            <h3 class="modal-popup-innertitle source-sans-proregular">Attributes</h3>
        </li>
    </ul>
    <div id="CustomHtmlHelperfield" class="inspect-column-parent source-sans-proregular remove-bottom-border inspect_attribute_parent margin-left">
         @HtmlHelpers.GenerateCustomFieldsForInspectPopup(program.PlanProgramId, Enums.EntityType.Program.ToString().ToLower(), program.Status, 0)
    </div>     
    //End - Added by Mitesh Vaishnav for PL ticket #844 Inspect popup screen - Add custom field section                           
    <span class="flag-icon"></span>
    <input type="button" class="btn btn-blue text-shadow-blue source-sans-proregular gear-icon button-inspect-review-modal pull-right"
        id="button-review-tactic" name="button-save" value="Review Tactic" style="display: none;" />
}
<script type="text/javascript">
    $(document).ready(
      function () {
          $('#EditProgram').removeClass('SpanDisable');
          $('#InspectTab').removeClass('SpanDisable');
          $('#txtCost').priceFormat({ prefix: CurrencySybmol, centsSeparator: '', thousandsSeparator: ',', centsLimit: 0, allowNegative: true });
          $('#txtCost').attr("title", $('#txtCost').val()); //added by uday for internal point 2-7-2014
          $(".selectBox select").selectbox();
          $('.currency_dollar').priceFormat({ prefix: CurrencySybmol, centsSeparator: '', thousandsSeparator: ',', centsLimit: 0, allowNegative: true });
          $('.priceValue').priceFormat({ prefix: '', centsSeparator: '', thousandsSeparator: ',', centsLimit: 0 });
          $('.priceValueAllowNull').priceFormat({ prefix: '', centsSeparator: '', thousandsSeparator: ',', centsLimit: 0, isAllowNull: true });
          $('form').find(".sbSelector").each(function () {
              $(this).unbind("click");
              $(this).removeAttr("href");
              $(this).prev().unbind("click");
              $(this).prev().removeAttr("href");
          });
      });

    // Modified by Komal Rawal for ticket #1196
    function isEmpty(el) {
        return !$.trim(el.html())
    }

    if (isEmpty($('#CustomHtmlHelperfield'))) {
        $('#CustomHtmlHelperfield').hide();
        $('#CustomAttributeheading').hide();
    }
    else {
        $('#CustomHtmlHelperfield').show();
        $('#CustomAttributeheading').show();

    }
</script>
