@model RevenuePlanner.Models.Plan_Campaign_Program_Tactic_LineItemModel
@using RevenuePlanner.Helpers
@{
    string planTitle = Convert.ToString(ViewBag.PlanTitle);
    string campaignTitle = Convert.ToString(ViewBag.CampaignTitle);
    string programTitle = Convert.ToString(ViewBag.ProgramTitle);
    string tacticTitle = Convert.ToString(ViewBag.TacticTitle);
    string owner = Convert.ToString(ViewBag.Owner);
    var _editdescription = Common.GenerateHTMLDescription(Model.Description);   // Added by Viral Kadiya on 11/21/2014 for PL ticket #794.    
    string lineItemType = ViewBag.lineItemTypes;
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PlanLineItemId)
     @Html.HiddenFor(model => model.IsOtherLineItem, new { id = "hdnIsOtherLineItem" })
    <div class="inspect-column-parent source-sans-proregular remove-bottom-border inspect_attribute_parent" style="padding-top:15px;margin-bottom:0px;">
        <div class="span6" id="inspect-modal-left-column1">
             <p>@Html.Raw("Parent Campaign")</p>
             @Html.TextBox("txtCampaignTitle",campaignTitle, new { @class = "span12 input-small truncate", style = "background:#F2F2F2;", id = "txtCampaignTitle", @readonly = "true" })
             <p>@Html.Raw("Parent Program")</p>
             @Html.TextBox("txtProgramTitle",programTitle, new { @class = "span12 input-small truncate", style = "background:#F2F2F2;", id = "txtProgramTitle", @readonly = "true" })
            <p>@Html.Raw("Description")</p>
             @*Modified by Viral Kadiya on 11/15/2014 to resolve issue for PL ticket #794*@
            <div class="description-content">
                <div class="description-content-area">
                        @Html.Raw(HttpUtility.HtmlDecode(_editdescription))
                </div>
            </div>
           
            <div style="clear: both; width: 250%;">
                <label style="color: #808080" id="last-synced" class="pull-left">@ViewBag.LastSync</label>
            </div>
        </div>
        <div class="span3 no_margin_top" id="inspect-modal-left-column2" style="margin-left:6px !important;">
             <p>@Html.Raw("Parent Tactic")</p>
             @Html.TextBox("txtTacticTitle",tacticTitle, new { @class = "span12 input-small truncate", style = "background:#F2F2F2;", id = "txtTacticTitle", @readonly = "true" })
            <p id="lblType">Type <span class="required-asterisk">*</span></p>
            <span class="simpleSelectBox" style="margin-left: -2px;" id="ddlTypeArea">
                @Html.TextBox("txtLineItemTypeId", lineItemType, new { @class = "span12 input-small truncate", style = "background:#F2F2F2;", id = "txtTacticTitle", @readonly = "true" })
            </span>
             
            
        </div>
        <div class="span3 " id="inspect-modal-left-column3">
           <p>@Html.Raw("Owner")<span class="required-asterisk">*</span></p>
            @Html.TextBox("txtOwner",owner, new { @class = "span12 input-small truncate", style = "background:#F2F2F2;", @readonly = "true", title = owner })
            <p>@Html.Raw("Line Item Cost")</p>
            @Html.TextBoxFor(model=>model.Cost, new { @class = "span12 input-small currency_dollar truncate", style = "background:#F2F2F2;", id = "txtCost", @readonly = "true" })
        </div>
    </div>
    
    <span class="flag-icon"></span>
    <input type="button" class="btn btn-blue text-shadow-blue source-sans-proregular gear-icon button-inspect-review-modal pull-right"
        id="button-review-tactic" name="button-save" value="Review Tactic" style="display: none;" />
    
    <ul id="CustomAttributeheading" class="nav nav-tabs new-margin padding-bottom10 clear border-bottom-div">
        <li class="pull-left">
            <h3 class="modal-popup-innertitle source-sans-proregular">Attributes</h3>
        </li>
    </ul>

    <div id="CustomHtmlHelperfield" class="inspect-column-parent source-sans-proregular remove-bottom-border margin-bottom0 inspect_attribute_parent margin-left">
        @HtmlHelpers.GenerateCustomFieldsForInspectPopup(Model.PlanLineItemId, Enums.EntityType.Lineitem.ToString().ToLower(),null, 0)
    </div>
    

    <ul id="FinanceMappingHeading" class="nav nav-tabs new-margin padding-bottom10 clear border-bottom-div">
        <li class="pull-left">
            <h3 class="modal-popup-innertitle source-sans-proregular">Finance Mapping</h3>
        </li>
    </ul>

    <div id="CustomHtmlHelperfieldforMapping" class="inspect-column-parent source-sans-proregular remove-bottom-border margin-bottom0 inspect_attribute_parent margin-left">
        @HtmlHelpers.GenerateMappingFieldsForInspectPopup(Model.PlanLineItemId)
    </div>
    <!-- Added by Arpita Soni for Ticket #2212 on 05/24/2016 -->
    if (Sessions.AppMenus.Where(x => x.Code.ToLower() == Enums.ActiveMenu.MarketingBudget.ToString().ToLower()).Any())
    {
        <a href="@Url.Action("Index","MarketingBudget")" class="gotoLink" >Go to Marketing Budget <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
    }

}
<script type="text/javascript">
    $(document).ready(
      function () {
          $('#btnEditlineItem').removeClass('SpanDisable');
          $('#InspectTab').removeClass('SpanDisable');
          $('#txtCost').priceFormat({ prefix: CurrencySybmol, centsSeparator: '', thousandsSeparator: ',', centsLimit: 0 });
          $('#txtCost').attr("title", $('#txtCost').val()); //added by uday for internal point 2-7-2014
          $(".simpleSelectBox select").selectbox();
          
          $('form').find(".sbSelector").each(function () {
              $(this).unbind("click");
              $(this).removeAttr("href");
              $(this).prev().unbind("click");
              $(this).prev().removeAttr("href");
          });
          $(".sbHolder").attr("style", "cursor:default !important;")
          if ('@Model.IsOtherLineItem.ToString().ToLower()' == 'true') {
              $("#lblType").css("display", "none");
              $("#ddlTypeArea").css("display", "none");
          }

      });

    function isEmpty(el) {
        return !$.trim(el.html())
    }


    if (isEmpty($('#CustomHtmlHelperfield'))) {
        $('#CustomHtmlHelperfield').hide();
        $('#CustomAttributeheading').hide();
        $('#divTacticSaveCancel').removeClass('border-top-div');//Added by Mitesh Vaishnav for PL ticket 1196
    }
    else {
        $('#CustomHtmlHelperfield').show();
        $('#CustomAttributeheading').show();

    }
       
</script>
