@using RevenuePlanner.Helpers;
@model RevenuePlanner.Models.Plangrid
@{
    var countrows = 0;
    if (Model.PlanDHTMLXGrid != null)
    {
        countrows = Model.PlanDHTMLXGrid.rows != null ? Model.PlanDHTMLXGrid.rows.Count : 0;
    }
    var tacticId = Convert.ToString(ViewBag.TacticID);
    var NoCustomfieldConfig = false;
    if (ViewBag.NoCustomField != null)
    {
        NoCustomfieldConfig = true;
    }
    var LinkedTacticID = 0;
    if (ViewBag.LinkedTacticId != null)
    {
        LinkedTacticID = Convert.ToInt32(ViewBag.LinkedTacticId);
    }
     var errorUnarchive = "";

     if (ViewBag.ErrorUnarchived!=null)
     {
         errorUnarchive = Convert.ToString(ViewBag.ErrorUnarchived);
     }
    
}
@if (countrows > 0)
{
    <div id="MediaCodeGrid" style="" class="gridViewGrid"></div>
}
else
{
    if (NoCustomfieldConfig)
    { <div>Media Code  Custom Fields are not configured.</div>}
    else
    {
       <div class="content-panel-tab">
        <div class="bold padding-top16 font-size18">No records available.</div>
    </div>
    }

}
@Html.Hidden("hdnErrorUnarchive", errorUnarchive, new { id = "hdnErrorUnarchive" })

@Html.Hidden("hdnLinkedTacticID", LinkedTacticID, new { id = "hdnLinkedTacticID" })
<style>
    .tooltip {
        z-index: 99999;
    }

    .dhx_combo_select {
        overflow-x: hidden; /* For chrome */
    }

    .dhx_combo_select option {
        word-wrap: break-word !important;
        white-space: normal !important;
    }

    /*.dhx_combo_select {
        width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .dhx_combo_select option {
        white-space: nowrap;
        width: 100%
    }*/
</style>
<div class="market-activity-main">
    <div class="btn-dropdwn" style="display: none;" id="popupMediCode">

    </div>
</div>
<div class="honeycombbox" style="display:none" id="divHoneyCombBoxMediaCode">   
    <span id="totalEntityMediacode" class="badge">0</span>
    <!-- honeycomb svg -->
    <svg id="honeycombmediacode" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
 
    <g>
    <g>
	                       
    <image style="overflow:visible;opacity:0.25;" width="84" height="84" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAABUCAYAAAAcaxDBAAAACXBIWXMAAAsSAAALEgHS3X78AAAA
	        GXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAB8xJREFUeNrsnQt32kYQhXclAQaD
	        nSZ2mkfdPPr//1KbNnbSJI7jGAzGNqjSOXeSy3T1RGBA0jlzkDEC8enOzO5od7FmMzZb0fuEu/JF
	        lvlcS3/bJUGGCmq4y0A1NA/7Hu3bEucUks1hsq9hr3wL1gxSwPnYD8h8BbYIzBjeLLJ7MnmO4a4c
	        rF3xe1ulQh/wWpG1I+tEtof9Nv6XFyrDjAHewm4im2L/Dv+bKfWGqwJr1wDSB8AWAMbWjawXWT+y
	        fex38ZogR0xlN74HuElk48iuIxthfwK4U7zmjuCuBGywItf2CSQDjOENYAdkfbymQ66fZxO3ngJe
	        DPKKbAi7VoAF7KzqUBBUrEpPgewRvEfKDmEHAN2F25cBegtY1wD5HXapTCCPFdh5VVCDCmFKfGSQ
	        MbgnsKPIHsMekVL7iKMdSk5FkpIkoyni54iUGUO8gJ1H9hV2qcDek1rDh4yhrMo2VNYHsBjg08h+
	        xeMxYB4CZI/cvGhCSktMU4qnQyg1Bvolss+RfcLjOcCO8PpbFV/XrlBLTZ8O3PYQaowBPo/sRWTP
	        FMx9yuytJZpMaU2nO8r417i4R+Qlh7jwn6HY73jdlJpc4TqBCswW4PRxogLyJew5YP5CqhSQPrl3
	        2Ua9hhrg/SXhSEtiAIgcvzkZSuwe4SLclYUaVABzgCsfw/stshM8CsxHSpV+Qs/ILukt3JTyqL3L
	        TbV9QOxTk42B8jmUghosCfMAMGM1voL9DphPoISeI+HYimJ4UrMtpO4tN+G4M9GD7SmgS0ENloR5
	        DJivI3sDoC8AeeBoClmznvqBhmsdPbWOiuNJ51cIalARzLd4fAmYB3hdSxU/Hqqy5eq9BaTerPPL
	        DTUoADNQMVNg/pEB0z4gTNf3sBlmHKXAMG/2D3JeXR8u0lcwWZnHBDPYMJjGUTpspYB0lQXDPKXA
	        ICfMNjLiYyScV4iZLpitB3bxoiEgq107Uw3+1B5VlkLF1bvI2E/RJJKMnubmm75xXsgqCd5S9zRU
	        RZVcQF2u/gTqPEHT6MUWw0yCGhKwOzTyJ6pKNU8rpqQBlbZbD43zp1CkNNqPEmLmtm066YZUwdL1
	        1anjbsDC5md8QBfdRombb/H4DM9LV9IrUHLbVKjGkUjnpFSxW4Jq8gD1yNUHUOYJYL4hV+9TQdhu
	        qTqzEpYuYE+orz8zjoq/n6LOHmV16QmdoBwnru5vsaunlTJ5XxewJ8r1TRZQVucxYqZ0K5+Tq7cK
	        FoO3SaHcbZ0T0BFB1dX+H+6t38xTyeiI6pmDHUhCZXqGj8HgCEx6ST1BLyV+SuVdblscUBLydxSm
	        9tQ2vvOBWbx9w/nDy1JoQEVjASoV7vaOJaG8vcQ+GDBQ8VSnQi3F1BaaS3KT7ZBcvbXDrp5VYeOq
	        v5QmW5SHrFao55D5Yc1cPY/ru5h4SS4v8XOfDtZXw9ZIodbhtTyWoKNF5iVkNgE6oAODGsF05RUR
	        2oCA/q/F46nmEh8oN7K6NXV3l9t3zeINvo4Car2EgsgeDu66DqqhQllswmXP1bnxEg6Uu4PtGsM0
	        Zdh4CUFYW11hFmbjZVRbbAOzGBsvx8HNVoCN1/CpdmuANkAboA3QZmuANkDrBnSls822fEtl46W8
	        OGzAFmfjOQ6YOazuUHOz8dQBer4PDzupK9RCbLRCk0ad1RWqhpk2JOeHQl0HyYgzPcusrgrl4TjC
	        xTVRLGSXF6Ay+0wmmvKBdVUoC20INtdgtTD23uXyU7M4q3doFsfy1AWqHnw7MT/njl6R0GaupGTM
	        4lTpMQG9wt91dPswJ5O5K8sbx9W4JJUuNQdyS2HygFtR56XDa02Sy4cUR0fm53zz7/j7tiZuHyp1
	        jszPaeIyJfzGlVd0T4lH7DLQi5q5vsvVLxTQqckYHxoqmY9xcDxR/wvebOjKbDvq6vfk6rKAgSxa
	        MFbh7wcH1whmhs0395NWr9mlm3k84esGyowXKXgf2Ts8foL737g8NWkWiDzKcD4ZhiLToV3rg9gd
	        iZtzCnmxIj8A5jvsn6PJ5EzQfsaH6BETMkRnF0eV6HD3LbJ/I/s7sr/yqDMNqE2B2iGV6unbdgdg
	        3gBa7Or/AKao88IRP01ehYYJUF2T9/0thqqT0BUS0CnBPMVzQ9UNN0WAusDqVREEaLClStXKvEKM
	        PANI7eqTrBaOnxE/dcBmsAyXVbotUPPAjOPnR7g6J6LELa9CXetzCnTfLC454ZnkWWmbWONkN2eY
	        Eje/qoZ8ai/RL3EiekI+rzzjO5S6SVDDHMr8E49neH6ksnq4rEJdJ6OhWgdYPc3PboiLF4FZuGfo
	        l7zCrqUjuDWQtgSwfUBVSp1ijCTjcvMzPH9VpsLmL3GCAlSvIJvU6zJrhBs6zvWOqmjf0M48dcA8
	        LwuzLFB9ovcO08rNc0K2Yoi8uOCUqkZfkbml0S7Z/INy81K1X78iV+IVEcWS1j/OvWRPyXPh85G7
	        lENS5Rl1J6Xg8ZGy+VKFdL+CLzInl5J71rKcxDQBsI6/y9hcnYN8/phAfgG098rFT9Fov1BF47Uv
        d6m7bPo29NgsVrmbBVkLQtXBn2OWKGQblgxe+tZOVVl2Fxa1ruQ+2arW79ymZdcr/WmL5ocBKr4v
	        1vx0xQq+9Kq3TflxlbX8ak3z8z9bDDTpc5sfqNrg83jwgRf/CTAA07ZHMZMcRAcAAAAASUVORK5C
	        YII=" transform="matrix(1 0 0 1 8 10)">
	                        </image>
    <g>
    <circle class="st0" cx="50" cy="50" r="36" />
	                        </g>
	                </g>
    <g>
    <g>
    <path class="st1" d="M54.7,58.2h-9.5L40.4,50l4.8-8.2h9.5l4.8,8.2L54.7,58.2z M46,56.8h7.8l3.9-6.8l-3.9-6.8H46L42.1,50L46,56.8z
	                                        " />
	                        </g>
    <g>
    <path class="st1" d="M67.8,65.8h-9.5l-4.8-8.2l4.8-8.2h9.5l4.8,8.2L67.8,65.8z M59.1,64.2h7.8l3.9-6.8l-3.9-6.8h-7.8l-3.9,6.8
	                                        L59.1,64.2z" />
	                        </g>
    <g>
    <path class="st1" d="M67.8,50.8h-9.5l-4.8-8.2l4.8-8.2h9.5l4.8,8.2L67.8,50.8z M59.1,49.2h7.8l3.9-6.8l-3.9-6.8h-7.8l-3.9,6.8
	                                        L59.1,49.2z" />
                        </g>
    <g>
    <path class="st1" d="M54.7,43.2h-9.5L40.4,35l4.8-8.2h9.5l4.8,8.2L54.7,43.2z M46,41.8h7.8l3.9-6.8l-3.9-6.8H46L42.1,35L46,41.8z
	                                        " />
	                        </g>
    <g>
    <path class="st1" d="M41.7,65.8h-9.5l-4.8-8.2l4.8-8.2h9.5l4.8,8.2L41.7,65.8z M33.1,64.2h7.8l3.9-6.8l-3.9-6.8h-7.8l-3.9,6.8
	                                        L33.1,64.2z" />
	                        </g>
    <g>
    <path class="st1" d="M41.7,50.8h-9.5l-4.8-8.2l4.8-8.2h9.5l4.8,8.2L41.7,50.8z M33.1,49.2h7.8l3.9-6.8l-3.9-6.8h-7.8l-3.9,6.8
	                                        L33.1,49.2z" />
	                        </g>
    <g>
    <path class="st1" d="M54.7,73.2h-9.5L40.4,65l4.8-8.2h9.5l4.8,8.2L54.7,73.2z M46,71.8h7.8l3.9-6.8l-3.9-6.8H46L42.1,65L46,71.8z
	                                        " />
	                        </g>	                </g>
	        </g>
	        </svg>
   
    <div class="hidden" id="honeycomb_contentMediaCode">

        <div class="hc-controls" id="hc-controlsdivMediaCode">
            <div class="dropup pull-left">
                <button class="btn btn-lg dropdown-toggle" type="button" id="exportMenuMediaCode" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-external-link"></i></button>
                <ul class="dropdown-menu" aria-labelledby="exportMenuMediaCode">

                    <li><a href="#" id="ExportCSVHoneyCombMediacode" onclick="ExportToCSVMedia()">Export .csv</a></li>
                </ul>
            </div>
            <button class="btn btn-lg pull-right" onclick='RemoveAllMediaCodeData();'><i class="fa fa-close"></i></button>
        </div>
    </div>
</div>

<script type="text/javascript">
    var MediaCodeGrid;
    var tacticId = 0;
    var MediacodeSelectedRowId = [];
    var Mediacodes = [];
    var ExportSelectedIdsMediaCode = {
        MediacodeSelectedRowId: [],
        Mediacodes: [],
        MediacodeID: [],
        AltId: []
    };
    $(document).ready(function () {

        $('.nav').addClass('no-bottom-border');
        if (parseInt(@countrows) > 0) {
            BindMediaCodeGrid();
            LoadArchiveGrid();
            $(document).ajaxComplete(function () {
                MediaCodeGrid.setSizes();
                SetTooltip();
            });

        }


    });

    var $doc = $(document);
    $doc.click(function () {
        $(".tooltip").hide();
        $('#popupMediCode').css('display', 'none');
        $('.dhx_combo_select').css('display', 'none');
    });

    $(document).mouseup(function (e) {
        $('#popupMediCode').css("display", "none");
        $('.dhx_combo_select').css('display', 'none');
    });
    $(".grid_ver_scroll").scroll(function () {
        $('#popupMediCode').css('display', 'none');
    });
    $(".pop-body-wraper").scroll(function () {
        $('#popupMediCode').css('display', 'none');
        $('.dhx_combo_select').css('display', 'none');
    });
    function LoadArchiveGrid()
    {
        var url = '@Url.Content("~/Inspect/ArchiveMediaCode/")';
        var inspectmode = $("#hdnInspectMode").val();
        $("#divArchiveMediaCode").load(url + '?tacticId=' + '@tacticId' + '&Mode=' + inspectmode , function (response, status, xhr) {

        });
    }
    function SetTooltip()
    {
        $(".archive").tooltip({
            'container': 'body',
            'placement': 'bottom'
        });
        $(".honeycombbox-icon-gantt").tooltip({
            'container': 'body',
            'placement': 'bottom'
        });
        $(".plus-circle").tooltip({
            'container': 'body',
            'placement': 'bottom'
        });
    }
    function OpenGridPopup(e) {
        //var rowid = obj.attributes['rowid'].value;
        var rowid = $(e.target).attr('rowid');
        var ul = "<ul style='margin: 0;'>  <li class='new-prog' id='CreateMediaCode' currentRowId=" + rowid + ">Create New</li> <li class='new-prog' id='CopyMediacode' currentRowId=" + rowid + ">Copy</li>  </ul>";

        $('#popupMediCode').html(ul);

        if ($('#popupMediCode').css('display') == 'none') {
            $('#popupMediCode').css('display', 'block')
        }
        else {
            $('#popupMediCode').css('display', 'none')
        }
        var left = e.pageX - 10;
        var target = $(e.target);
        var targetOffset = target.offset().top - 35;
        var scrollPosition = $(window).scrollTop();

        if ($('#popupMediCode').css('display') != 'none') {
            if (scrollPosition <= targetOffset) {
                $('#popupMediCode').css({
                    //'display': 'block',
                    'top': targetOffset,
                    'left': left,
                });
            }
            else {
                var targetHeight = target.height();
                var contentHeight = $('#popupMediCode').outerHeight();
                var targetBottomOffset = targetOffset + targetHeight - contentHeight;
                $('#popupMediCode').css({
                    // 'display': 'block',
                    'top': targetBottomOffset,
                    'left': left,
                });
            }
        }
        e.stopPropagation();
        // $("button").unbind("click");
        $("#CreateMediaCode").off("click");
        $("#CopyMediacode").off("click");
        $('#CreateMediaCode').click(function () {
            AddCopyMediaCode(this);
        });
        $('#CopyMediacode').click(function () {
            AddCopyMediaCode(this);
        });
    }

    function BindMediaCodeGrid() {
        var JsonModel = '@Newtonsoft.Json.JsonConvert.SerializeObject(Model.PlanDHTMLXGrid)';
        var mainGridData = JsonModel;
        mainGridData = $('<div/>').html(mainGridData.toString().replace(/[\\]/g, "\\\\")).text(); // Decode Html content.
        GridDataHomeGrid = (mainGridData.toString().replace(/&amp;/g, '&'));

        MediaCodeGrid = new dhtmlXGridObject('MediaCodeGrid');
        var imgpath = '@Url.Content("~/codebase/imgs/")';
        MediaCodeGrid.setImagePath(imgpath);
        MediaCodeGrid.enableAutoHeight(true);
        //MediaCodeGrid.enableAutoWidth(true);
        MediaCodeGrid.setImageSize(1, 1);

        MediaCodeGrid.attachEvent("onEditCell", doOnEditCell);
        MediaCodeGrid.attachEvent("onScroll", function (sLeft, sTop) {
            $(".dhx_combo_select").css("display", "none");
            $('#popupMediCode').css('display', 'none');
        });
        MediaCodeGrid.attachEvent("onAfterSorting", function (index, type, direction) {
            SetTooltip();
        });
        MediaCodeGrid.init();
        MediaCodeGrid.splitAt(3);
        MediaCodeGrid.parse(GridDataHomeGrid, "json");
        //Added by Rahul shah to Select/Deselect all honeycomb on click of checkbox for  PL #2371
        $('#MediaCodeSelectAll').change(function () {          
            if ($(this).is(':checked')) {
                $('#MediaCodeGrid').find('tr').find('td').find("div.honeycombbox-icon-gantt").each(function () {
                    if (!$(this).hasClass("honeycombbox-icon-gantt-Active")) {
                        AddRemoveMediaCode(this);
                    }
                });
            }
            else {
                $('#MediaCodeGrid').find('tr').find('td').find("div.honeycombbox-icon-gantt-Active").each(function () {
                    AddRemoveMediaCode(this);
                });
            }
        });
    }

    function GenerateMediaCode(obj) {
        $("#successMessage").css("display", "none");
        $("#errorMessage").css("display", "none");
        var row_id = $(obj).attr('rowid');
        var cusotmfieldValue = [];
        var cnt = 0;
        var isrequiredfield = 0;
        var MediaCodeIdcolIndex = MediaCodeGrid.getColIndexById("MediacodeId");
        var GeneratecolIndex = MediaCodeGrid.getColIndexById("generateMediaCode");
        var buttoncolIndex = MediaCodeGrid.getColIndexById("selectall");
        MediaCodeGrid.forEachCell(row_id, function (cellObj, col_index) {
            if (col_index > 2) {
                var attributeName = MediaCodeGrid.getColLabel(col_index);
                var attributeid = MediaCodeGrid.getColumnId(col_index);
                var attributeValue = cellObj.getValue().toString().trim();
                var attributeType = "";
                if (cellObj.combo != null)
                    attributeType = 'DropDownList';
                else
                    attributeType = 'TextBox';
                var isrequired = MediaCodeGrid.cells(row_id, col_index).getAttribute("actval");
                MediaCodeGrid.setCellTextStyle(row_id, col_index, "");
                if (attributeValue != '' && attributeValue != '--') {

                    cusotmfieldValue.push({
                        CustomFieldId: (attributeid.split('_')[1]).toString(),
                        CustomFieldName: attributeName.toString(),
                        CustomFieldOptionValue: attributeValue.toString(),
                        CustomFieldType: attributeType.toString()
                    });
                    cnt = cnt + 1;
                }
                else {
                    if (isrequired != null && isrequired != undefined && isrequired.toString().toLowerCase() == "true") {
                        MediaCodeGrid.setCellTextStyle(row_id, col_index, "border-bottom: 2px solid red;");
                        isrequiredfield = isrequiredfield + 1;
                    }
                }

            }
        });
        if (isrequiredfield > 0) {
            // alert('@Common.objCached.RequiredMediacode');
            $("#errorMessage").css("display", "block");
            $("#spanMessageError").empty();
            $("#spanMessageError").text('@Common.objCached.RequiredMediacode');
            $("#successMessage").css("display", "none");
            return false;
        }
        if (cnt == 0) {
            //alert('@Common.objCached.AtLeastOneMediacode');
            $("#errorMessage").css("display", "block");
            $("#spanMessageError").empty();
            $("#spanMessageError").text('@Common.objCached.AtLeastOneMediacode');
            $("#successMessage").css("display", "none");
            return false;
        }

        if (cusotmfieldValue != null) {
            cusotmfieldValue = JSON.stringify(cusotmfieldValue);

            $.ajax({

                type: 'POST',

                url: '@Url.Action("GenerateMediaCode", "Inspect")', // we are calling json method
                dataType: 'json',
                contentType: 'application/json',
                //data: { TacticId: '@tacticId', lstcustomfieldvalue: a },
                data: "{'TacticId':'" + ('@tacticId') + "','lstcustomfieldvalue':" + (cusotmfieldValue) + ",'LinkedTacticID':'" + ('@LinkedTacticID') + "'}",
                success: function (data) {
                    if (data.Success == true && data.ErrorMessage == null) {
                        var newmediacode = data.MediaCode;
                        MediaCodeGrid.cells(row_id, GeneratecolIndex).setValue("<span class='spnMediacode'>" + newmediacode + "</span>");
                        MediaCodeGrid.cells(row_id, buttoncolIndex).setValue("<span class='plus-circle' title='Add Media Code'><i class='fa fa-plus-circle CodeNew' aria-hidden='true' rowid=" + row_id + "  onclick=OpenGridPopup(event); title='Add Media Code'></i></span><div class=honeycombbox-icon-gantt rowid=" + row_id + " onclick=AddRemoveMediaCode(this); title='Select' altid=" + data.NewMediaCodeId.toString() + "></div><span class='archive' title='Archive'><i class='fa fa-archive CodeArchive' aria-hidden='true' rowid=" + row_id + " onclick=ArchiveMediaCode(event); title='Archive'></i></span>");
                        MediaCodeGrid.setCellTextStyle(row_id, GeneratecolIndex, "color:#999");
                        MediaCodeGrid.cells(row_id, GeneratecolIndex).setAttribute("actval", newmediacode);

                        MediaCodeGrid.forEachCell(row_id, function (cellObj, col_index) {
                            if (col_index > 2) {
                                MediaCodeGrid.cells(row_id, col_index).setAttribute("locked", "1");
                                MediaCodeGrid.setCellTextStyle(row_id, col_index, "color:#999");
                            }
                        });
                        if (data.SuccessMessage != null && data.SuccessMessage != "") {
                            $("#successMessage").css("display", "block");
                            $("#spanMessageSuccess").empty();
                            $("#spanMessageSuccess").text(data.SuccessMessage);
                            $("#errorMessage").css("display", "none");
                        }
                        if (data.NewMediaCodeId != null && data.NewMediaCodeId) {
                            MediaCodeGrid.cells(row_id, MediaCodeIdcolIndex).setValue(data.NewMediaCodeId.toString());
                        }

                    }
                    else {
                        if (data.ErrorMessage != null && data.ErrorMessage != '') {
                            $("#errorMessage").css("display", "block");
                            $("#spanMessageError").empty();
                            $("#spanMessageError").text(data.ErrorMessage);
                            $("#successMessage").css("display", "none");
                            return false;
                        }
                    }
                }
            });
        }
        else {
            return false;
        }
    }

    function doOnEditCell(stage, rowId, cellInd, nValue, oValue) {

        if (stage == 0) {
            var locked = MediaCodeGrid.cells(rowId, cellInd).getAttribute("locked");
            if ((locked != null && locked != "") && locked == "1")
                return false;
        }
        if (stage == 1) {
            var newvale = htmlDecode(nValue);
            $('.dhx_combo_select').css('z-index', '99999');
            var oldval = MediaCodeGrid.cells(rowId, cellInd).getValue();
            var v1 = parseInt(oldval);
            var combo = MediaCodeGrid.getColType(cellInd);
            if (isNaN(v1) && combo == 'coro') {
                $('.dhx_combo_select option[value="' + (oldval) + '"]').remove();
                var v = $('.dhx_combo_select option:contains("' + (oldval) + '")').val();
                if (v != null) {
                    $('.dhx_combo_select').val(v);
                }
                else {
                    v = "0";
                    $('.dhx_combo_select').val(v);
                }
                if (oldval == '--')
                    $('.dhx_combo_edit').val('');
            }
            else {
                if (oldval == '--')
                    $('.dhx_combo_edit').val('');
            }

        }
        if (stage == 2) {
            var fillrequired = 0;
            var GeneratecolIndex = MediaCodeGrid.getColIndexById("generateMediaCode");
            var isrequired = MediaCodeGrid.cells(rowId, cellInd).getAttribute("actval");
            if (nValue != '' && nValue != oValue) {

                if (isrequired != null && isrequired != undefined && isrequired.toString().toLowerCase() == "true") {
                    MediaCodeGrid.setCellTextStyle(rowId, cellInd, "");
               }

                var newvale = htmlDecode(nValue);
                MediaCodeGrid.cells(rowId, cellInd).setValue(newvale);
            }
            else if (nValue.toString().trim() == '') {
                if (isrequired != null && isrequired != undefined && isrequired.toString().toLowerCase() == "true") {
                    MediaCodeGrid.setCellTextStyle(rowId, cellInd, "border-bottom: 2px solid red;");
                }
                MediaCodeGrid.cells(rowId, cellInd).setValue('--');
            }
            MediaCodeGrid.forEachCell(rowId, function (cellObj, col_index) {
                if (col_index > 2) {
                    var isrequired = MediaCodeGrid.cells(rowId, col_index).getAttribute("actval");
                    if (isrequired != null && isrequired != undefined && isrequired.toString().toLowerCase() == "true") {
                        var val = MediaCodeGrid.cells(rowId, col_index).getValue();
                        if (val == '' || val=='--')
                        fillrequired = fillrequired + 1;
                    }
                }
            });
            if(fillrequired>0)
            {
                MediaCodeGrid.cells(rowId, GeneratecolIndex).setValue("<input type='button' value='Generate'  class='GenerateMediaCode btn disabled' rowid=" + rowId + " onclick=GenerateMediaCode(this); disabled='disabled' />");

            }
            else
                MediaCodeGrid.cells(rowId, GeneratecolIndex).setValue("<input type='button' value='Generate'  class='GenerateMediaCode btn' rowid=" + rowId + " onclick=GenerateMediaCode(this); />")

        }
        return true;
    }

    function AddCopyMediaCode(obj) {
        $("#successMessage").css("display", "none");
        $("#errorMessage").css("display", "none");
        var currentRowID = $(obj).attr('currentRowId');
        var task = $(obj).attr('id');
        AddNewRow(currentRowID, task, false);
    }
    function AddNewRow(currentRowID, task, isOnly) {

        var GeneratecolIndex = MediaCodeGrid.getColIndexById("generateMediaCode");
        var newId = "newRow_" + MediaCodeGrid.getRowsNum() + 3;
        var cnt = MediaCodeGrid.getColumnCount();
        var i;
        var columndata = "0";
        //columndata = columndata + ",<span class='pull-left'><i class='fa fa-archive CodeArchive' aria-hidden='true' rowid=" + newId + " onclick=ArchiveMediaCode(event)></i></span><span class='pull-left'><i class='fa fa-plus-circle CodeNew' aria-hidden='true' rowid=" + newId + "  onclick=OpenGridPopup(event)></i></span><div class=honeycombbox-icon-gantt rowid=" + newId + " onclick=AddRemoveMediaCode(this)></div>";
        columndata = columndata + ",<span class='plus-circle disabled' title='Add Media Code'><i class='fa fa-plus-circle CodeNew' aria-hidden='true' rowid=" + newId + " title='Add Media Code' ></i></span><div class='honeycombbox-icon-gantt disabled' rowid=" + newId + " title='Select'></div><span class='archive' title='Archive'><i class='fa fa-archive CodeArchive' aria-hidden='true' rowid=" + newId + " title='Archive' onclick=ArchiveMediaCode(event) ></i></span>";
        var mediacodeButton = ",<input type='button' value='Generate'  class='GenerateMediaCode btn' rowid=" + newId + " onclick=GenerateMediaCode(this); disabled='disabled' />";
        columndata = columndata + mediacodeButton;
        for (i = 2; i < cnt  ; i++) {
            columndata = columndata + ',--';
        }
        MediaCodeGrid.addRow(newId, columndata, MediaCodeGrid.getRowsNum());   //adds a new row
        MediaCodeGrid.selectRowById(newId);


        if (task == 'CopyMediacode') {
            MediaCodeGrid.copyRowContent(currentRowID, newId);
            MediaCodeGrid.cells(newId, GeneratecolIndex).setValue("<input type='button' value='Generate'  class='GenerateMediaCode btn' rowid=" + newId + " onclick=GenerateMediaCode(this); />");
            //MediaCodeGrid.cells(newId, 1).setValue("<span class='pull-left'><i class='fa fa-archive CodeArchive' aria-hidden='true' rowid=" + newId + " onclick=ArchiveMediaCode(event)></i></span><span class='pull-left'><i class='fa fa-plus-circle CodeNew' aria-hidden='true' rowid=" + newId + "  onclick=OpenGridPopup(event)></i></span><div class=honeycombbox-icon-gantt rowid=" + newId + " onclick=AddRemoveMediaCode(this)></div>");
            MediaCodeGrid.cells(newId, 1).setValue("<span class='plus-circle disabled' title='Add Media Code'><i class='fa fa-plus-circle CodeNew' aria-hidden='true' rowid=" + newId + "  title='Add Media Code'></i></span><div class='honeycombbox-icon-gantt disabled' rowid=" + newId + " title='Select'></div><span class='archive' title='Archive'><i class='fa fa-archive CodeArchive' aria-hidden='true' rowid=" + newId + " title='Archive' onclick=ArchiveMediaCode(event)></i></span>");

            MediaCodeGrid.cells(newId, 0).setValue("0");
        }
        if (isOnly == true) {
            MediaCodeGrid.cells(newId, 1).setValue("<span class='plus-circle disabled' title='Add Media Code'><i class='fa fa-plus-circle CodeNew' aria-hidden='true' rowid=" + newId + "  title='Add Media Code'></i></span><div class='honeycombbox-icon-gantt disabled' rowid=" + newId + " title='Select'></div><span class='archive disabled' title='Archive'><i class='fa fa-archive CodeArchive' aria-hidden='true' rowid=" + newId + " title='Archive' onclick=ArchiveMediaCode(event)></i></span>");
        }
      
        var RequiredCustoList = JSON.parse('@Html.Raw(Json.Encode(@ViewBag.RequiredList))');
        if (RequiredCustoList != "") {
            MediaCodeGrid.forEachCell(newId, function (cellObj, col_index) {
                if (col_index > 2) {
                    var colid = MediaCodeGrid.getColumnId(col_index);
                    var found = RequiredCustoList.some(function (el) {
                        return el.CustomFieldId == colid;
                    });
                    if (found) {
                        MediaCodeGrid.cells(newId, col_index).setAttribute("actval", 'true');
                    }
                    var type = MediaCodeGrid.getColType(col_index);
                    if (type == 'ed') {
                        MediaCodeGrid.setCellExcellType(newId, col_index, "edtxt");
                    }
                }
            });
        }
        SetTooltip();
        setTimeout(function () {
            MediaCodeGrid.setSizes();
        }, 100);
    }
    function ArchiveMediaCode(e) {
        $("#successMessage").css("display", "none");
        $("#errorMessage").css("display", "none");
        $(".tooltip").hide();
        var rowid = $(e.target).attr('rowid');
        var inspectmode = $("#hdnInspectMode").val();
        var mediacodeid = MediaCodeGrid.cells(rowid, 0).getValue();
        if (mediacodeid != '' && mediacodeid != null && mediacodeid != '0') {
            url = '@Url.Content("~/Inspect/ArchiveMediaCode/")';

            $("#divArchiveMediaCode").load(url + '?tacticId=' + '@tacticId' + '&MediaCodeId=' + mediacodeid + '&Mode=' + inspectmode + '&LinkedTacticId=' + '@LinkedTacticID', function (response, status, xhr) {
                MediaCodeGrid.deleteRow(rowid);
                var gridrowconut = MediaCodeGrid.getRowsNum();
                $("#successMessage").css("display", "block");
                $("#spanMessageSuccess").empty();
                $("#spanMessageSuccess").text('@Common.objCached.ArchiveMediacode');
                $("#errorMessage").css("display", "none");
                if (gridrowconut == 0) {
                    AddNewRow('', 'CreateMediaCode', true);
                }
            });
        }
        else {
            var gridrowconut = MediaCodeGrid.getRowsNum();
            if (gridrowconut > 1) {
                setTimeout(function () {
                    MediaCodeGrid.deleteRow(rowid);
                }, 200);
            }
            return;
        }
    }
    function custom_sort(a, b, ord, aid, bid) {
        if (a == "" ) {
            return 1;
        }
        if (b == "" ) {
            return -1;
        }
        var aid = aid.split("_");
        var bid = bid.split("_");
        if (aid[0] == "newRow") {
            return -1;
        }
        if (bid[0] == "newRow") {
            return -1;
        }
        return (a.toLowerCase() > b.toLowerCase() ? 1 : -1) * (ord == "asc" ? 1 : -1);
    }
    //Added by Rahul shah to add/remove honeycomb in array and honeycombbox click of honeycomb icon for  PL #2371
    function AddRemoveMediaCode(item) {
        var rowId = $(item).attr('rowid');
        if ($(item).hasClass("honeycombbox-icon-gantt-Active")) {
            $(item).removeClass("honeycombbox-icon-gantt-Active");
            var index = ExportSelectedIdsMediaCode.MediacodeSelectedRowId.indexOf($(item).attr('rowid'));
            if (index >= 0) {

                ExportSelectedIdsMediaCode.MediacodeSelectedRowId.splice(index, 1);
                ExportSelectedIdsMediaCode.Mediacodes.splice(index, 1);
                ExportSelectedIdsMediaCode.MediacodeID.splice(index, 1);
                ExportSelectedIdsMediaCode.AltId.splice(index, 1);
            }
        }
        else {
            var mediacode = MediaCodeGrid.cells(rowId, 2).getAttribute("actval");
            var mediacodeid = MediaCodeGrid.cells(rowId, 0).getValue();
            var isExist = false;
            if (ExportSelectedIdsMediaCode.MediacodeSelectedRowId.length > 0) {
                for (var i = 0; i < ExportSelectedIdsMediaCode.MediacodeSelectedRowId.length; i++) {
                    if (ExportSelectedIdsMediaCode.MediacodeSelectedRowId[i] == rowId) {
                        isExist = true;
                    }
                }
            }
            if (!isExist) {
                ExportSelectedIdsMediaCode.MediacodeSelectedRowId.push(rowId);
                ExportSelectedIdsMediaCode.Mediacodes.push(mediacode);
                ExportSelectedIdsMediaCode.MediacodeID.push(mediacodeid);
                ExportSelectedIdsMediaCode.AltId.push($(item).attr('altid'));
                $(item).addClass("honeycombbox-icon-gantt-Active");
            }
        }
        if (ExportSelectedIdsMediaCode.MediacodeSelectedRowId.length == 0) {
            $("#divHoneyCombBoxMediaCode").hide();

        }
        else {
            $("#totalEntityMediacode").text(ExportSelectedIdsMediaCode.MediacodeSelectedRowId.length);
            $("#divHoneyCombBoxMediaCode").show();

        }

        if (MediaCodeGrid.rowsBuffer.length != ExportSelectedIdsMediaCode.MediacodeSelectedRowId.length) {
            $('#MediaCodeSelectAll').removeAttr('checked');
        }
        else {
            $('#MediaCodeSelectAll').attr('checked', 'checked');
        }
    }
    //Added by Rahul shah to open honeycomb popup on click of honeycomb icon for  PL #2371
    $("#honeycombmediacode").popover({
        title: 'HoneyComb',
        html: true,
        placement: 'top',
        content: function () {
            CloseClick = true;
            $('#honeycomb_contentMediaCode').find(".hc-block").remove();
            var htmlstring1 = "";
            var hccontrolsdiv1 = $('#honeycomb_contentMediaCode').find("#hc-controlsdivMediaCode").parent().html();
            var Removefromlist1 = [];
            if (ExportSelectedIdsMediaCode.MediacodeSelectedRowId.length > 0) {
                $('#honeycomb_contentMediaCode').html("");
                for (i = 0; i < (ExportSelectedIdsMediaCode.MediacodeSelectedRowId.length) ; i++) {
                    var HasmediaActiveClass = false;
                    HasmediaActiveClass = $("div[altid='" + ExportSelectedIdsMediaCode.AltId[i] + "']").hasClass("honeycombbox-icon-gantt-Active");
                    if (HasmediaActiveClass == true) {
                        htmlstring1 += '<div class="hc-block"><div class="row-fluid"><div  class="span8 pophover-left"  style="border-left: 5px solid #"><h5 title="' + htmlEncode(ExportSelectedIdsMediaCode.Mediacodes[i]) + '">' + htmlEncode(ExportSelectedIdsMediaCode.Mediacodes[i]) + '</h5>  </div><div class="span1 text-right pull-right"><i taskid = "' + ExportSelectedIdsMediaCode.MediacodeID[i] + '" id ="CloseIcon"  class="fa fa-times" onclick="CloseIconMediaCode(this)" ></i></div></div></div>';

                    }
                    else {
                        Removefromlist1.push(ExportSelectedIdsMediaCode.AltId[i]);
                    }
                }
            }
            $('#honeycomb_contentMediaCode').append(htmlstring1 + hccontrolsdiv1);
            for (i = 0; i < Removefromlist1.length; i++) {
                var index = ExportSelectedIdsMediaCode.AltId.indexOf(Removefromlist1[i]);
                if (index >= 0) {
                    ExportSelectedIdsMediaCode.AltId.splice(index, 1);
                    ExportSelectedIdsMediaCode.MediacodeSelectedRowId.splice(index, 1);
                    ExportSelectedIdsMediaCode.Mediacodes.splice(index, 1);
                    ExportSelectedIdsMediaCode.MediacodeID.splice(index, 1);
                }
            }
            return $("#honeycomb_contentMediaCode").html();
        }
    });

    //Added by Rahul shah to remove honeycomb data close icon for  PL #2371
    function CloseIconMediaCode(item) {
        CloseClick = true;
        var taskId = item.attributes.taskid.value;
        var Totallength = $("#totalEntityMediacode").text();
        var Height = $(".popover").css('top').replace("px", "");
        var Blockheight = $('.popover-content').find(".hc-block").css('height').replace("px", "");
        var Margin = $('.popover-content').find(".hc-block").css('margin').split(" ")[0].replace("px", "");
        var Sum = parseInt(Number(Blockheight) + Number(Margin));
        var removeFromHoneyComb = true;
        $("div[altid='" + taskId + "']").removeClass("honeycombbox-icon-gantt-Active");
        Totallength = Totallength - 1;
        Height = Number(Height) + (Sum);


        $(".popover").css('top', Height + "px");
        var index = ExportSelectedIdsMediaCode.AltId.indexOf(taskId);
        if (index >= 0) {
            ExportSelectedIdsMediaCode.AltId.splice(index, 1);
            ExportSelectedIdsMediaCode.MediacodeID.splice(index, 1);
            ExportSelectedIdsMediaCode.Mediacodes.splice(index, 1);
            ExportSelectedIdsMediaCode.MediacodeSelectedRowId.splice(index, 1);

        }
        $("#totalEntityMediacode").text(ExportSelectedIdsMediaCode.AltId.length);
        item.parentNode.parentNode.parentNode.remove();
        var HoneyContent = $('.popover-content').find(".hc-block").length;
        if (HoneyContent == 0) {
            $(".popover ").hide();
            $(".honeycombbox").hide();
        }

    }
    //Added by Rahul shah to export to csv for PL #2371
    function ExportToCSVMedia() {
        var MediaCodeGridSelected = MediaCodeGrid;
        var ids = MediaCodeGridSelected.getAllRowIds();
        var AllRowIds = ids.split(",");
        for (var i = 0; i < ExportSelectedIdsMediaCode.MediacodeSelectedRowId.length; i++) {
            var arrlen = AllRowIds.length;
            for (var j = 0; j < arrlen; j++) {
                if (ExportSelectedIdsMediaCode.MediacodeSelectedRowId[i] == AllRowIds[j]) {
                    AllRowIds = AllRowIds.slice(0, j).concat(AllRowIds.slice(j + 1, arrlen));
                }
            }
        }

        for (var i = 0 ; i < AllRowIds.length ; i++) {
            MediaCodeGridSelected.deleteRow(AllRowIds[i]);
        }

        var count = MediaCodeGridSelected.getRowsNum();
        var colCount = MediaCodeGridSelected.getColumnsNum()
        if (count > 0) {
            MediaCodeGridSelected.enableCSVAutoID(true);
            MediaCodeGridSelected.enableCSVHeader(true);
            var checkColumn = "";
            if (colCount > 0) {
                for (var i = 1; i <= colCount; i++) {
                    if (i <= 2) {
                        checkColumn = checkColumn.concat("false,")
                    }
                    else {
                        checkColumn = checkColumn.concat("true,")
                    }

                }
            }
            var header = MediaCodeGridSelected.setSerializableColumns(checkColumn);
            var myCSVString = MediaCodeGridSelected.serializeToCSV(true);
            var lines = myCSVString.split(",");
            var dt = '@DateTime.Now.ToString("MM_dd_yyyy_hh_mm_ss")';
            var Filename = '@ViewBag.TacticID' + '_MediaCode.csv';
            if (navigator.userAgent.search("Trident") >= 0) {
                if (!window.Blob) {
                    // if IE 9 then becuase ie 9 and lower version not support blob
                    //http://code.ciphertrick.com/2014/12/07/download-json-data-in-csv-format-cross-browser-support/
                    var IEwindow = window.open();
                    IEwindow.document.write('sep=,\r\n' + lines);
                    IEwindow.document.close();
                    IEwindow.document.execCommand('SaveAs', true, Filename);
                    IEwindow.close();
                }
                else {
                    var fileData = ["sep=,\r\n" + lines];
                    blobObject = new Blob(fileData);
                    window.navigator.msSaveOrOpenBlob(blobObject, Filename); // Now the user will have the option of clicking the Save button and the Open button.
                }
            }
            else {
                var uri = 'data:text/csv;charset=utf-8,' + escape(lines);
                var downloadLink = document.createElement("a");
                downloadLink.href = uri;
                downloadLink.download = Filename + ".csv";
                document.body.appendChild(downloadLink);
                downloadLink.click();
                document.body.removeChild(downloadLink)
            }
            $('#spanMessageError').html("");
            $("#errorMessage").hide();

        }
        else {
            $("#modal-container-186470").scrollTop(0);
            $("#errorMessage").css("display", "block");
            $("#errorMessage").slideDown(400);
            $("#spanMessageError").empty();
            $("#spanMessageError").html('No Records found for Export Grid data.');
        }
        BindMediaCodeGrid();
        if (ExportSelectedIdsMediaCode.MediacodeSelectedRowId.length > 0) {
            for (var i = 0 ; i < ExportSelectedIdsMediaCode.MediacodeSelectedRowId.length; i++) {
                $('#MediaCodeGrid').find('tr').find('td').find("div[rowid='" + ExportSelectedIdsMediaCode.MediacodeSelectedRowId[i] + "']").addClass("honeycombbox-icon-gantt-Active");
            }
        }
    }

    $('#MediaCodeGrid').find('table').find('tbody').on('click', function (e) {
        var targetname = e.target.nodeName;
        if (targetname != "circle") {
            $(".popover").removeClass('in').addClass('out');
        }
    });

</script>