@using RevenuePlanner.Helpers
@{
    
    var tacticActual = (RevenuePlanner.Models.InspectModel)ViewBag.TacticDetail;
    var lineItemList = ViewBag.LineItemList as List<RevenuePlanner.Models.Plan_Campaign_Program_Tactic_LineItem>;
    string planLineItemIds = string.Empty;
    string MQlTitle = string.Empty;
    int StartYear = Convert.ToInt32(ViewBag.StartYear);
    int YearDiffrence = Convert.ToInt32(ViewBag.YearDiffrence);
    string CurrencySymbol = Sessions.PlanCurrencySymbol; // Add By Rahul Shah #2511


}
<style type="text/css">
    .disabled-row >th {
        background-color:#EEE!important;
    }
    .border-none {
    border:none!important;
    }

    .disabled-input-ActualPopup {
        background-color: #f2f2f2 !important;
        color: #666666;
        padding: 0 !important;
        border: 1px solid #ccc !important;
    }

    .actual_cancel {
        color: gray;
        margin-top: 30px !important;
        margin-left: 28px;
    }
    .actual_cancel:hover, .actual_cancel:focus {
            color: gray;
        }
</style>
<link rel="stylesheet" href="@Url.Content("~/Content/css/jquery.mCustomScrollbar.css")" type="text/css" />
<script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.mCustomScrollbar.concat.min.js")"></script>
<div id="divActualInner" class="content-panel-tab" style="display:none;">
    <div class="cf">
        <div>
            <span>Note that imported values override user-generated values.</span>
        </div>
        @* Added by Viral kadiya for PL Ticket #880.*@
        <div class="pull-left" style="float: left; width: 150px;">
            <table class="table table-striped mystats table-style">
                <thead>
                    <tr class="height42">
                        <th class="font908D88 actual-popup-tile">Title</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (string s in @ViewBag.StageTitle)
                    {
                        string idtr = "tr_title" + @s;
                        <tr class="height42" id="@idtr">
                            @{
                        string stageLable = s;
                        if (!string.IsNullOrEmpty(s))
                        {
                            if (s.ToLower() == Common.StageCodeINQ)
                            {
                                stageLable = Html.LabelForINQ(s);
                            }
                            else if (s.ToLower() == Common.StageCodeMQL)
                            {
                                stageLable = Html.LabelForMQL(s);
                                MQlTitle = stageLable;
                            }
                            else if (s.ToLower() == Common.StageCodeCW)
                            {
                                stageLable = Html.LabelForCW(s);
                            }
                            else if (s == Enums.InspectStageValues[Enums.InspectStage.ProjectedStageValue.ToString()].ToString())
                            {
                                stageLable = ViewBag.TacticStageTitle;
                            }
                        }
                            }
                            <th class="font3F3F3F actual-popup-tile table-head" title="@stageLable">@stageLable</th>

                        </tr>
                    }
                    <tr class="height42" id="tr_titleCost">
                        <th class="font3F3F3F actual-popup-tile table-head">Cost</th>
                    </tr>
                    @if (lineItemList.Count > 0)
                    {
                        foreach (var item in lineItemList)
                        {
                            string rawId = "trLine_title" + item.PlanLineItemId;
                        <tr class="height42 lines" id="@rawId">
                            <th class="font3F3F3F actual-popup-tile" style="font-weight:normal;" title="@item.Title">@item.Title</th>
                        </tr>
                        }
                    }
                    <tr class="height42">
                        <th class="font3F3F3F actual-popup-tile table-head">ROI</th>
                    </tr>

                </tbody>
            </table>
        </div>
        <div id="months_container" class="container-table" style="float: left; width: 670px; overflow-x: scroll;">
            <table class="table table-striped mystats table-style " id="tblActual">
                <thead>
                    <tr class="text-align-right height42">
                        @for (var i = 0; i < (YearDiffrence + 1); i++)
                        {
                            <th class="border-r font908D88 text-align-right">Jan - @Convert.ToInt32(StartYear + i)</th>
                            <th class="font908D88 text-align-right">Feb - @Convert.ToInt32(StartYear + i)</th>
                            <th class="border-r font908D88 text-align-right">Mar - @Convert.ToInt32(StartYear + i)</th>
                            <th class="font908D88 text-align-right">Apr - @Convert.ToInt32(StartYear + i)</th>
                            <th class="font908D88 text-align-right">May - @Convert.ToInt32(StartYear + i)</th>
                            <th class="border-r font908D88 text-align-right">Jun - @Convert.ToInt32(StartYear + i)</th>
                            <th class="font908D88 text-align-right">Jul - @Convert.ToInt32(StartYear + i)</th>
                            <th class="border-r font908D88 text-align-right">Aug - @Convert.ToInt32(StartYear + i)</th>
                            <th class="font908D88 text-align-right">Sept - @Convert.ToInt32(StartYear + i)</th>
                            <th class="font908D88 text-align-right">Oct - @Convert.ToInt32(StartYear + i)</th>
                            <th class="border-r font908D88 text-align-right">Nov - @Convert.ToInt32(StartYear + i)</th>
                            <th class="font908D88 text-align-right">Dec - @Convert.ToInt32(StartYear + i)</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (string s in @ViewBag.StageTitle)
                    {
                        string idtr = "tr" + @s;
                        <tr class="height42" id="@idtr">
                            @for (int j = 1; j <= (12 * (YearDiffrence + 1)); j++)
                            {
                                string ids = s + "-Y" + j;
                                string maxL = RevenuePlanner.Helpers.Common.maxLengthPriceValue;
                                string classes = "input-actual text-align-right width75px input-table priceValue";
                                if (s == "Revenue")
                                {
                                    classes = "input-actual text-align-right width75px currency_dollar input-table";
                                    maxL = RevenuePlanner.Helpers.Common.maxLengthDollar;
                                }
                                <th class="border-r font3F3F3F ">
                                    <input id="@ids" class="@classes" placeholder="- - -" maxlength="@maxL"></th>
                            }
                        </tr>
                    }
                    <tr class="height42" id="trCost">
                        @for (int j = 1; j <= (12 * (YearDiffrence + 1)); j++)
                        {
                            string costIds = "Cost-Y" + j;
                            var costPeriod="Y"+j.ToString();
                            string maxL = RevenuePlanner.Helpers.Common.maxLengthPriceValue;
                             if (lineItemList.Count <= 0)
                             {
                            <th class="border-r font3F3F3F ">
                                    <input id="@costIds" class= "input-actual text-align-right width75px currency_dollar input-table" placeholder="- - -" maxlength="@maxL">
                            </th>
                             }
                             else
                             {
                                 <th class="border-r font3F3F3F text-align-right" ov="0" id="@costIds">- - - 
                                     
                                     
                            </th>
                             }
                        }
                    </tr>
                    @if (lineItemList.Count > 0)
                    {
                        foreach (var item in lineItemList)
                        {
                            planLineItemIds += item.PlanLineItemId + ",";
                            string rawId="trLine"+item.PlanLineItemId;
                             <tr class="height42 lines" id="@rawId">
                                @for (int j = 1; j <= (12 * (YearDiffrence + 1)); j++)
                        {
                            string lineItemIds = @item.PlanLineItemId+"-Y" + j;
                            string maxL = RevenuePlanner.Helpers.Common.maxLengthPriceValue;
                            
                            <th class="border-r font3F3F3F ">
                                    <input id="@lineItemIds" class= "input-actual text-align-right width75px currency_dollar input-table" placeholder="- - -" maxlength="@maxL">
                            </th>
                            
                        }
                                 </tr>
                        }
                        planLineItemIds = planLineItemIds.Remove(planLineItemIds.Length - 1, 1);
                    }
                    <tr class="height42">
                        @for (var i = 0; i < (YearDiffrence + 1); i++)
                        {
                        <th class="border-r font3F3F3F"></th>
                        <th class="font3F3F3F"></th>
                        <th class="border-r font3F3F3F"></th>
                        <th class="font3F3F3F"></th>
                        <th class="font3F3F3F"></th>
                        <th class="border-r font3F3F3F"></th>
                        <th class="font3F3F3F"></th>
                        <th class="border-r font3F3F3F"></th>
                        <th class="font3F3F3F"></th>
                        <th class="font3F3F3F"></th>
                        <th class="border-r font3F3F3F"></th>
                        <th class="font3F3F3F"></th>
                        }
                    </tr>
                </tbody>

            </table>
        </div>
        <div class="pull-left" style="float: left; width: 150px;">
            <table class="table table-striped mystats table-style shadow-table">
                <thead>
                    <tr class="height42">
                        <th class="font908D88 text-align-right" style="width:75px;">Projected</th> @*removing padding-left55 class by mitesh vaishnav for pl ticket 812*@
                        <th class="border-r font908D88 text-align-right" style="width:75px;">Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var s in ViewBag.StageTitle)
                    {
                        if (s == Enums.InspectStageValues[Enums.InspectStage.ProjectedStageValue.ToString()].ToString())
                        {
                            <tr class="height42">
                                <th id="inqP" class="text-align-right  projected font3F3F3F addFormatterActualNumber border-none">@tacticActual.ProjectedStageValue</th>    @* Modified by Sohel Pathan on 02/09/2014 for PL ticket #742. *@
                                <th id="lblTotalProjectedStageValue" class="border-r font3F3F3F text-align-right addFormatterActualNumber border-none">@tacticActual.ProjectedStageValueActual</th> @* Modified by Sohel Pathan on 02/09/2014 for PL ticket #742. *@
                                <input type="hidden" id="hdnlblTotalProjectedStageValue" value="@tacticActual.ProjectedStageValueActual" />  @* Added by Sohel Pathan on 27/08/2014 for Internal Review Points *@
                            </tr>
                        }
                        else if (s.ToLower() == Common.StageCodeMQL)
                        {
                            <tr class="height42">
                                <th id="mqlP" class="text-align-right  projected font3F3F3F addFormatterActualNumber border-none">@tacticActual.MQLs</th>   @* Modified by Sohel Pathan on 02/09/2014 for PL ticket #742. *@
                                <th id="lblTotalMQL" class="border-r font3F3F3F text-align-right addFormatterActualNumber border-none">@tacticActual.MQLsActual</th>   @* Modified by Sohel Pathan on 02/09/2014 for PL ticket #742. *@
                                <input type="hidden" id="hdnlblTotalMQL" value="@tacticActual.MQLsActual" />  @* Added by Sohel Pathan on 27/08/2014 for Internal Review Points *@
                            </tr>
                        }
                    }

                    <tr class="height42">
                        <th id="cwP" class="text-align-right  projected font3F3F3F addFormatterActualNumber border-none">@tacticActual.CWs</th> @* Modified by Sohel Pathan on 02/09/2014 for PL ticket #742. *@
                        <th id="lblTotalCW" class="border-r font3F3F3F text-align-right addFormatterActualNumber border-none">@tacticActual.CWsActual</th>  @* Modified by Sohel Pathan on 02/09/2014 for PL ticket #742. *@
                    </tr>
                    <tr class="height42">
                        <th id="rP" class="text-align-right projected font3F3F3F setBudget border-none">@tacticActual.Revenues</th> @* Modified by Sohel Pathan on 10/09/2014 for Internal Review Points *@
                        <input type="hidden" id="hdnRp" value="@tacticActual.Revenues" />  @* Added by Sohel Pathan on 10/09/2014 for Internal Review Points *@
                        <th id="lblTotalRevenue" class="border-r font3F3F3F text-align-right setBudget border-none" ov="@tacticActual.RevenuesActual">@tacticActual.RevenuesActual</th> @* Modified by Sohel Pathan on 12/09/2014 for PL ticket #760 *@
                    </tr>
                    <tr class="height42" id="tr_rightCost">
                        <th id="cP" class="text-align-right projected font3F3F3F setBudget border-none">@tacticActual.Cost</th> @* Modified by Sohel Pathan on 15/09/2014 for PL ticket #760 *@
                        <input type="hidden" id="hdnCp" value="@tacticActual.Cost" />  @* Added by Sohel Pathan on 10/09/2014 for Internal Review Points *@
                        <th class="border-r font3F3F3F text-align-right setBudget border-none" id="lblTotalCost">0</th>
                            @*<input id="lblTotalCost" class="backgroundC6EBF3 font3F3F3F text-align-right width75px currency_dollar" placeholder="- - -" maxlength="@RevenuePlanner.Helpers.Common.maxLengthDollar" value="@tacticActual.CostActual"></th>*@
                    </tr>
                     @if (lineItemList.Count > 0)
                    {
                        
                        foreach (var item in lineItemList)
                        {
                            string projectedId="lblProjected-"+item.PlanLineItemId;
                            string totalId = "lblTotal-" + item.PlanLineItemId;
                             <tr class="height42">
                        <th id="@projectedId" class="text-align-right height22 projected padding-bottom9 font3F3F3F border-none">@item.Cost</th>  @* Modified by Sohel Pathan on 12/09/2014 for PL ticket #760 *@ 
                        <th id="@totalId" class="border-r font3F3F3F text-align-right border-none"></th>
                    </tr>
                        }
                    }
                    <tr class="height42">
                        <th id="roiP" class="text-align-right height22 projected setBudget padding-bottom9 font3F3F3F border-none">@tacticActual.ROI</th>    @* Modified by Sohel Pathan on 02/09/2014 for PL ticket #742. *@
                        <th id="roiT" class="border-r font3F3F3F text-align-right addFormatterActualNumber border-none">@tacticActual.ROIActual</th>    @* Modified by Sohel Pathan on 02/09/2014 for PL ticket #742. *@
                    </tr>
                   
                </tbody>
            </table>

        </div>

     
    </div>
        <div class="cf ">
            <div class="pull-left" style="width:100%">
                <label id="last-updated" class="pull-left last-updated" style="Width:45%;">@ViewBag.UpdatedBy</label>
                <label id="last-synced" class="pull-left">@ViewBag.LastSync</label>
            </div>
           @* <div class="wraper-btns cf border-top-div-TacticPopUp" id="SaveTacticActualSection" style="display:none;">
                <div class="span2 btn-save">
                    <button id="btnUploadResult" class="btn buttom-width resize-drop-button without-border-buttom btn-blue text-shadow-blue source-sans-proregular margin-top23" style="float:left;" type="button">Update Actuals</button>
                </div>
                <div class="span2">
                    <button id="cancelTacticActuals" class="close-form btn-link source-sans-proregular margin-top23 actual_cancel" type="button">Cancel</button>
                </div>
            </div>*@
        </div>
    </div>
<!--end content-panel-tab-->

<script type="text/javascript">
    var hdnTacticStatus = $("#hdnTacticStatus").val();
    var Approvedstatus = "@RevenuePlanner.Helpers.Enums.TacticStatusValues[RevenuePlanner.Helpers.Enums.TacticStatus.Approved.ToString()].ToString()";
    var Completestatus = "@RevenuePlanner.Helpers.Enums.TacticStatusValues[RevenuePlanner.Helpers.Enums.TacticStatus.Complete.ToString()].ToString()";
    var InProgressstatus = "@RevenuePlanner.Helpers.Enums.TacticStatusValues[RevenuePlanner.Helpers.Enums.TacticStatus.InProgress.ToString()].ToString()";
    var _decmlRegex = '^(0|[1-9][0-9]*)[.]?[0-9]*$'; // Old: '^(0|[1-9][0-9]*)$';
    var _intRegex = '^(0|[1-9][0-9]*)$';
    $(document).ready(function () {
        var TacticActual;
        var planTacticId = $("#hdnPlanTacticId").val();
        function ActualTab() {
            html = '<div class="bold padding-top16 font-size18">Tactic should be "Approved" for adding actuals.</div>';
            return html;
        }

        if ($('#hdnIsPlanEditable').val().toString().toLowerCase() == 'true') {
            $('#SaveTacticActualSection').css('display', 'block');
        }

       
        $("#divActualInner").css('display', 'block');
        if (hdnTacticStatus != Approvedstatus && hdnTacticStatus != InProgressstatus && hdnTacticStatus != Completestatus) {
            $("#divActualInner").empty();
            $("#divActualInner").append(ActualTab());
           // $("#lblTacticTitle").show();
          //  $("#txtTacticTitle").hide();
            //// Commented By: Arpita Soni on 1/7/2015.
            //// Ticket: 1067 
            //$("#EditForm").on("click", function (e) { // Commented by Arpita Soni for ticket #1067
            //    loadReview(planTacticId, "Setup");
            //});
        }
        else {
            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/Inspect/GetActualTacticData/")',
                data: {
                    id: planTacticId
                },
                success: function (r) {
                    TacticActual = r.actualData;
                    if (r.IsLineItemForTactic) {
                        $("#trCost").addClass("disabled-row");
                            $("#tr_titleCost").addClass("disabled-row");
                        $("#tr_rightCost").addClass("disabled-row");
                        LineItemActual = r.ActualCostAllocationData;
                        fillLineItemValue();
                    }
                    
                    fillTacticActualTable();
                    getLoadActual();
                    AssignDefaultValue(); // added by dharmraj, #547
                    fillTotalActualCost();
                    
                    
                    // Start - Added by Sohel Pathan on 12/09/2014 for PL ticket #760
                    $('.setBudget').each(function () {
                        SetBudget("#" + $(this).attr('id'));  // Modified By : Viral Kadiya Internal Review Points 10/29/2014.
                    });
                    if ($('#roiP').text().indexOf('%') < 0) {
                        $('#roiP').text($('#roiP').text().replace(CurrencySybmol, '') + '%');
                    }
                    // End - Added by Sohel Pathan on 12/09/2014 for PL ticket #760

                    // Start - Added by Sohel Pathan on 02/09/2014 for PL ticket #742.
                    $('.addFormatterActualNumber').each(function () {
                        SetPriceValue($(this));
                    });
                    // End - Added by Sohel Pathan on 02/09/2014 for PL ticket #742.
                },
                error: function () {
                    $("#errorMessage").css("display", "block");
                    /*Changed by Nirav Shah for Inspect pop-up screen : CSS changes as per new HTML on 13 feb 2014*/
                    $("#spanMessageError").empty();
                    GoToLogin();
                    return false;
                }
            });
        }

        $(".modal-backdrop.in").unbind('click');
        $(".modal-backdrop.in").bind('click', function () {
            displayConfirmCommon();
        });
        /*Added by Mitesh Vaishnav for PL ticket #695
        If tactic has line item than this function will be called and its fill line item data*/
        function fillLineItemValue() {
            if (typeof LineItemActual != 'undefined') {
                for (i in LineItemActual) {
                    $("#" + LineItemActual[i].PlanLineItemId + "-" + LineItemActual[i].Period).val(LineItemActual[i].Value);
                    $("#" + LineItemActual[i].PlanLineItemId + "-" + LineItemActual[i].Period).attr('ov', LineItemActual[i].Value);
                   //Calculation for sum of month wise total cost
                    if ($("#Cost-" + LineItemActual[i].Period).attr('ov') != '') {
                        var costForMonth = parseFloat($("#Cost-" + LineItemActual[i].Period).attr('ov'));
                        var finalCost = costForMonth + parseFloat(LineItemActual[i].Value);
                        $("#Cost-" + LineItemActual[i].Period).text(FormatCurrency(finalCost.toString(),true));
                        //$("#Cost-" + LineItemActual[i].Period).text(finalCost.toString());
                        $("#Cost-" + LineItemActual[i].Period).attr('ov', finalCost.toString());
                        SetBudget("#Cost-" + LineItemActual[i].Period); //Uncommented by Maitri Gandhi on 2/3/2016 to make consistent look of Actuals - Covered in #1755
                       
                    }
                    else {
                        var finalCost = parseFloat(LineItemActual[i].Value);
                        $("#Cost-" + LineItemActual[i].Period).text(FormatCurrency(finalCost.toString(), true));
                        //$("#Cost-" + LineItemActual[i].Period).text(finalCost.toString());
                        $("#Cost-" + LineItemActual[i].Period).attr('ov', finalCost.toString());
                        SetBudget("#Cost-" + LineItemActual[i].Period); //Uncommented by Maitri Gandhi on 2/3/2016 to make consistent look of Actuals - Covered in #1755
                    }
                    
                }
                 //Calculation for sum of total line item's cost
                if ('@planLineItemIds' != '') {
                    var ids = '@planLineItemIds'.split(',');
                    if (ids.length > 0) {

                        for (var i = 0; i < ids.length; i++) {
                        var totalLineCost = 0;

                        $("#trLine" + ids[i].toString()).find('input').each(function () {
                                if ($(this).val().trim() != '') {
                                    var currentValue = $(this).val().trim().replace(/,/g, '').replace(CurrencySybmol, '');
                                    //if (currentValue.match('^(0|[1-9][0-9]*)$')) {
                                    //if (currentValue.match('^(0|[1-9][0-9]*)+(\.[0-9][0-9]?)$')) {
                                    if (currentValue.match(_decmlRegex)) {
                                        totalLineCost += parseFloat(currentValue);
                                    }
                                }
                            });

                            document.getElementById("lblTotal-" + ids[i].toString()).innerHTML = totalLineCost;

                            document.getElementById("lblTotal-" + ids[i].toString()).innerHTML = FormatCurrency(totalLineCost.toString(), true);
                            //SetBudget("#lblTotal-" + ids[i].toString());
                            $("#lblTotal-" + ids[i].toString()).attr('ov', parseFloat(totalLineCost.toString()));
                            SetBudget("#lblTotal-" + ids[i].toString());    //Added by Maitri Gandhi on 2/3/2016 to make consistent look of Actuals - Covered in #1755

                            // Start - Added by Sohel Pathan on 12/09/2014 for PL ticket #760
                            var lblProjected = ReplaceCC(document.getElementById("lblProjected-" + ids[i].toString()).innerHTML);
                            document.getElementById("lblProjected-" + ids[i].toString()).innerHTML = lblProjected;
                            document.getElementById("lblProjected-" + ids[i].toString()).innerHTML = FormatCurrency(lblProjected.toString(), true);
                            SetBudget("#lblProjected-" + ids[i].toString());
                            // End - Added by Sohel Pathan on 12/09/2014 for PL ticket #760
                        }
                    }
                }
                //End Calculation for sum of total line item's cost
            }
        }
        //when line item's input value will be changed,It will affect to total cost and month wise cost
        $('.lines').find('input').each(function () {
            $(this).keyup(function () {
                var currentValue = $(this).val().trim().replace(/,/g, '').replace(CurrencySybmol, '');
                    currentValue = currentValue == '' ? "0" : currentValue;
                    //if (currentValue.match('^(0|[1-9][0-9]*)+(\.[0-9][0-9]?)$'))
                    //{
                    //    alert('currentValue:' + currentValue);
                    //}
                //if (currentValue.match('^(0|[1-9][0-9]*)$')) {
                    if (currentValue.match(_decmlRegex) || currentValue == "0") {
                        
                        /*Start - Total of line item actuals for month*/
                        var arr = $(this).attr('id').split('-')
                        var totalcost = 0;
                        var oldMonthTotalCost = 0;
                        var parentTotalCost = 0;
                        if (ReplaceCC($("#Cost-" + arr[1]).attr('ov')) != '') {
                            
                            oldMonthTotalCost = parseFloat($("#Cost-" + arr[1]).attr('ov'));
                        }
                        var oldValue = 0;
                        if ($(this).attr('ov') != '' && typeof $(this).attr('ov') != 'undefined') {
                            oldValue =parseFloat($(this).attr('ov'));
                        }
                        
                        totalcost = (oldMonthTotalCost + parseFloat(currentValue)) - oldValue;
                        
                        $("#Cost-" + arr[1]).text(FormatCurrency(totalcost.toString(),true));
                        SetBudget("#Cost-" + arr[1]);   //UnCommented by Maitri Gandhi on 2/3/2016 to make consistent look of Actuals - Covered in #1755
                        $("#Cost-" + arr[1]).attr('ov', totalcost.toString());
                        /*End - Total of line item actuals for month*/

                        /*Start Total actual cost*/
                        if ($("#lblTotalCost").attr('ov') != '') {
                            parentTotalCost = parseFloat($("#lblTotalCost").attr('ov'));
                        }
                        parentTotalCost = (parentTotalCost + parseFloat(currentValue)) - oldValue;
                        
                        $("#lblTotalCost").html(FormatCurrency(parentTotalCost.toString(), true));
                        $("#lblTotalCost").attr('ov', parseFloat(parentTotalCost.toString()));
                        SetBudget('#lblTotalCost'); //UnCommented by Maitri Gandhi on 2/3/2016 to make consistent look of Actuals - Covered in #1755
                        /*End - Total actual cost*/
                        /*start Particular line item actual cost*/
                        var oldLineItemTotal = 0;
                        var TotalLineItemValue = 0;
                        if ($("#lblTotal-" + arr[0]).attr('ov') != '') {
                            oldLineItemTotal = parseFloat($("#lblTotal-" + arr[0]).attr('ov'));
                        }
                        TotalLineItemValue = (oldLineItemTotal + parseFloat(currentValue)) - oldValue;
                        $("#lblTotal-" + arr[0]).text(FormatCurrency(TotalLineItemValue.toString(),true));
                        $("#lblTotal-" + arr[0]).attr('ov', TotalLineItemValue.toString());
                        var _val = $("#lblTotal-" + arr[0]).html();
                        SetBudget("#lblTotal-" + arr[0]);   //UnCommented by Maitri Gandhi on 2/3/2016 to make consistent look of Actuals - Covered in #1755
                        /*End Particular line item actual cost*/
                        //calculateRIO();
                        //$(this).text(FormatCurrency(currentValue, true));
                        $(this).attr('ov', currentValue);
                }

            });
        });
        function fillTotalActualCost() {
            var cost = 0;
            if ('@planLineItemIds' != '') {
                $("#trCost").find('th').each(function () {
                    if ($(this).attr('ov') != '' && typeof $(this).attr('ov') != 'undefined') {
                        var currentValue = $(this).attr('ov');
                        if (currentValue.match(_decmlRegex)) {
                            cost += parseFloat(currentValue);
                        }
                    }

                });
            }
            else {
                $("#trCost").find('input').each(function () {
                    if ($(this).val().trim() != '') {
                        var currentValue = $(this).val().trim().replace(/,/g, '').replace(CurrencySybmol, '');
                        if (currentValue.match(_decmlRegex)) {
                            cost += parseFloat(currentValue);
                        }
                    }

                });
            }
            $("#lblTotalCost").html(FormatCurrency(cost.toString(), true));
            SetBudget("#lblTotalCost"); //Uncommented by Maitri Gandhi on 2/3/2016 to make consistent look of Actuals - Covered in #1755
            $("#lblTotalCost").attr('ov', parseFloat(cost.toString())).toString();
            calculateRIO();
        }
        /*End Added by Mitesh Vaishnav for PL ticket #695*/
        function fillTacticActualTable() {
            if (typeof TacticActual != 'undefined') {
                if (TacticActual.length) {
                    for (i in TacticActual) {
                        $("#" + TacticActual[i].stageTitle + "-" + TacticActual[i].period).val(TacticActual[i].actualValue);
                    }
                }
            }
        }
        function getLoadActual() {
            //Added By : Kalpesh Sharma Functional and code Review changes 
            $('.currency_dollar').priceFormat({ prefix: CurrencySybmol, centsSeparator: '', thousandsSeparator: ',', centsLimit: 0, isAllowNull: true, isDouble: true });
            $('.priceValue').priceFormat({ prefix: '', centsSeparator: '', thousandsSeparator: ',', centsLimit: 0, isAllowNull: true });
            var inqP = document.getElementById('inqP');
            if (inqP != null && inqP != 'undefined' && inqP != '') {
                inqP = inqP.innerHTML;
                document.getElementById('inqP').innerHTML = FormatCommas(inqP, false);
            }
            
            
            var projStageValue = document.getElementById('lblTotalProjectedStageValue');
            if (projStageValue != null && projStageValue != 'undefined' && projStageValue != '') {
                projStageValue = projStageValue.innerHTML;
                document.getElementById('lblTotalProjectedStageValue').innerHTML = FormatCommas(projStageValue, false);
            }

            if (document.getElementById('mqlP') != null)
            document.getElementById('mqlP').innerHTML = FormatCommas(document.getElementById('mqlP').innerHTML, false);

            if (document.getElementById('lblTotalMQL') != null)
            document.getElementById('lblTotalMQL').innerHTML = FormatCommas(document.getElementById('lblTotalMQL').innerHTML, false);

            document.getElementById('cwP').innerHTML = number_format(document.getElementById('cwP').innerHTML, 0, 0, ',');  // Modified by Sohel Pathan on 12/09/2014 for PL ticket #760
            document.getElementById('lblTotalCW').innerHTML = FormatCommas(document.getElementById('lblTotalCW').innerHTML, false);
            
            document.getElementById('rP').innerHTML = FormatCurrency(document.getElementById('rP').innerHTML, true);   // Modified by Sohel Pathan on 10/09/2014 for Internal Review Points
            document.getElementById('lblTotalRevenue').innerHTML = FormatCurrency(document.getElementById('lblTotalRevenue').innerHTML, true);

            document.getElementById('cP').innerHTML = FormatCurrency(document.getElementById('cP').innerHTML, true);    // Modified by Sohel Pathan on 15/09/2014 for PL ticket #760
            document.getElementById('lblTotalCost').innerHTML = FormatCurrency(document.getElementById('lblTotalCost').innerHTML, true);
           

            var pcost = $("#hdnCp").val();  // Modified by Sohel Pathan on 10/09/2014 for Internal Review Points
            if (pcost != 0 && !isNaN(pcost)) {
                var prevenue = $("#hdnRp").val();   // Modified by Sohel Pathan on 10/09/2014 for Internal Review Points                
                var roip = (prevenue - pcost) / pcost;
                $("#roiP").text(roip.toFixed(2));
            }
            $('#months_container').parent().css("width", "970px");////modified by mitesh for PL ticket #812 change width 870 to 970

        }

        $('#tblActual').find('input').each(function () {
            if (!$(this).parent().parent().hasClass('lines'))
                $(this).keyup(function (e) {
                    var currentValue = $(this).val().trim().replace(/,/g, '').replace(CurrencySybmol, '');
                    currentValue = currentValue == '' ? "0" : currentValue; // Added by Sohel Pathan on 03/09/2014 for Internal Review Points
                    var _isCurrency = $(this).hasClass("currency_dollar");
                //if (currentValue.match('^(0|[1-9][0-9]*)+(\.[0-9][0-9]?)$')){

                    if (!_isCurrency && currentValue.match(_intRegex)) {
                        //  $(this).removeClass("error");
                        var arr = (this).id.split('-');
                        var ida = "lblTotal" + arr[0];
                        var totalvalue = 0;
                        $('#tr' + arr[0]).find('input').each(function () {
                            var cvalue = parseFloat($(this).val().trim().replace(/,/g, '').replace(CurrencySybmol, ''));
                            if (!isNaN(cvalue)) {
                                totalvalue = cvalue + parseFloat(totalvalue);
                            }
                        });
                        //if (arr[0] == 'Revenue' || arr[0]=='Cost') {
                        //    document.getElementById(ida).innerHTML = totalvalue;
                        //    document.getElementById(ida).innerHTML = FormatCurrency(document.getElementById(ida).innerHTML, true);
                        //    SetBudget('#' + ida);    // Added by Sohel Pathan on 26/08/2014 for Internal Review Points
                        //        $("#" + ida).attr('ov',totalvalue.toString());
                        //    }
                        //else {
                            $('#hdn' + ida.toString()).val(totalvalue); // Added by Sohel Pathan on 27/08/2014 for Internal Review Points
                            document.getElementById(ida).innerHTML = totalvalue;
                            document.getElementById(ida).innerHTML = FormatCommas(document.getElementById(ida).innerHTML, false);
                            SetPriceValue(document.getElementById(ida)); // Added by Sohel Pathan on 26/08/2014 for Internal Review Points
                        //}

                        calculateRIO();
                    }
                    
                    if ((_isCurrency) && (currentValue.match(_decmlRegex))) {
                        var arr = (this).id.split('-');
                        var ida = "lblTotal" + arr[0];
                        var totalvalue = 0;
                        $('#tr' + arr[0]).find('input').each(function () {
                            var cvalue = parseFloat($(this).val().trim().replace(/,/g, '').replace(CurrencySybmol, ''));
                            if (!isNaN(cvalue)) {
                                totalvalue = cvalue + parseFloat(totalvalue);
                            }
                        });
                        if (arr[0] == 'Revenue' || arr[0] == 'Cost') {
                            document.getElementById(ida).innerHTML = totalvalue;
                            document.getElementById(ida).innerHTML = FormatCurrency(document.getElementById(ida).innerHTML, true);
                            SetBudget('#' + ida);    // Added by Sohel Pathan on 26/08/2014 for Internal Review Points
                            $("#" + ida).attr('ov', totalvalue.toString());
                        }
                        //else {
                        //    $('#hdn' + ida.toString()).val(totalvalue); // Added by Sohel Pathan on 27/08/2014 for Internal Review Points
                        //    document.getElementById(ida).innerHTML = totalvalue;
                        //    document.getElementById(ida).innerHTML = FormatCommas(document.getElementById(ida).innerHTML, false);
                        //    SetPriceValue(document.getElementById(ida)); // Added by Sohel Pathan on 26/08/2014 for Internal Review Points
                        //}
                        calculateRIO();
                    }
            });
        });

        // Modified by dharmraj for implement new formula to calculate ROI, #533
        function calculateRIO() {
            var pcost = $("#hdnCp").val(); // Modified by Sohel Pathan on 10/09/2014 for Internal Review Points
            if (pcost != 0 && !isNaN(pcost)) {
                var prevenue = $("#hdnRp").val();// Modified by Sohel Pathan on 10/09/2014 for Internal Review Points                
                var roip = ((prevenue - pcost) / pcost) * 100;  // Modified By Nishant Sheth // #2376 Change the formula for ROI Projected
                $("#roiP").text(FormatCommas(roip.toFixed(2).toString()));
            }

            pcost = parseFloat(ReplaceCC($("#lblTotalCost").attr('ov')));
            if (pcost != 0 && !isNaN(pcost)) {
                var prevenue = parseFloat(ReplaceCC($("#lblTotalRevenue").attr('ov')));
                var roiT = (prevenue - pcost) / pcost;
                $("#roiT").text(FormatCommas(roiT.toFixed(2).toString()));
                SetPriceValue($("#roiT"));		   // Added by Maitri Gandhi for #1755 on 2/3/2016
            }
            // Add By Nishant Sheth
            // To Apply Curenncy format
            document.getElementById('roiP').innerHTML = FormatCurrency(document.getElementById('roiP').innerHTML, true);
        }   


        
        //Start-Added by Viral Kadiya on 10/11/2014 to resolve PL ticket #946.
        $("#cancelTacticActuals").click(function () {
            CancelEvent();
            $("#successMessage").slideUp(50);
            $("#errorMessage").slideUp(50);
        });
        function CancelEvent() {
            var planTacticId = $("#hdnPlanTacticId").val();
            $("#hdnTacticBudgetAllocationOpt").val("View");
            loadReview(planTacticId, "Actuals");
            $("#EditForm").css("display", "block");
            $('#txtTacticTitle').css('display', 'none');
            $('#lblTacticTitle').css('display', 'block');
            $("#lblTacticTitle").removeAttr("style");
            $('#divDeleteTactic').css('display', 'block');
            $("#AddForm").css("display", "block");
        }
        $("#SaveTacticActualSection").css("display", "none");

        var IsEditable = $("#hdnTacticBudgetAllocationOpt").val();  
        if (IsEditable == 'View') {                                 // check current page mode is editable or not.
            $('.input-actual').removeClass('backgroundC6EBF3');
            $('.input-actual').removeClass('input-table');
            $('.input-actual').addClass('disabled-input-ActualPopup');
            $('.input-actual').prop('readonly', true);                  
            $("#SaveTacticActualSection").css("display", "none");       // hide Update & Cancel button
        }
        else {
            $('.input-actual').addClass('backgroundC6EBF3');
            $('.input-actual').addClass('input-table');
            $('.input-actual').removeClass('disabled-input-ActualPopup');
            $('.input-actual').prop('readonly', false);
            $("#SaveTacticActualSection").css("display", "block");
        }
        //End - Added by Viral Kadiya on 10/11/2014 to resolve PL ticket #946.
    });


   

    //Modified for #1213 by Komal Rawal - Function to save the data on Tab change called from inspect popup
    function SaveActual() {
        var planTacticId = $("#hdnPlanTacticId").val();
        var returnparameter = false;
        var _decimalRegex = '^(0|[0-9][0-9]*)[.]?[0-9]*$';
        var _IntgerRegex = '^(0|[0-9][0-9]*)$';
        var ReturnParameter = SaveTitle();
        if (ReturnParameter == false) {
              $('#InspectTab').removeClass('SpanDisable');
                return false;
            }
        
        //$("#btnUploadResult").click(function () {
            var title = htmlEncode($('#txtTacticTitle').val()); // Added by Viral kadiya on 11/12/2014 to update tactic title for PL ticket #946.
            var _tactic = [];
            var _LineItems = [];
            var isError = false;
            var isData = false;
            var isLineItem = false;
            //// Modified by Sohel Pathan on 26/08/2014 for Internal Review Points
            var totalProjectedStageValueActual = $("#hdnlblTotalProjectedStageValue").val();

            var totalMQLActual;
            if (document.getElementById('lblTotalMQL') != null) {
                //// Modified by Sohel Pathan on 26/08/2014 for Internal Review Points
                totalMQLActual = $("#hdnlblTotalMQL").val();
            }

            var totalCWActual = (document.getElementById('lblTotalCW').innerHTML).trim().replace(/,/g, '').replace(CurrencySybmol, '');
            var totalRevenueActual = (document.getElementById('lblTotalRevenue').innerHTML).trim().replace(/,/g, '').replace(CurrencySybmol, '');
            var totalCostActual = $('#lblTotalCost').val().trim().replace(/,/g, '').replace(CurrencySybmol, '');
            var totalROI = (document.getElementById('roiP').innerHTML).trim().replace(/,/g, '').replace(CurrencySybmol, '');
            var totalROIActual = (document.getElementById('roiT').innerHTML).trim().replace(/,/g, '').replace(CurrencySybmol, '');
            $("#errorMessage").css("display", "none");
            $("#successMessage").css("display", "none");
            $('#tblActual').find('input').each(function () {
                
                if ($(this).val().trim() != '') {
                    var _isCurrency = $(this).hasClass("currency_dollar");
                    //alert(_isCurrency);
                    if ((!_isCurrency) && ($(this).val().trim().replace(/,/g, '').replace(CurrencySybmol, '').match(_IntgerRegex))) {
                        $(this).removeClass("error");
                    }
                    else if ((_isCurrency) && ($(this).val().trim().replace(/,/g, '').replace('.', '').replace(CurrencySybmol, '').match(_decimalRegex))) {
                        $(this).removeClass("error");
                    }
                    else {
                        $(this).addClass("error");
                        isError = true;
                    }

                    var arr = (this).id.split('-');
                    var thisValue = $(this).val().trim().replace(/,/g, '').replace(CurrencySybmol, '');
                    //Modified by Kalpesh Sharma : Functional and Internal review points
                    if (thisValue != '') {
                            if (!$(this).parent().parent().hasClass('lines')) {

                        _tactic.push({
                            PlanTacticId: planTacticId,
                            StageTitle: arr[0],
                            Period: arr[1],
                            ActualValue: thisValue.toString(),
                            TotalProjectedStageValueActual: totalProjectedStageValueActual,
                            TotalMQLActual: totalMQLActual,
                            TotalCWActual: totalCWActual,
                            TotalRevenueActual: totalRevenueActual,
                            TotalCostActual: totalCostActual,
                            ROI: totalROI,
                            ROIActual: totalROIActual,
                            IsActual: true,
                            StageId: parseInt('@ViewBag.TacticStageId')
                        });
                        isData = true;

                            }
                            else {
                                _LineItems.push({
                                    PlanLineItemId: arr[0],
                                    Period: arr[1],
                                    Value: thisValue
                                });
                                isLineItem = true;
                            }
                        }
                        
                }
                else {
                    $(this).removeClass("error");
                }
                
            });
            // Added by Viral kadiya on 11/12/2014 to update tactic title for PL ticket #946.
            if (title == '') {
                isError = true;
            }
            if (isError) {
                $("#errorMessage").css("display", "block");
                /*Changed by Nirav Shah for Inspect pop-up screen : CSS changes as per new HTML on 13 feb 2014*/
                $("#spanMessageError").text("@RevenuePlanner.Helpers.Common.objCached.ValidateForValidField");
                $('#InspectTab').removeClass('SpanDisable');
                return false;
            }
            if (parseFloat(totalMQLActual) > parseFloat(totalProjectedStageValueActual)) {
                var msg = "@RevenuePlanner.Helpers.Common.objCached.ValidationForMqlGreaterThanINQ"
                var msgdisplay = msg.replace('{0}', FormatCommas(totalMQLActual.toString())).replace('{1}', '@ViewBag.TacticStageTitle').replace('{3}', '@ViewBag.TacticStageTitle').replace('{2}', FormatCommas(totalProjectedStageValueActual.toString())).replace(/{4\}/g, '@MQlTitle');
                $("#spanMessageError").text(msgdisplay);
                $("#errorMessage").css("display", "block");
                $('#InspectTab').removeClass('SpanDisable');
                return false;
            }
            if (!isData) {
                _tactic.push({
                    PlanTacticId: planTacticId,
                    StageTitle: 0,
                    Period: 0,
                    ActualValue: 0,
                    TotalProjectedStageValueActual: totalProjectedStageValueActual,
                    TotalMQLActual: totalMQLActual,
                    TotalCWActual: totalCWActual,
                    TotalRevenueActual: totalRevenueActual,
                    TotalCostActual: totalCostActual,
                    ROI: totalROI,
                    ROIActual: totalROIActual,
                    IsActual: false,
                    StageId: parseInt('@ViewBag.TacticStageId')
                });
            }
            $("#errorMessage").css("display", "none");
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                async : false,
                dataType: 'json',
                type: 'POST',
                url: '@Url.Content("~/Inspect/UploadResult/")',
                data: JSON.stringify({ tacticactual: _tactic, lineItemActual: _LineItems, tactictitle: title }),    // Modified by Viral kadiya on 11/12/2014 to update tactic title for PL ticket #946.
                success: function (data) {
                    if (data != 'undefined') {
                        if (!data.IsDuplicate) {
                            if (data.id != 0) {
                                var requestedModule = $("#hdnRequestedModule").val();
                                $("#successMessage").css("display", "block");
                                $("#spanMessageSuccess").empty();
                                $("#spanMessageSuccess").text(data.msg);
                                // loadInspectPopup(data.id, "@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.Tactic).ToLower()", data.TabValue, "@Enums.InspectPopupMode.ReadOnly.ToString()", 0, requestedModule);

                                if ("@Enums.InspectPopupRequestedModules.Budgeting.ToString()" == requestedModule) {
                                    $("#hdnBudgetingExpandId").val("tactic" + data.id);
                                    $("#hdnBudgetingIsSave").val("true");
                                }
                                else {
                                    // Comment By Bhavesh Date: 6-jan-2015, Ticket #1793
                                  //  RefreshCurrentTab(requestedModule, 0, 0, 0);
                                }
                                returnparameter = true;
                            }
                            else {
                                $("#errorMessage").css("display", "block");
                                $("#spanMessageError").empty();
                                $("#spanMessageError").text("@RevenuePlanner.Helpers.Common.objCached.InvalidError");
                                returnparameter = false;
                        }
                            returnparameter = true;
                        }
                    else {
                            ShowError(data.errormsg);
                            returnparameter = false;
                    }
                    }
                },
                error: function () {
                    $("#errorMessage").css("display", "block");
                    $("#spanMessageError").empty();
                    GoToLogin();
                    returnparameter = false;
                }
            });


    }
        //Start-Added by Viral Kadiya on 10/11/2014 to resolve PL ticket #946.
        $("#cancelTacticActuals").click(function () {
            CancelEvent();
            $("#successMessage").slideUp(50);
            $("#errorMessage").slideUp(50);
        });
        function CancelEvent() {
            var planTacticId = $("#hdnPlanTacticId").val();
            $("#hdnTacticBudgetAllocationOpt").val("View");
            loadReview(planTacticId, "Actuals");
            $("#EditForm").css("display", "block");
            $('#txtTacticTitle').css('display', 'none');
            $('#lblTacticTitle').css('display', 'block');
            $("#lblTacticTitle").removeAttr("style");
            $('#divDeleteTactic').css('display', 'block');
            $("#AddForm").css("display", "block");
        }
        $("#SaveTacticActualSection").css("display", "none");

        var IsEditable = $("#hdnTacticBudgetAllocationOpt").val();  
        if (IsEditable == 'View') {                                 // check current page mode is editable or not.
            $('.input-actual').removeClass('backgroundC6EBF3');
            $('.input-actual').removeClass('input-table');
            $('.input-actual').addClass('disabled-input-ActualPopup');
            $('.input-actual').prop('readonly', true);                  
            $("#SaveTacticActualSection").css("display", "none");       // hide Update & Cancel button
        }
        else {
            $('.input-actual').addClass('backgroundC6EBF3');
            $('.input-actual').addClass('input-table');
            $('.input-actual').removeClass('disabled-input-ActualPopup');
            $('.input-actual').prop('readonly', false);
            $("#SaveTacticActualSection").css("display", "block");
        }
        //End - Added by Viral Kadiya on 10/11/2014 to resolve PL ticket #946.
   // }
function ShowError(value) {
    $("#modal-container-186470").scrollTop(0);
    $("#errorMessage").css("display", "block");
    $("#errorMessage").slideDown(400);
    $("#spanMessageError").empty();
    $("#spanMessageError").text(value);
}
</script>
