@using RevenuePlanner.Helpers
@{
    int planTacticId = Convert.ToInt32(ViewBag.PlanTacticId);
    string tacticTitle = Convert.ToString(ViewBag.TacticTitle);
    @Html.Hidden("planTacticId", planTacticId);
                                             
    @Html.Hidden("hdnSection", Convert.ToString(RevenuePlanner.Helpers.Enums.Section.Tactic).ToLower());
                                              
    
    //// Flag to indicate unavailability of web service.
    //// Added By: Maninder Singh Wadhva on 11/24/2014.
    //// Ticket: 942 Exception handeling in Gameplan.
    bool isServiceUnavailable = Convert.ToBoolean(ViewBag.IsServiceUnavailable);
    
}


<link href="@Url.Content("~/Content/css/Select2/select2.css")" rel="stylesheet" />
<script src="~/Scripts/js/Select2/select2.js"></script>
<div class="container-fluid all-height" id="DivShareTacticPopupMain">
    <div class="row-fluid calc-height">
        <div class="span12">
            @*Modified by Sohel on 28th March to remove fixed height of pop-up. height-auto class has been added*@ 
            <div id="DivShareTacticPopup" class="form-inspect-share hide fade in height-auto" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: block">
                @*Modified by Sohel on 3rd April 2014 for PL# 398 to display error message on the top of sharing pop-up, below div has been place inside from outside of main div *@ 
            <div id="errorMessageShareTacticPopup" class="alert alert-error hide error-over-modal">
                <a class="close">×</a>
                <strong>Error!</strong><span id="spanMessageErrorShareTacticPopup"></span>
            </div>
                @**@
                <div class="login-wrapper">
                    <form name="share-tactic">
                        <h2 class="primary-title source-sans-prosemibold">Share Tactic</h2>
                        <label>All fields required.</label>
                        <input id="select2Email" type="hidden" name="select2Email" class="input-block-level" style="margin-bottom: 10px;" />
                        <textarea rows="3" placeholder="Add Optional Message" id="TxtOptionalMessage" maxlength="255"></textarea>
                        <span class="attach-icon"></span>
                        <label id="shareTactic" class="ConcatTextlength" style="width: 88%;" title="@tacticTitle" >@tacticTitle</label>
                        <button class="form-inspect-share-button btn btn-large" type="submit" value="Submit">Share</button>
                        <button id="cancel-share-tactic-button" class="btn-link" type="button">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="DivBackgroundShareTactic" class="modal-backdrop fade in" style="z-index: 1505;"></div>
<div class="container-fluid all-height" id="DivShareTacticPopupConfirmationMain">
    <div class="row-fluid calc-height">
        <div class="span12">
            @*Modified by Sohel on 28th March to remove fixed height of pop-up. height-auto class has been added*@ 
            <div id="DivShareTacticPopupConfirmation" class="form-inspect-share-confirmation hide fade in height-auto" role="dialog" aria-labelledby="myModalLabel" aria- hidden="true" style="display: none">
                <div class="login-wrapper">
                    <form name="login-register">
                        <h2 class="primary-title source-sans-prosemibold">Tactic Successfully<br />
                            Shared With</h2>
                        <label id="email-confirmation"></label>
                        <button class="form-inspect-share-button btn btn-large" type="button" id="BtnCloseConfirmation">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //// Function to redirect to login page on unavailability of web service.
    //// Added By: Maninder Singh Wadhva on 11/24/2014.
    //// Ticket: 942 Exception handeling in Gameplan.
    function redirectOnServiceUnavailibility() {
        if ('@Html.Raw(Json.Encode(isServiceUnavailable))' == 'true') {
            window.location = '@Url.Content(Common.RedirectOnServiceUnavailibilityPage)';
        }
    }

    var select2EmailData = [];
    $(document).ready(function () {
        //// Call function to redirect on service unavailibility.
        //// Added By: Maninder Singh Wadhva on 11/24/2014.
        //// Ticket: 942 Exception handeling in Gameplan.
        redirectOnServiceUnavailibility();
        /*NumberFormatterTipsyTitle(".tipsyclassTitle", 55);*/ // Commented by Arpita Soni on 02/01/2015 for ticket #1082
        var emails = @Html.Raw(Json.Encode(@ViewBag.EmailIds));
        if (emails != null) {
            $.each(emails, function (index, email) {
                select2EmailData.push({id: email, text: email});
            });
        }
        $("#select2Email").select2({
            placeholder: "Email",
            multiple: true,
            data: select2EmailData
        });
        $("#errorMessageShareTacticPopup").find(".close").on("click", function (e) {
            e.stopPropagation();
            e.preventDefault();
            $(this).closest(".alert").slideUp(400);
        });

        $('#cancel-share-tactic-button').on("click", function () {
            $('#DivShareTacticPopupMain').empty();
            $('#DivBackgroundShareTactic').css("display", "none");
        });

        //// Valdiate and Send mail on click of share button of share tactic popup.
        $('form[name="share-tactic"]').on("submit", function (e) {
            if ($("#select2Email").select2("val") == "") {
                var msgspan = "@Common.objCached.ValidateEmailAtleastone";
                $("#errorMessageShareTacticPopup").css("display", "block");
                $(".input-block-level").addClass("error");
                //// Added by Sohel on 2nd April for PL#398 to display validation error properly
                $(".select2-choices").css("background-image", "none");
                $(".select2-choices").addClass("error-background");
                ////
                $("#spanMessageErrorShareTacticPopup").text(msgspan);
            }
            else {
                $(".input-block-level").removeClass("error");
                ////Modified By Sohel on 2nd April 2014 to remove special character validations that was provided in OptionalMessage textbox. 
                $(".select2-choices").removeClass("error-background");
                $("#errorMessageShareTacticPopup").css("display", "none");
                // Send mail and show confirmation popup.
                ShareTactic($("#select2Email").select2("val").toString(), $("#TxtOptionalMessage").val());
            }

            return false;
        });

        $('#BtnCloseConfirmation').on("click", function () {
            $('#DivShareTacticPopupConfirmationMain').empty();
            $('#DivBackgroundShareTactic').css("display", "none");
        });
    });
    //Start Share Tactic
    function ShareTactic(email, optionalMessage) {
        var section = $('#hdnSection').val();
        var planTacticId = $('#planTacticId').val();
        //// Added by Sohel on 2nd April for PL#398 to encode the text insert in Optional Message Textbox
        optionalMessage = escape(optionalMessage);
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/Inspect/ShareTactic/")',
            data: {
                planTacticId: planTacticId,
                toEmailIds: email,
                optionalMessage: optionalMessage,
                section : section //section parameter passed to share tactic
            },
            success: function (data) {
                if (data != 'undefined' && data != false) {
                    ////Added by Sohel on 28th March 2014 for Wrapping the emaild ids.
                    email = email.replace(/,/g, ", ");
                    ShowConfirmation(email);
                    return false;
                }
                else {
                    var msgspan = "";
                    $("#errorMessageShareTacticPopup").css("display", "block");
                    $("#spanMessageErrorShareTacticPopup").text(msgspan);
                }
            }
        });
    }

    function ShowConfirmation(email) {
        $('#cancel-share-tactic-button').click();
        $('#DivBackgroundShareTactic').css("display", "block");
        $("#DivShareTacticPopupConfirmation").css("display", "block");
        $("#email-confirmation").html(email);
    }

    //End Share Tactic
</script>
