@using RevenuePlanner.Helpers
@{
    string integrationInstanceId = "0";
    string integrationTypeId = "0";
    string MarketoLinkClass = "disable-a";
    if (ViewBag.IntegrationInstanceId!=null)
    {
        integrationInstanceId = ViewBag.IntegrationInstanceId.ToString();
        if (integrationInstanceId != "0")
        {
            MarketoLinkClass = "enable-a";
        }
    }
    if (ViewBag.IntegrationTypeId!=null)
    {
        integrationTypeId = ViewBag.IntegrationTypeId.ToString();
    }
}
<!DOCTYPE html>
<style>
    .nav-pills > li a.disable-a {
        color: #908d88 !important;
    }

        .nav-pills > li a.disable-a:hover, .nav-pills > li a.disable-a:focus, .nav-pills > li.active a.disable-a {
            background-color: transparent !important;
            cursor: default !important;
        }
</style>
<div class="span2 myaccount-colum">
    <div class="width217">
        <ul class="nav nav-pills nav-stacked width217">
            <li id="Icredential" class="active">
                @if (ViewBag.PageTitle == "MapDataType")
                {
                    /* Added By : Kalpesh Sharma Integration Type Settings - 682 */
                    <a id="lnkIntegrationSetting" href="#">Integration Settings</a>
                }
                else
                {
                    /* Added By : Kalpesh Sharma Integration Type Settings - 682 */
                    <a id="lnkIntegrationSetting" href="#">Integration Settings</a>

                }
            </li>
            <li id="IntegrationFolder">
                @if ((ViewBag.PageTitle == "EloquaFolder"))
                {
                    if (ViewBag.IntegrationTypeCode == Enums.IntegrationType.Eloqua.ToString())
                    {

                        <a id="lnkIntegrationFolder" href="#">Integration Folders (Eloqua only)</a>
                    }
                    else
                    {
                        Response.Redirect(Url.Action("Index", "ExternalService"));
                    }
                }
                else
                {
                    if (ViewBag.IntegrationTypeCode == Enums.IntegrationType.Eloqua.ToString())
                    {

                        <a id="lnkIntegrationFolder" href="#">Integration Folders (Eloqua only)</a>
                    }
                }
            </li>
            <li id="MarketoFolder">
                @if ((ViewBag.PageTitle == "MarketoFolder"))
                {
                    if (ViewBag.IntegrationTypeCode == Enums.IntegrationType.Marketo.ToString())
                    {

                        <a id="lnkMarketoFolder" href="#" class="@MarketoLinkClass">Marketo Campaign Folders (Marketo only)</a>
                    }
                    else
                    {
                        Response.Redirect(Url.Action("Index", "ExternalService"));
                    }
                }
                else
                {
                    if (ViewBag.IntegrationTypeCode == Enums.IntegrationType.Marketo.ToString())
                    {

                        <a id="lnkMarketoFolder" href="#" class="@MarketoLinkClass">Marketo Campaign Folders (Marketo only)</a>
                    }
                }

            </li>
            <li id="MdataType" style="display: none;">
                @if (ViewBag.PageTitle == "Edit")
                {
                    <a href="@Url.Content("~/ExternalService/MapDataTypes/")@ViewBag.IntegrationInstanceId.ToString()">Map Data Types</a>
                }
                else
                {
                    <a href="#">Map Data Types</a>
                }
            </li>
        </ul>
    </div>
</div>
<script>
    $(document).ready(
        function () {

            if ('@ViewBag.PageTitle' == 'Create') {

                if (!$('#Icredential').hasClass('active')) {

                    $('#Icredential').addClass('active');
                }
                if (!$('#MdataType').hasClass('disabled')) {
                    $('#MdataType').removeClass();
                    $('#MdataType').addClass('disabled');
                }
            }
            else if ('@ViewBag.PageTitle' == 'Edit') {
                if (!$('#Icredential').hasClass('active')) {

                    $('#Icredential').addClass('active');
                }
                if (!$('#MdataType').hasClass('disabled')) {
                    $('#MdataType').removeClass();
                }
            }
            else if ('@ViewBag.PageTitle' == 'MapDataType') {
                if (!$('#MdataType').hasClass('active')) {
                    $('#MdataType').removeClass();
                    $('#Icredential').removeClass();
                    $('#MdataType').addClass('active');
                }
            }

            $("#IntegrationFolder").on("click", function () {
                $('#IntegrationFolder').addClass('active');
                $('#Icredential').removeClass('active');

            });
            $("#MarketoFolder").on("click", function () {
                if ("@MarketoLinkClass" == 'enable-a') {
                    $('#MarketoFolder').addClass('active');
                    $('#Icredential').removeClass('active');
                }

            });

            $("#Icredential").on("click", function () {
                $('#IntegrationFolder').removeClass('active');
                $('#MarketoFolder').removeClass('active');
                $('#Icredential').addClass('active');
            });
            $('#lnkIntegrationFolder').on("click", function () {
                var url = '@Url.Content("~/ExternalService/GetIntegrationFolder")';
                @*var queryStringArr = [];
                queryStringArr.push({
                    key: 'id',
                    Value: '@integrationInstanceId'
                },
                 {
                     key: 'TypeId',
                     Value: '@integrationTypeId'
                 });
                formSubmitEvent(url, queryStringArr);*@
                window.location.href = url + "?id=" + '@integrationInstanceId' + "&TypeId=" + '@integrationTypeId';
            });
            $('#lnkMarketoFolder').on("click", function () {
                if ("@MarketoLinkClass" == 'enable-a') {
                    var url = '@Url.Content("~/ExternalService/GetMarketoFolder")';
                    @*var queryStringArr = [];
                    queryStringArr.push({
                        key: 'id',
                        Value: '@integrationInstanceId'
                    },
                     {
                         key: 'TypeId',
                         Value: '@integrationTypeId'
                     });
                    formSubmitEvent(url, queryStringArr);*@
                    window.location.href = url + "?TypeId=" + '@integrationTypeId' + "&id=" + '@integrationInstanceId';
                }
            });
            $('#lnkIntegrationSetting').on("click", function () {
                var url = '@Url.Content("~/ExternalService/editIntegration/")';
                @*var queryStringArr = [];
                queryStringArr.push({
                    key: 'id',
                    Value: '@integrationInstanceId'
                },
                {
                    key: 'TypeId',
                    Value: '@integrationTypeId'
                });
                formSubmitEvent(url, queryStringArr);*@
                window.location.href = url + "?id=" + '@integrationInstanceId' + "&TypeId=" + '@integrationTypeId';
            });

        }
            );
</script>
