@model RevenuePlanner.Models.IntegrationModel
@using RevenuePlanner.Helpers

<script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>

@Html.Hidden("SuccMsg", TempData["SuccessMessage"])
@Html.Hidden("ErrMsg", TempData["ErrorMessage"])
@Html.Hidden("DeleteConfirmationMsg", TempData["DeleteConfirmationMsg"])
@Html.Hidden("InActiveConfirmationMsg", TempData["InActiveConfirmationMsg"])

@{
    ViewBag.Title = "Edit External Service Integrations";
    ViewBag.ActiveMenu = RevenuePlanner.Helpers.Enums.ActiveMenu.Pref;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PageTitle = "Edit";
    ViewBag.ModuleTitle = "Integration";
}

@section Sidebar {
    @Html.Partial("~/Views/shared/_preferences.cshtml")
}

<!--success message-->
<div id="successMessage" class="alert hide alert-success message-position">
    <a class="close">×</a>
    <div id="cSuccess"><strong>Success.</strong> @Html.Raw(HttpUtility.HtmlDecode((string)TempData["SuccessMessage"]))</div>
</div>
<div id="errorMessage" class="alert alert-error hide message-position">
    <a class="close">×</a>
    <div id="cError"><strong>Error!</strong> @Html.Raw(HttpUtility.HtmlDecode((string)TempData["ErrorMessage"]))</div>
</div>
<!--success message-->

<ul class="nav nav-tabs margin-bottom0">
    <li class="source-sans-proregular">
        <h2 class="title-header"> @( Model.IntegrationInstanceId == 0 ? "Create" : "Edit") External Service Integrations</h2>
    </li>
</ul>

<a class="link-gray" href="@Url.Action("Index", "ExternalService")">« BACK TO LIST</a>

<div class="padding-content cf source-sans-proregular" id="content" style="padding-bottom: 0px !important">
    <div class="row">
        @Html.Partial("~/Views/ExternalService/_integration.cshtml")
        @*Added By : Kalpesh Sharma Integration Type Settings - 682 *@
        <div class="integrationAccordion span10">
            <div id="accordion" class="accordion">
                @Html.Partial("~/Views/ExternalService/_GeneralSettings.cshtml", Model)
                @* Added by Sohel Pathan on 05/08/2014 for PL ticket #656 and #681*@
                @if (Model.IntegrationInstanceId > 0)
                { 
                    @Html.Partial("~/Views/ExternalService/_DataMapping.cshtml", Model.GameplanDataTypeModelList)
                    @* Added by Sohel Pathan on 05/08/2014 for PL ticket #656 and #681*@
                    if(Model.IntegrationType.Title==Enums.IntegrationType.Eloqua.ToString())
                    {
                        @Html.Partial("~/Views/ExternalService/_ExternalServer.cshtml", Model.ExternalServer)
                    }
                    else if(Model.IntegrationType.Title==Enums.IntegrationType.Salesforce.ToString())
                    {
                        @Html.Partial("~/Views/ExternalService/_Responses.cshtml", Model.GameplanDataTypePullRevenueModelList)
                    }
                    @* Added by Dharmraj on 06/08/2014 for PL ticket #658*@
                    @Html.Partial("~/Views/ExternalService/_ClosedDeals.cshtml", Model.GameplanDataTypePullModelList)
                }
                else
                {
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <div class="accordion-toggle CreateMode" >Pushing Tactic Data</div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle CreateMode" data-parent="#accordion" >Response Pulling</a>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle CreateMode" data-parent="#accordion" >Pulling Close Deals</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        //Added By : Kalpesh Sharma : PL#682 Integration - UI - Integration Type Settings
        $('.integrationAccordion .accordion-toggle').not('.CreateMode').click(function () {
            $('.accordion-toggle span').text('+ Expand');
            if ($(this).parent().next('.accordion-body').hasClass('in')) {
                $(this).children('span').text('+ Expand');
            } else {
                $(this).children('span').text('- Collapse');
                //Added By : Kalpesh Sharma
                if ($(this).attr("href") == '#collapseGrp1') {
                    $('#Instance').focus();
                }
                //Added By : Sohel Pathan
                else if ($(this).attr("href") == '#collapseGrpDataMapping') {
                    $("#frmDataMapping").find('#0').focus();
                }
                else if ($(this).attr("href") == '#collapseGrpServer') {
                    $('#SFTPServerName').focus();
                }
                else if ($(this).attr("href") == '#collapseCloseDeal') {
                    $("#frmClosedDealDataMapping").find('#ddlStage').focus();
                }
            }
        });
        $('.integrationAccordion .accordion-group:last-child').addClass('last');
        //End By : Kalpesh Sharma : PL#682 Integration - UI - Integration Type Settings

        $("#Instance").focus();
        $(".selectBox select").selectbox();

        if ($('#SuccMsg').val() == null || $('#SuccMsg').val() == '') {
            $("#successMessage").slideUp(400);
        }
        else {
            $("#successMessage").slideDown(1200);
            // $("#successMessage").slideUp(3000); 
        }
        if ($('#ErrMsg').val() == null || $('#ErrMsg').val() == '') {
            $("#errorMessage").slideUp(400);
        }
        else {
            $("#errorMessage").slideDown(400);
            $("html, body").animate({ scrollTop: 0 }, 1000);
        }

        $('#hdnIsActiveIntact').val($('#IsActive').val());

        //$('#content :input').each(function () {
        //    if ($(this).attr('type') == 'text' || $(this).attr('type') == 'select' || $(this).attr('type') == 'password') {
        //        if (this.id != 'importActuals' && this.id != 'integrationStatus') {
        //            var input = $(this).val();
        //            if (input == '') {
        //                $(this).addClass("error");
        //            } else {
        //                $(this).removeClass("error");
        //            }
        //        }
        //    }
        //});

        var selectedSpan = $('#ddlSyncFrequency').val();
        if (selectedSpan != "") {
            if (selectedSpan == "Hourly") {
                $("#divTimeOptions").hide();
                $("#divDayOptions").hide();
                $("#divDateOptions").hide();
            }
            else if (selectedSpan == "Daily") {
                $("#divTimeOptions").show();
                $("#divDayOptions").hide();
                $("#divDateOptions").hide();
            }
            else if (selectedSpan == "Weekly") {
                $("#divTimeOptions").show();
                $("#divDayOptions").show();
                $("#divDateOptions").hide();
            }
            else if (selectedSpan == "Monthly") {
                $("#divTimeOptions").show();
                $("#divDayOptions").hide();
                $("#divDateOptions").show();
            }
        }

        if ($('#IsActive').val().toString().toLowerCase() == "false") {
            $(this).val("Inactive");
            $('#IsActive').val(false);
            $(this).addClass("icon-check-gray");
            $(this).removeClass("icon-check-blue");
        } else {
            $(this).val("Active");
            $('#IsActive').val(true);
            $(this).addClass("icon-check-blue");
            $(this).removeClass("icon-check-gray");
        }

        if ($('#IsImportActuals').val().toString().toLowerCase() == "false") {
            $(this).val("Inactive");
            $('#IsImportActuals').val(false);
            $(this).addClass("icon-check-gray");
            $(this).removeClass("icon-check-blue");
        } else {
            $(this).val("Active");
            $('#IsImportActuals').val(true);
            $(this).addClass("icon-check-blue");
            $(this).removeClass("icon-check-gray");
        }

        $("#content_wraper").removeClass("span10 all-height").addClass("span10 padding-top40");
    });


    $("#ddlSyncFrequency").change(function () {
        var selectedSpan = $(this).val();
        if (selectedSpan != "") {
            if (selectedSpan == "Hourly") {
                $("#divTimeOptions").hide();
                $("#divDayOptions").hide();
                $("#divDateOptions").hide();
            }
            else if (selectedSpan == "Daily") {
                $("#divTimeOptions").show();
                $("#divDayOptions").hide();
                $("#divDateOptions").hide();
                populateTimeOptions();
                $("#divTimeOptions").focus();
            }
            else if (selectedSpan == "Weekly") {
                $("#divTimeOptions").show();
                $("#divDayOptions").show();
                $("#divDateOptions").hide();
                populateTimeOptions();
                populateWeekDayOptions();
                $("#divTimeOptions").focus();
            }
            else if (selectedSpan == "Monthly") {
                $("#divTimeOptions").show();
                $("#divDayOptions").hide();
                $("#divDateOptions").show();
                populateTimeOptions();
                $("#divTimeOptions").focus();
                $("#SyncFrequency_Day").val('');
            }
        }
    });

    $('select').blur(function () {
        if ($(this).val() == '') {
            $(this).addClass("error");
        } else {
            $(this).removeClass("error");
        }
    });

    $("#integrationStatus").click(function () {
        if ($(this).hasClass("icon-check-blue")) {
            $(this).val("Inactive");
            $('#IsActive').val(false);
            $(this).addClass("icon-check-gray");
            $(this).removeClass("icon-check-blue");
        } else {
            $(this).val("Active");
            $('#IsActive').val(true);
            $(this).addClass("icon-check-blue");
            $(this).removeClass("icon-check-gray");
        }
    });

    $("#importActuals").click(function () {
        if ($(this).hasClass("icon-check-blue")) {
            $(this).val("Inactive");
            $('#IsImportActuals').val(false);
            $(this).addClass("icon-check-gray");
            $(this).removeClass("icon-check-blue");
        } else {
            $(this).val("Active");
            $('#IsImportActuals').val(true);
            $(this).addClass("icon-check-blue");
            $(this).removeClass("icon-check-gray");
        }
    });


    function populateTimeOptions() {
        $.getJSON("@Url.Content("~/ExternalService/populateTimeOptions")",
        function (TimeData) {
            var select = $("#timeOptions");
            select.empty();
            $.each(TimeData, function (index, itemData) {
                select.append($('<option/>', {
                    value: itemData.Value,
                    text: itemData.Text
                }));
            });

            $(".selectBox select").selectbox('detach');
            $(".selectBox select").selectbox("attach");
        });
    }

    function populateWeekDayOptions() {
        $.getJSON("@Url.Content("~/ExternalService/populateWeekDayOptions")",
        function (WeekData) {
            var select = $("#dayOptions");
            select.empty();
            $.each(WeekData, function (index, itemData) {
                select.append($('<option/>', {
                    value: itemData.Value,
                    text: itemData.Text
                }));
            });

            $(".selectBox select").selectbox('detach');
            $(".selectBox select").selectbox("attach");
        });
        }

</script>
