@model RevenuePlanner.Models.ContactInquiry
@using RevenuePlanner.Helpers
<div id="nl-form2" class="nl-form">
    @{
        Dictionary<int, string> FunnelList = new Dictionary<int, string>();
        FunnelList = (Dictionary<int, string>)TempData["FunnelList"];
        @Html.GenerateFunnel(FunnelList, @Model.MarketingLeads, @Model.MarketingDealSize, @Model.TeleprospectingLeads, @Model.TeleprospectingDealSize, @Model.SalesLeads, @Model.SalesDealSize, false)
    }
    <div class="nl-overlay"></div>
</div>
@Html.GenerateFunnel(FunnelList, @Model.MarketingLeads, @Model.MarketingDealSize, @Model.TeleprospectingLeads, @Model.TeleprospectingDealSize, @Model.SalesLeads, @Model.SalesDealSize, true)

<script>
    var nlform2 = new NLForm(document.getElementById('nl-form2'));

    // Start - Added by Sohel Pathan on 01/07/2014 for PL ticket #563 to apply custom restriction logic on Business Units - isViewOnly parameter added
    //if ($('#IsViewEditBusinessUnit').val().toLowerCase() == 'false') {
    //    $('#nl-form2 :input').each(function () {
    //        if ($(this).attr('type') == 'text') {
    //            $(this).attr('readonly', 'readonly');
    //        }
    //    });
    //}
    // End - Added by Sohel Pathan on 01/07/2014 for PL ticket #563 to apply custom restriction logic on Business Units - isViewOnly parameter added
</script>
