@model RevenuePlanner.Models.ModelOverView
@{
    //// Flag to indicate unavailability of web service.
    //// Added By: Maninder Singh Wadhva on 11/24/2014.
    //// Ticket: 942 Exception handeling in Gameplan.
    bool isServiceUnavailable = Convert.ToBoolean(ViewBag.IsServiceUnavailable);
}
@if (Model.ModelId != 0)
{
   
    @Html.HiddenFor(m => m.Title)
    <div id="nl-form" class="nl-form">
        @Html.Raw("I'm editing a model called")
        @*Added By Kalpesh Sharma #560: Method to Specify a Name for Cloned Model 07-15-2014*@
        <span class="color5693B3">@HttpUtility.HtmlDecode(Model.Title)</span>.
        <div class="nl-overlay"></div>
    </div>
}
else
{
    <div id="nl-form" class="nl-form">
        @Html.Raw("I'm creating a model called")
        @Html.TextBoxFor(model => model.Title, new { placeholder = @Model.Title, datadefault = "Title", datasubline = "For example: <em>SMB Baseline</em>" , isedit = false}).
        <div class="nl-overlay"></div>
    </div>
    @Html.Hidden("hdnmoelexist", ""); // hidden field added to check if model exist or not

}
<script>
    //// Function to redirect to login page on unavailability of web service.
    //// Added By: Maninder Singh Wadhva on 11/24/2014.
    //// Ticket: 942 Exception handeling in Gameplan.
    function redirectOnServiceUnavailibility() {
        if ('@Html.Raw(Json.Encode(isServiceUnavailable))' == 'true') {
            window.location = '@Url.Content(RevenuePlanner.Helpers.Common.RedirectOnServiceUnavailibilityPage)';
        }
    }

    var nlform = new NLForm(document.getElementById('nl-form'));
    $('.nl-field').each(function () {
        if ($(this).next().attr('datadefault') == "Title") {
            $(this).children('a').attr('id', 'lnkTitle');
        }
    });
    onClickActivity();
    // function added to handle the blur event of NaturalLanguageForm textbox to check for duplicate model
    function getblurvalue(sender) {
        var aHrefElement = $("a")
        if ($(sender).parent().parent().parent().find(aHrefElement).attr("id") == "lnkTitle") {
            if (CheckHtmlTag($(sender).val()) == false) {
                alert("@RevenuePlanner.Helpers.Common.objCached.TitleContainHTMLString");
                var a = $(sender).data('placeholder');
                $(sender).attr('placeholder', a);
                if (a == "Baseline Model")
                $(sender).val('');
                else
                    $(sender).val(a);
                return false;
            }
            $("#lnkTitle").html($(sender).val());
            $.ajax(
            {
                type: "GET",
                cache: false,
                url: '@Url.Content("~/Model/CheckDuplicateModelTitle")',
               data: { Title: encodeURIComponent($(sender).val()) },
               dataType: "json",
               success: function (data) {
                   if (data == 'exist') {
                       $("#hdnmoelexist").val("true");
                   }
                   else {
                       $("#hdnmoelexist").val("false");
                   }
               }
           });
        }
        $(sender).attr('placeholder', $(sender).data('placeholder'));
        var IsEditable = $(sender).attr('isedit');
        var TextValue = $(sender).val();
        if (IsEditable != null && IsEditable != 'undefined' && IsEditable != '' && IsEditable.toLowerCase() == "true") {
            $(sender).attr('value', TextValue);
        }
       $(".nl-field-go").click();
   }

   $(document).ready(
    function () {
        //// Call function to redirect on service unavailibility.
        //// Added By: Maninder Singh Wadhva on 11/24/2014.
        //// Ticket: 942 Exception handeling in Gameplan.
        redirectOnServiceUnavailibility();
    });
</script>

