@model RevenuePlanner.Models.BaselineModel
@using RevenuePlanner.Models
@using RevenuePlanner.Helpers

@{
    ViewBag.Title = "Integration";
    ViewBag.ActiveMenu = RevenuePlanner.Helpers.Enums.ActiveMenu.Model;
    Layout = "~/Views/Shared/_Layout.cshtml";
    string ModelId = Convert.ToString(ViewBag.ModelId);
    string ModelStatus = Convert.ToString(ViewBag.ModelStatus);
    string ModelTitle = Convert.ToString(ViewBag.ModelTitle);

    //Added By Kalpesh Sharma Functional and code review #560 07-16-2014   
    int LatestModelID = Convert.ToInt32(ViewBag.LatestModelID);

    // Added By : Kalpesh Sharma #560 Method to Specify a Name for Cloned Model
    string PublishedMsg = ViewBag.ModelPublishComfirmation;
    @Html.Hidden("PublishedMsg", PublishedMsg);
                                              bool PublisheStatus = ViewBag.Flag;
    @Html.Hidden("PublisheStatus", PublisheStatus);
                                                  var currentdate = System.DateTime.Today.ToShortDateString();
                                                  // Start - Added by Sohel Pathan on 01/07/2014 for PL ticket #563 to apply custom restriction logic on Business Units
                                                                  string IsOwner = Convert.ToString(ViewBag.IsOwner);
    @Html.Hidden("IsOwner", IsOwner);
                                    // End - Added by Sohel Pathan on 01/07/2014 for PL ticket #563 to apply custom restriction logic on Business Units
                                    ViewBag.ModelIdPartial = ViewBag.ModelId;//Added by Mitesh Vaishnav on 11/07/2014 for functional review point 49
                                    ViewBag.PageTitle = "Integration";//Added by Mitesh Vaishnav on 11/07/2014 for functional review point 49
}

@section nlFormContent{
    <link rel="stylesheet" href="@Url.Content("~/Content/css/jquery.slidepanel.css")" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/dropdown-info-user.js")"></script>
}

@section Sidebar
{
    @Html.Partial("~/Views/Model/_model.cshtml")
}
<style>
    .datepicker{
        z-index: 2005 !important;
    }
</style>
@Html.Hidden("hdnMsg", (string)TempData["ErrorMessage"], new { id = "hdnMsg" })
<!--success message-->
<div id="successMessage" class="alert hide alert-success message-position">
    <a class="close">×</a>
    <div id="cSuccess">@Html.Raw(HttpUtility.HtmlDecode((string)TempData["SuccessMessage"]))</div>
</div>
<div id="errorMessage" class="alert alert-error hide message-position">
    <a class="close">×</a>
    <div id="cError">@Html.Raw(HttpUtility.HtmlDecode((string)TempData["ErrorMessage"]))</div>
</div>
@Html.HiddenFor(model => ModelId, new { id = "hdnModelId" })
@Html.HiddenFor(model => ModelStatus, new { id = "hdnStatus" })
@Html.Hidden("EffectiveDate", currentdate)

<div id="DivBackgroundModel" class="modal-backdrop fade in" style="z-index: 1501; display: none;"></div>
<div id="DivNoIntegrationModelPopup" class="form-inspect-share hide fade in" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; height: 220px; z-index: 1502;">
    <h2 class="primary-title source-sans-prosemibold">No Integration Exists</h2>
    <p class="source-sans-prosemi" style="font-weight: normal; color: #FFFFFF; font-size: 17px; margin-bottom: 40px;">
        Plan syncs activities to existing external automation systems via API integration. To utilize this ability, you must add an integration.
    </p>
    <div style="width: 100%; margin: 0px auto;">
        <button class="form-inspect-share-button btn btn-large" id="Add-Integration" value="Submit" style="margin-top: 0px !important; margin-right: 10px; width: 80px;">Add Integration</button>
        &nbsp;
        <button class="btn-link" id="integration-cancel-button" type="button" style="margin-top: 0px !important; width: 80px; line-height: 41px;">Cancel</button>
    </div>
</div>
@Html.Partial("~/Views/Model/_publishmodel.cshtml")

<ul class="nav nav-tabs" style="margin-bottom: 20px; padding-bottom: 10px;">
    <input type="hidden" value="@ModelId" id="latestModelId" />
    <li class="title-header source-sans-proregular" title="@Model.Title">
        <h2 id="lblTitle">@Model.Title <span class="gray source-sans-prolight" title="@ModelStatus">@ModelStatus</span></h2>
    </li>
</ul>
<p class="small-content source-sans-prolight" style="font-weight: bold;">Please select the target integration for this model. Limit one target for available integrations.</p>
<div id="table_request" class="padding-content padding-top0 cf source-sans-proregular">
    <table id="table_integrations" class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="width280">Instance</th>
                <th class="width180">Provider</th>
                <th class="width180">Last Sync</th>
                <th class="width86">Target</th>
            </tr>
        </thead>
        <tbody>
            <!--tr elements are add dinamically with javascript (view script.js file)-->
        </tbody>
    </table>
</div>

@*Added By Kalpesh Sharma Functional and code review #560 07-16-2014   *@
@Html.Partial("~/Views/Model/_DuplicateModel.cshtml")


@if ((bool)ViewBag.IsIntegrationCredentialCreateEditAuthorized)   // Added by Sohel Pathan on 19/06/2014 for PL ticket #519 to implement user permission Logic    
{
    <p class="small-content source-sans-prolight">
        Manage integrations in <a href='@Url.Content("~/ExternalService/Index")'>Settings.</a>
    </p>
}

<script type="text/javascript">

    var lastModelId;
    var modelStatus;

    $(document).ready(function () {

        $('#DivBackgroundModel').css("display", "none");
        $('#DivPublishModelPopup').css("display", "none");
        $('#DivNoIntegrationModelPopup').css("display", "none");

        var ismsg = $("#hdnMsg").val();
        if ($('#cSuccess').html() != '') {
            $('#cSuccess').html('<strong>Success.</strong> ' + $('#cSuccess').html())
            $("#successMessage").slideDown(1200);
        }
        if ($('#cError').html() != '') {
            $("#errorMessage").slideDown(1200);
        }
        $("#content_wraper").removeClass("span10 all-height").addClass("span10 padding-top40");

        $('#NewModel').click(function (e) {
            window.location.href = "@Url.Action("Create", "Model")";
        });
        $('#dp_start .add-on').click(function () {
            $('#dp_start').datepicker('show');
        });
        if ($('#hdnModelId').val() == $("#latestModelId").val()) {
            if ($('#hdnStatus').val() == "Draft" && ($('#IsOwner').val().toLowerCase() == 'true')) {   // Added by Sohel Pathan on 01/07/2014 for PL ticket #563 to apply custom restriction logic on Business Units
                $("#publish").removeClass('btn-blue-disable');
                $("#publish").addClass('btn-blue');
                $("#publish").removeAttr('disabled');//Added by Rahul Shah to make editable publish model button
            }
        }

        LoadModelData($("#latestModelId").val(), true);
        function LoadModelData(modelId, bool) {
            if ($('#hdnModelId').val() != modelId) {
                modelId = $('#hdnModelId').val();
                $("#create_new_tactic").hide();
                $("#continue").hide();

            }
            else {
                $("#create_new_tactic").show();
                $("#continue").show();

            }

            $('#ver_' + modelId).removeClass('disabled pull-right');
            $('#ver_' + modelId).addClass('active pull-right');
            if (lastModelId != null) {
                $('#ver_' + lastModelId).removeClass('active pull-right');
                $('#ver_' + lastModelId).addClass('disabled pull-right');
            }
            lastModelId = modelId;
            /*Added by Nirav Shah on 18 feb 2014 for TFS Point 252: Editing a published model*/
        }

        // Added By : Kalpesh Sharma #560 Method to Specify a Name for Cloned Model
        $('#copymodelbtn').click(function () {
            $(".copymodeldesc").removeClass("error");
            var flag = 0;

            if ($("#copymodeldesc").val() == "") {
                $("#copymodeldesc").addClass("error");
                flag = 1;
            }

            if (flag == 1) {
                var msgspan = "@Common.objCached.ValidateEnteredField";
                $("#errorMessagecopy").css("display", "block");
                $("#spanErrorMessageModelcopy").text(msgspan);
            } else {

                //added by : Kalpesh Sharma - 14/07/2014 #560 Method to Specify a Name for Cloned Model
                var titleName = htmlEncode($("#copymodeldesc").val().trim());

                $.ajax(
                {
                    type: "GET",
                    cache: false,
                    url: '@Url.Content("~/Model/CheckDuplicateModelTitle")',
                        data: { Title: titleName},
                        dataType: "json",
                        success: function (data) {
                            if (data == 'exist') {
                                var msgspan = "@Common.objCached.ModelAlreadyExits";
                            $("#errorMessagecopy").css("display", "block");
                            $("#spanErrorMessageModelcopy").text(msgspan);
                        }
                        else {
                            $('#DivPartialShareModelDuplicate').hide();
                            DuplicateModel();
                        }
                        }
                    });
            }
            return false;
        });
        $(document).on("click", "a[name='versionId']", function (e) {
            var latest = $("#latestModelId").val();
            var id = $(this).attr("id");
            if (id == latest) {
                $("#NewModel").removeClass('btn-blue-disable');
                $("#NewModel").addClass('btn-blue');
                $("#mode").val(latest);
                if ($('#hdnStatus').val() == "Draft" && ($('#IsOwner').val().toLowerCase() == 'true')) {   // Added by Sohel Pathan on 01/07/2014 for PL ticket #563 to apply custom restriction logic on Business Units
                    $("#publish").removeClass('btn-blue-disable');
                    $("#publish").addClass('btn-blue');
                    $("#publish").removeAttr('disabled'); //Added by Rahul Shah to make editable publish model button
                }
                else {
                    $("#publish").removeClass('btn-blue');
                    $("#publish").addClass('btn-blue-disable');
                    $("#publish").attr('disabled', 'disabled'); //Added by Rahul Shah to make disable publish model button
                }
            }
            else {
                $("#publish").removeClass('btn-blue');
                $("#publish").addClass('btn-blue-disable');
                $("#publish").attr('disabled', 'disabled');//Added by Rahul Shah to make disable publish model button

            }
            $('#ver_' + id).removeClass('disabled pull-right');
            $('#ver_' + id).addClass('active pull-right');
            if (lastModelId != null) {
                $('#ver_' + lastModelId).removeClass('active pull-right');
                $('#ver_' + lastModelId).addClass('disabled pull-right');
            }
            lastModelId = id;
            var status;
            $("#table_integrations tbody tr").remove();
            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/Model/GetIntegrationDatabyid/")',
                data: {
                    id: lastModelId
                },
                dataType: "json",
                success: function (r) {
                    integration = r;
                    fillIntegrationTable();
                    myApp.hidePleaseWait();
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Content("~/Model/FillVersion")',
                        data: { id: lastModelId },
                        dataType: "json",
                        success: function (r) {
                            for (i in r) {
                                $("#lblTitle").html('');
                                $("#lblTitle").html(r[i].Title + '<span class="gray source-sans-prolight">' + r[i].Status + '</span>');
                            }

                            myApp.hidePleaseWait();
                        }
                    });
                }
            });

        });

        $("#Add-Integration").click(function () {
            window.location.href = '@Url.Content("~/ExternalService/Index")';
            return true;
        });

        $("#integration-cancel-button").click(function () {
            $('#DivBackgroundModel').css("display", "none");
            $('#DivPublishModelPopup').css("display", "none");
            $("#DivNoIntegrationModelPopup").css("display", "none");
            return false;
        });

        $('#publish').click(function (e) {
            if ($("#latestModelId").val() == lastModelId && $('#hdnStatus').val() == "Draft") {
                if ($('#PublisheStatus').val().toLocaleLowerCase() == 'true') {
                    if (confirm($("#PublishedMsg").val())) {
                        $('#DivBackgroundModel').css("display", "block");
                        $('#DivPublishModelPopup').css("display", "block");
                        var date = $("#EffectiveDate").val();
                        $("#t_startdate").val(date);
                        return false;
                    }
                    else {
                        $('#DivBackgroundModel').css("display", "none");
                        $('#DivPublishModelPopup').css("display", "none");
                        return false;
                    }
                }
                else {
                    $('#DivBackgroundModel').css("display", "block");
                    $('#DivPublishModelPopup').css("display", "block");
                    var date = $("#EffectiveDate").val();
                    $("#t_startdate").val(date);
                    return false;
                }
            }
            else {
                $('#DivBackgroundModel').css("display", "none");
                $('#DivPublishModelPopup').css("display", "none");
                return false;
            }
        });

        $("#cancel-button").click(function () {
            $('#DivBackgroundModel').css("display", "none");
            $('#DivPublishModelPopup').css("display", "none");
            return false;
        });

        $("#Save-publish").click(function () {
            var date = $("#t_startdate").val();
            $("#EffectiveDate").val(date);
            publishModel();
            return true;
        });

        function publishModel() {

            var ModelId = $("#latestModelId").val();

            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/Model/ModelPublish/")',
                data: 'ModelId=' + ModelId + '&EffectiveDate=' + $("#EffectiveDate").val(),
                success: function (data) {
                    if (data.errorMessage != undefined) {
                        url = '@Url.Content("~/Model/Integration")';
                        window.location.href = url + '?id=' + ModelId;
                    }
                    else if (data.successMessage != undefined) {
                        url = '@Url.Content("~/Model/ModelZero")';
                        window.location.href = url;
                    }
                    else {
                        url = '@Url.Content("~/Model/ModelZero")';
                        window.location.href = url;
                    }
                }
            });

    }

        // Fill Tactic selection Table
        var mid;
        if ($('#hdnModelId').val() != $("#latestModelId").val()) {
            mid = $('#hdnModelId').val();
        }
        else {
            mid = $('#latestModelId').val();
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/Model/GetIntegrationDatabyid/")',
            data: {
                id: mid
            },
            dataType: "json",
            success: function (r) {
                integration = r;
                fillIntegrationTable();
                myApp.hidePleaseWait();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Content("~/Model/FillVersion")',
                    data: { id: mid },
                    dataType: "json",
                    success: function (r) {
                        for (i in r) {
                            $("#lblTitle").html('');
                            $("#lblTitle").html(r[i].Title + '<span class="gray source-sans-prolight">' + r[i].Status + '</span>');
                        }

                        myApp.hidePleaseWait();
                    }
                });
            }
        });

        function fillIntegrationTable() {
            if (integration != 'undefined') {
                if (integration.length) {

                    $('#table_integrations > tbody').find("tr").remove();

                    for (i in integration) {
                        addRowIntegration(i, integration[i].id, integration[i].clientid, integration[i].provider, integration[i].instance, integration[i].lastSync, integration[i].target);
                    }
                } else {
                    $('#DivBackgroundModel').css("display", "block");
                    $('#DivNoIntegrationModelPopup').css("display", "block");
                    $('#table_integrations > tbody').append('<tr><td>---</td><td>---</td><td></td><td></td></tr>');
                }
            }
        }
        //add row in tactics table
        function addRowIntegration(_index, _id, _Clientid, _provider, _instance, _lastSync, _target) {
            var $tableProvider = $('#table_integrations > tbody');
            var $html = "";

            if (_target) {

                $html += '<tr id="' + _id + '">' +
                        '<td><span class="title-baseline-model truncate" title="' + _instance + '">' + _instance + '</td>' +
                        '<td>' + _provider + '</td>' +
                        '<td>' + _lastSync + '</td>' +
                        '<td><span style="margin-right:0px;" class="circle-check-icon-gray circle-check-icon-blue"  id = "' + "int_" + _id + '"></span></td>' +
                        '</tr>';

            } else {
                $html += '<tr id="' + _id + '" class="draf">' +
                        '<td><span class="title-baseline-model truncate" title="' + _instance + '">' + _instance + '</td>' +
                        '<td>' + _provider + '</td>' +
                        '<td>' + _lastSync + '</td>' +
                        '<td><span style="margin-right:0px;" class="circle-check-icon-gray"  id = "' + "int_" + _id + '"></span></td>' +
                        '</tr>';
            }

            $tableProvider.append($html);

        }

        $(document).on('click', '#table_integrations tbody tr td span.circle-check-icon-gray', function (e) {
            // Start - Added by Sohel Pathan on 01/07/2014 for PL ticket #563 to apply custom restriction logic on Business Units
            if ($('#IsOwner').val().toLowerCase() == 'false' && ($('#IsOwner').val().toLowerCase() == 'true')) {
                return false;
            }
            // End - Added by Sohel Pathan on 01/07/2014 for PL ticket #563 to apply custom restriction logic on Business Units
            if (confirm('@Common.objCached.ConfirmationForModifyTargetIntegration')) {
                var id = this.id;

                var integrationInstanceId = id.split('_')[1];

                SaveAllIntegration(integrationInstanceId);
            }
        });

        function SaveAllIntegration(integrationInstanceId) {
            var uId = '@Sessions.User.UserId';
            var ModelId = lastModelId;
            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/Model/SaveAllIntegration/")',
                data: {
                    modelId: ModelId,
                    integrationId: integrationInstanceId,
                    userId: uId
                },
                dataType: "json",
                success: function (r) {
                    if (r.returnURL != 'undefined' && r.returnURL == '#') {
                        window.location = '@Url.Content("~/Login/Index")';
                    }
                    else {
                        if (r.returnValue) {

                            $('#successMessage').css("display", "block");
                            $('#cSuccess').html('<strong>Success.</strong> ' + r.message)
                            $("#successMessage").slideDown(1200); // Show the Alert
                            $('#errorMessage').css("display", "none");

                            $.ajax({
                                type: 'POST',
                                url: '@Url.Content("~/Model/GetIntegrationDatabyid/")',
                                data: {
                                    id: ModelId
                                },
                                dataType: "json",
                                success: function (r) {
                                    integration = r;
                                    fillIntegrationTable();
                                    myApp.hidePleaseWait();
                                }
                            });
                        }
                        else {
                            $('#errorMessage').css("display", "block");
                            $('#cError').html('<strong>Error!</strong> ' + r.message)
                            $("#errorMessage").slideDown(1200); // Show the Alert
                            $('#successMessage').css("display", "none");
                        }

                    }
                    myApp.hidePleaseWait();
                }
            });

        }

    });

    //// Start - Added by :- Sohel Pathan on 09/06/2014 for PL ticket #219 to clone a model.
    $('#BtnGroup').click(function (e) {
        if ($(this).html().toLowerCase() == "duplicate") {

            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/Model/GetDefaultDuplicateModelName/")',
                //Added By Kalpesh Sharma Functional and code review #560 07-16-2014
                data: { modelId: '@LatestModelID' },
                dataType: "json",
                success: function (data) {
                    if (data.status == 1) {

                        //Added By Kalpesh Sharma #560: Method to Specify a Name for Cloned Model 07-15-2014
                        $("#copymodeldesc").val(htmlDecode(data.msg));
                        $("#original").text(htmlDecode(data.name));

                        //07/14/2014 Functional and Code review comments
                        $("#errorMessagecopy").css("display", "none");
                        $("#copymodeldesc").removeClass("error");
                        $('#DivPartialShareModelDuplicate').show();
                    }
                    else {
                        $("#cError").html('<strong>Error! </strong>' + data.msg)
                        $("#errorMessage").slideDown(400);
                        $("html, body").animate({ scrollTop: 0 }, 1000);
                    }
                }
            });
        }
        else {
            var url = '@Url.Content("~/Model/CreateModel")';
            formSubmitEvent(url);            
        }
    });

    // Added By : Kalpesh Sharma #560 Method to Specify a Name for Cloned Model
    // Close or hide the Duplicate popup on Cancel click . 
    $('#cancelbtncopy').click(function () {
        $('#DivPartialShareModelDuplicate').hide();
    });

    function DuplicateModel() {

        //added by : Kalpesh Sharma - 14/07/2014 #560 Method to Specify a Name for Cloned Model
        var titleName = htmlEncode($("#copymodeldesc").val().trim());

        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/Model/DuplicateModel/")',
            //Added By Kalpesh Sharma Functional and code review #560 07-16-2014 
            data: { modelId: '@LatestModelID', title: titleName },
            dataType: "json",
            success: function (data) {
                if (data.status == 1) {
                    var url = '@Url.Content("~/Model/ModelZero")';
                    window.location.href = url;
                }
                else {
                    $("#cError").html('<strong>Error! </strong>' + data.msg)
                    $("#errorMessage").slideDown(400);
                    $("html, body").animate({ scrollTop: 0 }, 1000);
                }
            }
        });
    }
    //// End - Added by :- Sohel Pathan on 09/06/2014 for PL ticket #219 to clone a model.
</script>
