@using RevenuePlanner.Helpers @* addebd by Nirav Shah  on 14 feb 2014 forget message from commonmessage file *@
@{
    ViewBag.Title = "Model";
    ViewBag.ActiveMenu = RevenuePlanner.Helpers.Enums.ActiveMenu.Model;
    string strConfirmationmessage = Common.objCached.ModelDeleteConfirmMessage; @* added by Nirav Shah  on 14 feb 2014 forget message from commonmessage file *@
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool modelExists = (bool)ViewBag.ModelExists;
}
@section Sidebar
{
    <div class="padding-content padding-bottom0">
        <h4 class="text-shadow-black source-sans-prolight">Model Summary</h4>
        <div class="wraper-btns cf">
            <div class="span6">
                <button class="btn btn-blue text-shadow-blue source-sans-proregular createbtn" id="btnNewModel" type="button">New Model</button>
            </div>
            <div class="span6">
                <button class="btn btn-blue-disable text-shadow-blue source-sans-proregular" type="button" disabled="disabled">Publish</button>
            </div>
        </div>
    </div>
    <ul class="nav nav-list nav-gray-plan">
        <li id="change-log" class="nav-header">
            <span>Change Log</span>
            <div class="changes"></div>
        </li>
    </ul>
}
<!--success message-->
<div id="successMessage" class="alert hide alert-success message-position">
    <a class="close">×</a>

    <div id="cSuccess">@Html.Raw(HttpUtility.HtmlDecode((string)TempData["SuccessMessage"]))</div>
</div>
@* added by Nirav Shah on 14 feb 2014 for show error message *@
<div id="errorMessage" class="alert alert-error hide message-position">
    <a class="close">×</a>
    <div id="cError">@Html.Raw(HttpUtility.HtmlDecode((string)TempData["ErrorMessage"]))</div>
</div>
<!--success message-->

@if (modelExists)
{
    @Html.Hidden("Confirmationmessage", @strConfirmationmessage)
    <div class="title-header source-sans-proregular">
            <h2>Baseline Models</h2>
        </div>
    <ul class="nav nav-tabs">
        @*<li class="title-header source-sans-proregular"> #2312
            <h2>Baseline Models</h2>
        </li>*@
        <li class="pull-right">@* Modified By :- Sohel on 08/04/2014 for PL ticket #424 to show by default, the Active Models tab not All Models. *@
            <a id="ModelAll" href="#">All</a>
        </li>
        <li class="active pull-right">@* Modified By :- Sohel on 08/04/2014 for PL ticket #424 to show by default, the Active Models tab not All Models. *@
            <a id="ModelActive" href="#">Active Models</a>
        </li>
    </ul>
    <div class="padding-content padding-top0 cf source-sans-proregular">
        <table id="table_baseline" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class="width540">Model Title</th>
                    <th class="width86">Version</th>
                    <th>Status</th>
                    <th>Effective Date</th>
                    <th>Actions</th>
                    @* Added By :- Sohel on 08/04/2014 for PL ticket #424 to Show effective date column next to status column. *@
                </tr>
            </thead>
            <tbody>
                <!--tr elements are add dinamically with javascript (view script.js file)-->
            </tbody>
        </table>
    </div>
}
else
{
    <div class="title-header source-sans-proregular">
        <h2>Baseline Models</h2>
    </div>
    <ul class="nav nav-tabs">       
        <li class="active pull-right">
            <a href="#">N/A</a>
        </li>
        <li class="disabled pull-right">
            <a href="#">No Saved Versions</a>
        </li>
    </ul>
    <div class="padding-content cf source-sans-proregular">
        <p>No saved model version to display.</p>
        <button class="btn btn-blue btn-large text-shadow-blue source-sans-proregular createbtn" type="button" id="btnZeroModel")" >Create Baseline Model</button>
    </div>
}

<input type="hidden" value="0" id="hdnModelId" />
@*Added By Kalpesh Sharma Functional and code review #560 07-16-2014   *@
@Html.Partial("~/Views/Model/_DuplicateModel.cshtml")


<script type="text/javascript">
    $(document).ready(function () {

        if ($('#cSuccess').html() != '') {
            $('#cSuccess').html('<strong>Success.</strong> ' + $('#cSuccess').html())
            $("#successMessage").slideDown(1200); // Show the Alert
        }
        @* added by Nirav Shah  on 14 feb 2014 *@
        if ($('#cError').html() != '') {
            $('#cError').html('<strong>Error!</strong> ' + $('#cError').html())
            $("#errorMessage").slideDown(1200); // Show the Alert
        }

        var url = '@Url.Content("~/Model/LoadChangeLog/")';
        $('.changes').html('');
        $('.changes').load(url + '?objectId=0');

        $("#content_wraper").removeClass("span10 all-height").addClass("span10 padding-top40");
        GetModels('active'); ////Modified By :- Sohel on 08/04/2014 for PL ticket #424 to show by default, the Active Models tab not All Models.
        $(document).on('click', '#table_baseline tbody tr', function (e) {
            var id = $(this).attr("id");
            if (id != null) {
                var url = '@Url.Content("~/Model/createModel")';                
                window.location.href = url + "?id=" + id;
               
            }
        });
        $('#btnNewModel').click(function () {
            var url = '@Url.Content("~/Model/createModel")';            
            window.location.href = url;
        });
        $('#btnZeroModel').click(function () {
            var url = '@Url.Content("~/Model/createModel")';            
            window.location.href = url;
        });
    });

    //Added By komal Rawal for #1131
    $('#table_baseline').on('click', 'tbody tr td .add-icon', function (e) {
        e.stopPropagation();
        var url = '@Url.Content("~/Model/createModel")';
        window.location.href = url;
    });

    $('#table_baseline').on('click', 'tbody tr td .edit-temp-program', function (e) {
        var id = $(this).attr("id");
        if (id != null) {
            var url = '@Url.Content("~/Model/createModel")';
            window.location.href = url + "?id=" + id;
        }
    });
    //End
    @* added by Nirav Shah  on 14 feb 2014  for 256:Model list - add delete option for model *@
    $(document).on('click', '.delete-temp-program', function (e) {
        var uId = $(window).attr('name');
        if (confirm($("#Confirmationmessage").val())) {
            e.stopPropagation();
            var id = $(this).parent().parent().attr("id");
            if (id != null) {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Content("~/Model/deleteModel")',
                    data: { id: id, UserId: uId },
                    dataType: "json",
                    success: function (data) {
                        if (data.returnURL != 'undefined' && data.returnURL == '#') {
                            window.location = '@Url.Content("~/Login/Index")';
                        }
                        else {
                            if (data.errorMsg != undefined) {
                                $('#errorMessage').css("display", "block");
                                $('#cError').html('<strong>Error!</strong> ' + data.errorMsg)
                                $("#errorMessage").slideDown(1200); // Show the Alert
                                $('#successMessage').css("display", "none");
                            }
                            else if (data.successmsg != undefined) {
                                $('#successMessage').css("display", "block");
                                $('#cSuccess').html('<strong>Success.</strong> ' + data.successmsg)
                                $("#successMessage").slideDown(1200); // Show the Alert
                                $('#errorMessage').css("display", "none");
                                $('#' + id).css("display", "none");
                            }
                        }
                    }
                });
            }
        }
        else {
            return false;
        }
    });

    //// Get all Models
    $('#ModelAll').click(GetAllModels)

    //// Get active Models (Published)
    $('#ModelActive').click(GetActiveModels)

    //// Function to get all Models
    function GetAllModels() {
        $('.pull-right').removeClass('active');
        $('#ModelAll').closest('li').addClass('active');
        GetModels('all');
    }

    //// Function to get ctive Models (Published)
    function GetActiveModels() {
        $('.pull-right').removeClass('active');
        $('#ModelActive').closest('li').addClass('active');
        GetModels('active');
    }

    //// Function to get Model list
    function GetModels(modelsFor) {
        if (modelsFor != null) {
            if (modelsFor.toLowerCase() == 'all') {
                // Fill Model selection Table
                $.ajax({
                    type: 'POST',
                    url: '@Url.Content("~/Model/GetModelList/")',
                    data: { listType: modelsFor },
                    dataType: "json",
                    success: function (r) {
                        if (r.serviceUnavailable != 'undefined' && r.serviceUnavailable == '#') {
                            //// Function to redirect to login page on unavailability of web service.
                            //// Added By: Maninder Singh Wadhva on 11/24/2014.
                            //// Ticket: 942 Exception handeling in Gameplan.
                            window.location = '@Url.Content(Common.RedirectOnServiceUnavailibilityPage)';
                        } else {

                            baselinesModels = r;
                            //Added By : Kalpesh Sharma Functional Review Point #75
                            $('#table_baseline > tbody').html("");
                            fillBaselineTable();
                            myApp.hidePleaseWait();
                        }
                    }
                });
            }
            else if (modelsFor.toLowerCase() == 'active') {
                // Fill Model selection Table
                $.ajax({
                    type: 'POST',
                    url: '@Url.Content("~/Model/GetModelList/")',
                    data: { listType: modelsFor },
                    dataType: "json",
                    success: function (r) {
                        if (r.serviceUnavailable != 'undefined' && r.serviceUnavailable == '#') {
                            //// Function to redirect to login page on unavailability of web service.
                            //// Added By: Maninder Singh Wadhva on 11/24/2014.
                            //// Ticket: 942 Exception handeling in Gameplan.
                            window.location = '@Url.Content(Common.RedirectOnServiceUnavailibilityPage)';
                        } else {
                            baselinesModels = r;
                            //Added By : Kalpesh Sharma Functional Review Point #75
                            if (baselinesModels.length) {
                                fillBaselineTable();
                            }
                            else {
                                $('#table_baseline > tbody').html("");
                                var $baselineTable = $('#table_baseline > tbody');
                                var $html = "@Common.objCached.NoActiveModelFound";
                                $baselineTable.append($html);
                            }
                            myApp.hidePleaseWait();
                        }
                    }
                });
            }
        }
    }

    //fill baselinesModels table with data from json
    function fillBaselineTable() {
        if (typeof baselinesModels != 'undefined') {
            if (baselinesModels.length) {
                $('#table_baseline tr').not(function () { if ($(this).has('th').length) { return true } }).remove(); //clear table
                for (i in baselinesModels) {
                    @* Modified By :- Sohel on 08/04/2014 for PL ticket #424 to Show effective date column next to status column, effectiveDate parameter has been added. *@
                    addRowBaseline(i, baselinesModels[i].id, baselinesModels[i].title, baselinesModels[i].version, baselinesModels[i].status, baselinesModels[i].isOwner, baselinesModels[i].effectiveDate);
                    @* added by Nirav Shah  on 14 feb 2014  for 256:Model list - add delete option for model *@
                }
            }
        }
    }

    //add row in baselinesModels table
    @* Modified By :- Sohel on 08/04/2014 for PL ticket #424 to Show effective date column next to status column, effectiveDate parameter has been added. *@
    function addRowBaseline(_index, _id, _title, _version, _status, _isOwner, _effectiveDate) {
        var $baselineTable = $('#table_baseline > tbody');
        var $html = "";
        var status = "Draft";
        if (_status.toLowerCase() == 'draft') {
            $html += '<tr class="draf" id="' + _id + '" index="' + _index + '"><td>';
        } else {
            var status = "Published";
            $html += '<tr id="' + _id + '" index="' + _index + '"><td>';
        }      

        $html += '<span class="title-baseline-model">' + _title +
        '<td>' + _version + '</td>' +
        '<td>' + _status + '</td>' +
        '<td>' + _effectiveDate + '</td>' +     @* Added By :- Sohel on 08/04/2014 for PL ticket #424 to Show effective date column next to status column. *@
        '<td><span class="';   @*Added By Komal Rawal for #1131 *@
        if (_isOwner == 0) {
            $html += 'delete-temp-program width5" title="Delete"></span>'
        }
        else {
            $html += 'empty-delete-button width5">&nbsp;</span>'
        }
        $html += '<span id="' + _id + '" class="duplicate-icon" title="Copy"></span></span><span class="add-icon" title="New" ></span><span class="edit-temp-program width5" title="Edit"></td>' +
        '</tr>';
        $baselineTable.append($html);
    }

    $(".createbtn").click(function () {
        window.location.href = $(this).attr('href');
    });


    @*Added By Kalpesh Sharma #560: Method to Specify a Name for Cloned Model 07-11-2014*@
    $(document).on('click', '#table_baseline tbody tr .duplicate-icon', function (e) {
        var id = $(this).attr("id");
        $("#errorMessagecopy").css("display", "none");
        //07/14/2014 Functional and Code review comments
        $("#copymodeldesc").removeClass("error");
        if (id != null) {
            $("#hdnModelId").val(id);
            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/Model/GetDefaultDuplicateModelName/")',
                data: { modelId: id },
                dataType: "json",
                success: function (data) {
                    if (data.status == 1) {

                        //Added By Kalpesh Sharma #560: Method to Specify a Name for Cloned Model 07-15-2014
                        $("#copymodeldesc").val(htmlDecode(data.msg));
                        $("#original").text(htmlDecode(data.name));
                        $('#DivPartialShareModelDuplicate').show();
                    }
                    else {
                        $("#cError").html('<strong>Error! </strong>' + data.msg)
                        $("#errorMessage").slideDown(400);
                        $("html, body").animate({ scrollTop: 0 }, 1000);
                    }
                }
            });
        }
        return false;
    });
    function DuplicateModel() {
        //added by : Kalpesh Sharma - 14/07/2014 #560 Method to Specify a Name for Cloned Model
        var titleName = htmlEncode($("#copymodeldesc").val().trim());

        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/Model/DuplicateModel/")',
            data: { modelId: $('#hdnModelId').val(), title: titleName },
            dataType: "json",
            success: function (data) {
                if (data.status == 1) {
                    var url = '@Url.Content("~/Model/ModelZero")';
                    window.location.href = url;
                }
                else {
                    $("#cError").html('<strong>Error! </strong>' + data.msg)
                    $("#errorMessage").slideDown(400);
                    $("html, body").animate({ scrollTop: 0 }, 1000);
                }
            }
        });
    }

    // Added By : Kalpesh Sharma #560 Method to Specify a Name for Cloned Model
    // Close or hide the Duplicate popup on Cancel click .
    $('#cancelbtncopy').click(function () {
        $('#DivPartialShareModelDuplicate').hide();
    });

    // Added By : Kalpesh Sharma #560 Method to Specify a Name for Cloned Model
    $('#copymodelbtn').click(function () {
        $(".copymodeldesc").removeClass("error");
        var flag = 0;

        if ($("#copymodeldesc").val() == "") {
            $("#copymodeldesc").addClass("error");
            flag = 1;
        }

        if (flag == 1) {
            var msgspan = "@Common.objCached.ValidateEnteredField";
            $("#errorMessagecopy").css("display", "block");
            $("#spanErrorMessageModelcopy").text(msgspan);
        } else {
            var ModelID = $('#hdnModelId').val();

            //added by : Kalpesh Sharma - 14/07/2014 #560 Method to Specify a Name for Cloned Model
            var titleName = htmlEncode($("#copymodeldesc").val().trim());
            $.ajax(
            {
                type: "POST",
                cache: false,
                url: '@Url.Content("~/Model/CheckDuplicateModelTitleByID")',
                data: { title: titleName, modelId: ModelID },
                dataType: "json",
                success: function (data) {
                    if (data == 'exist') {
                        var msgspan = "@Common.objCached.ModelAlreadyExits";
                        $("#errorMessagecopy").css("display", "block");
                        $("#spanErrorMessageModelcopy").text(msgspan);
                    }
                    else {
                        $('#DivPartialShareModelDuplicate').hide();
                        DuplicateModel();
                    }
                }
            });
        }
        return false;
    });

    @*End By Kalpesh Sharma #560: Method to Specify a Name for Cloned Model 07-11-2014*@

</script>
