@model IEnumerable<RevenuePlanner.Models.ModelResults>

@using RevenuePlanner.Models
@using RevenuePlanner.Helpers

@{
    ViewBag.Title = "Results";
    ViewBag.ActiveMenu = RevenuePlanner.Helpers.Enums.ActiveMenu.Model;
    Layout = "~/Views/Shared/_Layout.cshtml";
    BaselineModel objBaselineModel = new BaselineModel();
    if (ViewData["BaselineModel"] != null) 
    {
        objBaselineModel = (BaselineModel)ViewData["BaselineModel"];
    }

    string ver1Title = string.Empty;
    string ver2Title = string.Empty;
    int ver1Id = 0;
    int ver2Id = 0;
    if (ViewBag.Version1Title != null)
    {
        ver1Title = ViewBag.Version1Title;
    }
    if (ViewBag.Version2Title != null)
    {
        ver2Title = ViewBag.Version2Title;
    }

    if (ViewBag.Version1Id != null)
    {
        ver1Id = ViewBag.Version1Id;
    }
    if (ViewBag.Version2Id != null)
    {
        ver2Id = ViewBag.Version2Id;
    }
}

@Html.Hidden("Version1Title", ver1Title)
@Html.Hidden("Version2Title", ver2Title)
@Html.Hidden("Version1Id", ver1Id)
@Html.Hidden("Version2Id", ver2Id)
@Html.Hidden("SuccMsg", TempData["SuccessMessage"])
@Html.Hidden("ErrMsg", TempData["ErrorMessage"])
@Html.Hidden("Msgcannotpublish", (string)ViewBag.Msgcannotpublish)

<script type="text/javascript" src="@Url.Content("~/Scripts/dhtmlxchart.js")"></script>
<link href="@Url.Content("~/Content/css/dhtmlxchart_1.css")" rel="stylesheet" type="text/css" />

@section nlFormContent{
     @Styles.Render("~/Content/nFormCss")
     @Scripts.Render("~/bundles/nFormjs")
}

@section Sidebar
{
    <div class="padding-content padding-bottom0">
        <h4 class="text-shadow-black source-sans-prolight">Model Summary</h4>
        <div class="wraper-btns cf">
            <div class="span6">
                <button class="btn btn-blue text-shadow-blue source-sans-proregular" id="NewModel" type="button">@Html.Raw("New Model")</button>
            </div>
            <div class="span6">
                <button class="btn btn-blue-disable text-shadow-blue source-sans-proregular" id="publish" type="button">@Html.Raw("Publish")</button>
            </div>
        </div>
    </div>
    <ul class="nav nav-list nav-gray">
        <li class="item">
            <a class="source-sans-probold inputs leftnav" id="aInput" href="#"><span></span>@Html.Raw("INPUTS")</a>
        </li>
        <li class="item">
            <a class="source-sans-probold audience leftnav" id="aAudience" href="#"><span></span>@Html.Raw("AUDIENCE")</a>
        </li>
        <li class="item">
            <a class="source-sans-probold tactics leftnav" id="aTactics" href="#"><span></span>@Html.Raw("TACTICS")</a>
        </li>
        <li class="item active">
            <a class="source-sans-probold result" href="#"><span></span>@Html.Raw("RESULTS")</a>
        </li>
        <li class="item">
            <a class="source-sans-probold integrations leftnav" id="aIntegration" href="#" style="cursor:default !important;"><span style="cursor:default;"></span>@Html.Raw("INTEGRATION")</a>
        </li>
    </ul>
    <ul class="nav nav-list nav-gray-plan">
        <li id="change-log" class="nav-header">
            <span>Change Log</span>
            <div class="changes"></div>
        </li>
    </ul>
}

<!--success message-->
<div id="successMessage" class="alert hide alert-success message-position">
    <a class="close">×</a>
    <strong>Success.</strong> @Html.Raw(HttpUtility.HtmlDecode((string)TempData["SuccessMessage"]))
</div>
<!--success message-->
<!--error message-->
<div id="errorMessage" class="alert hide alert-error message-position">
    <a class="close">×</a>
    <strong>Error!</strong> @Html.Raw(HttpUtility.HtmlDecode((string)TempData["ErrorMessage"]))
</div>
<!--error message-->

@if (Model != null && Model.Count() > 0)
{
    <ul class="nav nav-tabs">
        @if (objBaselineModel.Versions != null)
        {
            foreach (ModelVersion v in objBaselineModel.Versions)
            {
                if (v.IsLatest)
                {
            @Html.Hidden("LatestModelId", v.ModelId);
            @Html.Hidden("LatestModelStatus", v.Status);
            <input type="hidden" value="@v.ModelId" id="latestModelId_v1" />
            <li class="title-header source-sans-proregular" title="@v.Title">
                <h2 id="lblTitle">@v.Title <span class="gray source-sans-prolight" title="@v.Status">@v.Status</span></h2>
            </li>
            <li id="ver1_@v.ModelId" class="disabled pull-right" title="@v.Version">
                <a name="version1" id="@v.ModelId" href="#">@Html.Raw("v")@v.Version</a>
            </li>
                }
                else
                {
            <li id="ver1_@v.ModelId" class="disabled pull-right" title="@v.Version">
                <a name="version1" id="@v.ModelId" href="#">@Html.Raw("v")@v.Version</a>
            </li>
                }
            }
            if (objBaselineModel.Versions.Count == 1)
            {
            <li class="disabled pull-right">
                <a href="#">@Html.Raw("No Saved Versions")</a>
            </li>
            }
            if (objBaselineModel.Versions.Count == 0)
            {
            <li class="title-header source-sans-proregular" title="Title">
                <h2>@Html.Raw("Title") <span class="gray source-sans-prolight" title="Draft">@Html.Raw("Draft")</span></h2>
            </li>
            <li class="active pull-right" title="1.0">
                <a href="#">@Html.Raw("v")1.0</a>
            </li>
            <li class="disabled pull-right">
                <a href="#">@Html.Raw("No Saved Versions")</a>
            </li>
            }
        }
    </ul>

    <ul class="nav nav-tabs nav-bars-table">
        @if (objBaselineModel.Versions != null)
        {
            foreach (ModelVersion v in objBaselineModel.Versions)
            {
                if (v.IsLatest)
                {
            <input type="hidden" value="@v.ModelId" id="latestModelId_v2" />
            <li id="ver2_@v.ModelId" class="disabled pull-left" title="@v.Version">
                <a name="version2" id="@v.ModelId"  href="#" >@Html.Raw("v")@v.Version</a>
            </li>
                }
                else
                {
            <li id="ver2_@v.ModelId" class="disabled pull-left" title="@v.Version">
                <a href="#" name="version2" id="@v.ModelId" >@Html.Raw("v")@v.Version</a>
            </li>
                }
            }
            if (objBaselineModel.Versions.Count == 1)
            {
            <li class="disabled pull-left">
                <a href="#">@Html.Raw("No Saved Versions")</a>
            </li>
            }
            if (objBaselineModel.Versions.Count == 0)
            {
            <li class="title-header source-sans-proregular" title="Title">
                <h2>@Html.Raw("Title") <span class="gray source-sans-prolight" title="Draft">@Html.Raw("Draft")</span></h2>
            </li>
            <li class="active pull-left" title="1.0">
                <a href="#">@Html.Raw("v")1.0</a>
            </li>
            <li class="disabled pull-left">
                <a href="#">@Html.Raw("No Saved Versions")</a>
            </li>
            }
        }
        <div class="radio-button-wrapper">
            <input id="ShowValue" type="radio" value="ShowValue" class="ShowValue"></input>
            <label for="male" class="ShowValue">Show Value</label>
            <input id="ShowChange" type="radio" class="ShowChange" value="Show Change"></input>
            <label for="male" class="ShowChange">Show Change</label>
        </div>
    </ul>


    <div class="padding-content cf source-sans-proregular" style="padding-top: 0px;">
        <table class="table table-striped table-hover table-results" id="modelResultsTable">
            <thead>
                <tr>
                    <th width="222px" class="border-r-green width222"></th>
                    <th width="71px" class="width71">Marketing Sourced</th>
                    <th width="39px" class="width39 border-r-green">Stage Days</th>
                    <th width="71px" class="width71">Prospecting Sourced</th>
                    <th width="39px" class="width39 border-r-green">Stage Days</th>
                    <th width="71px" class="width71">Sales Sourced</th>
                    <th width="39px" class="width39 border-r-green">Stage Days</th>
                    <th id="BlendedTotal_v1" width="91px" class="width91 border-r-green green-background">Blended Total</th>
                    <th id="BlendedTotal_v2" width="91px" class="width91 border-r-green">Blended Total</th>
                    <th id="BlendedDays_v1" width="39px" class="width39 border-r-green green-background">Days</th>
                    <th id="BlendedDays_v2" width="39px" class="width39">Days</th>
                </tr>
            </thead>
            <tbody>
                @*Display MARKETING Fields*@
                @if (Model.Where(m => m.Funnel == Enums.Funnel.Marketing.ToString().ToLower()).Count() > 0)
                {
                    <tr>
                        <td class="green-row row-title">MARKETING</td>
                        <td class="green-row"></td>
                        <td class="green-row"></td>
                        <td class="green-row"></td>
                        <td class="green-row"></td>
                        <td class="green-row"></td>
                        <td class="green-row"></td>
                        <td class="green-row"></td>
                        <td class="green-row"></td>
                        <td class="green-row"></td>
                        <td class="green-row"></td>
                    </tr>
                }
                @foreach (var item in Model.Where(m => m.Funnel == Enums.Funnel.Marketing.ToString().ToLower()))
                {
                    if (item.FieldCode != Enums.FunnelField.BlendedFunnelCR_Times.ToString().ToLower() && item.FieldCode != Enums.FunnelField.AverageDealsSize.ToString().ToLower() && item.FieldCode != Enums.FunnelField.ExpectedRevenue.ToString().ToLower())
                    {
                    <tr>
                        <td class="border-r-green">@Convert.ToString(item.FieldDesc)</td>
                        @if (item.MarketingSourced != null && item.MarketingSourced > 0)
                        {
                            <td>
                                @if (item.FieldCode.Contains("conversiongate"))
                                {
                                    @String.Concat(Convert.ToString(item.MarketingSourced), "%")

                                }
                                else
                                {
                                    @String.Format("{0:#,###}", item.MarketingSourced)
                                }
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (item.MarketingDays != null && item.MarketingDays > 0)
                        {
                            <td class="border-r-green">@Convert.ToString(item.MarketingDays)</td>
                        }
                        else
                        {
                            <td class="border-r-green"></td>
                        }
                        @if (item.ProspectingSourced != null && item.ProspectingSourced > 0)
                        {
                            <td>
                                @if (item.FieldCode.Contains("conversiongate"))
                                {
                                    @String.Concat(Convert.ToString(item.ProspectingSourced), "%")

                                }
                                else
                                {
                                    @String.Format("{0:#,###}", item.ProspectingSourced)
                                }
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (item.ProspectingDays != null && item.ProspectingDays > 0)
                        {
                            <td class="border-r-green">@Convert.ToString(item.ProspectingDays)</td>
                        }
                        else
                        {
                            <td class="border-r-green"></td>
                        }

                        @if (item.SalesSourced != null && item.SalesSourced > 0)
                        {
                            <td>
                                @if (item.FieldCode.Contains("conversiongate"))
                                {
                                    @String.Concat(Convert.ToString(item.SalesSourced), "%")

                                }
                                else
                                {
                                    @String.Format("{0:#,###}", item.SalesSourced)
                                }
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (item.SalesDays != null && item.SalesDays > 0)
                        {
                            <td class="border-r-green">@Convert.ToString(item.SalesDays)</td>
                        }
                        else
                        {
                            <td class="border-r-green"></td>
                        }
                        @if (item.BlendedTotal_v1 != null && item.BlendedTotal_v1 > 0)
                        {
                            <td class="border-r-green green-background ShowValue">
                                @if (item.FieldCode.Contains("conversiongate"))
                                {
                                    @String.Concat(Convert.ToString(item.BlendedTotal_v1), "%")

                                }
                                else
                                {
                                    @String.Format("{0:#,###}", item.BlendedTotal_v1)
                                }
                            </td>
                            <td class="border-r-green green-background ShowChange" style="display: none;">
                                @if (item.BlendedTotalGrade == 1)
                                {
                                    <span class="arrow-up-results-icon" style="display: none;"></span>
                                }
                                else if (item.BlendedTotalGrade == 2)
                                {
                                    <span class="arrow-down-results-icon" style="display: none;"></span>
                                }
                                @Convert.ToString(item.BlendedTotal_Perc)
                            </td>
                        }
                        else
                        {
                            <td class="border-r-green green-background"></td>
                        }
                        @if (item.BlendedTotal_v2 != null && item.BlendedTotal_v2 > 0)
                        {
                            <td class="border-r-green ShowValue">
                                @if (item.FieldCode.Contains("conversiongate"))
                                {
                                    @String.Concat(Convert.ToString(item.BlendedTotal_v2), "%")

                                }
                                else
                                {
                                    @String.Format("{0:#,###}", item.BlendedTotal_v2)
                                }
                            </td>
                            <td class="border-r-green ShowChange" style="display: none;">
                                <span>---</span>
                            </td>
                        }
                        else
                        {
                            <td class="border-r-green"></td>
                        }
                        @if (item.BlendedDays_v1 != null && item.BlendedDays_v1 > 0)
                        {
                            <td class="border-r-green green-background ShowValue">

                                @Convert.ToString(item.BlendedDays_v1)
                            </td>
                            <td class="border-r-green green-background ShowChange" style="display: none;">
                                @if (item.BlendedDaysGrade == 1)
                                {
                                    <span class="arrow-up-results-icon" style="display: none;"></span>
                                }
                                else if (item.BlendedDaysGrade == 2)
                                {
                                    <span class="arrow-down-results-icon" style="display: none;"></span>
                                }
                                @Convert.ToString(item.BlendedDays_Perc)
                            </td>
                        }
                        else
                        {
                            <td class="border-r-green green-background"></td>
                        }
                        @if (item.BlendedDays_v2 != null && item.BlendedDays_v2 > 0)
                        {
                            <td class="ShowValue">
                                @Convert.ToString(item.BlendedDays_v2)
                            </td>
                            <td class="ShowChange" style="display: none;">
                                <span>---</span>
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                    </tr>
                    }
                }
               @* /*changed by Nirav Shah on 2 APR 2013*/*@
                @*
                Display TELEPROSPECTING Fields*@
            @*    @if (Model.Where(m => m.Funnel == Enums.Funnel.Teleprospecting.ToString().ToLower()).Count() > 0)
                {
                    <tr>
                        <td class="red-row row-title">TELEPROSPECTING</td>
                        <td class="red-row"></td>
                        <td class="red-row"></td>
                        <td class="red-row"></td>
                        <td class="red-row"></td>
                        <td class="red-row"></td>
                        <td class="red-row"></td>
                        <td class="red-row"></td>
                        <td class="red-row"></td>
                        <td class="red-row"></td>
                        <td class="red-row"></td>
                    </tr>
                }
                @foreach (var item in Model.Where(m => m.Funnel == Enums.Funnel.Teleprospecting.ToString().ToLower()))
                {
                    <tr>
                        <td class="border-r-red">@Convert.ToString(item.FieldDesc)</td>
                        @if (item.MarketingSourced != null && item.MarketingSourced > 0)
                        {
                            <td>
                                @if (item.FieldCode.Contains("conversiongate"))
                                {
                                    @String.Concat(Convert.ToString(item.MarketingSourced), "%")

                                }
                                else
                                {
                                    @String.Format("{0:#,###}", item.MarketingSourced)
                                }
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (item.MarketingDays != null && item.MarketingDays > 0)
                        {
                            <td class="border-r-red">@Convert.ToString(item.MarketingDays)</td>
                        }
                        else
                        {
                            <td class="border-r-red"></td>
                        }
                        @if (item.ProspectingSourced != null && item.ProspectingSourced > 0)
                        {
                            <td>
                                @if (item.FieldCode.Contains("conversiongate"))
                                {
                                    @String.Concat(Convert.ToString(item.ProspectingSourced), "%")

                                }
                                else
                                {
                                    @String.Format("{0:#,###}", item.ProspectingSourced)
                                }
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (item.ProspectingDays != null && item.ProspectingDays > 0)
                        {
                            <td class="border-r-red">@Convert.ToString(item.ProspectingDays)</td>
                        }
                        else
                        {
                            <td class="border-r-red"></td>
                        }

                        @if (item.SalesSourced != null && item.SalesSourced > 0)
                        {
                            <td>
                                @if (item.FieldCode.Contains("conversiongate"))
                                {
                                    @String.Concat(Convert.ToString(item.SalesSourced), "%")

                                }
                                else
                                {
                                    @String.Format("{0:#,###}", item.SalesSourced)
                                }
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (item.SalesDays != null && item.SalesDays > 0)
                        {
                            <td class="border-r-red">@Convert.ToString(item.SalesDays)</td>
                        }
                        else
                        {
                            <td class="border-r-red"></td>
                        }
                        @if (item.BlendedTotal_v1 != null && item.BlendedTotal_v1 > 0)
                        {
                            <td class="border-r-red red-background ShowValue">
                                @if (item.FieldCode.Contains("conversiongate"))
                                {
                                    @String.Concat(Convert.ToString(item.BlendedTotal_v1), "%")

                                }
                                else
                                {
                                    @String.Format("{0:#,###}", item.BlendedTotal_v1)
                                }
                            </td>
                            <td class="border-r-red red-background ShowChange" style="display: none;">
                                @if (item.BlendedTotalGrade == 1)
                                {
                                    <span class="arrow-up-results-icon" style="display: none;"></span>
                                }
                                else if (item.BlendedTotalGrade == 2)
                                {
                                    <span class="arrow-down-results-icon" style="display: none;"></span>
                                }
                                @Convert.ToString(item.BlendedTotal_Perc)
                            </td>
                        }
                        else
                        {
                            <td class="border-r-red red-background"></td>
                        }

                        @if (item.BlendedTotal_v2 != null && item.BlendedTotal_v2 > 0)
                        {
                            <td class="border-r-red ShowValue">
                                @if (item.FieldCode.Contains("conversiongate"))
                                {
                                    @String.Concat(Convert.ToString(item.BlendedTotal_v2), "%")

                                }
                                else
                                {
                                    @String.Format("{0:#,###}", item.BlendedTotal_v2)
                                }
                            </td>
                            <td class="border-r-red ShowChange" style="display: none;">
                                <span>---</span>
                            </td>
                        }
                        else
                        {
                            <td class="border-r-red"></td>
                        }
                        @if (item.BlendedDays_v1 != null && item.BlendedDays_v1 > 0)
                        {
                            <td class="border-r-red red-background ShowValue">

                                @Convert.ToString(item.BlendedDays_v1)
                            </td>
                            <td class="border-r-red red-background ShowChange" style="display: none;">
                                @if (item.BlendedDaysGrade == 1)
                                {
                                    <span class="arrow-up-results-icon" style="display: none;"></span>
                                }
                                else if (item.BlendedDaysGrade == 2)
                                {
                                    <span class="arrow-down-results-icon" style="display: none;"></span>
                                }
                                @Convert.ToString(item.BlendedDays_Perc)
                            </td>
                        }
                        else
                        {
                            <td class="border-r-red red-background"></td>
                        }
                        @if (item.BlendedDays_v2 != null && item.BlendedDays_v2 > 0)
                        {
                            <td class="ShowValue">
                                @Convert.ToString(item.BlendedDays_v2)
                            </td>
                            <td class="ShowChange" style="display: none;">
                                <span>---</span>
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                    </tr>
                }*@

                @*Display SALES Fields*@
               @* @if (Model.Where(m => m.Funnel == Enums.Funnel.Sales.ToString().ToLower()).Count() > 0)
                {
                    <tr>
                        <td class="blue-row row-title">SALES</td>
                        <td class="blue-row"></td>
                        <td class="blue-row"></td>
                        <td class="blue-row"></td>
                        <td class="blue-row"></td>
                        <td class="blue-row"></td>
                        <td class="blue-row"></td>
                        <td class="blue-row"></td>
                        <td class="blue-row"></td>
                        <td class="blue-row"></td>
                        <td class="blue-row"></td>
                    </tr>
                }
                @foreach (var item in Model.Where(m => m.Funnel == Enums.Funnel.Sales.ToString().ToLower()))
                {
                    <tr>
                        <td class="border-r-blue">@Convert.ToString(item.FieldDesc)</td>
                        @if (item.MarketingSourced != null && item.MarketingSourced > 0)
                        {
                            <td>
                                @if (item.FieldCode.Contains("conversiongate"))
                                {
                                    @String.Concat(Convert.ToString(item.MarketingSourced), "%")

                                }
                                else
                                {
                                    @String.Format("{0:#,###}", item.MarketingSourced)
                                }
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (item.MarketingDays != null && item.MarketingDays > 0)
                        {
                            <td class="border-r-blue">@Convert.ToString(item.MarketingDays)</td>
                        }
                        else
                        {
                            <td class="border-r-blue"></td>
                        }
                        @if (item.ProspectingSourced != null && item.ProspectingSourced > 0)
                        {
                            <td>
                                @if (item.FieldCode.Contains("conversiongate"))
                                {
                                    @String.Concat(Convert.ToString(item.ProspectingSourced), "%")

                                }
                                else
                                {
                                    @String.Format("{0:#,###}", item.ProspectingSourced)
                                }
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (item.ProspectingDays != null && item.ProspectingDays > 0)
                        {
                            <td class="border-r-blue">@Convert.ToString(item.ProspectingDays)</td>
                        }
                        else
                        {
                            <td class="border-r-blue"></td>
                        }

                        @if (item.SalesSourced != null && item.SalesSourced > 0)
                        {
                            <td>
                                @if (item.FieldCode.Contains("conversiongate"))
                                {
                                    @String.Concat(Convert.ToString(item.SalesSourced), "%")

                                }
                                else
                                {
                                    @String.Format("{0:#,###}", item.SalesSourced)
                                }
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (item.SalesDays != null && item.SalesDays > 0)
                        {
                            <td class="border-r-blue">@Convert.ToString(item.SalesDays)</td>
                        }
                        else
                        {
                            <td class="border-r-blue"></td>
                        }
                        @if (item.BlendedTotal_v1 != null && item.BlendedTotal_v1 > 0)
                        {
                            <td class="border-r-blue blue-background ShowValue">
                                @if (item.FieldCode.Contains("conversiongate"))
                                {
                                    @String.Concat(Convert.ToString(item.BlendedTotal_v1), "%")

                                }
                                else
                                {
                                    @String.Format("{0:#,###}", item.BlendedTotal_v1)
                                }
                            </td>
                            <td class="border-r-blue blue-background ShowChange" style="display: none;">
                                @if (item.BlendedTotalGrade == 1)
                                {
                                    <span class="arrow-up-results-icon" style="display: none;"></span>
                                }
                                else if (item.BlendedTotalGrade == 2)
                                {
                                    <span class="arrow-down-results-icon" style="display: none;"></span>
                                }
                                @Convert.ToString(item.BlendedTotal_Perc)
                            </td>
                        }
                        else
                        {
                            <td class="border-r-blue blue-background"></td>
                        }

                        @if (item.BlendedTotal_v2 != null && item.BlendedTotal_v2 > 0)
                        {
                            <td class="border-r-blue ShowValue">
                                @if (item.FieldCode.Contains("conversiongate"))
                                {
                                    @String.Concat(Convert.ToString(item.BlendedTotal_v2), "%")

                                }
                                else
                                {
                                    @String.Format("{0:#,###}", item.BlendedTotal_v2)
                                }
                            </td>
                            <td class="border-r-blue ShowChange" style="display: none;">
                                <span>---</span>
                            </td>
                        }
                        else
                        {
                            <td class="border-r-blue"></td>
                        }
                        @if (item.BlendedDays_v1 != null && item.BlendedDays_v1 > 0)
                        {
                            <td class="border-r-blue blue-background ShowValue">

                                @Convert.ToString(item.BlendedDays_v1)
                            </td>
                            <td class="border-r-blue blue-background ShowChange" style="display: none;">
                                @if (item.BlendedDaysGrade == 1)
                                {
                                    <span class="arrow-up-results-icon" style="display: none;"></span>
                                }
                                else if (item.BlendedDaysGrade == 2)
                                {
                                    <span class="arrow-down-results-icon" style="display: none;"></span>
                                }
                                @Convert.ToString(item.BlendedDays_Perc)
                            </td>
                        }
                        else
                        {
                            <td class="border-r-blue blue-background"></td>
                        }
                        @if (item.BlendedDays_v2 != null && item.BlendedDays_v2 > 0)
                        {
                            <td class="ShowValue">
                                @Convert.ToString(item.BlendedDays_v2)
                            </td>
                            <td class="ShowChange" style="display: none;">
                                <span>---</span>
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                    </tr>
                }*@

                @foreach (var item in Model.Where(m => m.Funnel == Enums.Funnel.Marketing.ToString().ToLower()))
                {
                    if (item.FieldCode == Enums.FunnelField.BlendedFunnelCR_Times.ToString().ToLower())
                    {
                    <tr>
                        <td class="gray-row row-title">@Convert.ToString(item.FieldDesc)</td>
                        @if (item.MarketingSourced != null && item.MarketingSourced > 0)
                        {
                            <td class="gray-row">
                                @if (item.FieldCode.Contains("conversiongate"))
                                {
                                    @String.Concat(Convert.ToString(item.MarketingSourced), "%")

                                }
                                else
                                {
                                    @Convert.ToString(item.MarketingSourced)
                                }
                            </td>
                        }
                        else
                        {
                            <td class="gray-row"></td>
                        }
                        @if (item.MarketingDays != null && item.MarketingDays > 0)
                        {
                            <td class="gray-row">@Convert.ToString(item.MarketingDays)</td>
                        }
                        else
                        {
                            <td class="gray-row"></td>
                        }
                        @if (item.ProspectingSourced != null && item.ProspectingSourced > 0)
                        {
                            <td class="gray-row">
                                @if (item.FieldCode.Contains("conversiongate"))
                                {
                                    @String.Concat(Convert.ToString(item.ProspectingSourced), "%")

                                }
                                else
                                {
                                    @Convert.ToString(item.ProspectingSourced)
                                }
                            </td>
                        }
                        else
                        {
                            <td class="gray-row"></td>
                        }
                        @if (item.ProspectingDays != null && item.ProspectingDays > 0)
                        {
                            <td class="gray-row">@Convert.ToString(item.ProspectingDays)</td>
                        }
                        else
                        {
                            <td class="gray-row"></td>
                        }

                        @if (item.SalesSourced != null && item.SalesSourced > 0)
                        {
                            <td class="gray-row">
                                @if (item.FieldCode.Contains("conversiongate"))
                                {
                                    @String.Concat(Convert.ToString(item.SalesSourced), "%")

                                }
                                else
                                {
                                    @Convert.ToString(item.SalesSourced)
                                }
                            </td>
                        }
                        else
                        {
                            <td class="gray-row"></td>
                        }
                        @if (item.SalesDays != null && item.SalesDays > 0)
                        {
                            <td class="gray-row">@Convert.ToString(item.SalesDays)</td>
                        }
                        else
                        {
                            <td class="gray-row"></td>
                        }
                        @if (item.BlendedTotal_v1 != null && item.BlendedTotal_v1 > 0)
                        {
                            <td class="gray-row">
                                @if (item.FieldCode.Contains("conversiongate"))
                                {
                                    @String.Concat(Convert.ToString(item.BlendedTotal_v1), "%")

                                }
                                else
                                {
                                    @Convert.ToString(item.BlendedTotal_v1)
                                }
                            </td>
                        }
                        else
                        {
                            <td class="gray-row"></td>
                        }
                        @if (item.BlendedTotal_v2 != null && item.BlendedTotal_v2 > 0)
                        {
                            <td class="gray-row">
                                @if (item.FieldCode.Contains("conversiongate"))
                                {
                                    @String.Concat(Convert.ToString(item.BlendedTotal_v2), "%")

                                }
                                else
                                {
                                    @Convert.ToString(item.BlendedTotal_v2)
                                }
                            </td>
                        }
                        else
                        {
                            <td class="gray-row"></td>
                        }
                        @if (item.BlendedDays_v1 != null && item.BlendedDays_v1 > 0)
                        {
                            <td class="gray-row">
                                @Convert.ToString(item.BlendedDays_v1)
                            </td>
                        }
                        else
                        {
                            <td class="gray-row"></td>
                        }
                        @if (item.BlendedDays_v2 != null && item.BlendedDays_v2 > 0)
                        {
                            <td class="gray-row">
                                @Convert.ToString(item.BlendedDays_v2)
                            </td>
                        }
                        else
                        {
                            <td class="gray-row"></td>
                        }
                    </tr>			
                    }
                    else if (item.FieldCode == Enums.FunnelField.AverageDealsSize.ToString().ToLower())
                    {
                    <tr>
                        <td class="border-r-gray">@Convert.ToString(item.FieldDesc)</td>
                        @if (item.MarketingSourced != null && item.MarketingSourced > 0)
                        {
                            <td>
                                @if (item.FieldCode.Contains("conversiongate"))
                                {
                                    @String.Concat(Convert.ToString(item.MarketingSourced), "%")

                                }
                                else
                                {
                                    @String.Concat("$", String.Format("{0:#,###}", item.MarketingSourced))
                                }
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (item.MarketingDays != null && item.MarketingDays > 0)
                        {
                            <td class="border-r-gray">@Convert.ToString(item.MarketingDays)</td>
                        }
                        else
                        {
                            <td class="border-r-gray"></td>
                        }
                        @if (item.ProspectingSourced != null && item.ProspectingSourced > 0)
                        {
                            <td>
                                @if (item.FieldCode.Contains("conversiongate"))
                                {
                                    @String.Concat(Convert.ToString(item.ProspectingSourced), "%")

                                }
                                else
                                {
                                    @Convert.ToString(item.ProspectingSourced)
                                }
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (item.ProspectingDays != null && item.ProspectingDays > 0)
                        {
                            <td class="border-r-gray">@Convert.ToString(item.ProspectingDays)</td>
                        }
                        else
                        {
                            <td class="border-r-gray"></td>
                        }

                        @if (item.SalesSourced != null && item.SalesSourced > 0)
                        {
                            <td>
                                @if (item.FieldCode.Contains("conversiongate"))
                                {
                                    @String.Concat(Convert.ToString(item.SalesSourced), "%")

                                }
                                else
                                {
                                    @Convert.ToString(item.SalesSourced)
                                }
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (item.SalesDays != null && item.SalesDays > 0)
                        {
                            <td class="border-r-gray">@Convert.ToString(item.SalesDays)</td>
                        }
                        else
                        {
                            <td class="border-r-gray"></td>
                        }
                        @if (item.BlendedTotal_v1 != null && item.BlendedTotal_v1 > 0)
                        {
                            <td class="border-r-gray">
                                @if (item.FieldCode.Contains("conversiongate"))
                                {
                                    @String.Concat(Convert.ToString(item.BlendedTotal_v1), "%")

                                }
                                else
                                {
                                    @String.Concat("$", String.Format("{0:#,###}", item.BlendedTotal_v1))
                                }
                            </td>
                        }
                        else
                        {
                            <td class="border-r-gray"></td>
                        }
                        @if (item.BlendedTotal_v2 != null && item.BlendedTotal_v2 > 0)
                        {
                            <td class="border-r-gray">
                                @if (item.FieldCode.Contains("conversiongate"))
                                {
                                    @String.Concat(Convert.ToString(item.BlendedTotal_v2), "%")

                                }
                                else
                                {
                                    @String.Concat("$", String.Format("{0:#,###}", item.BlendedTotal_v2))
                                }
                            </td>
                        }
                        else
                        {
                            <td class="border-r-gray"></td>
                        }
                        @if (item.BlendedDays_v1 != null && item.BlendedDays_v1 > 0)
                        {
                            <td class="border-r-gray">
                                @Convert.ToString(item.BlendedDays_v1)
                            </td>
                        }
                        else
                        {
                            <td class="border-r-gray"></td>
                        }
                        @if (item.BlendedDays_v2 != null && item.BlendedDays_v2 > 0)
                        {
                            <td>
                                @Convert.ToString(item.BlendedDays_v2)
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                    </tr>
                    }
                    else if (item.FieldCode == Enums.FunnelField.ExpectedRevenue.ToString().ToLower())
                    {
                    <tr>
                        <td class="border-r-gray">@Convert.ToString(item.FieldDesc)</td>
                        @if (item.MarketingSourced != null && item.MarketingSourced > 0)
                        {
                            <td>
                                @if (item.FieldCode.Contains("conversiongate"))
                                {
                                    @String.Concat(Convert.ToString(item.MarketingSourced), "%")

                                }
                                else
                                {
                                    @String.Concat("$", String.Format("{0:#,###}", item.MarketingSourced))
                                }
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (item.MarketingDays != null && item.MarketingDays > 0)
                        {
                            <td class="border-r-gray">@Convert.ToString(item.MarketingDays)</td>
                        }
                        else
                        {
                            <td class="border-r-gray"></td>
                        }
                        @if (item.ProspectingSourced != null && item.ProspectingSourced > 0)
                        {
                            <td>
                                @if (item.FieldCode.Contains("conversiongate"))
                                {
                                    @String.Concat(Convert.ToString(item.ProspectingSourced), "%")

                                }
                                else
                                {
                                    @Convert.ToString(item.ProspectingSourced)
                                }
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (item.ProspectingDays != null && item.ProspectingDays > 0)
                        {
                            <td class="border-r-gray">@Convert.ToString(item.ProspectingDays)</td>
                        }
                        else
                        {
                            <td class="border-r-gray"></td>
                        }

                        @if (item.SalesSourced != null && item.SalesSourced > 0)
                        {
                            <td>
                                @if (item.FieldCode.Contains("conversiongate"))
                                {
                                    @String.Concat(Convert.ToString(item.SalesSourced), "%")

                                }
                                else
                                {
                                    @Convert.ToString(item.SalesSourced)
                                }
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (item.SalesDays != null && item.SalesDays > 0)
                        {
                            <td class="border-r-gray">@Convert.ToString(item.SalesDays)</td>
                        }
                        else
                        {
                            <td class="border-r-gray"></td>
                        }
                        @if (item.BlendedTotal_v1 != null && item.BlendedTotal_v1 > 0)
                        {
                            <td class="border-r-gray">
                                @if (item.FieldCode.Contains("conversiongate"))
                                {
                                    @String.Concat(Convert.ToString(item.BlendedTotal_v1), "%")

                                }
                                else
                                {
                                    @String.Concat("$", String.Format("{0:#,###}", item.BlendedTotal_v1))
                                }
                            </td>
                        }
                        else
                        {
                            <td class="border-r-gray"></td>
                        }
                        @if (item.BlendedTotal_v2 != null && item.BlendedTotal_v2 > 0)
                        {
                            <td class="border-r-gray">
                                @if (item.FieldCode.Contains("conversiongate"))
                                {
                                    @String.Concat(Convert.ToString(item.BlendedTotal_v2), "%")

                                }
                                else
                                {
                                    @String.Concat("$", String.Format("{0:#,###}", item.BlendedTotal_v2))
                                }
                            </td>
                        }
                        else
                        {
                            <td class="border-r-gray"></td>
                        }
                        @if (item.BlendedDays_v1 != null && item.BlendedDays_v1 > 0)
                        {
                            <td class="border-r-gray">
                                @Convert.ToString(item.BlendedDays_v1)
                            </td>
                        }
                        else
                        {
                            <td class="border-r-gray"></td>
                        }
                        @if (item.BlendedDays_v2 != null && item.BlendedDays_v2 > 0)
                        {
                            <td>
                                @Convert.ToString(item.BlendedDays_v2)
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                    </tr>
                    }
                }
            </tbody>
        </table>
        <div class="button-gray-add-container" style="padding-top: 10px;">
            <button id="report" class="btn btn-blue btn-large text-shadow-blue source-sans-proregular pull-left font-size14" type="button" style="margin-right: 10px;">Create Report</button>
            <button id="publishModel" class="btn btn-blue btn-large text-shadow-blue source-sans-proregular pull-left font-size14" type="button">Publish</button>
        </div>
        @*<div class="buttons-add-wrapper">
            <div class="gray-add-container">
                <p class="text1">
                    We could deploy tactics to improve our
                    <br />
                    conversion rates
                </p>
                <p class="text2">
                    <strong>423,658 Suspects</strong> would result in 11 CWs.
                    <br />
                    With an average deal size of $100,000 yielding
                    <br />
                    <strong>$1,109,957 in revenue</strong>.
                </p>
                <p class="text3">
                    A net revenue impact of $850,138 on a
                    <br />
                    increased spend of $40,000.
                </p>
                <div class="button-gray-add-container">
                    <button class="btn btn-blue btn-large text-shadow-blue source-sans-proregular pull-left font-size14" type="button">Publish</button>
                    <button class="btn btn-blue btn-large text-shadow-blue source-sans-proregular pull-right font-size14" type="button">Create Report</button>
                </div>
            </div>
        </div>*@
    </div>
}
else
{
    <ul class="nav nav-tabs">
        @if (objBaselineModel.Versions != null)
        {
            foreach (ModelVersion v in objBaselineModel.Versions)
            {
                if (v.IsLatest)
                {
            <li class="title-header source-sans-proregular" title="@v.Title">
                <h2 id="lblTitle">@v.Title <span class="gray source-sans-prolight" title="@v.Status">@v.Status</span></h2>
            </li>
                }
            }
        }
    </ul>
    <div class="padding-content cf source-sans-proregular">
        <p>No results to display for this model.</p>
    </div>
}

<script type="text/javascript">
    var latestModelId_v1 = null;
    var latestModelId_v2 = null;

    $(document).ready(function () {
        $("#content_wraper").removeClass("span10 all-height").addClass("span10 padding-top40");

        //Display succes/ error message
        if ($('#SuccMsg').val() == null || $('#SuccMsg').val() == '') {
            $("#successMessage").remove();
        }
        else {
            $("#errorMessage").hide();
            $("#successMessage").slideDown(1200);
           // $("#successMessage").slideUp(3000);
        }
        if ($('#ErrMsg').val() == null || $('#ErrMsg').val() == '') {
            $("#errorMessage").hide();
        }
        else {
            $("#successMessage").hide();
            $("#errorMessage").slideDown(400);
            $("html, body").animate({ scrollTop: 0 }, 1000);
        }

        //To show current version selected
        var Ver1Id = $('#Version1Id').val();
        var Ver2Id = $('#Version2Id').val();
        if (Ver1Id != null && Ver1Id != '' && Ver2Id != null && Ver2Id != '') {
            LoadModelData(Ver1Id, Ver2Id, true);
        }
        function LoadModelData(modelId_v1, modelId_v2, bool) {
            //For Version 1
            $('#ver1_' + modelId_v1).removeClass('disabled pull-right');
            $('#ver1_' + modelId_v1).addClass('active pull-right');
            if (latestModelId_v1 != null) {
                $('#ver1_' + latestModelId_v1).removeClass('active pull-right');
                $('#ver1_' + latestModelId_v1).addClass('disabled pull-right');
            }
            //For Version 2
            $('#ver2_' + modelId_v2).removeClass('disabled pull-left');
            $('#ver2_' + modelId_v2).addClass('active pull-left');
            if (latestModelId_v2 != null) {
                $('#ver2_' + latestModelId_v2).removeClass('active pull-left');
                $('#ve2r_' + latestModelId_v2).addClass('disabled pull-left');
            }
            latestModelId_v1 = modelId_v1;
            latestModelId_v2 = modelId_v2;
        }

        //Enable publish feature
        var Ver1Id = $('#Version1Id').val();
        if (Ver1Id != null && Ver1Id != '') {
            EnablePublishFeature(Ver1Id);
        }
        function EnablePublishFeature(selModelId) {
            var latestModelId = $('#LatestModelId').val();
            var latestModelStatus = $('#LatestModelStatus').val();
            if (selModelId != null && latestModelId != null && latestModelStatus != null) {
                if (selModelId == latestModelId) {
                    if (latestModelStatus.toLowerCase() == "draft") {
                        $("#publish").removeClass('btn-blue-disable');
                        $("#publish").addClass('btn-blue');
                        $("#publishModel").show();
                    }
                    else {
                        $("#publish").removeClass('btn-blue');
                        $("#publish").addClass('btn-blue-disable');
                        $("#publishModel").hide();
                    }
                }
            }
        }

        //// Publish Model
        //// Added By Maninder Singh Wadhva to address TFS Bug#239
        $('#publishModel').click(function (e) {
            PublishModel();
        });
        $('#publish').click(function (e) {
            PublishModel();
        });
        function PublishModel() {
            var latestModelId = $('#LatestModelId').val();
            var latestModelStatus = $('#LatestModelStatus').val();
            if (latestModelId != null && latestModelStatus != null) {
                if (latestModelStatus.toLowerCase() == "draft") {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Content("~/Model/ModelPublish")',
                        data: { id: latestModelId },
                        dataType: "json",
                        success: function (data) {
                            if (data.redirect != undefined) {
                                window.location.href = data.redirect;
                                return;
                            }
                            else {
                                if (data.errorMessage != undefined || data.errorMessage != '') {
                                    $("#errorMessage").html('<a class="close">×</a><strong>Error! </strong> ' + data.errorMessage);
                                    $("#errorMessage").slideDown(400);
                                    $("html, body").animate({ scrollTop: 0 }, 1000);
                                }
                                else if ($('#Msgcannotpublish').val() != null || $('#Msgcannotpublish').val() != '') {
                                    $("#errorMessage").html('<a class="close">×</a><strong>Error! </strong> ' + $('#Msgcannotpublish').val());
                                    $("#errorMessage").slideDown(400);
                                    $("html, body").animate({ scrollTop: 0 }, 1000);
                                }
                            }
                        }
                    });
                }
            }
        }

        //Enable left navigation
        $(".leftnav").click(function () {
            var url = '';
            if ($(this).attr('id') == 'aInput') {
                url = '@Url.Content("~/Model/Create")';
            }
            else if ($(this).attr('id') == 'aAudience') {
                url = '@Url.Content("~/Model/Audience")';
            }
            else if ($(this).attr('id') == 'aTactics') {
                url = '@Url.Content("~/Model/Tactics")';
            }
            if (url != '' && latestModelId_v1 != null && latestModelId_v1 != 0) {
                window.location.href = url + '?id=' + latestModelId_v1;
            }
        });

        //Set header title
        var ver1Title = $('#Version1Title').val();
        var ver2Title = $('#Version2Title').val();
        if (ver1Title != null && ver1Title != '' && ver2Title != null && ver2Title != '') {
            $('#modelResultsTable th').each(function () {
                var thid = $(this).attr('id');
                if (thid != null) {
                    if (thid.toString().toLowerCase() == 'blendedtotal_v1') {
                        $(this).html('Blended Total v' + ver1Title);
                    }
                    else if (thid.toString().toLowerCase() == 'blendedtotal_v2') {
                        $(this).html('Blended Total v' + ver2Title);
                    }
                    else if (thid.toString().toLowerCase() == 'blendeddays_v1') {
                        $(this).html('Days v' + ver1Title);
                    }
                    else if (thid.toString().toLowerCase() == 'blendeddays_v2') {
                        $(this).html('Days v' + ver2Title);
                    }
                }
            });
            //Add Results tag to the selected Version 2
            $('a').each(function (idx) {
                var nameAttr = $(this).attr('name');
                if (nameAttr != null && nameAttr != '') {
                    if (nameAttr.toLowerCase() == 'version2') {
                        var classAttr = $(this).parent().attr('class');
                        if (classAttr != null && classAttr != '') {
                            if (classAttr.toString() == 'active pull-left') {
                                var title = $(this).html();
                                $(this).html(title + ' Results');
                            }
                        }
                    }
                }
            });
            $('#Version1Title').val('')
            $('#Version2Title').val('')
        }

        //Report redirect
        $('#report').click(function (e) {
            var url = '';
            url = '@Url.Content("~/Report/Index")';
            window.location.href = url;
        });

        //New Model redirect
        $('#NewModel').click(function (e) {
            window.location.href = "@Url.Action("Create", "Model")";
        });

        //For Change Log
        var url = '@Url.Content("~/Model/LoadChangeLog/")';
        $('.changes').html('');
        $('.changes').load(url + '?objectId=' + latestModelId_v1);

        //To show 'Show Value' tab selected by default
        $('#ShowValue').prop('checked', true);

        //To show changes
        $('.ShowChange').click(function () {
            $('.arrow-up-results-icon').show();
            $('.arrow-down-results-icon').show();
            $('#ShowValue').prop('checked', false);
            $('#ShowChange').prop('checked', true);
            $('td.ShowChange').show();
            $('td.ShowValue').hide();
        });

        //To show values
        $('.ShowValue').click(function () {
            $('.arrow-up-results-icon').hide();
            $('.arrow-down-results-icon').hide();
            $('#ShowChange').prop('checked', false);
            $('#ShowValue').prop('checked', true);
            $('td.ShowValue').show();
            $('td.ShowChange').hide();
        });

        //Click event for Version 1
        $(document).on("click", "a[name='version1']", function (e) {
            var id = $(this).attr("id");
            if (Ver1Id != null) {
                if (Ver1Id != id) {
                    $('#ver1_' + id).removeClass('disabled pull-right');
                    $('#ver1_' + id).addClass('active pull-right');
                    if (latestModelId_v1 != null) {
                        $('#ver1_' + latestModelId_v1).removeClass('active pull-right');
                        $('#ver1_' + latestModelId_v1).addClass('disabled pull-right');
                    }
                }
            }
            EnablePublishFeature(id);
            latestModelId_v1 = id;
            loadModelResults();
        });

        //Click event for Version 2
        $(document).on("click", "a[name='version2']", function (e) {
            var id = $(this).attr("id");
            if (Ver2Id != null) {
                if (Ver2Id != id) {
                    $('#ver2_' + id).removeClass('disabled pull-left');
                    $('#ver2_' + id).addClass('active pull-left');
                    if (latestModelId_v2 != null) {
                        $('#ver2_' + latestModelId_v2).removeClass('active pull-left');
                        $('#ver2_' + latestModelId_v2).addClass('disabled pull-left');
                    }
                }
            }
            latestModelId_v2 = id;
            loadModelResults();
        });

        //Ajax call to load Model Results data
        function loadModelResults() {
            var version1id;
            var version2id;
            var version1title;
            var version2title;

            //Get id & title selected Version 1
            $('a').each(function (idx) {
                var nameAttr = $(this).attr('name');
                if (nameAttr != null && nameAttr != '') {
                    if (nameAttr.toLowerCase() == 'version1') {
                        var classAttr = $(this).parent().attr('class');
                        if (classAttr != null && classAttr != '') {
                            if (classAttr.toString() == 'active pull-right') {
                                version1id = $(this).attr('id');
                                version1title = $(this).html();
                            }
                        }
                    }
                }
            });

            //Get id & title selected Version 2
            $('a').each(function (idx) {
                var nameAttr = $(this).attr('name');
                if (nameAttr != null && nameAttr != '') {
                    if (nameAttr.toLowerCase() == 'version2') {
                        var classAttr = $(this).parent().attr('class');
                        if (classAttr != null && classAttr != '') {
                            if (classAttr.toString() == 'active pull-left') {
                                version2id = $(this).attr('id');
                                version2title = $(this).html().replace('Results', '');
                            }
                        }
                    }
                }
            });

            //Set header title
            if (version1title != null && version1title != '' && version2title != null && version2title != '') {
                $('#modelResultsTable th').each(function () {
                    var thid = $(this).attr('id');
                    if (thid != null) {
                        if (thid.toString().toLowerCase() == 'blendedtotal_v1') {
                            $(this).html('Blended Total ' + version1title);
                        }
                        else if (thid.toString().toLowerCase() == 'blendedtotal_v2') {
                            $(this).html('Blended Total ' + version2title);
                        }
                        else if (thid.toString().toLowerCase() == 'blendeddays_v1') {
                            $(this).html('Days ' + version1title);
                        }
                        else if (thid.toString().toLowerCase() == 'blendeddays_v2') {
                            $(this).html('Days ' + version2title);
                        }
                    }
                });
            }
            if (version1id != null && version2id != null) {
                var url = '';
                url = '@Url.Content("~/Model/Results")';
                window.location.href = url + '?mid1=' + version1id + '&mid2=' + version2id;
            }
        }

        /*close x event on message*/
        $(".close").click(function (e) {
            e.stopPropagation();
            e.preventDefault();
            $(this).closest(".alert").slideUp(400);
        });
    });
</script>
