@model RevenuePlanner.Models.Tactic_TypeModel
@using RevenuePlanner.Models
@using RevenuePlanner.Helpers
@{
    ViewBag.Title = "Tactic Selection";
    ViewBag.ActiveMenu = RevenuePlanner.Helpers.Enums.ActiveMenu.Model;
    Layout = "~/Views/Shared/_Layout.cshtml";
    string PublishedMsg = ViewBag.ModelPublishComfirmation;
    @Html.Hidden("PublishedMsg", PublishedMsg);
    bool PublisheStatus = ViewBag.Flag;
    @Html.Hidden("PublisheStatus", PublisheStatus);
    var currentdate = System.DateTime.Today.ToShortDateString();
    bool IsModelIntegrated = ViewBag.IsModelIntegrated;

    // Added By : Kalpesh Sharma #560 Method to Specify a Name for Cloned Model

    @Html.Hidden("IsModelIntegrated", IsModelIntegrated);
    string TargetStageNotAssociatedWithModelMsg = Convert.ToString(ViewBag.TargetStageNotAssociatedWithModelMsg);   // Added by :- Sohel Pathan on 06/06/2014 for PL ticket #516.
    @Html.Hidden("TargetStageNotAssociatedWithModelMsg", TargetStageNotAssociatedWithModelMsg);                     // Added by :- Sohel Pathan on 06/06/2014 for PL ticket #516.
                          // Start - Added by Sohel Pathan on 01/07/2014 for PL ticket #563 to apply custom restriction logic on Business Units - isViewOnly parameter added
    string IsOwner = Convert.ToString(ViewBag.IsOwner);
    @Html.Hidden("IsOwner", IsOwner);
    // End - Added by Sohel Pathan on 01/07/2014 for PL ticket #563 to apply custom restriction logic on Business Units - isViewOnly parameter added
    ViewBag.ModelIdPartial = Model.ModelId;//Added by Mitesh Vaishnav on 11/07/2014 for functional review point 49
    ViewBag.PageTitle = "Tactics";//Added by Mitesh Vaishnav on 11/07/2014 for functional review point 49

}
@section nlFormContent{
    <link rel="stylesheet" href="@Url.Content("~/Content/css/jquery.slidepanel.css")" type="text/css" />
}
@section Sidebar
{
    @Html.Partial("~/Views/Model/_model.cshtml")
}
@Html.Hidden("hdnMsg", (string)TempData["ErrorMessage"], new { id = "hdnMsg" })
<!--success message-->
<div id="successMessage" class="alert hide alert-success message-position">
    <a class="close">×</a>
    <div id="cSuccess">@HttpUtility.HtmlDecode((string)TempData["SuccessMessage"])</div>
</div>
<div id="errorMessage" class="alert alert-error hide message-position">
    <a class="close">×</a>
    <div id="cError">@HttpUtility.HtmlDecode((string)TempData["ErrorMessage"])</div>
</div>
@Html.HiddenFor(model => model.ModelId, new { id = "hdnModelId" })
@Html.HiddenFor(model => model.Status, new { id = "hdnStatus" })

<div id="DivBackgroundModel" class="modal-backdrop fade in" style="z-index: 1501;display: none;"></div>
@Html.Partial("~/Views/Model/_publishmodel.cshtml")

@if (Model.Versions != null)
{
    foreach (ModelVersion v in Model.Versions)
    {
        if (v.IsLatest)
        {
            @Html.HiddenFor(model => v.ModelId, new { id = "VersionModelId" })  @*changed for #2312 *@
            <input type="hidden" value="@v.ModelId" id="latestModelId" />

            <div class="title-header source-sans-proregular" title="@v.Title">
                <h2 id="lblTitle" >@v.Title <span class="gray source-sans-prolight" title="@v.Status">@v.Status</span></h2>

            </div>
        }
    }
    <ul class="nav nav-tabs">
        @foreach (ModelVersion v in Model.Versions)
        {
            if (v.IsLatest)
            {
                <li id="ver_@v.ModelId" class="pull-right" title="@v.Version">
                    <a href="#" name="versionId" id="@v.ModelId" onclick="LoadModelData(@v.ModelId,true)">@Html.Raw("v")@v.Version</a>
                </li>
            }
            else
            {
                @Html.HiddenFor(model => v.ModelId, new { id = "VersionModelId" })

                <li id="ver_@v.ModelId" class="pull-right" title="@v.Version">
                    <a href="#" name="versionId" id="@v.ModelId">@Html.Raw("v")@v.Version</a>
                </li>
            }
        }
    </ul>

    if (Model.Versions.Count == 0)
    {
        <div class="title-header source-sans-proregular" title="Title">
            <h2>@Html.Raw("Title") <span class="gray source-sans-prolight" title="Draft">@Html.Raw("Draft")</span></h2>
        </div>
        <ul class="nav nav-tabs">
            <li class="active pull-right" title="1.0">
                <a href="#">@Html.Raw("v")1.0</a>
            </li>
            <li class="pull-right">
                @*#585*@
                <a href="#">@Html.Raw("No Saved Versions")</a>
            </li>
        </ul>
    }
}
@Html.Hidden("0", (int)ViewBag.Version, new { id = "mode" })
@Html.Hidden("EffectiveDate", currentdate)
<div id="table_request" class="padding-content padding-top0 cf source-sans-proregular">

    <table id="table_tactics" class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="border-r width390">Tactic Title</th>
                <th class="border-r width86">Target Stage</th>
                <th class="border-r width86">Tactic Category</th>
                <th class="border-r">Projected Responses</th> @* Modified by :- Mitesh Vaishnav for PL ticket #683 - add border between projected cost and projected response *@
                <th class="border-r">Projected Cost</th>
                <th class="border-r width50px" style="text-align:center;">Deploy to Model</th>

                @if (IsModelIntegrated)
                {
                    <th class="width50px" style="text-align:center;">Deploy to Integration</th>
                }
            </tr>
        </thead>
        <tbody>           

        </tbody>
    </table>
    @if (Convert.ToString(ViewBag.IsAuthorized) == "True") // Added by Sohel Pathan on 01/07/2014 for PL ticket #563 to apply custom restriction logic on Business Units - isViewOnly parameter added
    {
        <button id="create_new_tactic" class="btn btn-blue btn-large text-shadow-blue source-sans-proregular pull-left font-size14" type="button">Create New Tactic</button>
        <button class="btn btn-blue btn-large text-shadow-blue source-sans-proregular pull-right font-size14" id="continue" type="button">Save & Continue</button>
    }

</div>
@*Added By Kalpesh Sharma Functional and code review #560 07-16-2014   *@
@Html.Partial("~/Views/Model/_DuplicateModel.cshtml")

<script type="text/javascript">
    var lastModelId = null;
    $(document).ready(function () {
        $('#DivBackgroundModel').css("display", "none");
        $('#DivPublishModelPopup').css("display", "none");
        $('#dp_start .add-on').click(function () {
            $('#dp_start').datepicker('show');
        });

        var ismsg = $("#hdnMsg").val();
        if ($('#cSuccess').html() != '') {
            $('#cSuccess').html('<strong>Success.</strong> ' + $('#cSuccess').html());
            $("#successMessage").slideDown(1200);
        }
        if ($('#cError').html() != '') {
            $("#errorMessage").slideDown(1200);
        }
        $("#content_wraper").removeClass("span10 all-height").addClass("span10 padding-top40");
        $('#NewModel').click(function (e) {
            window.location.href = "@Url.Action("Create", "Model")";
        });

        if ($('#hdnModelId').val() == $("#latestModelId").val()) {
            if ($('#hdnStatus').val() == "Draft" && ($('#IsOwner').val().toLowerCase() == 'true' || ('@Convert.ToString(ViewBag.IsAuthorized)'.toLowerCase() == "true"))) {   // Modified by Sohel Pathan on 01/07/2014 for PL ticket #563 to apply custom restriction logic on Business Units - isViewOnly parameter added
                $("#publish").removeClass('btn-blue-disable');
                $("#publish").addClass('btn-blue');
                $("#publish").removeAttr('disabled'); //Added by Rahul Shah to make editable publish model button
            }
        }

        LoadModelData($("#latestModelId").val(), true);
        function LoadModelData(modelId, bool) {
            if ($('#hdnModelId').val() != modelId) {
                modelId = $('#hdnModelId').val();
                if ('@ViewBag.IsAuthorized'.toLowerCase() == 'true') {   // Added by Sohel Pathan on 01/07/2014 for PL ticket #563 to apply custom restriction logic on Business Units - isViewOnly parameter added
                    $("#create_new_tactic").hide();
                    $("#continue").hide();
                    $("#liDuplicate").hide();           //// Added by :- Sohel Pathan on 09/06/2014 for PL ticket #219 to show Duplicate option only in Edit mode and only for latest version of model.
                }
            }
            else {
                if ('@ViewBag.IsAuthorized'.toLowerCase() == 'true') {   // Added by Sohel Pathan on 01/07/2014 for PL ticket #563 to apply custom restriction logic on Business Units - isViewOnly parameter added
                    $("#create_new_tactic").show();
                    $("#continue").show();
                    $("#liDuplicate").show();           //// Added by :- Sohel Pathan on 09/06/2014 for PL ticket #219 to show Duplicate option only in Edit mode and only for latest version of model.
                }
            }

            $('#ver_' + modelId).removeClass('pull-right');//#585
            $('#ver_' + modelId).addClass('active pull-right');
            if (lastModelId != null && lastModelId != modelId) {
                $('#ver_' + lastModelId).removeClass('active pull-right');
                $('#ver_' + lastModelId).addClass('pull-right');
            }
            lastModelId = modelId;
            /*Added by Nirav Shah on 18 feb 2014 for TFS Point 252: Editing a published model*/
        }
        // Added By : Kalpesh Sharma #560 Method to Specify a Name for Cloned Model
        $('#copymodelbtn').click(function () {
            $(".copymodeldesc").removeClass("error");
            var flag = 0;

            if ($("#copymodeldesc").val() == "") {
                $("#copymodeldesc").addClass("error");
                flag = 1;
            }

            if (flag == 1) {
                var msgspan = "@Common.objCached.ValidateEnteredField";
                $("#errorMessagecopy").css("display", "block");
                $("#spanErrorMessageModelcopy").text(msgspan);
            } else {

                //added by : Kalpesh Sharma - 14/07/2014 #560 Method to Specify a Name for Cloned Model
                var titleName = htmlEncode($("#copymodeldesc").val().trim());
                $.ajax(
                {
                    type: "GET",
                    cache: false,
                    url: '@Url.Content("~/Model/CheckDuplicateModelTitle")',
                    data: { Title: titleName },
                    dataType: "json",
                    success: function (data) {
                        if (data == 'exist') {
                            var msgspan = "@Common.objCached.ModelAlreadyExits";
                            $("#errorMessagecopy").css("display", "block");
                            $("#spanErrorMessageModelcopy").text(msgspan);
                        }
                        else {
                            $('#DivPartialShareModelDuplicate').hide();
                            DuplicateModel();
                        }
                    }
                });
            }
            return false;
        });

        $(document).on("click", "a[name='versionId']", function (e) {
            $('#successMessage').slideUp();
            $('#errorMessage').slideUp();
            var latest = $("#latestModelId").val();
            var id = $(this).attr("id");
            if (id == latest) {
                if ($('#IsOwner').val().toLowerCase() == 'true' || ('@Convert.ToString(ViewBag.IsAuthorized)'.toLowerCase() == "true")) {   // Added by Sohel Pathan on 01/07/2014 for PL ticket #563 to apply custom restriction logic on Business Units - isViewOnly parameter added
                    $("#create_new_tactic").show();
                    $("#continue").show();
                }
                $("#save_tactic").show();
                $("#CreateTactic").show();
                $("#NewModel").removeClass('btn-blue-disable');
                $("#NewModel").addClass('btn-blue');
                $("#mode").val(latest);
                if ($('#hdnStatus').val() == "Draft" && ($('#IsOwner').val().toLowerCase() == 'true' || ('@Convert.ToString(ViewBag.IsAuthorized)'.toLowerCase() == "true"))) {   // Added by Sohel Pathan on 01/07/2014 for PL ticket #563 to apply custom restriction logic on Business Units - isViewOnly parameter added
                    $("#publish").removeClass('btn-blue-disable');
                    $("#publish").addClass('btn-blue');
                    $("#publish").removeAttr('disabled'); //Added by Rahul Shah to make editable publish model button
                }
                else {
                    $("#publish").removeClass('btn-blue');
                    $("#publish").addClass('btn-blue-disable');
                    $("#publish").attr('disabled', 'disabled'); //Added by Rahul Shah to make disable publish model button
                }
                $('#BtnGroup').html('New Model');   //// Added by :- Sohel Pathan on 09/06/2014 for PL ticket #219
                $("#liDuplicate").show();           //// Added by :- Sohel Pathan on 09/06/2014 for PL ticket #219 to show Duplicate option only in Edit mode and only for latest version of model.
            }
            else {
                if ($('#IsOwner').val().toLowerCase() == 'true' || ('@Convert.ToString(ViewBag.IsAuthorized)'.toLowerCase() == "true")) {   // Added by Sohel Pathan on 01/07/2014 for PL ticket #563 to apply custom restriction logic on Business Units - isViewOnly parameter added
                    $("#create_new_tactic").hide();
                    $("#continue").hide();
                }
                $("#save_tactic").hide();
                $("#CreateTactic").hide();
                $("#mode").val(id);
                $("#publish").removeClass('btn-blue');
                $("#publish").addClass('btn-blue-disable');
                $("#publish").attr('disabled', 'disabled'); //Added by Rahul Shah to make disable publish model button
                $('#BtnGroup').html('New Model');   //// Added by :- Sohel Pathan on 09/06/2014 for PL ticket #219
                $("#liDuplicate").hide();           //// Added by :- Sohel Pathan on 09/06/2014 for PL ticket #219 to show Duplicate option only in Edit mode and only for latest version of model.
            }
            $('#ver_' + id).removeClass('pull-right');//#585
            $('#ver_' + id).addClass('active pull-right');
            if (lastModelId != null && lastModelId != id) {
                $('#ver_' + lastModelId).removeClass('active pull-right');
                $('#ver_' + lastModelId).addClass('pull-right');
            }
            lastModelId = id;
            var status;
            $("#table_tactics tbody tr").remove();
            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/Model/GetTacticDatabyid")',
                data: { id: id },
                dataType: "json",
                success: function (r) {
                    tactic = r;
                    fillTacticsTable();
                    myApp.hidePleaseWait();
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Content("~/Model/FillVersion")',
                        data: { id: id },
                        dataType: "json",
                        success: function (r) {
                            for (i in r) {
                                $("#lblTitle").html('');
                                $("#lblTitle").html(r[i].Title + '<span class="gray source-sans-prolight">' + r[i].Status + '</span>');
                                if (id == latest) {
                                    if ($('#IsOwner').val().toLowerCase() == 'true' || ('@Convert.ToString(ViewBag.IsAuthorized)'.toLowerCase() == "true")) {   // Added by Sohel Pathan on 01/07/2014 for PL ticket #563 to apply custom restriction logic on Business Units - isViewOnly parameter added
                                        $("#create_new_tactic").show();
                                        $("#continue").show();
                                    }
                                    $("#save_tactic").show();
                                    $("#CreateTactic").show();
                                    $("#NewModel").removeClass('btn-blue-disable');
                                    $("#NewModel").addClass('btn-blue');
                                    $("#mode").val(latest);
                                    if (r[i].Status == "Draft" && ($('#IsOwner').val().toLowerCase() == 'true' || ('@Convert.ToString(ViewBag.IsAuthorized)'.toLowerCase() == "true"))) { // Modified by Sohel Pathan on 01/07/2014 for PL ticket #563 to apply custom restriction logic on Business Units - isViewOnly parameter added

                                        $("#publish").removeClass('btn-blue-disable');
                                        $("#publish").addClass('btn-blue');
                                        $("#publish").removeAttr('disabled');  //Added by Rahul Shah to make editable publish model button
                                        $('#hdnStatus').val(r[i].Status);
                                        $('#PublisheStatus').val('true')
                                    }
                                    else {
                                        $("#publish").removeClass('btn-blue');
                                        $("#publish").addClass('btn-blue-disable');
                                        $("#publish").attr('disabled', 'disabled'); //Added by Rahul Shah to make disable publish model button
                                    }
                                }
                                else {
                                    if ($('#IsOwner').val().toLowerCase() == 'true' || ('@Convert.ToString(ViewBag.IsAuthorized)'.toLowerCase() == "true")) {   // Added by Sohel Pathan on 01/07/2014 for PL ticket #563 to apply custom restriction logic on Business Units - isViewOnly parameter added
                                        $("#create_new_tactic").hide();
                                        $("#continue").hide();
                                    }
                                    $("#save_tactic").hide();
                                    $("#CreateTactic").hide();
                                    $("#mode").val(id);
                                    $("#publish").removeClass('btn-blue');
                                    $("#publish").addClass('btn-blue-disable');
                                    $("#publish").attr('disabled', 'disabled'); //Added by Rahul Shah to make disable publish model button

                                }
                            }
                        }
                    });
                }
            });

        });
        // Fill Tactic selection Table
        var mid;
        if ($('#hdnModelId').val() != $("#latestModelId").val()) {
            mid = $('#hdnModelId').val();
        }
        else {
            mid = $('#latestModelId').val();
        }
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/Model/GetTacticDatabyid/")',
            data: {
                id: mid
            },
            dataType: "json",
            success: function (r) {
                tactic = r;
                fillTacticsTable();
                myApp.hidePleaseWait();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Content("~/Model/FillVersion")',
                    data: { id: mid },
                    dataType: "json",
                    success: function (r) {
                        for (i in r) {
                            $("#lblTitle").html('');
                            $("#lblTitle").html(r[i].Title + '<span class="gray source-sans-prolight">' + r[i].Status + '</span>');
                        }
                    }
                });
            }
        });
        //fill tactics table with data from json
        function fillTacticsTable() {
            if (tactic != 'undefined') {
                if (tactic.length) {
                    for (i in tactic) {
                        /*  TFS Bug - 179 : Improper behavior when editing Tactic in model
                            Changed By : Nirav shah on 6 Feb 2014
                            Change : pass new parameter modelid
                        */
                        addRowTactic(i, tactic[i].id, tactic[i].clientid, tactic[i].modelId, tactic[i].title, tactic[i].Stage, tactic[i].AssetType, tactic[i].ProjectedStageValue, tactic[i].revenue, tactic[i].IsDeployedToIntegration, tactic[i].IsTargetStageOfModel, tactic[i].IsDeployedToModel); // parameter _IsTargetStageOfModel Added by :- Sohel Pathan on 06/06/2014 for PL ticket #516.
                    }

                    //Fetch all the row values from the tables
                    $('.projectedcost').each(function () {
                        //Added By : Kalpesh Sharma
                        //PL #508 Set format for label in tool tip
                        SetBudget($(this));
                    });

                } else {
                    $('#table_tactics > tbody').append('<tr><td colspan="9" class="gray">No saved tactics to display.</td></tr>');
                }
            }
        }
        //add row in tactics table //changes done by uday for PL #497 changed mlqs to projectedstagevalue
        function addRowTactic(_index, _id, _Clientid, _modelId, _title, Stage, _AssetType, _ProjectedStageValue, _revenue, _IsDeployedToIntegration, _IsTargetStageOfModel, _IsDeployedToModel) { // parameter _IsTargetStageOfModel Added by :- Sohel Pathan on 06/06/2014 for PL ticket #516.
            var $tableTactics = $('#table_tactics > tbody');
            var $table_activities = $('#table_activities > tbody');
            var $html = "";
            if ($tableTactics.find("tr td.gray").html() == "No saved tactics to display.") {
                $tableTactics.find("tr").remove();
            }
            /*  TFS Bug - 179 : Improper behavior when editing Tactic in model
                Changed By : Nirav shah on 6 Feb 2014
                Change : Use condition _modelId == lastModelId Instead of _Clientid
            */
            /*changed for TFS bug 176 : Model Creation - Tactic Defaults should Allow values of zero changed by Nirav Shah on 7 feb 2014*/

            if (_IsDeployedToModel) {
                $html += '<tr clientid="' + _Clientid + '" class="rejected" id="' + _id + '" data-index="' + _index + '" IsTargetStageOfModel="' + _IsTargetStageOfModel + '">' +   // Modified by :- Sohel Pathan on 06/06/2014 for PL ticket #516.
                          '<td  class="border-r sm" id="' + _id + '"><span class="title-baseline-model">' + _title + '</span><span class="search-icon"></span></td>' +
                          '<td   class="sm border-r" id="' + _id + '">' + Stage + '</td>' +
                          '<td   class="sm border-r" id="' + _id + '">' + _AssetType + '</td>' +
                           //Modified by Mitesh Vaishnav for PL ticket #683 - add border between projected cost and projected response
                          '<td   class="sm border-r" id="' + _id + '">' + FormatCommas(_ProjectedStageValue.toString(), false) + '</td>' +
                          '<td  class="border-r sm projectedcost" id="' + _id + '">$' + FormatCommas(_revenue.toString(), false) + '</td>' +
                          '<td class="border-r"><span class="circle-check-icon-gray circle-check-icon-blue"  id = "' + "rej" + _id + '"></span></td>';

                if ($("#IsModelIntegrated").val() == 'True') {
                    $html += '<td><span class="circle-check-icon-gray-integration  ' + (_IsDeployedToIntegration == true ? "circle-check-icon-integration-blue" : "") + '"  id = "' + "int" + _id + '"></span></td>';
                }



                $html += '</tr>';

            } else {
                $html += '<tr clientid="0" class="rejected" id="' + _id + '" data-index="' + _index + '" IsTargetStageOfModel="' + _IsTargetStageOfModel + '">' +   // Modified by :- Sohel Pathan on 06/06/2014 for PL ticket #516.
                            '<td id="' + _id + '" class="border-r sm"><span class="title-baseline-model">' + _title + '</span><span class="search-icon"></span></td>' +
                            '<td id="' + _id + '"  class="sm border-r">' + Stage + '</td>' +
                            '<td id="' + _id + '"  class="sm border-r">' + _AssetType + '</td>' +
                             //Modified by Mitesh Vaishnav for PL ticket #683 - add border between projected cost and projected response
                            '<td  id="' + _id + '" class="sm border-r">' + FormatCommas(_ProjectedStageValue.toString(), false) + '</td>' +
                            '<td id="' + _id + '" class="border-r sm projectedcost">$' + FormatCommas(_revenue.toString(), false) + '</td>' +
                            '<td class="border-r"><span class="circle-check-icon-gray"  id = "' + "rej" + _id + '"></span></td>';

                if ($("#IsModelIntegrated").val() == 'True') {
                    $html += '<td><span class="circle-check-icon-gray-integration  ' + (_IsDeployedToIntegration == true ? "circle-check-icon-integration-blue" : "") + '"  id = "' + "int" + _id + '"></span></td>';
                }

                $html += '</tr>';

            }
            $tableTactics.append($html);
        }

        $(document).on('click', '#table_tactics tbody tr td.sm', function (e) {
            // Start - Added by Sohel Pathan on 01/07/2014 for PL ticket #563 to apply custom restriction logic on Business Units - isViewOnly parameter added
            if ($('#IsOwner').val().toLowerCase() == 'false' && ('@Convert.ToString(ViewBag.IsAuthorized)'.toLowerCase() == "false")) {
                return false;
            }
            // End - Added by Sohel Pathan on 01/07/2014 for PL ticket #563 to apply custom restriction logic on Business Units - isViewOnly parameter added
            if ($("#latestModelId").val() == lastModelId) {/* changed by Nirav shah for TFS Point :252 editing a published model*/
                var id = $(this).attr("id");
                $("#slidepanel").css("display", "block");
                // Start - Added by :- Sohel Pathan on 06/06/2014 for PL ticket #516.
                var IsTargetStageOfModel = $(this).parent("tr").attr('IsTargetStageOfModel');
                if (IsTargetStageOfModel.toLowerCase() == "false")
                    alert($('#TargetStageNotAssociatedWithModelMsg').val());
                // End - Added by :- Sohel Pathan on 06/06/2014 for PL ticket #516.
                var url = '@Url.Content("~/Model/DetailTacticData")';
                $('#slidepanel-container').load(url + '?id=' + id + '&ModelId=' + lastModelId);
                $("#slidepanel").css("right", "0px");
            }
        });

        $(document).on('click', '#create_new_tactic', function (e) {
            if ($("#latestModelId").val() == lastModelId) {
                $("#slidepanel").css("display", "block");
                var url = '@Url.Content("~/Model/CreateTacticData/")';
                $('#slidepanel-container').load(url + '?ModelId=' + lastModelId);
                $("#slidepanel").css("right", "0px");
            }
            $("#slidepanel").css("Style", "display: none;");
        });

        $(document).on('click', '#table_tactics tbody tr td span.circle-check-icon-gray', function (e) {
            // Start - Added by Sohel Pathan on 01/07/2014 for PL ticket #563 to apply custom restriction logic on Business Units - isViewOnly parameter added
            if ($('#IsOwner').val().toLowerCase() == 'false' && ('@Convert.ToString(ViewBag.IsAuthorized)'.toLowerCase() == "false")) {
                return false;
            }
            // End - Added by Sohel Pathan on 01/07/2014 for PL ticket #563 to apply custom restriction logic on Business Units - isViewOnly parameter added
            if ($("#latestModelId").val() == lastModelId) {
                if ($(this).hasClass('circle-check-icon-blue')) {
                    $(this).removeClass('circle-check-icon-blue');

                    if ($(this).parent().next().find("span").hasClass("circle-check-icon-integration-blue")) {
                        $(this).parent().next().find("span").removeClass("circle-check-icon-integration-blue")
                    }                    
                }
                else {
                    $(this).addClass('circle-check-icon-blue');
                }
            }
        });

        $(document).on('click', '#table_tactics tbody tr td span.circle-check-icon-gray-integration', function (e) {
            // Start - Added by Sohel Pathan on 01/07/2014 for PL ticket #563 to apply custom restriction logic on Business Units - isViewOnly parameter added
            if ($('#IsOwner').val().toLowerCase() == 'false' && ('@Convert.ToString(ViewBag.IsAuthorized)'.toLowerCase() == "false")) {
                return false;
            }
            // End - Added by Sohel Pathan on 01/07/2014 for PL ticket #563 to apply custom restriction logic on Business Units - isViewOnly parameter added
            if ($("#latestModelId").val() == lastModelId) {

                if ($(this).parent().prev().find("span").hasClass("circle-check-icon-blue")) {

                    if ($(this).hasClass('circle-check-icon-integration-blue')) {
                        $(this).removeClass('circle-check-icon-integration-blue');
                    }
                    else {
                        $(this).addClass('circle-check-icon-integration-blue');
                    }
                }
                else {
                    alert("@Common.objCached.TacticMustDeployedToModel");
                }
            }
        });

        $("#cancel-button").click(function () {
            $('#DivBackgroundModel').css("display", "none");
            $('#DivPublishModelPopup').css("display", "none");
            return false;
        });
        $('#t_startdate').click(function () {
            $('#dp_end').datepicker('hide');
        })
        $("#Save-publish").click(function () {
            var date = $("#t_startdate").val();
            $("#EffectiveDate").val(date);
            SaveAllTactic(true);
            return true;
        });
        $('#dp_start .add-on').click(function () {
            $('#dp_start').datepicker('show');
            $('#dp_end').datepicker('hide');

        });
        $('.dp').datepicker({
            format: "@RevenuePlanner.Helpers.Common.DateFormatDatePicker",
            autoclose: true,
        }).on('changeDate', function (ev) {
            $(this).datepicker('hide');
        });;
        $('#publish').click(function (e) {
            if ($("#latestModelId").val() == lastModelId && $('#hdnStatus').val() == "Draft") {
                if ($('#PublisheStatus').val().toLocaleLowerCase() == 'true') {
                    if (confirm($("#PublishedMsg").val())) {
                        $('#DivBackgroundModel').css("display", "block");
                        $('#DivPublishModelPopup').css("display", "block");
                        var date = $("#EffectiveDate").val();
                        $("#t_startdate").val(date);
                        return false;
                    }
                    else {
                        $('#DivBackgroundModel').css("display", "none");
                        $('#DivPublishModelPopup').css("display", "none");
                        return false;
                    }
                }
                else {
                    $('#DivBackgroundModel').css("display", "block");
                    $('#DivPublishModelPopup').css("display", "block");
                    var date = $("#EffectiveDate").val();
                    $("#t_startdate").val(date);
                    return false;
                }
            }
            else {
                $('#DivBackgroundModel').css("display", "none");
                $('#DivPublishModelPopup').css("display", "none");
                return false;
            }
        });
        $("#continue").click(function () {
            SaveAllTactic(false);
        });

        function SaveAllTactic(isPublishToo) {
            var ids = [];
            var rejid = [];
            var ModelId = $("#latestModelId").val();
            $('#table_tactics tbody tr td span.circle-check-icon-gray.circle-check-icon-blue').each(function () {

                if ($(this).parent().next().find("span").hasClass("circle-check-icon-integration-blue")) {
                    ids.push(this.id + '_true');
                }
                else {
                    ids.push(this.id + '_false');
                }

            });

            $('#table_tactics tbody tr td span.circle-check-icon-gray').each(function () {

                if ($(this).parent().next().find("span").hasClass("circle-check-icon-integration-blue")) {
                    rejid.push(this.id + '_true');
                }
                else {
                    rejid.push(this.id + '_false');
                }

            });

            var totlen = rejid.length;
            if (ids.length > rejid.length) {
                totlen = ids.length;
            }
            for (var i = ids.length; i--;) {
                for (var j = rejid.length; j--;) {
                    if (rejid[j] == ids[i]) rejid.splice(j, 1);
                }
            }
            //// Start - Modified by Sohel Pathan on 31/12/2014 for PL ticket #1063
            var uId = $(window).attr('name');
            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/Model/saveAllTactic/")',
                data: 'ids=' + ids + '&rejids=' + rejid + '&ModelId=' + ModelId + '&isModelPublished=' + isPublishToo + '&EffectiveDate=' + $("#EffectiveDate").val() + '&UserId=' + uId,
                success: function (data) {
                    if (data.returnURL != 'undefined' && data.returnURL == '#') {
                        window.location = '@Url.Content("~/Login/Index")';
                    }
                    else {
                        var queryStringArr = [];
                        if (data.errorMessage != undefined) {
                            url = '@Url.Content("~/Model/Tactics")';
                            // window.location.href = url + '?id=' + ModelId;
                        }
                        else {
                            url = '@Url.Content("~/Model/IntegrationSelection")';
                            //window.location.href = url + '?id=' + ModelId;
                        }
                        queryStringArr.push(
                        {
                            key: 'id',
                            Value: ModelId
                        });
                        formSubmitEvent(url, queryStringArr);
                    }
                }
            });
            //// End - Modified by Sohel Pathan on 31/12/2014 for PL ticket #1063
        }
    });

    //// Start - Added by :- Sohel Pathan on 09/06/2014 for PL ticket #219 to clone a model.
    // Modified By : Kalpesh Sharma #560 Method to Specify a Name for Cloned Model
    $('#BtnGroup').click(function (e) {
        if ($(this).html().toLowerCase() == "duplicate") {
            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/Model/GetDefaultDuplicateModelName/")',
                //Added By Kalpesh Sharma Functional and code review #560 07-16-2014
                data: { modelId: $('#latestModelId').val() },
                dataType: "json",
                success: function (data) {
                    if (data.status == 1) {

                        //Added By Kalpesh Sharma #560: Method to Specify a Name for Cloned Model 07-15-2014
                        $("#copymodeldesc").val(htmlDecode(data.msg));
                        $("#original").text(htmlDecode(data.name));

                        //07/14/2014
                        $("#errorMessagecopy").css("display", "none");
                        $("#copymodeldesc").removeClass("error");
                        $('#DivPartialShareModelDuplicate').show();
                    }
                    else {
                        $("#cError").html('<strong>Error! </strong>' + data.msg)
                        $("#errorMessage").slideDown(400);
                        $("html, body").animate({ scrollTop: 0 }, 1000);
                    }
                }
            });
        }
        else {
            var url = '@Url.Content("~/Model/CreateModel")';
            formSubmitEvent(url);
            //window.location.href = url;
        }
    });

    // Added By : Kalpesh Sharma #560 Method to Specify a Name for Cloned Model
    // Close or hide the Duplicate popup on Cancel click .
    $('#cancelbtncopy').click(function () {
        $('#DivPartialShareModelDuplicate').hide();
    });

    // Modified By : Kalpesh Sharma #560 Method to Specify a Name for Cloned Model
    // Pass extra paramter model title from the model duplicate popup.
    function DuplicateModel() {

        //added by : Kalpesh Sharma - 14/07/2014 #560 Method to Specify a Name for Cloned Model
        var titleName = htmlEncode($("#copymodeldesc").val().trim());

        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/Model/DuplicateModel/")',
            //Added By Kalpesh Sharma Functional and code review #560 07-16-2014
            data: { modelId: $('#latestModelId').val(), title: titleName },
            dataType: "json",
            success: function (data) {
                if (data.status == 1) {
                    var url = '@Url.Content("~/Model/ModelZero")';
                    window.location.href = url;
                }
                else {
                    $("#cError").html('<strong>Error! </strong>' + data.msg)
                    $("#errorMessage").slideDown(400);
                    $("html, body").animate({ scrollTop: 0 }, 1000);
                }
            }
        });
    }
    //// End - Added by :- Sohel Pathan on 09/06/2014 for PL ticket #219 to clone a model.
</script>
