@using RevenuePlanner.Helpers

<!DOCTYPE html>
@{
    string varUrlnew = Url.Action("vieweditpermission", "Organization");
    string ViewPermissionURL = varUrlnew + "?Id=" + Sessions.User.UserId + "&Mode=MyPermission";
}
<html>

<body>
    <div class="padding-right70">
        <ul class="nav nav-pills nav-stacked width216">

            <li id="MPermission"><a href='@ViewPermissionURL'>My Permissions</a></li>

            <li id="OHierarchy" class="active"><a href="@Url.Action("OrganizationHierarchy", "Organization")">Organization Hierarchy</a></li>

            @if ((bool)ViewBag.IsUserAdminAuthorized)   // Added by Sohel Pathan on 24/06/2014 for PL ticket #519 to implement user permission Logic
                {

 @*<li><a href="#">Manage Users</a></li>*@

            <li id="MRoles"><a href="@Url.Content("~/Organization/ManageRoles/")">Manage Roles</a></li>
            }
           

        </ul>
    </div>
</body>
<script>
    $(document).ready(
        function () {
            $('.nav nav-pills nav-stacked width216 li').each(function () {
                $(this).removeClass('active');
            });
            if ('@ViewBag.PageTitle' == 'OrganizationHierarchy') {

                if (!$('#OHierarchy').hasClass('active')) {
                    $('#OHierarchy').addClass('active');
                }
            }
            else if ('@ViewBag.PageTitle' == 'MyPermission') {
                if (!$('#MPermission').hasClass('active')) {
                    $('#MPermission').addClass('active');
                }
            }
            else if ('@ViewBag.PageTitle' == 'ManageRole') {
                if (!$('#MRoles').hasClass('active')) {
                    $('#MRoles').addClass('active');
                }
            }
        }
            );
</script>
</html>
