@model IEnumerable<RevenuePlanner.Models.RoleModel>
@using RevenuePlanner.BDSService;
@using RevenuePlanner.Helpers;

@{
    ViewBag.Title = "Manage Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var emptyGuidId = Guid.Empty;
    string varUrl = Url.Action("vieweditpermission", "Organization");
    string ViewPermissionURL = varUrl + "?Id=" + Sessions.User.UserId + "&Mode=MyPermission";
    ViewBag.ActiveMenu = RevenuePlanner.Helpers.Enums.ActiveMenu.Pref;
}


@Html.Hidden("SuccMsg", TempData["SuccessMessage"])

@section Sidebar {
    <div class="padding-content">
        <h4 class="text-shadow-black source-sans-prolight">Preferences</h4>
    </div>
    <ul class="nav nav-list nav-gray">
        <li class="item">
            <a class="source-sans-probold inputs" href="#" id="aMyProfile"><span></span>MY PROFILE</a>
        </li>
        <li class="item active">@*uday for new screen*@
            <a class="source-sans-probold organization" href="#" id="aOrganization"><span></span>ORGANIZATION</a>
        </li>
        @if (Sessions.User.RoleCode.Equals(Enums.RoleCodes.SA.ToString(), StringComparison.OrdinalIgnoreCase) || Sessions.User.RoleCode.Equals(Enums.RoleCodes.CA.ToString(), StringComparison.OrdinalIgnoreCase))
        {
            <li class="item">
                <a class="source-sans-probold integrations" href="#" id="aIntegrations"><span></span>INTEGRATIONS</a>
            </li>
        }
    </ul>
}
<!--success message-->
<div id="successMessage" class="alert hide alert-success message-position">
    <a class="close">×</a>
    <div id="cSuccess"><strong>Success.</strong> @Html.Raw(HttpUtility.HtmlDecode((string)TempData["SuccessMessage"]))</div>
</div>

<ul class="nav nav-tabs">
    <li class="source-sans-proregular">
        <h2 class="title-header">Organization</h2>
    </li>
</ul>

<div class="padding-content cf source-sans-proregular" id="content" style="padding-bottom: 0px !important">
    <div class="row">
        <div class="span2 myaccount-colum">
            <div class="width216">
                <ul class="nav nav-pills nav-stacked width216">
                    <li><a href='@ViewPermissionURL'>My Permissions</a></li>
                    <li><a href="@Url.Action("OrganizationHierarchy", "Organization")">Organization Hierarchy</a></li>
                    <li><a href="#">Manage Users</a></li>
                    <li class="active"><a href="@Url.Content("~/Organization/ManageRoles/")">Manage Roles</a></li>
                </ul>
            </div>
        </div>

        <div class="span9">

            <div class="manage-roles">
                <h4>Manage Roles</h4>

                <div>
                    <span class="btn-group">
                        <button class="btn btn-blue btn-primary source-sans-proregular add-role-icon" title="Add a role" id="addrole"><span></span>Add a Role</button>
                    </span>
                </div>

                <table class="user-roles">
                    @foreach (var item in Model)
                    {
                        var id = "rolelabel" + item.RoleId;

                        <tr>
                            <td id="@id" width="200">@item.RoleTitle</td>@*review point*@
                            <td width="100">
                                <span class="btn-group">
                                    <button class="btn btn-grey btn-primary without-text-shadow source-sans-prolight btnEdit" title="View/Edit" id="editbtn">View/Edit</button>
                                    <input type="hidden"  value="@item.RoleId" />
                                    <!--this is used to bind values like to know the id of clicked row like selected value in combobox.-->
                                </span>
                            </td>
                            <td>
                                <span class="btn-group">
                                    <button class="btn btn-grey btn-primary without-text-shadow source-sans-prolight btnCopy" title="Duplicate" id="copybtn">Duplicate</button>
                                    <input type="hidden"  value="@item.RoleId" />
                                </span>
                            </td>
                            <td><span class="delete-temp-program" title="Delete" id="delete">
                                <input type="hidden"  value="@item.RoleId" /></span></td>
                        </tr>
                    }
                </table>

                <!--div to display pop up for add role-->
                <div id="DivPartialShareTactic" style="display: none;">
                    <div class="container-fluid all-height DivResetDefaults" id="DivShareTacticPopupMain">
                        <div class="row-fluid calc-height">
                            <div class="span12">

                                <div id="DivAddRolePopup" class="form-inspect-share hide fade in height-auto" role="dialog" style="display: block;">

                                    <div style="padding-bottom: 20px;" class="login-wrapper">
                                        <h2 class="primary-title source-sans-proregular without-text-shadow">Adding a new role</h2>
                                        <h4 class="source-sans-prolight">Please enter the name of the role.</h4>@*review point*@
                                        <input type="text" value="" placeholder="Enter new role" name="textfield" maxlength="255" id="newrole" class="input-block-level source-sans-proregular newrole">
                                        <!--error message-->
                                        <div id="errorMessage" class="alert hide alert-error message-position">
                                            <a class="close">×</a>
                                            <strong></strong><span id="spanErrorMessageRole"></span>
                                        </div>
                                        <!--error message-->
                                        <button class="form-inspect-share-button btn btn-large text-shadow-blue default-btn" type="submit" value="Submit" title="Add Role" id="addrolebtn">Add Role</button>
                                        <button class="cancel-btn btn-link text-shadow-black" type="button" id="cancelbtn">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="DivBackgroundShareTactic" class="modal-backdrop fade in" style="z-index: 9999"></div>
                </div>

                <!--div to load partialview for delete role-->
                <div id="loaddiv"></div>

                <!--div to display pop up for copying role-->
                <div id="DivPartialShareTacticcopy" style="display: none;">
                    <div class="container-fluid all-height DivResetDefaults" id="DivShareTacticPopupMaincopy">
                        <div class="row-fluid calc-height">
                            <div class="span12">

                                <div id="DivAddRolePopupcopy" class="form-inspect-share hide fade in height-auto popup" role="dialog" style="display: block;">

                                    <div style="padding-bottom: 20px;" class="login-wrapper">
                                        <h2 class="primary-title source-sans-proregular without-text-shadow">Copying a role</h2>
                                        <h4 class="source-sans-prolight">Please rename the new role with 
                                            similar permissions as <strong id="original"></strong></h4>@*review point*@
                                        <input type="text" value="" placeholder="Enter new role" name="textfield" maxlength="255" id="copyroledesc" class="input-block-level source-sans-proregular copyroledesc">
                                        <!--error message-->
                                        <div id="errorMessagecopy" class="alert hide alert-error message-position">
                                            <a class="close">×</a>
                                            <strong></strong><span id="spanErrorMessageRolecopy"></span>
                                        </div>
                                        <!--error message-->
                                        <button class="form-inspect-share-button btn btn-large text-shadow-blue default-btn" type="submit" title="Add Role" value="Submit" id="copyrolebtn">Add Role</button>
                                        <button class="cancel-btn btn-link text-shadow-black" type="button" id="cancelbtncopy">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="DivBackgroundShareTacticcopy" class="modal-backdrop fade in" style="z-index: 9999"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var originalid = "";

    $(document).ready(function () {
        if ($('#SuccMsg').val() == null || $('#SuccMsg').val() == '') {
            $("#successMessage").slideUp(400);
        }
        else {
            $("#successMessage").slideDown(1200);
            $("#successMessage").slideUp(3000);
        }
        $("#content_wraper").removeClass("span10 all-height").addClass("span10 padding-top40");//review point
    });

    $('#addrole').click(function () {
        $('.newrole').val('');
        $(".newrole").removeClass("error");
        $('#DivPartialShareTactic').show();
    });

    $('#cancelbtn').click(function () {
        $('#DivPartialShareTactic').hide();
    });

    $('#cancelbtncopy').click(function () {
        $('#DivPartialShareTacticcopy').hide();
    });


    $('.btnCopy').click(function () {
        $('#copyroledesc').val('');
        $(".copyroledesc").removeClass("error");
        var id = $(this).next().val();
        var roleselected = $("#rolelabel" + id).html();
        originalid = $(this).next().val();
        $('#original').html(roleselected + '.');
        $('#DivPartialShareTacticcopy').show();
    });

    function close_popup() {
        $('#DivBackgroundShareTacticcopy').css("display", "none");
        $('#DivPartialShareTacticcopy').css("display", "none");
        $('#DivBackgroundShareTacticcopy').remove();
        $('#DivPartialShareTacticcopy').remove();
        close_messages();
    }


    function close_messages() {
        $('#errorMessagecopy').css("display", "none");
        $('#successMessage').css("display", "none");
    }

    $('#addrolebtn').click(function () {
        $(".newrole").removeClass("error");
        var flag = 0;
        $('.newrole').each(function () {
            if ($(this).val() == "") {
                $(this).addClass("error");
                flag = 1;
            }
        });

        if (flag == 1) {
            var msgspan = "Please enter values in all field.";
            $("#errorMessage").css("display", "block");
            $("#spanErrorMessageRole").text(msgspan);
        } else {
            var roledescription = $('#newrole').val();
            if (/[!@@#$%\^&*(){}[\]<>?/|\-]/.test($("#newrole").val())) {
                var msgspan = "Special character are not allowed, try again.";
                $("#errorMessage").css("display", "block");
                $("#newrole").addClass("error");
                $(".input-block-level").removeClass("error");
                $("#spanErrorMessageRole").text(msgspan);//review point
            }
            else {

                $.ajax({
                    url: '@Url.Content("~/Organization/AddRole/")',
                    data: {
                        roledesc: roledescription
                    },
                    type: 'POST',
                    cache: false,
                    success: function (result) {
                        if (result == true) {
                            url = '@Url.Content("~/Organization/Edit")';
                            window.location.href = url + "?roleId=" + '@emptyGuidId';
                        }
                        else {
                            var msgspan = "A role with the same name already exists.";;
                            $("#errorMessage").css("display", "block");
                            $("#spanErrorMessageRole").text(msgspan);
                        }
                    }
                });
            }
        }
        return false;
    });


    $('#copyrolebtn').click(function () {

        var copyroledescription = $('#copyroledesc').val();

        $(".copyroledesc").removeClass("error");
        var flag = 0;
        $('.copyroledesc').each(function () {
            if ($(this).val() == "") {
                $(this).addClass("error");
                flag = 1;
            }
        });

        if (flag == 1) {
            var msgspan = "Please enter values in all field.";
            $("#errorMessagecopy").css("display", "block");
            $("#spanErrorMessageRolecopy").text(msgspan);
        } else {
            if (/[!@@#$%\^&*(){}[\]<>?/|\-]/.test($("#copyroledesc").val())) {
                var msgspan = "Special character are not allowed, try again.";
                $("#errorMessagecopy").css("display", "block");
                $("#copyroledesc").addClass("error");
                $(".input-block-level").removeClass("error");
                $("#spanErrorMessageRolecopy").text(msgspan);//review point
            }
            else {

                $.ajax({
                    url: '@Url.Content("~/Organization/CopyRole/")',
                data: {
                    copyroledesc: copyroledescription,
                    originalroleid: originalid
                },
                type: 'POST',
                cache: false,
                success: function (result) {
                    if (result == true) {
                        $('#copyroledesc').val(' ');
                        var url = '';
                        url = '@Url.Content("~/Organization/ManageRoles")';
                        window.location.href = url;
                    }
                    else {
                        var msgspan = "A role with the same name already exists.";;
                        $("#errorMessagecopy").css("display", "block");
                        $("#spanErrorMessageRolecopy").text(msgspan);
                    }
                }
            });
        }
    }
    return false;
});


$('#aIntegrations').click(function () {
    var url = '';
    url = '@Url.Content("~/ExternalService/Index")';
        window.location.href = url;
    });


    $('#aMyProfile').click(function () {
        var url = '';
        url = '@Url.Action("Edit", "User", new { usrid = Sessions.User.UserId, src = "myaccount" })';
    window.location.href = url;
});

$('.btnEdit').click(function () {
    var id = $(this).next().val(); @*<!--this is used to pass values like to know the id of clicked row like selected value in combobox*@
    var url = '@Url.Content("~/Organization/Edit/")';
    window.location.href = url + "?roleId=" + id;
});

$('.delete-temp-program').click(function () {
    var id = $(this).children().val();
    var roleselected = $("#rolelabel" + id).html();
    var url = '@Url.Content("~/Organization/Delete/")';
        //how to load partial view....
        $("#loaddiv").load(url + "?roleId=" + id, "&selectedrole=" + roleselected);
    });
</script>

