@model IEnumerable<RevenuePlanner.Models.RoleModel>
@using RevenuePlanner.BDSService;
@using RevenuePlanner.Helpers;

@{
    ViewBag.Title = "Manage Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var emptyGuidId = Guid.Empty;
    string varUrl = Url.Action("vieweditpermission", "Organization");
    string ViewPermissionURL = varUrl + "?Id=" + Sessions.User.UserId + "&Mode=MyPermission";
    ViewBag.ActiveMenu = RevenuePlanner.Helpers.Enums.ActiveMenu.Pref;
    ViewBag.PageTitle = "ManageRole";////Added by Mitesh Vaishnav on 10-07-2014 for functional review point 49
   ViewBag.ModuleTitle = "Organization";////Added by Mitesh Vaishnav on 10-07-2014 for functional review point 49
}


@Html.Hidden("SuccMsg", TempData["SuccessMessage"])

@section Sidebar {
    @Html.Partial("~/Views/shared/_preferences.cshtml")
}
<!--success message-->
<div id="successMessage" class="alert hide alert-success message-position">
    <a class="close">×</a>
    <div id="cSuccess"><strong>Success.</strong> @Html.Raw(HttpUtility.HtmlDecode((string)TempData["SuccessMessage"]))</div>
</div>

<ul class="nav nav-tabs">
    <li class="source-sans-proregular">
        <h2 class="title-header">Organization</h2>
    </li>
</ul>

<div class="padding-content cf source-sans-proregular" id="content" style="padding-bottom: 0px !important">
    <div class="row">
        <div id="internalLink" class="span2 myaccount-colum">
             @Html.Partial("~/Views/Organization/_organization.cshtml")
        </div>

        <div class="span9">

            <div class="manage-roles">
                <h4>Manage Roles</h4>

                <div>
                    <span class="btn-group">
                        <button class="btn btn-blue btn-primary source-sans-proregular add-role-icon" title="Add a Role" id="addrole"><span></span>Add a Role</button>
                    </span>
                </div>

                <table class="user-roles">
                    @foreach (var item in Model)
                    {
                        var id = "rolelabel" + item.RoleId;

                        <tr>
                            <td id="@id" width="200">@item.RoleTitle</td>@*review point*@
                            <td width="100">
                                <span class="btn-group">
                                    <button class="btn btn-grey btn-primary without-text-shadow source-sans-prolight btnEdit" title="View/Edit" id="editbtn">View/Edit</button>
                                    <input type="hidden"  value="@item.RoleId" />
                                    <!--this is used to bind values like to know the id of clicked row like selected value in combobox.-->
                                </span>
                            </td>
                            <td>
                                <span class="btn-group">
                                    <button class="btn btn-grey btn-primary without-text-shadow source-sans-prolight btnCopy" title="Duplicate" id="copybtn">Duplicate</button>
                                    <input type="hidden"  value="@item.RoleId" />
                                </span>
                            </td>
                            <td><span class="delete-temp-program" title="Delete" id="delete">
                                <input type="hidden"  value="@item.RoleId" /></span></td>
                        </tr>
                    }
                </table>


            </div>
        </div>
        <!--div to display pop up for add role-->
        <div id="DivPartialShareTactic" style="display: none;">
            <div class="all-height DivResetDefaults" id="DivShareTacticPopupMain">
                <div class="calc-height">
                    <div class="span12">

                        <div id="DivAddRolePopup" class="form-inspect-share hide fade in height-auto popup" role="dialog" style="display: block;">

                            <div style="padding-bottom: 20px;" class="login-wrapper">
                                <h2 class="primary-title source-sans-proregular without-text-shadow">Adding a new role</h2>
                                <h4 class="source-sans-prolight">Please enter the name of the role.</h4>@*review point*@
                                <input type="text" value="" placeholder="Enter new role" name="textfield" maxlength="255" id="newrole" class="input-block-level source-sans-proregular newrole">
                                <!--error message-->
                                <div id="errorMessage" class="alert hide alert-error message-position">
                                    <a class="close">×</a>
                                    <strong></strong><span id="spanErrorMessageRole"></span>
                                </div>
                                <!--error message-->
                                <button class="form-inspect-share-button btn btn-large text-shadow-blue default-btn" type="submit" value="Submit" title="Add Role" id="addrolebtn">Add Role</button>
                                <button class="cancel-btn btn-link text-shadow-black" type="button" id="cancelbtn">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="DivBackgroundShareTactic" class="modal-backdrop fade in" style="z-index: 9999"></div>
        </div>

        <!--div to load partialview for delete role-->
        <div id="loaddiv"></div>

        <!--div to display pop up for copying role-->
        <div id="DivPartialShareTacticcopy" style="display: none;">
            <div class="all-height DivResetDefaults" id="DivShareTacticPopupMaincopy">
                <div class="calc-height">
                    <div class="span12">

                        <div id="DivAddRolePopupcopy" class="form-inspect-share hide fade in height-auto popup" role="dialog" style="display: block;">

                            <div style="padding-bottom: 20px;" class="login-wrapper">
                                <h2 class="primary-title source-sans-proregular without-text-shadow">Copying a role</h2>
                                <h4 class="source-sans-prolight">Please rename the new role with 
                                            similar permissions as <strong id="original"></strong></h4>@*review point*@
                                <input type="text" value="" placeholder="Enter new role" name="textfield" maxlength="255" id="copyroledesc" class="input-block-level source-sans-proregular copyroledesc">
                                <!--error message-->
                                <div id="errorMessagecopy" class="alert hide alert-error message-position">
                                    <a class="close">×</a>
                                    <strong></strong><span id="spanErrorMessageRolecopy"></span>
                                </div>
                                <!--error message-->
                                <button class="form-inspect-share-button btn btn-large text-shadow-blue default-btn" type="submit" title="Add Role" value="Submit" id="copyrolebtn">Add Role</button>
                                <button class="cancel-btn btn-link text-shadow-black" type="button" id="cancelbtncopy">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="DivBackgroundShareTacticcopy" class="modal-backdrop fade in" style="z-index: 9999"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var originalid = "";

    $(document).ready(function () {
        if ($('#SuccMsg').val() == null || $('#SuccMsg').val() == '') {
            $("#successMessage").slideUp(400);
        }
        else {
            $("#successMessage").slideDown(1200);
        }
        $("#content_wraper").removeClass("span10 all-height").addClass("span10 padding-top40");//review point
    });

    $('#addrole').click(function () {
        $('.newrole').val('');
        $(".newrole").removeClass("error");
        $('#errorMessage').css("display", "none");
        $('#DivPartialShareTactic').show();
        $('#newrole').focus();//uday functional review point
    });

    $('#cancelbtn').click(function () {
        $('#DivPartialShareTactic').hide();
    });

    $('#cancelbtncopy').click(function () {
        $('#DivPartialShareTacticcopy').hide();
    });


    $('.btnCopy').click(function () {
        $('#copyroledesc').val('');
        $(".copyroledesc").removeClass("error");
        $('#errorMessagecopy').css("display", "none");
        var id = $(this).next().val();
        var roleselected = $("#rolelabel" + id).html();
        originalid = $(this).next().val();
        $('#original').html(roleselected + '.');
        $('#DivPartialShareTacticcopy').show();
        $('#copyroledesc').focus();//uday functional review point
    });

    function close_popup() {
        $('#DivBackgroundShareTacticcopy').css("display", "none");
        $('#DivPartialShareTacticcopy').css("display", "none");
        $('#DivBackgroundShareTacticcopy').remove();
        $('#DivPartialShareTacticcopy').remove();
        close_messages();
    }


    function close_messages() {
        $('#errorMessagecopy').css("display", "none");
        $('#successMessage').css("display", "none");
    }

    $('#addrolebtn').click(function () {
        $(".newrole").removeClass("error");
        var flag = 0;
        $('.newrole').each(function () {
            if ($(this).val() == "") {
                $(this).addClass("error");
                flag = 1;
            }
            else if (CheckHtmlTag($(this).val()) == false) {
                $(this).addClass("error");
                flag = 2;
                return false;

            }
        });

        if (flag != 0) {
            var msgspan = "";

            if (flag == 1)
                msgspan = "@Common.objCached.ValidateEnteredField";
            else if (flag == 2)
                msgspan = "@Common.objCached.TitleContainHTMLString";

            $("#errorMessage").css("display", "block");
            $("#spanErrorMessageRole").text(msgspan);
        } else {
            var roledescription =$('#newrole').val();
                $.ajax({
                    url: '@Url.Content("~/Organization/AddRole/")',
                    data: {
                        roledesc: roledescription
                    },
                    type: 'POST',
                    cache: false,
                    success: function (result) {
                    if (result.serviceUnavailable != 'undefined' && result.serviceUnavailable == '#') {
                        //// Function to redirect to login page on unavailability of web service.
                        //// Added By: Maninder Singh Wadhva on 11/24/2014.
                        //// Ticket: 942 Exception handeling in Gameplan.
                        window.location = '@Url.Content(Common.RedirectOnServiceUnavailibilityPage)';
                    }
                    else {
                        if (result == true) {
                            url = '@Url.Content("~/Organization/RoleEdit")';//name change by uday for functional review point...3-7-2014
                            window.location.href = url + "?roleId=" + '@emptyGuidId';
                        }
                        else {
                            var msgspan = "@Common.objCached.RoleAlreadyExits";;
                            $("#errorMessage").css("display", "block");
                            $("#spanErrorMessageRole").text(msgspan);
                        }
                    }
                }
                });

        }
        return false;
    });


    $('#copyrolebtn').click(function () {

         var copyroledescription = $('#copyroledesc').val();

        $(".copyroledesc").removeClass("error");
        var flag = 0;
        $('.copyroledesc').each(function () {
            if ($(this).val() == "") {
                $(this).addClass("error");
                flag = 1;
            }
        });

        if (flag == 1) {
            var msgspan = "@Common.objCached.ValidateEnteredField";
            $("#errorMessagecopy").css("display", "block");
            $("#spanErrorMessageRolecopy").text(msgspan);
        }
        else {
            var uId = $(window).attr('name');       // Added by Sohel Pathan on 11/07/2014 for Internal Functional Review Points #53 to implement user session check
                $.ajax({
                    url: '@Url.Content("~/Organization/CopyRole/")',
                    data: {
                        copyroledesc:copyroledescription,
                        originalroleid: originalid,
                        LoginId: uId        // Added by Sohel Pathan on 11/07/2014 for Internal Functional Review Points #53 to implement user session check 
                    },
                    type: 'POST',
                    cache: false,
                    success: function (result) {
                    // Start - Added by Sohel Pathan on 11/07/2014 for Internal Functional Review Points #53 to implement user session check
                    if (result.returnURL != 'undefined' && result.returnURL == '#') {
                        window.location = '@Url.Content("~/Login/Index")';
                    }
                    else if (result.serviceUnavailable != 'undefined' && result.serviceUnavailable == '#') {
                        //// Function to redirect to login page on unavailability of web service.
                        //// Added By: Maninder Singh Wadhva on 11/24/2014.
                        //// Ticket: 942 Exception handeling in Gameplan.
                        window.location = '@Url.Content(Common.RedirectOnServiceUnavailibilityPage)';
                    }
                    else {
                    // End - Added by Sohel Pathan on 11/07/2014 for Internal Functional Review Points #53  to implement user session check
                        if (result.status == true) {
                            $('#copyroledesc').val(' ');
                            var url = '';
                            url = '@Url.Content("~/Organization/ManageRoles")';
                            window.location.href = url;
                        }
                        else {
                            var msgspan = "@Common.objCached.RoleAlreadyExits";;
                            $("#errorMessagecopy").css("display", "block");
                            $("#spanErrorMessageRolecopy").text(msgspan);
                        }
                    }
                }
            });
        }
        return false;
    });

    $('.btnEdit').click(function () {
        var id = $(this).next().val(); @*<!--this is used to pass values like to know the id of clicked row like selected value in combobox*@
        var url = '@Url.Content("~/Organization/RoleEdit/")';//name change by uday for functional review point...3-7-2014
    window.location.href = url + "?roleId=" + id;
});

$('.delete-temp-program').click(function () {
    $('#errorMessagedel').css("display", "none");
    $('.selectBox').removeClass("error");//added by uday for functional review point...3-7-2014
    var id = $(this).children().val();
    var roleselected = $("#rolelabel" + id).html();
    var url = '@Url.Content("~/Organization/RoleDelete/")';//name change by uday for functional review point...3-7-2014
        //how to load partial view....
        $("#loaddiv").load(url + "?roleId=" + id, "&selectedrole=" + roleselected, function (response, status, xhr) {
            if (response == '{"serviceUnavailable":"~/Login/ServiceUnavailable"}') {
                //// Call function to redirect on service unavailibility.
                //// Added By: Maninder Singh Wadhva on 11/24/2014.
                //// Ticket: 942 Exception handeling in Gameplan.
                window.location = '@Url.Content(Common.RedirectOnServiceUnavailibilityPage)';
            }
        });
    });
</script>

