@using RevenuePlanner.Helpers

<link href="@Url.Content("~/Content/css/jquery.treeview.css")" rel="stylesheet">
<script src="@Url.Content("~/Scripts/jquery.cookie.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.treeview.js")"></script>

@{
    ViewBag.Title = "Organization Hierarchy";
    ViewBag.ActiveMenu = RevenuePlanner.Helpers.Enums.ActiveMenu.Pref;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var UserHierarchy = (List<RevenuePlanner.Models.UserHierarchyModel>)ViewBag.UserHierarchy;
    string varUrlnew = Url.Action("vieweditpermission", "Organization");
    string ViewPermissionURL = varUrlnew + "?UserGuid=" + Sessions.User.UserId + "&Mode=MyPermission";
    ViewBag.PageTitle = "OrganizationHierarchy";////Added by Mitesh Vaishnav on 10-07-2014 for functional review point 49
    ViewBag.ModuleTitle = "Organization";////Added by Mitesh Vaishnav on 10-07-2014 for functional review point 49

}

@Html.Hidden("SuccMsg", TempData["SuccessMessage"])
@Html.Hidden("ErrMsg", TempData["ErrorMessage"])

@section Sidebar {
    @Html.Partial("~/Views/shared/_preferences.cshtml")
}

@* Added by Rahul Shah on 04/09/2015 for PL Ticket #1112*@
@if (TempData["SuccessMessage"] != null)
{
    if (!Convert.ToString(TempData["SuccessMessage"]).ToLower().Contains("model"))
    {
        <!--success message-->
        <div id="successMessage" class="alert hide alert-success message-position">
            <a class="close">×</a>
            <strong>Success.</strong> @Html.Raw(HttpUtility.HtmlDecode((string)TempData["SuccessMessage"]))
        </div>
        <!--success message-->
        TempData["SuccessMessage"] = "";
    }
}




<!--success message-->
<div id="successMessage" class="alert hide alert-success message-position">
    <a class="close">×</a>
    <strong>Success.</strong> @Html.Raw(HttpUtility.HtmlDecode((string)TempData["SuccessMessage"]))
</div>
<!--success message-->
<!--error message-->
<div id="errorMessage" class="alert hide alert-error message-position">
    <a class="close">×</a>
    <strong>Error!</strong> @Html.Raw(HttpUtility.HtmlDecode((string)TempData["ErrorMessage"]))
</div>
<!--error message-->
@*Commented by Rahul Shah on 03/09/2015 fo PL Ticket #1112*@
@*<ul class="nav nav-tabs">
        <li class="source-sans-proregular">
            <h2 class="title-header">Organization</h2>
        </li>
    </ul>*@
@*Added by Rahul Shah on 03/09/2015 fo PL Ticket #1112*@
<div id="hdrOrganization">
    @*<ul class="nav nav-tabs">
        <li class="source-sans-proregular">
            <h2 class="title-header">Organization</h2>
        </li>
    </ul>*@
    <div class="title-header source-sans-proregular margin-bottom25">
        <h2>Organization</h2>
    </div> @*#2312*@
</div>

<div id="hdrEditUser" style="display: none;">
    @*<ul class="nav nav-tabs margin-bottom0">
        <li class="source-sans-proregular">
            <h2 class="title-header">Edit User</h2>
        </li>
    </ul>*@
    <div class="title-header source-sans-proregular margin-bottom25">
        <h2>Edit User</h2>
    </div> @*#2312*@
    <a class="link-gray" href="@Url.Action("OrganizationHierarchy", "Organization")">« BACK TO LIST</a>
</div>

<div class="row" id="dvEditUser" style="display: none;">
    <div class="span2 content-colum-left content-img-user">
        <div id="dvUserImage"></div>
    </div>
    <div id="dvEditUserDetails"></div>
</div>

<div class="padding-content cf source-sans-proregular" id="content">
    <div class="row">
        <div id="internalLink" class="span2 myaccount-colum"> @*/* Class Edited for #2219 - Bhumika */*@
            @Html.Partial("~/Views/Organization/_organization.cshtml")
        </div>
        <div class="span9 hierarchy_wrapper">@*Modified by Bheru Shah on 14/09/2015 for PL #1596*@

            <ul id="treeView">
                <li>
                    <span>@Sessions.User.Client</span>
                    <ul>
                        @{
                            for (int i = 0; i < UserHierarchy.Count; i++)
                            {
                                var userId = UserHierarchy[i].UserGuid;
                                var intuserId = UserHierarchy[i].UserId;
                                var userLabelId = "spnUserName" + intuserId;
                                var hdnEmailId = "hdnEmail" + intuserId;
                                var hdnPhoneId = "hdnPhone" + intuserId;
                                var hdnJobTitleId = "hdnJobTitle" + intuserId;
                                var stringClass = string.Empty;
                                if (UserHierarchy[i].subUsers.Count == 0)
                                {
                                    stringClass = "no-nesting";
                                }

                                string varUrl = Url.Action("vieweditpermission", "Organization");
                                string EditURL = varUrl + "?UserGuid=" + UserHierarchy[i].UserGuid + "&Mode=Edit";
                                string ViewURL = varUrl + "?UserGuid=" + UserHierarchy[i].UserGuid + "&Mode=View";

                                <li class="@stringClass">
                                    @if (UserHierarchy[i].subUsers.Count == 0)
                                    {
                                        <span class="hitarea"></span>
                                    }
                                    @*<span id="@userLabelId">@UserHierarchy[i].FirstName @UserHierarchy[i].LastName</span>*@ @*Commented by Rahul Shah on 03/09/2015 fo PL Ticket #1112*@
                                    <input id="@userLabelId" type="hidden" value="@UserHierarchy[i].FirstName @UserHierarchy[i].LastName" /> @*Added By Maitri Gandhi for #2147 observations on 2/5/2016*@
                                    <span id="@userId" class="treeview hover" style="text-decoration:underline">@UserHierarchy[i].FirstName @UserHierarchy[i].LastName</span> @*Added by Rahul Shah on 03/09/2015 fo PL Ticket #1112*@


                                    <span class="job-role" style="background-color:@UserHierarchy[i].ColorCode">@UserHierarchy[i].RoleTitle</span>
                                    @if ((bool)ViewBag.IsUserAdminAuthorized)
                                    {
                                        <a class="btn btn-default" href='@EditURL'>Edit</a>
                                    }
                                    <a class="btn btn-default" href='@ViewURL'>View</a>
                                    <a class="btn btn-default" onclick="showContactDetail('@intuserId');">Contact</a>
                                    <input type="hidden" id="@hdnEmailId" value="@UserHierarchy[i].Email" />
                                    <input type="hidden" id="@hdnPhoneId" value="@UserHierarchy[i].Phone" />
                                    <input type="hidden" id="@hdnJobTitleId" value="@UserHierarchy[i].JobTitle" />
                                    @{
                                if (UserHierarchy[i].subUsers.Count > 0)
                                {
                                    <ul>
                                        @for (int j = 0; j < UserHierarchy[i].subUsers.Count; j++)
                                        {
                                            Html.RenderPartial("_userHierarchy", UserHierarchy[i].subUsers[j]);
                                        }
                                    </ul>
                                }
                                    }

                                </li>
                            }
                        }
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div hidden="true" style="margin-top: 80px;" class="modal-inspect-review-small hide" id="modal-container-186470">
    <div id="divPartial">
        <button data-dismiss="modal" class="close-x-icon"></button> @*Modified by Bhumika #2003 from "buttom" to "button"  *@
    </div>
    <div class="source-sans-proregular">
        <h2 id="lblUserName" class="title-simple source-sans-prolight"></h2>
        <p id="lblJobDetail"></p>
        <p><strong>Email: </strong><a id="lblEmail"></a></p>
        <p id="lblPhone"></p>
    </div>
</div>
<div class="modal-backdrop hide fade in"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#content_wraper").removeClass("span10 all-height").addClass("span10 padding-top40");

        $("#treeView").treeview({
            /*animated: "fast",*/
            collapsed: false,
            //persist: "cookie",
            toggle: function () {
                window.console && console.log("%o was toggled", this);
            }
        });

        $('.treeview li > ul li li').wrapInner("<span />");
        $('.treeview li > ul li ul > li:first-child').addClass("first");

        $(".close-x-icon").click(function () {
            hideContactDetail();
        });

        if ($('#SuccMsg').val() == null || $('#SuccMsg').val() == '') {
            $("#successMessage").slideUp(400);
        }
        else {
            $("#successMessage").slideDown(1200);
        }
        if ($('#ErrMsg').val() == null || $('#ErrMsg').val() == '') {
            $("#errorMessage").slideUp(400);
        }
        else {
            $("#errorMessage").slideDown(400);
            $("html, body").animate({ scrollTop: 0 }, 1000);
        }


    });

    function showContactDetail(userId) {
        @*Added By Maitri Gandhi for #2147 observations on 2/5/2016*@
        $("#lblUserName").text($("#spnUserName" + userId).val());  @*Modified By Maitri Gandhi for #2147 on 29/4/2016*@
        $("#lblJobDetail").text($("#hdnJobTitle" + userId).val());
        $("#lblEmail").attr("href", "mailto:" + $("#hdnEmail" + userId).val());
        $("#lblEmail").html($("#hdnEmail" + userId).val());
        $("#lblPhone").html("<strong>Phone: </strong>" + $("#hdnPhone" + userId).val());


        $("#modal-container-186470").show();
        $(".modal-backdrop").show();
    }

    function hideContactDetail() {
        $("#modal-container-186470").hide();
        $(".modal-backdrop").hide();
    }
    //Added by Rahul Shah on 03/09/2015 fo PL Ticket #1112

    function OnTeamMemberClick(userid) {
        $('#SuccMsg').val('');
        $('#ErrMsg').val('');
        $("#successMessage").slideUp(1);
        $("#errorMessage").slideUp(1);
        $.ajax({
            url: '@Url.Content("~/user/EditUserDetails")', type: "GET",
            data: { UserGuid: userid, src: 'myteam' },
            async: false,
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                if (data != null && data != 'undefined') {

                    if (data.serviceUnavailable != 'undefined' && data.serviceUnavailable == '#') {
                        //// Function to redirect to login page on unavailability of web service.
                        //// Added By: Maninder Singh Wadhva on 11/24/2014.
                        //// Ticket: 942 Exception handeling in Gameplan.
                        window.location = '@Url.Content(Common.RedirectOnServiceUnavailibilityPage)';
                    }
                    else if (data.redirectto != 'undefined' && data.redirectto == 'organization') {
                        window.location = '@Url.Content("~/Organization/OrganizationHierarchy")';
                    }
                    else if (data.redirectto != 'undefined' && data.redirectto == 'index') {
                        window.location = '@Url.Content("~/User/Index")';
                    }
                    else {
                        $("#content").css('display', 'none');
                        $("#hdrOrganization").css('display', 'none');
                        $("#hdrEditUser").css('display', 'block');
                        $("#dvEditUser").css('display', 'block');
                        $("#dvEditUserDetails").html(data);
                        LoadUserImage(userid);
                    }
                }
            }
        });
    }
    //Added by Rahul Shah on 03/09/2015 fo PL Ticket #1112
    function LoadUserImage(userid) {
        $.ajax({
            url: '@Url.Content("~/user/LoadUserImage")', type: "GET",
            data: { userGuid: userid, width: 60, height: 60, src: 'myteam' },
            async: false,
            cache: false,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data != null && data != 'undefined') {
                    if (data.serviceUnavailable != 'undefined' && data.serviceUnavailable == '#') {
                        //// Function to redirect to login page on unavailability of web service.
                        //// Added By: Maninder Singh Wadhva on 11/24/2014.
                        //// Ticket: 942 Exception handeling in Gameplan.
                        window.location = '@Url.Content(Common.RedirectOnServiceUnavailibilityPage)';
                    }
                    else {
                        var imag = "<img  alt=''"
                         + "src='" + "data:image/jpg;base64,"
                         + data.base64imgage + "' class='img-user' style='height:140px; width:140px;'/>";
                        $("#dvUserImage").html(imag);
                    }
                }
            }
        });
    }
    //Added by Rahul Shah on 03/09/2015 fo PL Ticket #1112
    $(".treeview").click(function () {

        OnTeamMemberClick($(this).attr('Id'));

    });
</script>
