@using RevenuePlanner.BDSService;
@using RevenuePlanner.Helpers;
@{
    ViewBag.Title = "Edit Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var current = ViewBag.current;
    var lstActivity = ViewData["activitylist"] == null ? new List<ApplicationActivity>() : (List<ApplicationActivity>)ViewData["activitylist"];
    var lstpermission = ViewData["permissionlist"] == null ? new List<ApplicationActivity>() : (List<ApplicationActivity>)ViewData["permissionlist"];
    string varUrl = Url.Action("vieweditpermission", "Organization");
    string ViewPermissionURL = varUrl + "?Id=" + Sessions.User.UserId + "&Mode=MyPermission";
    ViewBag.ActiveMenu = RevenuePlanner.Helpers.Enums.ActiveMenu.Pref;
    ViewBag.PageTitle = "ManageRole";
    ViewBag.ModuleTitle = "Organization";
}

@section nlFormContent{
     <link rel="stylesheet" href="@Url.Content("~/Content/css/NaturalLanguageForm/default.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/NaturalLanguageForm/component.css")" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/NaturalLanguageForm/modernizr.custom.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/NaturalLanguageForm/nlform.js?n=")@DateTime.Now"></script>

}
@section Sidebar {
    @Html.Partial("~/Views/shared/_preferences.cshtml")
}

<!--success message-->
<div id="successMessage" class="alert hide alert-success message-position">
    <a class="close">×</a>
    <strong>Success.</strong><span id="spanSuccessMessageRole"></span>
</div>
<!--success message-->
<!--error message-->
<div id="errorMessage" class="alert hide alert-error message-position">
    <a class="close">×</a>
    <strong>Error! </strong><span id="spanErrorMessageRole"></span>
</div>
<!--error message-->

@*<ul class="nav nav-tabs">
    <li class="source-sans-proregular">
        <h2 class="title-header">Organization</h2>
    </li>
</ul>*@ @*#2312*@
<div class="title-header source-sans-proregular margin-bottom25">
    <h2>Organization</h2>
</div> @*#2312*@

<div class="padding-content cf source-sans-proregular" id="content" style="padding-bottom: 0px !important">
    <div class="row">
        <div id="internalLink" class="span2 myaccount-colum">
            @Html.Partial("~/Views/Organization/_organization.cshtml")
        </div>

        <div class="span9">

            <div class="manage-roles">
                <h4>Default Role Permissions</h4>
                <!-- Manage Roles Header -->
                <div class="manage-roles-header clearfix">
                    <div class="pull-left">
                        <div id="nl-form" class="nl-form-plan-title without-margin">

                            @Html.DropDownList("ddlRoles", new SelectList((System.Collections.IEnumerable)TempData["RoleList"], "Value", "Text"), (string)ViewBag.Current, new { require = "true", @class="hide" })
                            <div class="nl-overlay"></div>
                        </div>
                        <script>
                            var nlform = new NLForm(document.getElementById('nl-form'));
                        </script>
                    </div>
                    <div class="pull-right">
                        <div class="colorPicker">
                            <label>Pick a Color:</label>
                            <div class="color-box">
                                <span class="color-id"></span>
                                <span class="caret-black"></span>
                                <div class="color-theme">
                                    <span class="color-theme-box box1" data-id="#3fa9f5"></span>
                                    <span class="color-theme-box box2" data-id="#144d6b"></span>
                                    <span class="color-theme-box box3" data-id="#d4d4d4"></span>
                                    <span class="color-theme-box box4" data-id="#3f3f3f"></span>
                                    <span class="color-theme-box box5" data-id="#7ac943"></span>
                                    <span class="color-theme-box box6" data-id="#407b22"></span>
                                    <span class="color-theme-box box7" data-id="#f0be29"></span>
                                    <span class="color-theme-box box8" data-id="#ff931e"></span>
                                    <span class="color-theme-box box9" data-id="#e34522"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- -->
                <div class="table-manage-roles">
                    <table width="100%" class="source-sans-proregular">
                        @foreach (var item in lstActivity)
                        {
                            if (item.ParentId == Convert.ToInt32(0))
                            {            
                            <tr>
                                <td colspan="2" class="permissionType">@item.ActivityTitle</td>
                            </tr>
                            }
                            else
                            {
                            <tr>
                                <td>@Html.Raw(item.ActivityTitle)</td>
                                <td width="23">
                                    @if (lstpermission.Where(l => l.ApplicationActivityId == item.ApplicationActivityId).SingleOrDefault() != null)
                                    {                                  
                                        <span class="check_signup_checkbox">
                                            <input type="checkbox" name="checkbox" id="checkbox_@item.ApplicationActivityId" checked="checked">
                                        </span>                                                                 
                                    }
                                    else
                                    {
                                        <span class="check_signup_checkbox">
                                            <input type="checkbox" name="checkbox" id="checkbox_@item.ApplicationActivityId">
                                        </span>
                                    }
                                </td>
                            </tr>                          
                            }
                        }
                    </table>
                </div>
                <div class="bottom-btns margin-bottom-20">
                    <span class="btn-group">
                        <button class="btn btn-blue btn-large without-text-shadow source-sans-proregular" type="submit" value="Submit" id="savebtn">Save &amp; Close</button>
                    </span>
                    <span class="btn-group">
                        <button class="btn btn-grey text-shadow-white source-sans-proregular" id="backbtn">Back</button>
                    </span>
                </div>
            </div>

            <div id="DivPartialShareTacticDel" style="display: none;">
                <div class="all-height DivResetDefaults" id="DivShareTacticPopupMainDel">
                    <div class="calc-height">
                        <div class="span12">
                            <div id="DivDefaultRolePopup" class="form-inspect-share hide fade in height-auto" role="dialog" style="display: block;">
                                <div style="padding-bottom: 20px;" class="login-wrapper">
                                    <h4 class="source-sans-prosemibold">Role Permissions Saved.</h4>
                                    <button class="form-inspect-share-button btn btn-large text-shadow-blue default-btn" type="submit" value="Submit" id="closebtn">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="DivBackgroundShareTacticDel" class="modal-backdrop fade in" style="z-index: 9999"></div>
            </div>
            <!--div to load partialview for delete role-->
            <div id="loaddiv"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/js/check.js"></script>
<script type="text/javascript">
    var colorCode = "#3fa9f5";
    var selectedRoleId;
    var globalids = [];
    var globaldeleteids = [];//new
    $(document).ready(function () {
        $(".check_signup_checkbox").dgStyle();

        $('.caret-black').click(function () {
            $('.color-theme').fadeToggle(150);
        });

        $('.color-theme-box').click(function () {
            colorCode = $(this).attr('data-id')
            $('.color-id').css('background-color', colorCode);
            $('.color-theme').fadeOut(150);
        });


        //selected change event
        $('#nl-form > div[class="nl-field nl-dd"]').find('li').click(function () {
            var originalvalue = $(this).attr('originalvalue');
            var selectedRoleId = "";
            $('#ddlRoles').find('option').each(function (index) {
                if ($(this).text() == originalvalue) {
                    selectedRoleId = $(this).val();
                }
            });
            if (selectedRoleId != "") {
                var url = '@Url.Content("~/Organization/RoleEdit/")';//namechange
                window.location.href = url + "?roleId=" + selectedRoleId;
            }
        });


        $("#content_wraper").removeClass("span10 all-height").addClass("span10 padding-top40");

        var roleid = '@ViewBag.roleid';
        var title = '@ViewBag.current';
        var coloredit = '@ViewBag.colorcode';
        if (roleid != '@Guid.Empty') {//changed by uday for functional review point...3-7-2014
            $('.color-id').css('background-color', coloredit);//to set color while edit mode
            colorCode = coloredit;
            $('.nl-dd-checked').attr('value', roleid.toString());//review point
        }
        //Commented by Rahul Shah on 17/02/2015 for PL #1973. its not working on function calling
        //function ShowError(value) {
        //    $("#errorMessage").slideDown(400);
        //    $("html, body").animate({ scrollTop: 0 }, 1000);//to scroll the body to top automatically..dd
        //    $("#spanErrorMessageRole").empty();
        //    $("#spanErrorMessageRole").text(value);
        //    return false;
        //}

     
        $('#delbtn').click(function () {
            $('#DivPartialShareTacticDel').hide();
        });

    });
    //Added by Rahul Shah on 17/02/2015 for PL #1973. display error message when Click on Save & Close button without checking any checkbox.
    function ShowError(value) {
        $("#errorMessage").slideDown(400);
        $("html, body").animate({ scrollTop: 0 }, 1000);//to scroll the body to top automatically..dd
        $("#spanErrorMessageRole").empty();
        $("#spanErrorMessageRole").text(value);
        return false;
    }

    function close_popup() {
        $('#DivBackgroundShareTacticDel').css("display", "none");
        $('#DivPartialShareTacticDel').css("display", "none");
        $('#DivBackgroundShareTacticDel').remove();
        $('#DivPartialShareTacticDel').remove();
        close_messages();
    }

    function close_messages() {
        $('#errorMessage').css("display", "none");
        $('#successMessage').css("display", "none");
    }

    $('#savebtn').click(function () {
        var checked = [];
        var ids = [];
        globalids = [];
        $('.source-sans-proregular tr').each(function () {
            $(this).find('input:checkbox').each(function () {
                if ($(this).is(':checked') == true) {
                    ids.push(this.id + '_true');
                }
                else {
                    ids.push(this.id + '_false');
                }
            });
        });
        globalids = ids;
        //validation
        if (ids.toString() != null && ids.toString() != "") {
            var truecheck = [];
            var count = 0;
            var str = String(ids);
            var strsa = str.split(",");
            for (var i = 0; i < strsa.length; i++) {
                var split = [];
                split = strsa[i].split("_");
                if (split[2] == "true") {
                    count++;
                    truecheck.push(split[1]);
                }
                else {
                }
            }
            if (count > 0) {
                //start uday for uncheck other validation                
                var permissions = '@ViewData["permissionids"]';
                    var originalpermissions = [];
                    var match = [];
                    var unmatch = [];
                    if (permissions != '') {

                        var strsa = permissions.split(",");
                        for (var i = 0; i < strsa.length; i++) {
                            originalpermissions.push(strsa[i]);
                        }
                        if (originalpermissions.length > 0) {
                            for (i in originalpermissions) {
                                var ismatch = false;
                                for (j in truecheck) {
                                    if (originalpermissions[i] == truecheck[j]) {
                                        ismatch = true;
                                        break;
                                    }
                                }
                                if (!ismatch) {
                                    unmatch.push(originalpermissions[i].toString());
                                }
                            }
                        }
                    }
                    if (unmatch.length > 0) {
                        globaldeleteids = unmatch;
                        var url = '';
                        url = '@Url.Content("~/Organization/CheckPermission/")';
                        $("#loaddiv").load(url + "?roleId=" + '@ViewBag.roleid' + "&permission=" + unmatch.toString(), function (response, status, xhr) {
                            if (response == '{"serviceUnavailable":"~/Login/ServiceUnavailable"}') {
                                //// Call function to redirect on service unavailibility.
                                //// Added By: Maninder Singh Wadhva on 11/24/2014.
                                //// Ticket: 942 Exception handeling in Gameplan.
                                window.location = '@Url.Content(Common.RedirectOnServiceUnavailibilityPage)';
                            }
                        });

                        return false;
                    }
                    else {
                        saveRoleActivity();
                    }
                    //end
                }
                else {
                    ShowError("@Common.objCached.ValidateRequiredPermission");
                    return false;
                }
            }
        //end validation

    });

    $('#closebtn').click(function () {
        var url = '';
        url = '@Url.Content("~/Organization/ManageRoles")';
            window.location.href = url;
    });//review point


        $('#backbtn').click(function () {
            var url = '';
            url = '@Url.Content("~/Organization/ManageRoles")';
            window.location.href = url;
        });


    function saveRoleActivity() {
        //syntax to get selected text 
        var roledesc = $("#ddlRoles :selected").text();
        var roleid = '@ViewBag.roleid';
    var uId = $(window).attr('name');       // Added by Sohel Pathan on 11/07/2014 for Internal Functional Review Points #53 to implement user session check
    $.ajax({
        url: '@Url.Content("~/Organization/Save/")',
            data: {
                roledesc: roledesc,
                checkbox: globalids.toString(),
                colorcode: colorCode,
                roleid: roleid,
                delpermission: globaldeleteids.toString(),
                LoginId: uId        // Added by Sohel Pathan on 11/07/2014 for Internal Functional Review Points #53 to implement user session check
            },
            type: 'POST',
            cache: false,
            success: function (result) {
                // Start - Added by Sohel Pathan on 11/07/2014 for Internal Functional Review Points #53 to implement user session check
                if (result.returnURL != 'undefined' && result.returnURL == '#') {
                    window.location = '@Url.Content("~/Login/Index")';
            }
            else if (result.serviceUnavailable != 'undefined' && result.serviceUnavailable == '#') {
                //// Function to redirect to login page on unavailability of web service.
                //// Added By: Maninder Singh Wadhva on 11/24/2014.
                //// Ticket: 942 Exception handeling in Gameplan.
                window.location = '@Url.Content(Common.RedirectOnServiceUnavailibilityPage)';
                }
                else {
                    // End - Added by Sohel Pathan on 11/07/2014 for Internal Functional Review Points #53 to implement user session check
                    if (result.status == true) {
                        $('#DivPartialShareTacticCheck').hide();
                        $('#DivPartialShareTacticDel').show();
                    }
                    else {
                        var msgspan = "Error!";
                        $("#errorMessage").css("display", "block");
                        $("#spanErrorMessageRole").text(msgspan);
                    }
                }
            }
        });
    }

</script>
