@model IEnumerable<RevenuePlanner.Models.RoleModel>
@using RevenuePlanner.BDSService;
@using RevenuePlanner.Helpers;
@{
    var lstUsers = ViewData["users"] == null ? new List<User>() : (List<User>)ViewData["users"];
    var selectedroledisplay = ViewData["roleselected"];
   
}
@Html.Hidden("SuccMsg", TempData["SuccessMessage"])
<!--success message-->
<div id="successMessage" class="alert hide alert-success message-position">
    <a class="close">×</a>
    <div id="cSuccess"><strong>Success.</strong> @Html.Raw(HttpUtility.HtmlDecode((string)TempData["SuccessMessage"]))</div>
</div>

<!--div to display pop up for Delete role-->
<div id="DivPartialShareTacticDel">
    <div class="all-height DivResetDefaults" id="DivShareTacticPopupMainDel">
        <div class="calc-height">
            <div class="span12">
                <div id="DivDeleteRolePopup" class="form-inspect-share hide fade in height-auto popup" role="dialog" style="display: block;">
                    <div style="padding-bottom: 20px;" class="login-wrapper">
                        <h2 class="primary-title source-sans-proregular without-text-shadow">Deleting an existing role</h2>
                        <h4 class="source-sans-prolight">You are about to remove the role:</h4>
                        <h4 id="selectedrole" class="source-sans-prosemibold">@selectedroledisplay</h4>
                        @if (lstUsers.Count > 0)//change for validation
                        {
                            <div class="affected-area">
                                <h5 class="source-sans-prosemibold">The users below will be affected:</h5>
                                <div class="affected-list">
                                    <ul class="source-sans-proregular">
                                        @foreach (var item in lstUsers)
                                        {
                                            var displayname = item.LastName + ',' + item.FirstName;
                                            <li>@displayname</li>                           
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="reassign-role">
                                <label class="source-sans-prolight">Reassign a role to these users:</label>
                                <span class="selectBox">
                                    @Html.DropDownList("ddllist", new SelectList((System.Collections.IEnumerable)ViewData["roles"], "value", "text"), "Please Select", new { @class = "hide" })
                                </span>
                            </div>
                            <br />
                             <!--error message-->
                          <div id="errorMessagedel" class="alert hide alert-error message-position">
                          <a class="close">×</a>
                         <strong></strong><span id="spanErrorMessagedel"></span>
                         </div>
                         <!--error message-->
                        }
                        <button class="form-inspect-share-button btn btn-large text-shadow-blue default-btn" type="submit" value="Submit" id="delbtn">Delete Role</button>
                        <button class="cancel-btn btn-link text-shadow-black" type="button" id="delcancelbtn">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="DivBackgroundShareTacticDel" class="modal-backdrop fade in" style="z-index: 9999"></div>
</div>
<script src="~/Scripts/js/Select2/select2.js"></script>
<script type="text/javascript">
    $(".selectBox select").selectbox();
    $('#delcancelbtn').click(function () {
        $('#DivPartialShareTacticDel').hide();
    });


    $(".alert").find(".close").on("click", function (e) {
        e.stopPropagation();
        e.preventDefault();
        $(this).closest(".alert").slideUp(400);
    });

    function close_popup() {
        $('#DivBackgroundShareTacticDel').css("display", "none");
        $('#DivPartialShareTacticDel').css("display", "none");
        $('#DivBackgroundShareTacticDel').remove();
        $('#DivPartialShareTacticDel').remove();
        close_messages();
    }

    function close_messages() {
        $('#errorMessagecopy').css("display", "none");
        $('#successMessagedel').css("display", "none");
    }

    $('#delbtn').click(function () {
        var deleterole = '@ViewData["deleterole"]';
        var reassignrole = $('#ddllist').val();

        if (reassignrole == undefined) {
            reassignrole = '@Guid.Empty';//or else the action match will fail
        }

        var check = '@lstUsers.Count';

        if (parseInt(check) > 0 && reassignrole == "") {
            var msgspan = "@Common.objCached.ValidateRequiredRole";
            $("#errorMessagedel").css("display", "block");
            $('.selectBox').addClass("error");//added by uday for functional review point...3-7-2014
            $("#spanErrorMessagedel").text(msgspan);
            return false;
        }
        else {
            var uId = '@Sessions.User.UserId';   
            var token = $('[name=__RequestVerificationToken]').val();

            $.ajax({
                url: '@Url.Content("~/Organization/DeleteRole/")',
                data: {
                    delroleid: deleterole,
                    reassignroleid: reassignrole,
                    LoginId: uId,        // Added by Sohel Pathan on 11/07/2014 for Internal Functional Review Points #53 to implement user session check
                    __RequestVerificationToken: token
                },
                type: 'POST',
                cache: false,
                success: function (result) {
                    // Start - Added by Sohel Pathan on 11/07/2014 for Internal Functional Review Points #53 to implement user session check
                    if (result.returnURL != 'undefined' && result.returnURL == '#') {
                        window.location = '@Url.Content("~/Login/Index")';
                    }
                    else if (result.serviceUnavailable != 'undefined' && result.serviceUnavailable == '#') {
                        //// Function to redirect to login page on unavailability of web service.
                        //// Added By: Maninder Singh Wadhva on 11/24/2014.
                        //// Ticket: 942 Exception handeling in Gameplan.
                        window.location = '@Url.Content(Common.RedirectOnServiceUnavailibilityPage)';
                    }
                    else {
                    // End - Added by Sohel Pathan on 11/07/2014 for Internal Functional Review Points #53 to implement user session check
                        if (result.status == true) {
                            var url = '';
                            url = '@Url.Content("~/Organization/ManageRoles")';
                            window.location.href = url;
                        }
                        else {
                            var msgspan = "Error!";
                            $("#errorMessage").css("display", "block");
                            $("#spanErrorMessageRole").text(msgspan);
                        }
                    }
                }
            });
        }
    });
</script>
