@model List<RevenuePlanner.Models.UserActivityPermissionModel>
@using RevenuePlanner.Helpers
@{
    
    ViewBag.Title = "ViewPermission";
    ViewBag.ActiveMenu = RevenuePlanner.Helpers.Enums.ActiveMenu.Pref;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var headers = Model.Where(uact => uact.ParentId == null);
    var cRestrictionList = ViewData["CustomRestriction"] as List<RevenuePlanner.Models.CustomRestrictionModel>;
    string varUrl = Url.Action("vieweditpermission", "Organization");
    string ViewPermissionURL = varUrl + "?Id=" + Sessions.User.UserId + "&Mode=MyPermission"; 
}


@section Sidebar {
    <div class="padding-content"> 
        <h4 class="text-shadow-black source-sans-prolight">Preferences</h4>
    </div>
    <ul class="nav nav-list nav-gray">
        <li class="item">
            <a class="source-sans-probold inputs" href="#" id="aMyProfile"><span></span>MY PROFILE</a>
        </li>
        <li class="item active">
            <a class="source-sans-probold organization" href="#" id="aOrganization"><span></span>ORGANIZATION</a>
        </li>
        @if ((bool)ViewBag.IsIntegrationCredentialCreateEditAuthorized)   // Modified by Sohel Pathan on 24/06/2014 for PL ticket #519 to implement user permission Logic
        {
            <li class="item">
                <a class="source-sans-probold integrations" href="#" id="aIntegrations"><span></span>INTEGRATIONS</a>
            </li>
        }
    </ul>
}

@if (ViewBag.PermissionMode == Enums.UserPermissionMode.View.ToString() || ViewBag.PermissionMode == Enums.UserPermissionMode.MyPermission.ToString())
{
   
    <!--success message-->

    <div id="successMessage" class="alert hide alert-success message-position">
        <a class="close">×</a>
        <strong>Success.</strong><span id="spanSuccessMessage"></span>
       
    </div>

    <!--success message-->

    <!--error message-->

    <div id="errorMessage" class="alert hide alert-error message-position">
        <a class="close">×</a>
       <strong>Error!</strong><span id="spanErrorMessage"></span>
       
    </div>

    <!--error message-->



    <ul class="nav nav-tabs">
        <li class="source-sans-proregular">
            <h2 class="title-header">Organization</h2>
        </li>
    </ul>



    <div class="padding-content cf source-sans-proregular">
        <div class="row">
            <div class="span2 myaccount-colum">
                <div class="width216">
                    <ul class="nav nav-pills nav-stacked width216">
                        @if (ViewBag.PermissionMode == Enums.UserPermissionMode.View.ToString())
                        {

                            <li><a href='@ViewPermissionURL'>My Permissions</a></li>

                            <li class="active"><a href="@Url.Action("OrganizationHierarchy", "Organization")">Organization Hierarchy</a></li>
                        }
                        else
                        {

                            <li class="active"><a href='@ViewPermissionURL'>My Permissions</a></li>

                            <li><a href="@Url.Action("OrganizationHierarchy", "Organization")">Organization Hierarchy</a></li>
                        }
                        @if ((bool)ViewBag.IsUserAdminAuthorized)   // Added by Sohel Pathan on 24/06/2014 for PL ticket #519 to implement user permission Logic
                        {
                            @*<li><a href="#">Manage Users</a></li>*@
                            <li><a href="@Url.Content("~/Organization/ManageRoles/")">Manage Roles</a></li>
                        }
                    </ul>
                </div>
            </div>

            <div class="span9">

                <div class="user-permissions">
                    <h4>View Permissions - @ViewBag.Name <span class="job-role director">@ViewBag.RoleName</span></h4>

                    @foreach (var headerItem in headers)
                    {

                        <dl>
                            <dt>@headerItem.Title</dt>
                            <dd>
                                @foreach (var item in Model.Where(act => act.ParentId == headerItem.ApplicationActivityId))
                                {
                                    


                                    <div class="dd-row">
                                        <label>@Html.Raw(item.Title)</label>
                                        <span>@item.Permission</span>
                                    </div>
                                  
                                }
                            </dd>
                        </dl>
                    }


                    <h4 class="extra-space">*Custom Restrictions</h4>
                    @if (cRestrictionList.Where(crl => crl.CustomField == Enums.CustomRestrictionType.Verticals.ToString()).Count()>0)
                    {
                    <dl>
                        <dt>Verticals</dt>
                        <dd>
                            @foreach (var item in cRestrictionList.Where(crl => crl.CustomField == Enums.CustomRestrictionType.Verticals.ToString()))
                            {

                                <div class="dd-row">
                                    <label>@item.Title</label>
                                    <span>@item.permissiontext</span>
                                </div>
                           
                            }
                        </dd>
                    </dl>
                    }

                    @if (cRestrictionList.Where(crl => crl.CustomField == Enums.CustomRestrictionType.Geography.ToString()).Count()>0)
                    {
                    <dl>
                        <dt>Geography</dt>
                        <dd>
                            @foreach (var item in cRestrictionList.Where(crl => crl.CustomField == Enums.CustomRestrictionType.Geography.ToString()))
                            {

                                <div class="dd-row">
                                    <label>@item.Title</label>
                                    <span>@item.permissiontext</span>
                                </div>
                           
                            }
                        </dd>
                    </dl>
                    }
                    
                    @if (cRestrictionList.Where(crl => crl.CustomField == Enums.CustomRestrictionType.BusinessUnit.ToString()).Count()>0)
                    {
                    <dl>
                        <dt>Business Units</dt>
                        <dd>
                            @foreach (var item in cRestrictionList.Where(crl => crl.CustomField == Enums.CustomRestrictionType.BusinessUnit.ToString()))
                            {

                                <div class="dd-row">
                                    <label>@item.Title</label>
                                    <span>@item.permissiontext</span>
                                </div>
                           
                            }
                        </dd>
                    </dl>
                    }
                    <div class="bottom-btns">
                        @if (ViewBag.PermissionMode == Enums.UserPermissionMode.View.ToString())
                        {
                        <span class="btn-group">
                            <button class="btn btn-grey text-shadow-white source-sans-proregular" id="backbtn">Back</button>
                        </span>
                        }
                    </div>

                </div>

            </div>
        </div>
    </div>
   
}
else
{
   


    <!--success message-->

    <div id="successMessage" class="alert hide alert-success message-position">
        <a class="close">×</a>
        <strong>Success.</strong><span id="spanSuccessMessage"></span>
    </div>

    <!--success message-->

    <!--error message-->

    <div id="errorMessage" class="alert hide alert-error message-position">
        <a class="close">×</a>
        <strong>Error!</strong><span id="spanErrorMessage"></span>
    </div>

    <!--error message-->



    <ul class="nav nav-tabs">
        <li class="source-sans-proregular">
            <h2 class="title-header">Organization</h2>
        </li>
    </ul>



    <div class="padding-content cf source-sans-proregular">
        <div class="row">
            <div class="span2 myaccount-colum">
                <div class="width216">
                    <ul class="nav nav-pills nav-stacked width216">
                        <li><a href='@ViewPermissionURL'>My Permissions</a></li>
                        <li class="active"><a href="@Url.Action("OrganizationHierarchy", "Organization")">Organization Hierarchy</a></li>
                       @* <li><a href="#">Manage Users</a></li>*@
                        <li><a href="@Url.Content("~/Organization/ManageRoles/")">Manage Roles</a></li>
                    </ul>
                </div>
            </div>

            <div class="span9">

                <div class="user-permissions">
                    <h4>Edit Permissions - @ViewBag.Name <span class="job-role director">@ViewBag.RoleName</span></h4>


                    @foreach (var headerItem in headers)
                    {

                        <dl>
                            <dt>@headerItem.Title</dt>
                            <dd>
                                @foreach (var item in Model.Where(act => act.ParentId == headerItem.ApplicationActivityId))
                                {
                                


                                    <div class="dd-row">
                                        <label>@Html.Raw(item.Title)</label>
                                        @if (item.Permission == "Yes")
                                        {

                                            <span class="radioGrp">
                                                <span class="check_signup">
                                                    <input type="radio" name="radio_permission_@item.ApplicationActivityId" id="radio_Yes_@item.ApplicationActivityId" checked="checked" style="background-position: left -34px;" autocomplete="off" />
                                                    Yes
                                                    </span>
                                                <span class="check_signup">
                                                    <input type="radio" name="radio_permission_@item.ApplicationActivityId" id="radio_No_@item.ApplicationActivityId" style="background-position: left 0px;" autocomplete="off" />
                                                    No
                                                    </span>
                                            </span>
                                        }
                                        else
                                        {

                                            <span class="radioGrp">
                                                <span class="check_signup">
                                                    <input type="radio" name="radio_permission_@item.ApplicationActivityId" id="radio_Yes_@item.ApplicationActivityId" style="background-position: left 0px;" autocomplete="off" />
                                                    Yes
                                                    </span>
                                                <span class="check_signup">
                                                    <input type="radio" name="radio_permission_@item.ApplicationActivityId" id="radio_No_@item.ApplicationActivityId" checked="checked" style="background-position: left -34px;" autocomplete="off" />
                                                    No
                                                    </span>
                                            </span>
                                        }
                                    </div>

                                }
                            </dd>
                        </dl>
                    }

                    <h4 class="extra-space">*Custom Restrictions</h4>
                    @if (cRestrictionList.Where(crl => crl.CustomField == Enums.CustomRestrictionType.Verticals.ToString()).Count()>0)
                    {
                    <dl>
                        <dt>Verticals</dt>
                        <dd>
                            @foreach (var item in cRestrictionList.Where(crl => crl.CustomField == Enums.CustomRestrictionType.Verticals.ToString()))
                            {

                                <div class="dd-row">
                                    <label>@item.Title</label>

                                    @if (@item.Permission == 0)
                                    {

                                        <span class="radioGrp">
                                            <span class="check_signup">
                                                <input type="radio" name="radio_verticals_@item.CustomFieldId" id="0_@Enums.CustomRestrictionType.Verticals.ToString()_@item.CustomFieldId"  checked="checked" autocomplete="off"  />
                                                None
                                                </span>
                                           
                                            <span class="check_signup">
                                                <input type="radio" name="radio_verticals_@item.CustomFieldId" id="1_@Enums.CustomRestrictionType.Verticals.ToString()_@item.CustomFieldId" autocomplete="off"  />
                                                View Only
                                                </span>
                                             <span class="check_signup">
                                                <input type="radio" name="radio_verticals_@item.CustomFieldId" id="2_@Enums.CustomRestrictionType.Verticals.ToString()_@item.CustomFieldId" autocomplete="off"  />
                                                View/Edit
                                        </span>
                                        </span>
                                    }
                                    else if (@item.Permission == 1)
                                    {

                                        <span class="radioGrp">
                                            <span class="check_signup">
                                                <input type="radio" name="radio_verticals_@item.CustomFieldId" id="0_@Enums.CustomRestrictionType.Verticals.ToString()_@item.CustomFieldId" autocomplete="off" />
                                                None
                                                </span>
                                            <span class="check_signup">
                                                <input type="radio" name="radio_verticals_@item.CustomFieldId" id="1_@Enums.CustomRestrictionType.Verticals.ToString()_@item.CustomFieldId" checked="checked"  autocomplete="off" />
                                                View Only
                                                </span>
                                            <span class="check_signup">
                                                <input type="radio" name="radio_verticals_@item.CustomFieldId" id="2_@Enums.CustomRestrictionType.Verticals.ToString()_@item.CustomFieldId"  autocomplete="off"  />
                                                View/Edit
                                        </span>  
                                           
                                        </span>  
                                    }
                                    else if (@item.Permission == 2)
                                    {

                                        <span class="radioGrp">
                                            <span class="check_signup">
                                                <input type="radio" name="radio_verticals_@item.CustomFieldId" id="0_@Enums.CustomRestrictionType.Verticals.ToString()_@item.CustomFieldId" autocomplete="off" />
                                                None
                                                </span>
                                           
                                            <span class="check_signup">
                                                <input type="radio" name="radio_verticals_@item.CustomFieldId" id="1_@Enums.CustomRestrictionType.Verticals.ToString()_@item.CustomFieldId"  autocomplete="off" />
                                                View Only
                                                </span>
                                            <span class="check_signup">
                                                <input type="radio" name="radio_verticals_@item.CustomFieldId" id="2_@Enums.CustomRestrictionType.Verticals.ToString()_@item.CustomFieldId" autocomplete="off" checked="checked" />
                                                View/Edit
                                                </span>
                                                </span>
                                    }

                                </div>
                            }
                        </dd>
                    </dl>
                    }

                    @if (cRestrictionList.Where(crl => crl.CustomField == Enums.CustomRestrictionType.Geography.ToString()).Count()>0)
                    {
                    <dl>
                        <dt>Geography</dt>
                        <dd>
                            @foreach (var item in cRestrictionList.Where(crl => crl.CustomField == Enums.CustomRestrictionType.Geography.ToString()))
                            {

                                <div class="dd-row">
                                    <label>@item.Title</label>
                                        @if (ViewBag.userGeography != item.CustomFieldId)
                                        {
                                            if (@item.Permission == 0)
                                            {



                                        <span class="radioGrp">
                                            <span class="check_signup">
                                                <input type="radio" name="radio_geography_@item.CustomFieldId" id="0_@Enums.CustomRestrictionType.Geography.ToString()_@item.CustomFieldId" value="radio" checked="checked" />
                                                None
                                                </span>
                                           
                                            <span class="check_signup">
                                                <input type="radio" name="radio_geography_@item.CustomFieldId" id="1_@Enums.CustomRestrictionType.Geography.ToString()_@item.CustomFieldId" value="radio" />
                                                View Only
                                                </span>
                                             <span class="check_signup">
                                                <input type="radio" name="radio_geography_@item.CustomFieldId" id="2_@Enums.CustomRestrictionType.Geography.ToString()_@item.CustomFieldId" value="radio" />
                                                View/Edit
                                        </span>
                                        </span>
                                    }
                                    else if (@item.Permission == 1)
                                    {

                                        <span class="radioGrp">
                                            <span class="check_signup">
                                                <input type="radio" name="radio_geography_@item.CustomFieldId" id="0_@Enums.CustomRestrictionType.Geography.ToString()_@item.CustomFieldId" value="radio"  />
                                                None
                                                </span>
                                            
                                            <span class="check_signup">
                                                <input type="radio" name="radio_geography_@item.CustomFieldId" id="1_@Enums.CustomRestrictionType.Geography.ToString()_@item.CustomFieldId" value="radio" checked="checked" />
                                                View Only
                                                </span>
                                            <span class="check_signup">
                                                <input type="radio" name="radio_geography_@item.CustomFieldId" id="2_@Enums.CustomRestrictionType.Geography.ToString()_@item.CustomFieldId" value="radio"  />
                                                View/Edit
                                        </span> 
                                        </span> 
                                    }
                                    else if (@item.Permission == 2)
                                    {

                                        <span class="radioGrp">
                                            <span class="check_signup">
                                                <input type="radio" name="radio_geography_@item.CustomFieldId" id="0_@Enums.CustomRestrictionType.Geography.ToString()_@item.CustomFieldId" value="radio"  />
                                                None
                                                </span>
                                           
                                            <span class="check_signup">
                                                <input type="radio" name="radio_geography_@item.CustomFieldId" id="1_@Enums.CustomRestrictionType.Geography.ToString()_@item.CustomFieldId" value="radio"  />
                                                View Only
                                                </span>
                                            <span class="check_signup">
                                                <input type="radio" name="radio_geography_@item.CustomFieldId" id="2_@Enums.CustomRestrictionType.Geography.ToString()_@item.CustomFieldId" value="radio" checked="checked" />
                                                View/Edit
                                                </span>
                                                </span>
                                    }
                                        }
                                        else
                                        {

                                            <span class="radioGrp">
                                                <span class="check_signup">
                                                    <input type="radio" name="radio_geography_@item.CustomFieldId" id="0_@Enums.CustomRestrictionType.Geography.ToString()_@item.CustomFieldId" value="radio" disabled="disabled" onclick="alert('hi'); return false;"/>
                                                    None
                                                </span>

                                                <span class="check_signup">
                                                    <input type="radio" name="radio_geography_@item.CustomFieldId" id="1_@Enums.CustomRestrictionType.Geography.ToString()_@item.CustomFieldId" value="radio" disabled="disabled"  />
                                                    View Only
                                                </span>
                                                <span class="check_signup">
                                                    <input type="radio" name="radio_geography_@item.CustomFieldId" id="2_@Enums.CustomRestrictionType.Geography.ToString()_@item.CustomFieldId" value="radio" checked="checked" disabled="disabled" />
                                                    View/Edit
                                                </span>
                                            </span>
                                        }

                                </div>
                            }

                        </dd>
                    </dl>
                    }

                      @if(cRestrictionList.Where(crl => crl.CustomField == Enums.CustomRestrictionType.BusinessUnit.ToString()).Count()>0)
                    {   
                    <dl>
                        <dt>Business Units</dt>
                        <dd>
                            @foreach (var item in cRestrictionList.Where(crl => crl.CustomField == Enums.CustomRestrictionType.BusinessUnit.ToString()))
                            {

                                <div class="dd-row">
                                    <label>@item.Title</label>
                                      @if (ViewBag.userBusinessUnit != item.CustomFieldId)
                                      {
                                    if (@item.Permission == 0)
                                    {

                                        <span class="radioGrp">
                                            <span class="check_signup">
                                                <input type="radio" name="radio_BusinessUnit_@item.CustomFieldId" id="0_@Enums.CustomRestrictionType.BusinessUnit.ToString()_@item.CustomFieldId"  checked="checked" autocomplete="off"  />
                                                None
                                                </span>
                                           
                                            <span class="check_signup">
                                                <input type="radio" name="radio_BusinessUnit_@item.CustomFieldId" id="1_@Enums.CustomRestrictionType.BusinessUnit.ToString()_@item.CustomFieldId" autocomplete="off"  />
                                                View Only
                                                </span>
                                             <span class="check_signup">
                                                <input type="radio" name="radio_BusinessUnit_@item.CustomFieldId" id="2_@Enums.CustomRestrictionType.BusinessUnit.ToString()_@item.CustomFieldId" autocomplete="off"  />
                                                View/Edit
                                                </span>
                                        </span>
                                    }
                                    else if (@item.Permission == 1)
                                    {

                                        <span class="radioGrp">
                                            <span class="check_signup">
                                                <input type="radio" name="radio_BusinessUnit_@item.CustomFieldId" id="0_@Enums.CustomRestrictionType.BusinessUnit.ToString()_@item.CustomFieldId" autocomplete="off" />
                                                None
                                                </span>
                                          
                                            <span class="check_signup">
                                                <input type="radio" name="radio_BusinessUnit_@item.CustomFieldId" id="1_@Enums.CustomRestrictionType.BusinessUnit.ToString()_@item.CustomFieldId" checked="checked"  autocomplete="off" />
                                                View Only
                                                </span>
                                              <span class="check_signup">
                                                <input type="radio" name="radio_BusinessUnit_@item.CustomFieldId" id="2_@Enums.CustomRestrictionType.BusinessUnit.ToString()_@item.CustomFieldId"  autocomplete="off"  />
                                                View/Edit
                                                </span>
                                        </span>  
                                    }
                                    else if (@item.Permission == 2)
                                    {

                                        <span class="radioGrp">
                                            <span class="check_signup">
                                                <input type="radio" name="radio_BusinessUnit_@item.CustomFieldId" id="0_@Enums.CustomRestrictionType.BusinessUnit.ToString()_@item.CustomFieldId" autocomplete="off" />
                                                None
                                                </span>
                                            
                                            <span class="check_signup">
                                                <input type="radio" name="radio_BusinessUnit_@item.CustomFieldId" id="1_@Enums.CustomRestrictionType.BusinessUnit.ToString()_@item.CustomFieldId"  autocomplete="off" />
                                                View Only
                                                </span>
                                            <span class="check_signup">
                                                <input type="radio" name="radio_BusinessUnit_@item.CustomFieldId" id="2_@Enums.CustomRestrictionType.BusinessUnit.ToString()_@item.CustomFieldId" autocomplete="off" checked="checked" />
                                                View/Edit
                                                </span>
                                        </span>
                                    }
                                      }
                                      else
                                      {
                                         <span class="radioGrp">
                                            <span class="check_signup">
                                                <input type="radio" name="radio_BusinessUnit_@item.CustomFieldId" id="0_@Enums.CustomRestrictionType.BusinessUnit.ToString()_@item.CustomFieldId" autocomplete="off" disabled="disabled" />
                                                None
                                                </span>
                                            
                                            <span class="check_signup">
                                                <input type="radio" name="radio_BusinessUnit_@item.CustomFieldId" id="1_@Enums.CustomRestrictionType.BusinessUnit.ToString()_@item.CustomFieldId"  autocomplete="off" disabled="disabled" />
                                                View Only
                                                </span>
                                            <span class="check_signup">
                                                <input type="radio" name="radio_BusinessUnit_@item.CustomFieldId" id="2_@Enums.CustomRestrictionType.BusinessUnit.ToString()_@item.CustomFieldId" autocomplete="off" checked="checked" disabled="disabled" />
                                                View/Edit
                                                </span>
                                        </span>  
                                      }

                                </div>
                            }
                        </dd>
                    </dl>
                    }
                    <div id="divpartialsharetactic" class="hide">
                        <div id="divsharetacticpopupmain" class="all-height DivResetDefaults">
                            <div class="calc-height">
                                <div class="span12">

                                    <div style="display: block; z-index: 10500; height: auto; width: 320px;" aria-hidden="true" aria-labelledby="mymodallabel" role="dialog" class="form-inspect-share hide fade in height-auto" id="divsharetacticpopup">

                                        <div class="login-wrapper" style="padding-bottom: 20px;">
                                            <h2 class="primary-title source-sans-proregular without-text-shadow">Reset to Defaults?</h2>
                                            <p>This user's permissions will be reset to the role default permissions. Do you want to proceed?</p>
                                            <button value="submit" type="submit" class="form-inspect-share-button btn btn-large default-btn" id="proceedDefault">Proceed</button>
                                            <button type="button" class="btn-link" id="proceedCancel">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="z-index: 9999" class="modal-backdrop fade in" id="divbackgroundsharetactic"></div>
                    </div>
                    <div id="divpartialsharetactic1" class="hide">
                        <div id="divsharetacticpopupmain1" class="all-height DivResetDefaults">
                            <div class="calc-height">
                                <div class="span12">

                                    <div style="display: block; z-index: 10500; height: auto; width: 320px;" aria-hidden="true" aria-labelledby="mymodallabel" role="dialog" class="form-inspect-share hide fade in height-auto" id="divsharetacticpopup1">

                                        <div class="login-wrapper" style="padding-bottom: 20px;">
                                            <h2 class="primary-title source-sans-proregular without-text-shadow">Permissions Saved</h2>


                                            <button type="button" class="form-inspect-share-button btn btn-large default-btn" style="float: none;" id="btn-close">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="z-index: 9999" class="modal-backdrop fade in" id="divbackgroundsharetactic1"></div>
                    </div>
                    @*fdfd*@
                    <div class="bottom-btns">
                        <span class="btn-group">
                            <button class="btn btn-blue btn-large without-text-shadow source-sans-proregular" type="submit" value="Submit" id="savebtn">Save &amp; Close</button>
                        </span>
                        <span class="btn-group">
                            <button class="btn btn-grey text-shadow-white source-sans-proregular" id="backbtn">Back</button>
                        </span>
                        <span class="link-btn">
                            <a href="#" class="btn-link" id="ResetRoleDefualt">Reset to Role Defaults</a>

                            <a href="#" class="help" title="Click on the Manage Roles tab up top to configure default role permissions" original-title="Click on the Manage Roles tab up top to configure default role permissions">
                                <img src="../Content/images/help-icon.png" alt=""></a>
                        </span>
                    </div>

                </div>

            </div>
        </div>
    </div>
    
}
<style type="text/css">
    .tipsy-arrow {
    display: none;
}

.tipsy-inner {
    background: none repeat scroll 0 0 #3EA9F5;
    font-family: 'source_sans_proregular',Arial,"sans-serif" !important;
    font-size: 14px;
    max-width: 196px;
    padding: 12px;
    text-align: left;
}
</style>
<script type="text/javascript" src="@Url.Content("~/Scripts/js/check.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        if ('@TempData["SuccessMessage"]' != '') {
            var msgspan = "@Common.objCached.UserPermissionsResetToDefault";
            $("#spanSuccessMessage").text(msgspan);
            $("#successMessage").slideDown(600);
            //$("#successMessage").slideUp(1200).promise().always(function () {
            //    close_popup();
            //});
        }
       
        $("#content_wraper").removeClass("span10 all-height").addClass("span10 padding-top40");
        $('.director').css('background-color', '@ViewBag.RoleColorCode');
        $(".check_signup").dgStyle();
        function addShowText() {
            $('.tipsy').addClass('blue-tipsy');

            var tipsyOffset = $('.tipsy').offset();
            //alert(tipsyOffset.top);
            $('.tipsy').css('top', tipsyOffset.top - 38);
        };

        function addHideText() {
            $('.tipsy').removeClass('blue-tipsy');
        };

        $('.help').tipsy({ gravity: 's', opacity: 1, onShow: addShowText, onHide: addHideText });
    });
    $('#backbtn').click(function () {
        var url = '';
        url = '@Url.Content("~/Organization/OrganizationHierarchy")';
        window.location.href = url;
    });
    $('#savebtn').click(function () {

        var checked = [];
        var ids = [];

        $('.radioGrp span').each(function () {
            $(this).find('input:radio').each(function () {
                if ($(this).is(':checked') == true) {
                    ids.push(this.id + '_true');
                }
            });
        });

        var userId = '@ViewBag.UserId';
        $.ajax({
            url: '@Url.Content("~/Organization/SaveUserPermission/")',
            data: {

                permissionIds: ids.toString(),
                UserId: userId

            },
            type: 'POST',
            cache: false,
            success: function (result) {
                if (result == 'True') {
                    $('#divpartialsharetactic1').show();
                }
                else {
                    var msgspan = "Error.";
                    $("#errorMessage").css("display", "block");
                    $("#spanErrorMessage").text(msgspan);
                }
            }
        });
    });

    $('#proceedDefault').click(function () {


        var userId = '@ViewBag.UserId';
        $.ajax({
            url: '@Url.Content("~/Organization/ResetToRoleDefault/")',
            data: {
                UserId: userId,
                creatorId: '@ViewBag.CreatorId'
            },
            type: 'POST',
            cache: false,
            success: function (result) {
                if (result == 'True') {
                    url = '@Url.Content("~/Organization/ViewEditPermission?Id="+ViewBag.UserId+"&Mode=Edit")';
                    window.location.href = url;
                }
                else {
                    var msgspan = "Error.";
                    $("#errorMessage").css("display", "block");
                    $("#spanErrorMessage").text(msgspan);
                }
            }
        });
    });
    $('#ResetRoleDefualt').click(function () {

        $('#divpartialsharetactic').show();
    });
    $('#proceedCancel').click(function () {

        $('#divpartialsharetactic').hide();
    });
    $('#btn-close').click(function () {

        url = '@Url.Content("~/Organization/OrganizationHierarchy")';
        window.location.href = url;
    });
    $('#aMyProfile').click(function () {
        var url = '';
        url = '@Url.Action("Edit", "User", new { usrid = Sessions.User.UserId, src = "myaccount" })';
        window.location.href = url;
    });

    $('#aIntegrations').click(function () {
        var url = '';
        url = '@Url.Content("~/ExternalService/Index")';
        window.location.href = url;
    });


</script>

