@model List<RevenuePlanner.Models.UserActivityPermissionModel>
@using RevenuePlanner.Helpers
@{
    
    ViewBag.Title = "ViewPermission";
    ViewBag.ActiveMenu = RevenuePlanner.Helpers.Enums.ActiveMenu.Pref;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var headers = Model.Where(uact => uact.ParentId == null || uact.ParentId == 0);
    var cRestrictionList = ViewData["CustomRestriction"] != null ? ViewData["CustomRestriction"] as List<RevenuePlanner.Models.CustomRestrictionModel> : new List<RevenuePlanner.Models.CustomRestrictionModel>();
    //// Start - Added by Sohel Pathan on 15/01/2015 for PL ticket #1139
    var customFieldList = ViewData["CustomFieldList"] != null ? ViewData["CustomFieldList"] as List<RevenuePlanner.Models.CustomField> : new List<RevenuePlanner.Models.CustomField>();
    //// End - Added by Sohel Pathan on 15/01/2015 for PL ticket #1139
    string varUrl = Url.Action("vieweditpermission", "Organization");
    string ViewPermissionURL = varUrl + "?Id=" + Sessions.User.UserId + "&Mode=MyPermission"; 
    //Added by Mitesh Vaishnav on 10-07-2014 for functional review point 49
    if (ViewBag.PermissionMode == Enums.UserPermissionMode.MyPermission.ToString())
    {
        ViewBag.PageTitle = "MyPermission";
    }
    else
    {
        ViewBag.PageTitle = "OrganizationHierarchy";
    }
    ViewBag.ModuleTitle = "Organization";
    //End Added by Mitesh Vaishnav on 10-07-2014 for functional review point 49
}


@section Sidebar {
    @Html.Partial("~/Views/shared/_preferences.cshtml")
}
<!--success message-->

    <div id="successMessage" class="alert hide alert-success message-position">
        <a class="close">×</a>
        <strong>Success.</strong><span id="spanSuccessMessage"></span>
       
    </div>

    <!--success message-->

    <!--error message-->

    <div id="errorMessage" class="alert hide alert-error message-position">
        <a class="close">×</a>
       <strong>Error!</strong><span id="spanErrorMessage"></span>
       
    </div>

    <!--error message-->

@if (ViewBag.PermissionMode == Enums.UserPermissionMode.View.ToString() || ViewBag.PermissionMode == Enums.UserPermissionMode.MyPermission.ToString())
{
    <ul class="nav nav-tabs">
        <li class="source-sans-proregular">
            <h2 class="title-header">Organization</h2>
        </li>
    </ul>

    <div class="padding-content cf source-sans-proregular">
        <div class="row">
            <div id="internalLink" class="span2 myaccount-colum">
                 @Html.Partial("~/Views/Organization/_organization.cshtml")
            </div>
            <div class="span9">
                <div class="user-permissions">
                    <h4>View Permissions - @ViewBag.Name <span class="job-role director">@ViewBag.RoleName</span></h4>
                    @foreach (var headerItem in headers)
                    {
                        <dl>
                            <dt>@headerItem.Title</dt>
                            <dd>
                                @foreach (var item in Model.Where(act => act.ParentId == headerItem.ApplicationActivityId))
                                {
                                    <div class="dd-row">
                                        <label title="@Html.Raw(item.Title)">@Html.Raw(item.Title)</label>
                                        <span>@item.Permission</span>
                                    </div>
                                }
                            </dd>
                        </dl>
                    }

                    <h4 class="extra-space">*Custom Restrictions</h4>
                    @foreach (var customField in customFieldList)
                    {
                        <dl>
                            <dt>@customField.Name</dt>
                            <dd>
                                @foreach (var item in cRestrictionList.Where(crl => crl.CustomField == customField.CustomFieldId.ToString()))
                                {
                                    <div class="dd-row">
                                        <label title="@item.Title">@item.Title</label>
                                        <span>@item.permissiontext</span>
                                    </div>
                                }
                            </dd>
                        </dl>
                    }
                    
                    <div class="bottom-btns">
                        @if (ViewBag.PermissionMode == Enums.UserPermissionMode.View.ToString())
                        {
                        <span class="btn-group">
                            <button class="btn btn-grey text-shadow-white source-sans-proregular" id="backbtn">Back</button>
                        </span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <ul class="nav nav-tabs">
        <li class="source-sans-proregular">
            <h2 class="title-header">Organization</h2>
        </li>
    </ul>

    <div class="padding-content cf source-sans-proregular">
        <div class="row">
            <div id="internalLink" class="span2 myaccount-colum">
                 @Html.Partial("~/Views/Organization/_organization.cshtml")
                
            </div>
            <div class="span9">
                <div class="user-permissions">
                    <h4>Edit Permissions - @ViewBag.Name <span class="job-role director">@ViewBag.RoleName</span></h4>
                    @foreach (var headerItem in headers)
                    {
                        <dl>
                            <dt>@headerItem.Title</dt>
                            <dd>
                                @foreach (var item in Model.Where(act => act.ParentId == headerItem.ApplicationActivityId))
                                {
                                    if (headerItem.Title.ToUpper() == Enums.ApplicationActivity.Finance.ToString().ToUpper())
                                    {
                                        <div class="dd-row">
                                            <label title="@Html.Raw(item.Title)">@Html.Raw(item.Title)</label>
                                            @if (item.Permission == "Yes")
                                            {
                                                <span class="radioGrp">
                                                    <span class="check_signup">
                                                        <input class="Yes_@item.ItemCode" type="radio" name="radio_permission_@item.ApplicationActivityId" id="radio_Yes_@item.ApplicationActivityId" checked="checked" style="background-position: left -34px;" autocomplete="off" />
                                                        Yes
                                                    </span>
                                                    <span class="check_signup">
                                                        <input class="No_@item.ItemCode" type="radio" name="radio_permission_@item.ApplicationActivityId" id="radio_No_@item.ApplicationActivityId" style="background-position: left 0px;" autocomplete="off" />
                                                        No
                                                    </span>
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="radioGrp">
                                                    <span class="check_signup">
                                                        <input class="Yes_@item.ItemCode" type="radio" name="radio_permission_@item.ApplicationActivityId" id="radio_Yes_@item.ApplicationActivityId" style="background-position: left 0px;" autocomplete="off" />
                                                        Yes
                                                    </span>
                                                    <span class="check_signup">
                                                        <input class="No_@item.ItemCode" type="radio" name="radio_permission_@item.ApplicationActivityId" id="radio_No_@item.ApplicationActivityId" checked="checked" style="background-position: left -34px;" autocomplete="off" />
                                                        No
                                                    </span>
                                                </span>
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="dd-row">
                                            <label title="@Html.Raw(item.Title)">@Html.Raw(item.Title)</label>
                                            @if (item.Permission == "Yes")
                                            {
                                                <span class="radioGrp">
                                                    <span class="check_signup">
                                                        <input type="radio" name="radio_permission_@item.ApplicationActivityId" id="radio_Yes_@item.ApplicationActivityId" checked="checked" style="background-position: left -34px;" autocomplete="off" />
                                                        Yes
                                                    </span>
                                                    <span class="check_signup">
                                                        <input type="radio" name="radio_permission_@item.ApplicationActivityId" id="radio_No_@item.ApplicationActivityId" style="background-position: left 0px;" autocomplete="off" />
                                                        No
                                                    </span>
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="radioGrp">
                                                    <span class="check_signup">
                                                        <input type="radio" name="radio_permission_@item.ApplicationActivityId" id="radio_Yes_@item.ApplicationActivityId" style="background-position: left 0px;" autocomplete="off" />
                                                        Yes
                                                    </span>
                                                    <span class="check_signup">
                                                        <input type="radio" name="radio_permission_@item.ApplicationActivityId" id="radio_No_@item.ApplicationActivityId" checked="checked" style="background-position: left -34px;" autocomplete="off" />
                                                        No
                                                    </span>
                                                </span>
                                            }
                                        </div>
                                    }

                                }
                            </dd>
                        </dl>
                    }

                    <h4 class="extra-space">*Custom Restrictions</h4>
                    @foreach (var customField in customFieldList)
                    {
                        <dl>
                            <dt>@customField.Name</dt>
                            <dd>
                                @foreach (var item in cRestrictionList.Where(crl => crl.CustomField == customField.CustomFieldId.ToString()))
                                {
                                    <div class="dd-row">
                                        <label title="@item.Title">@item.Title</label>
                                        <span class="radioGrp">
                                            <span class="check_signup">
                                            @if (@item.Permission == 0)
                                            {
                                                <input type="radio" name="radio_@item.CustomField.ToString()_@item.CustomFieldId" id="0_@item.CustomField.ToString()_@item.CustomFieldId"  checked="checked" autocomplete="off"  />
                                            }
                                            else
                                            {
                                                <input type="radio" name="radio_@item.CustomField.ToString()_@item.CustomFieldId" id="0_@item.CustomField.ToString()_@item.CustomFieldId" autocomplete="off" />
                                            }
                                            None
                                            </span>      
                                            <span class="check_signup">
                                            @if (@item.Permission == 1)
                                            {
                                                <input type="radio" name="radio_@item.CustomField.ToString()_@item.CustomFieldId" id="1_@item.CustomField.ToString()_@item.CustomFieldId" checked="checked"  autocomplete="off" />
                                            }
                                            else
                                            {
                                                <input type="radio" name="radio_@item.CustomField.ToString()_@item.CustomFieldId" id="1_@item.CustomField.ToString()_@item.CustomFieldId" autocomplete="off"  />
                                            }
                                            View Only
                                            </span>
                                            <span class="check_signup">
                                            @if (@item.Permission == 2)
                                            {
                                                <input type="radio" name="radio_@item.CustomField.ToString()_@item.CustomFieldId" id="2_@item.CustomField.ToString()_@item.CustomFieldId" autocomplete="off" checked="checked" />
                                            }
                                            else
                                            {
                                            <input type="radio" name="radio_@item.CustomField.ToString()_@item.CustomFieldId" id="2_@item.CustomField.ToString()_@item.CustomFieldId" autocomplete="off"  />
                                            }
                                            View/Edit
                                            </span>
                                        </span>
                                    </div>
                                }
                            </dd>
                        </dl>
                    }

                    <div id="divpartialsharetactic" class="hide">
                        <div id="divsharetacticpopupmain" class="all-height DivResetDefaults">
                            <div class="calc-height">
                                <div class="span12">
                                    <div style="display: block; z-index: 10500; height: auto; width: 320px;" aria-hidden="true" aria-labelledby="mymodallabel" role="dialog" class="form-inspect-share hide fade in height-auto" id="divsharetacticpopup">
                                        <div class="login-wrapper" style="padding-bottom: 20px;">
                                            <h2 class="primary-title source-sans-proregular without-text-shadow">Reset to Defaults?</h2>
                                            <p>This user's permissions will be reset to the role default permissions. Do you want to proceed?</p>
                                            <button value="submit" type="submit" class="form-inspect-share-button btn btn-large default-btn" id="proceedDefault">Proceed</button>
                                            <button type="button" class="btn-link" id="proceedCancel">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="z-index: 9999" class="modal-backdrop fade in" id="divbackgroundsharetactic"></div>
                    </div>
                    <div id="divpartialsharetactic1" class="hide">
                        <div id="divsharetacticpopupmain1" class="all-height DivResetDefaults">
                            <div class="calc-height">
                                <div class="span12">
                                    <div style="display: block; z-index: 10500; height: auto; width: 320px;" aria-hidden="true" aria-labelledby="mymodallabel" role="dialog" class="form-inspect-share hide fade in height-auto" id="divsharetacticpopup1">
                                        <div class="login-wrapper" style="padding-bottom: 20px;">
                                            <h2 class="primary-title source-sans-proregular without-text-shadow">Permissions Saved</h2>
                                            <button type="button" class="form-inspect-share-button btn btn-large default-btn" style="float: none;" id="btn-close">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="z-index: 9999" class="modal-backdrop fade in" id="divbackgroundsharetactic1"></div>
                    </div>
                    <div class="bottom-btns">
                        <span class="btn-group">
                            <button class="btn btn-blue btn-large without-text-shadow source-sans-proregular" type="submit" value="Submit" id="savebtn">Save &amp; Close</button>
                        </span>
                        <span class="btn-group">
                            <button class="btn btn-grey text-shadow-white source-sans-proregular" id="backbtn">Back</button>
                        </span>
                        <span class="link-btn">
                            <a href="#" class="btn-link" id="ResetRoleDefualt">Reset to Role Defaults</a>

                            <a href="#" class="help" title="Click on the Manage Roles tab up top to configure default role permissions" original-title="Click on the Manage Roles tab up top to configure default role permissions">
                                <img src="../Content/images/help-icon.png" alt=""></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<style type="text/css">
    
    .popover.top > .arrow, .popover.top > .arrow:after {
        display: none;
    }

    .popover {
        background: none repeat scroll 0 0 #F8710E; /* Edited for #2219 - Bhumika */
        font-family: inherit !important;
        font-size: 14px;
        max-width: 221px;
        padding: 1px;
        text-align: left;
        border-color:none;
        box-shadow:none;
    }

</style>

<script type="text/javascript" src="@Url.Content("~/Scripts/js/check.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
       
        if ('@TempData["SuccessMessage"]' != '') {
            var msgspan = "@Common.objCached.UserPermissionsResetToDefault";
            $("#spanSuccessMessage").text(msgspan);
            $("#successMessage").slideDown(600);
        }
       
        $("#content_wraper").removeClass("span10 all-height").addClass("span10 padding-top40");
        $('.director').css('background-color', '@ViewBag.RoleColorCode');
        $(".check_signup").dgStyle();
        function addShowText() {
            $('.tipsy').addClass('blue-tipsy');

            var tipsyOffset = $('.tipsy').offset();
            $('.tipsy').css('top', tipsyOffset.top - 38);
        };

        function addHideText() {
            $('.tipsy').removeClass('blue-tipsy');
        };

       
        $('.help').each(function () {
            bootstrapetitle($(this), $(this).attr("title"), "tipsy-innerWhite")
        });        
       
    });
    $('#backbtn').click(function () {
        var url = '';
        url = '@Url.Content("~/Organization/OrganizationHierarchy")';
        window.location.href = url;
    });
    $('#savebtn').click(function () {

        var checked = [];
        var ids = [];

        $('.radioGrp span').each(function () {
            $(this).find('input:radio').each(function () {
                if ($(this).is(':checked') == true) {
                    ids.push(this.id + '_true');
                }
            });
        });

        var userId = '@ViewBag.UserId';
        var uId = $(window).attr('name');       // Added by Sohel Pathan on 11/07/2014 for Internal Functional Review Points #53 to implement user session check
        $.ajax({
            url: '@Url.Content("~/Organization/SaveUserPermission/")',
            data: {
                permissionIds: ids.toString(),
                UserId: userId,
                LoginId: uId        // Added by Sohel Pathan on 11/07/2014 for Internal Functional Review Points #53 to implement user session check
            },
            type: 'POST',
            cache: false,
            success: function (result) {
                // Start - Added by Sohel Pathan on 11/07/2014 for Internal Functional Review Points #53 to implement user session check
                if (result.returnURL != 'undefined' && result.returnURL == '#') {
                    window.location = '@Url.Content("~/Login/Index")';
                }
                else if (result.serviceUnavailable != 'undefined' && result.serviceUnavailable == '#') {
                    //// Function to redirect to login page on unavailability of web service.
                    //// Added By: Maninder Singh Wadhva on 11/24/2014.
                    //// Ticket: 942 Exception handeling in Gameplan.
                    window.location = '@Url.Content(Common.RedirectOnServiceUnavailibilityPage)';
                }
                else {
                // End - Added by Sohel Pathan on 11/07/2014 for Internal Functional Review Points #53 to implement user session check
                    if (result.status == true) {
                        $('#divpartialsharetactic1').show();
                    }
                    else {
                        var msgspan = "Error!";
                        $("#errorMessage").css("display", "block");
                        $("#spanErrorMessage").text(msgspan);
                    }
                }
            }
        });
    });

    $('#proceedDefault').click(function () {
        var userId = '@ViewBag.UserId';
        var uId = $(window).attr('name');       // Added by Sohel Pathan on 11/07/2014 for Internal Functional Review Points #53 to implement user session check
        $.ajax({
            url: '@Url.Content("~/Organization/ResetToRoleDefault/")',
            data: {
                UserId: userId,
                creatorId: '@ViewBag.CreatorId',
                LoginId: uId        // Added by Sohel Pathan on 11/07/2014 for Internal Functional Review Points #53 to implement user session check
            },
            type: 'POST',
            cache: false,
            success: function (result) {
                // Start - Added by Sohel Pathan on 11/07/2014 for Internal Functional Review Points #53 to implement user session check
                if (result.returnURL != 'undefined' && result.returnURL == '#') {
                    window.location = '@Url.Content("~/Login/Index")';
                }
                else if (result.serviceUnavailable != 'undefined' && result.serviceUnavailable == '#') {
                    //// Function to redirect to login page on unavailability of web service.
                    //// Added By: Maninder Singh Wadhva on 11/24/2014.
                    //// Ticket: 942 Exception handeling in Gameplan.
                    window.location = '@Url.Content(Common.RedirectOnServiceUnavailibilityPage)';
                }
                else {
                // End - Added by Sohel Pathan on 11/07/2014 for Internal Functional Review Points #53 to implement user session check
                    if (result.status == true) {
                        url = '@Url.Content("~/Organization/ViewEditPermission?Id=" + ViewBag.UserId + "&Mode=Edit")';
                        window.location.href = url;
                    }
                    else {
                        var msgspan = "Error!";
                        $("#errorMessage").css("display", "block");
                        $("#spanErrorMessage").text(msgspan);
                    }
                }
            }
        });
    });
    $('#ResetRoleDefualt').click(function () {

        $('#divpartialsharetactic').show();
    });
    $('#proceedCancel').click(function () {

        $('#divpartialsharetactic').hide();
    });
    $('#btn-close').click(function () {

        url = '@Url.Content("~/Organization/OrganizationHierarchy")';
        window.location.href = url;
    });
</script>

