@model RevenuePlanner.Services.MarketingBudget.MarketingActivities
@using RevenuePlanner.Helpers;

@{
    ViewBag.Title = "Finance - Marketing Budget";
    Layout = "~/Views/Shared/_Layout.cshtml";
    // Get currency symbol from session
    string CurrencySymbol = Sessions.PlanCurrencySymbol;
}

<link href="@Url.Content("~/Content/css/DHTMLX/dhtmlxgrid.css")" rel="stylesheet" type="text/css" />

@section nlFormContent{
    <link rel="stylesheet" href="@Url.Content("~/Content/css/NaturalLanguageForm/default.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/NaturalLanguageForm/component.css")" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/NaturalLanguageForm/modernizr.custom.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/NaturalLanguageForm/nlform.js?n=")@DateTime.Now"></script>
}
<script src="~/Scripts/js/fileinput.js"></script>
<style>
    .ui-tooltip {
        position: absolute !important;
        background: #fff;
        color: #666666;
        border: 1px solid #666666;
        font-size: 11px;
        padding: 0 2px;
        -webkit-box-shadow: 3px 3px 5px 0px rgba(107,107,107,1);
        -moz-box-shadow: 3px 3px 5px 0px rgba(107,107,107,1);
        box-shadow: 3px 3px 5px 0px rgba(107,107,107,1);
    }

    .ui-helper-hidden-accessible {
        display: none;
    }
</style>

<div class="light-blue-chart cf full-width-header" id="financeHeader">
    <div style="" class="fin-head-left">
        <div class="finance-main-title">
            <h2 id="lblfinanceTitle" style="display:block;">Marketing Budget</h2>
        </div>
        <div style="float:left;" id="drpParentMain">
            <div id="nl-formParentFinanceMain" class="nl-form-plan-title without-margin plantitle financetitle">
                @Html.DropDownList("ddlParentFinanceMain", new SelectList(Model.ListofBudgets, "Value", "Text"))
                <div class="nl-overlay"></div>
            </div>
        </div>
        <div id="dvExportToExcel" class="finance-export-btn">
            @* Button style change by Bhumika #2446 *@
            <a class="btn btn-fill-white export-link remove-box-shadow" id="exportcsv" onclick=" return ExportToExcel(); ">
                <i class="fa fa-upload" title="Export"></i><span>Export</span>
            </a>
            <a class="btn btn-fill-white export-link remove-box-shadow" onclick="showModal();" title="Import" id="ImportBtn">
                <i class="fa fa-download" title="Import"></i> <span> Import</span>
            </a>
        </div>
        <div style="float:left;" id="divAddnew">
            <input type="button" id="btnAddNewBudget" name="btnAddNewBudget" value="Add New Budget" class="btn btn-fill-white remove-box-shadow source-sans-proregular" />
        </div>
        <span class="selectBox quarter_selection" id="ddlMainTimeFrameSelectBox">
            <label id="" for="Time_Frame:">Time Frame:</label>
            @Html.DropDownList("ddlMainGridTimeFrame", new SelectList(Model.TimeFrame, "Value", "Text"), new { @class = "ddlStyleReport quarterly_btn" })
        </span>
        <div id="ddlColumnsFrameBox" class="filter-columns selectBox">
            <label id="" for="Filter Columns:">Filter Columns:</label>
            <select title="Basic example" multiple="multiple" name="example-basic" size="5" id="budget-select"></select>
        </div>
        <span class="selectBox quarter_selection" id="ddlColumnSetFrameBox">
            <label id="" for="View by:">View by:</label>
            @Html.DropDownList("ddlColumnSet", new SelectList(Model.Columnset, "Value", "Text"), new { @class = "ddlStyleReport quarterly_btn" })
        </span>
    </div>

    <div class="plancart-box finance-cart">
        <div class="white-chart">
            <p class="source-sans-probold" title="Actual">Actual</p>
            <p class="value source-sans-prolight" id="ActualID" data-original-title="0" title="">0</p>
        </div>
        <div class="white-chart">
            <p class="source-sans-probold" id="plannedLabel" title="Planned">Planned</p>
            <p class="value source-sans-prolight" id="PlannedID" data-original-title="0" title="">0</p>
        </div>
        <div class="white-chart">
            <p class="source-sans-probold" id="forecastLabel" title="Forecast">Forecast</p>
            <p class="value source-sans-prolight" id="ForecastID" data-original-title="0" title="">0</p>
        </div>
        <div id="dvBudgetHeader" class="white-chart">
            <p class="source-sans-probold" id="budgetLabel" title="Budget">Budget</p>
            <p class="value source-sans-prolight" id="budgetID" data-original-title="0" title="">0</p>
        </div>
    </div>

</div>

<div class="row-fluid calc-height">
    <div class="span12">
        <div id="divDeletePopup" class="form-inspect-share hide fade height-auto popup-block margin_top0" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div>
                <form>

                    <h2 class="primary-title source-sans-prosemibold resubmission_header">Deleting an item</h2>
                    <label style="text-align: center; width: 100%;" class="resubmission_content">You are about to delete </label>


                    <label id="lipname" style="text-align: center; width: 100%; font-weight:800;" class="resubmission_content"></label>
                    <p id="LiWarning" style="text-align: center;color: #fff;font-size: 15px; display:none">Warning! There are line items associated with this item. Deleting this item will associate these line items with the default 'Other' budget</p>
                    <label style="text-align: center; width: 100%;" class="resubmission_content">Do you want to proceed?</label>
                    <input type="hidden" id="hdnsourceid" />
                    <input type="hidden" id="hdndestid" />
                    <button class="form-inspect-share-button btn btn-large bottom-margin-popups" type="button" id="proceed-button_DeleteItem">Proceed</button>
                    <button id="cancel-button_DeleteItem" class="btn-link Cancel-button-center-popups" style="margin-left: 10.5%" type="button">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="divGridView" class="MarketingBudget-tbl">
    <div id="gridbox" style="width:100%; background-color:white;"></div>
</div>
@* Design for import modal pop up *@
<div id="ImportModal" class="modal hide fade import-popover">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4> Import Data  </h4>
    </div>
    <div class="modal-body">
        <ul>
            <li>
                <strong>Download file <a onclick="return ExportToExcel();">here</a></strong>
                <br />
                <span>Note: Here is sample file in month format with some specific columns. You can import this file or can import from (Edit Foreacast/Edit Budget) screen export fromat.</span>
            </li>
            <li>
                <strong>Make any necessary changes</strong><br />
                <span>Note: Any additional rows or columns added will not appear after imported</span>
            </li>
            <li>
                <strong>Import the file</strong><br />
                <span>Note:The file format must match with Finance(Budget)/Finance(Forecast) export format.</span>
            </li>
        </ul>
        <input id="input-43" name="input43[]" type="file" class="file-loading select-file">
        <div id="errorBlock" class="help-block"></div>
        <div id="successBlock" class="help-block alert alert-success hide message-position-small">Your Data Save Successfully</div>
    </div>
</div>

<script src="~/Scripts/js/MarketingBudget/MarketingBudget.js"></script>
<script type="text/javascript">
    var budgetgrid;
    var BudgetGridData;
    var AddNewrow = true;
    var backBudgetid = '';
    var standardcolumns;
    //add variable for assigning index of grid column to use in export or anywhere else.
    var colIdIndex;
    var colIconIndex;
    var colTaskNameIndex;
    var urlContent = '@Url.Content("~/")';
    var Yearly='@Enums.QuarterFinance.Yearly.ToString()';
    var Id = "@Enums.DefaultGridColumn.Id";
    var Name = "@Enums.DefaultGridColumn.Name";
    var Lineitems = "@Enums.DefaultGridColumn.LineItems";
    var CurrencySymbol='@CurrencySymbol';
    $(document).ready(function () {

        var Columnsetval = $("#ddlColumnSet").val();
        $("#sidebar").css("display", "none");
        $("#errorMsg").css("display", "none");
        $("#SuccessMsg").css("display", "none");
        $("#content_wraper").css("width", "100%");
        UpdateFinanceHeaderValues(); // Update header values
        GetGridData();                      // Bind Budget Grid.


        var liParentFinanceMain = $('#ddlParentFinanceMain').find('option');
        if (liParentFinanceMain != null && liParentFinanceMain != 'undefined' && liParentFinanceMain.length > 0) {
            nlformParentFinanceMain = new NLForm(document.getElementById('nl-formParentFinanceMain'));

            // Bind the Grid data on Budget value change from dropdown list.
            $('#nl-formParentFinanceMain > div[class="nl-field nl-dd"]').find('li').click(function (e) {
                $('#nl-formParentFinanceMain .nl-field-toggle').text($(this).text());
                var budgetIDMain = $(this).attr('value');
                $("#ddlParentFinanceMain").val(budgetIDMain);
                if (budgetIDMain != null && budgetIDMain != 'undefined' && budgetIDMain != '0') {
                    //--------------Added By Jaymin Modi at 02/Dec/2016.Ticket:-2806 .for Reset Cookie if Exist ------------------
                    var cookie = document.cookie;
                    if (cookie.indexOf("budgetgridState") > -1) {
                        var cookies = cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            if (cookies[i].indexOf("budgetgridState") > -1) {
                                cookies.splice(i, 1);
                            }
                        }
                        createCookie("gridOpenbudgetgridState", "", -1);
                    }
                    //------------End-----------------
                    UpdateFinanceHeaderValues(); // Update header values
                    GetGridData();
                }
            });
        }

        //Declare "ViewBy" dropdown to "single select".
        $("#ddlColumnSet").multiselect({
            multiple: false,
            noneSelectedText: "Please Select",
            selectedList: 1
        });

        var filtCols = @Html.Raw(Json.Encode(Model.FilterColumns));

        standardcolumns = @Html.Raw(Json.Encode(Model.StandardCols));

        // Append items to 'Filter Columns' to dropdown list & Check-Uncheck Filter columns.
        BindFilterColumnsAndCheckUncheck(filtCols);

        //Declare "Time Frame" dropdown to "single select".
        $("#ddlMainGridTimeFrame").multiselect({
            multiple: false,
            noneSelectedText: "Please Select",
            selectedList: 1
        });

    });
</script>
