<div class="<%= o.css.header %>">
    <div class="<%= o.css.viewByContainer %>">
        <label for="<%= o.viewById %>">View by:</label>
        <select name="<%= o.viewById %>" id="<%= o.viewById %>">
            <option value="all" <%= o.viewByValue === "all" ? 'selected="selected"' : "" %>>All Transactions</option>
            <option value="unlinked" <%= o.viewByValue === "unlinked" ? 'selected="selected"' : "" %>>Only Unlinked Transactions</option>
        </select>
    </div>
    <h2>Transactions</h2>
</div>
<div>
    <% /* put a child div that is absolutely positioned to fill the parent div to work around issue with flexboxed items not having proper dimensions */ %>
    <div class="<%= o.css.gridContainer %>">
        <div class="<%= o.css.grid %>"></div>
        <div class="<%= o.css.noRecords %>">
            <h3>There are no transactions that match your filters</h3>
        </div>
    </div>
</div>
<div class="<%= o.css.pager %>"></div>
