@model List<RevenuePlanner.Models.ChangeLog_ViewModel>

    @foreach(var item in Model)
    {
        <div class="change"> 
            <span class="title">

                @Html.Raw(item.ComponentTitle) @*Added by mitesh vaishnav on 09/07/2014 for PL #584*@
            </span>
            <span class="type">
                @item.ComponentType
            </span> 
            <span class="action">
                @item.Action
            </span> 
            @if(!string.IsNullOrEmpty(item.ActionSuffix))   
            {
                <span>from</span>
                <span class="title">
                    @Html.Raw(item.ActionSuffix) @*Added by mitesh vaishnav on 09/07/2014 for PL #584*@
                </span>
            }
            by 
            <span class="author">
                @Html.Raw(item.User) @*Added by mitesh vaishnav on 09/07/2014 for PL #584*@
            </span>. 
            <br> 
            <span class="datetime">
                @item.DateStamp
            </span>
        </div>
    }