@model List<RevenuePlanner.Models.Preset>
@using RevenuePlanner.Helpers


<div id="content_2" class="sidebar-preset scroll-section load-filter">

    @*<p id="msgDefaultFilter">Please select checkbox to save filter preset as default.</p> Commented By Bhumika #1901*@
    <h2>Load saved filters</h2>
    <label for="Preset">Please select a saved preset below and click on proceed:</label>
    <input type="text" id="SearchView" onchange="LoadPresentSerch(this);" placeholder="Search preset" />

    <ul id="ulFilterPreset">
        @*added  By Bhumika for #1901 start*@
        <span class="ulFilterPreset-title" style="display:block;width:100%">
            <span class="filter-set-default"><i class="fa fa-long-arrow-down"></i> Set Default</span>
            <span class="filter-action pull-right">Action</span>
        </span> 
        @*added  By Bhumika for #1901 End *@
              @foreach (var filter in Model) {
            <li style="cursor:pointer" id="@filter.Id">

                @*// <input id="chkdefaultpreset_@filter.Name" type="checkbox" style="float:left; margin-right:5px" />*@
                @if (filter.IsDefaultPreset == true)
                {
                    <input id="chkdefaultpreset_@filter.Name" type="checkbox" checked="checked" />
                }
                else
                {
                    <input id="chkdefaultpreset_@filter.Name" type="checkbox" />
                }
                <span title='@filter.Name'>@filter.Name</span>
                <a onclick="DeletePreset('@filter.Name.Replace("'", "&#39;")',this)"><i class="fa fa-close"></i></a>
            </li>
}
</ul>


    <input type="button" class="btn btn-blue text-shadow-blue source-sans-proregular" title="Proceed" value="Proceed" id="btnProceed" onclick="LoadSelectedFilter()" />
    <input type="button" class="btn btn-link" title="Cancel" value="Cancel" id="btnCancel" onclick="CancelSavePreset()" />
    <div style="margin-bottom: 10px" id="NoPreset">No preset found.</div>
    <input type="button" class="btn btn-blue text-shadow-blue source-sans-proregular back-btn"  title="Back" value="Back" id="btnBack" onclick="CancelSavePreset()" />

</div>
<script>
    var boolsearch = false;
    $(document).ready(function () {


        if ('@Model.Count' > 0) {
            $('div[id=NoPreset]').each(function () {
                if ($(this).is(':visible'))
                    $(this).hide();
            });
            $('input[id=btnBack]').each(function () {
                if ($(this).is(':visible'))
                    $(this).hide();
            });
            $('ul[id=ulFilterPreset]').each(function () {
                if ($(this).parent().is(':visible'))
                    $(this).show();
            });
            $('input[id=btnProceed]').each(function () {
                if ($(this).parent().is(':visible'))
                    $(this).show();
            });
            $('input[id=btnCancel]').each(function () {
                if ($(this).parent().is(':visible'))
                    $(this).show();
            });

        }
        else {
            $('ul[id=ulFilterPreset]').each(function () {
                if ($(this).is(':visible'))
                    $(this).remove();

            });
            $('input[id=btnProceed]').each(function () {
                if ($(this).is(':visible'))
                    $(this).hide();
            });
            $('input[id=btnCancel]').each(function () {
                if ($(this).is(':visible'))
                    $(this).hide();
            });
            $('div[id=NoPreset]').each(function () {
                if ($(this).parent().is(':visible'))
                    $(this).show();
            });
            $('input[id=btnBack]').each(function () {
                if ($(this).parent().is(':visible'))
                    $(this).show();
            });
            $("label[id^='msgDefaultFilter']").each(function () {
                if ($(this).is(':visible'))
                    $(this).hide();
            });
        }
    });

    //Added by Komal Rawal for #1749
    //function CancelPreset() {
    //    $("#content_SaveFilters").css("display", "none");
    //    $("#DefaultFilters").css("display", "none");
    //    $("#PlanModulesSection").css("display", "block");
    //    $("#Filtersidebar").css("display", "block");
    //    $("#DivButtonsHome").css("display", "block");
    //}

    $('#content_2 ul li').on("click", function () {
        if ($(this).is(':visible')) {
            $('#content_2 ul li').each(function () {
                $(this).removeClass('active');
            });
            $(this).addClass('active');
        }
    });

    $("input[id^='chkdefaultpreset']").on('change', function (event) {
        event.stopPropagation();
        event.preventDefault();

        var chkCurrent = $(this);
        var checked = false;
        if ($(chkCurrent).is(":checked")) {
            //$(this).addClass('active')
            checked = true;
        }
        $("input[id^='chkdefaultpreset']").each(function () {
            $(this).prop("checked", false);
            //  $(this).removeClass('active')
        });
        var presetName = '';
        if (checked) {
            $(chkCurrent).prop("checked", true);
            presetName = $(chkCurrent).attr("id").replace('chkdefaultpreset_', '');
        }
        $.ajax({
            beforeSend: function (x) {
                myApp.hidePleaseWait();
            },
            url: '@Url.Content("~/Home/SaveDefaultPreset")',
            type: 'POST',
            dataType: 'json',
            data: { PresetName: presetName },
            success: function (data) {

            }
        });

    });

    function LoadSelectedFilter() {

        var filtername = '';
        $('#content_2 ul li').each(function () {
            if ($(this).is(':visible')) {
                if ($(this).hasClass('active')) {
                    filtername = $.trim($(this).text());
                }
            }
        });
        if (filtername == '') {
            alert('Please select at least one preset.'); //modified by Rahul for PL #1836 observation-8
            return false;
        }
        else {

            $.ajax({
                beforeSend: function (x) {
                    myApp.hidePleaseWait();
                },
                url: '@Url.Content("~/Home/SetFilterPresetName")',
                type: 'POST',
                dataType: 'json',
                data: { Filtername: filtername },
                success: function (data) {
                    var PlanId = $("#CurrentPlanId").val();

                    var url = "";
                    if ($("#PageTitle").val() == "Add Actuals") {
                        var url = '@Url.Content("~/Plan/AddActual?PlanId=")' + PlanId;
                    }
                    else if ($("#PageTitle").val() == "Reports")
                    {
                        var url = '@Url.Content("~/Report/Index")'
                    }
                    else
                    {
                        if ($('#ActiveMenu').val().toLowerCase() == '@Enums.ActiveMenu.Home.ToString().ToLower()') {
                            url = '@Url.Content("~/Home/Index?ActiveMenu=")' + '@Enums.ActiveMenu.Home' + '&currentPlanId=' + PlanId;
                        }

                        else {
                            if ($('#IsGridView').val() == "True") {

                                var pid = $("#CurrentPlanId").val();

                                url = '@Url.Content("~/Home/Index?ActiveMenu=")' + '@Enums.ActiveMenu.Plan' + '&currentPlanId=' + pid + '&isGridView=' + "True";

                            }
                            else {

                                url = '@Url.Content("~/Home/Index?ActiveMenu=")' + '@Enums.ActiveMenu.Plan' + '&currentPlanId=' + CurrentPlanId;

                            }
                        }
                    }
                    window.location.href = url;

                }
            });

        }

        $("#content_SaveFilters").css("display", "none");
        $("#DefaultFilters").css("display", "none");
        $("#PlanModulesSection").css("display", "block");
        $("#Filtersidebar").css("display", "block");


    }

    //End
    function DeletePreset(presetName, sender) {

        presetName = presetName.replace("&#39;", "'");
        if (confirm('Are you sure you want to delete preset ' + presetName + '?')) {
            var params = {};
            params.PresetName = presetName;
            $.ajax({
                url: '@Url.Content("~/Home/DeletePreset")',
                type: 'POST',
                dataType: 'json',
                data: $.param(params, true),
                success: function (data) {

                    if (data.isSuccess != 'undefined' && data.isSuccess != null && data.isSuccess != 'false') {
                        var liCount = $(sender).parents('ul').find('li').length
                        $(sender).parents().closest('li').remove();

                        if (liCount == 1)
                        {
                            $ ('ul[id=ulFilterPreset]').each(function () {
                                if ($(this).is(':visible'))
                                    $(this).hide();
                            });
                            $('input[id=btnProceed]').each(function () {
                                if ($(this).is(':visible'))
                                    $(this).hide();
                            });
                            $('input[id=btnCancel]').each(function () {
                                if ($(this).is(':visible'))
                                    $(this).hide();
                            });
                            if (!boolsearch) {
                                $('div[id=NoPreset]').each(function () {
                                    if ($(this).parent().is(':visible'))
                                        $(this).show();
                                });
                                $('input[id=btnBack]').each(function () {
                                    if ($(this).parent().is(':visible'))
                                        $(this).show();
                                });
                            }
                            else {
                                LoadPreset();
                            }

                        }

                        $('div[id=successMessageLoadPreset]').each(function () {
                            if ($(this).parent().is(':visible')) {
                                $(this).show();
                                $(this).find("span[id=spanSuccessMessageRole]").text(data.msg);
                                //  $(this).slideDown(600);
                                //$(this).slideDown(600).delay(3000).slideUp(600);
                            }
                        });
                    }
                }
            });
        }
    }
    function LoadPresentSerch(sender) {
        var txtSerch = $(sender).val();
        var isLoadPreset = true;
        $.ajax({
            type: 'POST',
            url: '@Url.Action("LastSetOfViews", "Home")',
            data: {
                PresetName: txtSerch,
                isLoadPreset: isLoadPreset,
            },
            //dataType: "json",
            async: false,
            success: function (data) {
                if (data != null) {
                    $('#DefaultFilters').css('display', 'block');
                    $('#DefaultFilters').html(data);

                }
                else {
                    $('#DefaultFilters').css('display', 'none');


                }

            }

        });
        boolsearch = true;
        $("#DefaultFilters").css("display", "block");
        $("#PlanModulesSection").css("display", "none");
        $("#Filtersidebar").css("display", "none");

    }
</script>