@model RevenuePlanner.Models.FinanceModelHeaders
@using RevenuePlanner.Helpers;
@{
    ViewBag.Title = "Finance";
    Layout = "";
    string CurrencySymbol = Sessions.PlanCurrencySymbol; //Modified by Rahul Shah for PL #2505 to apply multi currency on boost screen
}


<div class="light-blue-chart cf full-width-header" id="planHeader">
    <div class="plancart-box clearfix"> @* /* Div Added for #2219 - Bhumika */ *@
        <div class="white-chart">
            <p class="source-sans-probold" id="actualLabel" title="@Html.DisplayFor(model => model.ActualTitle)">@Html.DisplayFor(model => model.ActualTitle)</p>
            <p class="value source-sans-prolight" id="ActualID">@CurrencySymbol @Html.DisplayFor(model => model.Actual)</p> @*Modified by Rahul Shah for PL #2505 to apply multi currency on boost screen*@
                       
        </div>
        <div class="white-chart">
            <p class="source-sans-probold" id="plannedLabel" title="@Html.DisplayFor(model => model.PlannedTitle)">@Html.DisplayFor(model => model.PlannedTitle)</p>
            <p class="value source-sans-prolight" id="PlannedID">@CurrencySymbol @Html.DisplayFor(model => model.Planned)</p>  @*Modified by Rahul Shah for PL #2505 to apply multi currency on boost screen*@           
        </div>
        <div class="white-chart">
            <p class="source-sans-probold" id="forecastLabel" title="@Html.DisplayFor(model => model.ForecastTitle)">@Html.DisplayFor(model => model.ForecastTitle)</p>
            <p class="value source-sans-prolight" id="ForecastID">@CurrencySymbol @Html.DisplayFor(model => model.Forecast)</p> @*Modified by Rahul Shah for PL #2505 to apply multi currency on boost screen*@          
        </div>
        <div id="dvBudgetHeader" class="white-chart">
            <p class="source-sans-probold" id="budgetLabel" title="@Html.DisplayFor(model => model.BudgetTitle)">@Html.DisplayFor(model => model.BudgetTitle)</p>
            <p class="value source-sans-prolight" id="budgetID">@CurrencySymbol @Html.DisplayFor(model => model.Budget)</p> @*Modified by Rahul Shah for PL #2505 to apply multi currency on boost screen*@

        </div>
    </div>
        <div style="margin-top: 27px; width:30% ; margin-left: 22px;">
            <h2 id="lblfinanceTitle" style="display:block;"></h2>
            <div id="divFinanceBack" style="width:120px;float:left;display:block;">
                <button class="btn btn-blue text-shadow-blue source-sans-proregular" type="button" style="min-width:50%;height: 30px !important;" id="btnFinanceback" onclick="javascript:FinanceBack()">
                    < Back
                </button>
            </div>
        </div>

    </div>

<script type="text/javascript">
    formatBudgetValues("#budgetID");
    formatForecastValues("#ForecastID");
    formatPlannedValues("#PlannedID");
    formatActualValues("#ActualID");
    function FinanceBack() {
        //Modified for #1721
        myTreeGrid.editStop();
        var _mainTimeFrame = $('#ddlMainGridTimeFrame').val();
        var Columnsetval = $("#ddlColumnSet").val();
        var ColumnsCheckBox = $("#multipleselect_budget-select").find('label[class^="ui-corner-all"]').find("input");
        var CheckedColumns = "";
        $.each(ColumnsCheckBox, function () {
            var a = $(this).attr("aria-selected");
            if (a != undefined && a == "true") {
                CheckedColumns += $(this).val() + ",";
            }
            CheckedColumns.slice(0, -1);
        });
        if (pageName == "EditBudget" || pageName == "UserPermission") {
            if (pageName == "UserPermission") {
                $("#DivFilter").css('display', 'block');
            }
          
        RefreshBudgetDropdown();
        pageName = "MainGrid";
        var url = '@Url.Content("~/Finance/RefreshMainGridData/")';
            $('#divGridView').load(url + '?budgetId=' + backBudgetid + '&mainTimeFrame=' + _mainTimeFrame + '&ListofCheckedColums=' + CheckedColumns);
            ShowHideControls("MainGrid");           
        GetFinanceHeaderValue(backBudgetid, true);
        }   
        else {
            pageName = "EditBudget";
            var budgetDetailId = backlineBudgetDetailId;
            EditBudget(budgetDetailId, false, GlobalLevel, GlobalEditPermission);
            ShowHideControls("EditBudget");
        }
        $('#errorMsg').css('display', 'none');
        $('#SuccessMsg').css('display', 'none');
    }

   
  
    $(document).ready(function () {
        HeaderSectionName();
    });

    function HeaderSectionName()
    {
        
        if (pageName == "MainGrid") {
            $("#divFinanceBack").css("display", "none");
            //Added by Rahul shah on 13/10/2015 for PL#1667
            $("#lblfinanceTitle").text("Finance (Home)");
        }
        else if (pageName == "EditBudget") {
            $("#divFinanceBack").css("display", "block");
            //Added by Rahul shah on 13/10/2015 for PL#1667
            if (GlobalEditLevel == "Budget") {
                $("#lblfinanceTitle").text("Finance (Budget)");

            } else {
                $("#lblfinanceTitle").text("Finance (Forecast)");
            }
        }
        else {
            $("#divFinanceBack").css("display", "block");
            $("#lblfinanceTitle").text("Finance");
        }
    }

    function formatBudgetValues(idName) {
        var budgetValue = $(idName).html();
        if (typeof (maxsize) === 'undefined') maxsize = 5;
        $(idName).popover('destroy');
        setBootstrapTooltip(idName, budgetValue, maxsize, true);
    }

    function formatForecastValues(idName) {
        var budgetValue = $(idName).html();
        if (typeof (maxsize) === 'undefined') maxsize = 5;
        $(idName).popover('destroy');
        setBootstrapTooltip(idName, budgetValue, maxsize, true);
    }

    function formatPlannedValues(idName) {
        var budgetValue = $(idName).html();
        if (typeof (maxsize) === 'undefined') maxsize = 5;
        $(idName).popover('destroy');
        setBootstrapTooltip(idName, budgetValue, maxsize, true);
    }

    function formatActualValues(idName) {
        var budgetValue = $(idName).html();
        if (typeof (maxsize) === 'undefined') maxsize = 5;
        $(idName).popover('destroy');
        setBootstrapTooltip(idName, budgetValue, maxsize, true);
    }


  
</script>