@using RevenuePlanner.Helpers
<div id="header" class="span12">
    @* @Html.Partial("_nav") /*Navigation */ *@

    @* Header top section *@
    <div class="header-top clearfix">
        <div class="header-left">
                <a class="hive9modules hvr-grow active" href="@Url.Action("Index", "Home")">
                    <svg xml:space="preserve" style="enable-background:new 0 0 32 32;" viewBox="0 0 32 32" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" id="Layer_1" version="1.1">
                    <g id="XMLID_581_">
                    <g>
                    <g id="XMLID_165_">
                    <path d="M24.9,31L7.1,31c-0.5,0-1-0.4-1-1l0-24.2c0-0.3,0.1-0.5,0.3-0.7C6.6,5,6.8,4.9,7.1,4.9
				        l5.1,0l0,0.9l-5.1,0h0c0,0-0.1,0-0.1,0c0,0,0,0,0,0.1L7,30c0,0,0,0.1,0.1,0.1l17.8,0c0,0,0.1,0,0.1-0.1l0-24.2c0,0,0-0.1-0.1-0.1
				        l-5.7,0l0-0.9l5.7,0c0.5,0,1,0.4,1,1l0,24.2C25.9,30.6,25.4,31,24.9,31z" class="st0" id="XMLID_177_" />
                    <g id="XMLID_175_">
                    <polygon points="24.2,29.1 7.9,29.1 7.9,6.5 12.2,6.5 12.2,7.3 8.8,7.3 8.8,28.2 23.3,28.2
					        23.3,7.3 19.1,7.3 19.1,6.5 24.2,6.5 				" class="st0" id="XMLID_176_" />
                            </g>
                    <g id="XMLID_166_">
                    <path d="M16.6,4.2l-0.4-0.7c0.2-0.2,0.3-0.4,0.3-0.7c0-0.5-0.4-0.9-0.9-0.9c-0.5,0-0.9,0.4-0.9,0.9
					        c0,0.3,0.1,0.5,0.3,0.7l-0.4,0.7l-1,1.7l2,0l2,0L16.6,4.2z M15.6,3.2c-0.2,0-0.4-0.2-0.4-0.4c0-0.2,0.2-0.4,0.4-0.4
					        c0.2,0,0.4,0.2,0.4,0.4C16,3,15.8,3.2,15.6,3.2z" class="st0" id="XMLID_172_" />
                    <g id="XMLID_167_">
                    <path d="M15.6,1.9L15.6,1.9c0.5,0,0.9,0.4,0.9,0.9c0,0.3-0.1,0.5-0.3,0.7l0.4,0.7l0.2,0.3l1.9,0
						        l0,2.6l-6,0l0-2.6l1.7,0l0.2-0.3L15,3.4c-0.2-0.2-0.3-0.4-0.3-0.7C14.7,2.3,15.1,1.9,15.6,1.9 M15.6,3.2C15.8,3.2,16,3,16,2.8
						        c0-0.2-0.2-0.4-0.4-0.4c-0.2,0-0.4,0.2-0.4,0.4C15.1,3,15.3,3.2,15.6,3.2 M15.6,1L15.6,1L15.6,1L15.6,1c-1,0-1.8,0.8-1.8,1.8
						        c0,0.2,0.1,0.5,0.1,0.7l-0.1,0.2l-1.2,0l-0.9,0l0,0.9l0,2.6l0,0.9l0.9,0l6,0l0.9,0l0-0.9l0-2.6l0-0.9l-0.9,0l-1.4,0l-0.1-0.2
						        c0.1-0.2,0.1-0.5,0.1-0.7C17.3,1.8,16.5,1,15.6,1L15.6,1z" class="st0" id="XMLID_168_" />
                              </g>
                            </g>
                          </g>
                    <g id="XMLID_162_">
                    <rect height="3.8" width="0.9" class="st0" transform="matrix(0.7071 0.7071 -0.7071 0.7071 21.9557 -6.2066)" y="21.5" x="18" id="XMLID_164_" />
                    <rect height="0.9" width="3.8" class="st0" transform="matrix(0.7071 0.7072 -0.7072 0.7071 21.9592 -6.2062)" y="23" x="16.6" id="XMLID_163_" />
                          </g>
                    <path d="M12.7,16.2c-1.2,0-2.2-1-2.2-2.2c0-1.2,1-2.2,2.2-2.2c1.2,0,2.2,1,2.2,2.2
			        C15,15.2,14,16.2,12.7,16.2z M12.7,12.5c-0.8,0-1.4,0.6-1.4,1.4c0,0.8,0.6,1.4,1.4,1.4c0.8,0,1.4-0.6,1.4-1.4
			        C14.1,13.2,13.5,12.5,12.7,12.5z" class="st0" id="XMLID_159_" />
                    <g id="XMLID_156_">
                    <polygon points="20.9,13.6 19,11.7 17.1,13.6 16.5,13 19,10.5 21.5,13 			" class="st0" id="XMLID_158_" />
                    <path d="M10.1,21.7v-0.9c4.7,0,8.6-3.8,8.6-8.4c0-0.3,0-0.6,0-0.9l0.9-0.1c0,0.3,0,0.6,0,1
				        C19.5,17.5,15.3,21.7,10.1,21.7z" class="st0" id="XMLID_157_" />
                          </g>
                        </g>
                      </g>
                    </svg>
                    <span>Plan</span>
                </a>
        </div>

        <div class="home-header">
            @*<span class="hive9-logo">
                <img src="/Images/hiv9_logo.png">
            </span>*@ 
            <span class="hive9Logo-wrap">
                @*<span class="mrp-logo"></span>*@
                <img src="~/Content/images/hiv9_logo.png" />
            </span>
                <span class="hive9-name">
    @if (Sessions.User != null)
    {
                        <span class="title">@Sessions.User.Client</span>/*changed - added by uday #559*/
    }
    else
    {
                        <span class="title">Hive9 @Sessions.ApplicationName</span>/*changed - added by uday #559*/
    }
                </span>
        </div>

        <div class="header-right">
            <span>
                <a href="#" id="ContactSupport">Support</a>
                
            </span>
            <span>
                <a href="@Url.Action("LogOff", "Login")">Sign Out</a>
            </span>
        </div>
    </div>

    @* Header Navigation section *@
    <div class="navigation clearfix">
        @Html.Partial("_nav")

    @if (Sessions.User != null)
    {
        <div class="info-user cf user_title">
                <p class="username">
                    @Sessions.User.FirstName @Sessions.User.LastName                   
                </p>
                <span class="proflie_pic">
                    <img class="avatar-user img-circle" src="@Url.Action("UserPhoto", "Home")" alt="User avatar" />
                </span>
            </div>
            @*<div class="dropdown-info-user" style="display: none;">
            <ul class="drop-down-menu">
                    <li><a href="@Url.Action("Edit", "User")">Preferences</a></li>  @* Modified by Viral Kadiya on 11/04/2014 for PL Ticket #917
                <li><a href="#" id="ContactSupport">Support</a></li>
                <li><a href="@Url.Action("LogOff", "Login")">Sign Out</a></li>
                    
            </ul>
            </div>*@ @*/* Commented for #2219 - Bhumika */*@
    }
</div>

</div>

<script type="text/javascript">
    //user menu-dropdown
    $(".user-drop-down").click(function () {
        var X = $(this).attr('id');
        if (X == 1) {
            $(".dropdown-info-user").hide();
            $(".info-user").removeClass("selected");
            $(this).attr('id', '0');
        } else {
            $(".dropdown-info-user").show();
            $(".info-user").addClass("selected");

            //set width to dropdown container
            var vWidth = $(".info-user").width() + 20;
            $(".dropdown-info-user").css("width", vWidth);
            $(this).attr('id', '1');
        }
    });

    //This function hide dropdown when user click outside of container
    $(document).mouseup(function () {
        $(".dropdown-info-user").hide();
        $(".info-user").removeClass("selected");
        $(".user-drop-down").attr('id', '');
    });
</script>
