@using RevenuePlanner.Helpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon.png")">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    @RenderSection("nlFormContent", false)  

    @Styles.Render("~/Content/css/GetCSS")
    @*@Styles.Render("~/Content/css/GetCSSStyle")*@
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap-responsive.css")" type="text/css" />
    <!--font Awesome css-->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/font-awesome.min.css")" type="text/css" />
    <!--font Awesome css-->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/style_min_Aug_11.css")" type="text/css" />
    @*<link rel="stylesheet" href="@Url.Content("~/Content/css/style.css")" type="text/css" />*@
     <link rel="stylesheet" href="@Url.Content("~/Content/css/style_extended_min_Aug_2.css")" type="text/css" />
    @*<link rel="stylesheet" href="@Url.Content("~/Content/css/style_extended.css")" type="text/css" />*@

     @Scripts.Render("~/bundles/GetJS")
     <script type="text/javascript">
         //Added By: Rahul Shah on 25/09/2015 to address ticket PL #900 Exception handling in client side scripting
         //Summary: Added reference of script file and also initialize the javaScript variable 'logErrorUrl' so that errorhandler.js knows
         var logErrorUrl = '@Url.Action("LogJavaScriptError", "Error")';
     </script>
    @* <script src="@Url.Content("~/Scripts/js/errorhandler.js")" type="text/javascript"></script>*@
    <!-- #1746 Edited by Brad Gray 5 Dec 2015-->
    <script src="@Url.Content("~/Scripts/js/bootstrap-notify.min.js")"></script>
    <!-- Added by Arpita Soni to resolve issue in clicking of Review tab inside plan menu -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/bootstrap2-toggle.min.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap2-toggle.min.css")">
    <!-- #1746-->
    <!-- Hotjar Added 26 March 2016 PL#2085-->
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: 14175, hjsv: 5 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script'); r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
</head>
<body>
    <div class="container-fluid ">@* 'all-height' removed for #2219 - Bhumika *@

        @{
            string a = Convert.ToString(ViewBag.ActiveMenu);
            if (a == null)
            {
                a = "a";
            }
            else
            {
                a = a.ToLower();
            }
        }
        @Html.Hidden("ActiveMenu", a)
        <div class="row-fluid">
            @Html.Partial("_header")
        </div>
        <div>
            @RenderSection("PlanHeader", false)
        </div>
        <div class="row-fluid midl-wrap clearfix ">@* 'calc-height' removed for #2219 - Bhumika *@
            <div id="sidebar" class="span2">
                @RenderSection("Sidebar", false)
            </div>

            <div id="content_wraper" class="span10 all-height">
                <div id="MessageDisplay">
                    <div id="errorMsg" class="alert alert-error hide message-position-small">
                        <a class="close" id="aclose">×</a>
                        <strong>Error! </strong><span id="spanMsgError"></span>
                    </div>

                    <div id="SuccessMsg" class="alert alert-success hide message-position-small">
                        <a class="close">×</a>
                        <strong>Success. </strong><span id="spanMsgSuccess"></span>
                    </div>
                </div>
                @RenderBody()
            </div>
            <div class="clear"></div>
        </div>
        @*<div style="clear: both; margin-bottom: 50px;"></div>*@ 
    </div>
    <footer><span class="source-sans-proregular">Copyright &copy; @System.DateTime.Now.Year.ToString() Hive9, Inc. All rights reserved.<a href="http://www.hive9.com/ssa-sla" target="_blank">Terms of Use</a></span></footer>
    <div id="slidepanel" class="sidebar-form source-sans-proregular scrolled_div_form panel_right loading" style="display: none">
        <div id="slidepanel-container">
        </div>
    </div>
    <!--End sidebar-->
    <div id="div_contactSupport"></div>
    <span class="functioncallselector"></span>
     <!--// Updated by bhavesh :  Date : 21 Dec 2015
    // To Display & hide Loading Popup #1799-->
        <div id="pleasewaitmaindiv" data-notify="container" class="notify-load loading-progress" role="alert" data-notify-position="top-right" style="display: none; margin: 0px auto; position: fixed; transition: all 0.2s ease-in-out; z-index: 2500; top: 0px; left: 0px; width: 100%; background-color:#BCE8F1; color:#3A87AD;"></div>
</body>
</html>
@RenderSection("Scripts", false)

<script type="text/javascript">
    var sess_pollInterval = 60000;
    var sess_expirationMinutes = parseInt('@Session.Timeout');
    var sess_warningMinutes = sess_expirationMinutes - parseInt('@System.Configuration.ConfigurationManager.AppSettings["SessionWarningTime"]');
    var sess_intervalID;
    var sess_lastActivity;
    var warningRunTime = 0;

    function initSession() {
        sess_lastActivity = new Date();
        sessSetInterval();
        $(document).bind('keypress.session', function (ed, e) {
            sessKeyPressed(ed, e);
        });
    }
    function sessSetInterval() {
        sess_intervalID = setInterval('sessInterval()', sess_pollInterval);
    }
    function sessClearInterval() {
        clearInterval(sess_intervalID);

    }
    function sessKeyPressed(ed, e) {
        sess_lastActivity = new Date();
    }

    function sessInterval() {
        var now = new Date();
        //get milliseconds of differneces
        var diff = now - sess_lastActivity;
        //get minutes between differences
        var diffMins = (diff / 1000 / 60);
        if (diffMins >= sess_warningMinutes + warningRunTime) {
            sessClearInterval();
            $('#div_contactSupport').empty();
            var url = '@Url.Content("~/Common/LoadSessionWarning/")';
            $("#div_contactSupport").load(url);
            warningRunTime = parseInt('@System.Configuration.ConfigurationManager.AppSettings["SessionWarningTime"]');
        }
    }

    $.ajaxSetup({
        cache: false
    });
    var isAlerted = false;
    $(document).ready(function () {

        initSession();
        var IsOffline = '@RevenuePlanner.Helpers.Common.IsOffline';

        //// Start - Added by :- Pratik Chauhan on 22/09/2014 for PL ticket #468 to display maintenance page
        if (IsOffline.toLowerCase() == 'false') {
            $(window).attr('name', '@RevenuePlanner.Helpers.Sessions.User.UserId');
        }
        //// End - Added by :- Pratik Chauhan on 22/09/2014 for PL ticket #468 to display maintenance page

        $('#ContactSupport').click(function () {
            $("#div_contactSupport").empty();
            var url = '@Url.Content("~/Common/LoadSupportPartial/")';   //// Modified by Sohel Pathan on 23/05/2014 for internal review points.
            $("#div_contactSupport").load(url);
        });
        CheckDataInconsistency();

        // added by devanshi to set header highlighted dynamically for PL #2277 on 23-6-2016
        SetHeaderHighlighted();

        //set the progress bar position relative to header. zz
        $("#pleasewaitmaindiv").parent($('#header'));

    });
    // added by devanshi to set header highlighted dynamically for PL #2277 on 23-6-2016
    function SetHeaderHighlighted() {
        var menulist;
        @if (Sessions.AppMenus != null) {
            @: menulist = '@Html.Raw(Json.Encode(Sessions.AppMenus.Where(x => x.ParentApplicationId == null)))';
        }
        var json = JSON.parse(menulist);
        $.each(json, function (key, value) {
            var menucode = value.Code.toLowerCase().replace(/\s/g, '');
            var submenu = '';
            var activemenu = $('#ActiveMenu').val().toString().toLowerCase().replace(/\s/g, '');
            if (menucode == 'settings')
                submenu = 'pref'
            else
                submenu = menucode;
            if (submenu == activemenu) {
                $('.' + menucode).addClass('active');
                return;
            }
        });
    }
    function CheckHtmlTag(inputval) {
        var regex = /(>|<)/m; // validation for not allowing < and >
        var reg = /<[a-zA-Z|?!]|<(.|\n)*?>/g; // validation for not allowing htmltag means <script>, <dfg>

        if (reg.test(inputval) == true) {

            var ErrorText = 'do not allow HTMLTAGS';

            //(ErrorText);
            return false;
        }
        else
            return true;
    }
    function CheckDataInconsistency() {
        if ('@Sessions.IsDisplayDataInconsistencyMsg' == 'True') {
            var IsSessionClient = readCookie('DataClientId' + '@Sessions.User.ClientId.ToString().ToLower()');
            if (IsSessionClient != null) {
                alert('@Common.objCached.DataInconsistency');
                var retvalue = '@RevenuePlanner.Helpers.Common.SetSessionVariable()';
            }
        }
    }


    $(".alert").find(".close").on("click", function (e) {
        e.stopPropagation();
        e.preventDefault();
        $(this).closest(".alert").slideUp(300);/*SlideUp value change 400 to 300 by Mitesh Vaishnav on 04 july 2014*/
    });
    $.ajaxSetup({
        beforeSend: function (x) { //Called before every request
            initSession();
            myApp.showPleaseWait();
        },
        statusCode: {
            403: function () {
                myApp.hidePleaseWait();
                //this will catch any and all access denied errors
                if (isAlerted == false) {
                    isAlerted = true;
                    alert("@Common.objCached.SessionExpired");
                }

                window.location = "@Url.Content("~/login/Index")";

            }
        },
        error: function (x, e) { // Called when error occured
            //Modified By komal rawal for #2283 to manage 403 error
            if (x.status == "403") {
                myApp.hidePleaseWait();
                //this will catch any and all access denied errors
                if (isAlerted == false) {
                    isAlerted = true;
                    alert("@Common.objCached.SessionExpired");
                }
                window.location = "@Url.Content("~/login/Index")";

            }
            else {
                GoToLogin();
            }

        }
    });

    function GoToLogin() {
        myApp.hidePleaseWait();
        //In case of error and it is due to session timed out -  the above code was not working in case of div.load, used to display slidepanel
        var IsSessionExist = readCookie('IsSessionExist');
        if (IsSessionExist == 0 && isAlerted == false) {
            isAlerted = true;
            alert("@Common.objCached.SessionExpired");
            if (readCookie('ReturnURL') != "" && readCookie('ReturnURL') != null) {
                window.location = '@Url.Content("~/login/Index?ReturnUrl=")' + readCookie('ReturnURL');
            }
            else {
                window.location = "@Url.Content("~/login/Index")";
            }
        }
    }
    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }
    $(document).ajaxStop(function () { //Called after every ajax request completed
        myApp.hidePleaseWait();

    });
    var reason = 'user';
    function CheckUserSession(Sender, isSender) {
        $.ajax({
            type: 'GET',
            url: '@Url.Content("~/Home/CheckUserId/")?UserId=' + $(window).attr('name'),
            success: function (data) {
                reason = 'callback';
                if (data.returnURL == '#') {
                    if (isSender) {
                        $(Sender).click();
                    }
                    else {

                    }
                }
                else {
                    window.location = data.returnURL;
                }
            }
        });
    }

    // Added by bhavesh :  Date : 21 Dec 2015
    // To Display & hide Loading Popup #1799
    var myApp;
    var isloading = true;
    var isSetTimeout = false;
    myApp = myApp || (function () {

        return {
            showPleaseWait: function () {
                // Modified By Nishant Sheth
                // Desc:: To apply new ajax loader as per #1799

                $("#pleasewaitmaindiv").css("display", "block");
                $("#pleasewaitmaindiv").css("background-color", "#BCE8F1");
                $("#pleasewaitmaindiv").css("color", "#3A87AD");
                $("#loadingtext").text("Loading...");
                $('.loading-progress').removeClass('loading-success');
                $('.loading-progress').addClass('loading-load');
                isloading = true;

            },
            hidePleaseWait: function () {
                $("#pleasewaitmaindiv").css("background-color", "#DEF0D8");
                $("#pleasewaitmaindiv").css("color", "#458847");
                $("#loadingtext").text("Loaded Successfully...");
                $('.loading-progress').removeClass('loading-load');
                $('.loading-progress').addClass('loading-success');
                isloading = false;
                if (!isSetTimeout) {
                    setTimeout(closepopup, 200);
                }
            },

        };
    })();

    // Added by bhavesh :  Date : 21 Dec 2015
    // To Display & hide Loading Popup #1799
    var closepopupcount = 0;
    function closepopup() {
        isSetTimeout = true;
        if (!isloading) {
            closepopupcount = closepopupcount + 1;
            setTimeout(closeloadingpopup, 500, closepopupcount);
            isSetTimeout = false;
        }
        else {
            setTimeout(closepopup, 200);
        }
    }

    // Added by bhavesh :  Date : 21 Dec 2015
    // To Display & hide Loading Popup #1799
    function closeloadingpopup(closepopupcountinner) {
        if (!isloading) {
            if (closepopupcount == closepopupcountinner) {
                $("#pleasewaitmaindiv").css("display", "none");
            }
        }
    }

    var countplease = 0;
    //var resp = $.ajax({});
    //Added by Ashish Mistry for PL #1746


    //Added By Komal Rawal for new home page ui
    function ShowMessage(IsError, Message, time) {
        if (IsError) {
            $("#errorMsg").css("display", "block");
            $("#spanMsgError").empty();
            $("#spanMsgError").text(Message);
            $("#SuccessMsg").css("display", "none");
            if (time != 'undefined') {
                $('#errorMsg').slideDown(time);
            }
        }
        else {
            $("#errorMsg").css("display", "none");
            $("#SuccessMsg").css("display", "block");
            $("#spanMsgSuccess").empty();
            $("#spanMsgSuccess").text(Message);
            if (time != 'undefined') {
                $('#SuccessMsg').slideDown(time);
            }
        }
    }


</script>
