@using RevenuePlanner.Helpers
@using System.Configuration

@*@{
    var _isDisplayLayout = "";

    if (Convert.ToString(ConfigurationManager.AppSettings["ShowBookmark"]) != null)
    {
        _isDisplayLayout = "yes";
    }
    else
    {
        _isDisplayLayout = "no";
    }

}*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon.png")">
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex">

    @Styles.Render("~/Content/css/GetCSSForLogin")
    <link rel="stylesheet" href="@Url.Content("~/content/css/style_extended_min_aug_2.css")" type="text/css" />
    @Scripts.Render("~/bundles/GetJSForLogin")
    <script type="text/javascript">
        //Added By: Rahul Shah on 25/09/2015 to address ticket PL #900 Exception handling in client side scripting
        //Summary: Added reference of script file and also initialize the javaScript variable 'logErrorUrl' so that errorhandler.js knows
        var logErrorUrl = '@Url.Action("LogJavaScriptError", "Error")';
    </script>
    <script src="@Url.Content("~/Scripts/js/errorhandler.js")" type="text/javascript"></script>
    @*Add By Nishant Sheth #1796*@
    <script src="@Url.Content("~/Scripts/js/bootstrap-notify.min.js")"></script>
    <!-- Hotjar ReAdded 26 March 2016-->
    @*<script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: 14175, hjsv: 5 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script'); r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>*@
</head>
<body class="login-sect"> @*/* Edited for #2219 - Bhumika */*@
    @* Start - Added by :- Sohel Pathan on 22/05/2014 for PL #469 *@
    <style type="text/css">
        .icon-info-support {
            width: 300px;
        }
    </style>
    @* End - Added by :- Sohel Pathan on 22/05/2014 for PL #469 *@
    <div class="container-fluid all-height">

        <div class="row-fluid">
            <div id="header" class="span12">
                @*  <div class="hive9-logo"></div>*@
                <span class="title ">@Sessions.ApplicationName</span> @*changed - added by uday #559*/*@
                <div class="mrp-logo"></div>
            </div>
        </div>
        @*commented by Rahul Shah on 27/01/2016 for PL #1932*@
        @*PL#1441 added by dashrath Prajapti*@
        @*<div class="login-header" id="_loginLayout">
            <img src="~/Content/images/infoGamePlan-Icon.png">
            <p>We recently moved to a new web host, <a href="https://gameplan.hive9.com/" target="_blank">gameplan.hive9.com</a>. Please remember to update your bookmark. </p>
        </div>*@
        @*<div class="row-fluid calc-height">*@
        <div class="row-fluid calc-height-login">


            <div class="span12">
                <div id="errorMessage" class="alert alert-error hide">
                    <a class="close">×</a>
                    <strong>Error!</strong>
                    <div id="cErrors">@Html.ValidationSummary(true)</div>
                </div>
                <div id="TimeOuterrorMessage" class="alert alert-error hide" style="float: left; margin-left: 200px; width: 70%; margin-top: 5px; border: 1px solid;">
                    <a class="close">×</a>
                    <strong style="float: left;">Timed out.</strong>
                    <div id="timeOutcErrors" style="float: left; width: 470px;">&nbsp;You were logged out of Plan<sup>TM</sup> due to inactivity. Please log in again.</div>
                </div>
                <div class="login-wrapper">
                    @RenderBody()

                    <div class="icon-info-support conv_helveticaltstd-light">

                        <a href="#" id="ContactSupport">
                            <div class="support-icon"><i class="fa fa-question-circle" aria-hidden="true"  title="Contact Support" ></i></div> @*/*Edited for #2219 */*@
                            Contact Support
                        </a>
                        @* Start - Added by :- Pratik Chauhan on 22/09/2014 for PL ticket #468 to display maintenance page *@
                        @if (!@Common.IsOffline)
                        {

                            <br />
                            @Sessions.ApplicationName @Html.Raw(" Release [")@ViewBag.ApplicationReleaseVersion@Html.Raw("]")    @* Modified by :- Sohel Pathan on 22/05/2014 for PL #469 to display release version from database *@



                        }
                            </div>
                            @* End - Added by :- Pratik Chauhan on 22/09/2014 for PL ticket #468 to display maintenance page *@
                        </div>
                    </div>
                </div>
            </div>
            <div id="div_contactSupport"></div>
        </body>
    </html>
    <script type="text/javascript">


    $.ajaxSetup({
        beforeSend: function (x) { //Called before every request
            myApp.showPleaseWait();
        },
        error: function (x, e) { // Called when error occured
            myApp.hidePleaseWait();
        }
    });
    $(document).ajaxStop(function () { //Called after every ajax request completed
        myApp.hidePleaseWait();
    });
    // Modify By Nishant Sheth
    // Desc :: Reg to consist please wait dialog box with whole application #1796
    var myApp;
    //Updation start 09/09/2016 kausha somaiya #2460
    //var pleaseWaitDiv = $('<div data-notify="container" class="span4 alert alert-info notify-load animated fadeInDown" role="alert" data-notify-position="top-right" style="display: none; margin: 0px auto; position: fixed; transition: all 0.2s ease-in-out; z-index: 2500; top: 20px; right: 20px;"><button type="button" aria-hidden="true" class="close" data-notify="dismiss" style="display: none; position: absolute; right: 10px; top: 5px; z-index: 2502;">×</button><span data-notify="icon"></span> <span data-notify="message"><strong>Loading...</strong></span></div>');
    var pleaseWaitDiv = $('<div id="pleasewaitmaindiv" data-notify="container" class="notify-load loading-progress" role="alert" data-notify-position="top-right" style="display: none; margin: 0px auto; position: fixed; transition: all 0.2s ease-in-out; z-index: 2500; top: 0px; left: 0px; width: 100%; background-color:#BCE8F1; color:#3A87AD;"></div>');
    //updation end #2460
    myApp = myApp || (function () {

        return {
            showPleaseWait: function () {
                // Modified By Nishant Sheth
                // Desc:: To apply new ajax loader as per #1799

                pleaseWaitDiv.css("display", "block");
                //insertation start 09/09/2016 kausha somaiya #2460
                $('.loading-progress').removeClass('loading-success');
                $('.loading-progress').addClass('loading-load');
                //insertation end 09/09/2016 kausha somaiya #2460
            },
            hidePleaseWait: function () {
                pleaseWaitDiv.css("display", "none");
                //insertation start 09/09/2016 kausha somaiya #2460
                $('.loading-progress').removeClass('loading-load');
                $('.loading-progress').addClass('loading-success');
                //insertation end 09/09/2016 kausha somaiya #2460
            },

        };
    })();

    var countplease = 0;
    // End by Nishant Sheth
    $(document).ready(function () {
        $("body").append(pleaseWaitDiv);
            @*if ('@_isDisplayLayout' == "yes") {
                var _isTrue = '@Convert.ToString(ConfigurationManager.AppSettings["ShowBookmark"])';
                if (_isTrue == 'false') {
                    $("#_loginLayout").hide()
                }
                else {
                    $("#_loginLayout").show()
                }
              }*@


        $(".alert").find(".close").on("click", function (e) {
            e.stopPropagation();
            e.preventDefault();
            $(this).closest(".alert").slideUp(400);
        });

        $('#ContactSupport').click(function () {
            $("#div_contactSupport").empty();
            var url = '@Url.Content("~/Login/LoadSupportPartialOnLogin/")';     //// Modified by Sohel Pathan on 23/05/2014 for internal review points.
            $("#div_contactSupport").load(url);
        });

    });
    </script>
