@using RevenuePlanner.Helpers
@using RevenuePlanner.BDSService
@using RevenuePlanner.Models

@{
    List<Custom_Dashboard> DashboardList = ViewBag.DashboardList;
    string MeasureConnStr = Convert.ToString(ViewBag.MeasureConnStr);
    string AuthorizedReportAPIUserName = Convert.ToString(ViewBag.AuthorizedReportAPIUserName);
    string AuthorizedReportAPIPassword = Convert.ToString(ViewBag.AuthorizedReportAPIPassword);
    string ApiUrl = Convert.ToString(ViewBag.ApiUrl);
}

<!-- Added by Arpita Soni for Ticket #2202 on 05/23/2016 -->
<nav class="main-nav">
    <ul class="cf menu-content">
        @if (Sessions.AppMenus != null && Sessions.AppMenus.Count() > 0)
        {
            int MenuCount = 1;
            foreach (Menu o in Sessions.AppMenus.Where(x => x.ParentApplicationId == null))
            {
                string menuname = Convert.ToString(o.Name);
                string hrefLink = "#";
                if (MenuCount < 10)
                {
                    if (o.Name.ToLower() == "custom")
                    {
                        if (DashboardList != null && DashboardList.Count > 0)
                        {
                            string classname = Convert.ToString(o.Code.ToLower().Replace(" ", ""));
                            classname = classname + " fix-width";
                            classname = classname + " dropdown";
                            <li class="@classname">
                                <a href="@hrefLink">
                                    <span class="@o.CustomCss"></span>
                                    <span class="nav-text">@menuname.ToUpper()</span>
                                    <span class="dd-arrow"><i class="fa fa-caret-down"></i></span>
                                </a>
                                <ul class="dropdown-menu">
                                    @foreach (var Dashboard in DashboardList)
                                    {
                                        string liid = "CustomReportli" + Dashboard.Id;
                                        string CustomCSS = "fa fa-caret-right";
                                        if (!string.IsNullOrEmpty(Dashboard.CustomCSS))
                                        {
                                            CustomCSS = Dashboard.CustomCSS;
                                        }
                                        <li id='@liid'>
                                            <a class="budget">
                                                <span class="fa-report-icon"><span class="@CustomCSS"></span></span><span class="nameText">@Dashboard.DisplayName.ToUpper()</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                    }
                    else
                    {
                        if (!Sessions.AppMenus.Where(x => x.ParentApplicationId == o.MenuApplicationId).Any())
                        {
                            if (!string.IsNullOrEmpty(Convert.ToString(o.Description)))
                            {
                                hrefLink = o.Description;
                            }
                            else
                            {
                                hrefLink = Url.Action(Convert.ToString(o.ActionName), Convert.ToString(o.ControllerName));
                            }
                        }
                        string classname = Convert.ToString(o.Code.ToLower().Replace(" ", ""));
                        classname = classname + " fix-width";
                        if (Sessions.AppMenus.Where(x => x.ParentApplicationId == o.MenuApplicationId).Count() > 0)
                        {
                            classname = classname + " dropdown";
                        }
                        string LiId = "Measure_" + o.MenuApplicationId;
                        <li class="@classname" id="@LiId">
                            <a href="@hrefLink">
                                <span class="@o.CustomCss"></span>@*Added by Akashdeep Kadia for Ticket #2275 on 10-June-2016*@
                                <span class="nav-text">@menuname.ToUpper()</span>
                                @if (Sessions.AppMenus.Where(x => x.ParentApplicationId == o.MenuApplicationId).Count() > 0)
                                {
                                    <span class="dd-arrow"><i class="fa fa-caret-down"></i></span>
                                }
                            </a>
                            <ul class="dropdown-menu">
                                @foreach (Menu submenu in Sessions.AppMenus.Where(x => x.ParentApplicationId == o.MenuApplicationId))
                                {
                                    <li>
                                        <a href="@Url.Action(Convert.ToString(submenu.ActionName), Convert.ToString(submenu.ControllerName))">
                                            @submenu.Name
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                    MenuCount++;
                }
                else
                {
                    @Html.Raw(@Html.GetMenuString(MenuCount, Sessions.AppMenus.Count(), o))
                    MenuCount++;
                }
            }
        }
    </ul>
</nav>

<script>
    $(document).ready(function () {
        //$('.dropdown-menu').toggleClass('dropdown-menu');
        ////Modified by Akashdeep Kadia for Ticket #2275 on 16-June-2016
        //$('.dropdown').click(
        $('.dropdown').hover( // Method changed by Bhumika #2312
              function () {
                  if ($(this).hasClass('finance') || $(this).hasClass('settings')) {
                      if ($('.dropdown.open').length > 0) {
                          if ($(this).hasClass('open')) {
                              $(this).toggleClass('open');
                          } else {
                              $('.dropdown.open').removeClass('open');
                              $(this).toggleClass('open');
                          }
                      } else {
                          $(this).toggleClass('open');
                      }
                  }
              });
    });

    $(document).on("click", "li[id^='Measure']", function () {
        $('.menu-content li').removeClass('active');
        $(this).addClass('active');
        var DashId = $(this).attr('id').replace('Measure_', '');
        var url = '@Url.Action("Index", "MeasureDashboard", new { DashboardId = "FIRST" })';
        window.location.href = url.replace('FIRST', DashId);
    });
</script>

