@using RevenuePlanner.Helpers
@using RevenuePlanner.BDSService

<!-- Added by Arpita Soni for Ticket #2202 on 05/23/2016 -->
<nav class="main-nav">
    <ul class="cf menu-content">
        @if (Sessions.AppMenus != null && Sessions.AppMenus.Count() > 0)
        {
            foreach (Menu o in Sessions.AppMenus.Where(x => x.ParentApplicationId == null))
            {
                string menuname = Convert.ToString(o.Name);
                string hrefLink = "#";

                if (!Sessions.AppMenus.Where(x => x.ParentApplicationId == o.MenuApplicationId).Any())
                {
                    hrefLink = Url.Action(Convert.ToString(o.ActionName), Convert.ToString(o.ControllerName));
                }
                string classname = Convert.ToString(o.Code.ToLower().Replace(" ", ""));
                if (Sessions.AppMenus.Where(x => x.ParentApplicationId == o.MenuApplicationId).Count() > 0)
                {
                    classname = classname + " dropdown";
                }
            <li class="@classname">
                <a href="@hrefLink">
                    <span class="@o.CustomCss"></span>@*Added by Akashdeep Kadia for Ticket #2275 on 10-June-2016*@
                    <span class="nav-text">@menuname.ToUpper()</span>
                    @if (Sessions.AppMenus.Where(x => x.ParentApplicationId == o.MenuApplicationId).Count() > 0)
                    {
                        <span class="dd-arrow"><i class="fa fa-caret-down"></i></span>
                    }
                </a>


                <ul class="dropdown-menu">
                    @foreach (Menu submenu in Sessions.AppMenus.Where(x => x.ParentApplicationId == o.MenuApplicationId))
                    {
                        <li>
                            <a href="@Url.Action(Convert.ToString(submenu.ActionName), Convert.ToString(submenu.ControllerName))">
                                @submenu.Name
                            </a>
                        </li>                 
                    }
                </ul>
            </li>
                    
            }
        }
    </ul>
</nav>

<script>
    $(document).ready(function () {
        //$('.dropdown-menu').toggleClass('dropdown-menu');
        ////Modified by Akashdeep Kadia for Ticket #2275 on 16-June-2016
        //$('.dropdown').click(
        $('.dropdown').hover( // Method changed by Bhumika #2312
              function () {
                  if ($(this).hasClass('finance') || $(this).hasClass('settings')) {
                      if ($('.dropdown.open').length > 0) {
                          if ($(this).hasClass('open')) {
                              $(this).toggleClass('open');
                          } else {
                              $('.dropdown.open').removeClass('open');
                              $(this).toggleClass('open');
                          }
                      } else {
                          $(this).toggleClass('open');
                      }
                  }
              });
    });

</script>

