@using RevenuePlanner.Helpers
@using RevenuePlanner.BDSService
<nav class="main-nav">
    <ul class="cf">
        @if (Sessions.AppMenus != null && Sessions.AppMenus.Count() > 0)
        {
            foreach (Menu o in Sessions.AppMenus)
            {
                string menuname = Convert.ToString(o.Name);
                //if (o.IsEnable)
                //int code = Sessions.RolePermission.Where(m => m.Code == o.Code).Select(m => m.PermissionCode).SingleOrDefault();
                //if (code != 0)
                //{  
                    <li class="@menuname.ToLower()"><a href="@Url.Action(Convert.ToString(o.ActionName), Convert.ToString(o.ControllerName))">
                        <div class="icon"></div>
                        <span class="source-sans-probold">@menuname.ToUpper()</span></a></li>@*/*changed - added by uday #559**@
                //}
            }
        }
    </ul>
</nav>


@* else
                {
                     <li class="@menuname.ToLower()"><a href="#">
                        <div class="icon"></div>
                        <span class="source-sans-probold text-shadow-white">@menuname.ToUpper()</span></a></li>
                }*@