@model RevenuePlanner.Models.HomePlanModelHeader

<div class="white-chart">
    <p class="source-sans-probold">Activity Distribution</p>
    <div id="chart2" style="width: 140px; height: 85px; margin-left: 34px; margin-top: 32px;"></div>
    @*<div class="graph">
            <img src="@Url.Content("~/Content/images/graph-chart-small.jpg")" alt="graph" />
        </div>*@
</div>
<div class="white-chart">
    <p class="source-sans-probold" title="Tactics">Tactics</p>
    @*<p class="value source-sans-prolight">@Html.Label(ViewData["TacticCount"].ToString())</p>*@
    <p class="value source-sans-prolight" id="ptacticcount">@Html.DisplayFor(model => model.TacticCount)</p>
</div>
<div  class="white-chart  bulldoller-bg">
    <p class="source-sans-probold" id="pcostLabel" title="@Html.DisplayFor(model => model.costLabel)">@Html.DisplayFor(model => model.costLabel)</p>
    <p class="value source-sans-prolight" id="pbudget">$ @Html.DisplayFor(model => model.Budget)</p>
     <a class="value source-sans-prolight" style="cursor:pointer;" id="DivBulldollerbg" ></a>
</div>
<div id="DivBullhornbg" class="white-chart">
    <p class="source-sans-probold" id="pmqlLabel" title="@Html.DisplayFor(model => model.mqlLabel)">@Html.DisplayFor(model => model.mqlLabel)</p>
    <p class="value source-sans-prolight" id="pMQLs">@Html.DisplayFor(model => model.MQLs)</p>
                
    <!--Added By: Maninder Singh Wadhva-->
    <!--Addressed PL Ticket: 37,38,47,49-->
    <!-- Modified font class by kapil - 100614 - #508 -->
    <p id="pMQLImproved" class="small-value source-sans-prosemibold">@Html.DisplayFor(model => model.PercentageMQLImproved)</p>
</div>

@*<div class="wraper-title" style="display:none;">
    <h3 class="source-sans-prolight timeframe ">@Html.Raw("Upcoming activities ")
        <br />
    </h3>
    <form id="nl-formAct" class="nl-form-plan-title without-margin upcoming-activities">
        <select id="drpthisyear" data-default="0%" class="">
            <script>
                var time = @Html.Raw(Json.Encode(Model.UpcomingActivity))
                populateNFActivity(time, "drpthisyear");
            </script>
        </select>
        <div class="nl-overlay"></div>
        <script>
            nlform = new NLForm(document.getElementById('nl-formAct'));
        </script>
        
    </form>
</div>*@

<div >
    <h2 style="color:white;font-weight:normal;font-size: 28.5px;">@Html.Raw("Marketing Summary")</h2>
</div>

<script type="text/javascript">
    SetBudget("#pbudget");
    SetPriceValue("#pMQLs");
    
    if (typeof filters != "undefined") {
        var SelectedPlansCount = filters.SelectedPlans.length;
        if (SelectedPlansCount > 1) {
            $('#DivBulldollerbg').click(function () { return false; });
        }
        else {
            $(document).on("click", "#DivBulldollerbg", function (e) {
                window.location.href = '@Url.Action("Budgeting", "Plan")';
                });
        }
    }
    else {
        $(document).on("click", "#DivBulldollerbg", function (e) {
            window.location.href = '@Url.Action("Budgeting", "Plan")';
            });
    }

    


</script>
