@model RevenuePlanner.Models.HomePlanModelHeader
@using RevenuePlanner.Helpers;
@{
    string activeMenu = Convert.ToString(ViewBag.ActiveMenu);
    string planid = ViewBag.strplanid;
    string CurrencySymbol = Sessions.PlanCurrencySymbol; // Add By Nishant Sheth #2497
}


<link href="@Url.Content("~/Content/css/dhtmlxchart_1.css")" rel="stylesheet" type="text/css" />
@*<script type="text/javascript" src="@Url.Content("~/Scripts/dhtmlxchart.js")"></script>*@

  @*  Added By Komal Rawal for new UI of homepage*@
<div  class="planheader-title">
      
    <h5 id="lblMarkringActivitiesTitle" style="display:none;">Marketing Calendar</h5>
  
       @if (Model.plans != null && Model.plans.Count > 0)
       {
        <form id="nl-form2" class="nl-form-plan-title  plantitle" style="display:none;"> @*/* Edited for #2219 - Bhumika - top-margin removed */*@


            <select id="dropdown-plan-title" data-default="0%" class="" maxlength="40" >
                <script>
                    var plan = @Html.Raw(Json.Encode(Model.plans));
                    //populateNF(plan, "dropdown-plan-title");
                </script>
            </select>
            <div class="nl-overlay"></div>
            @*<script>
                var nlform = new NLForm(document.getElementById('nl-form2'));
    </script>*@

        </form>
       }
      <h2 id="lblCreatePlanTitle" style="display:none;">Create a new plan</h2>
 
</div>

@* planheader-title - Html moved = #2219 - Bhumika *@

  <div class="plancart-box clearfix" style="max-width:655px">
   @* white-cart div position change for #2312 *@   


      <div class="white-chart activity-distribute">
          <p class="source-sans-probold">Activity Distribution</p>
          <div id="chart2" style="width: 140px; height: 85px; margin-left: 34px; margin-top:38px;"></div>
          @*<div class="graph">
                <img src="@Url.Content("~/Content/images/graph-chart-small.jpg")" alt="graph" />
            </div>*@
</div>
<div  class="white-chart  bulldoller-bg">
    <p class="source-sans-probold" id="pcostLabel" title="@Html.DisplayFor(model => model.costLabel)">@Html.DisplayFor(model => model.costLabel)</p>
    <p class="value source-sans-prolight" id="pbudget">@CurrencySymbol@Html.DisplayFor(model => model.Budget)</p>
    <p class="value source-sans-prolight" id="honeybudget" style="display:none"></p>  @*added by Rahul shah on 10/12/2015 for PL #1803*@
     <a class="currency-value source-sans-prolight" style="cursor:pointer;" id="DivBulldollerbg" title="View Budget and Cost">@Sessions.PlanCurrencySymbol</a>
</div>
      @*added by Rahul shah on 11/12/2015 for PL #1803*@
      
      <div class="white-chart">
          <p class="source-sans-probold" title="Tactics">Tactics</p>
          @*<p class="value source-sans-prolight">@Html.Label(ViewData["TacticCount"].ToString())</p>*@
          <p class="value source-sans-prolight" id="ptacticcount">@Html.DisplayFor(model => model.TacticCount)</p>
      </div>

      
      <div id="DivBullhornbg" class="white-chart">
          <p class="source-sans-probold" id="pmqlLabel" title="@Html.DisplayFor(model => model.mqlLabel)">@Html.DisplayFor(model => model.mqlLabel)</p>
          <p class="value source-sans-prolight" id="pMQLs">@Html.DisplayFor(model => model.MQLs)</p> @*added by Rahul shah on 10/12/2015 for PL #1803*@
          <p class="value source-sans-prolight" id="HoneyMQLs" style="display:none"></p>
          <!--Added By: Maninder Singh Wadhva-->
          <!--Addressed PL Ticket: 37,38,47,49-->
          <!-- Modified font class by kapil - 100614 - #508 -->
          <p id="pMQLImproved" class="small-value source-sans-prosemibold">@Html.DisplayFor(model => model.PercentageMQLImproved)</p>
      </div>
      <div class="white-chart" id="pdfchart" style="visibility: hidden; width: 0; padding:0">
          <p class="source-sans-probold">Activity Distribution</p>
          <div id="chartpdf" style="width: 140px; height: 85px; margin-left: 34px; margin-top: 38px;"></div>
          @*<div class="graph">
                <img src="@Url.Content("~/Content/images/graph-chart-small.jpg")" alt="graph" />
            </div>*@
      </div>
</div>
  
@Html.Hidden("ActiveMenu", activeMenu)
<script type="text/javascript">
    var _resubmissionLabelValues = [];
    var Planid = '@planid';
    var GridId = "liGrid";
    var CalendarId = "liCalender";
    SetBudget("#pbudget");
    SetPriceValue("#pMQLs");
    if (Planid != "0") {
        if(Planid == "")
        {
            Planid = @Sessions.PlanId;
        }
        if (typeof filters != "undefined") {
            var SelectedPlansCount = filters.SelectedPlans.length;
            if (SelectedPlansCount > 1) {
                $('#DivBulldollerbg').click(function () { return false; });
            }
            else {
                $(document).on("click", "#DivBulldollerbg", function (e) {
                    var url = '@Url.Content("~/Plan/Budgeting?PlanId=")' + Planid;
                    window.location.href = url;
                });
            }
        }
        else {
            $(document).on("click", "#DivBulldollerbg", function (e) {
                var url = '@Url.Content("~/Plan/Budgeting?PlanId=")' + Planid ;
                window.location.href = url;
            });
        }
    }
    else
    {
        $('.white-chart').removeClass("bulldoller-bg");
    }




    //Added by Komal Rawal for new home page UI
    if (($('#ActiveMenu').val().toLowerCase() == "plan")) {
        if (Planid !="0") {
            $("#lblMarkringActivitiesTitle").hide();
            $("#nl-form2").show();
        }
        else {
            $("#lblCreatePlanTitle").show();
            $("#nl-form2").hide();
        }
    }
    else {
        $("#lblMarkringActivitiesTitle").show();
        $("#nl-form2").hide();
    }

    function GetHealderData(selectedPlanIds,Cid, OId,Tacticids,StatusId,Tabid,IsHeaderActuals) {
      
        // Modified By Nishant Sheth add tab id as argument:  Desc header value wrong with plan tab
        var CustomId = "";
        var OwnerIds = "";
        var TacticTypeids = "";
        var StatusIds = "";

        if( typeof Cid  != "undefined" || typeof OId  != "undefined" ||typeof Tacticids  != "undefined" ||typeof StatusId  != "undefined" )
        {
            CustomId = Cid;
            OwnerIds = OId;
            TacticTypeids = Tacticids;
            StatusIds = StatusId;
        }
        var newUrl = '';
        if ($('#ActiveMenu').val().toLowerCase() == "@Enums.ActiveMenu.Home.ToString().ToLower()") {
            newUrl = '@Url.Action("GetPlanByMultiplePlanIDs", "Plan")';
            selectedPlanIds = selectedPlanIds.toString()   //Modified By Komal Rawal on 22-02-16 to get proper value in header according to filter on add or copy tactic
        }
        // Modified by Rushil Bhuptani on 23/06/2016 to solved the issue of header data not shown due to change of menu in budget.
        else if ($('#ActiveMenu').val().toLowerCase() == "@Enums.ActiveMenu.Plan.ToString().ToLower()" || $('#ActiveMenu').val().toLowerCase() == "@Enums.ActiveMenu.Finance.ToString().ToLower()") {
            // var ligridclass=$("#liGrid").attr("class");
            newUrl = '@Url.Action("GetPlanByPlanID", "Plan")';
            @*newUrl = '@Url.Action("GetPlanByPlanIDPerformance", "Plan")';// Change By Nishant Sheth // Desc :: Get records from cache memory*@ 
            selectedPlanIds = parseInt(CurrentPlanId);
        }
        if(selectedPlanIds == '')
        {
            return;
        }
        $.ajax(
        {
            type: "POST", //Modified BY Komal Rawal for #1991 to solve json length problem in passing query string.
            cache: false,
            url: newUrl,
            data: {
                planid: selectedPlanIds,
                activeMenu: $('#ActiveMenu').val().toLowerCase(),
                year: isQuater,
                CustomFieldId:CustomId.toString(),
                OwnerIds:OwnerIds.toString(),
                TacticTypeids:TacticTypeids.toString(),
                StatusIds:StatusIds.toString(),
                TabId:Tabid,
                IsHeaderActuals : IsHeaderActuals
            },
            dataType: "json",
            success: function (data) {
                if (data != null) {

                    $.each(data.lstHomePlanModelHeader, function (index, obj) {
                        if (index == "MQLs") {
                            $("#pMQLs").html(obj);
                            SetPriceValue("#pMQLs");
                        }
                        else if (index == "Budget") {
                            $("#pbudget").html(obj);
                            SetBudget("#pbudget");
                        }
                        else if (index == "TacticCount") {
                            $("#ptacticcount").html(obj);
                        }
                        else if (index == "mqlLabel") {
                            $("#pmqlLabel").html(obj);
                        }
                        else if (index == "costLabel") {
                            $("#pcostLabel").html(obj);
                        }
                        else if (index == "PercentageMQLImproved") {
                            /// Added By: Maninder Singh Wadhva
                            /// Addressed PL Ticket: 37,38,47,49

                            var pMQLImproved = $("#pMQLImproved");
                            pMQLImproved.removeClass("greenfont");
                            pMQLImproved.removeClass("redfont");

                            var divBullhornbg = $('#DivBullhornbg');
                            divBullhornbg.removeClass("bullhorn-bg-disabled");
                            divBullhornbg.removeClass("bullhorn-bg");
                            if (obj != null) {
                                divBullhornbg.addClass("bullhorn-bg");
                                if (obj < 0) {
                                    pMQLImproved.html(FormatNumber(obj, true))
                                    pMQLImproved.addClass("redfont");
                                }
                                else {
                                    pMQLImproved.html("+" + FormatNumber(obj, true))
                                    pMQLImproved.addClass("greenfont");
                                }
                            }
                            else {
                                divBullhornbg.addClass("bullhorn-bg-disabled");
                                pMQLImproved.html('---');
                            }
                        }

                    });

                }
            }
        });
    }


    function GetNumberOfActivityPerMonByPlanId(selectedPlanIds, strParam,Cid, OId,Tacticids,StatusId,Tabid,IsHeaderActuals) {
        var _filters = {
            OwnerIds: [],
            TacticTypeids:[],
            StatusIds:[],
            customFieldIds:[]

        };
        //Modified BY Komal rawal for #1929 proper Hud chart and count
        var ID = CalendarId;
        if($('#IsGridView').val() != undefined && $('#IsGridView').val() != 'undefined' && $('#IsGridView').val() != null && $('#IsGridView').val() != "" ){
            if ($('#IsGridView').val().toLowerCase() == "true") {
                ID = GridId;
            }
    }
            Tabid = ID;
      
    $("#ulSelectedOwner li input:checkbox:checked").map(function(){
        _filters.OwnerIds.push($(this).attr("id"));
    });

    $("#ulTacticType li input:checkbox:checked").map(function(){
        var Value = $(this).attr("id").replace("CbTT", "");
        _filters.TacticTypeids.push(Value);
    });

    $("#ulStatus li input:checkbox:checked").map(function(){
        var Value = $(this).attr("id");
        _filters.StatusIds.push(Value);
    });

    $('#divCustomFieldsFilter').find("input[type=checkbox]").each(function () {
        if ($(this).attr('checked') == 'checked') {
            var chkid = $(this).attr("id");
            if (chkid != undefined && chkid != 'undefined') {
                _filters.customFieldIds.push(chkid);
            }
        }
    });

    //Added for "Select All" case of #1952 and #1993 By Maitri Gandhi on 16/2/2016
    var CheckedCounter = 0, AllCounter = 0, id = null,UncheckedCounter = 0;
    $("#divCustomFieldsFilter").find("div.accordion").each(function () {
        if ($(this).find("input[type=checkbox]") != null || $(this).find("input[type=checkbox]") != "") {
            AllCounter = $(this).find("input[type=checkbox]").length;
            CheckedCounter = $(this).find("input[type=checkbox]:checked").length;
            UncheckedCounter = AllCounter - CheckedCounter;
            if (AllCounter == UncheckedCounter) {
                var Id = $(this).attr("id");
                if (Id.indexOf("-") >= 0) {
                    Id = Id.split('-')[1];
                    var CustomId = Id + "_null";
                    _filters.customFieldIds.push(CustomId);

                }
            }
            else if (AllCounter == CheckedCounter) {
                id = this.id;
                if (id != null && id != "" && id.indexOf("-") > -1) {
                    id = this.id.split("-")[1];
                }
                var i = 0, customfieldid;
                for (i = 0; i < _filters.customFieldIds.length; i++) {
                    if (_filters.customFieldIds[i].indexOf("_") > -1) {
                        customfieldid = _filters.customFieldIds[i].split("_")[0];
                        if (id == customfieldid) {
                            _filters.customFieldIds.splice(i, 1);
                            i--;
                        }
                    }
                }
            }
        }
    });        ////End

    @*if( _filters.OwnerIds.length == 0)
    {
        _filters.OwnerIds.push('@Sessions.User.UserId');
    }*@

            //var CustomId = "";
            //var OwnerIds = "";
            //var TacticTypeids = "";
            //var StatusIds = "";

            //if( typeof Cid  != "undefined" || typeof OId  != "undefined" ||typeof Tacticids  != "undefined" ||typeof StatusId  != "undefined" )
            //{
            //    CustomId = Cid;
            //    OwnerIds = OId;
            //    TacticTypeids = Tacticids;
            //    StatusIds = StatusId;
            //}
            var newUrl = '';
            var isMultiple = false;
            newUrl = '@Url.Action("GetNumberOfActivityPerMonth", "Home")';
            if ($('#ActiveMenu').val().toLowerCase() == "@Enums.ActiveMenu.Home.ToString().ToLower()") {
                isMultiple = true;
            }
            else if ($('#ActiveMenu').val().toLowerCase() == "@Enums.ActiveMenu.Plan.ToString().ToLower()") {
                if (CurrentPlanId > 0) {
                    selectedPlanIds = CurrentPlanId.toString();
                }
            }
            if (selectedPlanIds == '') {
                return;
            }
            $.ajax(
            {
                type: "POST", //Modified BY Komal Rawal for #1991 to solve json length problem in passing query string.
                cache: false,
                url: newUrl,
                data: {
                    planid: selectedPlanIds.toString(),   //Modified By Komal Rawal on 22-02-16 to get proper value in header according to filter on add or copy tactic.
                    strparam: strParam,
                    isMultiplePlan: isMultiple,
                    CustomFieldId:_filters.customFieldIds.toString(),
                    OwnerIds: _filters.OwnerIds.toString(),
                    TacticTypeids:_filters.TacticTypeids.toString(),
                    StatusIds:_filters.StatusIds.toString(),
                    TabId:Tabid, //Added BY Komal rawal for #1929 proper Hud chart and count
                    IsHeaderActuals:IsHeaderActuals
                },
                dataType: "json",
                success: function (data) {
                    if (data != null) {
                        $(".dhx_canvas_text").remove();
                        $("canvas").remove();
                        setgraphdata(data);

                    }
                }
            });
        }

    function GetNumberOfActivityPerMonByPlanIdPer(selectedPlanIds, strParam, Cid, OId,Tacticids,StatusId,Tabid,IsHeaderActuals) {
        var _filters = {
            OwnerIds: [],
            TacticTypeids:[],
            StatusIds:[],
            customFieldIds:[]

        };
        //Modified BY Komal rawal for #1929 proper Hud chart and count
        var ID = CalendarId;
        if($('#IsGridView').val() != undefined && $('#IsGridView').val() != 'undefined' && $('#IsGridView').val() != null && $('#IsGridView').val() != "" ){
            if ($('#IsGridView').val().toLowerCase() == "true") {
                ID = GridId;
            }
        }
        Tabid = ID;
      
        $("#ulSelectedOwner li input:checkbox:checked").map(function(){
            _filters.OwnerIds.push($(this).attr("id"));
        });

        $("#ulTacticType li input:checkbox:checked").map(function(){
            var Value = $(this).attr("id").replace("CbTT", "");
            _filters.TacticTypeids.push(Value);
        });

        $("#ulStatus li input:checkbox:checked").map(function(){
            var Value = $(this).attr("id");
            _filters.StatusIds.push(Value);
        });

        $('#divCustomFieldsFilter').find("input[type=checkbox]").each(function () {
            if ($(this).attr('checked') == 'checked') {
                var chkid = $(this).attr("id");
                if (chkid != undefined && chkid != 'undefined') {
                    _filters.customFieldIds.push(chkid);
                }
            }
        });

        //Added for "Select All" case of #1952 and #1993 By Maitri Gandhi on 16/2/2016
        var CheckedCounter = 0, AllCounter = 0, id = null,UncheckedCounter = 0;
        $("#divCustomFieldsFilter").find("div.accordion").each(function () {
            if ($(this).find("input[type=checkbox]") != null || $(this).find("input[type=checkbox]") != "") {
                AllCounter = $(this).find("input[type=checkbox]").length;
                CheckedCounter = $(this).find("input[type=checkbox]:checked").length;
                UncheckedCounter = AllCounter - CheckedCounter;
                if (AllCounter == UncheckedCounter) {
                    var Id = $(this).attr("id");
                    if (Id.indexOf("-") >= 0) {
                        Id = Id.split('-')[1];
                        var CustomId = Id + "_null";
                        _filters.customFieldIds.push(CustomId);

                    }
                }
                else if (AllCounter == CheckedCounter) {
                    id = this.id;
                    if (id != null && id != "" && id.indexOf("-") > -1) {
                        id = this.id.split("-")[1];
                    }
                    var i = 0, customfieldid;
                    for (i = 0; i < _filters.customFieldIds.length; i++) {
                        if (_filters.customFieldIds[i].indexOf("_") > -1) {
                            customfieldid = _filters.customFieldIds[i].split("_")[0];
                            if (id == customfieldid) {
                                _filters.customFieldIds.splice(i, 1);
                                i--;
                            }
                        }
                    }
                }
            }
        });        ////End

        var newUrl = '';
        var isMultiple = false;
        newUrl = '@Url.Action("GetNumberOfActivityPerMonthPer", "Home")';
        if ($('#ActiveMenu').val().toLowerCase() == "@Enums.ActiveMenu.Home.ToString().ToLower()") {
            isMultiple = true;
        }
        else if ($('#ActiveMenu').val().toLowerCase() == "@Enums.ActiveMenu.Plan.ToString().ToLower()") {
            if (CurrentPlanId > 0) {
                selectedPlanIds = CurrentPlanId.toString();
            }
        }
        if (selectedPlanIds == '') {
            return;
        }
        $.ajax(
        {
            type: "POST", //Modified BY Komal Rawal for #1991 to solve json length problem in passing query string.
            cache: false,
            url: newUrl,
            data: {
                planid: selectedPlanIds.toString(),   //Modified By Komal Rawal on 22-02-16 to get proper value in header according to filter on add or copy tactic.
                strparam: strParam,
                isMultiplePlan: isMultiple,
                CustomFieldId:_filters.customFieldIds.toString(),
                OwnerIds: _filters.OwnerIds.toString(),
                TacticTypeids:_filters.TacticTypeids.toString(),
                StatusIds:_filters.StatusIds.toString(),
                TabId:Tabid, //Added BY Komal rawal for #1929 proper Hud chart and count
                IsHeaderActuals:IsHeaderActuals,
            },
            dataType: "json",
            success: function (data) {
                if (data != null) {
                    $(".dhx_canvas_text").remove();
                    $("canvas").remove();
                    setgraphdata(data);

                }
            }
        });
    }
        function setgraphdata(data) {
            $(".dhx_chart_legend").html('');
            var legendvalue="";
            //Modified BY Komal rawal for #1929 proper Hud chart and count
            var activityyear = data.strparam;
            if(activityyear == "" || activityyear == undefined || activityyear == null)
            {
                activityyear = $('select#ddlUpComingActivites option:selected').val();
            }
            //End
            if(activityyear != undefined)
            {
                if(activityyear.toString().indexOf('-') != -1 )
                {

                    if (activityyear.toString().split('-').length > 1) {
                        legendvalue=[{text: activityyear.split('-')[0],color:"#c633c9"},{text:activityyear.split('-')[1],color:"#407B22"}];
                    }
                }
                else
                {
                    legendvalue=[];
                }
            }
            else
            {
                legendvalue=[];
            }
            var barChart2 = new dhtmlXChart({
                view: "bar",
                container: "chart2",
                value: "#NoOfActivity#",
                label: "#NoOfActivity#",
                color: "#Color#",
                radius: 3,
                padding: {
                    top: 25,
                    bottom: 16,
                    right: 00,
                    left: 00

                },
                xAxis: {
                    template: "#Month#"
                },
                legend:{
                    width: 3,
                    align:"right",
                    valign:"middle",
                    marker:{
                        type:"round",
                        width:8
                    },
                    values:legendvalue
                },
            });
            barChart2.parse(data.lstchart, "json");

            $('.dhx_chart_legend').css({'left':'100px','top':'21px'});

            var dhtml_length=$('.dhx_chart_legend').length;
            if(activityyear != undefined)
            {
                if (activityyear.split('-').length > 1){
                    var i=0;
                    var leftcss;
                    $(".dhx_canvas_text").each(function(){
                        i++;
                        if(i>8){
                            leftcss=parseInt($(this).css('left'));
                            $(this).css('left',(leftcss-1));
                        }
                        else
                        {
                            leftcss=parseInt($(this).css('left'));
                            $(this).css('left',(leftcss+7));
                        }
                    });
                }
            }
        }

        function populateNF(items, id) {
            var $dropdown = $("#" + id);
            var $html = '';
            if (items.length > 0) {
                $.each(items, function (index, plan) {
                    if (plan.Selected) {
                        SelectedPlanTitle = plan.Text;
                        $html += '<option value="' + plan.Value + '" selected>' + plan.Text + '</option>';
                        CurrentPlanId = plan.Value;
                        $("#CurrentPlanId").val(CurrentPlanId);
                    } else {
                        $html += '<option value="' + plan.Value + '">' + plan.Text + '</option>';
                    }
                });
            } else {
                $html += '<option value=' + 0 + ' selected>' + "Plan Title" + '</option>';
                CurrentPlanId = 0;
                $("#CurrentPlanId").val(CurrentPlanId);
            }
            $dropdown.append($html);
        }

        //ENd
        function GetHealderDataPer(selectedPlanIds,Cid, OId,Tacticids,StatusId,Tabid,IsHeaderActuals) {
            // Modified By Nishant Sheth add tab id as argument:  Desc header value wrong with plan tab 
            var CustomId = "";
            var OwnerIds = "";
            var TacticTypeids = "";
            var StatusIds = "";

            if( typeof Cid  != "undefined" || typeof OId  != "undefined" ||typeof Tacticids  != "undefined" ||typeof StatusId  != "undefined" )
            {
                CustomId = Cid;
                OwnerIds = OId;
                TacticTypeids = Tacticids;
                StatusIds = StatusId;
            }
            var newUrl = '';
            if ($('#ActiveMenu').val().toLowerCase() == "@Enums.ActiveMenu.Home.ToString().ToLower()") {
                newUrl = '@Url.Action("GetPlanByMultiplePlanIDsPer", "Plan")';
                selectedPlanIds = selectedPlanIds.toString()   //Modified By Komal Rawal on 22-02-16 to get proper value in header according to filter on add or copy tactic
            }
            else if ($('#ActiveMenu').val().toLowerCase() == "@Enums.ActiveMenu.Plan.ToString().ToLower()") {
                // var ligridclass=$("#liGrid").attr("class");
                newUrl = '@Url.Action("GetPlanByPlanID", "Plan")';
                @*newUrl = '@Url.Action("GetPlanByPlanIDPerformance", "Plan")';// Change By Nishant Sheth // Desc :: Get records from cache memory*@ 
                selectedPlanIds = parseInt(CurrentPlanId);
            }
            if(selectedPlanIds == '')
            {
                return;
            }

            $.ajax(
            {
                type: "POST", //Modified BY Komal Rawal for #1991 to solve json length problem in passing query string.
                cache: false,
                url: newUrl,
                data: {
                    planid: selectedPlanIds,
                    activeMenu: $('#ActiveMenu').val().toLowerCase(),
                    year: isQuater,
                    CustomFieldId:CustomId.toString(),
                    OwnerIds:OwnerIds.toString(),
                    TacticTypeids:TacticTypeids.toString(),
                    StatusIds:StatusIds.toString(),
                    TabId:Tabid,
                    IsHeaderActuals: IsHeaderActuals,
                },
                dataType: "json",
                success: function (data) {
                    if (data != null) {

                        $.each(data.lstHomePlanModelHeader, function (index, obj) {
                            if (index == "MQLs") {
                                $("#pMQLs").html(obj);
                                SetPriceValue("#pMQLs");
                            }
                            else if (index == "Budget") {
                                $("#pbudget").html(obj);
                                SetBudget("#pbudget");
                            }
                            else if (index == "TacticCount") {
                                $("#ptacticcount").html(obj);
                            }
                            else if (index == "mqlLabel") {
                                $("#pmqlLabel").html(obj);
                            }
                            else if (index == "costLabel") {
                                $("#pcostLabel").html(obj);
                            }
                            else if (index == "PercentageMQLImproved") {
                                /// Added By: Maninder Singh Wadhva
                                /// Addressed PL Ticket: 37,38,47,49

                                var pMQLImproved = $("#pMQLImproved");
                                pMQLImproved.removeClass("greenfont");
                                pMQLImproved.removeClass("redfont");

                                var divBullhornbg = $('#DivBullhornbg');
                                divBullhornbg.removeClass("bullhorn-bg-disabled");
                                divBullhornbg.removeClass("bullhorn-bg");
                                if (obj != null) {
                                    divBullhornbg.addClass("bullhorn-bg");
                                    if (obj < 0) {
                                        pMQLImproved.html(FormatNumber(obj, true))
                                        pMQLImproved.addClass("redfont");
                                    }
                                    else {
                                        pMQLImproved.html("+" + FormatNumber(obj, true))
                                        pMQLImproved.addClass("greenfont");
                                    }
                                }
                                else {
                                    divBullhornbg.addClass("bullhorn-bg-disabled");
                                    pMQLImproved.html('---');
                                }
                            }

                        });

                    }
                }
            });
        }
</script>
