@using RevenuePlanner.Helpers

<!DOCTYPE html>
@{
    bool IsIntegrationCredentialCreateEditAuthorized = true;
    if (ViewBag.IsIntegrationCredentialCreateEditAuthorized != null)
    {
        IsIntegrationCredentialCreateEditAuthorized = (bool)ViewBag.IsIntegrationCredentialCreateEditAuthorized;
    }
    ViewBag.IsMultiCurrencyNone = AuthorizeUserAttribute.IsAuthorized(Enums.ApplicationActivity.MultiCurrencyNone);

    bool IsMultiCurrencyNone = true;
    if (ViewBag.IsMultiCurrencyNone != null)
    {

        IsMultiCurrencyNone = (bool)ViewBag.IsMultiCurrencyNone;

    }
}

<div class="padding-content">
    <h4 class="text-shadow-black source-sans-prolight">Preferences</h4>
</div>
<ul class="nav nav-list nav-gray">
    <li id="liMyProfile" class="item">
        <a class="source-sans-probold inputs" href="#" id="aMyProfile"><span></span>MY PROFILE</a>
    </li>
    <li id="liOrganization" class="item">
        @*uday for new screen*@
    <a class="source-sans-probold organization" href="#" id="aOrganization"><span></span>ORGANIZATION</a>
</li>
@if (IsIntegrationCredentialCreateEditAuthorized)
{
    <li id="liIntegrations" class="item">
        <a class="source-sans-probold integrations" href="#" id="aIntegrations"><span></span>INTEGRATIONS</a>
    </li>
}

    @*insertation start 09/08/2016 kausha #2492.- class change by Bhumika 16-8-2016 *@
    @if (IsMultiCurrencyNone == false)
    {
        <li id="liCurrency" class="item">
            <a class="source-sans-probold currency" href="#" id="aCurrency"><span></span>CURRENCY</a>
        </li>
    }
    @*insertation End 09/08/2016 kausha #2492.*@
</ul>


<script>
    $(document).ready(
        function () {
            $('#aMyProfile').click(function () {
                var url = '';
                url = '@Url.Action("Edit", "User", new { usrid = Sessions.User.UserId, src = "myaccount" })';
                window.location.href = url;
            });

            $('#aIntegrations').click(function () {
                var url = '';
                url = '@Url.Content("~/ExternalService/Index")';
                window.location.href = url;
            });
            $('#aOrganization').click(function () {
                var url = '';
                url = '@Url.Action("ViewEditPermission", "Organization", new { Id = Sessions.User.UserId, Mode = "MyPermission" })';

                window.location.href = url;
            });
            //insertation start 09/08/2016 kausha #2492.
            $('#aCurrency').click(function () {
                var url = '';
                url = '@Url.Action("Currency", "Currency")';
                window.location.href = url;
            });
            //end insertation start 09/08/2016 kausha #2492.
            $('.nav nav-list nav-gray li').each(function () {
                $(this).removeClass('active');
            });
            if ('@ViewBag.ModuleTitle' == 'MyProfile') {

                if (!$('#liMyProfile').hasClass('active')) {
                    $('#liMyProfile').addClass('active');

                }
            }
            else if ('@ViewBag.ModuleTitle' == 'Organization') {
                if (!$('#liOrganization').hasClass('active')) {
                    $('#liOrganization').addClass('active');

                }
            }
            else if ('@ViewBag.ModuleTitle' == 'Integration') {
                if (!$('#liIntegrations').hasClass('active')) {
                    $('#liIntegrations').addClass('active');

                }
            }
                //insertation start 09/08/2016 kausha #2492.
            else if ('@ViewBag.ModuleTitle' == 'Currency') {
                if (!$('#liCurrency').hasClass('active')) {
                    $('#liCurrency').addClass('active');

                }
            }
            //insertation End 09/08/2016 kausha #2492.
        }
            );
</script>

