@using RevenuePlanner.Helpers
@{
    bool IsDisable = false;
    if (Sessions.User != null)
    {
        IsDisable = true;
    } 
    
@*<div class="container-fluid all-height" id="DivShareTacticPopupMain">
    <div class="row-fluid calc-height">
        <div class="span12">*@
 
    <div id="DivContactSupportPopup" class="form-contact-support fade in" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: block">
        <div class="login-wrapper">
            <form name="login-register">
                <h2 class="primary-title source-sans-prosemibold">Contact Support</h2>
                <label class="inpus-required-title source-sans-prolight">All fields required.</label>

                <div id="errorMessageContactSupportPopup" class="alert alert-error hide ">
                    <a class="close">×</a>
                    <strong>Error : </strong><span id="spanErrorMessageContactSupportPopup"></span>
                </div>
                <div id="SuccessMessageContactSupportPopup" class="alert alert-success hide">
                    <a class="close">×</a>
                    <strong>Success : </strong><span id="spanSuccessMessageContactSupportPopup"></span>
                </div>

                @if (IsDisable == false)
                {
                    <input id="email_id" name="email" type="email" class="input-block-level-contact-support source-sans-prolight inputs-login" placeholder="Email" disabled="@IsDisable" required/>
                    <input id="company_name" name="password" type="text" class="input-block-level-contact-support source-sans-prolight inputs-login" placeholder="Company Name" disabled="@IsDisable" required/>
                }
                else
                {
                    <input id="email_id" name="email" type="email" class="input-block-level-contact-support source-sans-prolight inputs-login" value="@Sessions.User.Email" disabled="@IsDisable" required/>
                    <input id="company_name" name="password" type="text" class="input-block-level-contact-support source-sans-prolight inputs-login" value="@Sessions.User.Client" disabled="@IsDisable" required/>
                }
                @*  <input id="issue" name="issue" type="text" class="input-block-level-contact-support source-sans-prolight inputs-login" placeholder="Issue" required />*@
                @*above line commented by uday and added below div for pl #453*@
                <div id="summernote"></div>
                @*<textarea id="issue" name="issue" class="input-block-level source-sans-prolight inputs-login" required />*@

                <button class="button-contact-support btn btn-large" id="submit_issue" type="submit" value="Submit">Submit</button>
                <button id="close_popup" class="btn-link contactsupport" type="button">Cancel</button>@*class changed by uday for #453 7-7-2014*@

            
            @if (IsDisable == false)
            {
@*<div style="margin-top: 50px;"></div>*@//uday for #453 7-7-2014
                        
                <div class="icon-contact-support conv_helveticaltstd-light">
                    <a href='@Url.Action("Index", "Login")'>
                        <div class="contact-support-icon"></div>
                        Return to Sign in</a>
                </div>
            }
    </form>
        </div>
    </div>@*
        </div>
    </div>
</div>*@
    <div id="DivBackgroundSupportContact" class="modal-backdrop fade in" style="z-index: 2001;"></div>  
}

<script type="text/javascript">
    $(document).ready(function () {
        var value = '@ViewBag.login';
        if (value == "login") {
            document.getElementById("DivContactSupportPopup").style.height = "510px";
        }
        else {
            //Added By Kalpesh Sharma :: Few Points for Contact Support Pop-Up  07-16-2014 
            document.getElementById("DivContactSupportPopup").style.height = "570px"; //PL 1339 cancel button alignment.
        }
    });//uday for #453 7-7-2014

    //Added By Kalpesh Sharma :: Few Points for Contact Support Pop-Up  07-16-2014 
    function SetHeight(control,height,IsAdd)
    {
        var OldHeight = $(control).height();
        var NewHeight = null;
        if (IsAdd) {
            NewHeight = OldHeight + height;
        }
        else {
            if (OldHeight > height) {
                NewHeight = OldHeight - height;
            }
            else {
                NewHeight = OldHeight;
            }
        }
        $(control).height(NewHeight + 'px');
    }


    $(function () {

        //modified by Mitesh Vaishnav for closing success popup
        $("#errorMessageContactSupportPopup , #SuccessMessageContactSupportPopup").find(".close").on("click", function (e) {
            SetHeight("#DivContactSupportPopup", 60, false);
            e.stopPropagation();
            e.preventDefault();
            $(this).closest(".alert").slideUp(0);
            
        });

        // Valdiate and Send mail on click of share button of share tactic popup.
        $('#submit_issue').click(function () {
            //Added By Kalpesh Sharma :: Few Points for Contact Support Pop-Up  07-16-2014 
            var value = '@ViewBag.login';
            if (value == "login") {
                document.getElementById("DivContactSupportPopup").style.height = "510px";
            }
            else {
                document.getElementById("DivContactSupportPopup").style.height = "560px";
            }

            $(".input-block-level-contact-support").removeClass("error");
            $('.note-editable').css("background-color", "#FFFFFF");

            var flag = 0;

            $('.input-block-level-contact-support').each(function () {
                if ($(this).val() == "") {
                    $(this).addClass("error");
                    flag = 1;
                }
            });

            if (flag == 1) {
                var msgspan = "Make sure all fields are filled with valid values.";
                $("#errorMessageContactSupportPopup").css("display", "block");
                $("#spanErrorMessageContactSupportPopup").text(msgspan);
                //Added By Kalpesh Sharma :: Few Points for Contact Support Pop-Up  07-16-2014 
                SetHeight("#DivContactSupportPopup", 60, true);

                if ($('#summernote').code() == "<p><br></p>") {
                    $('.note-editable').css("background-color", "#F2DEDE");
                }
            }
            else {
                /*
                changed by : Nirav Shah on 31 Jan 2014 
                Bug 109 :  	 Steps: 1. Click on support to open support pop-up 2. Enter 1' OR '1'='1 as script in Company name and Issue field Bug: Observe that entering shows blank fields in email 
                */
                var flage = true;

                close_messages();
                var emailId = $('#email_id').val();
                var company = $('#company_name').val();
                //var issue = $('#issue').val();//  line commented by uday on 27/05/2014 for PL #453 
                var issue = $('#summernote').code();
                issue = encodeURIComponent(issue);//this is to encode the html content into text on client side.added by uday on 28-5-2014 for editor in contact support.
                if (!validateCompanyName(company)) {
                    flage = false;
                    $('#company_name').addClass("error");
                    var msgspan = "Please enter valid companyName.";
                    $("#errorMessageContactSupportPopup").css("display", "block");
                    $("#spanErrorMessageContactSupportPopup").text(msgspan);
                    //Added By Kalpesh Sharma :: Few Points for Contact Support Pop-Up  07-16-2014 
                    SetHeight("#DivContactSupportPopup", 60, true);
                }
                
                if ($('#summernote').code() == "<p><br></p>") {
                    flage = false;
                    var msgspan = "Please enter a message.";
                    $("#errorMessageContactSupportPopup").css("display", "block");
                    $("#spanErrorMessageContactSupportPopup").text(msgspan);
                    $('.note-editable').css("background-color", "#F2DEDE");
                    //Added By Kalpesh Sharma :: Few Points for Contact Support Pop-Up  07-16-2014 
                    SetHeight("#DivContactSupportPopup", 60, true);
                }

                if (!validateEmail(emailId)) {
                    flage = false;
                    $('#email_id').addClass("error");
                    var msgspan = "Please enter valid email.";
                    $("#errorMessageContactSupportPopup").css("display", "block");
                    $("#spanErrorMessageContactSupportPopup").text(msgspan);
                    //Added By Kalpesh Sharma :: Few Points for Contact Support Pop-Up  07-16-2014 
                    SetHeight("#DivContactSupportPopup", 60, true);
                }
                if (flage == true) {
                    $.ajax({
                        //url: '@Url.Content("~/Login/ContactSupport/")' + '?emailId=' + emailId + '&companyName=' + company + '&issue=' + issue,
                        // above line commented by uday on 27/05/2014 for PL #453 
                        url: '@Url.Content("~/Login/ContactSupport/")',
                        data: {
                            emailId: emailId,
                            CompanyName: company,
                            Issue: issue
                        },
                        type: 'POST',
                        cache: false,
                        success: function (result) {
                            if (result.DBServiceUnavailable != 'undefined' && result.DBServiceUnavailable == '#') {
                                //// Function to redirect to login page on unavailability of web service.
                                //// Added By: Maninder Singh Wadhva on 11/24/2014.
                                //// Ticket: 942 Exception handeling in Gameplan.
                                window.location = '@Url.Content(Common.RedirectOnDBServiceUnavailibilityPage)';
                            } else {
                            if (result == true) {
                                //Added By Kalpesh Sharma :: Few Points for Contact Support Pop-Up  07-16-2014 
                                SetHeight("#DivContactSupportPopup", 60, true);
                                var msgspan = "Contact support request submitted successfully";
                                $("#spanSuccessMessageContactSupportPopup").text(msgspan);
                                $("#SuccessMessageContactSupportPopup").css("display", "block");
                               
    
                            }
                            else {
                                var msgspan = "Error occured in sending mail, Please try again";
                                $(".input-block-level-contact-support").addClass("error");
                                $("#errorMessageContactSupportPopup").css("display", "block");
                                $("#spanErrorMessageContactSupportPopup").text(msgspan);
                                //Added By Kalpesh Sharma :: Few Points for Contact Support Pop-Up  07-16-2014 
                                SetHeight("#DivContactSupportPopup", 60, true);
                                }
                            }
                        }
                    });
                }
                return false;
            }
            return false;
        });

        //----------------------------

        function validateEmail(email) {
            var re = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }

        function validateCompanyName(CompanyName) {
            var re = /^[a-zA-Z0-9\s\[\]\.\-&']*$/;
            return re.test(CompanyName);
        }
        function validateIssue(Issue) {
            var re = /^[a-zA-Z0-9\s\[\]\.\-_\@@,?:;\'\(\)\{\}\[\]']*$/;
            return re.test(Issue);
        }
        //----------------------------
        $(document).keyup(function (e) {
            if (e.keyCode == 27) { // esc keycode
                close_popup();
            }
        });

        $('#close_popup').click(function () {
            close_popup();
        });

        function close_popup() {
            $('#DivBackgroundSupportContact').css("display", "none");
            $('#DivContactSupportPopup').css("display", "none");
            $('#DivBackgroundSupportContact').remove();
            $('#DivContactSupportPopup').remove();
            close_messages();
        }

        function close_messages() {
            $('#errorMessageContactSupportPopup').css("display", "none");
            $('#SuccessMessageContactSupportPopup').css("display", "none");
        }

    });
</script>
<script>
    //$(document).ready(function () {
    //$('#summernote').summernote();
    @* Start - Added by :- uday on 27/05/2014 for PL #453 *@
    $('#summernote').summernote({
        height: 150,                 // set editor height
        // Change By : Kalpesh Sharma
        // #453 Fix the height and width of the editor , so user can't extend it.
        minHeight: 150,    // set minimum height of editor
        maxHeight: 150,    // set maximum height of editor
        focus: true,                 // set focus to editable area after initializing summernote
        toolbar: [
                 ['style', ['bold', 'italic', 'underline', 'clear']],
                 ['fontname', ['fontname']],
                 ['color', ['color']],
                 ['insert', ['link', 'picture']],
        ]

    });
    @* Start - Added by :- uday on 27/05/2014 for PL #453 *@
    //});
</script>


