@model System.Web.Mvc.HandleErrorInfo
@{  
    ViewBag.Title = "ElmahError";
    Layout = null;
}
<hgroup class="title" style="margin: 20px; width: 100% !important">
    <div class="span12">
        <div class="error-wrapper">
            <img src="~/Content/images/error-image.png" />
            <span class="error_text">Sorry, an error has occurred.</span>
            <span class="error_text">Please contact your system administrator for assistance.</span>
            <div class="icon-info-support conv_helveticaltstd-light">
                <a id="Contact-Support" href="#">
                    <div class="support-icon"><i class="fa fa-question-circle" aria-hidden="true"></i></div>
                    Contact Support
                </a>
            </div>
        </div>
    </div>

    @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
    {
        <div style="display: none;">
            <div>
                <p>
                    <b>Exception:</b> @Model.Exception.Message<br />
                    <b>Controller:</b> @Model.ControllerName<br />
                    <b>Action:</b> @Model.ActionName
                </p>
            </div>
            <div style="overflow: scroll">
                <pre>
                @Model.Exception.StackTrace
                </pre>
            </div>
        </div>
    }
</hgroup>
<script type="text/javascript">
    $(document).ready(function () {
        $(".myaccount-colum").hide();
        $(".nav-tabs").hide();
        $('.home').addClass('active');
        $("#sidebar").css("display", "none");
        $("#content_wraper").css("width", "100%");
    });

    $('#Contact-Support').click(function () {
        $("#div_contactSupport").empty();
        var url = '@Url.Content("~/Common/LoadSupportPartial/")';
        $("#div_contactSupport").load(url);
    });

</script>
