@using RevenuePlanner.Models
@using RevenuePlanner.Helpers
@model List<BudgetModel>
@{
    string AllocatedBy = ViewBag.AllocatedBy;
    BudgetModel plan = Model.Where(p => p.ActivityType == ActivityType.ActivityPlan).SingleOrDefault();
    string strDefault = Enums.PlanAllocatedByList[Enums.PlanAllocatedBy.defaults.ToString()].ToString().ToLower();
    string strMonths = Enums.PlanAllocatedByList[Enums.PlanAllocatedBy.months.ToString()].ToString().ToLower();
    string strQuarters = Enums.PlanAllocatedByList[Enums.PlanAllocatedBy.quarters.ToString()].ToString().ToLower();
}
@{
    BudgetMonth PercAllocated = ViewBag.PercAllocated;
    double planAllocation = 0;
    //planAllocation = (plan.Budgeted == 0 && plan.Allocated == 0) ? 0 : (plan.Budgeted == 0 && plan.Allocated > 0) ? 101 : plan.Allocated / plan.Budgeted * 100;
    double sumMonth = plan.Month.Jan + plan.Month.Feb + plan.Month.Mar + plan.Month.Apr + plan.Month.May + plan.Month.Jun + plan.Month.Jul + plan.Month.Aug + plan.Month.Sep + plan.Month.Oct + plan.Month.Nov + plan.Month.Dec;
    planAllocation = (sumMonth == 0 && plan.Allocated == 0) ? 0 : (sumMonth > 0 && plan.Allocated == 0) ? 101 : sumMonth / plan.Allocated * 100;
}

<div class="tab-content all-height cf">
    <div class="tab-pane active all-height" id="panel-656352">
        <div id="paln-populated-collaborators-panel-wrapper" class="pl20 cf">
            <div class="cf all-height lenght-div">
                <div class="budget-table source-sans-proregular">
                    <table cellpadding="0" cellspacing="0" border="0" class="budget-table">
                        <tbody class="column1">
                            <tr>
                                <td>
                                    <div id="div2PlanDetails">&nbsp;</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="event-row">
                                    <div id="divPlanDetails"><a id="aPlanDetails">@plan.ActivityName</a></div>
                                </td>
                            </tr>
                            @Html.ActivityCampaign(ActivityType.ActivityCampaign, plan.ActivityId, Model, "0")
                        </tbody>
                        <tbody class="column2">
                            @Html.AllocatedPlanMonth(ActivityType.ActivityPlan, plan.ActivityId, plan.Month, plan.ParentMonth, AllocatedBy)
                            @Html.AllocatedCampaignMonth(ActivityType.ActivityCampaign, plan.ActivityId, Model, AllocatedBy)
                        </tbody>
                        <tbody class="column3">
                            <tr>
                                <td>
                                    <div>Allocated</div>
                                </td>
                                <td>
                                    <div>Budgeted</div>
                                </td>
                            </tr>
                            @Html.CampaignSummary(ActivityType.ActivityCampaign, plan.ActivityId, Model, AllocatedBy, "0")
                        </tbody>
                    </table>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
 <div class="container-fluid all-height" id="modalMainContainer">
    <div class="row-fluid calc-height">
        <div class="container-fluid">
            <div class="row-fluid ">
                <div class="span12">

  <div id="modal-container-186470" class="modal-inspect-review hide fade modal-full-view" role="dialog" aria-labelledby="myModalLabel" aria- hidden="true" style="display: none; position: fixed;">
                        <div style="margin: 80px auto !important">
                            <div id="successMessage" class="alert alert-success message-position-popup" style="display: none; margin: auto !important; max-width: 1000px !important;">
                                <a class="close">×</a>
                                <strong>Success.</strong> <span id="spanMessageSuccess"></span>
                            </div>
                            <div id="errorMessage" class="alert alert-error hide message-position-popup" style="display: none; margin: auto !important; max-width: 1000px !important;">
                                <a class="close">×</a>
                                <strong>Error!</strong> <span id="spanMessageError">@Common.objCached.ValidateForEmptyField</span>
                            </div>
                            <div id="divPartial">
                            </div>

                        </div>
                    </div>
                    <div id="divResubmission">
                    </div>
                </div>
            </div>
        </div>
    </div>
                    </div>
<script type="text/javascript">
  
    var heights = $('.column1').find('div').map(function () {
        var intWidth = 0;
        if ($(this).css('display') == 'none') {
            intWidth = $(this).actual('width');
        }
        else {
            intWidth = $(this).width();
        }
        //$(this).attr('title', intWidth);
        return $(this).width();
    }).get();
   
    $(document).ready(function () {
        SetHeader();
        AddTipsy();
        $.fn.hasScrollBar = function () {
            return this.get(0).scrollWidth > this.width();
        }
        //var test = $('.column1').hasScrollBar();

        //if (test == true) {
        //    $('.column1 tr').addClass('displayRow');
        //}

        // Budget Table
        var mainTableWidth = $('.budget-table').width();
        var columnWidth1 = $('.column1').width();
        var columnWidth3 = $('.column3').width();
        $('.column2').width(mainTableWidth - columnWidth1 - columnWidth3 - 24);

        $('.accordionClick').on('click', function () {
            var accordionId = $(this).parent().attr('id');
            $('table').find(".sub[data-parent='" + accordionId + "']").fadeToggle(100);
            $(this).toggleClass('collapse');

            if ($(".sub[data-parent='" + accordionId + "']").show()) {
                $(".sub[data-parent='" + accordionId + "']").prev('#' + accordionId).toggleClass('open');
            }

            //Added By : Kalpesh Sharma : #739 Adding additional views to Budget Planning screen
            var data = $(".column1").get(0);
            //var trCounter = 0;
            //var OpenPanelCounter = 0;
            $(".budget-table .column1 > tr").each(function () {
                $(this).width(data.scrollWidth);
                //trCounter = trCounter + 1;
        });

            //OpenPanelCounter = $('.budget-table .column1 > tr .firstLevel.open').length;
            //if (OpenPanelCounter == (trCounter - 2)) {
            //    $('.budget-table .column1').css('overflow-x', 'hidden');
            //}
            //else {
            //    $('.budget-table .column1').css('overflow-x', 'auto');
            //}
        });

        //in case of chrome browser it is creating design issue
        $.browser.chrome = /chrom(e|ium)/.test(navigator.userAgent.toLowerCase());
        if ($.browser.chrome) {
            var maxHeight = Math.max.apply(Math, heights);
            var column1Width = $('.column1 div').css('width');
            column1Width = column1Width.replace('px', '');
            try {
                if (parseInt(column1Width) < maxHeight) {
                    $('#divPlanDetails').css('width', parseInt(maxHeight) - 15);
                    $('#div2PlanDetails').css('width', parseInt(maxHeight) + 15);
                    if ($('.column1 .programLevel').length > 0)
                        $('.column1 .programLevel').css('width', parseInt(maxHeight) - parseInt($(".programLevel").css("padding-left").replace("px", "")) - parseInt($(".programLevel").css("padding-right").replace("px", "")) + 15);
                    if ($('.column1 .campaignLevel').length > 0)
                        $('.column1 .campaignLevel').css('width', parseInt(maxHeight) - parseInt($(".campaignLevel").css("padding-left").replace("px", "")) - parseInt($(".campaignLevel").css("padding-right").replace("px", "")) + 15);
                    if ($('.column1 .program-lvl').length > 0)
                        $('.column1 .program-lvl').css('width', parseInt(maxHeight) + 15);
                    
                }
            } catch (e) {

            }
        }
    });
    function AddTipsy() {
        //alert($("div[allocated]").length);
        $("div[allocated]").each(function () {
            var num = $(this).attr('allocated');
            if (parseInt(num) < 0) {
                $(this).prop('title', 'Remaining: ' + num.replace('-', '-$'));
            }
            else {
                $(this).prop('title', 'Remaining: $' + num);
            }
            $(this).addClass('north');
            $('.north').tipsy({ gravity: 's' });
        });
    }
    function SetHeader() {
        $('#divViewBy').hide();
        if ('@AllocatedBy' != '@strDefault') {
        $('#planCostTitle').html('Planned Budget Allocation');
        var sumMonth = number_format('@sumMonth', 0, '.', ',');
        var allocated = number_format('@plan.Budgeted', 0, '.', ',');
        $('#planCostValue').prop('title', '$' + sumMonth + '/' + '$' + allocated);
        $('#planCostValue').addClass('north');
        $('.north').tipsy({ gravity: 's' });

        sumMonth = FormatNumber('@sumMonth', false);
        allocated = FormatNumber('@plan.Budgeted', false);

        $('#planCostValue').html(sumMonth + '/' + allocated);
        $('#divPlanProgress').css("width", "@planAllocation%");
            if ('@planAllocation' > 100) {
                $('#divPlanProgress').css("width", "100%");
                $('#divPlanProgress').css("background", "#ff1e26");
            }
            else {
                $('#divPlanProgress').css("background", "#3fa9f5");
            }


        $('#monthCompareTitle').html('Monthly Budget Allocation');
        $('.progressPlanned').show();
        }
        else {
            $('#planCostTitle').html('Planned Budget Allocation');

            $('#planCostValue').html('');
            $('#divPlanProgress').css("width", "0%");
            $('#monthCompareTitle').html('Monthly Budget Allocation');
            $('.progressPlanned').show();
        }
        //else {
        //    $('#planCostTitle').html('');
        //    $('#planCostValue').html('');
        //    $('#monthCompareTitle').html('');
        //    $('.progressPlanned').hide();
        //}
        if ('@AllocatedBy' == '@strQuarters') {
            $('#monthCompareTitle').html('Quarterly Budget Allocation');
        }
        var strMonthHTML = '';
        if ('@AllocatedBy' == '@strMonths') {
            for (var i = 1; i <= 12; i++) {
                strMonthHTML += '<div class="budgetMonth">';
                if (i == 1) {
                    strMonthHTML += '<span class="title source-sans-proregular">JAN</span>';
                    if ('@PercAllocated.Jan' <= 100)
                            strMonthHTML += '<div title="@PercAllocated.Jan%"><span style="width:@PercAllocated.Jan%;"></span></div>';
                        else
                            strMonthHTML += '<div title="@PercAllocated.Jan%"><span style="width:@PercAllocated.Jan%;" class="error"></span></div>';
                    }
                    else if (i == 2) {
                        strMonthHTML += '<span class="title source-sans-proregular">FEB</span>';
                        if ('@PercAllocated.Feb' <= 100)
                        strMonthHTML += '<div title="@PercAllocated.Feb%"><span style="width:@PercAllocated.Feb%;"></span></div>';
                    else
                        strMonthHTML += '<div title="@PercAllocated.Feb%"><span style="width:@PercAllocated.Feb%;" class="error"></span></div>';
                }
                else if (i == 3) {
                    strMonthHTML += '<span class="title source-sans-proregular">MAR</span>';
                    if ('@PercAllocated.Mar' <= 100)
                        strMonthHTML += '<div title="@PercAllocated.Mar%"><span style="width:@PercAllocated.Mar%;"></span></div>';
                    else
                        strMonthHTML += '<div title="@PercAllocated.Mar%"><span style="width:@PercAllocated.Mar%;" class="error"></span></div>';
                }
                else if (i == 4) {
                    strMonthHTML += '<span class="title source-sans-proregular">APR</span>';
                    if ('@PercAllocated.Apr' <= 100)
                        strMonthHTML += '<div title="@PercAllocated.Apr%"><span style="width:@PercAllocated.Apr%;"></span></div>';
                    else
                        strMonthHTML += '<div title="@PercAllocated.Apr%"><span style="width:@PercAllocated.Apr%;" class="error"></span></div>';
                }
                else if (i == 5) {
                    strMonthHTML += '<span class="title source-sans-proregular">MAY</span>';
                    if ('@PercAllocated.May' <= 100)
                        strMonthHTML += '<div title="@PercAllocated.May%"><span style="width:@PercAllocated.May%;"></span></div>';
                    else
                        strMonthHTML += '<div title="@PercAllocated.May%"><span style="width:@PercAllocated.May%;" class="error"></span></div>';
                }
                else if (i == 6) {
                    strMonthHTML += '<span class="title source-sans-proregular">JUN</span>';
                    if ('@PercAllocated.Jun' <= 100)
                        strMonthHTML += '<div title="@PercAllocated.Jun%"><span style="width:@PercAllocated.Jun%;"></span></div>';
                    else
                        strMonthHTML += '<div title="@PercAllocated.Jun%"><span style="width:@PercAllocated.Jun%;" class="error"></span></div>';
                }
                else if (i == 7) {
                    strMonthHTML += '<span class="title source-sans-proregular">JUL</span>';
                    if ('@PercAllocated.Jul' <= 100)
                        strMonthHTML += '<div title="@PercAllocated.Jul%"><span style="width:@PercAllocated.Jul%;"></span></div>';
                    else
                        strMonthHTML += '<div title="@PercAllocated.Jul%"><span style="width:@PercAllocated.Jul%;" class="error"></span></div>';
                }
                else if (i == 8) {
                    strMonthHTML += '<span class="title source-sans-proregular">AUG</span>';
                    if ('@PercAllocated.Aug' <= 100)
                        strMonthHTML += '<div title="@PercAllocated.Aug%"><span style="width:@PercAllocated.Aug%;"></span></div>';
                    else
                        strMonthHTML += '<div title="@PercAllocated.Aug%"><span style="width:@PercAllocated.Aug%;" class="error"></span></div>';
                }
                else if (i == 9) {
                    strMonthHTML += '<span class="title source-sans-proregular">SEP</span>';
                    if ('@PercAllocated.Sep' <= 100)
                    strMonthHTML += '<div title="@PercAllocated.Sep%"><span style="width:@PercAllocated.Sep%;"></span></div>';
                else
                    strMonthHTML += '<div title="@PercAllocated.Sep%"><span style="width:@PercAllocated.Sep%;" class="error"></span></div>';
            }
            else if (i == 10) {
                strMonthHTML += '<span class="title source-sans-proregular">OCT</span>';
                if ('@PercAllocated.Oct' <= 100)
                    strMonthHTML += '<div title="@PercAllocated.Oct%"><span style="width:@PercAllocated.Oct%;"></span></div>';
                else
                    strMonthHTML += '<div title="@PercAllocated.Oct%"><span style="width:@PercAllocated.Oct%;" class="error"></span></div>';
            }
            else if (i == 11) {
                strMonthHTML += '<span class="title source-sans-proregular">NOV</span>';
                if ('@PercAllocated.Nov' <= 100)
                    strMonthHTML += '<div title="@PercAllocated.Nov%"><span style="width:@PercAllocated.Nov%;"></span></div>';
                else
                    strMonthHTML += '<div title="@PercAllocated.Nov%"><span style="width:@PercAllocated.Nov%;" class="error"></span></div>';
            }
            else if (i == 12) {
                strMonthHTML += '<span class="title source-sans-proregular">DEC</span>';
                if ('@PercAllocated.Dec' <= 100)
                    strMonthHTML += '<div title="@PercAllocated.Dec%"><span style="width:@PercAllocated.Dec%;"></span></div>';
                else
                    strMonthHTML += '<div title="@PercAllocated.Dec%"><span style="width:@PercAllocated.Dec%;" class="error"></span></div>';
            }
    strMonthHTML += '</div>';
}
}
else if ('@AllocatedBy' == '@strQuarters') {
            for (var i = 1; i <= 4; i++) {
                strMonthHTML += '<div class="budgetMonth">';
                if (i == 1) {
                    strMonthHTML += '<span class="title source-sans-proregular">Q1</span>';
                    if ('@PercAllocated.Jan' <= 100)
                            strMonthHTML += '<div title="@PercAllocated.Jan%"><span style="width:@PercAllocated.Jan%;"></span></div>';
                        else
                            strMonthHTML += '<div title="@PercAllocated.Jan%"><span style="width:@PercAllocated.Jan%;" class="error"></span></div>';
                    }
                    else if (i == 2) {
                        strMonthHTML += '<span class="title source-sans-proregular">Q2</span>';
                        if ('@PercAllocated.Apr' <= 100)
                        strMonthHTML += '<div title="@PercAllocated.Apr%"><span style="width:@PercAllocated.Apr%;"></span></div>';
                    else
                        strMonthHTML += '<div title="@PercAllocated.Apr%"><span style="width:@PercAllocated.Apr%;" class="error"></span></div>';
                }
                else if (i == 3) {
                    strMonthHTML += '<span class="title source-sans-proregular">Q3</span>';
                    if ('@PercAllocated.Jul' <= 100)
                        strMonthHTML += '<div title="@PercAllocated.Jul%"><span style="width:@PercAllocated.Jul%;"></span></div>';
                    else
                        strMonthHTML += '<div title="@PercAllocated.Jul%"><span style="width:@PercAllocated.Jul%;" class="error"></span></div>';
                }
                else if (i == 4) {
                    strMonthHTML += '<span class="title source-sans-proregular">Q4</span>';
                    if ('@PercAllocated.Oct' <= 100)
                        strMonthHTML += '<div title="@PercAllocated.Oct%"><span style="width:@PercAllocated.Oct%;"></span></div>';
                    else
                        strMonthHTML += '<div title="@PercAllocated.Oct%"><span style="width:@PercAllocated.Oct%;" class="error"></span></div>';
                }

    strMonthHTML += '</div>';
}
}
else {
    for (var i = 1; i <= 12; i++) {
        strMonthHTML += '<div class="budgetMonth">';
        if (i == 1) {
            strMonthHTML += '<span class="title source-sans-proregular">JAN</span>';
            strMonthHTML += '<div><span style="width:0%;"></span></div>';
        }
        else if (i == 2) {
            strMonthHTML += '<span class="title source-sans-proregular">FEB</span>';
            strMonthHTML += '<div><span style="width:0%;"></span></div>';
        }
        else if (i == 3) {
            strMonthHTML += '<span class="title source-sans-proregular">MAR</span>';
            strMonthHTML += '<div><span style="width:0%;"></span></div>';
        }
        else if (i == 4) {
            strMonthHTML += '<span class="title source-sans-proregular">APR</span>';
            strMonthHTML += '<div><span style="width:0%;"></span></div>';
        }
        else if (i == 5) {
            strMonthHTML += '<span class="title source-sans-proregular">MAY</span>';
            strMonthHTML += '<div><span style="width:0%;"></span></div>';
        }
        else if (i == 6) {
            strMonthHTML += '<span class="title source-sans-proregular">JUN</span>';
            strMonthHTML += '<div><span style="width:0%;"></span></div>';

        }
        else if (i == 7) {
            strMonthHTML += '<span class="title source-sans-proregular">JUL</span>';
            strMonthHTML += '<div><span style="width:0%;"></span></div>';

        }
        else if (i == 8) {
            strMonthHTML += '<span class="title source-sans-proregular">AUG</span>';
            strMonthHTML += '<div><span style="width:0%;"></span></div>';

        }
        else if (i == 9) {
            strMonthHTML += '<span class="title source-sans-proregular">SEP</span>';
            strMonthHTML += '<div><span style="width:0%;"></span></div>';

        }
        else if (i == 10) {
            strMonthHTML += '<span class="title source-sans-proregular">OCT</span>';
            strMonthHTML += '<div><span style="width:0%;"></span></div>';

        }
        else if (i == 11) {
            strMonthHTML += '<span class="title source-sans-proregular">NOV</span>';
            strMonthHTML += '<div><span style="width:0%;"></span></div>';

        }
        else if (i == 12) {
            strMonthHTML += '<span class="title source-sans-proregular">DEC</span>';
            strMonthHTML += '<div><span style="width:0%;"></span></div>';

        }
        strMonthHTML += '</div>';
    }
}
    $('#monthContainer').html(strMonthHTML);

}

</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#monthContainer").mCustomScrollbar({
            scrollButtons: {
                enable: true
            },
            horizontalScroll: true,
            advanced: { autoExpandHorizontalScroll: true, updateOnContentResize: true }
        });
    });

    var Assortment = 'Budgeting';
    $('#aPlanDetails').click(function (e) {
        e.stopPropagation();
        $.ajaxSetup({ cache: false });
        $("#slidepanel").css("display", "block");
        var url = '@Url.Content("~/Plan/PlanDetails")';

        var id = CurrentPlanId;
        $('#slidepanel-container').load(url + '?id=' + id + '&CalledFromBudget=allocated', AssignDefaultValue);
        $("#slidepanel").css("right", "0px");
        $("#slidepanel").addClass('sidebar-wide');
        myApp.hidePleaseWait();
        e.preventDefault();
    });
    function AssignDefaultValue() {
        $('#slidepanel-container').find("input[type=text],textarea,select").each(function () {
            $(this).attr("myValue", $(this).val());
        });
    }
    $("[linktype=campaign]").click(function (e) {
         var id = $(this).attr('id');
      @*  var url = '@Url.Content("~/Plan/EditCampaign")';
        $("#slidepanel").css("display", "block");
        $('#slidepanel-container').load(url + '?id=' + id + '&CalledFromBudget=allocated', AssignDefaultValue);
        $("#slidepanel").css("right", "0px");
        $("#slidepanel").addClass('sidebar-wide');
        myApp.hidePleaseWait();
        e.preventDefault();*@
        var mode = "Edit";
        ShowModel(mode, "@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.Campaign).ToLower()", id, "0", '@Enums.InspectPopupRequestedModules.Budgeting.ToString()');
    });

    $("[linktype=program]").click(function (e) {
        var id = $(this).attr('id');
        @*var url = '@Url.Content("~/Plan/EditProgram")';
        $("#slidepanel").css("display", "block");
        $('#slidepanel-container').load(url + '?id=' + id + '&CalledFromBudget=allocated', AssignDefaultValue);
        $("#slidepanel").css("right", "0px");
        $("#slidepanel").addClass('sidebar-wide');
        myApp.hidePleaseWait();
        e.preventDefault();*@
        var mode = "Edit";
        ShowModel(mode, "@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.Program).ToLower()", id, "0", '@Enums.InspectPopupRequestedModules.Budgeting.ToString()');
    });
</script>
