@using RevenuePlanner.Models
@using RevenuePlanner.Helpers
@model List<BudgetModel>
@{
    string AllocatedBy = ViewBag.AllocatedBy;
    BudgetModel plan = Model.Where(p => p.ActivityType == "plan").SingleOrDefault();
}
@{
    BudgetMonth PercAllocated = ViewBag.PercAllocated;
    double planAllocation = 0;
    //planAllocation = (plan.Budgeted == 0 && plan.Allocated == 0) ? 0 : (plan.Budgeted == 0 && plan.Allocated > 0) ? 101 : plan.Allocated / plan.Budgeted * 100;
    double sumMonth = plan.Month.Jan + plan.Month.Feb + plan.Month.Mar + plan.Month.Apr + plan.Month.May + plan.Month.Jun + plan.Month.Jul + plan.Month.Aug + plan.Month.Sep + plan.Month.Oct + plan.Month.Nov + plan.Month.Dec;
    planAllocation = (sumMonth == 0 && plan.Allocated == 0) ? 0 : (sumMonth > 0 && plan.Allocated == 0) ? 101 : sumMonth / plan.Allocated * 100;
}

<div class="tab-content all-height cf">
    <div class="tab-pane active all-height" id="panel-656352">
        <div id="paln-populated-collaborators-panel-wrapper" class="pl20 cf">
            <div class="cf all-height lenght-div">
                <div class="budget-table source-sans-proregular">
                    <table cellpadding="0" cellspacing="0" border="0" class="budget-table">
                        <tbody class="column1">
                            <tr>
                                <td>
                                    <div>&nbsp;</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="event-row">
                                    <div><a id="aPlanDetails">@plan.ActivityName</a></div>
                                </td>
                            </tr>
                            @Html.ActivityCampaign("campaign", plan.ActivityId, Model, "allocated")
                        </tbody>
                        <tbody class="column2">
                            @Html.AllocatedPlanMonth("plan", plan.ActivityId, plan.Month, plan.ParentMonth, AllocatedBy)
                            @Html.AllocatedCampaignMonth("campaign", plan.ActivityId, Model, AllocatedBy)
                        </tbody>
                        <tbody class="column3">
                            <tr>
                                <td>
                                    <div>Allocated</div>
                                </td>
                                <td>
                                    <div>Budgeted</div>
                                </td>
                            </tr>
                            @Html.CampaignSummary("campaign", plan.ActivityId, Model)
                        </tbody>
                    </table>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        SetHeader();
        AddTipsy();
        $.fn.hasScrollBar = function () {
            return this.get(0).scrollWidth > this.width();
        }
        var test = $('.column1').hasScrollBar();

        if (test == true) {
            $('.column1 tr').addClass('displayRow');
        }

        // Budget Table
        var mainTableWidth = $('.budget-table').width();
        var columnWidth1 = $('.column1').width();
        var columnWidth3 = $('.column3').width();
        $('.column2').width(mainTableWidth - columnWidth1 - columnWidth3 - 24);

        $('.accordionClick').on('click', function () {
            var accordionId = $(this).parent().attr('id');
            $('table').find(".sub[data-parent='" + accordionId + "']").fadeToggle(100);
            $(this).toggleClass('collapse');

            if ($(".sub[data-parent='" + accordionId + "']").show()) {
                $(".sub[data-parent='" + accordionId + "']").prev('#' + accordionId).toggleClass('open');
            }
        });
        //
    });
    function AddTipsy() {
        //alert($("div[allocated]").length);
        $("div[allocated]").each(function () {
            var num = $(this).attr('allocated');
            if (parseInt(num) < 0) {
                $(this).prop('title', 'Remaining: ' + num.replace('-','-$'));
            }
            else {
                $(this).prop('title', 'Remaining: $' + num);
            }
            $(this).addClass('north');
            $('.north').tipsy({ gravity: 's' });
        });
    }
    function SetHeader() {
       
        if ('@AllocatedBy' != 'default') {
            $('#planCostTitle').html('Planned Budget Allocation');
            var sumMonth = number_format('@sumMonth', 0, '.', ',');
            var allocated = number_format('@plan.Budgeted', 0, '.', ',');
            $('#planCostValue').prop('title', '$' + sumMonth + '/' + '$' + allocated);
            $('#planCostValue').addClass('north');
            $('.north').tipsy({ gravity: 's' });

            sumMonth = FormatNumber('@sumMonth', false);
            allocated = FormatNumber('@plan.Budgeted', false);
            $('#planCostValue').html(sumMonth + '/' + allocated);
            $('#divPlanProgress').css("width", "@planAllocation%");
            if ('@planAllocation' > 100) {
                $('#divPlanProgress').css("width", "100%");
                $('#divPlanProgress').css("background", "#ff1e26");
            }
            $('#monthCompareTitle').html('Monthly Budget Allocation');
            $('.progressPlanned').show();
        }
        else {
            $('#planCostTitle').html('');
            $('#planCostValue').html('');
            $('#monthCompareTitle').html('');
            $('.progressPlanned').hide();
        }
        if ('@AllocatedBy' == 'quarters') {
            $('#monthCompareTitle').html('Quarterly Budget Allocation');
        }
        var strMonthHTML = '';
        if ('@AllocatedBy' == 'months') {
            for (var i = 1; i <= 12; i++) {
                strMonthHTML += '<div class="budgetMonth">';
                if (i == 1) {
                    strMonthHTML += '<span class="title source-sans-proregular">JAN</span>';
                    if ('@PercAllocated.Jan' <= 100)
                        strMonthHTML += '<div title="@PercAllocated.Jan%"><span style="width:@PercAllocated.Jan%;"></span></div>';
                    else
                        strMonthHTML += '<div title="@PercAllocated.Jan%"><span style="width:@PercAllocated.Jan%;" class="error"></span></div>';
                }
                else if (i == 2) {
                    strMonthHTML += '<span class="title source-sans-proregular">FEB</span>';
                    if ('@PercAllocated.Feb' <= 100)
                        strMonthHTML += '<div title="@PercAllocated.Feb%"><span style="width:@PercAllocated.Feb%;"></span></div>';
                    else
                        strMonthHTML += '<div title="@PercAllocated.Feb%"><span style="width:@PercAllocated.Feb%;" class="error"></span></div>';
                }
                else if (i == 3) {
                    strMonthHTML += '<span class="title source-sans-proregular">MAR</span>';
                    if ('@PercAllocated.Mar' <= 100)
                        strMonthHTML += '<div title="@PercAllocated.Mar%"><span style="width:@PercAllocated.Mar%;"></span></div>';
                    else
                        strMonthHTML += '<div title="@PercAllocated.Mar%"><span style="width:@PercAllocated.Mar%;" class="error"></span></div>';
                }
                else if (i == 4) {
                    strMonthHTML += '<span class="title source-sans-proregular">APR</span>';
                    if ('@PercAllocated.Apr' <= 100)
                        strMonthHTML += '<div title="@PercAllocated.Apr%"><span style="width:@PercAllocated.Apr%;"></span></div>';
                    else
                        strMonthHTML += '<div title="@PercAllocated.Apr%"><span style="width:@PercAllocated.Apr%;" class="error"></span></div>';
                }
                else if (i == 5) {
                    strMonthHTML += '<span class="title source-sans-proregular">MAY</span>';
                    if ('@PercAllocated.May' <= 100)
                        strMonthHTML += '<div title="@PercAllocated.May%"><span style="width:@PercAllocated.May%;"></span></div>';
                    else
                        strMonthHTML += '<div title="@PercAllocated.May%"><span style="width:@PercAllocated.May%;" class="error"></span></div>';
                }
                else if (i == 6) {
                    strMonthHTML += '<span class="title source-sans-proregular">JUN</span>';
                    if ('@PercAllocated.Jun' <= 100)
                    strMonthHTML += '<div title="@PercAllocated.Jun%"><span style="width:@PercAllocated.Jun%;"></span></div>';
                else
                    strMonthHTML += '<div title="@PercAllocated.Jun%"><span style="width:@PercAllocated.Jun%;" class="error"></span></div>';
            }
            else if (i == 7) {
                strMonthHTML += '<span class="title source-sans-proregular">JUL</span>';
                if ('@PercAllocated.Jul' <= 100)
                    strMonthHTML += '<div title="@PercAllocated.Jul%"><span style="width:@PercAllocated.Jul%;"></span></div>';
                else
                    strMonthHTML += '<div title="@PercAllocated.Jul%"><span style="width:@PercAllocated.Jul%;" class="error"></span></div>';
            }
            else if (i == 8) {
                strMonthHTML += '<span class="title source-sans-proregular">AUG</span>';
                if ('@PercAllocated.Aug' <= 100)
                    strMonthHTML += '<div title="@PercAllocated.Aug%"><span style="width:@PercAllocated.Aug%;"></span></div>';
                else
                    strMonthHTML += '<div title="@PercAllocated.Aug%"><span style="width:@PercAllocated.Aug%;" class="error"></span></div>';
            }
            else if (i == 9) {
                strMonthHTML += '<span class="title source-sans-proregular">SEP</span>';
                if ('@PercAllocated.Sep' <= 100)
                    strMonthHTML += '<div title="@PercAllocated.Sep%"><span style="width:@PercAllocated.Sep%;"></span></div>';
                else
                    strMonthHTML += '<div title="@PercAllocated.Sep%"><span style="width:@PercAllocated.Sep%;" class="error"></span></div>';
            }
            else if (i == 10) {
                strMonthHTML += '<span class="title source-sans-proregular">OCT</span>';
                if ('@PercAllocated.Oct' <= 100)
                    strMonthHTML += '<div title="@PercAllocated.Oct%"><span style="width:@PercAllocated.Oct%;"></span></div>';
                else
                    strMonthHTML += '<div title="@PercAllocated.Oct%"><span style="width:@PercAllocated.Oct%;" class="error"></span></div>';
            }
            else if (i == 11) {
                strMonthHTML += '<span class="title source-sans-proregular">NOV</span>';
                if ('@PercAllocated.Nov' <= 100)
                    strMonthHTML += '<div title="@PercAllocated.Nov%"><span style="width:@PercAllocated.Nov%;"></span></div>';
                else
                    strMonthHTML += '<div title="@PercAllocated.Nov%"><span style="width:@PercAllocated.Nov%;" class="error"></span></div>';
            }
            else if (i == 12) {
                strMonthHTML += '<span class="title source-sans-proregular">DEC</span>';
                if ('@PercAllocated.Dec' <= 100)
                    strMonthHTML += '<div title="@PercAllocated.Dec%"><span style="width:@PercAllocated.Dec%;"></span></div>';
                else
                    strMonthHTML += '<div title="@PercAllocated.Dec%"><span style="width:@PercAllocated.Dec%;" class="error"></span></div>';
            }
    strMonthHTML += '</div>';
}
}
else if ('@AllocatedBy' == 'quarters') {
            for (var i = 1; i <= 4; i++) {
                strMonthHTML += '<div class="budgetMonth">';
                if (i == 1) {
                    strMonthHTML += '<span class="title source-sans-proregular">Q1</span>';
                    if ('@PercAllocated.Jan' <= 100)
                        strMonthHTML += '<div title="@PercAllocated.Jan%"><span style="width:@PercAllocated.Jan%;"></span></div>';
                    else
                        strMonthHTML += '<div title="@PercAllocated.Jan%"><span style="width:@PercAllocated.Jan%;" class="error"></span></div>';
                }
                else if (i == 2) {
                    strMonthHTML += '<span class="title source-sans-proregular">Q2</span>';
                    if ('@PercAllocated.Apr' <= 100)
                        strMonthHTML += '<div title="@PercAllocated.Apr%"><span style="width:@PercAllocated.Apr%;"></span></div>';
                    else
                        strMonthHTML += '<div title="@PercAllocated.Apr%"><span style="width:@PercAllocated.Apr%;" class="error"></span></div>';
                }
                else if (i == 3) {
                    strMonthHTML += '<span class="title source-sans-proregular">Q3</span>';
                    if ('@PercAllocated.Jul' <= 100)
                        strMonthHTML += '<div title="@PercAllocated.Jul%"><span style="width:@PercAllocated.Jul%;"></span></div>';
                    else
                        strMonthHTML += '<div title="@PercAllocated.Jul%"><span style="width:@PercAllocated.Jul%;" class="error"></span></div>';
                }
                else if (i == 4) {
                    strMonthHTML += '<span class="title source-sans-proregular">Q4</span>';
                    if ('@PercAllocated.Oct' <= 100)
                        strMonthHTML += '<div title="@PercAllocated.Oct%"><span style="width:@PercAllocated.Oct%;"></span></div>';
                    else
                        strMonthHTML += '<div title="@PercAllocated.Oct%"><span style="width:@PercAllocated.Oct%;" class="error"></span></div>';
                }

    strMonthHTML += '</div>';
}
}
    $('#monthContainer').html(strMonthHTML);

}

</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#monthContainer").mCustomScrollbar({
            scrollButtons: {
                enable: true
            },
            horizontalScroll: true,
            advanced: { autoExpandHorizontalScroll: true, updateOnContentResize: true }
        });
    });

    $('#aPlanDetails').click(function (e) {
        e.stopPropagation();
        $.ajaxSetup({ cache: false });
        $("#slidepanel").css("display", "block");
        var url = '@Url.Content("~/Plan/PlanDetails")';
        var Assortment = 'Budgeting';
        var id = @Sessions.PlanId
        $('#slidepanel-container').load(url + '?id=' + id + '&RedirectType=' + Assortment, AssignDefaultValue);
        $("#slidepanel").css("right", "0px");
        $("#slidepanel").addClass('sidebar-wide');
        myApp.hidePleaseWait();
        e.preventDefault();
    });

    function AssignDefaultValue() {
        $('#slidepanel-container').find("input[type=text],textarea,select").each(function () {
            $(this).attr("title", $(this).val());
        });
    }

</script>
