@model RevenuePlanner.Models.CopyEntiyBetweenPlanModel
@using Newtonsoft.Json;
@{
    var _mainGridData = Model != null ? JsonConvert.SerializeObject(Model) : string.Empty;
    //var headerTitle = Model.HeaderTitle != null ? Model.HeaderTitle : string.Empty;
    var headerTitle = (string)ViewBag.HeaderTitle;
    var srcSectionType = Model.srcSectionType != null ? Model.srcSectionType : string.Empty;
    var srcEntityId = Model.srcEntityId != null ? Model.srcEntityId : string.Empty;
    var srcPlanId = Model.srcPlanId != null ? Model.srcPlanId : string.Empty;
    var PopupType = (string)ViewBag.PopupType;
    var constPlan = RevenuePlanner.Helpers.Enums.Section.Plan;
    var constCampaign = RevenuePlanner.Helpers.Enums.Section.Campaign;
    var constProgram = RevenuePlanner.Helpers.Enums.Section.Program;
    var constTactic = RevenuePlanner.Helpers.Enums.Section.Tactic;
    var redirectType = ViewBag.RedirectType; //Added by Rahul Shah on 12/04/2016 for PL #2038
}
<link href="@Url.Content("~/Content/css/DHTMLX/dhtmlxgrid.css")" rel="stylesheet" type="text/css" />
<!-- Modal -->
<div class=" modal modal-copytactic" id="copytactic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close closeCopyEntity" data-dismiss="modal" aria-label="Close" id="btnClose"><span aria-hidden="true">&times;</span></button>
                @*<h4 class="modal-title  source-sans-proregular" id="myModalLabel">Copying - <span class=" source-sans-probold tipsyTitle" id="hdrTitle"></span></h4>*@
                <h4 class="modal-title  source-sans-proregular" id="myModalLabel"> @PopupType.ToString() - <span class=" source-sans-probold tipsyTitle" id="hdrTitle"></span></h4>  @*Modified by Rahul Shah on 30/12/2015 for PL #1847*@
            </div>
            <div class="modal-body">
                <div id="nl-formCopyTacticPlan" class="nl-form-plan-title without-margin plantitle financetitle">
                    @Html.DropDownList("ddlPlans", new SelectList((System.Collections.IEnumerable)ViewBag.plans, "Value", "Text"))
                    <div class="nl-overlay"></div>
                </div>
                <div id="successMessage1" class="alert alert-success hide">
                    <a class="close closemessage">×</a>
                    <strong>Success.</strong> <span id="spanMessageSuccess1"></span>
                </div>
                <div id="errorMessage1" class="alert alert-error hide">
                    <a class="close closemessage">×</a>
                    <strong>Error!</strong> <span id="spanMessageError1"></span>
                </div>
                <div id="warningMessage1" class="alert msgWarning hide">
                    <a class="close closemessage">×</a>
                    <strong>Warning!</strong> <span id="spanMessageWarning1"></span>
                </div>
                <div class="modal-content-grid">
                    <div id="dvParentEntitySelection" style="width:100%; height:450px;"></div>
                </div>
                <button id="btncopySubmit" type="button" class="btn btn-blue text-shadow-blue source-sans-proregular pull-left" data-dismiss="modal" onclick="CopyEntity()">Confirm</button>
                <button type="button" class="btn btn-grey without-text-shadow source-sans-proregular btnEdit pull-left closeCopyEntity">Cancel</button>
                <button id="btnCloseLinkTactic" class="close-x-big-icon hide" data-dismiss="modal" aria-hidden="true"></button>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var myTreeGrid;
        var poptype = '@PopupType.ToString().ToUpper()';
        $(document).ready(function () {
            //Modified by Rahul Shah on 22/02/2016 for PL#1961. display Message When No Future Plan Exists for Link to tactics.
            if (('@ViewBag.isPlanExist' == 'True' && poptype == "@Convert.ToString(RevenuePlanner.Helpers.Enums.ModelTypeText.Linking).ToUpper()") || poptype == "@Convert.ToString(RevenuePlanner.Helpers.Enums.ModelTypeText.Copying).ToUpper()") {
                nlformUserChildFinance = new NLForm(document.getElementById('nl-formCopyTacticPlan'));
                showWarningMessage();   // show "METADETA" lost warning message when popup load first time.
                $('#nl-formCopyTacticPlan > div[class="nl-field nl-dd"]').find('li').click(function (e) {
                    showWarningMessage();
                    var planId = $(this).attr('value');
                    if (planId != null && planId != 'undefined' && planId != '0') {
                        RefreshParentEntitySelectionList(planId);
                    }
                    $('#nl-formCopyTacticPlan .nl-field-toggle').text($(this).text());
                });
                $('#nl-formCopyTacticPlan .nl-field-toggle').addClass('tipsyTitle');
                @*var hdrTitle = '@headerTitle';
            hdrTitle = $('<div/>').html(hdrTitle.toString().replace(/[\\]/g, "\\\\")).text();
            $("#hdrTitle").text(hdrTitle.replace(/&amp;/g, "&").replace(/&gt;/g, ">").replace(/&lt;/g, "<"));
            NumberFormatterTipsyTitle(".tipsyTitle", 28);
            $(".closeCopyEntity").click(function () {
                $('#dvCopyEntity').empty();
            });*@
                var mainGridData = "@_mainGridData";
                mainGridData = $('<div/>').html(mainGridData.toString().replace(/[\\]/g, "\\\\")).text(); // Decode Html content.
                //var GridData = (mainGridData.toString().replace(/&quot;/g, '"'));
                var GridData = (mainGridData.toString().replace(/&amp;/g, "&"));
                BindParentEntitySelectionList(GridData);
                $("#SuccessMsg").css("display", "none");
                CloseIconClick();
            }
            else {
                errorMsg = '@RevenuePlanner.Helpers.Common.objCached.NoPlanforLinking.ToString()';
                ShowErrorC(false, errorMsg);
                $('#nl-formCopyTacticPlan').hide();
                $('#btncopySubmit').hide();

            }
            var hdrTitle = '@headerTitle';
            hdrTitle = $('<div/>').html(hdrTitle.toString().replace(/[\\]/g, "\\\\")).text();
            $("#hdrTitle").text(hdrTitle.replace(/&amp;/g, "&").replace(/&gt;/g, ">").replace(/&lt;/g, "<"));
            NumberFormatterTipsyTitle(".tipsyTitle", 28);
            $(".closeCopyEntity").click(function () {
                $('#dvCopyEntity').empty();
            });
            $('.btn-dropdwn').hide();

            //Enable single click to trigger edit - zz
            myTreeGrid.enableEditEvents(true, false, true);

        });
        function RefreshParentEntitySelectionList(planId) {

            var url = '@Url.Content("~/Plan/RefreshParentEntitySelectionList/")';
            $.ajax({
                url: url,
                data: {
                    planId: planId
                },
                datatype: 'json',
                type: 'POST',
                async: false,
                success: function (griddata) {
                    BindParentEntitySelectionList(griddata);
                }
            });
        }
        function BindParentEntitySelectionList(GridData) {

            //GridData = $('<div/>').html(GridData.toString().replace(/[\\]/g, "\\\\")).text(); // Decode Html content.
            //GridData = (GridData.toString().replace(/&amp;/g, "&"));
            myTreeGrid = new dhtmlXGridObject('dvParentEntitySelection');
            myTreeGrid.setImagePath('@Url.Content("~/codebase/imgs/")');
            myTreeGrid.setImageSize(1, 1);
            myTreeGrid.enableTreeCellEdit(false);
            myTreeGrid.setHeader("");
            myTreeGrid.setNoHeader(true);
            //myTreeGrid.setInitWidths("200");
            myTreeGrid.setColAlign("left");
            myTreeGrid.setColTypes("tree");
            myTreeGrid.init();
            myTreeGrid.setSkin("dhx_skyblue");
            myTreeGrid.parse(GridData, "json");
            myTreeGrid.expandAll();
            $(".modal-content-grid .objbox").css("height", 450);
            $('#copytactic .nl-field').css('border-right', 'none');
            $("#dvParentEntitySelection table").css('color', 'black');
            //$("#copytactic .nl-field-toggle").css('font-weight', 'bold');
            $("div.objbox table").delegate('tr', 'click', function () {
                $(this).removeClass('rowselected');
                $(this).find('td').removeClass('cellselected');
                $(this).addClass('selectiontr');

                $(this).siblings().removeClass('selectiontr');

            });
        }
        function CopyEntity() {
            @*var poptype = '@PopupType.ToString().ToUpper()';*@
            var selectedRowId = myTreeGrid.getSelectedRowId();
            if (selectedRowId != null && selectedRowId != 'undefined') {
                var arrElements = selectedRowId.split('_'); // selectedRowWIdFormat: [entityname]_[EntityId]_[prntEntityId]_[sectionType]_[destPlanId]
                var srcSectionType = '@srcSectionType';
                var selectedSectionType = arrElements != null && arrElements[3] != null && arrElements[3] != 'undefined' ? arrElements[3] : "";
                var errorMsg = '';

                if (srcSectionType.toLowerCase() == ('@constCampaign').toLowerCase() && selectedSectionType.toLowerCase() !== '@constPlan'.toLowerCase()) {
                    errorMsg = '@RevenuePlanner.Helpers.Common.objCached.CloneEntityErrorMessage.Replace("{0}", srcSectionType.ToString()).Replace("{1}", constPlan.ToString())';
                }
                else if (srcSectionType.toLowerCase() == ('@constProgram').toLowerCase() && selectedSectionType.toLowerCase() !== '@constCampaign'.toLowerCase()) {
                    errorMsg = '@RevenuePlanner.Helpers.Common.objCached.CloneEntityErrorMessage.Replace("{0}", srcSectionType.ToString()).Replace("{1}", constCampaign.ToString())';
                }
                else if (srcSectionType.toLowerCase() == ('@constTactic').toLowerCase() && selectedSectionType.toLowerCase() !== '@constProgram'.toLowerCase()) {
                    errorMsg = '@RevenuePlanner.Helpers.Common.objCached.CloneEntityErrorMessage.Replace("{0}", srcSectionType.ToString()).Replace("{1}", constProgram.ToString())';
                }
            }
            else {
                errorMsg = '@RevenuePlanner.Helpers.Common.objCached.CloneEntityNonSelctionErrorMessage.ToString()';
            }
            if (errorMsg != '') {
                ShowErrorC(false, errorMsg);
            }
            else {
                if (poptype == "@Convert.ToString(RevenuePlanner.Helpers.Enums.ModelTypeText.Linking).ToUpper()") {
                    var destEntityId = arrElements[1] != null && arrElements[1] != 'undefined' ? arrElements[1] : '';
                    var destPlanId = arrElements[4] != null && arrElements[4] != 'undefined' ? arrElements[4] : '';
                    LinkEntityToOtherPlan(destEntityId, destPlanId);
                } else {
                    var destEntityId = arrElements[1] != null && arrElements[1] != 'undefined' ? arrElements[1] : '';
                    var destPlanId = arrElements[4] != null && arrElements[4] != 'undefined' ? arrElements[4] : '';
                    CloneEntityToOtherPlan(destEntityId, destPlanId);
                }
            }

            //alert(selectedRowId);
        }
        //Added by Rahul Shah on 30/12/2015 for PL #1847
        function LinkEntityToOtherPlan(destEntityId, destPlanId) {
            //Modified by Rahul Shah on 12/04/2016 for PL #2038
            var srcEntityID = '@srcEntityId';
            var srcPlanID = '@srcPlanId';
            var cloneType = '@srcSectionType';
            var destEntityID = destEntityId;
            var redirecttype = '@redirectType';
            var srcEntityTitle = '@HttpUtility.JavaScriptStringEncode(headerTitle)'; //PL#1794 Copy Tactic/Program/Campaign: Error Message & Validation Message -Added by Dashrath Prajapati
            $.ajax({
                url: '@Url.Content("~/Plan/LinktoOtherPlan/")',
                data: {
                    CloneType: cloneType,
                    srcEntityId: srcEntityID,
                    destEntityID: destEntityId,
                    srcPlanID: srcPlanID,
                    destPlanID: destPlanId,
                    sourceEntityTitle: srcEntityTitle,
                    redirecttype: redirecttype
                },
                datatype: 'json',
                type: 'GET',
                async: true,
                success: function (result) {
                    if (result != null && result != undefined) {
                        gridSearchFlag = 1;
                        var issuccess = result.isSuccess;
                        var option = result.opt;
                        if (issuccess != null && issuccess != 'undefined' && issuccess) {
                            //Modified by Rahul Shah on 12/04/2016 for PL #2038
                            //if (option != "") {
                            //    //$(".close-x-big-icon").trigger("click");
                            //    $("#successMessage").css("display", "block");
                            //    $("#spanMessageSuccess").empty();
                            //    $("#spanMessageSuccess").text(result.msg).css('font-weight', 'normal');
                            //    var str = result.clonetype + " " + '<span class="lickSuccessMsg">' + result.sourceEntityHtmlDecodedTitle + '</span>' + " " + 'has been linked to' + " " + '<span class="lickSuccessMsg">' + result.destPlanTitle + '</span>';
                            //    $('#spanMessageSuccess').html(str);
                            //    $("#errorMessage").css("display", "none");
                            //    $("#errorMessage1").css("display", "none");
                            //    $("#successMessage1").css("display", "none");
                            //}
                            //else {
                            if (option != "") {
                                $(".close-x-big-icon").trigger("click");
                            }
                            $("#SuccessMsg").css("display", "block");
                            $("#spanMsgSuccess").empty();
                            $("#spanMsgSuccess").text(result.msg).css('font-weight', 'normal');
                            var str = result.clonetype + " " + '<span class="lickSuccessMsg">' + result.sourceEntityHtmlDecodedTitle + '</span>' + " " + 'has been linked to' + " " + '<span class="lickSuccessMsg">' + result.destPlanTitle + '</span>';
                            $('#spanMsgSuccess').html(str);
                            $("#errorMessage1").css("display", "none");
                            $("#successMessage1").css("display", "none");
                            logMixpanelTrack("Link To " + cloneType + " :" + escape(srcEntityTitle)); // log Copy To event to mixpanel. Added by Viral for PL ticket #2434.                            
                            //}
                            $('#copytactic').hide();
                            isDataModified = true;
                            ConfirmLinkTactic();

                        }
                        else {
                            ShowErrorC(issuccess, result.msg);
                        }

                    }
                }
            });
        }
        function CloneEntityToOtherPlan(destEntityId, destPlanId) {
            //Modified by Rahul Shah on 12/04/2016 for PL #2038
            var srcEntityID = '@srcEntityId';
            var srcPlanID = '@srcPlanId';
            var cloneType = '@srcSectionType';
            var destEntityID = destEntityId;
            var redirecttype = '@redirectType';
            var srcEntityTitle = '@HttpUtility.JavaScriptStringEncode(headerTitle)'; //PL#1794 Copy Tactic/Program/Campaign: Error Message & Validation Message -Added by Dashrath Prajapati
            $.ajax({
                url: '@Url.Content("~/Plan/ClonetoOtherPlan/")',
                data: {
                    CloneType: cloneType,
                    srcEntityId: srcEntityID,
                    destEntityID: destEntityId,
                    srcPlanID: srcPlanID,
                    destPlanID: destPlanId,
                    sourceEntityTitle: srcEntityTitle,
                    redirecttype: redirecttype
                },
                datatype: 'json',
                type: 'GET',
                async: false,
                success: function (result) {
                    if (result != null && result != undefined) {
                        //Modified by Rahul Shah on 12/04/2016 for PL #2038
                        var issuccess = result.isSuccess;
                        var option = result.opt;
                        if (issuccess != null && issuccess != 'undefined' && issuccess) {
                            if (option != "") {
                                $("#successMessage").css("display", "block");
                                $("#spanMessageSuccess").empty();
                                $("#spanMessageSuccess").text(result.msg);
                                $("#errorMessage").css("display", "none");
                            }
                            else {
                                $("#errorMsg").css("display", "none");
                                $("#SuccessMsg").css("display", "block");
                                $("#spanMsgSuccess").empty();
                                $("#spanMsgSuccess").text(result.msg);
                            }
                            logMixpanelTrack("Copy To " + cloneType + " :" + escape(srcEntityTitle)); // log Copy To event to mixpanel. Added by Viral for PL ticket #2434.
                            $('#copytactic').hide();
                            $("#errorMessage1").css("display", "none");
                            $("#successMessage1").css("display", "none");
                        }
                        else {
                            ShowErrorC(issuccess, result.msg);
                        }

                    }
                }
            });
        }

        function ShowErrorC(isSuccess, value) {

            if (isSuccess != null && isSuccess != 'undefined' && isSuccess) {
                //$("#modal-container-1864701").scrollTop(0);
                $("#errorMsg").css("display", "none");
                $("#SuccessMsg").css("display", "block");
                $("#spanMsgSuccess").empty();
                $("#spanMsgSuccess").text(value);
                $("#errorMessage1").css("display", "none");
                $("#successMessage1").css("display", "none");
                //$("#spanMessageSuccess1").empty();
                //$("#spanMessageSuccess1").text(Message);

                //if (time != 'undefined') {
                //    $('#successMessage1').slideDown(time);
                //}
            }
            else {
                //$('#copytactic').show();
                $("#warningMessage1").css("display", "none");
                $("#successMessage1").css("display", "none");
                $("#errorMessage1").css("display", "block");
                $("#errorMessage1").slideDown(400);
                $("#spanMessageError1").empty();
                $("#spanMessageError1").html(value);
            }
        }
        function showWarningMessage() {
            var poptype = '@PopupType.ToString().ToUpper()';
            $("#warningMessage1").css("display", "block");
            $("#spanMessageWarning1").empty();
            if (poptype == "@Convert.ToString(RevenuePlanner.Helpers.Enums.ModelTypeText.Linking).ToUpper()") {
                $("#spanMessageWarning1").text('@RevenuePlanner.Helpers.Common.objCached.LinkEntityInformationMessage.ToString()');
            }
            else {
                $("#spanMessageWarning1").text('@RevenuePlanner.Helpers.Common.objCached.CloneEntityMetaDataErrorMessage.ToString()');
            }
            $("#SuccessMsg").css("display", "none");
            $("#errorMessage1").css("display", "none");
        }
        $(".closemessage").click(function () {
            //$("#divBackground").css("display", "none");
            $(this).parent().closest('div').css("display", "none");
            //$('#dvCopyEntity').empty();
            //$(".modal-backdrop").css('display', 'none');


        });
    </script>
