@using RevenuePlanner.Helpers

<!DOCTYPE html>


@{
    string Planid = Convert.ToString(RevenuePlanner.Helpers.Sessions.PlanId);
    bool IsPlanCreateAuthorized = false;
    if ((bool)ViewBag.IsPlanCreateAuthorized)
    {
        IsPlanCreateAuthorized = (bool)ViewBag.IsPlanCreateAuthorized;
    }
    bool IsPlanEditable = false;
    if (ViewBag.IsPlanEditable != null)
    {
        if ((bool)ViewBag.IsPlanEditable)
        {
            IsPlanEditable = (bool)ViewBag.IsPlanEditable;
        }
    }

    bool IsPlanCreateAll = false;
    if (ViewBag.IsPlanCreateAll != null)
    {
        IsPlanCreateAll = (bool)ViewBag.IsPlanCreateAll;
    }
    string strPlanid = ViewBag.strplanid;
    
    var BudgetingBussinessUnitId = 0;
    var BudgetingCurrentTab = "aAllocated";
    var BudgetingCurrentPlanId = 0;
    var RequestedModule="";
    var BudgetingExpandId = 0;
    bool BudgetingIsSave = false;
    bool IsCreate_Clone = false;
}

@Html.Hidden("hdnBudgetingBussinessUnitId", BudgetingBussinessUnitId)
@Html.Hidden("hdnBudgetingCurrentTab", BudgetingCurrentTab)
@Html.Hidden("hdnBudgetingCurrentPlanId", BudgetingCurrentPlanId)
@Html.Hidden("hdnRequestedModule", RequestedModule)
@Html.Hidden("hdnBudgetingExpandId", BudgetingExpandId)
@Html.Hidden("hdnBudgetingIsSave", BudgetingIsSave)
@Html.Hidden("hdnIsCreate_Clone",IsCreate_Clone)
@Html.Hidden("hdnBudgetingIsDelete", BudgetingExpandId)

<div class="padding-content padding-bottom0 ">
    <h4 class="text-shadow-black source-sans-prolight">Plan Summary</h4>

    <div class="wraper-btns cf">
        @if (IsPlanCreateAuthorized) // added by dharmraj form user activity permission
        {
            <div class="span6">
                <div class="btn-group ">
                    <button id="BtnGroup" class="btn btn-blue text-shadow-blue source-sans-proregular buttom-width resize-drop-button without-border-buttom displayinherit   source-sans-prolight width90px">
                        New Plan
                    </button>
                    <button data-toggle="dropdown" class="btn btn-blue dropdown-toggle height25 displayinherit width19px">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu source-sans-prolight">
                        <li>
                            <a href="#">Create New</a>
                        </li>
                        @if (ViewBag.PageTitle == "Create")
                        {
                            if (Sessions.PlanId != 0)
                            {
                            <li>
                                <a id="spanPlanDuplicate">Duplicate</a>
                            </li>
                            }
                        }
                        else if (ViewBag.PageTitle == "Assortment")
                        {  
                            <li>
                                <a id="spanPlanDuplicate">Duplicate</a>
                            </li>
                        }
                        else if (ViewBag.PageTitle == "ApplyToCallender")
                        {    
                            <li>
                                <a id="spanPlanDuplicate">Duplicate</a>
                            </li>  
                        }
@* Start - Added by Sohel Pathan on 19/08/2014 for Internal Review Points *@
                        else if (ViewBag.PageTitle == "Budgeting")
                        {    
                            <li>
                                <a id="spanPlanDuplicate">Duplicate</a>
                            </li>  
                        }
@* End - Added by Sohel Pathan on 19/08/2014 for Internal Review Points *@
                    </ul>
                </div>
            </div>
        }
            <div id="Addactivityarea" class="span6">
                <button id="LeftNavAddActivity" class="btn btn-blue text-shadow-blue source-sans-proregular" type="button">Go to Calendar</button>
            </div>
        
    </div>

</div>



<ul id="ulplan" class="nav nav-list nav-gray-plan">
    <li id="liDefination" class="item ">
        <a class="source-sans-probold inputs" id="LeftNavInput"><span></span>@Html.Raw("PLAN DEFINITION")</a>
    </li>
      @if (IsPlanCreateAll)
      {
    <li id="liCampaign" class="item">
        <a class="source-sans-probold audience" id="LeftNavCampaigns"><span></span>@Html.Raw("CAMPAIGNS")</a>
    </li>
      }
    <li id="liCalender" class="item">
        <a class="source-sans-probold calendar" id="aApplyToCalender"><span></span>@Html.Raw("APPLY TO CALENDAR")</a>
    </li>
    <li id="liBudgeting" class="item">
        <a class="source-sans-probold budget" id="aBudgeting"><span></span>@Html.Raw("BUDGETING")</a>
    </li>
</ul>




<ul class="nav nav-list nav-gray-plan">
    <li id="change-log" class="nav-header">
        <span>Change Log</span>
        <div class="changes">
            <div class="change"><span class="action">None</span></div>
        </div>
    </li>
</ul>

<script>
    $(document).ready(function () {
        //Added : By Kalpesh Sharma Ticket #638 Cloning icon for plans, campaigns, programs and tactics
        $('#BtnGroup').click(function (e) {
           
            if ('@ViewBag.PageTitle' != 'Create') {
            if ($(this).html().toLowerCase() == "duplicate") {
                // Start - Added by Sohel Pathan on 18/08/2014 for Internal Review Points
                if (isDataChanged()) {
                    $('#cErrorDuplicatePlan').html("<strong>Error! </strong> You have unsaved changes. Do you wish to leave this page and lose your work?&nbsp;&nbsp;&nbsp;<a id='btnConfirmOK' class='btn-gray CursorHand' style='color:gray;'>Continue</a>&nbsp;&nbsp;<a style='color:gray;' id='confirmClose' href='#' class='underline'>Cancel</a>");
                    $("#errorMessageDuplicatePlan").slideDown(400);
                    $("#btnConfirmOK").click(function () {
                        $('#cErrorDuplicatePlan').html("");
                        $("#errorMessageDuplicatePlan").hide();
                        clonePlan();
                    });
                }
                else {
                    clonePlan();
                }
                // End - Added by Sohel Pathan on 18/08/2014 for Internal Review Points
                }
                else {
                    var url = '@Url.Content("~/Plan/Create")';
                    window.location.href = url;
                }
           
            }
        });

        // Start - Added by Sohel Pathan on 18/08/2014 for Internal Review Points
        function isDataChanged() {
            var changed = false;
            $('#slidepanel').find("input[type=text],textarea,select, .priceValue").each(function () {
                var iv = $(this).attr("myValue");
                if ($(this).val() != iv) {
                    changed = true;
                    return false;
                }
            });
            return changed;
        }

        function clonePlan() {
            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/Plan/Clone")',
                data: {
                    CloneType: '@Enums.DuplicationModule.Plan',
                    Id: '@Planid',
                    title: ''
                },
                success: function (data) {
                    if (data.returnURL != 'undefined' && data.returnURL == '#') {
                        window.location = '@Url.Content("~/Login/Index")';
                    }
                    else {
                        if (data.redirect) {
                            window.location.href = data.redirect;
                            return;
                        }
                        if (data.errormsg) {
                            alert(data.errormsg);
                            return;
                        }
                    }
                }
            });
        }
        // End - Added by Sohel Pathan on 18/08/2014 for Internal Review Points
        $('.nav nav-list nav-gray-plan li').each(function () {
            $(this).removeClass('active');
        });
        if ('@ViewBag.PageTitle' == 'Create') {

            $('#LeftNavAddActivity').attr("disabled", "disabled");
            if (!$('#liDefination').hasClass('active')) {
                $('#liDefination').addClass('active');
                if ('@strPlanid' == '' || '@strPlanid' == '0') {
                    $('#LeftNavCampaigns').attr('style', 'cursor:default !important');
                    $('#aApplyToCalender').attr('style', 'cursor:default !important');
                    $('#aBudgeting').attr('style', 'cursor:default !important');

                    $('#liCampaign').attr('style', 'on:default !important');
                    $('#ulplan').removeClass();
                    $('#ulplan').addClass('nav nav-list nav-gray-planc');
                    $('#LeftNavCampaigns').removeAttr('id');
                    $('#LeftNavCampaigns').attr('href', '#');
                    $('#aApplyToCalender').removeAttr('id');
                    $('#aApplyToCalender').attr('href', '#');
                    $('#aBudgeting').removeAttr('id');
                    $('#aBudgeting').attr('href', '#');

                    $('#LeftNavInput').removeAttr('id');
                }
                else {
                    $('#LeftNavAddActivity').removeAttr("disabled", "disabled");
                    $('#LeftNavCampaigns').attr("id", "LeftNavCampaigns");
                    $('#LeftNavCampaigns').removeAttr('href', '#');
                    $('#aApplyToCalender').attr("id", "aApplyToCalender");
                    $('#aApplyToCalender').removeAttr('href', '#');
                    $('#aBudgeting').attr("id", "aBudgeting");
                    $('#aBudgeting').removeAttr('href', '#');
                    $('#LeftNavInput').removeAttr('id');
                }
            }

        }
        else if ('@ViewBag.PageTitle' == 'Assortment') {
            $('#LeftNavAddActivity').removeAttr("disabled", "disabled");
            if (!$('#liCampaign').hasClass('active')) {
                $('#liCampaign').addClass('active');
                $('#LeftNavCampaigns').removeAttr('id');
                $('#LeftNavCampaigns').attr("href", "#");
                $('#LeftNavCampaigns').removeAttr('id');
            }
        }
        else if ('@ViewBag.PageTitle' == 'ApplyToCallender') {
                var isplanEdit = '@IsPlanEditable.ToString()';
            if (!$('#liCalender').hasClass('active')) {
                $('#liCalender').addClass('active');
                $('#aApplyToCalender').removeAttr('id');
                $('#aApplyToCalender').attr("href", "#");
                $('#aApplyToCalender').removeAttr('id');
            }
            if (isplanEdit == 'false') {
                $('#Addactivityarea').hide();
            }
            else {
                $('#Addactivityarea').show();
            }
        }
        else if ('@ViewBag.PageTitle' == 'Budgeting') {
            if (!$('#liBudgeting').hasClass('active')) {
                $('#liBudgeting').addClass('active');
                $('#aBudgeting').removeAttr('id');
                $('#aBudgeting').attr("href", "#");
                $('#aBudgeting').removeAttr('id');
            }
        }
    });

  function ShowModel(mode, section, id, ParentId, RequestedModule) {
      removeDefaultModalPopupBackgroungColor();
    modalFullPosition(); // Added by Kapil Antala on 17 Sep 2014 for #732 - new popup design

    $('.modal-backdrop').addClass('modalFull-backdrop');
    $('.modal-backdrop').attr("style", "display:none !important;");
    $("#successMessage").css("display", "none");
    $("#errorMessage").css("display", "none");
    $("#successMessageDuplicatePlan").css("display", "none");
    $("#modal-container-186470").modal('show');
    ParentId = typeof ParentId != 'undefined' ? ParentId : '0';
    RequestedModule = typeof RequestedModule != 'undefined' ? RequestedModule : '';

    $("#hdnRequestedModule").val(RequestedModule);
    var currentTab = "Setup";
      // Commented by Arpita Soni for Ticket #2236 on 06/20/2016
    @*if ((RequestedModule == "@Enums.InspectPopupRequestedModules.Budgeting.ToString()") && (mode == "@Enums.InspectPopupMode.ReadOnly.ToString()")) {
        currentTab = "Budget";
    }*@

    if (section == "@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.Campaign).ToLower()") {
        if (mode == "@Enums.InspectPopupMode.Add.ToString()") {
            loadInspectPopup("0", "@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.Campaign).ToLower()", currentTab, "@Enums.InspectPopupMode.Add.ToString()", '@Planid', RequestedModule);
        }
        else {
            loadInspectPopup(id, "@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.Campaign).ToLower()", currentTab, "@Enums.InspectPopupMode.ReadOnly.ToString()", 0, RequestedModule);
        }
    }
    else if (section == "@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.Program).ToLower()") {
        if (mode == "@Enums.InspectPopupMode.Add.ToString()") {
            loadInspectPopup("0", "@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.Program).ToLower()", currentTab, "@Enums.InspectPopupMode.Add.ToString()", ParentId, RequestedModule);
        }
        else {
            loadInspectPopup(id, "@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.Program).ToLower()", currentTab, "@Enums.InspectPopupMode.ReadOnly.ToString()", 0, RequestedModule);
        }
    }
    else if (section == "@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.Tactic).ToLower()") {
        if (mode == "@Enums.InspectPopupMode.Add.ToString()") {
            loadInspectPopup("0", "@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.Tactic).ToLower()", currentTab, "@Enums.InspectPopupMode.Add.ToString()", ParentId, RequestedModule);
        }
        else {
            loadInspectPopup(id, "@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.Tactic).ToLower()", currentTab, "@Enums.InspectPopupMode.ReadOnly.ToString()", ParentId, RequestedModule);
        }
    }
    else if (section == "@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.ImprovementTactic).ToLower()") {
        if (mode == "@Enums.InspectPopupMode.Add.ToString()") {
            loadInspectPopup(0, "@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.ImprovementTactic).ToLower()", currentTab, "@Enums.InspectPopupMode.Add.ToString()", ParentId, RequestedModule);
        }
        else {
            loadInspectPopup(id, "@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.ImprovementTactic).ToLower()", currentTab, "@Enums.InspectPopupMode.ReadOnly.ToString()", ParentId, RequestedModule);
        }
    }
    else if (section == "@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.LineItem).ToLower()") {
        if (mode == "@Enums.InspectPopupMode.Add.ToString()") {
         loadInspectPopup("0", "@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.LineItem).ToLower()", currentTab, "@Enums.InspectPopupMode.Add.ToString()", ParentId, RequestedModule);
        }
        else {
            loadInspectPopup(id, "@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.LineItem).ToLower()", currentTab, "@Enums.InspectPopupMode.ReadOnly.ToString()", ParentId, RequestedModule);
        }
    }
    else if (section == "@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.Plan).ToLower()") {
     if (mode == "@Enums.InspectPopupMode.Add.ToString()") {
         loadInspectPopup("0", "@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.Plan).ToLower()", currentTab, "@Enums.InspectPopupMode.Add.ToString()", ParentId, RequestedModule);
     }
     else {
         loadInspectPopup(id, "@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.Plan).ToLower()", currentTab, "@Enums.InspectPopupMode.ReadOnly.ToString()", ParentId, RequestedModule);
     }
 }

    modalBackdropDisplayNone();
};

function loadInspectPopup(id, section, tabValue, mode, parentId, RequestedModule) {
    parentId = typeof parentId != 'undefined' ? parentId : '0';
    RequestedModule = typeof RequestedModule != 'undefined' ? RequestedModule : '';
    var url = '@Url.Content("~/Inspect/LoadInspectPopup")';
    $("#divPartial").empty();
    $("#divPartial").load(url + '?id=' + id + '&Section=' + section + '&TabValue=' + tabValue + '&InspectPopupMode=' + mode + '&parentId=' + parentId + '&RequestedModule=' + RequestedModule, function (response, status, xhr) {
        if (response == '{"serviceUnavailable":"~/Login/ServiceUnavailable"}') {
            //// Call function to redirect on service unavailibility.
            //// Added By: Maninder Singh Wadhva on 11/24/2014.
            //// Ticket: 942 Exception handeling in Gameplan.
            window.location = '@Url.Content(Common.RedirectOnServiceUnavailibilityPage)';
            }
        });
    }

    function CloseIconClick() {
        $('.close-x-big-icon').click(function () {
            addDefaultModalPopupBackgroungColor();
            $('body').removeClass('bodyOverflow');

            if ((($("#hdnBudgetingIsSave").val().toLowerCase().toString()) == "true") && ("@Enums.InspectPopupRequestedModules.Budgeting.ToString()" == $("#hdnRequestedModule").val())) {
                $('#DivloadPlan').load('@Url.Action("BudgetPlanList", "Plan")' + '?Bid=' + $("#hdnBudgetingBussinessUnitId").val(), function () { TabLoad($("#hdnBudgetingCurrentTab").val()); ShowChangeLog($("#hdnBudgetingCurrentPlanId").val()); hideAllMessages = true; });
                $("#hdnBudgetingIsSave").val("false");
            }

                @*//window.location = '@Url.Content("~/Plan/Assortment")';*@
            //Added by Viral Kadiya on 11/07/2014 for PL #941 to refresh gantt data
            var hdnRefresh = $("#hdnRefresh").val();    // This hidden value set from ApplyToCalendar page, to check flag, whether this page called from ApplyTocalender or not.
            if (hdnRefresh != null && gantt != null) {
                gantt.refreshData();
            }
            $(".datepicker.dropdown-menu").each(function () {
                $(this).remove();
            });

            ////
            if (("@Enums.InspectPopupRequestedModules.ApplyToCalendar.ToString()" == $("#hdnRequestedModule").val())) {
                var isRefresh = $("#hdnIsCreate_Clone").val();
                $("#hdnIsCreate_Clone").val(false);
                if (isRefresh.toString().toLowerCase() == 'true')
                    window.location.reload();//loadEditableIdsToHidden();  //// This method exist in ApplyToCalendar page.
            }
        });
    }
    function modalBackdropDisplayNone() {
        setTimeout(function () {
            $('.modal-backdrop').each(function () {
                if (typeof ($(this).attr('id')) == 'undefined') {
                    $(this).attr("style", "display:none !important;");
                }
            });
        }, 500);
    };

</script>

