@model RevenuePlanner.Models.HomePlanModel
@using RevenuePlanner.Helpers
@{
    ViewBag.Title = "Plan";
    ViewBag.ActiveMenu = RevenuePlanner.Helpers.Enums.ActiveMenu.Plan;
    Layout = "~/Views/Shared/_Layout.cshtml";
    //bool showBid = ViewBag.showBid;
    string Planid = Convert.ToString(RevenuePlanner.Helpers.Sessions.PlanId);
    bool IsPlanCreateAuthorized = (bool)ViewBag.IsPlanCreateAuthorized;
    bool IsPlanEditable = (bool)ViewBag.IsPlanEditable;
    ViewBag.PageTitle = "ApplyToCallender";//Added by Mitesh Vaishnav on 11/07/2014 for functional review point 49   

    // Added by Viral kadiya on 12/23/2014 for PL ticket #1046.
    string strCampaignIds = ViewBag.EditablCampaignIds;
    string strProgramIds = ViewBag.EditablProgramIds;
    string strTacticIds = ViewBag.EditablTacticIds;
    string strImprovementTacticIds = ViewBag.EditablImprovementTacticIds;
}


@Html.Hidden("IsPlanEditable", IsPlanEditable)
@Html.Hidden("hdnCampaignIds", strCampaignIds)
@Html.Hidden("hdnProgramIds", strProgramIds)
@Html.Hidden("hdnTacticIds", strTacticIds)
@Html.Hidden("hdnImprovementTacticIds", strImprovementTacticIds)
<script src="~/Scripts/js/DHTMLX/danddcontrol.js"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/dhtmlxchart.js")"></script>
<link href="@Url.Content("~/Content/css/dhtmlxchart_1.css")" rel="stylesheet" type="text/css" />

<style type="text/css">
    .pull-right > span {
        margin-right: -15px !important;
    }

    .dhx_chart {
        color: #000000;
        font-family: 'source_sans_prolight',Arial,"sans-serif";
        font-size: 9px;
    }
</style>

@section nlFormContent{
    <link rel="stylesheet" href="@Url.Content("~/Content/css/NaturalLanguageForm/default.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/NaturalLanguageForm/component.css")" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/NaturalLanguageForm/modernizr.custom.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/NaturalLanguageForm/nlform.js?n=")@DateTime.Now"></script>
}
@Html.HiddenFor(m => m.PlanId)
<input type="hidden" id="hdnRefresh" value="ApplyToCalendar" />
@*Added by Viral Kadiya on 11/10/2014 for PL #941 to check flag in _plan.cshtml page to refresh gantt.*@
<script type="text/javascript">
    var CurrentBid = 0;
    // Edited to add PlanYear option.
    var Currenttime = "planYear";
    var showTacticStatus = false;   //// Added by Sohel on 19/05/2014 for PL #425 to Show status of tactics on ApplyToCalender screen
    function populateNF(items, id) {
        var $dropdown = $("#" + id);
        var $html = '';
        if (items.length > 0) {
            $.each(items, function (index, plan) {
                if (plan.Selected) {
                    $html += '<option value="' + plan.Value + '" selected>' + plan.Text + '</option>';
                    CurrentPlanId = plan.Value;
                } else {
                    $html += '<option value="' + plan.Value + '">' + plan.Text + '</option>';
                }
            });
        } else {
            $html += '<option value=' + 0 + ' selected>' + "Plan Title" + '</option>';
            CurrentPlanId = 0;
        }
        $dropdown.append($html);
    }

    function onClickPlanTitle() {
        $('#nl-form2 > div[class="nl-field nl-dd"]').find('li').click(function (e) {
            // Comment by bhavesh , Now we can use direct value for nl form dropdown
            // PL Ticket 399
            // Date : 28-3-2014
            CurrentPlanId = $(this).attr('value');
            ShowChangeLog();
            //// Modified By Maninder Singh Wadhva to Address PL#203
           // GetCollaborators(CurrentPlanId);
            RefreshCalendar();
            GetHealderData(CurrentPlanId);
            GetNumberOfActivityPerMonByPlanId(CurrentPlanId, Currenttime);
            arrClosedTask = []; // addded by dharmraj for ticket #485 to clear closed task veriable when plan change.
        });
    }
    function populateNFActivity(items, id) {
        var $dropdown = $("#" + id);
        var $html = '';
        if (items.length > 0) {
            $.each(items, function (index, time) {
                if (time.Selected) {
                    $html += '<option value="' + time.Value + '" selected>' + time.Text + '</option>';
                    Currenttime = time.Value;
                } else {
                    $html += '<option value="' + time.Value + '">' + time.Text + '</option>';
                }
            });
        }
        $dropdown.append($html);
    }
    function onClickActivity() {
        $('#nl-formAct > div[class="nl-field nl-dd"]').find('li').click(function (e) {
            if (CurrentPlanId > 0) {
                var Title = $(this).text();
                var option = $.grep($('#drpthisyear option'), function (value) { return $(value).text() == Title; })
                Currenttime = $(option[0]).val();
                isQuater = Currenttime;
                RefreshCalendar();
                GetHealderData(CurrentPlanId);
                GetNumberOfActivityPerMonByPlanId(CurrentPlanId, Currenttime);
            }
        });
    }
    $(document).ready(function () {
          @* changed by Nirav for Custom Dropdown - 388*@
        $('#DivloadPlan').load('@Url.Action("PlanList", "Plan")');
        onClickActivity();

        //// Start - Added by Sohel on 19/05/2014 for PL #425 to Show status of tactics on ApplyToCalender screen
        $('.toggleStatus').click(function () {
            $(this).hide();
            $('.toggle-status div').show();
            showTacticStatus = true;
            RefreshCalendar();
            gantt.refreshData();
        });

        $('.toggleStatusHide').click(function () {
            $('.toggleStatus').show();
            $('.toggle-status div').hide();
            showTacticStatus = false;
            RefreshCalendar();
            gantt.refreshData();
        });
        //// End - Added by Sohel on 19/05/2014 for PL #425 to Show status of tactics on ApplyToCalender screen

    });

    function GetHealderData(intplanid) {
        $.ajax(
        {
            type: "GET",
            cache: false,
            url: '@Url.Action("GetPlanByPlanID", "Plan")',
            @*url:  '@Url.Action("GetPlanByPlanIDPerformance", "Plan")', // Change By Nishant Sheth // Desc :: Get records from cache memory*@ 
            data: {
                planid: intplanid

            },
            dataType: "json",
            success: function (data) {
                if (data != null) {

                    $.each(data.lstHomePlanModelHeader, function (index, obj) {
                        if (index == "MQLs") {
                            $("#pMQLs").html(obj);
                            SetPriceValue("#pMQLs");
                        }
                        else if (index == "Budget") {
                            $("#pbudget").html(obj);
                            SetBudget("#pbudget");
                        }
                        else if (index == "TacticCount") {
                            $("#ptacticcount").html(obj);
                        }
                        else if (index == "mqlLabel") {
                            $("#pmqlLabel").html(obj);
                        }
                        else if (index == "costLabel") {
                            $("#pcostLabel").html(obj);
                        }
                        else if (index == "PercentageMQLImproved") {
                            /// Added By: Maninder Singh Wadhva
                            /// Addressed PL Ticket: 37,38,47,49

                            var pMQLImproved = $("#pMQLImproved");
                            pMQLImproved.removeClass("greenfont");
                            pMQLImproved.removeClass("redfont");

                            var divBullhornbg = $('#DivBullhornbg');
                            divBullhornbg.removeClass("bullhorn-bg-disabled");
                            divBullhornbg.removeClass("bullhorn-bg");
                            if (obj != null) {
                                divBullhornbg.addClass("bullhorn-bg");
                                if (obj < 0) {
                                    pMQLImproved.html(FormatNumber(obj, true))
                                    pMQLImproved.addClass("redfont");
                                }
                                else {
                                    pMQLImproved.html("+" + FormatNumber(obj, true))
                                    pMQLImproved.addClass("greenfont");
                                }
                            }
                            else {
                                divBullhornbg.addClass("bullhorn-bg-disabled");
                                pMQLImproved.html('---');
                            }
                        }

                    });

                }
            }
        });
    }
</script>
@section Sidebar{
    @Html.Partial("~/Views/Plan/_plan.cshtml")
}

<!--success message-->
<div id="successMessageDuplicatePlan" class="alert hide alert-success message-position-small">
    <a class="close">×</a>
    <div id="cSuccessDuplicatePlan"></div>
</div>
<!--success message-->
<!--error message-->
<div id="errorMessageDuplicatePlan" class="alert hide alert-error message-position-small">
    <a class="close">×</a>
    <div id="cErrorDuplicatePlan"></div>
</div>
<!--error message-->
@*Plan Header*@
<div class="light-blue-chart cf">
    @Html.Partial("~/Views/Shared/_planheader.cshtml", Model.objplanhomemodelheader)
</div>
<script>
    var pid = $('#PlanId').val();
    var CurrentPlanId = pid;
</script>
<div id="DivloadPlan">
</div>
<div class="tab-content all-height cf" style="padding-right: 18px;">
    <div class="tab-pane active all-height" id="panel-656352">
        <div class=" pl20 cf">
            <div class="pull-left" id="divCollaborator" style="position: relative;">
                <!-- position:relative = added by kapil -->
            </div>
            @* Start - Added by Sohel on 19/05/2014 for PL #425 to Show status of tactics on ApplyToCalender screen *@
            <div class="pull-right toggle-status source-sans-proregular">
                <div class="pull-right">
                    <a href="#" class="toggleStatusHide">Hide Status</a>
                    <span class="status-created">Created</span>
                    <span class="status-submitted">Submitted</span>
                    <span class="status-approved">Approved</span>
                    <span class="status-rejected">Declined</span>
                </div>
                <a href="#" class="toggleStatus">Show Status</a>
            </div>
            @* End - Added by Sohel on 19/05/2014 for PL #425 to Show status of tactics on ApplyToCalender screen *@
            <div>
                <div class="gantt-padding cf all-height lenght-div ">
                    <div id="gantt_here"></div>
                </div>
               @* <div class="margin-top20">
                    <a id="lnkGoBack" style="cursor: pointer;">Back</a>
                    @if (IsPlanEditable)
                    {
                        <input id="BtnPublishPlan" class="btn btn-blue text-shadow-blue source-sans-proregular padding-side20 pull-right margin-top20 hide" type="submit" value="Publish Plan">
                    }
                </div>*@
            </div>
        </div>
    </div>
</div>
<div id="Notabcontent" style="display: none;">
    <span class="pull-left margin_t30 bold" style="margin-left: 20px;">No Plans exists.</span>
</div>
<div id="DivPartialViewForDeleteImpTactic">
</div>
<div class="container-fluid all-height" id="modalMainContainer">
    <div class="row-fluid calc-height">
        <div class="container-fluid">
            <div class="row-fluid ">
                <div class="span12">

                    <div id="modal-container-186470" class="modal-inspect-review hide fade modal-full-view" role="dialog" aria-labelledby="myModalLabel" aria- hidden="true" style="display: none; position: fixed;overflow:hidden;">
                        <div style="margin: 30px auto !important">
                            <div id="successMessage" class="alert alert-success messagewidth">
                                <a class="close">×</a>
                                <strong>Success.</strong> <span id="spanMessageSuccess"></span>
                            </div>
                            <div id="errorMessage" class="alert alert-error hide messagewidth" >
                                <a class="close">×</a>
                                <strong>Error!</strong> <span id="spanMessageError">@Common.objCached.ValidateForEmptyField</span>
                            </div>
                            <div id="divPartial">
                            </div>

                        </div>
                    </div>
                    <div id="divResubmission">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="divBackground" class="modal-backdrop fade in" style="display: none"></div>
@Html.Hidden("hdnMsg", (string)ViewBag.Msg, new { id = "hdnMsg" })
@Html.Hidden("hdnisError", (bool)ViewBag.isError, new { id = "hdnisError" })
<script type="text/javascript">
    // Added by Nirav for Custom Dropdown - 388
    $(".selectBox select").selectbox();
    /*end Nirav*/
    //// Global variable to hold quarter or year.
    var isQuater = Currenttime;// false;

    //Manoj Start 28Jan2014 : Bug-12 (User can lose data via navigation in application)
    function AssignDefaultValue() {
        $('#slidepanel-container').find("input[type=text],textarea,select").each(function () {
            $(this).attr("myValue", $(this).val());
            $(this).attr("title", $(this).val());//uday 2-7-2014 for internal point tooltip
        });
    }

    $(document).on("click", "#lnkCampaigns,#lnkGoBack,#LeftNavCampaigns", function (e) {
        window.location.href = '@Url.Action("Assortment", "Plan")';
    });

    $(document).on("click", "#LeftNavInput", function (e) {
        //Added By : Kalpesh Sharma : #741: Maintain context while switching with in plan's tabs
        var queryStringArr = [];

        queryStringArr.push(
         {
             key: 'id',
             Value: CurrentPlanId
         });

        displayconfirm('@Url.Content("~/Plan/Create")', queryStringArr);
        //displayconfirm('@Url.Content("~/Plan/Create")' + "/" + CurrentPlanId + "");
    });

    $(document).on("click", "#LeftNavAddActivity", function (e) {
        var queryStringArr = [];

        queryStringArr.push(
         {
             key: 'ActiveMenu',
             Value: "Plan"
         });

        queryStringArr.push(
         {
             key: 'currentPlanId',
             Value: CurrentPlanId
         });

        displayconfirm('@Url.Content("~/Home/Index")', queryStringArr);
        //displayconfirm('@Url.Content("~/Home/Index")' + "?ActiveMenu=Plan&currentPlanId=" + CurrentPlanId + "");
    });

    $(document).on("click", "#aBudgeting", function (e) {
        var queryStringArr = [];
        displayconfirm('@Url.Action("Budgeting", "Plan")', queryStringArr);
        //displayconfirm('@Url.Action("Budgeting", "Plan")');
    });
    //Dharmraj Start 7July2014 : 547 (Warning of data loss during tactic/Program/Campaign creation)
    $("#header a").not("#ContactSupport").click(function () {
        if (isDataChanged()) {
            displayconfirm($(this).attr('href'));
            return false;
        }
        else {
            return true;
        }
    });
    //Dharmraj End 7July2014 : 547 (Warning of data loss during tactic/Program/Campaign creation)

    function displayconfirm(strURL, queryStringArr) {
      
        //window.location.href = strURL;
        formSubmitEvent(strURL, queryStringArr);
    }

    //function to check myValue attribute values and input values that any changes made?
    function isDataChanged() {
        var changed = false;
        $('#slidepanel-container').find("input[type=text],textarea,select, .priceValue").each(function () {     // Modified by Sohel Pathan on 19/08/2014 for Internal Review Points
            var iv = $(this).attr("myValue");
            if ($(this).attr('id') == 't_startdate' || $(this).attr('id') == 't_enddate') {
                var strValue = $(this).val();
                if (strValue != null && strValue != '') {
                    strValue = strValue.replace(' 12:00:00 AM', '');
                    $(this).val(strValue);
                    var newDateObj = new Date($(this).val());
                    var oldDateObj = new Date(iv);
                    if (newDateObj.getFullYear() + '-' + newDateObj.getMonth() + '-' + newDateObj.getDate() != oldDateObj.getFullYear() + '-' + oldDateObj.getMonth() + '-' + oldDateObj.getDate()) {
                        changed = true;
                        return false;   // Added by Sohel Pathan on 19/08/2014 for Internal Review Points
                    }
                }

            }
            else {
                if ($(this).val() != iv) {
                    changed = true;
                    return false;   // Added by Sohel Pathan on 19/08/2014 for Internal Review Points
                }
            }
        });
        return changed;
    }

    $(document).on("click", "#confirmClose", function (e) {
        $("#errorMessageDuplicatePlan").slideUp(400);       // Modified by Sohel Pathan on 19/08/2014 for Internal Review Points
    });
    //Manoj End 28Jan2014 : Bug-12 (User can lose data via navigation in application)
    function ShowChangeLog() {
        $('.changes').html('');
        var url = '@Url.Content("~/Home/LoadChangeLog/")';
        $('.changes').load(url + '?objectId=' + CurrentPlanId, function (response, status, xhr) {
            if (response == '{"serviceUnavailable":"~/Login/ServiceUnavailable"}') {
                //// Call function to redirect on service unavailibility.
                //// Added By: Maninder Singh Wadhva on 11/24/2014.
                //// Ticket: 942 Exception handeling in Gameplan.
                window.location = '@Url.Content(Common.RedirectOnServiceUnavailibilityPage)';
            }
        });
    }
   

       function displayConfirmCommon(functionName) {
           if (isDataChanged()) {
               $('#cErrorDuplicatePlan').html("<strong>Error! </strong> You have unsaved changes. Do you wish to leave this page and lose your work?&nbsp;&nbsp;&nbsp;<a id='btnConfirmOK' class='btn-gray CursorHand' style='color:gray;'>Continue</a>&nbsp;&nbsp;<a style='color:gray;' id='confirmClose' href='#' class='underline'>Cancel</a>");
               $("#errorMessageDuplicatePlan").slideDown(400);     // Modified by Sohel Pathan on 19/08/2014 for Internal Review Points
               $("#btnConfirmOK").click(function () {
                   $('#cErrorDuplicatePlan').html("");
                   $("#errorMessageDuplicatePlan").hide();
                   eval(functionName);
               });
           }
           else {
               eval(functionName);
           }
       }

       function RefreshCalendar() {
           SetGantt();
           GetTactics();
       }

       //// Function to get tactic.
       function GetTactics() {
           AjaxRequest();
       }
       var appendtag = '';//uday#416
       var ismsg = $("#hdnMsg").val();
       var hdnisError = $("#hdnisError").val();
       if (ismsg != '') {
           if (hdnisError == 'True') {
               $('#cErrorDuplicatePlan').html('<strong>Error! </strong> ' + ismsg);
               $("#errorMessageDuplicatePlan").slideDown(3000);
           }
           else {
               $('#cSuccessDuplicatePlan').html('<strong>Success. </strong> ' + ismsg);
               $("#successMessageDuplicatePlan").slideDown(3000);
           }
       }
       /*close x event on message*/
       $("#successMessageDuplicatePlan").find(".close").click(function (e) {
           e.stopPropagation();
           e.preventDefault();
           $(this).closest(".alert").slideUp(300);/*SlideUp value change 400 to 300 by Mitesh Vaishnav on 07 july 2014*/
       });

       $("#errorMessageDuplicatePlan").find(".close").click(function (e) {
           e.stopPropagation();
           e.preventDefault();
           $(this).closest(".alert").slideUp(300);/*SlideUp value change 400 to 300 by Mitesh Vaishnav on 07 july 2014*/
       });

       //// Function to sort alphabetically.
       function SortAlphabetically(obj1, obj2) {
           var obj1Property = obj1.Title.toLowerCase();
           var obj2Property = obj2.Title.toLowerCase();
           return ((obj1Property < obj2Property) ? -1 : ((obj1Property > obj2Property) ? 1 : 0));
       }

       var planYear;
       //// Function to make ajax request.
       //// Modified By Maninder Singh Wadhva to Address PL#203
       function AjaxRequest() {
           //  GetNumberOfActivityPerMonByPlanId(CurrentPlanId, Currenttime);
           var isPublished = false;
           $.ajax(
         {
             type: "GET",
             cache: false,
             url: '@Url.Action("GetGanttData", "Plan")',
             data: { PlanId: CurrentPlanId, isQuater: isQuater },
             dataType: "json",
             success: function (data) {
                 if (data.serviceUnavailable != 'undefined' && data.serviceUnavailable == '#') {
                     window.location = '@Url.Content(Common.RedirectOnServiceUnavailibilityPage)';
                 } else {
                     planYear = parseInt(data.planYear);
                    // isPublished = data.isPublished;
                     renderGantt(data.taskData);
                     //if (isPublished) {
                     //    $("#BtnPublishPlan").hide();
                     //}
                     //else {
                     //    $("#BtnPublishPlan").show();
                     //}
                 }
             }
         });
     }

     //// Function to get collaborators list
     //// Modified By Maninder Singh Wadhva to Address PL#203
     function GetCollaborators(planId) {
         if (planId != null) {
             $.ajax(
            {
                type: "GET",
                cache: false,
                url: '@Url.Action("GetCollaboratorDetails", "Plan")',
                data: { currentPlanId: planId },
                dataType: "json",
                success: function (data) {
                    if (data.serviceUnavailable != 'undefined' && data.serviceUnavailable == '#') {
                        window.location = '@Url.Content(Common.RedirectOnServiceUnavailibilityPage)';
                    }
                    else {
                        // Set collaborator details
                        $('#divCollaborator').empty(); // Clear collaborators div content


                        ////  set collaborator's image
                        if (data.collaboratorsImage != null && data.collaboratorsImage != 'undefined') {
                            $.each(data.collaboratorsImage.Data, function () {
                                SetCollaboratorImage(this, appendtag);//#416
                            })
                            $('#divCollaborator').append('<span class="bold margin_left6 position_absolute">' + data.collaboratorsImage.Data.length + ' Collaborator(s) </span>');
                            $('#divCollaborator').append('<span class="font_size10 margin_left6 updated-text-align">Last updated ' + data.lastUpdateDate + '</span>');
                        }
                        //added by uday for #416
                        ProfileAttachToolTip();//function written in scripts.js
                    }
                }
            });
        }
    }

    //// Function to set collaborator's image
    //// Modified By Maninder Singh Wadhva to Address PL#203
    function SetCollaboratorImage(collaborator, appendtag) {
        console.log(collaborator);
        // Get collaborator image
        var imgs = collaborator.imageBytes;
        var username = collaborator.name;        
        var title = collaborator.jobTitle;//uday#416
        // Set collaborator image
        var collaboratorImage = "<img class=\"avatar-user img-border align_avatar_image\""
         + "src='" + "data:image/jpg;base64,"
         + imgs + "'/>";
        // uday for ticket #416

        var referencestart = "<a href='#' class=\"profile-info\">";
        var referencenew = "<div class=\"profile-tooltip\">	<div class=\"profile-tooltip-arrow\"></div> <div class=\"profile-tooltip-inner\"> " +
                                           " " + username + ', ' + title + "</div> </div>";
        var endreference = "</a>";
        appendtag += referencestart;
        appendtag += collaboratorImage;
        appendtag += referencenew;
        appendtag += endreference;
        $("#divCollaborator").html($("#divCollaborator").html() + appendtag);
    }

    //// Function to start date of current quarter.
    function getQarterStartDate() {
        var currentDate = new Date();
        var quater = Math.floor((currentDate.getMonth()) / 3) + 1;
        var startDate;
        var fullYear = currentDate.getFullYear();
        switch (quater) {
            case 1:
                startDate = new Date(fullYear, 00, 01);
                break;
            case 2:
                startDate = new Date(fullYear, 03, 01);
                break;
            case 3:
                startDate = new Date(fullYear, 06, 01);
                break;
            case 4:
                startDate = new Date(fullYear, 09, 01);
                break;
            default:
                startDate = currentDate;
        }

        return startDate;
    }


    function GetNumberOfActivityPerMonByPlanId(intplanid, strParam) {
        $.ajax(
        {
            type: "GET",
            cache: false,
            url: '@Url.Action("GetNumberOfActivityPerMonth", "Home")',
            data: {
                planid: intplanid.toString(),
                strparam: strParam,
                isMultiplePlan: false
            },
            dataType: "json",
            success: function (data) {
                if (data != null) {
                    $(".dhx_canvas_text").remove();
                    $("canvas").remove();
                    setgraphdata(data);

                }
            }
        });
    }
    function setgraphdata(data) {

        var barChart2 = new dhtmlXChart({
            view: "bar",
            container: "chart2",
            value: "#NoOfActivity#",
            label: "#NoOfActivity#",
            color: "#Color#",
            radius: 3,
            padding: {
                top: 25,
                bottom: 16,
                right: 00,
                left: 00

            },
            xAxis: {

                template: "#Month#"
            },
        });
        barChart2.parse(data.lstchart, "json");
    }

    ////Modified By Maninder Singh Wadhva PL Ticket#47, 337
    function getCSSForTask(task) {
        var cssClass = task.color + ' cursorPointer';
        var isImprovement = false;   //// Added by Sohel on 19/05/2014 for PL #425 to Show status of tactics on ApplyToCalender screen
        ///Modified by Dharmraj PL Ticket#394 - Apply required styling on the Improvement activity in calendar

        if (typeof task.isImprovement != 'undefined' && task.isImprovement == true) {
            if (typeof task.ImprovementPlanTacticId != 'undefined') {
                cssClass += ' improvement border-top resize';
                isImprovement = true;    //// Added by Sohel on 19/05/2014 for PL #425 to Show status of tactics on ApplyToCalender screen
            }
            else {
                if (!task.$open) {
                    cssClass = ' improvement improvementcolor27A4E5 colorC6EBF3-with-border cursorPointer resize ';
                }
            }
        }

        //// Added by Sohel on 19/05/2014 for PL #425 to Show status of tactics on ApplyToCalender screen
        if (showTacticStatus == true) {
            if (task.Status == "Created")
                cssClass += " tactic-created";
            else if (task.Status == "Submitted")
                cssClass += " tactic-submitted ";
            else if (task.Status == "Approved" || task.Status == "Complete" || task.Status == "In-Progress")
                cssClass += " tactic-approved";
            else if (task.Status == "Rejected" || task.Status == "Declined")
                cssClass += " tactic-rejected";

            if (isImprovement == true)
                cssClass += " improvement-border-top-status";
        }

        return cssClass;
    }

    // Variable to maintein closed task in calendar.
    var arrClosedTask = [];
    var AllClosedTask = '@TempData["ClosedTask"]';
    if (AllClosedTask != "") {
        arrClosedTask = AllClosedTask.split(',');
    }

    //// Function to render gantt i.e. for this year or this quarter.
    function renderGantt(taskData) {
        var tasks = {
            data: taskData
        };

        $.each(tasks.data, function (index, objData) {
            objData.start_date = new Date(objData.start_date);
        });

        gantt.eachTask(function (task) {
            gantt.deleteTask(task.id)
        })

        //// Modified By: Maninder Singh Wadhva to fix TFS Bug#260 Plan - Apply to Calendar - The plotting of activity bars in the calendar doesn't align with the dates mentioned.
        gantt.config.columns = [{ name: "text", label: "Task name", tree: true, width: '*' }, ];
        gantt.config.scale_height = 60;
        gantt.config.round_dnd_dates = false;
        gantt.config.scale_unit = "month";
        gantt.config.date_scale = " %M";
        gantt.config.subscales = [{ unit: "year", step: 1, date: "%Y" }];
        ////Modified By Maninder Singh Wadhva PL Ticket#47, 337
        gantt.templates.task_class = function (start, end, task) { return getCSSForTask(task) };

        if (isQuater == "thisquarter") {
            //// Getting quarter
            var startDate = getQarterStartDate();
            var endDate = new Date(startDate.getFullYear(), startDate.getMonth() + 3, 1);
            gantt.config.start_date = startDate;
            gantt.config.end_date = endDate;
            //// filtering quater data
            var filteredData = $.grep(tasks.data,
                                       function (value) {
                                           return (value.start_date >= startDate && value.start_date <= endDate)
                                       }
                                     );
            var filteredTasks = { data: filteredData };

            gantt.init("gantt_here");

            var json_length = filteredTasks.data.length;
            var gantt_div = document.getElementById("gantt_here");
            ////Modified by Sohel on 31st March 2014 for PL ticket #362, To set the scroll for Gantt chart
            if (json_length.toString() == "0" || parseInt(json_length.toString()) <= 9) {
                gantt_div.style.height = ((json_length * 35) + 94) + "px";
            }
            else {
                gantt_div.style.height = "409px"; //No scroll required for max of 9 Records, so default height = (9*35) + 94 = 409
            }
            ////
            gantt.parse(filteredTasks);
        } else if (isQuater == "thisyear") {
            var date = new Date();
            gantt.config.start_date = new Date(date.getFullYear(), 00, 01);
            gantt.config.end_date = new Date(date.getFullYear() + 1, 00, 01);
            gantt.init("gantt_here");

            var json_length = tasks.data.length;
            var gantt_div = document.getElementById("gantt_here");
            ////Modified by Sohel on 31st March 2014 for PL ticket #362, To set the scroll for Gantt chart
            if (json_length.toString() == "0" || parseInt(json_length.toString()) <= 9) {
                gantt_div.style.height = ((json_length * 35) + 94) + "px";
            }
            else {
                gantt_div.style.height = "409px"; //No scroll required for max of 9 Records, so default height = (9*35) + 94 = 409
            }
            ////
            gantt.parse(tasks);
        }
        else if (isQuater == "thismonth") {
            var date = new Date(), m = date.getMonth();
            gantt.config.start_date = new Date(date.getFullYear(), m, 01);
            gantt.config.end_date = new Date(date.getFullYear(), m + 1, 01);
            gantt.init("gantt_here");
            /*Added by Mitesh Vaishnav for PL ticket #671 Plan: Freezing of Application with Please Wait Dialog Box (This Month Option)*/
            var startDate = new Date(date.getFullYear(), m, 01);
            var endDate = new Date(date.getFullYear(), m + 1, 01);
            var filteredData = $.grep(tasks.data,
                                      function (value) {
                                          return (value.start_date >= startDate && value.start_date <= endDate)
                                      }
                                    );
            var filteredTasks = { data: filteredData };
            /*End :Added by Mitesh Vaishnav for PL ticket #671 Plan: Freezing of Application with Please Wait Dialog Box (This Month Option)*/
            var json_length = tasks.data.length;
            var gantt_div = document.getElementById("gantt_here");
            ////Modified by Sohel on 31st March 2014 for PL ticket #362, To set the scroll for Gantt chart
            if (json_length.toString() == "0" || parseInt(json_length.toString()) <= 9) {
                gantt_div.style.height = ((json_length * 35) + 94) + "px";
            }
            else {
                gantt_div.style.height = "409px"; //No scroll required for max of 9 Records, so default height = (9*35) + 94 = 409
            }
            gantt.parse(filteredTasks);//Modified by Mitesh Vaishnav on 04/08/2014 for PL ticket #671 Plan: Freezing of Application with Please Wait Dialog Box (This Month Option)
        }
        else if (isQuater == "nextyear") {
            var date = new Date();
            gantt.config.start_date = new Date(date.getFullYear() + 1, 00, 01);
            gantt.config.end_date = new Date(date.getFullYear() + 2, 00, 01);
            gantt.init("gantt_here");

            var json_length = tasks.data.length;
            var gantt_div = document.getElementById("gantt_here");
            ////Modified by Sohel on 31st March 2014 for PL ticket #362, To set the scroll for Gantt chart
            if (json_length.toString() == "0" || parseInt(json_length.toString()) <= 9) {
                gantt_div.style.height = ((json_length * 35) + 94) + "px";
            }
            else {
                gantt_div.style.height = "409px"; //No scroll required for max of 9 Records, so default height = (9*35) + 94 = 409
            }
            ////
            gantt.parse(tasks);
        } else if (isQuater == "planYear") {
            // Edited to add PlanYear option.
            gantt.config.start_date = new Date(planYear, 00, 01);
            gantt.config.end_date = new Date(planYear + 1, 00, 01);
            gantt.init("gantt_here");

            var json_length = tasks.data.length;
            var gantt_div = document.getElementById("gantt_here");
            ////Modified by Sohel on 31st March 2014 for PL ticket #362, To set the scroll for Gantt chart
            if (json_length.toString() == "0" || parseInt(json_length.toString()) <= 9) {
                gantt_div.style.height = ((json_length * 35) + 94) + "px";
            }
            else {
                gantt_div.style.height = "409px"; //No scroll required for max of 9 Records, so default height = (9*35) + 94 = 409
            }
            ////
            gantt.parse(tasks);
        }

        gantt.eachTask(function (task) {

            // Added by dharmraj for #485 Planning Window doesnt remember previous view
            if (arrClosedTask.indexOf(task.id) > -1) {
                gantt.getTask(task.id).$open = false;
            }
            else {
                gantt.getTask(task.id).$open = true;
            }
        });

        gantt.refreshData();

        AttachEventToTactic();
        HideDragHandleOfTask();

        // added by dharmraj to display tooltip on camp., prog., tactic name in calendar.
        $(".gantt_container .gantt_tree_content").each(function (index, element) {
            $(element).attr("title", htmlDecode(element.innerHTML));
        });
    }

    /// Modified By Maninder Singh Wadhva PL Ticket#47
    //// Function to hide drag handle.
    function HideDragHandleOfTask() {
        gantt.eachTask(function (task) {

            if ((task.IsHideDragHandleLeft || task.IsHideDragHandleRight) && typeof task.isImprovement == 'undefined') {
                HideDragHandleLeft(task);
                HideDragHandleRight(task);
            }
            else if (typeof task.isImprovement != 'undefined' && task.isImprovement == true) {
                HideDragHandleRight(task);
                if (task.IsHideDragHandleLeft == true) {
                    HideDragHandleLeft(task);
                }
            }
        })
    }

    /// Modified By Maninder Singh Wadhva PL Ticket#47
    //// Function to hide left drag handle.
    function HideDragHandleLeft(task) {
        $(".gantt_bars_area").find("div[task_id='" + task.id + "']").find('div[class="gantt_task_drag task_left"]').remove();
    }

    //// Function to hide right drag handle.
    function HideDragHandleRight(task) {
        $(".gantt_bars_area").find("div[task_id='" + task.id + "']").find('div[class="gantt_task_drag task_right"]').remove();
    }

    gantt.attachEvent("onTaskSelected", function (id, item) {
        HideDragHandleOfTask();

        // added by dharmraj to display tooltip on camp., prog., tactic name in calendar.
        $(".gantt_container .gantt_tree_content").each(function (index, element) {
            $(element).attr("title", element.innerHTML);
        });

    });

    gantt.attachEvent("onTaskOpened", function (id) {
        HideDragHandleOfTask();

        arrClosedTask = jQuery.grep(arrClosedTask, function (value) {
            return value != id;
        });

        // added by dharmraj to display tooltip on camp., prog., tactic name in calendar.
        $(".gantt_container .gantt_tree_content").each(function (index, element) {
            $(element).attr("title", element.innerHTML);
        });

    });

    gantt.attachEvent("onTaskClosed", function (id) {
        HideDragHandleOfTask();

        if (arrClosedTask.indexOf(id) == -1) {
            arrClosedTask.push(id);
        }

        // added by dharmraj to display tooltip on camp., prog., tactic name in calendar.
        $(".gantt_container .gantt_tree_content").each(function (index, element) {
            $(element).attr("title", element.innerHTML);
        });

    });

    //// Variable to hold double click event.
    var eventTaskDoubleClick;
    //// Function to attach event to show inspect model.
    function AttachEventToTactic() {
        //// Detaching double click event.
        if (eventTaskDoubleClick != undefined) {
            gantt.detachEvent(eventTaskDoubleClick);
        }

        //// Attaching double click event
        eventTaskDoubleClick = gantt.attachEvent("onTaskDblClick", function (taskId, e) { ShowSidePanel(taskId, e) });
    }

    //// Modified By Maninder Singh Wadhva PL Ticket#47
    function ShowSidePanel(taskId, e) {
        var task = gantt.getTask(taskId);

        //// Checking whether current task is tactic or not.
        if (typeof task.ImprovementPlanTacticId != 'undefined' && typeof task.isImprovement != 'undefined' && task.isImprovement == true) {
            ShowImprovementTactic(task.ImprovementPlanTacticId)
        }
            //// Checking whether current task is tactic or not.
        else if (typeof task.plantacticid !== 'undefined') {
            //// Getting plan tactic id.
            ShowTactic(task.plantacticid)
        }
        else if (typeof task.PlanProgramId !== 'undefined') {
            //// Getting plan program id.
            ShowProgram(task.PlanProgramId)
        }
        else if (typeof task.PlanCampaignId !== 'undefined') {
            ShowCampaign(task.PlanCampaignId)
        }
    }

    function ShowCampaign(id) {
        var mode = "Edit";
        ShowModel(mode, "@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.Campaign).ToLower()", id, "0", '@Enums.InspectPopupRequestedModules.ApplyToCalendar.ToString()');
   }

   function ShowProgram(id) {

       var mode = "Edit";
       ShowModel(mode, "@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.Program).ToLower()", id, "0", '@Enums.InspectPopupRequestedModules.ApplyToCalendar.ToString()');
   }

   function ShowTactic(id) {

       ShowModel('@Enums.InspectPopupMode.Edit.ToString()', "@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.Tactic).ToLower()", id, "0", '@Enums.InspectPopupRequestedModules.ApplyToCalendar.ToString()');
   }

   //// Modified By Maninder Singh Wadhva PL Ticket#47
   function ShowImprovementTactic(id) {
       ShowModel('@Enums.InspectPopupMode.Edit.ToString()', "@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.ImprovementTactic).ToLower()", id, "0", '@Enums.InspectPopupRequestedModules.ApplyToCalendar.ToString()');
   }

   //// Function to set common properties of gantt.
   function SetGantt() {
       gantt.config.grid_width = 364; 
       gantt.config.readonly = false;
       gantt.config.show_progress = true;
       gantt.config.autofit = true;
       gantt.config.drag_links = false;
       gantt.config.drag_progress = false;

       //alert($('#IsPlanEditable').val());
       if ($('#IsPlanEditable').val() != 'True') {
           gantt.config.drag_resize = false;
       }
       else {
           gantt.config.drag_resize = true;
       }

   }

   //// Attaching function to after task drag event handler.
   gantt.attachEvent("onAfterTaskDrag", function (id, mode, e) { AfterTaskDrag(id, mode, e); });

   //// Attaching code to before task drag event handler to avoid move of task whose either or both dates are not plotted on current view.
   gantt.attachEvent("onBeforeTaskDrag", function (id, mode, e) {
       var modes = gantt.config.drag_mode;
       if (mode == modes.move) {
           var task = gantt.getTask(id);
           if (task.IsHideDragHandleLeft || task.IsHideDragHandleRight) {
               return false;
           }
       }

       //// Added by Viral Kadiya on 12/23/2014 to implement Drag/Move task based on Permission for PL ticket #1046.
       var task = gantt.getTask(id);
       var TaskId = '';
       var strIds = '';
       if (typeof task.isImprovement != 'undefined' && task.isImprovement == true && typeof task.ImprovementPlanTacticId != 'undefined') {
           TaskId = task.ImprovementPlanTacticId;
           strIds = $("#hdnImprovementTacticIds").val();
       } else if (typeof task.PlanCampaignId != 'undefined') {
           TaskId = task.PlanCampaignId;
           strIds = $("#hdnCampaignIds").val();
       } else if (typeof task.PlanProgramId != 'undefined') {
           TaskId = task.PlanProgramId;
           strIds = $("#hdnProgramIds").val();
       } else if (typeof task.plantacticid != 'undefined') {
           TaskId = task.plantacticid;
           strIds = $("#hdnTacticIds").val();
       }
       var isEditable = false;
       if (TaskId != '' && strIds != '')
           isEditable = IsPlanDateEditable(TaskId, strIds);

       if (!isEditable)
           return false;

       return true;
   });

   //// Function to set after start_date and duration.
   //// Modified By: Maninder Singh Wadhva to fix TFS Bug#260 Plan - Apply to Calendar - The plotting of activity bars in the calendar doesn't align with the dates mentioned.
   //// Modified By: Maninder Singh Wadhva PL Ticket#47
   function AfterTaskDrag(id, mode, e) {
       var modes = gantt.config.drag_mode;
       switch (mode) {
           case modes.move:
           case modes.resize:
               var task = gantt.getTask(id);
               if (typeof task.isImprovement != 'undefined' && task.isImprovement == true && typeof task.ImprovementPlanTacticId != 'undefined') {
                   UpdateEffectiveDateImprovement(task.ImprovementPlanTacticId, task.start_date)
               } else if (typeof task.PlanCampaignId != 'undefined') {
                   UpdateStartEndDate(task.PlanCampaignId, task.start_date, task.duration - 1, true, false, false)
               } else if (typeof task.PlanProgramId != 'undefined') {
                   UpdateStartEndDate(task.PlanProgramId, task.start_date, task.duration - 1, false, true, false)
               } else if (typeof task.plantacticid != 'undefined') {
                   UpdateStartEndDate(task.plantacticid, task.start_date, task.duration - 1, false, false, true)
               }
               break;
       }
   }

   function CheckDate(date, duration) {
       var startDate = null;
       var endDate = null;
       updatedStartDate = null;
       updatedDuration = null;

       if (isQuater == "thisquarter") {
           //// Getting quarter
           startDate = getQarterStartDate();
           endDate = new Date(startDate.getFullYear(), startDate.getMonth() + 3, 0);
       } else if (isQuater == "thisyear") {
           // Changed variable name.
           var currentDate = new Date();
           startDate = new Date(currentDate.getFullYear(), 00, 01);
           endDate = new Date(currentDate.getFullYear() + 1, 00, 0);
       }
       else if (isQuater == "thismonth") {
           var currentDate = new Date(), m = currentDate.getMonth();
           startDate = new Date(currentDate.getFullYear(), m, 01);
           endDate = new Date(currentDate.getFullYear(), m + 1, 0);
       }
       else if (isQuater == "nextyear") {
           var currentDate = new Date();
           startDate = new Date(currentDate.getFullYear() + 1, 00, 01);
           endDate = new Date(currentDate.getFullYear() + 2, 00, 0);
       } else if (isQuater == "planYear") {
           //Edited to add PlanYear option.
           startDate = new Date(planYear, 00, 01);
           endDate = new Date(planYear + 1, 00, 0);
       }

       var taskEndDate = new Date(date);
       taskEndDate.setDate(date.getDate() + duration);

       if (date < startDate) {
           updatedStartDate = startDate;
           updatedDuration = Math.round(duration - ((startDate - date) / (1000 * 60 * 60 * 24)));
       } else if (taskEndDate > endDate) {
           updatedStartDate = date;
           updatedDuration = Math.round((endDate - date) / (1000 * 60 * 60 * 24));
       }
       else {
           updatedStartDate = date;
           updatedDuration = duration;
       }
   }

   var updatedStartDate = null;
   var updatedDuration = null;
   //// Function to update start or end date.
   function UpdateStartEndDate(id, startDate, duration, isPlanCampaign, isPlanProgram, isPlanTactic) {
       CheckDate(startDate, duration);
       updatedStartDate = (updatedStartDate.getMonth() + 1) + '/' + (updatedStartDate.getDate()) + '/' + updatedStartDate.getFullYear();

       $.ajax({
           type: 'POST',
           url: '@Url.Action("UpdateStartEndDate", "Plan")',
           data: { id: id, startDate: updatedStartDate, duration: updatedDuration, isPlanCampaign: isPlanCampaign, isPlanProgram: isPlanProgram, isPlanTactic: isPlanTactic },
           dataType: 'json',
           success: function (data) {
               if (data.serviceUnavailable != 'undefined' && data.serviceUnavailable == '#') {
                   //// Function to redirect to login page on unavailability of web service.
                   //// Added By: Maninder Singh Wadhva on 11/24/2014.
                   //// Ticket: 942 Exception handeling in Gameplan.
                   window.location = '@Url.Content(Common.RedirectOnServiceUnavailibilityPage)';
                }
                else {
                    return data;
                }
            },
           error: function () {
               GoToLogin();
               GetTactics();
           }
       });
    }

    //// Function to update start or end date.
    //// Added By: Maninder Singh Wadhva PL Ticket#47
    function UpdateEffectiveDateImprovement(id, startDate) {
        CheckDate(startDate, 0);
        updatedStartDate = (updatedStartDate.getMonth() + 1) + '/' + (updatedStartDate.getDate()) + '/' + updatedStartDate.getFullYear();

        $.ajax({
            type: 'POST',
            url: '@Url.Action("UpdateEffectiveDateImprovement", "Plan")',
            data: { id: id, effectiveDate: updatedStartDate },
            dataType: 'json',
            success: function (data) {
                return data;
            },
            error: function () {
                GoToLogin();
                GetTactics();
            }
        });
    }

    function RefreshCurrentTab(requestedModule, planCampaignId, planProgramId, planTacticId) {
        if (requestedModule == '@Enums.InspectPopupRequestedModules.ApplyToCalendar.ToString()') {
            RefreshCalendar();
        }
        return false;
    }

    function RefershPlanHeaderCalc() {
        var _planId = $('#PlanId').val();
        GetHealderData(_planId);
        GetNumberOfActivityPerMonByPlanId(_planId, Currenttime);
    }

    //// Added by Viral Kadiya on 12/23/2014.
    //// Function to check whether TaskId exist or not in HiddenIds.
    function IsPlanDateEditable(TaskId, strIds) {
        var result = false;
        if (strIds != null && strIds != 'undefined') {
            var arrIds = strIds.split(","); //// Split Comma separted Ids to array.
            for (var i = 0; i < arrIds.length; i++) {
                if (arrIds[i] == TaskId)
                    return true;
            }
        }
        return result;
    }

   @* //// Start - Added by Sohel Patan on 31/12/2014 for PL ticket #1059
    $('#BtnPublishPlan').click(function () {
        publishPlan();
    });

    function publishPlan() {
        var uId = $(window).attr('name');
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/Plan/ApplyToCalendar/")',
            data: 'UserId=' + uId,
            success: function (data) {
                if (data.returnURL != 'undefined' && data.returnURL == '#') {
                    window.location = '@Url.Content("~/Login/Index")';
                }
                else {
                    if (data.errorMessage != undefined) {
                        $('#cErrorDuplicatePlan').html('<strong>Error! </strong>' + data.errorMessage);
                        $('#errorMessageDuplicatePlan').slideDown(3000);
                    }
                    else if (data.activeMenu != undefined && data.currentPlanId != undefined) {
                        var url = '@Url.Content("~/Home/Index")';

                        var queryStringArr = [];

                        queryStringArr.push(
                         {
                             key: 'ActiveMenu',
                             Value: data.activeMenu
                         });

                        queryStringArr.push(
                         {
                             key: 'currentPlanId',
                             Value: data.currentPlanId
                         });

                        displayconfirm(url, queryStringArr);
                        }
                }
            }
        });
    }
    //// End - Added by Sohel Patan on 31/12/2014 for PL ticket #1059          *@          
</script>
