@using RevenuePlanner.Helpers
@{
    ViewBag.Title = ViewBag.ActiveMenu;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Budgeting";
    ViewBag.PageTitle = "Budgeting";
    bool showBid = ViewBag.showBid;
    int CurrentPlanId = ViewBag.PlanId;
    bool IsPlanCreateAuthorized = (bool)ViewBag.IsPlanCreateAuthorized;
    string type = Convert.ToString(Request.QueryString["type"]);
    string expand = Convert.ToString(Request.QueryString["expand"]);
    if (string.IsNullOrEmpty(type))
    {
        type = "allocated";
    }
    //string errMsg = Convert.ToString(TempData["ErrorMessage"]);
    string sucMsg = Convert.ToString(TempData["SuccessMessage"]);
    //TempData["ErrorMessage"] = "";
    TempData["SuccessMessage"] = null;
    string myView = "0";
    if(TempData["ViewBy"] != null)
    {
        myView = Convert.ToString(TempData["ViewBy"]);
        if(string.IsNullOrEmpty(myView))
        {
            myView = "0";
        }
    }
}
@section Sidebar
{
    @Html.Partial("~/Views/Plan/_plan.cshtml")
}
@section nlFormContent{
    <link rel="stylesheet" href="@Url.Content("~/Content/css/NaturalLanguageForm/default.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/NaturalLanguageForm/component.css")" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/NaturalLanguageForm/modernizr.custom.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/NaturalLanguageForm/nlform.js")"></script>

}
<link rel="stylesheet" href="@Url.Content("~/Content/css/jquery.mCustomScrollbar.css")" type="text/css" />
<script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.slimscroll.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/js/slimScrollHorizontal.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.mCustomScrollbar.concat.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.actual.js")"></script>

@Html.Hidden("CurrentPlanId", CurrentPlanId)

<div id="successMessage" class="alert alert-success message-position" style="display: none;">
    <a class="close">×</a>
    <strong>Success.</strong> <span id="spanMessageSuccess"></span>
</div>
<div id="errorMessageDuplicatePlan" class="alert hide alert-error message-position-small">
    <a class="close">×</a>
    <div id="cErrorDuplicatePlan"></div>
</div>
<div class="budgetColums">
    <div class="plannedCost">
        <h3 class="source-sans-proregular" id="planCostTitle"></h3>
        <div class="progressPlanned">
            <div id="divPlanProgress" class="progress"></div>
        </div>
        <div class="progressText source-sans-proregular" id="planCostValue"></div>
        <div style="clear: both;"></div>
    </div>
    <div class="budgetCompare Section-width">
        <h3 class="source-sans-proregular" id="monthCompareTitle"></h3>
        <div class="budgetCompareInner innerSection-height" id="monthContainer">
        </div>
        <div style="clear: both;"></div>
    </div>
</div>
<div class="filter-base source-sans-prosemibold">
@{
    if (showBid == true)
    {
        <div class="businessUnit">
            @Html.Label("Business Unit:", new { id = "lblBusinessUnit" })
            <span class="selectBox" id="ddlBusinessUnitSelectBox" style="width: 158px;">
        @if (RevenuePlanner.Helpers.Sessions.BusinessUnitId != Guid.Empty)
        {
                    @Html.DropDownList("ddlBusinessUnit", new SelectList((System.Collections.IEnumerable)ViewBag.BusinessUnitIds, "Value", "Text", Sessions.BusinessUnitId), new { @class = "ddlStyleReport" })
        }
        else
        {
                    @Html.DropDownList("ddlBusinessUnit", new SelectList((System.Collections.IEnumerable)ViewBag.BusinessUnitIds, "Value", "Text"), new { @class = "ddlStyleReport" })
        }
    </span>
        </div>
        }
        <div id="divViewBy" style="display: none;">
            @Html.Label("View By:", new { id = "lblViewBy",style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif !important;font-size:13px;" })
            <span class="selectBox" id="ddlCampaignSelectBox" style="width: 158px;">
                @Html.DropDownList("ddlViewBy", new SelectList((System.Collections.IEnumerable)ViewBag.ViewBy, "Value", "Text" ,myView), new { @class = "ddlStyleReport" })
            </span>
        </div>
    }
</div>
<div id="DivloadPlan"></div>
<div id="divTabData" style="margin-top: 20px;margin-bottom: 30px;"></div>

<script>
    var CurrentPlanId = '@CurrentPlanId';
    var Bid;
    var CurrentView = '@myView';
    var currentTab = 'aAllocated';
    if ('@type' == 'plan') {
        currentTab = 'aPlanned';
    }
    else if ('@type' == 'actuals') {
        currentTab = 'aActuals';
    }
    function ShowChangeLog(CurrentPlanId) {
        $('.changes').html('');
        var url = '@Url.Content("~/Home/LoadChangeLog/")';
        $('.changes').load(url + '?objectId=' + CurrentPlanId);
    }
    function HideMessages() {
        $("#successMessage").slideUp(1);
        $('#spanMessageSuccess').html('');
        $("#content_wraper").removeClass("span10 padding-top40").addClass("span10 all-height");
    }
    var hideAllMessages = false;
    $(document).ready(function () {
        $("#errorMessageDuplicatePlan").slideUp(300);
        if ('@sucMsg' != '') {
            $("#content_wraper").removeClass("span10 all-height").addClass("span10 padding-top40");
            $('#spanMessageSuccess').html('@sucMsg')
            $("#successMessage").slideDown(400);
        }
        else {
            $("#content_wraper").removeClass("span10 padding-top40").addClass("span10 all-height");
            $("#successMessage").slideUp(1);
            $('#spanMessageSuccess').html('');
        }
        $(".selectBox select").selectbox();
        LoadPlanBuBusinessUnit($('#ddlBusinessUnit').val());
    });
    function ExpandItems() {
        try {
            if (CurrentView != "0") {

                $(".column1").find(".firstLevel").each(function () {

                    var currObj = $(this).attr('id');

                    $('#' + currObj).css('display', 'block');
                    $(".sub[data-parent='" + currObj + "']").css('display', 'block');
                    $('#' + currObj + ' a:first-child').addClass('collapse');
                });

              
            }

            var strExpand = '@expand';
            var strExpandType = '';
            var strExpandId = 0;
            if (strExpand != '') {
                    if (strExpand.indexOf('lineitem') >= 0) {
                    strExpandType = 'lineitem';
                    }
                    else if (strExpand.indexOf('tactic') >= 0) {
                    strExpandType = 'tactic';
                    }
                    else if (strExpand.indexOf('program') >= 0) {
                    strExpandType = 'program';
                    }
                    else if (strExpand.indexOf('campaign') >= 0) {
                    strExpandType = 'campaign';
                    }

                strExpandId = strExpand.replace(strExpandType, '');
                if ($.isNumeric(strExpandId)) {
                    if (strExpandType == 'lineitem') {
                            var currObj = $('#' + strExpandId).parent();
                            var tacticDP = $(currObj).parent().attr('data-parent'); //tactic
                            var programDP = $(currObj).parent().parent().attr('data-parent'); //program
                            var campaignDP = $(currObj).parent().parent().parent().attr('data-parent'); //campaign
                    
                        $('#' + campaignDP).css('display', 'block');
                        $(".sub[data-parent='" + campaignDP + "']").css('display', 'block');
                        $('#' + campaignDP + ' a:first-child').addClass('collapse');
                        $('#' + programDP).css('display', 'block');
                        $(".sub[data-parent='" + programDP + "']").css('display', 'block');
                        $('#' + programDP + ' a:first-child').addClass('collapse');
                        $('#' + tacticDP).css('display', 'block');
                        $(".sub[data-parent='" + tacticDP + "']").css('display', 'block');
                        $('#' + tacticDP + ' a:first-child').addClass('collapse');

                            if ('@myView' != "0") {
                                var mainDP = $(currObj).parent().parent().parent().parent().attr('data-parent'); //audiance
                                $('#' + mainDP).css('display', 'block');
                                $(".sub[data-parent='" + mainDP + "']").css('display', 'block');
                                $('#' + mainDP + ' a:first-child').addClass('collapse');
                            }

                    }
                    else if (strExpandType == 'tactic') {
                            var currObj = $('#' + strExpandId).parent();
                            var programDP = $(currObj).parent().attr('data-parent'); //program
                            var campaignDP = $(currObj).parent().parent().attr('data-parent'); //campaign

                        $('#' + campaignDP).css('display', 'block');
                        $(".sub[data-parent='" + campaignDP + "']").css('display', 'block');
                        $('#' + campaignDP + ' a:first-child').addClass('collapse');
                        $('#' + programDP).css('display', 'block');
                        $(".sub[data-parent='" + programDP + "']").css('display', 'block');
                        $('#' + programDP + ' a:first-child').addClass('collapse');

                            if ('@myView' != "0") {
                                var mainDP = $(currObj).parent().parent().parent().attr('data-parent'); //audiance
                                $('#' + mainDP).css('display', 'block');
                                $(".sub[data-parent='" + mainDP + "']").css('display', 'block');
                                $('#' + mainDP + ' a:first-child').addClass('collapse');
                            }
                    }
                    else if (strExpandType == 'program') {
                            var currObj = $('#' + strExpandId).parent();
                            var campaignDP = $(currObj).parent().attr('data-parent'); //campaign

                        $('#' + campaignDP).css('display', 'block');
                        $(".sub[data-parent='" + campaignDP + "']").css('display', 'block');
                        $('#' + campaignDP + ' a:first-child').addClass('collapse');
                        
                            if ('@myView' != "0") {
                                var mainDP = $(currObj).parent().parent().attr('data-parent'); //audiance
                                $('#' + mainDP).css('display', 'block');
                                $(".sub[data-parent='" + mainDP + "']").css('display', 'block');
                                $('#' + mainDP + ' a:first-child').addClass('collapse');
                            }
                    }
                }
            }
        } catch (e){

        }
        //Added By : Kalpesh Sharma : #739 Adding additional views to Budget Planning screen
        var data = $(".column1").get(0);
        $(".budget-table .column1 > tr").each(function () {
            $(this).width(data.scrollWidth);
        });
    }
        $("#ddlViewBy").change(function () {
            CurrentView = $('#ddlViewBy').val();
            TabLoad(currentTab);
        });
        $('#ddlBusinessUnit').change(function () {
            Bid = $('#ddlBusinessUnit').val();
            LoadPlanBuBusinessUnit(Bid);

        $('.datepicker.dropdown-menu').css("display", "none");
        $("#slidepanel").css("display", "none");
        $("#slidepanel-container").empty();
        $("#errorMessageDuplicatePlan").slideUp(300);
        HideMessages();
    });
    function TabLoad(sender) {

        //alert(currentTab);
        currentTab = sender;
        $('.pull-right').removeClass('active');
        $('#' + sender).addClass('active');
        if (CurrentPlanId != 0) {
            $('.plannedCost').children().show();
            $('.budgetCompare').children().show();
            $('#nl-form2').show();
        if (currentTab == 'aAllocated') {
            $('#divTabData').load('@Url.Action("GetAllocatedBugetData", "Plan")' + '?PlanId=' + CurrentPlanId, function () { ExpandItems(); });
        }
        else if (currentTab == 'aPlanned') {
                $('#divViewBy').show();
                $('#divTabData').load('@Url.Action("GetBudgetedData", "Plan")' + '?PlanId=' + CurrentPlanId + '&budgetTab=1&viewBy=' + CurrentView, function () { ExpandItems(); });
        }
        else if (sender == 'aActuals') {
            $('#divViewBy').show();
            $('#divTabData').load('@Url.Action("GetBudgetedData", "Plan")' + '?PlanId=' + CurrentPlanId + '&budgetTab=2&viewBy=' + CurrentView, function () { ExpandItems(); });
            }
        }
        else {
            $('#nl-form2').hide();
            $('#divTabData').html('');
            $('#DivloadPlan').html('<h5 style="padding-left:22px;">No plan exist</h5>');
            $('.plannedCost').children().hide();
            $('.budgetCompare').children().hide();
            $('#divViewBy').hide();
        }
        if (hideAllMessages) {
            $('.datepicker.dropdown-menu').css("display", "none");
            $("#slidepanel").css("display", "none");
            $("#slidepanel-container").empty();
            $("#errorMessageDuplicatePlan").slideUp(300);
            HideMessages();
        }
}


function LoadPlanBuBusinessUnit(Bid) {
    $('#DivloadPlan').load('@Url.Action("BudgetPlanList", "Plan")' + '?Bid=' + Bid, function () { TabLoad(currentTab); ShowChangeLog(CurrentPlanId); hideAllMessages = true;  });
    }
    function populateNF(items, id) {
        var $dropdown = $("#" + id);
        var $html = '';
        if (items.length > 0) {
            $.each(items, function (index, plan) {
                if (plan.Selected) {
                    $html += '<option value="' + plan.Value + '" selected>' + plan.Text + '</option>';
                    CurrentPlanId = plan.Value;
                } else {
                    $html += '<option value="' + plan.Value + '">' + plan.Text + '</option>';
                }
            });
        } else {
            $html += '<option value=' + 0 + ' selected>' + "Plan Title" + '</option>';
            CurrentPlanId = 0;
        }
        $dropdown.append($html);
    }
    function onClickPlanTitle() {
        $('#nl-form2 > div[class="nl-field nl-dd"]').find('li').click(function (e) {
            CurrentPlanId = $(this).attr('value');
            ShowChangeLog(CurrentPlanId);
            $("#CurrentPlanId").val(CurrentPlanId);
            TabLoad(currentTab);
            $('.datepicker.dropdown-menu').css("display", "none");
            $("#slidepanel").css("display", "none");
            $("#slidepanel-container").empty();
            $("#errorMessageDuplicatePlan").slideUp(300);
            HideMessages();
        });
    }

    $(document).on("click", "#LeftNavInput", function (e) {
        //Added By : Kalpesh Sharma : #741: Maintain context while switching with in plan's tabs
        @*displayconfirm('@Url.Action("Create", "Plan", new { id = CurrentPlanId })');*@
        displayconfirm('@Url.Content("~/Plan/Create")' + "/" + CurrentPlanId + "");
    });

$(document).on("click", "#LeftNavCampaigns", function (e) {
    displayconfirm('@Url.Action("Assortment", "Plan")');
});
$(document).on("click", "#aApplyToCalender", function (e) {
    displayconfirm('@Url.Action("ApplyToCalendar", "Plan")');
});
function displayconfirm(strURL) {
    HideMessages();
    window.location.href = strURL;
    //if (isDataChanged()) {

    //    $('#cErrorDuplicatePlan').html("<strong>Error! </strong> You have unsaved changes. Do you wish to leave this page and lose your work?&nbsp;&nbsp;&nbsp;<a style='color:gray;' href='" + strURL + "' class='btn-gray'>Continue</a>&nbsp;&nbsp;<a style='color:gray;' id='confirmClose' href='#' class='underline'>Cancel</a>");
    //    $("#errorMessageDuplicatePlan").slideDown(400); // Modified by Sohel Pathan on 18/08/2014 for Internal Review Points
    //}
    //else {
    //    window.location.href = strURL;
    //}
}
$(document).on("click", "#confirmClose", function (e) {
    $("#errorMessageDuplicatePlan").slideUp(400);   // Modified by Sohel Pathan on 18/08/2014 for Internal Review Points
});
function isDataChanged() {
    var changed = false;

    $('#slidepanel-container').find("input[type=text],textarea,select, .priceValue").each(function () {     // Modified by Sohel Pathan on 18/08/2014 for Internal Review Points
        if ($(this).is('[readonly]') == false) {
            var iv = $(this).attr("myValue");
            if ($(this).attr('id') == 't_startdate' || $(this).attr('id') == 't_enddate') {
                var strValue = $(this).val();
                if (strValue != null && strValue != '') {
                    strValue = strValue.replace(' 12:00:00 AM', '');
                    $(this).val(strValue);
                    var newDateObj = new Date($(this).val());
                    var oldDateObj = new Date(iv);
                    if (newDateObj.getFullYear() + '-' + newDateObj.getMonth() + '-' + newDateObj.getDate() != oldDateObj.getFullYear() + '-' + oldDateObj.getMonth() + '-' + oldDateObj.getDate()) {
                        changed = true;
                        return false;   // Added by Sohel Pathan on 19/08/2014 for Internal Review Points
                    }
                }
            }
            else {
                if ($(this).val() != iv) {
                    changed = true;
                    return false;   // Added by Sohel Pathan on 18/08/2014 for Internal Review Points
                }
            }
        }
    });
    return changed;
}
    // Start - Added by Sohel Pathan on 19/08/2014 for Internal Review Points
    $('#BtnGroup').click(function (e) {
        if ($(this).html().toLowerCase() != "duplicate") {
            displayconfirm('@Url.Content("~/Plan/Create/0")');
        }
    });

    $("#header a").not("#ContactSupport").click(function () {
        if (isDataChanged()) {
            displayconfirm($(this).attr('href'));
            return false;
        }
        else {
            return true;
        }
    });

    // End - Added by Sohel Pathan on 19/08/2014 for Internal Review Points
    
function RefreshCurrentTab(requestedModule, planCampaignId, planProgramId, planTacticId) {
    
    return false;
}
</script>
