@model RevenuePlanner.Models.Plan_CampaignModel
@using RevenuePlanner.Helpers

@{
    bool ExtIntService = (bool)ViewBag.ExtIntService;
    string AllocatedBy = Model.AllocatedBy;
    bool IsBudgetAllocated = false;
    string planRemainingBudget = Convert.ToString(ViewBag.planRemainingBudget);
    if (AllocatedBy.ToLower() != Enums.PlanAllocatedByList[Enums.PlanAllocatedBy.defaults.ToString()].ToString().ToLower())
    {
        IsBudgetAllocated = true;
    }
    string CalledFromBudget = ViewBag.CalledFromBudget;
}

@*<div id="slidepanel-container">*@
<div class="head">
    <span class="close-form source-sans-proregular">» CLOSE MENU</span>
    <div class="cf">
        <h2 class="source-sans-prolight">Campaign Detail</h2>
        @* TFS Point 253,206 : Model/Plan - sidebars - integrate gear icon with feature to delete/duplicate tactic
    Added by Nirav Shah on 17 feb 2014
 *@
        @if (!(bool)ViewBag.IsCreated)
        {
            <div class="btn-group pull-left margin-left20 gear-dropdown">
                <span class="gear-sidebar dropdown-toggle" data-toggle="dropdown"></span>
                <ul class="dropdown-menu">
                    @*<li><a id="spanDuplicate">Duplicate Campaign</a></li>*@
                    <li><a id="spanCampaignDuplicate">Duplicate Campaign</a></li>
                    @if ((bool)ViewBag.IsOwner && !(bool)ViewBag.IsCreated && (bool)ViewBag.IsCampaignDeleteble)
                    {
                        <li><a id="deleteCampaign">Delete Campaign</a></li>                        
                    }
                </ul>
            </div>
        
        }
    </div>
</div>
<!--end sidebar-head-->
<div id="errorMessage" class="alert alert-error hide message-position-small">
    <a class="close">×</a>
    <strong>Error!</strong> <span id="spanMessage"></span>
</div>
<div id="frm_campaigns" name="frm_campaigns">
    @using (Html.BeginForm(new { @id = "frmSaveCampaign" }))
    {    
        <script type="text/javascript">
            $(document).ready(function () {
                $(".verticalIdSelectBox select").selectbox();
            });
        </script>	
        <div class="content">
            @Html.HiddenFor(model => model.PlanCampaignId, new { id = "hdnPlanCampaignId" })
            @Html.HiddenFor(model => model.PStartDate, new { id = "hdnPStartDate" })
            @Html.HiddenFor(model => model.PEndDate, new { id = "hdnPEndDate" })
            @Html.HiddenFor(model => model.TStartDate, new { id = "hdnTStartDate" })
            @Html.HiddenFor(model => model.TEndDate, new { id = "hdnTEndDate" })
            @Html.HiddenFor(model => model.IsDeployedToIntegration, new { id = "hdnIsDeployedToIntegration" })
            @Html.HiddenFor(model => model.CampaignBudget, new { id = "hdnOldCampaignBudget" })
            @Html.Hidden("hdnIsBudgetAllocated", IsBudgetAllocated)


            <label class="t_title">Campaign Title</label>
            @Html.TextBoxFor(model => model.Title, new { placeholder = "Required", require = "true", maxlength = "255", id = "txtTitle" }) @* Modified by :- Sohel Pathan on 24/04/2014 for internal review point to stop form posting on ENTERKEY press event *@

            <label>Description</label>
            @Html.TextAreaFor(model => model.Description, new { placeholder = "Optional", rows = "3", maxlength = "4000" })

            @if (ExtIntService)
            {
                <label>Status</label>
                if (ViewBag.IsDeployedToIntegration)
                {
                <input id="t_integration_status" name="t_status" type="text" class="icon-check-blue" placeholder="Sync to integration" maxlength="18" readonly />
                }
                else
                {    
                <input id="t_integration_status" name="t_status" type="text" class="icon-check-gray" placeholder="Not Sync to integration" maxlength="18" readonly />
                }
            }


@*            <label>Vertical</label>
            <span class="verticalIdSelectBox">@Html.DropDownListFor(model => model.VerticalId, new SelectList((System.Collections.IEnumerable)ViewBag.Verticals, "VerticalId", "Title"), "Please Select", new { @class = "ddlStyle", require = "true" })</span>

            <label>Audience</label>
            <span class="verticalIdSelectBox">@Html.DropDownListFor(model => model.AudienceId, new SelectList((System.Collections.IEnumerable)ViewBag.Audience, "AudienceId", "Title"), "Please Select", new { @class = "ddlStyle", require = "true" })</span>

            <label>Geography</label>
            <span class="verticalIdSelectBox">@Html.DropDownListFor(model => model.GeographyId, new SelectList((System.Collections.IEnumerable)ViewBag.Geography, "GeographyId", "Title"), "Please Select", new { @class = "ddlStyle", require = "true" })</span>*@
            @Html.Hidden("hdnRedirect", (bool)ViewBag.RedirectType, new { id = "hdnRedirectType" })
            @*@if ((bool)ViewBag.RedirectType)  // Commented by Sohel Pathan on 08/07/2014 for PL ticket #549 to add Start and End date field in Campaign. Program and Tactic screen
            {
                *@<div class="cf margin-left-4">
                    <div class="pull-left width50">
                        <label class="padding-left4">Start Date</label>
                        <div class="dp datepicker input-append date without-margin calendar-width sidebar-datepicker" id="dp_start" data-date="@Model.StartDate.ToShortDateString()" data-date-format="@RevenuePlanner.Helpers.Common.dateFormat">
                            @Html.TextBoxFor(model => model.StartDate, new { @class = "span2 black-border-right font-size13", id = "t_startdate" })
                            <span class="add-on">
                                <img src="~/Content/images/gray-calendar-icon.png"></span>
                        </div>
                    </div>

                    <div class="pull-right width50">
                        <label class="padding-left4">End Date</label>
                        <div class="dp datepicker input-append date without-margin calendar-width sidebar-datepicker" id="dp_end" data-date="@Model.EndDate.ToShortDateString()" data-date-format="@RevenuePlanner.Helpers.Common.dateFormat">
                            @Html.TextBoxFor(model => model.EndDate, new { @class = "span2 black-border-right font-size13", id = "t_enddate" })
                            <span class="add-on">
                                <img src="~/Content/images/gray-calendar-icon.png"></span>
                        </div>
                    </div>

                </div>
            @*}*@
            <div class="content-row">
                <label class="padding-left4" title="Cost">Campaign Budget</label>
                @Html.TextBoxFor(model => model.CampaignBudget, new { @class = "currency_dollar margin-top3px", placeholder = "Required", require = "true", id = "txtCampaignBudget", maxlength = @RevenuePlanner.Helpers.Common.maxLengthDollar })
            </div>
            <div class="content-row alternate">
                <label class="padding-left4" title="Cost">Remaining Budget</label>
                @*<input id="txtCost" class="currency_dollar margin-top3px"  type="text" value="1,500,000" placeholder="$1,500,000" name="Cost" maxlength="13" data-val-required="The Cost field is required." data-val-number="The field Cost must be a number." data-val="true" readonly myvalue="$1,500,000" title="$1,500,000">                      *@
                @Html.TextBox("txtRemainingBudget", planRemainingBudget, new { @class = "margin-top3px", id = "txtRemainingBudget", @readonly = "true" })
            </div>
            @*start -Added by Mitesh Vaishnav for PL ticket #718*@
            @RevenuePlanner.Helpers.HtmlHelpers.GenerateCustomFields(Model.PlanCampaignId, Enums.Section.Campaign.ToString())
        </div>
        <!--End content-->
        <!-- Start added by dharmraj #567: Budget allocation for campaign  -->
            if (AllocatedBy.ToLower() != Enums.PlanAllocatedByList[Enums.PlanAllocatedBy.defaults.ToString()].ToString().ToLower())
            {
        <div class="budget-section">
            <div class="budget-head clearfix">
                <p>Budget Allocation</p>
                <a href="javascript:void(0)">- Collapse</a>
            </div>
            <div class="budget-collapse">
                <div class="white-bg">
                    @HtmlHelpers.GenerateBudgetAllocationControl(AllocatedBy)
                    <div class="budget-month">
                        <span class="month">@Common.UnallocatedBudgetLabelText</span>   @* Modified by Sohel Pathan on 04/08/2014 *@
                        <span class="unallocated-span">
                            <input id="lblUnallocatedBudget" class="unallocated-text" readonly="true" /></span>
                    </div>
                </div>
                <div class="budget-result source-sans-prolight">
                    <p>
                        Remaining @(AllocatedBy.ToLower() == Enums.PlanAllocatedByList[Enums.PlanAllocatedBy.months.ToString()].ToString().ToLower() ? "Monthly" : "Quarter") Budget: 
                                    	<span id="lblRemainingMonthlyBudget" class="source-sans-proregular"></span>
                    </p>
                    <p>
                        Allocated Programs Budget (this @(AllocatedBy.ToLower() == Enums.PlanAllocatedByList[Enums.PlanAllocatedBy.months.ToString()].ToString().ToLower() ? "Month" : "Quarter")): 
                                    	<span id="lblAllocatedProgramsBudget" class="source-sans-proregular"></span>
                    </p>
                    <p>
                        Total Allocated:
                                    	<span id="lblTotalAllocated" class="source-sans-proregular"></span>
                    </p>
                    <p>
                        Total Budgeted:
                                    	<span id="lblTotalBudget" class="source-sans-proregular">@Model.CampaignBudget</span>
                    </p>
                    @*<p>
                            Unallocated budget:
                                    	<span id="lblUnallocatedBudget" class="source-sans-proregular"></span>
                        </p>*@
                </div>
            </div>
            <!--End content-->
        </div>
            }
        <!-- End added by dharmraj #567: Budget allocation for campaign -->
        <div class="content dark inline-ellipsis">
            @if (!(bool)ViewBag.IsCreated)
            {
                <div class="cf width100">
                    @*<div class="width65px margin-right20 pull-left">
                        <label title="@Html.LabelForINQ("INQ")">@Html.LabelForINQ("INQ")</label>
                        @Html.TextBoxFor(model => model.INQs, new { placeholder = "0", id = "txtinq", @class = "priceValue", @readonly = "true", maxlength = @RevenuePlanner.Helpers.Common.maxLengthPriceValue })
                    </div>*@

                    <div class="width65px margin-right20 pull-left" style="width:22%;">
                        <label title="@Html.LabelForMQL("MQL")">@Html.LabelForMQL("MQL")</label>
                        @Html.TextBoxFor(model => model.MQLs, new { placeholder = "0", id = "txtmql", @class = "priceValue", @readonly = "true", maxlength = @RevenuePlanner.Helpers.Common.maxLengthPriceValue })
                    </div>

                    <div class="width65px margin-right20 pull-left" style="width:22%;">
                        <label title="Cost">Cost</label>
                        @Html.TextBoxFor(model => model.Cost, new { placeholder = "$0", id = "txtCost", @class = "currency_dollar", @readonly = "true", maxlength = @RevenuePlanner.Helpers.Common.maxLengthDollar })
                    </div>
                    <div class="width65px pull-left" style="width:42%;">
                        <label title="Revenue">Revenue</label>
                        @Html.TextBoxFor(model => model.Revenue, new { placeholder = "$0", id = "txtRevenue", @class = "currency_dollar", @readonly = "true", maxlength = @RevenuePlanner.Helpers.Common.maxLengthDollar })
                    </div>
                </div>
            }
            @if ((bool)ViewBag.IsCreated)
            {
                <div class="programs-part">
                    <label>Programs</label>
                    <div id="c_programs" class="cf">

                        <!--inputs elements created dynamically-->
                    </div>
                    <div id="divAddNewTactics">
                        <span class="c-add-program link-blue">Add New Program</span>
                    </div>
                </div>					
            }
            @if ((bool)ViewBag.RedirectType)
            {
                if (string.IsNullOrEmpty(CalledFromBudget))
                {
                <p class="font-size12 pull-left font-size13">Edit campaign details in </p>
                <label class="pull-left font-size12 padding-left3">@*@Html.ActionLink("Assortment Mix","Assortment")*@ <a href="#" id="lnkCampaigns">Campaigns</a>.</label>
                }
            }
        </div>
        <!--end content dark-->
            if ((bool)ViewBag.IsOwner)
            {
        <div class="wraper-btns cf">
            <div id="divBudgetError" class="alert alert-error hide error-msg">
                <a class="close">×</a>
                <p id="BudgetErrorMessage" class="source-sans-probold">You cannot allocate more than budgeted for Jan and May .</p>
            </div>
            <div class="span2 btn-save">
                <button id="save_campaign" class="btn btn-blue text-shadow-blue source-sans-proregular" type="button">Save</button>
            </div>
            <div class="span2">
                <button class="close-form btn-link source-sans-proregular" type="button">Cancel</button>
            </div>
        </div>
            }
        <!--End buttons-->
@* TFS Point 253,206 : Model/Plan - sidebars - integrate gear icon with feature to delete/duplicate tactic
    Added by Nirav Shah on 17 feb 2014
 *@
@*if ((bool)ViewBag.IsOwner && !(bool)ViewBag.IsCreated && !(bool)ViewBag.RedirectType)
            {
        <div class="content dark">
            <input id="deleteCampaign" class="btn-delete-campaign" type="button" value="DELETE CAMPAIGN" />
        </div>
        <!--End content dark-->
            }*@
    }

</div>
@*</div>*@
<script type="text/javascript">

    $(document).ready(function () {

        $('#slidepanel-container').slimScroll({ scrollTo: '0px' });
        //start added by dharmraj #567: Budget allocation for campaign
        $(".budget-head a").click(function () {
            $('.budget-collapse').slideToggle();
            $('.budget-head a').html($('.budget-head a').text() == '- Collapse' ? '+ Expand' : '- Collapse');
        });
        var SaveCampaignFlag = true;
        //end added by dharmraj #567: Budget allocation for campaign
        var isredirect = "@ViewBag.RedirectType";
        var hdnYear = @ViewBag.Year
        $('.currency_dollar').priceFormat({ prefix: '$', centsSeparator: '', thousandsSeparator: ',', centsLimit: 0 });
        $('.priceValue').priceFormat({ prefix: '', centsSeparator: '', thousandsSeparator: ',', centsLimit: 0 });
        $('.priceValueAllowNull').priceFormat({ prefix: '', centsSeparator: '', thousandsSeparator: ',', centsLimit: 0 , isAllowNull : true });
        //start added by dharmraj #567: Budget allocation for campaign
        if ($("#hdnIsBudgetAllocated").val() == "True") {
            $("#lblTotalBudget").html(FormatCommasBudget($("#lblTotalBudget").html(), false, true));
        }

        $("#txtRemainingBudget").val(FormatCommasBudget($("#txtRemainingBudget").val(), false, true));
        //Added  By : Kalpesh Sharma #693 Allowing Program Budget more than Remaining Campaign Budget in None case
        if (parseInt(ReplaceCC($("#txtRemainingBudget").val())) < 0) {
            $("#txtRemainingBudget").addClass('error-text');
        }
        else {
            $("#txtRemainingBudget").removeClass('error-text');
        }

        //end added by dharmraj #567: Budget allocation for campaign
        //if (isredirect == 'True') {   // Commented by Sohel Pathan on 08/07/2014 for PL ticket #549 to add Start and End date field in Campaign. Program and Tactic screen
        $("#t_startdate").val($("#t_startdate").val().split(' ')[0]);
        $("#t_enddate").val($("#t_enddate").val().split(' ')[0]);
        //}

        //// Added by :- Sohel Pathan on 24/04/2014 for internal review point to stop form posting on ENTERKEY (Keycode = 13) press event for Title textBox
        $("#txtTitle").keypress(function (e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                return false;
            }
        });

        if ($("#t_integration_status").val() == '') {
            if ($("#t_integration_status").hasClass("icon-check-blue")) {
                $("#hdnIsDeployedToIntegration").val(true);
            }
            else {
                $("#hdnIsDeployedToIntegration").val(false);
            }
        }

        $("#t_integration_status").click(function () {
            if (isOwner == 'True') {
                if ($(this).hasClass("icon-check-blue")) {
                    $(this).val("Not Sync to integration");
                    $(this).addClass("icon-check-gray");
                    $(this).removeClass("icon-check-blue");
                    $("#hdnIsDeployedToIntegration").val(false);
                }
                else {
                    $(this).val("Sync to integration");
                    $(this).addClass("icon-check-blue");
                    $(this).removeClass("icon-check-gray");
                    $("#hdnIsDeployedToIntegration").val(true);
                }
            }
        });

        $("span.tool-tip").tooltip();

        $(".alert").find(".close").on("click", function (e) {
            e.stopPropagation();
            e.preventDefault();
            SaveCampaignFlag = true;
            $(this).closest(".alert").slideUp(400);
        });
        //if (isredirect == 'True') {   // Commented by Sohel Pathan on 08/07/2014 for PL ticket #549 to add Start and End date field in Campaign. Program and Tactic screen
        $('.datepicker.dropdown-menu').css("display", "none");
        //}
        $('.close-form', this.$panel).click(function (e) {
            //if (isredirect == 'True') {   // Commented by Sohel Pathan on 08/07/2014 for PL ticket #549 to add Start and End date field in Campaign. Program and Tactic screen
            $('.datepicker.dropdown-menu').css("display", "none");
            //}
            $("#slidepanel").css("display", "none");
            $("#slidepanel-container").empty();
        });

        //Added : By Kalpesh Sharma Ticket #638 Cloning icon for plans, campaigns, programs and tactics
        $("#spanCampaignDuplicate").click(function () {
            var idPlanCamaign = $("#hdnPlanCampaignId").val();
            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/Plan/Clone")',
                data: {

                    CloneType: '@Enums.DuplicationModule.Campaign',
                    Id: idPlanCamaign,
                    title: '@Model.Title',
                    CalledFromBudget: '@CalledFromBudget'
                },
                success: function (data) {
                    if (data.returnURL != 'undefined' && data.returnURL == '#') {
                        window.location = '@Url.Content("~/Login/Index")';
                    }
                    else {
                        if (data.redirect) {
                            window.location.href = data.redirect;
                            return;
                        }
                        if (data.errormsg) {
                            alert(data.errormsg);
                            return;
                        }
                    }
                }
            });
        });


        $("#spanDuplicate").click(function () {
            var hdnPlanCampaignId = $("#hdnPlanCampaignId").val();
            var isAssortment = $("#hdnRedirectType").val();
            var arrClosedTaskString = null;
            if (typeof arrClosedTask != 'undefined') {
                arrClosedTaskString = arrClosedTask.toString();
            }
            var uId = $(window).attr('name');
            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/Plan/DuplicateCopyClone")',
                data:
                    {
                        id: hdnPlanCampaignId,
                        RedirectType: isAssortment,
                        CopyClone: 'Campaign',
                        closedTask: arrClosedTaskString,
                        UserId: uId,
                        CalledFromBudget: '@CalledFromBudget'
                    },
                success: function (data) {
                    if (data.returnURL != 'undefined' && data.returnURL == '#') {
                        window.location = '@Url.Content("~/Login/Index")';
                    }
                    else {
                        if (data.redirect) {
                            window.location.href = data.redirect;
                            return;
                        }
                        if (data.errormsg) {
                            ShowError(data.errormsg);
                            return;
                        }
                    }
                }
            });
        });


        $(".c-add-program").click(function () {
            $("#c_programs").append('<div class="content-row" style="width: 45% !important;float:left;"><input class="delete-icon" type="text" require="true" placeholder="Program Title" maxlength="255" /><span class="delete-temp-program"></span></div>');
        });

        $('#c_programs').on('click', '.delete-temp-program', function () {
            $(this).parent().remove(); // Modified by Dharmraj for #567 : Budget allocation for campaign
            $(this).remove();
        });
        $('form').find('input[type=text], select, textarea').each(function () {
            $(this).change(function () {
                if ($(this).attr('require') == 'true') {
                    if ($(this).val().toString().trim() == '') {
                        $(this).addClass("error");
                    }
                    else {
                        $(this).removeClass("error");
                    }
                }
            });
        });

        $('form').find(".sbSelector").each(function () {
            $(this).next().find('li').click(function () {
                if ($(this).parent().parent().prev().attr('require') == 'true') {
                    if ($(this).parent().prev().text() == 'Please Select') {
                        $(this).parent().prev().addClass("error");
                        iserror = true;
                    }
                    else {
                        $(this).parent().prev().removeClass("error");
                    }
                }
            });
        });

        $("#save_campaign").click(function () {
            var iserror = false;
            $('form').find('input[type=text], select, textarea').each(function () {
                if ($(this).attr('require') == 'true') {
                    if ($(this).val().toString().trim() == '') {
                        $(this).addClass("error");
                        iserror = true;
                    }
                    else {
                        $(this).removeClass("error");
                    }
                }
            });

            //sbSelector
            $('form').find('.sbSelector').each(function () {
                if ($(this).parent().prev().attr('require') == 'true') {
                    if ($(this).text() == 'Please Select') {
                        $(this).addClass("error");
                        iserror = true;
                    }
                    else {
                        $(this).removeClass("error");
                    }
                }
            });

            if (iserror) {
                ShowError("@RevenuePlanner.Helpers.Common.objCached.ValidateForEmptyField");
                return false;
            }

            //if (isredirect == 'True') {   // Commented by Sohel Pathan on 08/07/2014 for PL ticket #549 to add Start and End date field in Campaign. Program and Tactic screen
            sdate = $('#t_startdate').val();
            edate = $('#t_enddate').val();
            var psdate = $('#hdnPStartDate').val();
            var pedate = $('#hdnPEndDate').val();
            var tsdate = $('#hdnTStartDate').val();
            var tedate = $('#hdnTEndDate').val();
            $('#t_enddate').removeClass("error");
            $('#t_startdate').removeClass("error");
            if (!isDate(sdate)) {
                alert('@Common.objCached.ValidateStartDate');
                return false;
            }
            if (!isDate(edate)) {
                alert('@Common.objCached.ValidateEndDate');
                return false;
            }
            if (!CheckDateYear(sdate, hdnYear, "@RevenuePlanner.Helpers.Common.objCached.StartDateCurrentYear")) return false;
            if (!CheckDateYear(edate, hdnYear, "@RevenuePlanner.Helpers.Common.objCached.EndDateCurrentYear")) return false;
            if (!validateDateCompare(sdate, edate, "@RevenuePlanner.Helpers.Common.objCached.DateComapreValidation")) {
                // $('#t_enddate').addClass("error");
                // $('#t_startdate').addClass("error");
                return false;
            }
            if (!validateDateCompare(sdate, psdate, "@RevenuePlanner.Helpers.Common.objCached.ProgramStartDateCompareWithParentStartDate")) {
                //  $('#t_startdate').addClass("error");
                return false;
            }
            if (!validateDateCompare(pedate, edate, "@RevenuePlanner.Helpers.Common.objCached.ProgramEndDateCompareWithParentEndDate")) {
                //  $('#t_enddate').addClass("error");
                return false;
            }
            if (!validateDateCompare(sdate, tsdate, "@RevenuePlanner.Helpers.Common.objCached.TacticStartDateCompareWithParentStartDate")) {
                // $('#t_startdate').addClass("error");
                return false;
            }
            if (!validateDateCompare(tedate, edate, "@RevenuePlanner.Helpers.Common.objCached.TacticEndDateCompareWithParentEndDate")) {
                //  $('#t_enddate').addClass("error");
                return false;
            }

            // Start check error related to budget section, By Dharmraj #567
            if ($("#txtRemainingBudget").hasClass('error-text')) {
                errorMsg = "@RevenuePlanner.Helpers.Common.objCached.CannotAllocateMorethanRemainingBudgeted";
                ShowBudgetError(errorMsg);
                return false;
            }

            if ($("#hdnIsBudgetAllocated").val() == "True") {

                var lstAllocInputs = $(".budget-section input.error-text").not('.unallocated-text');
                if (lstAllocInputs.length > 0) {
                    var errorMsg = "@RevenuePlanner.Helpers.Common.objCached.CannotAllocateMorehanBudgeted for ";
                    var inputLength = lstAllocInputs.length;
                    var removeLength = 0;
                    for (var i = 0; i < lstAllocInputs.length; i++) {

                        if (inputLength == 1) {
                            errorMsg += ($(lstAllocInputs[i]).parent().prev().html());
                        }
                        else if (inputLength == 2) {
                            errorMsg += ($(lstAllocInputs[i]).parent().prev().html() + ' and ');
                            removeLength = 4;
                        }
                        else if (inputLength > 2) {
                            if (i == inputLength - 2) {
                                errorMsg += ($(lstAllocInputs[i]).parent().prev().html() + ' and ');
                                removeLength = 4;
                            }
                            else {
                                errorMsg += ($(lstAllocInputs[i]).parent().prev().html() + ', ');
                                removeLength = 2;
                            }
                        }

                    }

                    errorMsg = errorMsg.substring(0, errorMsg.length - removeLength);
                    errorMsg += '.';

                    ShowBudgetError(errorMsg);
                    return false;
                }

                if ($("#lblTotalAllocated").hasClass('error-text')) {
                    errorMsg = "@RevenuePlanner.Helpers.Common.objCached.CannotAllocateMorehanBudgeted";
                    ShowBudgetError(errorMsg);
                    return false;
                }

                if (parseInt(ReplaceCC($("#lblUnallocatedBudget").val())) < 0) {
                    errorMsg = "@RevenuePlanner.Helpers.Common.objCached.CannotSetBudgetLessthanAllocated";
                    ShowBudgetError(errorMsg);
                    return false;
                }

                if (SaveCampaignFlag) {
                    var lstAllocInputs = $(".budget-section input.low-budgeted").not('.unallocated-text');
                    if (lstAllocInputs.length > 0) {
                        var errorMsg = "@RevenuePlanner.Helpers.Common.objCached.CampaignBudgetIsLowerthanTotalAllocatedPrograms ";
                        // Added by Dharmraj 25-8-2014, for Internal review points
                        errorMsg = errorMsg.replace("month", "@(AllocatedBy.ToLower() == Enums.PlanAllocatedByList[Enums.PlanAllocatedBy.months.ToString()].ToString().ToLower() ? "month" : "quarter")");

                        var removeLength = 0;
                        var inputLength = lstAllocInputs.length;
                        for (var i = 0; i < lstAllocInputs.length; i++) {
                            if (inputLength == 1) {
                                errorMsg += ($(lstAllocInputs[i]).parent().prev().html());
                            }
                            else if (inputLength == 2) {
                                errorMsg += ($(lstAllocInputs[i]).parent().prev().html() + ' and ');
                                removeLength = 4;
                            }
                            else if (inputLength > 2) {
                                if (i == inputLength - 2) {
                                    errorMsg += ($(lstAllocInputs[i]).parent().prev().html() + ' and ');
                                    removeLength = 4;
                                }
                                else {
                                    errorMsg += ($(lstAllocInputs[i]).parent().prev().html() + ', ');
                                    removeLength = 2;
                                }
                            }
                        }
                        errorMsg = errorMsg.substring(0, errorMsg.length - removeLength);
                        errorMsg += '. <br />If you want to continue, hit Save below.';
                        ShowBudgetError(errorMsg);
                        SaveCampaignFlag = false;
                        return false;
                    }
                }
            }

            // End check error related to budget section, By Dharmraj #567
            //}

            var arProgram = [];
            var _programs = $("#frm_campaigns #c_programs input");
            for (var l = 0; l < _programs.length; l++) {
                var ptitle = $(_programs[l]).val();
                arProgram[l] = htmlEncode(ptitle);////Modified by Mitesh Vaishnav on 07/07/2014 for PL ticket #584
            }
            var isAssortment = $("#hdnRedirectType").val();
            var arrClosedTaskString = null;
            if (typeof arrClosedTask != 'undefined') {
                arrClosedTaskString = arrClosedTask.toString();
            }

            var allocationValue = [];
            var lstAllocInputs = $(".budget-section input").not('.unallocated-text');
            for (var i = 0; i < lstAllocInputs.length; i++) {
                allocationValue.push(ReplaceCC($(lstAllocInputs[i]).val()));
            }
            ////Start Added by Mitesh Vaishnav for PL ticket #718
            ////creating object which contains value of custom fields
            var _customFieldValues = [];
            $('form').find('input[type=text], select').each(function () {
                if ($(this).attr('cf_id') != '' && typeof $(this).attr('cf_id') != 'undefined' && $(this).val()!='') {
                    _customFieldValues.push({
                        Key: $(this).attr('cf_id').toString(),
                        Value: $(this).val().toString()
                    });
                    }
            });
            _customFieldValues = JSON.stringify(_customFieldValues);
            ////End Added by Mitesh Vaishnav for PL ticket #718
            document.getElementById("txtTitle").value = htmlEncode($('#txtTitle').val());////Added by Mitesh Vaishnav on 07/07/2014 for PL ticket #584
            document.getElementById("Description").value = htmlEncode($('#Description').val());////Added by Mitesh Vaishnav on 07/07/2014 for PL ticket #584
            $("#txtCampaignBudget").val(ReplaceCC($("#txtCampaignBudget").val()));
            $("#txtCampaignBudget").attr('title', $("#txtCampaignBudget").val());
            var formData = $("form").serialize();////Modified by Mitesh Vaishnav on 07/07/2014 for PL ticket #584
            var uId = $(window).attr('name');
            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/Plan/SaveCampaign")',
                data: formData + '&programs=' + escape(arProgram) + '&RedirectType=' + isAssortment + '&closedTask=' + arrClosedTaskString + '&BudgetInputValues=' + allocationValue.toString() + '&UserId=' + uId + '&CalledFromBudget=' + '@CalledFromBudget' + '&customFieldInputs=' + _customFieldValues,
                success: function (data) {
                    if (data.returnURL != 'undefined' && data.returnURL == '#') {
                        window.location = '@Url.Content("~/Login/Index")';
                    }
                    else {
                        if (data.redirect) {
                            window.location.href = data.redirect;
                            return;
                        }
                        if (data.errormsg) {
                            document.getElementById("txtTitle").value = htmlDecode($('#txtTitle').val());////Added by Mitesh Vaishnav on 07/07/2014 for PL ticket #584
                            document.getElementById("Description").value = htmlDecode($('#Description').val());////Added by Mitesh Vaishnav on 07/07/2014 for PL ticket #584
                            ShowError(data.errormsg);
                            //Added By : Kalpesh Sharma Functional and Review Points 07/31/2014
                            $("#divBudgetError").slideUp(30);
                            return false;
                        }
                    }
                }
            });
        });



        @* TFS Point 253,206 : Model/Plan - sidebars - integrate gear icon with feature to delete/duplicate tactic
    Added by Nirav Shah on 17 feb 2014
 *@
        $("#deleteCampaign").click(function () {
            if (confirm('@Common.objCached.ConfirmationForDeleteCampaign')) {
                var campaignId = $("#hdnPlanCampaignId").val();
                var isAssortment = $("#hdnRedirectType").val();
                var arrClosedTaskString = null;
                if (typeof arrClosedTask != 'undefined') {
                    arrClosedTaskString = arrClosedTask.toString();
                }
                var uId = $(window).attr('name');   // Added by Sohel Pathan on 07/08/2014 for PL ticket #672
                $.ajax({
                    type: 'POST',
                    url: '@Url.Content("~/Plan/DeleteCampaign")',
                    data: {
                        ID: campaignId,
                        RedirectType: isAssortment,
                        closedTask: arrClosedTaskString
                        , UserId: uId     // Added by Sohel Pathan on 07/08/2014 for PL ticket #672
                        , CalledFromBudget: '@CalledFromBudget'
                    },
                    success: function (data) {
                        // Start - Modified by Sohel Pathan on 07/08/2014 for PL ticket #672
                        if (data.returnURL != 'undefined' && data.returnURL == '#') {
                            window.location = '@Url.Content("~/Login/Index")';
                        }
                        else {
                            if (data.redirect) {
                                window.location.href = data.redirect;
                                return;
                            }
                            if (data.errormsg) {
                                ShowError(data.errormsg);
                                return;
                            }
                        }
                        // End - Modified by Sohel Pathan on 07/08/2014 for PL ticket #672
                    }
                });
            }

        });

        function ShowError(value) {
            $("#errorMessage").slideDown(400);
            $("#spanMessage").empty();
            $("#spanMessage").text(value);
        }

        $('.dp').datepicker({
            format: "@RevenuePlanner.Helpers.Common.dateFormat",
            autoclose: true,
        }).on('changeDate', function (ev) {
            $(this).datepicker('hide');
        });


        /*hide the other datepicker in input onclick*/

        $('#dp_start .add-on').click(function () {
            $('#dp_start').datepicker('show');
            $('#dp_end').datepicker('hide');

        });
        $('#dp_end .add-on').click(function () {
            $('#dp_start').datepicker('hide');
            $('#dp_end').datepicker('show');

        });

        $('#t_startdate').click(function () {
            $('#dp_end').datepicker('hide');
        });

        $('#t_enddate').click(function () {
            $('#dp_start').datepicker('hide');
        });

        // Start Added By Dharmraj #567 : Budget allocation for campaign
        if ($("#hdnIsBudgetAllocated").val() == "True") {
            fillBudgetAllocationData();
        }

        $("#txtCampaignBudget").keyup(function () {
            $("#txtCampaignBudget").attr('title', $("#txtCampaignBudget").val());
            var CampaignBudgetValue = ReplaceCC($("#txtCampaignBudget").val());
            var OldCampaignBudgetValue = ReplaceCC($("#hdnOldCampaignBudget").val());
            var differenceVal = parseInt(OldCampaignBudgetValue) - parseInt(CampaignBudgetValue);
            var newRemainingBudget = parseInt(ReplaceCC($("#txtRemainingBudget").val())) + differenceVal;
            $("#txtRemainingBudget").val(FormatCommasBudget(newRemainingBudget.toString(), false, true));
            $("#txtRemainingBudget").attr('title', $("#txtRemainingBudget").val());
            $("#hdnOldCampaignBudget").val(CampaignBudgetValue);
            if (parseInt(ReplaceCC($("#txtRemainingBudget").val())) < 0) {
                $("#lblTotalBudget").addClass('error-text');
                $("#txtRemainingBudget").addClass('error-text');
            }
            else {
                $("#lblTotalBudget").removeClass('error-text');
                $("#txtRemainingBudget").removeClass('error-text');
            }

            $("#lblTotalBudget").html(FormatCommasBudget(CampaignBudgetValue, false, true));
            if ($("#hdnIsBudgetAllocated").val() == "True") {
                calculateUnallocatedBudget();
            }

        });

        $('.budget-section').find('input').not('.unallocated-text').each(function () {
            $(this).keyup(function () {

                    //Modified By Kalpesh Sharma #761 CAMPAIGNS View: Campaign/Plan Budget field is clearing Remaining Budget/Remaining
                    var GetCurrentvalue = $(this).val().trim();
                    if (GetCurrentvalue == '') {
                        GetCurrentvalue = '0';
                    }
                    //alert(GetCurrentvalue);
                    var currentValue = GetCurrentvalue.replace(/,/g, '').replace('$', '');
                    if (currentValue.match('^(0|[1-9][0-9]*)$')) {
                        var OldBudgetValue = parseInt($(this).attr("ov"));
                        var RemainingBudgetValue = parseInt($(this).attr("rmb"));
                        var differenceVal = OldBudgetValue - parseInt(currentValue);
                        var newRemainingBudgetValue = RemainingBudgetValue + differenceVal;
                        $(this).attr("rmb", newRemainingBudgetValue);
                        $(this).attr("ov", currentValue);
                        if (newRemainingBudgetValue < 0) {
                            $(this).addClass('error-text');
                            $("#lblRemainingMonthlyBudget").addClass('error-text');
                        }
                        else {
                            $(this).removeClass('error-text');
                            $("#lblRemainingMonthlyBudget").removeClass('error-text');
                        }
                        $("#lblRemainingMonthlyBudget").html(FormatCommasBudget(newRemainingBudgetValue.toString(), false, true));

                        var ProgramBudgetValue = parseInt($(this).attr("pmb"));
                        if (parseInt(currentValue) < ProgramBudgetValue) {
                            $(this).addClass('low-budgeted');
                            $("#lblAllocatedProgramsBudget").addClass('error-text');
                        }
                        else {
                            $(this).removeClass('low-budgeted');
                            $("#lblAllocatedProgramsBudget").removeClass('error-text');
                        }

                        var TotalallocationValue = 0;
                        var lstAllocInputs = $(".budget-section input").not('#lblUnallocatedBudget');
                        for (var i = 0; i < lstAllocInputs.length; i++) {
                            TotalallocationValue += parseInt($(lstAllocInputs[i]).val() == '' ? 0 : ReplaceCC($(lstAllocInputs[i]).val()));
                        }
                        $("#lblTotalAllocated").html(FormatCommasBudget(TotalallocationValue.toString(), false, true));
                        calculateUnallocatedBudget();
                    }
            });
        });

        // Modofied by Dharmraj on 1-Sep-2014, #753 Campaign budget numbers are all wrong on buldog production
        $('.budget-section').find('input').not('#lblUnallocatedBudget').each(function () {
            $(this).focus(function () {
                $('.budget-section').find('input').not('#lblUnallocatedBudget').parent().removeClass('border000000');
                $(this).parent().addClass('border000000');
                var remainingValue = parseInt($(this).attr("rmb"));
                var AllocatedProgramsBudget = parseInt($(this).attr("pmb"));
                if (remainingValue < 0) {
                    $("#lblRemainingMonthlyBudget").addClass('error-text');
                }
                else {
                    $("#lblRemainingMonthlyBudget").removeClass('error-text');
                }
                $("#lblRemainingMonthlyBudget").html(FormatCommasBudget(remainingValue.toString(), false, true));

                if ($(this).val().trim() != '') {
                    var currentValue = $(this).val().trim().replace(/,/g, '').replace('$', '');
                    if (currentValue.match('^(0|[1-9][0-9]*)$')) {
                        if (parseInt(currentValue) < AllocatedProgramsBudget) {
                            $("#lblAllocatedProgramsBudget").addClass('error-text');
                        }
                        else {
                            $("#lblAllocatedProgramsBudget").removeClass('error-text');
                        }
                    }
                }
                else {
                    $("#lblAllocatedProgramsBudget").removeClass('error-text');
                }
                $("#lblAllocatedProgramsBudget").html(FormatCommasBudget(AllocatedProgramsBudget.toString(), false, true));

            });

            //$(this).focusout(function () {
            //    $(this).parent().removeClass('border000000');
            //});
        });

        // End Added By Dharmraj #567 : Budget allocation for campaign


        var isOwner = "@ViewBag.IsOwner";
        if (isOwner == 'False') {
            $('form').find(".sbSelector").each(function () {
                $(this).unbind("click");
                $(this).removeAttr("href");
                $(this).prev().unbind("click");
                $(this).prev().removeAttr("href");
            });
            $('form').find("input[type=text], textarea").each(function () {
                $(this).prop('readonly', true);
            });
            $('form .budget-month').find("input").each(function () {
                $(this).parent().removeClass('light-blue-background');
                $(this).parent().addClass('unallocated-span');
                $(this).addClass('unallocated-text');
                // Modofied by Dharmraj on 1-Sep-2014, #753 Campaign budget numbers are all wrong on buldog production
                //$(this).prop('disabled', 'disabled');
                $(this).prop('readonly', true);
            });
            $('form').find(".add-on").each(function () {
                $(this).unbind("click");
            });
            //return false; // Commented by Dharmraj for ticket #567
        }
    });

    // Start Added By Dharmraj #567 : Budget allocation for campaign
    function fillBudgetAllocationData() {
        var hdnPlanCampaignId = $("#hdnPlanCampaignId").val();
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/Plan/GetBudgetAllocationCampaignData/")',
            data: {
                id: hdnPlanCampaignId
            },
            success: function (data) {
                var r = data.budgetData;
                if (typeof r != 'undefined') {
                    if (r.length) {
                        for (i in r) {
                            var remainingMonthlyBudget = r[i].remainingMonthlyBudget == '' ? '0' : r[i].remainingMonthlyBudget;
                            $("#" + r[i].periodTitle).val(FormatCommas(r[i].budgetValue.toString(), false));
                            $("#" + r[i].periodTitle).attr('ov', r[i].budgetValue == '' ? '0' : r[i].budgetValue);
                            $("#" + r[i].periodTitle).attr('rmb', remainingMonthlyBudget);
                            $("#" + r[i].periodTitle).attr('pmb', r[i].programMonthlyBudget);
                            $("#" + r[i].periodTitle).attr("myValue", $("#" + r[i].periodTitle).val()); // Added by Sohel Pathan on 18/08/2014 for Internal Review Points
                            if (parseInt(remainingMonthlyBudget) < 0) {
                                $("#" + r[i].periodTitle).addClass('error-text');
                            }
                        }
                    }
                }

                $("#txtRemainingBudget").val(FormatCommasBudget(data.planRemainingBudget.toString(), false, true));
                //Added  By : Kalpesh Sharma #693 Allowing Program Budget more than Remaining Campaign Budget in None case
                if (parseInt(ReplaceCC($("#txtRemainingBudget").val())) < 0) {
                    $("#txtRemainingBudget").addClass('error-text');
                }
                else {
                    $("#txtRemainingBudget").removeClass('error-text');
                }

                $("#txtRemainingBudget").attr('title', $("#txtRemainingBudget").val());
                var TotalallocationValue = 0;
                var lstAllocInputs = $(".budget-section input").not('#lblUnallocatedBudget');
                for (var i = 0; i < lstAllocInputs.length; i++) {
                    TotalallocationValue += parseInt($(lstAllocInputs[i]).val() == '' ? 0 : ReplaceCC($(lstAllocInputs[i]).val()));
                }
                $("#lblTotalAllocated").html(FormatCommasBudget(TotalallocationValue.toString(), false, true));
                calculateUnallocatedBudget();
                $("#Y1").focus();
                $("#txtTitle").focus();
            },
            error: function () {
                ShowError('');
                return false;
            }
        });
    }

    function calculateUnallocatedBudget() {
        var CampaignBudgetValue = $("#txtCampaignBudget").val().trim().replace(/,/g, '').replace('$', '');
        var CampaignAllocatedBudgetValue = $("#lblTotalAllocated").html().trim().replace(/,/g, '').replace('$', '');
        var unallocatedBudget = parseInt(CampaignBudgetValue) - parseInt(CampaignAllocatedBudgetValue);
        $("#lblUnallocatedBudget").val(FormatCommasBudget(unallocatedBudget.toString(), false, true));
        if (unallocatedBudget < 0) {
            $("#lblUnallocatedBudget").addClass('error-text');
            $("#lblTotalAllocated").addClass('error-text');

        }
        else {
            $("#lblUnallocatedBudget").removeClass('error-text');
            $("#lblTotalAllocated").removeClass('error-text');
        }
    }

    function ShowBudgetError(value) {
        $("#divBudgetError").slideDown(400);
        $("#BudgetErrorMessage").empty();
        $("#BudgetErrorMessage").html(value);
    }

    // End Added By Dharmraj #567 : Budget allocation for campaign

</script>
