@model RevenuePlanner.Models.Plan
@using RevenuePlanner.Helpers
@{
    ViewBag.Title = "Plan Selector";
    ViewBag.ActiveMenu = RevenuePlanner.Helpers.Enums.ActiveMenu.Plan;
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool IsPlanCreateAuthorized = (bool)ViewBag.IsPlanCreateAuthorized;
    string strConfirmationmessage = Common.objCached.PlanDeleteConfirmMessage;
    string errorMsg = (string)TempData["ErrorMessage"];
    string successmsg = (string)TempData["SuccessMessage"];
    
}


@section Sidebar
{
    @Html.Hidden("Confirmationmessage", @strConfirmationmessage)
    <div class="padding-content padding-bottom0">
        <h4 class="text-shadow-black source-sans-prolight">Plan Summary</h4>
        <div class="wraper-btns cf">
            <div class="span6">
                @if (IsPlanCreateAuthorized)
                {
                    <button id="NewPlan" class="btn btn-blue text-shadow-blue source-sans-proregular createbtn" type="button">New Plan</button>
                }
                @*else Commented By Maitri Gandhi for #2137 on 29/4/2016
                {
                    <button id="NewPlan" class="btn btn-blue-disable text-shadow-blue source-sans-proregular createbtn" type="button" disabled="disabled">New Plan</button>
                }*@
            </div>
            <div class="span6">
                <button id="EditPlan" class="btn btn-blue-disable text-shadow-blue source-sans-proregular" type="button" disabled="disabled">Edit Plan</button>
                @* Modified By :- Sohel on 08/04/2014 for PL ticket #424 to Change Add Activity to “Edit Plan” and make it as disabled. *@
            </div>
        </div>
    </div>

    <ul class="nav nav-list nav-gray-plan">
        <li id="change-log" class="nav-header">
            <span>Change Log</span>
            <div class="changes"></div>
        </li>
    </ul>
}

@*<!-- success/error message-->
<div id="successMessage" class="alert hide alert-success message-position">
    <a class="close">×</a>
    <div id="cSuccess">@Html.Raw(HttpUtility.HtmlDecode((string)TempData["SuccessMessage"]))</div>
</div>*@

@*<div id="errorMessage" class="alert alert-error hide message-position">
    <a class="close">×</a>
    <div id="cError">@Html.Raw(HttpUtility.HtmlDecode((string)TempData["ErrorMessage"]))</div>
</div>*@
<!--success/error message-->
<div id="Div_NoModelArea"></div>
<div class="title-header source-sans-proregular" id="plan-title" style="padding-top: 8px; padding-bottom: 8px;">
    <h2>Plan Selector</h2>
</div>
<ul class="nav nav-tabs xxx" id="YearTabs">
    @*<li class="title-header source-sans-proregular" id="plan-title" style="padding-top: 8px; padding-bottom: 8px;">
        <h2>Plan Selector</h2>
    </li>*@
</ul>
@*<ul class="nav nav-tabs" id="BUTabs"></ul>*@
<div class="padding-content padding-top0 cf source-sans-proregular">
    <table id="table_baseline" class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="width390">Plan Title</th>
                @* Modified By :- Sohel on 08/04/2014 for PL ticket #424 to Shift “Last Updated” column next to Status column. *@
                <th class="width86">@Html.LabelForMQL("MQL")</th>
                <th class="width150px">Budget</th>
                <th>Status</th>
                <th class="width75">Last Updated</th>
                <th class="width50px">Action</th>
            </tr>
        </thead>
        <tbody>
            <!--tr elements are add dinamically with javascript (view script.js file)-->
        </tbody>
    </table>
</div>


<script type="text/javascript">
   
    var isError = false;
    var errormsg = '@errorMsg';
    var successmsg = '@successmsg';
    var PreviousPlanId = '@Sessions.PlanId';
    $(document).ready(function () {
        /*Added by Mitesh Vaishnav on 16/07/2014 for functional review point 64   */
        if ('@TempData["IsNoModel"]' == 'True') {
            $("#Div_NoModelArea").empty();
            var url = '@Url.Content("~/Common/LoadNoModelPartial/")';
            $("#Div_NoModelArea").load(url);
        }
        /*End: Added by Mitesh Vaishnav on 16/07/2014 for functional review point 64   */
        LoadYearsData(); //function call to load Years tabs
        $("#EditPlan").css('display', 'none'); //PL#1546 
        // Code to set Error/Success message
        //if ($('#cSuccess').html() != '') {
        //    $('#cSuccess').html('<strong>Success.</strong> ' + $('#cSuccess').html())
        //    $("#successMessage").slideDown(1200); // Show the Alert
        //}
        //if ($('#cError').html() != '') {
        //    $('#cError').html('<strong>Error!</strong> ' + $('#cError').html())
        //    $("#errorMessage").slideDown(1200); // Show the Alert
        //}

        $("#SuccessMsg").removeClass("message-position-small");
        $("#SuccessMsg").addClass("message-position");

        $("#errorMsg").removeClass("message-position-small");
        $("#errorMsg").addClass("message-position");

        if (successmsg != "") {
            ShowMessage(isError, successmsg,1200);
           
        }
        if (errormsg != "") {
            isError = true;
            ShowMessage(isError, errormsg,1200);
           
        }

        // Code to load change log
        var url = '@Url.Content("~/Home/LoadChangeLog/")';
        $('.changes').html('');
        $('.changes').load(url + '?objectId=0', function (response, status, xhr) {
            if (response == '{"serviceUnavailable":"~/Login/ServiceUnavailable"}') {
                //// Call function to redirect on service unavailibility.
                //// Added By: Maninder Singh Wadhva on 11/24/2014.
                //// Ticket: 942 Exception handeling in Gameplan.
                window.location = '@Url.Content(Common.RedirectOnServiceUnavailibilityPage)';
            }
        });

        // Style tweek to handle position of Error/Success message
        $("#content_wraper").removeClass("span10 all-height").addClass("span10 padding-top40");

        // Function to attach event to li element of Years tab
        $('#YearTabs').on('click', ('li:not("#plan-title")'), function (e) {
            RemoveActiveClass_YearsTab();
            $(this).addClass("active");
            TabClick();
        });

        // Function to attach event to li element of Business Units tab
        $('#BUTabs').on('click', 'li', function (e) {
            //RemoveActiveClass_BUTab();
            $(this).addClass("active");
            TabClick();
        });

        // Function to redirect to the Plan Assortment screen based on plan selection
        $('#table_baseline').on('click', 'tbody tr', function (e) {

            var PlanId = $(this).attr("id");
            if (PlanId != null) {
                var queryStringArr = [];

                queryStringArr.push(
                    {
                        key: 'currentPlanId',
                        Value: PlanId
                    });

                queryStringArr.push(
                   {
                       key: 'ActiveMenu',
                       Value: "Plan"
                   });
                //Added by Rahul Shah on 22/01/2016 for PL #1898
                queryStringArr.push(
                 {
                     key: 'IsPlanSelector',
                     Value: "true"
                 });
                queryStringArr.push(
               {
                   key: 'PreviousPlanID',
                   Value: PreviousPlanId
               });

                formSubmitEvent('@Url.Content("~/Home/Index")', queryStringArr);
            }
        });

        // Function to redirect to the Plan edit screen based on selected plan
        $('#table_baseline').on('click', 'tbody tr td .edit-temp-program', function (e) {
            e.stopPropagation();
            var PlanId = $(this).parent().parent().attr("id");
            if (PlanId != null) {

                var queryStringArr = [];

                queryStringArr.push(
                    {
                        key: 'id',
                        Value: PlanId
                    });

                formSubmitEvent('@Url.Content("~/Plan/CreatePlan")', queryStringArr);
            }
        });

        // Code to Create new Plan
        $("#NewPlan").click(function () {
            var url = '@Url.Content("~/Plan/CreatePlan")';
            //window.location.href = url;
            var queryStringArr = [];
            queryStringArr.push(
                {
                    key: 'isPlanSelecter',
                    Value: true
                });

            formSubmitEvent(url, queryStringArr);
        });

        //Added By komal Rawal for #1131
        $('#table_baseline').on('click', 'tbody tr td .add-icon', function (e) {
            e.stopPropagation();
            var url = '@Url.Content("~/Plan/CreatePlan")';
             var queryStringArr = [];
            queryStringArr.push(
              {
                  key: 'isPlanSelecter',
                  Value: true
              });

             formSubmitEvent(url, queryStringArr);
        });
        
        $('#table_baseline').on('click', 'tbody tr td .duplicate-icon', function (e) {
            e.stopPropagation();
            var PlanId = $(this).parent().parent().attr("id");
            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/Plan/Clone")',
                data: {
                    CloneType: '@Enums.DuplicationModule.Plan',
                    Id: PlanId,
                    title: ''
                },
                success: function (data) {
                      if (data.returnURL != 'undefined' && data.returnURL == '#') {
                          window.location = '@Url.Content("~/Login/Index")';
                    }
                    else {
                        if (data.redirect) {
                            window.location.href = data.redirect;
                            return;
                        }
                        if (data.errormsg) {
                            alert(data.errormsg);
                            return;
                        }
                    }
                }
              });
        });

        //End

        // Function to delete the selected Plan
        $('#table_baseline').on('click', 'tbody tr td .delete-temp-program', function (e) {
            if (confirm($("#Confirmationmessage").val())) {
                e.stopPropagation();
                var uId = $(window).attr('name');
                var PlanId = $(this).parent().parent().attr("id");
                if (PlanId != null) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Content("~/Plan/DeletePlan/")',
                        data: { PlanId: PlanId, UserId: uId },
                        dataType: "json",
                        success: function (data) {
                            if (data.returnURL != 'undefined' && data.returnURL == '#') {
                                window.location = '@Url.Content("~/Login/Index")';
                            }
                            else {
                                if (data.errorMsg != undefined) {
                                    isError = true;
                                    //$('#errorMessage').css("display", "block");
                                    //$('#cError').html('<strong>Error!</strong> ' + data.errorMsg)
                                    //$('#successMessage').css("display", "none");
                                    ShowMessage(isError, data.errormsg,1200);
                                   
                                }
                                else if (data.successmsg != undefined) {
                                    //$('#successMessage').css("display", "block");
                                    //$('#cSuccess').html('<strong>Success.</strong> ' + data.successmsg)
                                    //$('#errorMessage').css("display", "none");
                                    ShowMessage(isError, data.successmsg,1200);
                                   
                                }
                                TabClick();
                            }
                        }
                    });
                }
                else {
                    return false;
                }
            }
            else {
                return false;
            }
        });
    });

    /***** Code to load Years Tab *****/
    function LoadYearsData() {
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/Plan/GetYearsTab/")',
            success: function (r) {
                BindYearTabs(r);
                TabClick()
                //LoadBUData(); //function call to load Business Units tabs
            }
        });
    }

    function BindYearTabs(Years) {
        if (typeof Years != 'undefined') {
            var Year = @DateTime.Now.Year
            $('#YearTabs li:not(:first)').empty();
            if (Years.length) {
                for (i in Years) {
                    $("#YearTabs").append('<li class="pull-right" id="' + Years[i] + '"><a >' + Years[i] + '</a></li>');
                }

                // This code makes the current year tab active
                $('#YearTabs > li > a').each(function () {
                    if ($(this).text() == Year) {
                        $(this).parent().addClass("active");
                    }
                    else  //Modified By Komal rawal for #1859 to display plan selector of previous year if there are no plans in current year
                    {
                        if ($('#YearTabs > li ').hasClass('active') != true)
                        {
                            if ($(this).text() == (Year - 1)) {
                                $(this).parent().addClass("active");
                            }
                        }
                     
                    }
                });
            }
            else {
                if ('@errorMsg' == '') {
                    isError = true;
                    @* $('#errorMessage').css("display", "block");
                    $('#cError').html('<strong>Error!</strong> @Common.objCached.NoPublishPlanAvailable');  //// Error Message modified by Sohel Pathan on 22/05/2014 to address internal review points
                    $('#successMessage').css("display", "none");*@
                    ShowMessage(isError, "@Common.objCached.NoPublishPlanAvailable",1200);
                   
                }
            }
        }
    }

    function RemoveActiveClass_YearsTab() {
        $('#YearTabs').children().each(function () {
            if ($(this).hasClass('active')) {
                $(this).removeClass("active");
            }
        });
    }

    /***** Code to load Business Units Tab *****/

@*    function LoadBUData() {
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/Plan/GetBUTab/")',
        success: function (r) {
            if (r.serviceUnavailable != 'undefined' && r.serviceUnavailable == '#') {
                //// Function to redirect to login page on unavailability of web service.
                //// Added By: Maninder Singh Wadhva on 11/24/2014.
                //// Ticket: 942 Exception handeling in Gameplan.
                window.location = '@Url.Content(Common.RedirectOnServiceUnavailibilityPage)';
                }
                else {
                    //BindBUTabs(r);
                    TabClick();
                }
            }
    });
    }*@

    //function BindBUTabs(BU) {
    //    if (typeof BU != 'undefined') {
    //        $('#BUTabs').empty();
    //        if (BU.length) {
    //            for (i in BU) {
    //                $("#BUTabs").append('<li class="pull-left" id="' + BU[i].id + '"><a >' + BU[i].title + '</a></li>');
    //            }
    //            $("#BUTabs").find('li:first').addClass("active");
    //        }
    //        else {
    //            $("#BUTabs").append('No Records found for This Selection.');
    //        }
    //    }
    //}

    //function RemoveActiveClass_BUTab() {
    //    $('#BUTabs').children().each(function () {
    //        if ($(this).hasClass('active')) {
    //            $(this).removeClass("active");
    //        }
    //    });
    //}

    /***** Code to Fill Plan table *****/

    var baselinesModels = "";

    //fill baselinesModels table with data from json
    function fillBaselineTable() {
        $('#table_baseline > tbody > tr').empty();
        if (typeof baselinesModels.lstPlanSelector != 'undefined') {
            if (baselinesModels.lstPlanSelector.length) {
                for (i in baselinesModels.lstPlanSelector) {
                    addRowBaseline(baselinesModels.lstPlanSelector[i].PlanId, baselinesModels.lstPlanSelector[i].PlanTitle, baselinesModels.lstPlanSelector[i].LastUpdated, baselinesModels.lstPlanSelector[i].MQLS, baselinesModels.lstPlanSelector[i].Budget, baselinesModels.lstPlanSelector[i].Status, baselinesModels.lstPlanSelector[i].IsPlanEditable);
                }
            }

            //Fetch all the row values from the tables
            $('.BudgetFormater').each(function () {
                //Added By : Kalpesh Sharma
                //PL #508 Set format for label in tool tip
                SetBudgetForPlanListing($(this));
            });

        }
    }

    //add row in baselinesModels table
    function addRowBaseline(_PlanId, _Title, _LastUpdated, _MQLs, _Budget, _Status, _IsPlanEditable) {
        var $baselineTable = $('#table_baseline > tbody');
        var $html = "";
        $html += '<tr id="' + _PlanId + '">' +
                '<td><span class="title-baseline-model truncate">' + _Title +
                //'</span><span class="search-icon"></span></td>' +
                @* Modified By :- Sohel on 08/04/2014 for PL ticket #424 to Shift “Last Updated” column next to Status column. *@
                '<td>' + _MQLs + '</td>' +
                '<td class="BudgetFormater">$' + _Budget + '</td>' +
                '<td>' + _Status + '</td>' +
                '<td>' + _LastUpdated + '</td>';

        // Modified by Mitesh for Internal review points related to "Edit All Plan" permission 
        $html += '<td><span class="';
        if (_IsPlanEditable) {
            $html += 'delete-temp-program width5" title="Delete"></span>'
        }
        else {
            $html += 'empty-delete-button width5">&nbsp;</span>'
        }
        if ('@IsPlanCreateAuthorized.ToString().ToLower()' == 'true') {
            $html+='<span class="duplicate-icon" title="Copy"></span><span  class="add-icon" title="New" ></span>';
        }
        $html += '<span class="edit-temp-program width5" title="Edit"></span></td>'; @*Added By Komal Rawal for #1131 *@

        $html += '</tr>';
        $baselineTable.append($html);
    }

    function LoadPlanData(SelectedYear, SelectedBU) {
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/Plan/GetPlanSelectorData/")',
            data: { Year: SelectedYear },
            dataType: "json",
            success: function (r) {
                if (r.serviceUnavailable != 'undefined' && r.serviceUnavailable == '#') {
                    window.location = '@Url.Content(Common.RedirectOnServiceUnavailibilityPage)';
                }
                else {
                    baselinesModels = r;
                    //Added By : Kalpesh Sharma Functional Review Point 07/24/2014
                    if (baselinesModels.lstPlanSelector != "") {
                        $('#table_baseline > tbody').html("");
                        fillBaselineTable();
                        TruncateTitle();
                    }
                    else {
                        $('#table_baseline > tbody').html("");
                        var $baselineTable = $('#table_baseline > tbody');
                        var $html = "@Common.objCached.NoPlanFoundPlanSelector";
                        $baselineTable.append($html);
                    }
                    myApp.hidePleaseWait();
                }
            }
        });
    }

    /***** Code to fill Plan table according the filter *****/
    function TabClick() {
        var SelectedYear = $('#YearTabs > li.active a').text();
        //var SelectedBU = $('#BUTabs > li.active').attr("id");
        //if (SelectedBU === 'undefined') {
        //    SelectedBU = "";
        //}
        LoadPlanData(SelectedYear);
    }

    function TruncateTitle() {
        $("#table_baseline").find('.truncate').each(function () {
            var title = $(this).text();
            var mainText = title;
            @* Modified By :- Sohel on 08/04/2014 for PL ticket #424 to solve the issue "The plan name is greater than few characters the UI get distorted". *@
        if (title.length >= 32) {
            title = title.substring(0, 32) + "...";
            $(this).prop('title', mainText);
        }
        $(this).text(title);
    });
}
</script>
