@model RevenuePlanner.Models.Plan
@using RevenuePlanner.Helpers
@{
    ViewBag.Title = "Plan Selector";
    ViewBag.ActiveMenu = RevenuePlanner.Helpers.Enums.ActiveMenu.Plan;
    Layout = "~/Views/Shared/_Layout.cshtml";
    string isViewOnly = ViewBag.IsViewOnly;
    string strConfirmationmessage = Common.objCached.PlanDeleteConfirmMessage;
}

@section Sidebar
{
    @Html.Hidden("Confirmationmessage", @strConfirmationmessage)
    <div class="padding-content padding-bottom0">
        <h4 class="text-shadow-black source-sans-prolight">Plan Summary</h4>
        <div class="wraper-btns cf">
            <div class="span6">
                <button id="NewPlan" class="btn btn-blue text-shadow-blue source-sans-proregular createbtn" type="button">New Plan</button>
            </div>
            <div class="span6">
                <button class="btn btn-blue-disable text-shadow-blue source-sans-proregular" type="button">Add Activity</button>
            </div>
        </div>
    </div>

    <ul class="nav nav-list nav-gray-plan">
        <li id="change-log" class="nav-header">
            <span>Change Log</span>
            <div class="changes"></div>
        </li>
    </ul>
}

<!-- success/error message-->
<div id="successMessage" class="alert hide alert-success message-position">
    <a class="close">×</a>
    <div id="cSuccess">@Html.Raw(HttpUtility.HtmlDecode((string)TempData["SuccessMessage"]))</div>
</div>

<div id="errorMessage" class="alert alert-error hide message-position">
    <a class="close">×</a>
    <div id="cError">@Html.Raw(HttpUtility.HtmlDecode((string)TempData["ErrorMessage"]))</div>
</div>
<!--success/error message-->

<ul class="nav nav-tabs" id="YearTabs">
    <li class="title-header source-sans-proregular">
        <h2>Plan Selector</h2>
    </li>
</ul>
<ul class="nav nav-tabs" id="BUTabs"></ul>
<div class="padding-content padding-top0 cf source-sans-proregular">
    <table id="table_baseline" class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="width390">Plan Title</th>
                <th class="width75">Last Updated</th>
                <th class="width86">@Html.LabelForMQL("MQL")</th>
                <th class="width150px">Budget</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <!--tr elements are add dinamically with javascript (view script.js file)-->
        </tbody>
    </table>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        LoadYearsData(); //function call to load Years tabs
        LoadBUData(); //function call to load Business Units tabs

        // Code to set Error/Success message
        if ($('#cSuccess').html() != '') {
            $('#cSuccess').html('<strong>Success.</strong> ' + $('#cSuccess').html())
            $("#successMessage").slideDown(1200); // Show the Alert
            $("#successMessage").slideUp(3000);
        }
        if ($('#cError').html() != '') {
            $('#cError').html('<strong>Error.</strong> ' + $('#cError').html())
            $("#errorMessage").slideDown(1200); // Show the Alert
        }

        // Code to load change log
        var url = '@Url.Content("~/Home/LoadChangeLog/")';
        $('.changes').html('');
        $('.changes').load(url + '?objectId=0');

        // Style tweek to handle position of Error/Success message
        $("#content_wraper").removeClass("span10 all-height").addClass("span10 padding-top40");

        // Function to attach event to li element of Years tab
        $('#YearTabs').on('click', 'li', function (e) {
            RemoveActiveClass_YearsTab();
            $(this).removeClass("disabled");
            $(this).addClass("active");
            TabClick();
        });

        // Function to attach event to li element of Business Units tab
        $('#BUTabs').on('click', 'li', function (e) {
            RemoveActiveClass_BUTab();
            $(this).removeClass("disabled");
            $(this).addClass("active");
            TabClick();
        });

        // Function to redirect to the Plan Assortment screen based on plan selection
        $('#table_baseline').on('click', 'tbody tr', function (e) {
            var PlanId = $(this).attr("id");
            if (PlanId != null) {
                var url = '@Url.Content("~/Home/Index?ActiveMenu=")' + "Plan" + '&currentPlanId=' + PlanId;
                window.location.href = url;
            }
        });

        // Function to delete the selected Plan
        $('#table_baseline').on('click', 'tbody tr td .delete-temp-program', function (e) {
            if (confirm($("#Confirmationmessage").val())) {
                e.stopPropagation();
                var PlanId = $(this).parent().parent().attr("id");
                if (PlanId != null) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Content("~/Plan/DeletePlan/")',
                        data: { PlanId: PlanId },
                        dataType: "json",
                        success: function (data) {
                            if (data.errorMsg != undefined) {
                                $('#errorMessage').css("display", "block");
                                $('#cError').html('<strong>Error.</strong> ' + data.errorMsg)
                                $("#errorMessage").slideDown(1200); // Show the Alert
                                $('#successMessage').css("display", "none");
                            }
                            else if (data.successmsg != undefined) {
                                $('#successMessage').css("display", "block");
                                $('#cSuccess').html('<strong>Success.</strong> ' + data.successmsg)
                                $("#successMessage").slideDown(1200); // Show the Alert
                                $("#successMessage").slideUp(3000);
                                $('#errorMessage').css("display", "none");
                            }
                            TabClick();
                            myApp.hidePleaseWait();
                        }
                    });
                }
                else {
                    return false;
                }
            }
            else {
                return false;
            }
        });

        // Code to Create new Plan
        $("#NewPlan").click(function () {
            var url = '@Url.Content("~/Plan/Create/0")';
            window.location.href = url;
        });
    });

    /***** Code to load Years Tab *****/
    function LoadYearsData() {
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/Plan/GetYearsTab/")',
            success: function (r) {
                BindYearTabs(r);
                //TabClick();
                myApp.hidePleaseWait();
            }
        });
    }

    function BindYearTabs(Years) {
        if (typeof Years != 'undefined') {
            var Year = @DateTime.Now.Year
            $('#YearTabs li:not(:first)').empty();
            if (Years.length) {
                for (i in Years) {
                    $("#YearTabs").append('<li class="disabled pull-right" id="' + Years[i] + '"><a >' + Years[i] + '</a></li>');
                }

                // This code makes the current year tab active
                $('#YearTabs > li > a').each(function () {
                    if ($(this).text() == Year) {
                        $(this).parent().removeClass("disabled");
                        $(this).parent().addClass("active");
                        //TabClick();/* commented by Nirav shah for TFS Point : 218 on 13 March 2014*/
                    }
                });
            }
            else {
                //$("#YearTabs").append('No Records found for This Selection.');
                $('#errorMessage').css("display", "block");
                $('#cError').html('<strong>Error.</strong> No plan available, please create a plan')
                $("#errorMessage").slideDown(1200); // Show the Alert
                $('#successMessage').css("display", "none");
            }
        }
    }

    function RemoveActiveClass_YearsTab() {
        $('#YearTabs').children().each(function () {
            if ($(this).hasClass('active')) {
                $(this).removeClass("active");
                $(this).addClass("disabled");
            }
        });
    }

    /***** Code to load Business Units Tab *****/

    function LoadBUData() {
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/Plan/GetBUTab/")',
            success: function (r) {
                BindBUTabs(r);
                TabClick();
                myApp.hidePleaseWait();
            }
        });
    }

    function BindBUTabs(BU) {
        if (typeof BU != 'undefined') {
            $('#BUTabs').empty();
            if (BU.length) {
                for (i in BU) {
                    $("#BUTabs").append('<li class="disabled pull-left" id="' + BU[i].id + '"><a >' + BU[i].title + '</a></li>');
                }
                $("#BUTabs").find('li:first').removeClass("disabled");
                $("#BUTabs").find('li:first').addClass("active");
            }
            else {
                $("#BUTabs").append('No Records found for This Selection.');
            }
        }
    }

    function RemoveActiveClass_BUTab() {
        $('#BUTabs').children().each(function () {
            if ($(this).hasClass('active')) {
                $(this).removeClass("active");
                $(this).addClass("disabled");
            }
        });
    }

    /***** Code to Fill Plan table *****/

    var baselinesModels = "";

    //fill baselinesModels table with data from json
    function fillBaselineTable() {
        $('#table_baseline > tbody > tr').empty();
        if (typeof baselinesModels.lstPlanSelector != 'undefined') {
            if (baselinesModels.lstPlanSelector.length) {
                for (i in baselinesModels.lstPlanSelector) {
                    addRowBaseline(baselinesModels.lstPlanSelector[i].PlanId, baselinesModels.lstPlanSelector[i].PlanTitle, baselinesModels.lstPlanSelector[i].LastUpdated, baselinesModels.lstPlanSelector[i].MQLS, baselinesModels.lstPlanSelector[i].Budget, baselinesModels.lstPlanSelector[i].Status);
                }
            }
        }
    }

    //add row in baselinesModels table
    function addRowBaseline(_PlanId, _Title, _LastUpdated, _MQLs, _Budget, _Status) {
        var $baselineTable = $('#table_baseline > tbody');
        var $html = "";
        $html += '<tr id="' + _PlanId + '">' +
                '<td><span class="delete-temp-program width5"></span><span class="title-baseline-model">' + _Title + '</span><span class="search-icon"></span></td>' +
                '<td>' + _LastUpdated + '</td>' +
                '<td>' + _MQLs + '</td>' +
                '<td>$' + _Budget + '</td>' +
                '<td>' + _Status + '</td>' +
                '</tr>';
        $baselineTable.append($html);
    }

    function LoadPlanData(SelectedYear, SelectedBU) {
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/Plan/GetPlanSelectorData/")',
            data: { Year: SelectedYear, BusinessUnit: SelectedBU },
            dataType: "json",
            success: function (r) {
                baselinesModels = r;
                fillBaselineTable();
                myApp.hidePleaseWait();
            }
        });
    }

    /***** Code to fill Plan table according the filter *****/
    function TabClick() {
        var SelectedYear = $('#YearTabs > li.active a').text();
        var SelectedBU = $('#BUTabs > li.active').attr("id");
        if (SelectedBU === 'undefined') {
            SelectedBU = "";
        }
        LoadPlanData(SelectedYear, SelectedBU);
    }

</script>
