<div class="<%= o.css.filteredContent %>">
    <div class="<%= o.css.filterPanel %>">
        <div class="<%= o.css.header %>">Filters</div>
    </div>
    <div class="<%= o.css.content %>"></div>
    <div class="<%= o.css.toggle %>">
        <i class="fa fa-filter" title="Show/Hide Filters"></i>
    </div>
</div>
