@model IEnumerable<RevenuePlanner.Models.ColumnViewEntity>

@if (Model != null && Model.Count() > 0)
{
    <div class="addview-wrap">
        @foreach (var entity in Model)
        {
            <div class="category" entitytpe="@entity.EntityType.ToString()">
                <div class="category-title clearfix">
                    @if (entity.AttributeList != null && entity.AttributeList.Count() > 0)
                    {
                        string title = string.Empty;

                        title = entity.EntityType.ToString() + " Attributes";
                        <span class="entity-check">
                            <input type="checkbox" value="@entity.EntityType.ToString()" class="checkAlldiv" /><span class="all-check">All</span>
                        </span>
                        <span class="entity-type">@title</span>
                        <div class="category-title-right">
                            <span class="showdv">show</span> / <span class="hidedv">hide</span>
                        </div>
                    }
                    else
                    {
                        <span class="entity-check">
                            <input type="checkbox" value="@entity.EntityType.ToString()" class="checkAlldiv" checked="@entity.EntityIsChecked" />
                        </span>
                        <span class="entity-type">@entity.EntityType.ToString()</span>
                    }
                </div>
                @if (entity.AttributeList != null && entity.AttributeList.Count() > 0)
                {
                    <div class="chkAttributes category-block clearfix">
                        @foreach (var attr in entity.AttributeList)
                        {

                            <span class="chkAttributes-block">
                                @if (attr.ParentID == 0)
                                {
                                    <input type="checkbox" id="chk-@attr.CustomFieldId" name="@entity.EntityType" value="@attr.CustomFieldId" class="attr-checkbox" checked="@attr.IsChecked" />
                                }
                                else
                                {
                                    <input type="checkbox" id="chk-@attr.CustomFieldId" name="@entity.EntityType" value="@attr.CustomFieldId" class="attr-checkbox" disabled="disabled" parentid="@attr.ParentID.ToString()" checked="@attr.IsChecked" />

                                }
                                <span for="chk-@attr.CustomFieldId" class="attr-fildname" title="@attr.CutomfieldName">@attr.CutomfieldName</span>
                            </span>
                        }
                    </div>
                }
            </div>
        }

    </div>
    <div class="addview-bottom clearfix">
        <div class="btm-link"><a href="javascript:void(0)" class="selectAllAttribute"> Select All </a> | <a href="javascript:void(0)" class="deselectAllAttribute">Deselect All</a></div>
        <button id="btnSaveColumnView" type="button" class="btn btn-blue pull-right width100px" data-dismiss="modal">Save</button>
    </div>
}

<script type="text/javascript">
    var Isgrid = '@ViewBag.IsGrid';
    $(document).ready(function () {
        var Isselectall = '@ViewBag.IsSelectAll';
        if (Isselectall.toLowerCase() == 'true') {
            $(".addview-wrap").find("input:checkbox").attr("checked", "checked");
        }
        if (Isgrid.toLocaleLowerCase() == "true") {
            $(".chkAttributes").each(function () {
                var currentdivcheckbox = $(this).find("input:checkbox");
                if ($(currentdivcheckbox).length == $(this).find(".attr-checkbox:checked").length) {
                    $(this).closest(".category").find(".checkAlldiv").attr("checked", "checked");
                } else {
                    $(this).closest(".category").find(".checkAlldiv").removeAttr("checked");
                }
            });
        }

        $("#errorMessage1").css("display", "none");
        $("#spanMessageError1").empty();
        $("#successMessage1").css("display", "none");
        $("#spanMessageSuccess1").empty();
    });
    $(".category-title-right").click(function () {
        $(this).toggleClass("show-fa");
        $(this).closest(".category").find(".category-block").slideToggle("slow");
    });
    $(".checkAlldiv").click(function () {
        if ($(this).is(':checked')) {
            $(this).closest(".category").find(".chkAttributes").find('input:checkbox').attr('checked', 'checked');
        }
        else {
            $(this).closest(".category").find(".chkAttributes").find('input:checkbox').removeAttr('checked');

        }
    });
    // if all checkbox are selected, check the selectall checkbox
    // and viceversa
    $(".attr-checkbox").click(function () {
        var currentdivcheckbox = $(this).closest(".chkAttributes").find("input:checkbox");
        var attributeid = $(this).val();
        CheckDependendCheckbox(this);

        if ($(currentdivcheckbox).length == $(this).closest(".chkAttributes").find(".attr-checkbox:checked").length) {
            $(this).closest(".category").find(".checkAlldiv").attr("checked", "checked");
        } else {
            $(this).closest(".category").find(".checkAlldiv").removeAttr("checked");
        }

    });
   
    function CheckDependendCheckbox(e) {
        var attributeid = $(e).val();

        $("input:checkbox[parentid=" + attributeid + "]").each(function () {
            if ($(e).is(':checked')) {
                $(this).attr("checked", "checked");
            }
            else {
                $(this).removeAttr("checked");
            }
            var parentid = $(this).val();
            var childcount = $("input:checkbox[parentid=" + parentid + "]").length;
            if (childcount != undefined && childcount > 0) {
                CheckDependendCheckbox(this);
            }
        });

    }
    $(".selectAllAttribute").click(function () {
        $(".addview-wrap").find("input:checkbox").attr("checked", "checked");
    });
    $(".deselectAllAttribute").click(function () {
        $(".addview-wrap").find("input:checkbox").removeAttr("checked");
    });
    $("#btnSaveColumnView").click(function () {
        _ColumnView = [];
        if (Isgrid.toLowerCase() == "true") {
            $.each($(".category"), function () {
                var entitytype = $(this).attr("entitytpe");
                $(this).find(".chkAttributes").find("input:checkbox").each(function () {

                    if ($(this).is(':checked')) {
                        _ColumnView.push({
                            AttributeType: entitytype.toString(),
                            AttributeId: $(this).val().toString(),
                            ColumnOrder: " "
                        });
                    }
                });
            });
        }
        else {
            $.each($(".category"), function () {
                var entitytype = $(this).attr("entitytpe");
                var checkbox = $(this).find(".checkAlldiv");
                if ($(checkbox).is(':checked')) {
                    _ColumnView.push({
                        AttributeType: entitytype.toString(),
                        AttributeId: $(checkbox).val().toString(),
                        ColumnOrder: " "
                    });
                }
            });
        }
        if (_ColumnView != null && _ColumnView.length > 0 && _ColumnView != undefined) {
            _ColumnView = JSON.stringify(_ColumnView);

            $.ajax({

                url: '@Url.Action("SaveColumnView", "ColumnView")', // we are calling json method
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                data: "{'AttributeDetail':" + (_ColumnView) + ",'Isgrid':'" + Isgrid + "'}",
                success: function (data) {
                    if (data.Success != null && data.Success == true) {
                        $('#CreateNewView').hide();
                    }
                    if (data.Success != null && data.Success == false && data.ErrorMessage != null) {
                        $("#errorMessage1").css("display", "block");
                        $("#spanMessageError1").empty();
                        $("#spanMessageError1").text(data.ErrorMessage);
                        $("#successMessage1").css("display", "none");
                    }
                }
            });
        }
        else {
            $("#errorMessage1").css("display", "block");
            $("#spanMessageError1").empty();
            $("#spanMessageError1").text("Please select at least common attributes");
            $("#successMessage1").css("display", "none");
            $(".modal-body").scrollTop(0);
        }

    });
    $(".closemessage").click(function () {
        $(this).parent().closest('div').css("display", "none");
    });
</script>