@using RevenuePlanner.Models
@using RevenuePlanner.Helpers
@model RevenuePlanner.Models.ReportTableParameters

@{
    string reportTableId = "ReportTableAll" + Model.DashboardContentId.ToString();
    string TotalTableId = "ReporttotlaTableAll" + Model.DashboardContentId.ToString();
    string formId = "Export_ViewAll_" + reportTableId;
    
    <div id="tbltoCSVdata_@reportTableId"></div>
    <div class="container-fluid all-height">
        <div class="row-fluid calc-height">
            <div class="span12">
                <div id="DivViewAll" class="form-ViewAllReportPopUp fade in report-table" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: block">
                    <div class="login-wrapper">
                        @using (Html.BeginForm("Export", null, FormMethod.Post, new { id = @formId, @class = "ViewAllReportPopUp" }))
                        {
                            @Html.HiddenFor(x => x.DisplayName)
                            <div id="ViewAllDataModule">
                                <div class="tab-head">@Model.DisplayName <a class="close-popup-btn"> <img src="~/Content/images/close-x-big.png" class="img-popup-close closeiconheight"> Close</a>
                                @*<img src="@Url.Content("~/content/images/help-icon.png")" alt="help" style="float:right; height:15px; width:15px; margin:13px;" title="Use shift key to allow sorting on multiple columns" />*@
                                </div>
                                <div class="home-chart-header  col-xs-12">
                                    <div class="row date-value-wrapper">
                                        <div class="col-xs-5">
                                            <div class="datetitle">Date Range</div>
                                            <span class="lblheader">From: </span><span class="lblvalue">@Sessions.StartDate </span>
                                            <span class="lblheader margin-left20">To: </span><span class="lblvalue">@Sessions.EndDate</span>
                                        </div>

                                    </div>
                                </div>
                                <div class="tab-content-wrap tab-content-scroll">
                                    <div class="table1-responsive" style="overflow: auto">
                                        <div id="divViewReprtTable_@Model.DashboardContentId" class="table-popup">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="DivBackground" class="modal-backdrop fade in" style="opacity:0.2"></div>}

<script type="text/javascript">

    $(function () {
       
        $('.close-popup-btn').click(function () {
            close_popup();
        });
        //Following is function to close pop up.
        function close_popup() {          
            if (document.body.style.overflow == "hidden") {
                document.body.style.overflow = "visible";
            }
            $('#DivBackground').css("display", "none");
            $('#DivViewAll').css("display", "none");
            $('#DivBackground').remove();
            $('#DivViewAll').remove();
        }
        $(document).ready(function () {  
            
            var ReportDashboardID = '@Model.DashboardContentId';          
            var model = @Html.Raw(Json.Encode(Model.SDV));
            var URL = '@Url.Content("~/MeasureDashboard/GetReportTable/")';
            //Prepare list of parameter to get report table.
            var params = {};
            params.Id = '@Model.Id';
            params.DbName = '@Enums.ApplicationCode.RPC.ToString()';
            params.Container = '@Model.Container';
            params.SDV = @Html.Raw(Json.Encode(Model.SDV));
            params.TopOnly = 'False';
            params.ViewBy = '@Model.ViewBy';
            params.StartDate ='@Model.StartDate';
            params.EndDate = '@Model.EndDate';
            params.DashboardId = '@Model.DashboardId';
            params.DashboardPageid = '@Model.DashboardPageid';
            params.DashboardContentId ='@Model.DashboardContentId';

            $.ajax({
                url: URL,
                async: true,
                traditional: true,
                data: $.param(params, true),
                dataType: "json",
                success: function (data) {                  
                    LoadReportTable(params.DashboardContentId, "divViewReprtTable_", data,"ReportTable","_wrapper",true);
                },
                error: function (err) {
                    $("#divChart" + ReportDashboardID).html("@RevenuePlanner.Helpers.Common.objCached.ErrorInWebApi");
                }
            });

        });
    });
</script>
