@using RevenuePlanner.Models
@using RevenuePlanner.Helpers
@model RevenuePlanner.Models.ReportParameters

@{
    //string reportTableId = "ReportTableAll" + Model.DashboardContentId.ToString();
    //string TotalTableId = "ReporttotlaTableAll" + Model.DashboardContentId.ToString();
    string formId = "Export_ViewAll_" + Model.Id;
    <style type="text/css">
        div.gridbox .objbox {
            width: inherit;
            /*Added by sunita for #685 21/1/2016*/
            overflow-x: hidden;
        }

        div.gridbox .xhdr {
            overflow: hidden !important;
            overflow-x: hidden !important;
            overflow-y: hidden !important;
            width: inherit;
        }
        /* */
        table.dataTable thead .sorting_asc {
            background: url("../images/new_sort_asc.jpg") no-repeat scroll right 1px center rgba(0, 0, 0, 0) !important;
        }

        table.dataTable thead .sorting {
            background: url("../images/new_sort_both.jpg") no-repeat scroll right 1px center rgba(0, 0, 0, 0) !important;
        }

        table.dataTable thead .sorting_desc {
            background: url("../images/new_sort_desc.jpg") no-repeat scroll right 1px center rgba(0, 0, 0, 0) !important;
        }

        .TableRowsViewAll {
            border-radius: 5px;
            border: medium none;
            color: black;
            font-size: 12px !important;
            height: 25px;
            line-height: 15px;
            margin-left: 10px;
            background-color: #fff;
        }

        .ViewAllReportPopUp {
            background-color: white;
            margin: 30px auto;
            text-align: center;
            max-height: 700px;
        }

        .form-ViewAllReportPopUp {
            border-radius: 5px;
            left: 19%;
            position: fixed;
            text-align: center;
            top: 0%;
            z-index: 2002;
            width: 60%;
        }

        .ViewAllReportPopUp .tab-head {
            text-align: left;
            background: #F8710E none repeat scroll 0 0;
            color: #ffffff;
            border: medium none;
        }
    </style>
    <div id="tbltoCSVdata_@Model.Id"></div>
    <div class="container-fluid all-height">
        <div class="row-fluid calc-height">
            <div class="span12">
                <div id="DivViewAll" class="form-ViewAllReportPopUp fade in report-table" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: block">
                    <div class="login-wrapper">
                        @using (Html.BeginForm("Export", null, FormMethod.Post, new { id = @formId, @class = "ViewAllReportPopUp" }))
                        {
                            @Html.HiddenFor(x => x.DisplayName)
                            <div id="ViewAllDataModule">
                                <div class="tab-head">@Model.DisplayName<a class="close-popup-btn" onmouseover="this.style.color='white'">Close</a><img src="@Url.Content("~/content/images/help-icon.png")" alt="help" style="float:right; height:15px; width:15px; margin:13px;" title="Use shift key to allow sorting on multiple columns" /></div>
                                <div class="home-chart-header  col-xs-12">
                                    <div class="row date-value-wrapper">
                                        <div class="col-xs-5">
                                            <div style="width: 100%">Date Range</div>
                                            <span class="lblheader">From: </span><span class="lblvalue">@Sessions.StartDate </span>
                                            <span class="lblheader">To: </span><span class="lblvalue">@Sessions.EndDate</span>
                                        </div>

                                    </div>
                                </div>
                                <div class="tab-content tab-content-scroll">
                                    <div class="table1-responsive" style="overflow: auto">
                                        <div id="divViewChartTable_@Model.Id" class="table-popup">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="DivBackground" class="modal-backdrop fade in" style="opacity:0.2"></div>}

<script type="text/javascript">

    $(function () {

        $('.close-popup-btn').click(function () {
            close_popup();
        });
        //Following is function to close pop up.
        function close_popup() {
            if (document.body.style.overflow == "hidden") {
                document.body.style.overflow = "visible";
            }
            $('#DivBackground').css("display", "none");
            $('#DivViewAll').css("display", "none");
            $('#DivBackground').remove();
            $('#DivViewAll').remove();
        }
        $(document).ready(function () {

            
            var model = @Html.Raw(Json.Encode(Model.SDV));
            var URL = '@Url.Content("~/MeasureDashboard/GetChart/")';
            //Prepare list of parameter to get report table.
            var params = {};
            params.Id = '@Model.Id';
            params.DbName = '@Enums.ApplicationCode.RPC.ToString()';
            params.Container = '@Model.Container';
            params.SDV = @Html.Raw(Json.Encode(Model.SDV));
            params.TopOnly = 'False';
            params.ViewBy = '@Model.ViewBy';
            params.StartDate ='@Model.StartDate';
            params.EndDate = '@Model.EndDate';
            params.IsViewData = 'True';


            $.ajax({
                url: URL,
                async: true,
                traditional: true,
                data: $.param(params, true),
                dataType: "json",
                success: function (data) {
                    debugger;
                    LoadReportTable(params.Id, "divViewChartTable_", data.data,"ReportTable","_wrapper");
                },
                error: function (err) {
                    $("#divChart" + '@Model.Id').html("@RevenuePlanner.Helpers.Common.objCached.ErrorInWebApi");
                }
            });

        });
    });
</script>
