@using RevenuePlanner.Models
@using RevenuePlanner.Helpers
@model RevenuePlanner.Models.ReportParameters

@{
    //string reportTableId = "ReportTableAll" + Model.DashboardContentId.ToString();
    //string TotalTableId = "ReporttotlaTableAll" + Model.DashboardContentId.ToString();
    string formId = "Export_ViewAll_" + Model.Id;

    <div id="tbltoCSVdata_@Model.Id"></div>
    <div class="container-fluid all-height">
        <div class="row-fluid calc-height">
            <div class="span12">
                <div id="DivViewAll" class="form-ViewAllReportPopUp fade in report-table" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: block">
                    <div class="login-wrapper">
                        @using (Html.BeginForm("Export", null, FormMethod.Post, new { id = @formId, @class = "ViewAllReportPopUp" }))
                        {
                            @Html.HiddenFor(x => x.DisplayName)
                            <div id="ViewAllDataModule">
                                <div class="tab-head">
                                    @Model.DisplayName<a class="close-popup-btn"><img src="~/Content/images/close-x-big.png"   class="img-popup-close closeiconheight"> Close</a>
                                    @*<img src="@Url.Content("~/content/images/help-icon.png")" alt="help" style="float:right; height:15px; width:15px; margin:13px;" title="Use shift key to allow sorting on multiple columns" />*@
                                </div>
                                <div class="home-chart-header  col-xs-12">
                                    <div class="row date-value-wrapper">
                                        <div class="col-xs-5">
                                            <div class="datetitle">Date Range</div>
                                            <span class="lblheader">From: </span><span class="lblvalue">@Sessions.StartDate </span>
                                            <span class="lblheader">To: </span><span class="lblvalue">@Sessions.EndDate</span>
                                        </div>

                                    </div>
                                </div>
                                @*In Following div chart will be displayed*@
                                <div class="tab-content">
                                    <div class="table1-responsive">
                                        <div id="divViewChart_@Model.Id" ReportGraphId="@Model.Id" class="table-popup" style="height:300px">
                                        </div>
                                    </div>
                                    @*//In Following div report table will be displayed*@
                                    <ul class="nav nav-tabs table_graph_tab_container" id="graphdata_tab" data-tabs="tabs">
                                        <li id="liData" class="active"><a href="#data_tab" data-toggle="tab">Data</a></li>

                                    </ul>
                                    <div class="tblheader" style="margin-bottom: 10px;" id="msgdata_tab">
                                        <span id="spanMsg">Click on a table cell to view the data behind the numbers</span>
                                    </div>
                                    <div class="table1-responsive tableheightclass">
                                        <div id="divViewChartTable_@Model.Id" class="table-popup">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="DivBackground" class="modal-backdrop fade in" style="opacity:0.2"></div>
}
<script type="text/javascript">

    $(function () {

        $('.close-popup-btn').click(function () {
            close_popup();
        });
        //Following is function to close pop up.
        function close_popup() {
            if (document.body.style.overflow == "hidden") {
                document.body.style.overflow = "visible";
            }
            $('#DivBackground').css("display", "none");
            $('#DivViewAll').css("display", "none");
            $('#DivBackground').remove();
            $('#DivViewAll').remove();
        }
        $(document).ready(function () {


            var model = @Html.Raw(Json.Encode(Model.SDV));
            var URL = '@Url.Content("~/MeasureDashboard/GetChart/")';
            //Prepare list of parameter to get report table.
            var params = {};
            params.Id = '@Model.Id';
            params.DbName = '@Enums.ApplicationCode.RPC.ToString()';
            params.Container = '@Model.Container';
            params.SDV = @Html.Raw(Json.Encode(Model.SDV));
            params.TopOnly = 'False';
            params.ViewBy = '@Model.ViewBy';
            params.StartDate ='@Model.StartDate';
            params.EndDate = '@Model.EndDate';
            params.IsViewData = 'True';
            //Using LoadReport report chart will be display in divViewChart_id div.
            LoadReport("#divViewChart_"+'@Model.Id',"@RevenuePlanner.Helpers.Enums.ApplicationCode.RPC","@RevenuePlanner.Helpers.Common.objCached.ErrorInWebApi","@RevenuePlanner.Helpers.Common.objCached.ApiUrlNotConfigured",'APIURL',0,0,'@RevenuePlanner.Helpers.Common.objCached.RptNoDataAvailable','@RevenuePlanner.Helpers.Common.objCached.RptGraphNotSupported',true)
            params.isChartTable = true;
            //Using Following call report table will be display.

            $.ajax({
                url: URL,
                async: true,
                traditional: true,
                data: $.param(params, true),
                dataType: "json",
                success: function (data) {
                   
                    if(data.data!=null && data.data!='')
                        LoadReportTable(params.Id, "divViewChartTable_",jQuery.parseJSON(data.data),"ReportTable","_wrapper");

                    $("#ReportTable" + '@Model.Id' + " .border-r").click(function() {                      
                        var dimensionValueName = $(this).parent().find('.border-r:first').not('.border-r.tdGraphData').html();
                        var dimensionActualValueCount = $(this).attr('data-original-title');
                        var dimensionValueCount = $(this).clone().children().remove().end().text();
                        var dashboardContentId = '@Model.DashboardContentId';
                        var id = '@Model.Id';
                        var displayName = '@Model.DisplayName';
                        var HelpTextId = 0;
                        var dashboardId = '@Model.DashboardId';
                        var measureIndex = $(this).index();
                        var IsSortByValue = '@Model.IsSortByValue'
                        var SortOrder = '@Model.SortOrder';
                        var ChartType = '@Model.ChartType';
                        var measureName = '';
                        var childchartid = 0;
                        measureName = $(this).parent().parent().find('.border-r:nth-child(' + measureIndex + ')').html();
                        var cellid = $(this).attr('cellids');
                        var headerDimensionValue = $('#ReportTable' + '@Model.Id').find('.xhdr').find('table').find('tr:eq(1)').find("td:eq(" + $(this).index() + ")").find('.hdrcell').html();
                        if ($(this).index() != 0) {
                            if (dimensionValueCount != 0) {
                                ViewAllDrilDownData(id, displayName, dimensionValueName, dimensionValueCount, dimensionActualValueCount, headerDimensionValue, dashboardContentId, dashboardId, measureName, childchartid, '@Model.CustomQuery', HelpTextId,IsSortByValue,SortOrder, ChartType);
                            }
                            else {
                                $(this).css('cursor', 'default');
                            }
                        }
                        if ($(this).attr('class', 'cellselected')) {
                            $(this).css('cursor', 'default');
                        }
                    });
                },
                error: function (err) {
                    $("#divChart" + '@Model.Id').html("@RevenuePlanner.Helpers.Common.objCached.ErrorInWebApi");
                }
            });
            function ViewAllDrilDownData(id, displayName, dimensionValueName, dimensionValueCount, dimensionActualValueCount, headerDimensionValue, dashboardContentId, dashboardId, measureName, childchartid, CustomQuery, HelpTextId,IsSortByValue, SortOrder, ChartType) {
                measureName = '';
                $("#div_ViewAllReport").empty();
                var url = '@Url.Content("~/MeasureDashboard/LoadDrillDownData/")';
                $("#div_ViewAllReport").load(url, {
                    @*@Enums.ApplicationCode.RPC.ToString() - is used because if we want to use this method for any other application then we can use it directly *@
                    DbName: '@Enums.ApplicationCode.RPC.ToString()', Id: id, DisplayName: displayName, DimensionValueName: dimensionValueName, DimensionValueCount: dimensionValueCount,
                    DimensionActualValueCount: dimensionActualValueCount, HeaderDimensionValue: headerDimensionValue,
                    DashboardContentId: dashboardContentId, DashboardId: dashboardId, MeasureName: measureName,
                    childchartid: childchartid, CustomQuery: CustomQuery, HelpTextId: HelpTextId, IsSortByValue: IsSortByValue, SortOrder: SortOrder, ChartType: ChartType
                });
            }

        });
    });
</script>
