@model IEnumerable<RevenuePlanner.Models.BoostImprovementTacticModel>
@using RevenuePlanner.Helpers

<script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>

@{
    ViewBag.Title = "Improvement Tactics";
    ViewBag.ActiveMenu = RevenuePlanner.Helpers.Enums.ActiveMenu.Boost;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PageTitle = "Index";
}
@section Sidebar {
     @Html.Partial("~/Views/Boost/_boost.cshtml")
}

<div id="successMessage" class="alert hide alert-success message-position">
    <a class="close">×</a>
    <div id="cSuccess">@Html.Raw(HttpUtility.HtmlDecode((string)TempData["SuccessMessage"]))</div>
</div>
<div id="errorMessage" class="alert alert-error hide message-position">
    <a class="close">×</a>
    <div id="cError">@Html.Raw(HttpUtility.HtmlDecode((string)TempData["ErrorMessage"]))</div>
</div>
<!--error message-->
<div class="title-header source-sans-proregular">
    <h2 class="title-header">Improvement Tactics</h2>
</div>@* #2312 *@ 
<ul class="nav nav-tabs">
    @*<li class="source-sans-proregular">
        <h2 class="title-header">Improvement Tactics</h2>
    </li>*@ @* #2312 *@ 
</ul>
<div class="padding-content padding-top0 cf source-sans-proregular">

    <table id="table_boost" class="table table-striped table-hover boost-table">
        <thead>
            <tr>
                <th class="border-r width340">Tactic Type</th>
                <th class="border-r width452">Improvement Target</th>
                <th class="border-r width65px">Cost</th>
                <th class="border-r width65px">Active</th>
                <th class="width65px" style="text-align:center;">Deploy to Integration</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    @if ((bool)ViewBag.IsBoostImprovementTacticCreateEditAuthorized)   // Added by Sohel Pathan on 19/06/2014 for PL ticket #519 to implement user permission Logic
    {
        <button id="create_new_tactic" class="btn btn-blue btn-large text-shadow-blue source-sans-proregular pull-left font-size14" type="button">Create New Tactic</button>
    }
</div>

<div style="clear:both;"></div>
  <div class="container-fluid all-height" id="modalMainContainer">
    <div class="row-fluid calc-height">
        <div class="container-fluid">
            <div class="row-fluid ">
                <div class="span12">
                    <div id="modal-container-186470" class="modal-inspect-review hide fade modal-full-view modal-inspect-TacticType-height" role="dialog" aria-labelledby="myModalLabel" aria- hidden="true" style="display: none;position:fixed;">
                        <div  class="partial_wrapper"> 
                            <div id="divPartial" class="partial_wrapper">
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="divBackground" class="modal-backdrop fade in" style="display: none;z-index:2502 !important;" ></div>
<!--End sidebar-->

<script type="text/javascript">
    var improvementTactics = null;
    $(document).ready(function () {
        LoadTactics();
        if ($('#cError').html() != '') {
            alert($('#cError').html());
            $("#errorMessage").slideDown(1200);
        }
        if ($('#cSuccess').html() != '') {
            $('#cSuccess').html('<strong>Success.</strong> ' + $('#cSuccess').html())
            $("#successMessage").slideDown(1200);
        }
        $("#content_wraper").removeClass("span10 all-height").addClass("span10 padding-top40");
    });

    function LoadTactics() {
        $.ajax({
            type: 'get',
            url: '@Url.Content("~/Boost/ImprovementTacticList")',
            dataType: "json",
            success: function (r) {
                improvementTactics = r;
                fillTacticsTable();
                myApp.hidePleaseWait();
            }
        });
    }

    //added by uday for internal point 2-7-2014
    function AssignDefaultValue() {
        $('#slidepanel-container').find("input[type=text],textarea,select").each(function () {
            $(this).attr("title", $(this).val());
        });
    }

    $("#create_new_tactic").click(function () {
        removeDefaultModalPopupBackgroungColor();
        $('#divPartial').empty();
        $('body').removeClass('bodyOverflow');
        var url = '@Url.Content("~/Boost/DetailImprovementTacticData")';
        var id = 0;
        $('#divPartial').load(url + '?id=' + id);
        $('.modal-backdrop').addClass('modalFull-backdrop');
        $('.modal-backdrop').attr("style", "display:none !important;");
        $("#modal-container-186470").modal('show');
        
    });

    $(document).on('dblclick', '#table_boost tbody tr', function (e) {
        var id = $(this).attr("id");
        if (typeof id != "undefined") {
            removeDefaultModalPopupBackgroungColor();
            $('#divPartial').empty();
            var url = '@Url.Content("~/Boost/DetailImprovementTacticData")';
            $('#divPartial').load(url + '?id=' + id, AssignDefaultValue);
            $('.modal-backdrop').addClass('modalFull-backdrop');
            $('.modal-backdrop').attr("style", "display:none !important;");
            $("#modal-container-186470").modal('show');

        }
    });

    $("#modal-container-186470").on("show", function (e) {
        $("#modal-container-186470").addClass("transition_y");
        setTimeout(addBodyOverflowClass, 500)
        $("#modalMainContainer").show();
    });

    function addBodyOverflowClass() {
        //$('.modal-backdrop').attr("style", "display:none !important;");
        $('body').addClass('bodyOverflow');
    }

    function CloseIconClick() {
        $('.close-x-big-icon').click(function () {
            addDefaultModalPopupBackgroungColor();
            $("#modal-container-186470").addClass("transition-close");
            $("#modal-container-186470").removeClass("transition_y");
            $('body').removeClass('bodyOverflow');
        });
    }

    $(document).on('click', '#table_boost tbody tr td span.circle-check-icon-gray-integration', function (e) {
        e.stopPropagation();
        e.preventDefault();

        var impTacticTypeId = this.id.split('_')[1];

        if ($(this).hasClass('circle-check-icon-integration-blue')) {
            $(this).removeClass('circle-check-icon-integration-blue');
            SaveDeployedToIntegrationStatus(impTacticTypeId, false);
        }
        else {
            $(this).addClass('circle-check-icon-integration-blue');
            SaveDeployedToIntegrationStatus(impTacticTypeId, true);
        }

    });

    $(document).on('click', '#table_boost tbody tr td span.circle-check-icon-gray', function (e) {
        e.stopPropagation();
        e.preventDefault();

        var impTacticTypeId = this.id.split('_')[1];

        if ($(this).hasClass('circle-check-icon-blue')) {
            $(this).removeClass('circle-check-icon-blue');
            SaveDeployeStatus(impTacticTypeId, false);
        }
        else {
            $(this).addClass('circle-check-icon-blue');
            SaveDeployeStatus(impTacticTypeId, true);
        }

    });

    function SaveDeployedToIntegrationStatus(ImpTacticTypeId, flag) {
        var uId = $(window).attr('name');
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/Boost/SaveDeployedToIntegrationStatus/")',
            data: {
                id: ImpTacticTypeId,
                isDeployedToIntegration: flag,
                UserId: uId
            },
            dataType: "json",
            success: function (r) {
                if (r.returnURL != 'undefined' && r.returnURL == '#') {
                    window.location = '@Url.Content("~/Login/Index")';
                }
                else {
                    if (r.returnValue) {

                        $('#successMessage').css("display", "block");
                        $('#cSuccess').html('<strong>Success.</strong> ' + r.message)
                        $("#successMessage").slideDown(1200); // Show the Alert
                        $('#errorMessage').css("display", "none");

                    }
                    else {
                        $('#errorMessage').css("display", "block");
                        $('#cError').html('<strong>Error!</strong> ' + r.message)
                        $("#errorMessage").slideDown(1200); // Show the Alert
                        $('#successMessage').css("display", "none");
                    }
                }
                myApp.hidePleaseWait();
            }
        });

    }

    function SaveDeployeStatus(ImpTacticTypeId, flag) {
        var uId = $(window).attr('name');
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/Boost/SaveDeployeStatus/")',
            data: {
                id: ImpTacticTypeId,
                isDeployed: flag,
                UserId: uId
            },
            dataType: "json",
            success: function (r) {
                if (r.returnURL != 'undefined' && r.returnURL == '#') {
                    window.location = '@Url.Content("~/Login/Index")';
                }
                else {
                    if (r.returnValue) {

                        $('#successMessage').css("display", "block");
                        $('#cSuccess').html('<strong>Success.</strong> ' + r.message)
                        $("#successMessage").slideDown(1200); // Show the Alert
                        $('#errorMessage').css("display", "none");

                    }
                    else {
                        $('#errorMessage').css("display", "block");
                        $('#cError').html('<strong>Error!</strong> ' + r.message)
                        $("#errorMessage").slideDown(1200); // Show the Alert
                        $('#successMessage').css("display", "none");
                    }
                }
                myApp.hidePleaseWait();
            }
        });

    }


    //fill tactics table with data from json
    function fillTacticsTable() {
        if (improvementTactics != 'undefined') {
            if (improvementTactics.length) {
                for (i in improvementTactics) {
                    addRowTactic(i, improvementTactics[i].Id, improvementTactics[i].Title, improvementTactics[i].Cost, improvementTactics[i].TargetStage, improvementTactics[i].IsDeployed, improvementTactics[i].IsDeployedToIntegration);
                }
            } else {
                $('#table_boost > tbody').append('<tr><td colspan="8" class="gray">No saved improvement tactics to display.</td></tr>');
            }
        }
        //Fetch all the row values from the tables
        $('.FormaterBoostCost').each(function () {
            //Added By : Kalpesh Sharma
            //PL #508 Set format for label in tool tip
            SetBudget($(this), 9);
        });

    }
    //add row in tactics table
    function addRowTactic(_index, _id, _Title, _Cost, _TargetStage, _IsDeployed, _IsDeployedToIntegration) {
        var $table_boost = $('#table_boost > tbody');
        var $html = "";
        $html += '<tr data-slidepanel="panel" id="' + _id + '" data-index="' + _index + '">' +
                  '<td class="border-r">' + _Title + '</td>';
        $html += '<td class="border-r">';
        if (typeof _TargetStage != 'undefined') {
            if (_TargetStage.length > 0) {
                for (i in _TargetStage) {

                    if ((_TargetStage[i].Active) == true) {
                        $html += '<span class="improve-trget active" title="' + _TargetStage[i].Stages + '">' + _TargetStage[i].Stages + '</span>';
                    }
                    else {
                        $html += '<span class="improve-trget" title="' + _TargetStage[i].Stages + '">' + _TargetStage[i].Stages + '</span>';
                    }
                }
            }
        }
        else {
            $html += '<span class="improve-trget">SUS</span>';
            $html += '<span class="improve-trget">INQ</span>';
            $html += '<span class="improve-trget">AQL</span>';
            $html += '<span class="improve-trget">TAL</span>';
            $html += '<span class="improve-trget">TQL</span>';
            $html += '<span class="improve-trget">SAL</span>';
            $html += '<span class="improve-trget">SQL</span>';
            $html += '<span class="improve-trget">ADS</span>';
        }
        $html += '</td>';
        $html += ' <td class="border-r tipsyclass FormaterBoostCost">$' + FormatCommas(_Cost.toString(), false) + '</td>';
        if (_IsDeployed != true) {
            $html += '<td class="border-r"><span class="circle-check-icon-gray" id="spnStatus_' + _id + '"></span></td>';
        }
        else {
            $html += '<td class="border-r"><span class="circle-check-icon-gray circle-check-icon-blue" id="spnStatus_' + _id + '"></span></td>';
        }

        if (_IsDeployedToIntegration != true) {
            $html += '<td><span class="circle-check-icon-gray-integration" id="spn_' + _id + '"></span></td>';
        }
        else {
            $html += '<td><span class="circle-check-icon-gray-integration circle-check-icon-integration-blue" id="spn_' + _id + '"></span></td>';
        }

        $html += '</tr>';
        $table_boost.append($html);
    }

</script>

